Repository DaoCloud/DaoCloud-docs, changes with the owners that .github/CODEOWNERS names for each.
All owners: @windsonsea, @samzong, @jzhupup, @zengchongliner, @git-jxj, @Rei1010, @kebe7jun, @yitingdc, @lemontrees123, @bzsuni, @justedennnnn, @Penguin-zlh, @tukwila, @FKAJerry, @yt-huang, @zhiyingfang2022, @FloatXD, @shijinye, @Adityayxt, @Cynthia-yun, @wilsonwu, @ty-dc, @fangbin9527, @drivebyer

.github/CODEOWNERS:

# DaoCloud-Docs Code Owners

## <https://help.github.com/articles/about-codeowners/>

# General
*.md @windsonsea
/docs/en/docs/ @windsonsea
/docs/zh/docs/blogs/ @windsonsea
/docs/zh/docs/community/ @windsonsea
/docs/zh/docs/native/ @windsonsea
/docs/zh/docs/dce/ @windsonsea @samzong

# code
*.py @samzong @windsonsea
*.yaml @samzong @windsonsea
*.yml @samzong @windsonsea
*.json @samzong @windsonsea
/scripts/ @samzong @windsonsea
/.github/ @samzong @windsonsea
/docs/zh/themes/ @samzong @windsonsea
/docs/en/themes/ @samzong @windsonsea

# amamba
/docs/zh/docs/amamba/ @jzhupup @zengchongliner @windsonsea
/docs/zh/docs/download/modules/amamba.md @jzhupup @zengchongliner @windsonsea
/docs/zh/docs/videos/amamba.md @jzhupup @zengchongliner @windsonsea

# baize
/docs/zh/docs/baize/ @samzong @git-jxj @Rei1010 @windsonsea @kebe7jun
/docs/zh/docs/download/modules/baize.md @samzong @git-jxj @Rei1010 @windsonsea @kebe7jun
/docs/zh/docs/videos/baize.md @samzong @git-jxj @Rei1010 @windsonsea @kebe7jun

# ghippo
/docs/zh/docs/ghippo/ @yitingdc @lemontrees123 @bzsuni @windsonsea
/docs/zh/docs/download/modules/ghippo.md @yitingdc @lemontrees123 @bzsuni @windsonsea
/docs/zh/docs/videos/ghippo.md @yitingdc @lemontrees123 @bzsuni @windsonsea

# insight
/docs/zh/docs/insight/ @justedennnnn @Penguin-zlh @tukwila @samzong @windsonsea @FKAJerry
/docs/zh/docs/download/modules/insight.md @justedennnnn @Penguin-zlh @tukwila @samzong @windsonsea @FKAJerry
/docs/zh/docs/videos/insight.md @justedennnnn @Penguin-zlh @tukwila @samzong @windsonsea @FKAJerry

# kairship
/docs/zh/docs/kairship/  @yt-huang @samzong @windsonsea
/docs/zh/docs/download/modules/kairship.md  @yt-huang @samzong @windsonsea
/docs/zh/docs/videos/kairship.md  @yt-huang @samzong @windsonsea

# kangaroo
/docs/zh/docs/kangaroo/ @lemontrees123 @yt-huang @yitingdc @windsonsea
/docs/zh/docs/download/modules/kangaroo.md @lemontrees123 @yt-huang @yitingdc @windsonsea
/docs/zh/docs/videos/kangaroo.md @lemontrees123 @yt-huang @yitingdc @windsonsea

# kant
/docs/zh/docs/kant/ @zhiyingfang2022 @git-jxj @windsonsea
/docs/zh/docs/download/modules/kant.md @zhiyingfang2022 @git-jxj @windsonsea
/docs/zh/docs/videos/kant.md @zhiyingfang2022 @git-jxj @windsonsea

# install
/docs/zh/docs/install/ @jzhupup @FloatXD @Rei1010 @windsonsea
/docs/zh/docs/videos/install.md @jzhupup @FloatXD @Rei1010 @windsonsea

# kpanda
/docs/zh/docs/kpanda/ @lemontrees123 @shijinye @Rei1010 @yt-huang @windsonsea
/docs/zh/docs/download/modules/kpanda.md @lemontrees123 @shijinye @Rei1010 @yt-huang @windsonsea
/docs/zh/docs/download/modules/addon/ @lemontrees123 @shijinye @Rei1010 @yt-huang @windsonsea
/docs/zh/docs/videos/kpanda.md @lemontrees123 @shijinye @Rei1010 @yt-huang @windsonsea

# mspider
/docs/zh/docs/mspider/ @Adityayxt @samzong @Cynthia-yun @windsonsea @kebe7jun
/docs/zh/docs/download/modules/mspider.md @Adityayxt @samzong @Cynthia-yun @windsonsea @kebe7jun
/docs/zh/docs/videos/mspider.md @Adityayxt @samzong @Cynthia-yun @windsonsea @kebe7jun

# skoala
/docs/zh/docs/skoala/ @Adityayxt @samzong @tukwila @Cynthia-yun @windsonsea @wilsonwu
/docs/zh/docs/download/modules/skoala.md @Adityayxt @tukwila @Cynthia-yun @windsonsea @wilsonwu
/docs/zh/docs/videos/skoala.md @Adityayxt @samzong @tukwila @Cynthia-yun @windsonsea @wilsonwu

# spidernet
/docs/zh/docs/network/ @ty-dc @windsonsea
/docs/zh/docs/download/modules/spidernet.md @ty-dc @windsonsea
/docs/zh/docs/videos/spidernet.md @ty-dc @windsonsea

# virtnest
/docs/zh/docs/virtnest/  @bzsuni @windsonsea @yitingdc
/docs/zh/docs/download/modules/virtnest.md  @bzsuni @windsonsea @yitingdc
/docs/zh/docs/videos/virtnest.md  @bzsuni @windsonsea @yitingdc

# middleware
/docs/zh/docs/middleware/ @justedennnnn @fangbin9527 @samzong @windsonsea @drivebyer
/docs/zh/docs/download/modules/middleware/ @justedennnnn @fangbin9527 @samzong @windsonsea @drivebyer
/docs/zh/docs/videos/middleware.md @justedennnnn @fangbin9527 @samzong @windsonsea @drivebyer

# hwameistor
/docs/zh/docs/storage/ @jzhupup @FloatXD @windsonsea
/docs/zh/docs/download/modules/hwameistor.md @jzhupup @FloatXD @windsonsea

update docs/zh/docs/virtnest/vm/cross-cluster-migrate.md (#6086)
  docs/zh/docs/virtnest/vm/cross-cluster-migrate.md
Owners: @bzsuni, @windsonsea, @yitingdc

update cross-cluster-migrate.md
  docs/en/docs/virtnest/vm/cross-cluster-migrate.md
  docs/zh/docs/virtnest/vm/cross-cluster-migrate.md
Owners: @windsonsea, @bzsuni, @yitingdc

[en] Add kant/intro/faq.md
  docs/en/docs/kant/intro/faq.md
  docs/en/navigation.yml
  docs/zh/docs/kant/intro/faq.md
Owners: @windsonsea, @samzong, @zhiyingfang2022, @git-jxj

update cross-cluster-migrate.md (#6087)
  docs/en/docs/virtnest/vm/cross-cluster-migrate.md
  docs/zh/docs/virtnest/vm/cross-cluster-migrate.md
Owners: @windsonsea, @bzsuni, @yitingdc

[en] Add kant/intro/faq.md (#6088)
  docs/en/docs/kant/intro/faq.md
  docs/en/navigation.yml
  docs/zh/docs/kant/intro/faq.md
Owners: @windsonsea, @samzong, @zhiyingfang2022, @git-jxj

update releasenote to 0.43.4
  docs/zh/docs/skoala/intro/release-notes.md
Owners: @Adityayxt, @samzong, @tukwila, @Cynthia-yun, @windsonsea, @wilsonwu

Update release-notes.md
  docs/zh/docs/skoala/intro/release-notes.md
Owners: @Adityayxt, @samzong, @tukwila, @Cynthia-yun, @windsonsea, @wilsonwu

update releasenote to 0.43.4 (#6090)
  docs/zh/docs/skoala/intro/release-notes.md
Owners: @Adityayxt, @samzong, @tukwila, @Cynthia-yun, @windsonsea, @wilsonwu

update middleware components in january
  docs/en/docs/download/index.md
  docs/en/docs/download/modules/middleware/mysql.md
  docs/en/docs/download/modules/middleware/redis.md
  docs/zh/docs/download/index.md
  docs/zh/docs/download/modules/middleware/mysql.md
  docs/zh/docs/download/modules/middleware/redis.md
Owners: @windsonsea, @justedennnnn, @fangbin9527, @samzong, @drivebyer

update middleware components in january (#6091)
  docs/en/docs/download/index.md
  docs/en/docs/download/modules/middleware/mysql.md
  docs/en/docs/download/modules/middleware/redis.md
  docs/zh/docs/download/index.md
  docs/zh/docs/download/modules/middleware/mysql.md
  docs/zh/docs/download/modules/middleware/redis.md
Owners: @windsonsea, @justedennnnn, @fangbin9527, @samzong, @drivebyer

download: mspider version updated to v0.33.0
  docs/zh/docs/download/modules/mspider.md
Owners: @Adityayxt, @samzong, @Cynthia-yun, @windsonsea, @kebe7jun

update kpanda releasenote
  docs/zh/docs/kpanda/intro/release-notes.md
Owners: @lemontrees123, @shijinye, @Rei1010, @yt-huang, @windsonsea

Update mspider.md
  docs/zh/docs/download/modules/mspider.md
Owners: @Adityayxt, @samzong, @Cynthia-yun, @windsonsea, @kebe7jun

Update release-notes.md
  docs/zh/docs/kpanda/intro/release-notes.md
Owners: @lemontrees123, @shijinye, @Rei1010, @yt-huang, @windsonsea

download: mspider version updated to v0.33.0 (#6093)
  docs/zh/docs/download/modules/mspider.md
Owners: @Adityayxt, @samzong, @Cynthia-yun, @windsonsea, @kebe7jun

update kpanda releasenote (#6095)
  docs/zh/docs/kpanda/intro/release-notes.md
Owners: @lemontrees123, @shijinye, @Rei1010, @yt-huang, @windsonsea

[en] update skoala/intro/release-notes.md
  docs/en/docs/skoala/intro/release-notes.md
  docs/zh/docs/skoala/intro/release-notes.md
Owners: @windsonsea, @Adityayxt, @samzong, @tukwila, @Cynthia-yun, @wilsonwu

[en] update download pages
  docs/en/docs/download/index.md
  docs/en/docs/download/modules/mspider.md
  docs/en/docs/download/modules/skoala.md
  docs/zh/docs/download/index.md
Owners: @windsonsea

[en] update skoala/intro/release-notes.md (#6096)
  docs/en/docs/skoala/intro/release-notes.md
  docs/zh/docs/skoala/intro/release-notes.md
Owners: @windsonsea, @Adityayxt, @samzong, @tukwila, @Cynthia-yun, @wilsonwu

[en] update download pages (#6097)
  docs/en/docs/download/index.md
  docs/en/docs/download/modules/mspider.md
  docs/en/docs/download/modules/skoala.md
  docs/zh/docs/download/index.md
Owners: @windsonsea

add a blog: 2024 open-source report
  docs/zh/docs/blogs/2025/open-source-report.md
  docs/zh/docs/blogs/index.md
  docs/zh/navigation.yml
Owners: @windsonsea, @samzong

add a blog: 2024 open-source report (#6102)
  docs/zh/docs/blogs/2025/open-source-report.md
  docs/zh/docs/blogs/index.md
  docs/zh/navigation.yml
Owners: @windsonsea, @samzong

add more text to new blog
  docs/zh/docs/blogs/2025/open-source-report.md
Owners: @windsonsea

add more text to new blog (#6103)
  docs/zh/docs/blogs/2025/open-source-report.md
Owners: @windsonsea

bump mysql to 0.25.1
  docs/en/docs/download/index.md
  docs/en/docs/download/modules/middleware/mysql.md
  docs/zh/docs/download/index.md
  docs/zh/docs/download/modules/middleware/mysql.md
Owners: @windsonsea, @justedennnnn, @fangbin9527, @samzong, @drivebyer

bump mysql to 0.25.1 (#6105)
  docs/en/docs/download/index.md
  docs/en/docs/download/modules/middleware/mysql.md
  docs/zh/docs/download/index.md
  docs/zh/docs/download/modules/middleware/mysql.md
Owners: @windsonsea, @justedennnnn, @fangbin9527, @samzong, @drivebyer

add index and anchors
  docs/zh/docs/blogs/2025/open-source-report.md
Owners: @windsonsea

roadmap: update amamba
  docs/zh/docs/amamba/intro/release-notes.md
Owners: @jzhupup, @zengchongliner, @windsonsea

add index and anchors (#6106)
  docs/zh/docs/blogs/2025/open-source-report.md
Owners: @windsonsea

roadmap: update amamba (#6107)
  docs/zh/docs/amamba/intro/release-notes.md
Owners: @jzhupup, @zengchongliner, @windsonsea

update ui screen to fix #6099
  docs/en/docs/ghippo/images/fd03.png
  docs/en/docs/ghippo/user-guide/workspace/folders.md
  docs/zh/docs/ghippo/images/fd03.png
  docs/zh/docs/ghippo/user-guide/workspace/folders.md
Owners: @windsonsea, @yitingdc, @lemontrees123, @bzsuni

update ui screen to fix #6099 (#6108)
  docs/en/docs/ghippo/images/fd03.png
  docs/en/docs/ghippo/user-guide/workspace/folders.md
  docs/zh/docs/ghippo/images/fd03.png
  docs/zh/docs/ghippo/user-guide/workspace/folders.md
Owners: @windsonsea, @yitingdc, @lemontrees123, @bzsuni
