Repository DaoCloud/DaoCloud-docs, changes with the owners that .github/CODEOWNERS names for each.
All owners: @windsonsea, @samzong, @jzhupup, @zengchongliner, @git-jxj, @Rei1010, @kebe7jun, @yitingdc, @lemontrees123, @bzsuni, @justedennnnn, @Penguin-zlh, @tukwila, @FKAJerry, @yt-huang, @zhiyingfang2022, @FloatXD, @shijinye, @Adityayxt, @Cynthia-yun, @wilsonwu, @ty-dc, @fangbin9527, @drivebyer

Update manual-switch-role.md
  docs/zh/docs/middleware/mysql/user-guide/manual-switch-role.md
Owners: @justedennnnn, @fangbin9527, @samzong, @windsonsea, @drivebyer

Update backup-and-restore.md
  docs/zh/docs/middleware/redis/user-guide/backup-and-restore.md
Owners: @justedennnnn, @fangbin9527, @samzong, @windsonsea, @drivebyer

Update manual-switch-role.md
  docs/zh/docs/middleware/redis/user-guide/manual-switch-role.md
Owners: @justedennnnn, @fangbin9527, @samzong, @windsonsea, @drivebyer

Update navigation.yml
  docs/zh/navigation.yml
Owners: @samzong, @windsonsea

update cc apiversion (#6059)
  docs/zh/docs/install/best-practices/all-in-one-machine.md
  docs/zh/docs/install/best-practices/extend-params.md
  docs/zh/docs/install/best-practices/thinder-ha.md
  docs/zh/docs/install/commercial/external/external-binary.md
  docs/zh/docs/install/commercial/external/external-imageandchart.md
  docs/zh/docs/install/commercial/external/external-middlewares.md
  docs/zh/docs/install/commercial/external/external-os.md
  docs/zh/docs/install/community/k8s/offline.md
  docs/zh/docs/install/community/k8s/online.md
  docs/zh/docs/install/k8s-install/ecs-install-dce5.0.md
  docs/zh/docs/install/k8s-install/ocp-install-dce5.0.md
  docs/zh/docs/install/upgrade.md
Owners: @jzhupup, @FloatXD, @Rei1010, @windsonsea

update how to manually switch node role of mysql and redis, add redis… (#5861)
  docs/zh/docs/middleware/mysql/images/change-role.png
  docs/zh/docs/middleware/mysql/user-guide/manual-switch-role.md
  docs/zh/docs/middleware/redis/images/backup-restore-1.png
  docs/zh/docs/middleware/redis/images/backup-restore-2.png
  docs/zh/docs/middleware/redis/images/backup-restore-3.png
  docs/zh/docs/middleware/redis/images/backup-restore-4.png
  docs/zh/docs/middleware/redis/images/backup-restore-5.png
  docs/zh/docs/middleware/redis/images/backup-restore.png
  docs/zh/docs/middleware/redis/images/switch-role-1.png
  docs/zh/docs/middleware/redis/images/switch-role-2.png
  docs/zh/docs/middleware/redis/images/switch-role-3.png
  docs/zh/docs/middleware/redis/images/switch-role.png
  docs/zh/docs/middleware/redis/user-guide/backup-and-restore.md
  docs/zh/docs/middleware/redis/user-guide/manual-switch-role.md
  docs/zh/navigation.yml
Owners: @justedennnnn, @fangbin9527, @samzong, @windsonsea, @drivebyer

Add cncf kubecon news
  docs/zh/docs/native/news/news-2025.md
  docs/zh/navigation.yml
Owners: @windsonsea, @samzong

Add cncf kubecon news (#6061)
  docs/zh/docs/native/news/news-2025.md
  docs/zh/navigation.yml
Owners: @windsonsea, @samzong

Add a blog: daocloud becomes a member of committee-security-response
  docs/zh/docs/blogs/241219-sec-privacy.md
  docs/zh/docs/blogs/images/sec01.png
  docs/zh/docs/blogs/images/sec02.png
  docs/zh/docs/blogs/images/sec03.png
  docs/zh/docs/blogs/index.md
  docs/zh/navigation.yml
Owners: @windsonsea, @samzong

Add a blog: daocloud becomes a member of committee-security-response (#6063)
  docs/zh/docs/blogs/241219-sec-privacy.md
  docs/zh/docs/blogs/images/sec01.png
  docs/zh/docs/blogs/images/sec02.png
  docs/zh/docs/blogs/images/sec03.png
  docs/zh/docs/blogs/index.md
  docs/zh/navigation.yml
Owners: @windsonsea, @samzong

fix a link and remove toc
  docs/zh/docs/blogs/241219-sec-privacy.md
Owners: @windsonsea

fix a link and remove toc (#6064)
  docs/zh/docs/blogs/241219-sec-privacy.md
Owners: @windsonsea

update kant release note
  docs/zh/docs/kant/intro/release-notes.md
Owners: @zhiyingfang2022, @git-jxj, @windsonsea

update a link to kubecon hk
  docs/zh/docs/native/news/news-2025.md
Owners: @windsonsea

Update release-notes.md
  docs/zh/docs/kant/intro/release-notes.md
Owners: @zhiyingfang2022, @git-jxj, @windsonsea

update a link to kubecon hk (#6077)
  docs/zh/docs/native/news/news-2025.md
Owners: @windsonsea

update kant release note (#6076)
  docs/zh/docs/kant/intro/release-notes.md
Owners: @zhiyingfang2022, @git-jxj, @windsonsea

download: skoala version updated to v0.43.4
  docs/zh/docs/download/modules/skoala.md
Owners: @Adityayxt, @tukwila, @Cynthia-yun, @windsonsea, @wilsonwu

Update skoala.md
  docs/zh/docs/download/modules/skoala.md
Owners: @Adityayxt, @tukwila, @Cynthia-yun, @windsonsea, @wilsonwu

download: skoala version updated to v0.43.4 (#6078)
  docs/zh/docs/download/modules/skoala.md
Owners: @Adityayxt, @tukwila, @Cynthia-yun, @windsonsea, @wilsonwu

add debug & upgrade docs for metallb
  docs/zh/docs/network/images/metallb-ipaddresspool.png
  docs/zh/docs/network/images/metallb_helm_wait.png
  docs/zh/docs/network/images/metallb_l2avertisement.png
  docs/zh/docs/network/modules/metallb/debug.md
  docs/zh/docs/network/modules/metallb/install.md
Owners: @ty-dc, @windsonsea

Update docs/zh/docs/network/modules/metallb/debug.md
  docs/zh/docs/network/modules/metallb/debug.md
Owners: @ty-dc, @windsonsea

update aliyun sms configuration
  docs/zh/docs/insight/user-guide/alert-center/sms-provider.md
Owners: @justedennnnn, @Penguin-zlh, @tukwila, @samzong, @windsonsea, @FKAJerry

add debug & upgrade docs for metallb (#6079)
  docs/zh/docs/network/images/metallb-ipaddresspool.png
  docs/zh/docs/network/images/metallb_helm_wait.png
  docs/zh/docs/network/images/metallb_l2avertisement.png
  docs/zh/docs/network/modules/metallb/debug.md
  docs/zh/docs/network/modules/metallb/install.md
Owners: @ty-dc, @windsonsea

Update sms-provider.md
  docs/zh/docs/insight/user-guide/alert-center/sms-provider.md
Owners: @justedennnnn, @Penguin-zlh, @tukwila, @samzong, @windsonsea, @FKAJerry

Update sms-provider.md
  docs/zh/docs/insight/user-guide/alert-center/sms-provider.md
Owners: @justedennnnn, @Penguin-zlh, @tukwila, @samzong, @windsonsea, @FKAJerry

Update sms-provider.md
  docs/zh/docs/insight/user-guide/alert-center/sms-provider.md
Owners: @justedennnnn, @Penguin-zlh, @tukwila, @samzong, @windsonsea, @FKAJerry

update aliyun sms configuration (#6080)
  docs/zh/docs/insight/user-guide/alert-center/sms-provider.md
Owners: @justedennnnn, @Penguin-zlh, @tukwila, @samzong, @windsonsea, @FKAJerry

Docs about how to access grafana ui
  docs/en/docs/insight/user-guide/dashboard/login-grafana.md
  docs/en/navigation.yml
  docs/zh/docs/insight/user-guide/dashboard/dashboard.md
Owners: @windsonsea, @samzong, @justedennnnn, @Penguin-zlh, @tukwila, @FKAJerry

Download: kant version updated to 0.18.0
  docs/en/docs/download/modules/kant.md
  docs/zh/docs/download/modules/kant.md
Owners: @windsonsea, @zhiyingfang2022, @git-jxj

Docs about how to access grafana ui (#6081)
  docs/en/docs/insight/user-guide/dashboard/login-grafana.md
  docs/en/navigation.yml
  docs/zh/docs/insight/user-guide/dashboard/dashboard.md
Owners: @windsonsea, @samzong, @justedennnnn, @Penguin-zlh, @tukwila, @FKAJerry

Download: kant version updated to 0.18.0 (#6082)
  docs/en/docs/download/modules/kant.md
  docs/zh/docs/download/modules/kant.md
Owners: @windsonsea, @zhiyingfang2022, @git-jxj

new docs: vm resources plan
  docs/en/docs/insight/best-practice/vm-resource-plan.md
  docs/zh/navigation.yml
Owners: @windsonsea, @samzong

new docs: vm resources plan (#6083)
  docs/en/docs/insight/best-practice/vm-resource-plan.md
  docs/zh/navigation.yml
Owners: @windsonsea, @samzong

Add a faq: windows vm cannot recognize disk
  docs/zh/docs/dce/faq.md
  docs/zh/docs/virtnest/faq/cannot-use.md
  docs/zh/docs/virtnest/faq/images/recog01.png
  docs/zh/docs/virtnest/faq/images/recog02.png
  docs/zh/docs/virtnest/faq/images/recog03.png
  docs/zh/docs/virtnest/faq/index.md
  docs/zh/docs/virtnest/faq/recog-disk.md
  docs/zh/navigation.yml
Owners: @windsonsea, @samzong, @bzsuni, @yitingdc

Add a faq: windows vm cannot recognize disk (#6084)
  docs/zh/docs/dce/faq.md
  docs/zh/docs/virtnest/faq/cannot-use.md
  docs/zh/docs/virtnest/faq/images/recog01.png
  docs/zh/docs/virtnest/faq/images/recog02.png
  docs/zh/docs/virtnest/faq/images/recog03.png
  docs/zh/docs/virtnest/faq/index.md
  docs/zh/docs/virtnest/faq/recog-disk.md
  docs/zh/navigation.yml
Owners: @windsonsea, @samzong, @bzsuni, @yitingdc

kant add faq
  docs/zh/docs/kant/intro/faq.md
  docs/zh/navigation.yml
Owners: @zhiyingfang2022, @git-jxj, @windsonsea, @samzong

update docs/zh/docs/virtnest/vm/cross-cluster-migrate.md
  docs/zh/docs/virtnest/vm/cross-cluster-migrate.md
Owners: @bzsuni, @windsonsea, @yitingdc

Update faq.md
  docs/zh/docs/kant/intro/faq.md
Owners: @zhiyingfang2022, @git-jxj, @windsonsea

kant add faq (#6085)
  docs/zh/docs/kant/intro/faq.md
  docs/zh/navigation.yml
Owners: @zhiyingfang2022, @git-jxj, @windsonsea, @samzong

.github/CODEOWNERS:

# DaoCloud-Docs Code Owners

## <https://help.github.com/articles/about-codeowners/>

# General
*.md @windsonsea
/docs/en/docs/ @windsonsea
/docs/zh/docs/blogs/ @windsonsea
/docs/zh/docs/community/ @windsonsea
/docs/zh/docs/native/ @windsonsea
/docs/zh/docs/dce/ @windsonsea @samzong

# code
*.py @samzong @windsonsea
*.yaml @samzong @windsonsea
*.yml @samzong @windsonsea
*.json @samzong @windsonsea
/scripts/ @samzong @windsonsea
/.github/ @samzong @windsonsea
/docs/zh/themes/ @samzong @windsonsea
/docs/en/themes/ @samzong @windsonsea

# amamba
/docs/zh/docs/amamba/ @jzhupup @zengchongliner @windsonsea
/docs/zh/docs/download/modules/amamba.md @jzhupup @zengchongliner @windsonsea
/docs/zh/docs/videos/amamba.md @jzhupup @zengchongliner @windsonsea

# baize
/docs/zh/docs/baize/ @samzong @git-jxj @Rei1010 @windsonsea @kebe7jun
/docs/zh/docs/download/modules/baize.md @samzong @git-jxj @Rei1010 @windsonsea @kebe7jun
/docs/zh/docs/videos/baize.md @samzong @git-jxj @Rei1010 @windsonsea @kebe7jun

# ghippo
/docs/zh/docs/ghippo/ @yitingdc @lemontrees123 @bzsuni @windsonsea
/docs/zh/docs/download/modules/ghippo.md @yitingdc @lemontrees123 @bzsuni @windsonsea
/docs/zh/docs/videos/ghippo.md @yitingdc @lemontrees123 @bzsuni @windsonsea

# insight
/docs/zh/docs/insight/ @justedennnnn @Penguin-zlh @tukwila @samzong @windsonsea @FKAJerry
/docs/zh/docs/download/modules/insight.md @justedennnnn @Penguin-zlh @tukwila @samzong @windsonsea @FKAJerry
/docs/zh/docs/videos/insight.md @justedennnnn @Penguin-zlh @tukwila @samzong @windsonsea @FKAJerry

# kairship
/docs/zh/docs/kairship/  @yt-huang @samzong @windsonsea
/docs/zh/docs/download/modules/kairship.md  @yt-huang @samzong @windsonsea
/docs/zh/docs/videos/kairship.md  @yt-huang @samzong @windsonsea

# kangaroo
/docs/zh/docs/kangaroo/ @lemontrees123 @yt-huang @yitingdc @windsonsea
/docs/zh/docs/download/modules/kangaroo.md @lemontrees123 @yt-huang @yitingdc @windsonsea
/docs/zh/docs/videos/kangaroo.md @lemontrees123 @yt-huang @yitingdc @windsonsea

# kant
/docs/zh/docs/kant/ @zhiyingfang2022 @git-jxj @windsonsea
/docs/zh/docs/download/modules/kant.md @zhiyingfang2022 @git-jxj @windsonsea
/docs/zh/docs/videos/kant.md @zhiyingfang2022 @git-jxj @windsonsea

# install
/docs/zh/docs/install/ @jzhupup @FloatXD @Rei1010 @windsonsea
/docs/zh/docs/videos/install.md @jzhupup @FloatXD @Rei1010 @windsonsea

# kpanda
/docs/zh/docs/kpanda/ @lemontrees123 @shijinye @Rei1010 @yt-huang @windsonsea
/docs/zh/docs/download/modules/kpanda.md @lemontrees123 @shijinye @Rei1010 @yt-huang @windsonsea
/docs/zh/docs/download/modules/addon/ @lemontrees123 @shijinye @Rei1010 @yt-huang @windsonsea
/docs/zh/docs/videos/kpanda.md @lemontrees123 @shijinye @Rei1010 @yt-huang @windsonsea

# mspider
/docs/zh/docs/mspider/ @Adityayxt @samzong @Cynthia-yun @windsonsea @kebe7jun
/docs/zh/docs/download/modules/mspider.md @Adityayxt @samzong @Cynthia-yun @windsonsea @kebe7jun
/docs/zh/docs/videos/mspider.md @Adityayxt @samzong @Cynthia-yun @windsonsea @kebe7jun

# skoala
/docs/zh/docs/skoala/ @Adityayxt @samzong @tukwila @Cynthia-yun @windsonsea @wilsonwu
/docs/zh/docs/download/modules/skoala.md @Adityayxt @tukwila @Cynthia-yun @windsonsea @wilsonwu
/docs/zh/docs/videos/skoala.md @Adityayxt @samzong @tukwila @Cynthia-yun @windsonsea @wilsonwu

# spidernet
/docs/zh/docs/network/ @ty-dc @windsonsea
/docs/zh/docs/download/modules/spidernet.md @ty-dc @windsonsea
/docs/zh/docs/videos/spidernet.md @ty-dc @windsonsea

# virtnest
/docs/zh/docs/virtnest/  @bzsuni @windsonsea @yitingdc
/docs/zh/docs/download/modules/virtnest.md  @bzsuni @windsonsea @yitingdc
/docs/zh/docs/videos/virtnest.md  @bzsuni @windsonsea @yitingdc

# middleware
/docs/zh/docs/middleware/ @justedennnnn @fangbin9527 @samzong @windsonsea @drivebyer
/docs/zh/docs/download/modules/middleware/ @justedennnnn @fangbin9527 @samzong @windsonsea @drivebyer
/docs/zh/docs/videos/middleware.md @justedennnnn @fangbin9527 @samzong @windsonsea @drivebyer

# hwameistor
/docs/zh/docs/storage/ @jzhupup @FloatXD @windsonsea
/docs/zh/docs/download/modules/hwameistor.md @jzhupup @FloatXD @windsonsea
