Repository DaoCloud/DaoCloud-docs, pull requests merged in 2023-09, with the labels that each got.

#2250 update release-note.md
  docs/zh/docs/kairship/intro/release-notes.md
  docs/zh/docs/virtnest/intro/release-notes.md
Labels: kairship, zh

#2251 add vgpu user
  docs/zh/docs/kpanda/user-guide/gpu/images/cluster-ns.png
  docs/zh/docs/kpanda/user-guide/gpu/images/vgpu-addon.png
  docs/zh/docs/kpanda/user-guide/gpu/images/vgpu-cluster.png
  docs/zh/docs/kpanda/user-guide/gpu/images/vgpu-deployment.png
  docs/zh/docs/kpanda/user-guide/gpu/images/vgpu-pararm.png
  docs/zh/docs/kpanda/user-guide/gpu/images/vgpu-pod.png
  docs/zh/docs/kpanda/user-guide/gpu/images/vgpu-quota.png
  docs/zh/docs/kpanda/user-guide/gpu/vgpu-user.md
Labels: kpanda, zh

#2252 docs:update events.md
  docs/zh/docs/insight/images/event04.png
  docs/zh/docs/insight/user-guide/data-query/event.md
Labels: insight, zh

#2254 create nginx best practice
  docs/zh/docs/kangaroo/best-practice/harbor-nginx.md
  docs/zh/docs/kangaroo/images/nginx-配置项.png
  docs/zh/docs/kangaroo/images/nginx-配置项2.png
  docs/zh/docs/kangaroo/images/nginx-配置项详情1.png
  docs/zh/docs/kangaroo/images/nginx架构图.png
Labels: zh, kangaroo

#2256 add kairship module
  docs/en/docs/download/modules/kairship.md
  docs/zh/docs/download/modules/kairship.md
Labels: download, zh, en

#2258 download: kairship version updated to v0.12.0
  docs/zh/docs/download/modules/kairship.md
Labels: download, zh

#2261 add kairship to download index
  docs/en/docs/download/index.md
  docs/zh/docs/download/index.md
Labels: download, zh, en

#2255 create capacity planning
  docs/zh/docs/kangaroo/best-practice/capacity-planning.md
  docs/zh/docs/kangaroo/best-practice/harbor-nginx.md
  docs/zh/docs/kangaroo/images/nginx-architecture.png
  docs/zh/docs/kangaroo/images/nginx-configdetail1.png
  docs/zh/docs/kangaroo/images/nginx-configdetail2.png
  docs/zh/docs/kangaroo/images/nginx-configlist.png
  docs/zh/docs/kangaroo/images/resource planning.png
  docs/zh/docs/kangaroo/images/resource-architecture.png
  docs/zh/navigation.yml
Labels: zh, kangaroo

#2257 download: kcollie version updated to v0.5.0
  docs/zh/docs/download/modules/kcollie.md
Labels: wip, download, zh

#2260 download: kcoral version updated to v0.5.0
  docs/zh/docs/download/modules/kcoral.md
Labels: wip, download, zh

#2259 spiderpool upgrade docs
  docs/zh/docs/network/images/spiderpool-after-upgrade.png
  docs/zh/docs/network/images/spiderpool-before-upgrade.png
  docs/zh/docs/network/images/spiderpool-chart-version-7.png
  docs/zh/docs/network/images/spiderpool-disable-multus.png
  docs/zh/docs/network/images/spiderpool-multus-cr-create.png
  docs/zh/docs/network/modules/spiderpool/upgrade.md
Labels: wip, zh, network

#2262 mcamel: antiaffinity
  docs/zh/docs/middleware/common/storage-configuration.md
  docs/zh/docs/middleware/postgresql/images/antiaff01.png
  docs/zh/docs/middleware/postgresql/images/antiaff02.png
  docs/zh/docs/middleware/postgresql/images/antiaff03.png
  docs/zh/docs/middleware/postgresql/images/antiaff04.png
  docs/zh/docs/middleware/postgresql/user-guide/antiaffinity.md
  docs/zh/navigation.yml
Labels: midware, zh

#2264 update native (8.28-9.3)
  docs/en/docs/native/commerce.md
  docs/en/docs/native/news/news-2023.md
  docs/en/docs/native/open.md
  docs/zh/docs/native/commerce.md
  docs/zh/docs/native/news/news-2023.md
  docs/zh/docs/native/open.md
Labels: zh, en, native

#2265 add videos
  docs/zh/docs/videos/images/hybridcloud.png
  docs/zh/docs/videos/images/kpanda-vgpu.png
  docs/zh/docs/videos/images/single-to-multi.png
  docs/zh/docs/videos/images/west-east.jpg
  docs/zh/docs/videos/images/west-east.png
  docs/zh/docs/videos/kpanda.md
  docs/zh/docs/videos/use-cases.md
Labels: zh, videos

#2266 add kairship to navigation
  docs/en/navigation.yml
  docs/zh/navigation.yml
Labels: zh, en

#2268 download: ghippo version updated to v0.20.1
  docs/zh/docs/download/index.md
  docs/zh/docs/download/modules/ghippo.md
Labels: download, zh

#2267 download: kangaroo version updated to 0.11.0
  docs/zh/docs/download/index.md
  docs/zh/docs/download/modules/kangaroo.md
Labels: download, zh

#2269 mcamel:update some typo for sync
  docs/zh/docs/middleware/redis/best-practice/cluster2cluster.md
  docs/zh/docs/middleware/redis/images/sync17.png
  docs/zh/docs/middleware/redis/images/sync18.png
  docs/zh/navigation.yml
Labels: midware, zh

#2270 add download link to exported word and pdf
  docs/zh/docs/dce/dce-rn/20230731.md
Labels: zh, dce

#2235 Update insight release notes
  docs/en/docs/insight/intro/releasenote.md
  docs/zh/docs/insight/intro/releasenote.md
Labels: insight, zh, en

#2273 update release-notes to 0.27.2
  docs/zh/docs/skoala/intro/release-notes.md
Labels: skoala, zh

#2274 mcamel: update for releasenote
  docs/zh/docs/middleware/elasticsearch/release-notes.md
  docs/zh/docs/middleware/kafka/release-notes.md
  docs/zh/docs/middleware/minio/release-notes.md
  docs/zh/docs/middleware/mongodb/release-notes.md
  docs/zh/docs/middleware/mysql/release-notes.md
  docs/zh/docs/middleware/postgresql/release-notes.md
  docs/zh/docs/middleware/rabbitmq/release-notes.md
  docs/zh/docs/middleware/redis/release-notes.md
Labels: midware, zh

#2275 add release-note
  docs/zh/docs/amamba/intro/release-notes.md
  docs/zh/docs/install/release-notes.md
Labels: amamba, installer, zh

#2277 mcamel: modified for releasenote
  docs/zh/docs/middleware/elasticsearch/release-notes.md
  docs/zh/docs/middleware/kafka/release-notes.md
  docs/zh/docs/middleware/minio/release-notes.md
  docs/zh/docs/middleware/mongodb/release-notes.md
  docs/zh/docs/middleware/mysql/release-notes.md
  docs/zh/docs/middleware/postgresql/release-notes.md
  docs/zh/docs/middleware/rabbitmq/release-notes.md
  docs/zh/docs/middleware/redis/best-practice/cluster2cluster.md
  docs/zh/docs/middleware/redis/release-notes.md
Labels: midware, zh

#2276 update navi for spiderpool
  docs/en/docs/dce/dce-rn/20230531.md
  docs/en/docs/dce/dce-rn/20230630.md
  docs/en/docs/dce/dce-rn/20230731.md
  docs/en/docs/download/business/dce5-installer-v0.3.27.md
  docs/en/docs/download/business/dce5-installer-v0.3.28.md
  docs/en/docs/download/business/dce5-installer-v0.3.29.md
  docs/en/docs/download/business/dce5-installer-v0.3.30.md
  docs/en/docs/download/business/dce5-installer-v0.4.0-rc2.md
  docs/en/docs/download/business/dce5-installer-v0.4.0.md
  docs/en/docs/download/business/dce5-installer-v0.5.0.md
  docs/en/docs/download/business/dce5-installer-v0.6.0.md
  docs/en/docs/download/business/dce5-installer-v0.6.1.md
  docs/en/docs/download/business/dce5-installer-v0.7.0.md
  docs/en/docs/download/business/dce5-installer-v0.8.0.md
  docs/en/docs/network/modules/spiderpool/releasenotes.md
  docs/en/navigation.yml
  docs/zh/docs/dce/dce-rn/20230531.md
  docs/zh/docs/dce/dce-rn/20230630.md
  docs/zh/docs/dce/dce-rn/20230731.md
  docs/zh/docs/download/business/dce5-installer-v0.3.28.md
  docs/zh/docs/download/business/dce5-installer-v0.3.29.md
  docs/zh/docs/download/business/dce5-installer-v0.3.30.md
  docs/zh/docs/download/business/dce5-installer-v0.4.0-rc2.md
  docs/zh/docs/download/business/dce5-installer-v0.4.0.md
  docs/zh/docs/download/business/dce5-installer-v0.5.0.md
  docs/zh/docs/download/business/dce5-installer-v0.6.0.md
  docs/zh/docs/download/business/dce5-installer-v0.6.1.md
  docs/zh/docs/download/business/dce5-installer-v0.7.0.md
  docs/zh/docs/network/modules/spiderpool/releasenotes.md
  docs/zh/navigation.yml
Labels: wip, download, zh, en, network, dce

#2278 ghippo v0.20.1 release note
  docs/zh/docs/ghippo/intro/release-notes.md
Labels: ghippo, zh

#2279 mcamel: updated for cluster2cluster
  docs/zh/docs/middleware/redis/best-practice/cluster2cluster.md
  docs/zh/docs/middleware/redis/best-practice/disaster-tolerance.md
  docs/zh/docs/middleware/redis/images/sync10.png
  docs/zh/docs/middleware/redis/images/sync19.png
Labels: midware, zh

#2280 upgrade releaseNote
  docs/zh/docs/kpanda/intro/release-notes.md
Labels: kpanda, zh

#2283 update video cover
  docs/zh/docs/videos/images/pgvector.png
  docs/zh/docs/videos/images/redis-sync.png
Labels: zh, videos

#2284 update kangaroo release note
  docs/zh/docs/kangaroo/release-notes.md
Labels: zh, kangaroo

#2285 update gmagpie offline install
  docs/zh/docs/download/modules/gmagpie.md
Labels: download, zh

#2286 update video description
  docs/zh/docs/videos/use-cases.md
Labels: zh, videos

#2288 update-release
  docs/zh/docs/network/modules/spiderpool/releasenotes.md
  docs/zh/docs/storage/hwameistor/releasenotes.md
Labels: zh, network, storage

#2290 mcamel: redis-sync typo fixed & mysql intro fixed
  docs/zh/docs/middleware/mysql/intro/benefits.md
  docs/zh/docs/middleware/redis/best-practice/cluster2cluster.md
  docs/zh/docs/middleware/redis/best-practice/cluster2sentinel.md
  docs/zh/docs/middleware/redis/best-practice/sentinel2sentinel.md
  docs/zh/docs/middleware/redis/images/sync20.png
  docs/zh/docs/middleware/redis/images/sync21.png
  docs/zh/docs/middleware/redis/images/sync22.png
Labels: midware, zh

#2289 add a practice to mspider
  docs/zh/docs/mspider/best-practice/images/effect.png
  docs/zh/docs/mspider/best-practice/images/sidecar.png
  docs/zh/docs/mspider/best-practice/images/yaml1.png
  docs/zh/docs/mspider/best-practice/optimize-sidecar-resource.md
  docs/zh/navigation.yml
Labels: mspider, zh

#2292 [zh] update kangaroo practices
  docs/zh/docs/kangaroo/best-practice/capacity-planning.md
  docs/zh/docs/kangaroo/best-practice/harbor-nginx.md
  docs/zh/docs/kangaroo/images/nginx-archi.png
  docs/zh/docs/kangaroo/images/nginx-config-detail1.png
  docs/zh/docs/kangaroo/images/nginx-config.png
  docs/zh/docs/kangaroo/images/nginx-config2.png
  docs/zh/docs/kangaroo/images/resource-planning.png
Labels: zh, kangaroo

#2293 [en] sync all release notes
  docs/en/docs/amamba/intro/release-notes.md
  docs/en/docs/ghippo/intro/release-notes.md
  docs/en/docs/install/release-notes.md
  docs/en/docs/kairship/intro/release-notes.md
  docs/en/docs/kangaroo/release-notes.md
  docs/en/docs/kpanda/intro/release-notes.md
  docs/en/docs/middleware/elasticsearch/release-notes.md
  docs/en/docs/middleware/kafka/release-notes.md
  docs/en/docs/middleware/minio/release-notes.md
  docs/en/docs/middleware/mongodb/release-notes.md
  docs/en/docs/middleware/mysql/release-notes.md
  docs/en/docs/middleware/postgresql/release-notes.md
  docs/en/docs/middleware/rabbitmq/release-notes.md
  docs/en/docs/middleware/redis/release-notes.md
  docs/en/docs/network/modules/spiderpool/releasenotes.md
  docs/en/docs/skoala/intro/release-notes.md
  docs/en/docs/storage/hwameistor/releasenotes.md
  docs/zh/docs/middleware/elasticsearch/release-notes.md
  docs/zh/docs/middleware/kafka/release-notes.md
  docs/zh/docs/middleware/minio/release-notes.md
  docs/zh/docs/middleware/mongodb/release-notes.md
  docs/zh/docs/middleware/mysql/release-notes.md
  docs/zh/docs/middleware/postgresql/release-notes.md
  docs/zh/docs/middleware/rabbitmq/release-notes.md
  docs/zh/docs/middleware/redis/release-notes.md
  docs/zh/docs/network/modules/spiderpool/releasenotes.md
  docs/zh/docs/storage/hwameistor/releasenotes.md
Labels: skoala, midware, kairship, kpanda, amamba, ghippo, installer, zh, en, kangaroo, network, storage

#2294 update redis video title
  docs/zh/docs/videos/use-cases.md
Labels: zh, videos

#2295 update gpu_doc
  docs/zh/docs/install/commercial/prepare.md
  docs/zh/docs/install/commercial/start-install.md
  docs/zh/docs/kpanda/user-guide/gpu/mig_index.md
  docs/zh/docs/kpanda/user-guide/gpu/mig_usage.md
  docs/zh/docs/kpanda/user-guide/gpu/vgpu-user.md
  docs/zh/docs/kpanda/user-guide/gpu/vgpu_addon.md
  docs/zh/docs/kpanda/user-guide/gpu/vgpu_driver.md
  docs/zh/docs/kpanda/user-guide/gpu/vgpu_quota.md
  docs/zh/docs/kpanda/user-guide/gpu/vgpu_user.md
  docs/zh/navigation.yml
Labels: kpanda, installer, zh

#2296 download: dce5 version updated to v0.11.0
  docs/zh/docs/download/business/dce5-installer-history.md
  docs/zh/docs/download/business/dce5-installer-v0.11.0.md
  docs/zh/docs/download/free/dce5-installer-history.md
  docs/zh/docs/download/free/dce5-installer-v0.11.0.md
  docs/zh/docs/download/index.md
Labels: download, zh

#2179 update installerv0.11.0
  docs/zh/docs/install/commercial/cluster-config.md
  docs/zh/docs/install/commercial/deploy-requirements.md
  docs/zh/docs/install/commercial/prepare.md
  docs/zh/docs/install/commercial/start-install.md
  docs/zh/docs/install/faq.md
  docs/zh/docs/install/images/faq11.png
  docs/zh/docs/install/upgrade.md
Labels: wip, installer, zh

#2297 update native (9.4-9.10)
  docs/en/docs/native/commerce.md
  docs/en/docs/native/news/news-2023.md
  docs/en/docs/native/open.md
  docs/zh/docs/native/commerce.md
  docs/zh/docs/native/news/news-2023.md
  docs/zh/docs/native/open.md
Labels: zh, en, native

#2298 add en sidecar resource optimization
  docs/en/docs/mspider/best-practice/images/effect.png
  docs/en/docs/mspider/best-practice/images/sidecar.png
  docs/en/docs/mspider/best-practice/images/yaml1.png
  docs/en/docs/mspider/best-practice/optimize-sidecar-resource.md
  docs/en/navigation.yml
Labels: mspider, en

#2299 [en] update download pages
  docs/en/docs/download/addon/v0.9.0.md
  docs/en/docs/download/business/dce5-installer-v0.11.0.md
  docs/en/docs/download/free/dce5-installer-v0.11.0.md
  docs/en/docs/download/index.md
  docs/en/docs/download/modules/amamba.md
  docs/en/docs/download/modules/dowl.md
  docs/en/docs/download/modules/ghippo.md
  docs/en/docs/download/modules/gmagpie.md
  docs/en/docs/download/modules/insight.md
  docs/en/docs/download/modules/kairship.md
  docs/en/docs/download/modules/kangaroo.md
  docs/en/docs/download/modules/kcollie.md
  docs/en/docs/download/modules/kcoral.md
  docs/en/docs/download/modules/kpanda.md
  docs/en/docs/download/modules/mspider.md
  docs/en/docs/download/modules/spidernet.md
  docs/en/docs/kpanda/best-practice/use-otherlinux-create-custer.md
  docs/en/navigation.yml
  docs/zh/docs/download/business/dce5-installer-v0.11.0.md
  docs/zh/docs/download/free/dce5-installer-v0.11.0.md
  docs/zh/docs/download/index.md
  docs/zh/docs/download/modules/ghippo.md
  docs/zh/navigation.yml
Labels: kpanda, download, zh, en

#2302 [en] update install pages
  docs/en/docs/install/commercial/cluster-config.md
  docs/en/docs/install/commercial/deploy-requirements.md
  docs/en/docs/install/commercial/prepare.md
  docs/en/docs/install/commercial/start-install.md
  docs/en/docs/install/community/k8s/offline.md
  docs/en/docs/install/community/kind/online.md
  docs/en/docs/install/faq.md
  docs/en/docs/install/images/faq11.png
  docs/en/docs/install/upgrade.md
  docs/zh/docs/blogs/230315-install-on-linux.md
  docs/zh/docs/blogs/230315-install-on-macos.md
  docs/zh/docs/install/commercial/cluster-config.md
  docs/zh/docs/install/commercial/start-install.md
  docs/zh/docs/install/community/k8s/offline.md
  docs/zh/docs/install/community/k8s/online.md
  docs/zh/docs/install/community/kind/online.md
  docs/zh/docs/install/faq.md
Labels: installer, zh, en, blogs

#2303 [en] add kangaroo practices
  docs/en/docs/kangaroo/best-practice/capacity-planning.md
  docs/en/docs/kangaroo/best-practice/harbor-nginx.md
  docs/en/docs/kangaroo/images/nginx-architecture.png
  docs/en/docs/kangaroo/images/nginx-configdetail1.png
  docs/en/docs/kangaroo/images/nginx-configdetail2.png
  docs/en/docs/kangaroo/images/resource-architecture.png
  docs/en/navigation.yml
Labels: en, kangaroo

#2304 add external db
  docs/zh/docs/install/commercial/external/external-middlewares.md
Labels: installer, zh

#2305 add a blog of kubecon contributor summit
  docs/en/docs/blogs/230911-kubecon-contributor.md
  docs/en/docs/blogs/images/kubecon01.png
  docs/en/docs/blogs/images/kubecon02.jpeg
  docs/en/docs/blogs/images/qr-code.jpeg
  docs/en/navigation.yml
  docs/zh/docs/blogs/230911-kubecon-contributor.md
  docs/zh/docs/blogs/images/kubecon01.png
  docs/zh/docs/blogs/images/kubecon02.jpeg
  docs/zh/docs/blogs/images/qr-code.jpeg
  docs/zh/navigation.yml
Labels: zh, en, blogs

#2306 add image
  docs/zh/docs/kpanda/images/operator-framework.svg
Labels: kpanda, zh

#2300 update insight compatibility
  docs/zh/docs/insight/compati-test/k8s-compatibility.md
Labels: insight, zh

#2308 mcamel: update for modifying
  docs/zh/docs/middleware/redis/best-practice/cluster2cluster.md
  docs/zh/docs/middleware/redis/best-practice/cluster2sentinel.md
  docs/zh/docs/middleware/redis/best-practice/disaster-tolerance.md
  docs/zh/docs/middleware/redis/best-practice/sentinel2sentinel.md
  docs/zh/docs/middleware/redis/images/sync05.png
  docs/zh/docs/middleware/redis/images/sync10.png
  docs/zh/docs/middleware/redis/images/sync15.png
  docs/zh/docs/middleware/redis/images/sync23.png
  docs/zh/docs/middleware/redis/images/sync24.png
  docs/zh/docs/middleware/redis/images/sync25.png
Labels: midware, zh

#2309 Add 20230831 release notes
  docs/zh/docs/dce/dce-rn/20230831.md
  docs/zh/navigation.yml
Labels: zh, dce

#2310 add en 20230831 release notes
  docs/en/docs/dce/dce-rn/20230831.md
  docs/en/navigation.yml
Labels: en, dce

#2312 [zh] Fix oem-in links and indentations
  docs/zh/docs/dce/dce-rn/20230831.md
  docs/zh/docs/dce/scenario.md
  docs/zh/docs/ghippo/oem/custom-idp.md
  docs/zh/docs/ghippo/oem/demo.md
  docs/zh/docs/ghippo/oem/oem-in.md
  docs/zh/docs/ghippo/oem/oem-out.md
  docs/zh/docs/ghippo/oem/webhook.md
  docs/zh/docs/middleware/redis/best-practice/index.md
  docs/zh/docs/mspider/user-guide/traffic-governance/README.md
  docs/zh/docs/videos/use-cases.md
  docs/zh/navigation.yml
Labels: mspider, midware, ghippo, zh, videos, dce

#2313 download: dowl version updated to v0.5.1
  docs/zh/docs/download/modules/dowl.md
Labels: download, zh

#2318 udpate skoala docs/pics
  docs/zh/docs/skoala/images/servicelist-1.png
  docs/zh/docs/skoala/trad-ms/hosted/services/circuit-breaker.md
  docs/zh/docs/skoala/trad-ms/hosted/services/intro.md
  docs/zh/navigation.yml
Labels: skoala, zh

#2319 Add a video: traffic monitor
  docs/en/docs/videos/images/traffic-monitor.jpg
  docs/en/docs/videos/mspider.md
  docs/zh/docs/videos/images/traffic-monitor.jpg
  docs/zh/docs/videos/mspider.md
Labels: zh, en, videos

#2320 kant add user guide of node
  docs/zh/docs/kant/images/node-batch-01.png
  docs/zh/docs/kant/images/node-batch-register-01.png
  docs/zh/docs/kant/images/node-batch-register-02.png
  docs/zh/docs/kant/images/node-batch-upgrade-01.png
  docs/zh/docs/kant/images/node-manage-01.png
  docs/zh/docs/kant/images/node-manage-02.png
  docs/zh/docs/kant/images/node-managed-01.png
  docs/zh/docs/kant/images/node-managed-02.png
  docs/zh/docs/kant/images/node-overview01.png
  docs/zh/docs/kant/user-guide/node/batch-registration.md
  docs/zh/docs/kant/user-guide/node/batch-upgrade.md
  docs/zh/docs/kant/user-guide/node/join-rqmt.md
  docs/zh/docs/kant/user-guide/node/manage-node.md
  docs/zh/docs/kant/user-guide/node/managed-node.md
  docs/zh/docs/kant/user-guide/node/overview.md
  docs/zh/navigation.yml
Labels: zh, kant

#2321 [Kant] Fix intendations and format
  docs/zh/docs/amamba/user-guide/tools/integrated-toolchain.md
  docs/zh/docs/kant/intro/join-rqmt.md
  docs/zh/docs/kant/user-guide/node/batch-registration.md
  docs/zh/docs/kant/user-guide/node/batch-upgrade.md
  docs/zh/docs/kant/user-guide/node/manage-node.md
  docs/zh/docs/kant/user-guide/node/managed-node.md
  docs/zh/docs/kant/user-guide/node/overview.md
  docs/zh/docs/kant/user-guide/route/create-route.md
Labels: amamba, zh, kant

#2322 Update circuit-breaker.md
  docs/zh/docs/skoala/trad-ms/hosted/services/circuit-breaker.md
Labels: skoala, zh

#2323 Add an intro pdf to DCE 5.0
  docs/zh/docs/download/index.md
Labels: download, zh

#2324 docs: add jenkins ha
  docs/zh/docs/amamba/quickstart/scenarios-config.md
Labels: amamba, zh

#2325 docs: add jenkins ha
  docs/zh/docs/amamba/quickstart/jenkins-HA.md
  docs/zh/navigation.yml
Labels: amamba, zh

#2327 download: kpanda version updated to 0.21.1
  docs/zh/docs/download/index.md
  docs/zh/docs/download/modules/kpanda.md
Labels: download, zh

#2328 virtnest
  docs/zh/docs/kpanda/user-guide/permissions/permissions.md
  docs/zh/docs/virtnest/images/createvm01.png
  docs/zh/docs/virtnest/images/createvm02.png
  docs/zh/docs/virtnest/images/createvm03.png
  docs/zh/docs/virtnest/images/createvm04.png
  docs/zh/docs/virtnest/images/createvm05.png
  docs/zh/docs/virtnest/images/createvm06.png
  docs/zh/docs/virtnest/images/createvm07.png
  docs/zh/docs/virtnest/images/createvm08.png
  docs/zh/docs/virtnest/images/createvm09.png
  docs/zh/docs/virtnest/intro/index.md
  docs/zh/docs/virtnest/user-guide/vm/create.md
  docs/zh/docs/virtnest/user-guide/vm/nodeport.md
  docs/zh/docs/virtnest/user-guide/vm/rook ceph.md
  docs/zh/navigation.yml
Labels: kpanda, zh

#2330 Add en kant pages
  docs/en/docs/kant/images/batch-register01.png
  docs/en/docs/kant/images/batch-register02.png
  docs/en/docs/kant/images/batch-register03.png
  docs/en/docs/kant/images/batch-upgrade-01.png
  docs/en/docs/kant/images/batch-upgrade-02.png
  docs/en/docs/kant/images/node-manage-01.png
  docs/en/docs/kant/images/node-manage-02.png
  docs/en/docs/kant/images/node-managed-01.png
  docs/en/docs/kant/images/node-managed-02.png
  docs/en/docs/kant/user-guide/node/batch-registration.md
  docs/en/docs/kant/user-guide/node/batch-upgrade.md
  docs/en/docs/kant/user-guide/node/index.md
  docs/en/docs/kant/user-guide/node/join-rqmt.md
  docs/en/docs/kant/user-guide/node/manage-node.md
  docs/en/docs/kant/user-guide/node/managed-node.md
  docs/en/docs/kant/user-guide/route/index.md
  docs/en/navigation.yml
  docs/zh/docs/kant/user-guide/node/index.md
  docs/zh/docs/kant/user-guide/route/index.md
  docs/zh/navigation.yml
Labels: zh, en, kant

#2333 add aliyun cni docs
  docs/zh/docs/network/images/ECS-Create.png
  docs/zh/docs/network/images/bind_ram.png
  docs/zh/docs/network/images/ccm-route.png
  docs/zh/docs/network/images/custom-ram.png
  docs/zh/docs/network/images/eni-num.png
  docs/zh/docs/network/images/eni-route.png
  docs/zh/docs/network/images/eni-trunking.png
  docs/zh/docs/network/images/eni_connection.jpeg
  docs/zh/docs/network/images/eni_ip.png
  docs/zh/docs/network/images/eni_trunking.png
  docs/zh/docs/network/images/eni_trunking_tc.png
  docs/zh/docs/network/images/eniip_veth.png
  docs/zh/docs/network/images/ennip_ipvlan.png
  docs/zh/docs/network/images/terway_cilium.png
  docs/zh/docs/network/images/vpc_connection.jpeg
  docs/zh/docs/network/modules/aliyun-terway/Q_A.md
  docs/zh/docs/network/modules/aliyun-terway/index.md
  docs/zh/docs/network/modules/aliyun-terway/usage.md
  docs/zh/docs/network/modules/aliyun-terway/what.md
  docs/zh/docs/network/modules/modules.md
  docs/zh/docs/network/yamls/cloud-controller-manager.yaml
  docs/zh/docs/network/yamls/terway.yaml
Labels: zh, network

#2331 update kpanda permissions.md
  docs/zh/docs/ghippo/permissions/kpanda.md
  docs/zh/docs/kpanda/user-guide/permissions/permission-brief.md
  docs/zh/docs/kpanda/user-guide/permissions/permissions.md
  docs/zh/navigation.yml
Labels: kpanda, ghippo, zh

#2337 add skoala video
  docs/zh/docs/videos/images/skoala-circuit-breaker.png
  docs/zh/docs/videos/skoala.md
Labels: zh, videos

#2338 Fix links in community index
  docs/en/docs/community/index.md
Labels: en, eco

#2339 update jenkins-ha page
  docs/zh/docs/amamba/quickstart/jenkins-HA.md
  docs/zh/docs/amamba/quickstart/jenkins-custom.md
  docs/zh/docs/amamba/quickstart/scenarios-config.md
  docs/zh/navigation.yml
Labels: amamba, zh

#2340 add skoala video about sentinel hotspot
  docs/zh/docs/skoala/trad-ms/hosted/services/circuit-breaker.md
  docs/zh/docs/skoala/trad-ms/hosted/services/hotspot.md
  docs/zh/docs/videos/images/skoala-hotspot.png
  docs/zh/docs/videos/skoala.md
Labels: skoala, zh, videos

#2341 add en jenkins ha solution
  docs/en/docs/amamba/quickstart/jenkins-HA.md
  docs/en/docs/amamba/quickstart/jenkins-custom.md
  docs/en/navigation.yml
  docs/zh/docs/amamba/quickstart/jenkins-HA.md
Labels: amamba, zh, en

#2342 skoala: update standard/sentinel.md
  docs/zh/docs/skoala/images/sentinel01.png
  docs/zh/docs/skoala/images/sentinel02.png
  docs/zh/docs/skoala/images/sentinel03.png
  docs/zh/docs/skoala/standard/sentinel.md
Labels: skoala, zh

#2343 update kant-node mermaid and middleware title
  docs/en/docs/kant/user-guide/node/index.md
  docs/en/navigation.yml
  docs/zh/docs/kant/user-guide/node/index.md
  docs/zh/navigation.yml
Labels: zh, en, kant

#2344 docs: mark multus-underlay to deprecated state
  docs/zh/docs/network/modules/aliyun-terway/index.md
  docs/zh/docs/network/modules/multus-underlay/index.md
  docs/zh/docs/network/modules/multus-underlay/install.md
Labels: zh, network

#2345 Add kant download pages
  docs/en/docs/download/index.md
  docs/en/docs/download/modules/kant.md
  docs/en/docs/kant/intro/release-notes.md
  docs/en/navigation.yml
  docs/zh/docs/download/index.md
  docs/zh/docs/download/modules/kant.md
  docs/zh/docs/kant/intro/release-notes.md
  docs/zh/navigation.yml
Labels: download, zh, en, kant

#2348 Update kpanda homepage
  docs/zh/docs/kpanda/intro/index.md
Labels: kpanda, zh

#2352 Skoala: add best practice jwt plugin
  docs/zh/docs/skoala/best-practice/plugins/jwt.md
  docs/zh/docs/skoala/images/br-jwt01.png
  docs/zh/docs/skoala/images/br-jwt02.png
  docs/zh/docs/skoala/images/br-jwt03.png
  docs/zh/docs/skoala/images/br-jwt04.png
  docs/zh/docs/skoala/images/br-jwt05.png
  docs/zh/docs/skoala/images/br-jwt06.png
  docs/zh/docs/skoala/images/br-jwt07.png
  docs/zh/docs/skoala/images/br-jwt08.png
  docs/zh/docs/skoala/images/br-jwt09.png
  docs/zh/docs/skoala/images/br-jwt10.png
  docs/zh/docs/skoala/images/br-jwt11.png
  docs/zh/docs/skoala/images/plugin01.png
  docs/zh/docs/skoala/plugins/intro.md
  docs/zh/navigation.yml
Labels: skoala, zh

#2353 update webhook location and nav
  docs/en/docs/ghippo/user-guide/access-control/webhook.md
  docs/en/docs/kangaroo/best-practice/managed-harbor-select-access-type.md
  docs/en/navigation.yml
  docs/zh/docs/ghippo/user-guide/access-control/webhook.md
  docs/zh/docs/kangaroo/best-practice/managed-harbor-select-access-type.md
  docs/zh/navigation.yml
Labels: ghippo, zh, en, kangaroo

#2354 Add plugin center intro
  docs/zh/docs/skoala/plugins/intro.md
Labels: skoala, zh

#2350 update en kpanda homepage
  docs/en/docs/amamba/user-guide/wizard/create-app-git.md
  docs/en/docs/amamba/user-guide/wizard/jar-java-app.md
  docs/en/docs/dce/terms.md
  docs/en/docs/kairship/resource/ingress.md
  docs/en/docs/kpanda/intro/index.md
  docs/en/docs/kpanda/user-guide/namespaces/podsecurity.md
  docs/en/docs/kpanda/user-guide/network/create-ingress.md
  docs/en/docs/kpanda/user-guide/network/create-services.md
  docs/en/docs/kpanda/user-guide/network/network-policy.md
  docs/en/docs/kpanda/user-guide/nodes/node-authentication.md
  docs/en/docs/kpanda/user-guide/services-routes/network-policy.md
  docs/en/docs/kpanda/user-guide/workloads/create-daemonset.md
  docs/en/docs/kpanda/user-guide/workloads/create-deployment.md
  docs/en/docs/kpanda/user-guide/workloads/create-job.md
  docs/en/docs/kpanda/user-guide/workloads/create-statefulset.md
  docs/en/docs/mspider/user-guide/service-list/README.md
  docs/en/docs/network/modules/contour/install.md
  docs/en/docs/network/modules/ingress-nginx/ingressclass.md
  docs/en/docs/network/modules/ingress-nginx/scope.md
  docs/en/docs/network/modules/metallb/usage.md
  docs/en/navigation.yml
  docs/zh/docs/amamba/user-guide/wizard/create-app-git.md
  docs/zh/docs/amamba/user-guide/wizard/jar-java-app.md
  docs/zh/docs/kairship/resource/ingress.md
  docs/zh/docs/kpanda/intro/index.md
  docs/zh/docs/kpanda/user-guide/network/create-ingress.md
  docs/zh/docs/kpanda/user-guide/network/create-services.md
  docs/zh/docs/kpanda/user-guide/network/network-policy.md
  docs/zh/docs/kpanda/user-guide/workloads/create-daemonset.md
  docs/zh/docs/kpanda/user-guide/workloads/create-deployment.md
  docs/zh/docs/kpanda/user-guide/workloads/create-job.md
  docs/zh/docs/kpanda/user-guide/workloads/create-statefulset.md
  docs/zh/docs/mspider/user-guide/service-list/README.md
  docs/zh/docs/network/modules/contour/install.md
  docs/zh/docs/network/modules/ingress-nginx/ingressclass.md
  docs/zh/docs/network/modules/ingress-nginx/scope.md
  docs/zh/docs/network/modules/metallb/usage.md
  docs/zh/navigation.yml
Labels: mspider, kairship, kpanda, amamba, zh, en, network, dce

#2358 Update video pages for all scrum teams
  docs/en/docs/amamba/intro/concepts.md
  docs/en/docs/amamba/quickstart/argocd-jenkins.md
  docs/en/docs/amamba/quickstart/deploy-pipeline.md
  docs/en/docs/amamba/user-guide/native/manage.md
  docs/en/docs/amamba/user-guide/native/native-app.md
  docs/en/docs/amamba/user-guide/oam/create.md
  docs/en/docs/amamba/user-guide/oam/manage.md
  docs/en/docs/amamba/user-guide/pipeline/config/agent.md
  docs/en/docs/amamba/user-guide/pipeline/config/concept.md
  docs/en/docs/amamba/user-guide/pipeline/config/step.md
  docs/en/docs/amamba/user-guide/pipeline/create/custom.md
  docs/en/docs/amamba/user-guide/pipeline/create/jenkins.md
  docs/en/docs/amamba/user-guide/pipeline/create/mutilpipeline.md
  docs/en/docs/amamba/user-guide/pipeline/create/template.md
  docs/en/docs/amamba/user-guide/pipeline/credential.md
  docs/en/docs/amamba/user-guide/pipeline/edit.md
  docs/en/docs/amamba/user-guide/pipeline/install-jenkins.md
  docs/en/docs/amamba/user-guide/pipeline/run/manual.md
  docs/en/docs/amamba/user-guide/pipeline/run/trigger.md
  docs/en/docs/amamba/user-guide/pipeline/template/custom-template.md
  docs/en/docs/amamba/user-guide/pipeline/template/info.md
  docs/en/docs/amamba/user-guide/wizard/create-app-git.md
  docs/en/docs/amamba/user-guide/wizard/jar-java-app.md
  docs/en/docs/kairship/best-practice/one-click-conversion.md
  docs/en/docs/skoala/trad-ms/hosted/services/auth.md
  docs/en/docs/skoala/trad-ms/hosted/services/circuit-breaker.md
  docs/en/docs/skoala/trad-ms/hosted/services/cluster-flow.md
  docs/en/docs/skoala/trad-ms/hosted/services/hotspot.md
  docs/en/docs/skoala/trad-ms/hosted/services/system.md
  docs/en/docs/videos/amamba.md
  docs/en/docs/videos/ghippo.md
  docs/en/docs/videos/insight.md
  docs/en/docs/videos/install.md
  docs/en/docs/videos/kairship.md
  docs/en/docs/videos/kangaroo.md
  docs/en/docs/videos/kant.md
  docs/en/docs/videos/kpanda.md
  docs/en/docs/videos/mcamel.md
  docs/en/docs/videos/mspider.md
  docs/en/docs/videos/network.md
  docs/en/docs/videos/skoala.md
  docs/en/navigation.yml
  docs/zh/docs/amamba/user-guide/native/native-app.md
  docs/zh/docs/amamba/user-guide/oam/create.md
  docs/zh/docs/amamba/user-guide/oam/manage.md
  docs/zh/docs/videos/amamba.md
  docs/zh/docs/videos/kairship.md
  docs/zh/docs/videos/mcamel.md
  docs/zh/docs/videos/network.md
  docs/zh/docs/videos/skoala.md
Labels: skoala, kairship, amamba, zh, en, videos

#2357 update en video page for best practices
  docs/en/docs/middleware/redis/best-practice/cluster2cluster.md
  docs/en/docs/middleware/redis/best-practice/cluster2sentinel.md
  docs/en/docs/middleware/redis/best-practice/disaster-tolerance.md
  docs/en/docs/middleware/redis/best-practice/index.md
  docs/en/docs/middleware/redis/best-practice/sentinel2sentinel.md
  docs/en/docs/videos/images/amamba-app-release.png
  docs/en/docs/videos/images/custom-workload.jpg
  docs/en/docs/videos/images/gitops.png
  docs/en/docs/videos/images/hybridcloud.png
  docs/en/docs/videos/images/insight.png
  docs/en/docs/videos/images/kpanda-vgpu.png
  docs/en/docs/videos/images/mcamel-anti-affinity.png
  docs/en/docs/videos/images/net-kdoctor.jpg
  docs/en/docs/videos/images/network-cross-cluster.png
  docs/en/docs/videos/images/oem-in.png
  docs/en/docs/videos/images/pgvector.png
  docs/en/docs/videos/images/redis-sync.png
  docs/en/docs/videos/images/single-to-multi.png
  docs/en/docs/videos/images/skoala-circuit-breaker.png
  docs/en/docs/videos/images/skoala-flow-control.png
  docs/en/docs/videos/images/skoala-hotspot.png
  docs/en/docs/videos/images/west-east.jpg
  docs/en/docs/videos/use-cases.md
  docs/en/navigation.yml
  docs/zh/docs/middleware/redis/best-practice/cluster2cluster.md
  docs/zh/docs/middleware/redis/best-practice/cluster2sentinel.md
  docs/zh/docs/middleware/redis/best-practice/sentinel2sentinel.md
Labels: midware, zh, en, videos

#2360 Update operator.md
  docs/zh/docs/insight/quickstart/otel/operator.md
Labels: insight, zh

#2362 update troubleshoot doc, when Istio Hosting in DCE4
  docs/en/docs/mspider/troubleshoot/dce4.0-issues.md
  docs/en/docs/mspider/troubleshoot/index.md
  docs/zh/docs/mspider/troubleshoot/dce4.0-issues.md
  docs/zh/docs/mspider/troubleshoot/index.md
Labels: mspider, zh, en

#2361 Update redis: cluster2cluster.md
  docs/zh/docs/middleware/redis/best-practice/cluster2cluster.md
Labels: midware, zh

#2366 Add 1.28 to kcsp
  docs/en/docs/dce/kcsp.md
  docs/en/docs/images/1.28.png
  docs/zh/docs/dce/kcsp.md
  docs/zh/docs/images/1.28.png
Labels: zh, en, dce

#2367 download: addon version updated to v0.10.0
  docs/zh/docs/download/addon/history.md
  docs/zh/docs/download/addon/v0.10.0.md
  docs/zh/docs/download/index.md
Labels: download, zh

#2368 update midware homepage
  docs/en/docs/kpanda/intro/index.md
  docs/zh/docs/kpanda/intro/index.md
  docs/zh/docs/middleware/common/storage-configuration.md
  docs/zh/docs/middleware/index.md
  docs/zh/docs/middleware/mysql/faq/faq-others.md
  docs/zh/docs/middleware/postgresql/intro/concepts.md
  docs/zh/docs/middleware/postgresql/intro/index.md
  docs/zh/docs/middleware/postgresql/user-guide/antiaffinity.md
  docs/zh/docs/middleware/redis/best-practice/cluster2sentinel.md
  docs/zh/docs/middleware/redis/best-practice/sentinel2sentinel.md
Labels: midware, kpanda, zh, en

#2371 download: addon version updated to v0.11.0
  docs/zh/docs/download/addon/history.md
  docs/zh/docs/download/addon/v0.11.0.md
  docs/zh/docs/download/index.md
Labels: download, zh

#2372 Add en kpanda pages
  docs/en/docs/kpanda/images/gpu_mig01.jpg
  docs/en/docs/kpanda/images/gpu_mig02.jpg
  docs/en/docs/kpanda/images/gpu_mig03.png
  docs/en/docs/kpanda/images/gpu_mig04.png
  docs/en/docs/kpanda/intro/offline-upgrade.md
  docs/en/docs/kpanda/user-guide/backup/index.md
  docs/en/docs/kpanda/user-guide/backup/offline-upgrade.md
  docs/en/docs/kpanda/user-guide/gpu/create_mig.md
  docs/en/docs/kpanda/user-guide/gpu/images/cluster-ns.png
  docs/en/docs/kpanda/user-guide/gpu/images/image-1.png
  docs/en/docs/kpanda/user-guide/gpu/images/image-2.png
  docs/en/docs/kpanda/user-guide/gpu/images/image.png
  docs/en/docs/kpanda/user-guide/gpu/images/mig2c.4g.20gb.png
  docs/en/docs/kpanda/user-guide/gpu/images/mig_1c.4g.20gb.png
  docs/en/docs/kpanda/user-guide/gpu/images/mig_1g5gb.png
  docs/en/docs/kpanda/user-guide/gpu/images/mig_4g20gb.png
  docs/en/docs/kpanda/user-guide/gpu/images/mig_7m.png
  docs/en/docs/kpanda/user-guide/gpu/images/mig_overview.png
  docs/en/docs/kpanda/user-guide/gpu/images/vgpu-addon.png
  docs/en/docs/kpanda/user-guide/gpu/images/vgpu-cluster.png
  docs/en/docs/kpanda/user-guide/gpu/images/vgpu-deployment.png
  docs/en/docs/kpanda/user-guide/gpu/images/vgpu-pararm.png
  docs/en/docs/kpanda/user-guide/gpu/images/vgpu-pod.png
  docs/en/docs/kpanda/user-guide/gpu/images/vgpu-quota.png
  docs/en/docs/kpanda/user-guide/gpu/index.md
  docs/en/docs/kpanda/user-guide/gpu/mig_command.md
  docs/en/docs/kpanda/user-guide/gpu/mig_index.md
  docs/en/docs/kpanda/user-guide/gpu/mig_usage.md
  docs/en/docs/kpanda/user-guide/gpu/vgpu_addon.md
  docs/en/docs/kpanda/user-guide/gpu/vgpu_driver.md
  docs/en/docs/kpanda/user-guide/gpu/vgpu_quota.md
  docs/en/docs/kpanda/user-guide/gpu/vgpu_user.md
  docs/en/docs/kpanda/user-guide/inspect/index.md
  docs/en/docs/kpanda/user-guide/inspect/offline-upgrade.md
  docs/en/docs/kpanda/user-guide/security/audit.md
  docs/en/docs/kpanda/user-guide/security/cis/config.md
  docs/en/docs/kpanda/user-guide/security/hunter.md
  docs/en/docs/kpanda/user-guide/security/index.md
  docs/en/docs/kpanda/user-guide/security/offline-upgrade-dowl.md
  docs/en/navigation.yml
  docs/zh/docs/kpanda/intro/offline-upgrade.md
  docs/zh/docs/kpanda/user-guide/backup/index.md
  docs/zh/docs/kpanda/user-guide/backup/offline-upgrade.md
  docs/zh/docs/kpanda/user-guide/gpu/index.md
  docs/zh/docs/kpanda/user-guide/gpu/mig_index.md
  docs/zh/docs/kpanda/user-guide/gpu/mig_usage.md
  docs/zh/docs/kpanda/user-guide/gpu/vgpu_addon.md
  docs/zh/docs/kpanda/user-guide/gpu/vgpu_driver.md
  docs/zh/docs/kpanda/user-guide/gpu/vgpu_quota.md
  docs/zh/docs/kpanda/user-guide/gpu/vgpu_user.md
  docs/zh/docs/kpanda/user-guide/inspect/index.md
  docs/zh/docs/kpanda/user-guide/inspect/offline-upgrade.md
  docs/zh/docs/kpanda/user-guide/security/audit.md
  docs/zh/docs/kpanda/user-guide/security/cis/config.md
  docs/zh/docs/kpanda/user-guide/security/hunter.md
  docs/zh/docs/kpanda/user-guide/security/index.md
  docs/zh/docs/kpanda/user-guide/security/offline-upgrade-dowl.md
  docs/zh/navigation.yml
Labels: kpanda, zh, en

#2373 update native (9.18-9.24)
  docs/en/docs/native/commerce.md
  docs/en/docs/native/news/images/cycle.png
  docs/en/docs/native/news/news-2023.md
  docs/en/docs/native/open.md
  docs/zh/docs/native/commerce.md
  docs/zh/docs/native/news/images/cycle.jpeg
  docs/zh/docs/native/news/news-2023.md
  docs/zh/docs/native/open.md
Labels: zh, en, native

#2375 Update upgrade.md
  docs/zh/docs/install/upgrade.md
Labels: installer, zh

#2378 update nav by following ui
  docs/zh/navigation.yml
Labels: zh

#2379 add get-started after homepage
  docs/zh/docs/dce/get-started.md
  docs/zh/docs/dce/images/sail.jpg
  docs/zh/docs/dce/index.md
  docs/zh/navigation.yml
Labels: zh, dce

#2380 add oemin and kairship video
  docs/zh/docs/videos/images/kairship-hpa.png
  docs/zh/docs/videos/images/oemin-istio.png
  docs/zh/docs/videos/kairship.md
  docs/zh/docs/videos/use-cases.md
Labels: zh, videos

#2381 add gpu1
  docs/zh/docs/kpanda/intro/benefits.md
  docs/zh/docs/kpanda/intro/features.md
  docs/zh/docs/kpanda/user-guide/gpu/images/nvidia-gpu-driver-tag.jpg
  docs/zh/docs/kpanda/user-guide/gpu/images/nvidia-gpu-operator-image.jpg
  docs/zh/docs/kpanda/user-guide/gpu/index.md
  docs/zh/docs/kpanda/user-guide/gpu/install_nvidia_driver_of_operator.md
  docs/zh/docs/kpanda/user-guide/gpu/mig_usage.md
  docs/zh/docs/kpanda/user-guide/gpu/vgpu_addon.md
  docs/zh/docs/kpanda/user-guide/gpu/vgpu_driver.md
  docs/zh/docs/kpanda/user-guide/gpu/vgpu_user.md
  docs/zh/navigation.yml
Labels: kpanda, zh

#2383 mcamel: update for redisshake
  docs/zh/docs/middleware/redis/best-practice/cluster2sentinel.md
  docs/zh/docs/middleware/redis/best-practice/sentinel2sentinel.md
Labels: midware, zh

#2384 add Ascend gpu
  docs/zh/docs/kpanda/user-guide/gpu/Ascend_usage.md
  docs/zh/docs/kpanda/user-guide/gpu/Iluvatar_usage.md
  docs/zh/docs/kpanda/user-guide/gpu/full_gpu_userguide.md
  docs/zh/docs/kpanda/user-guide/gpu/images/cluster-setting-ascend-gpu.jpg
  docs/zh/docs/kpanda/user-guide/gpu/images/cluster-setting-gpu.jpg
  docs/zh/docs/kpanda/user-guide/gpu/images/cluster-setting-iluvatar-gpu.jpg
  docs/zh/docs/kpanda/user-guide/gpu/images/workload_ascendgpu_userguide.jpg
  docs/zh/docs/kpanda/user-guide/gpu/images/workload_gpu_userguide.jpg
  docs/zh/docs/kpanda/user-guide/gpu/images/workload_iluvatargpu_userguide.jpg
  docs/zh/docs/kpanda/user-guide/gpu/index.md
  docs/zh/docs/kpanda/user-guide/gpu/install_nvidia_driver_of_operator.md
  docs/zh/docs/kpanda/user-guide/gpu/mig_index.md
  docs/zh/docs/kpanda/user-guide/gpu/mig_usage.md
  docs/zh/docs/kpanda/user-guide/gpu/overvie_nvidia_gpu.md
  docs/zh/docs/kpanda/user-guide/gpu/vgpu_addon.md
  docs/zh/docs/kpanda/user-guide/gpu/vgpu_user.md
  docs/zh/navigation.yml
Labels: kpanda, zh

#2386 [docs]: Add spiderpool and sriov to navigation.yml
  docs/zh/navigation.yml
Labels: zh

#2385 update amamba
  docs/zh/docs/amamba/images/sonarqube11.png
  docs/zh/docs/amamba/images/sonarqube12.png
  docs/zh/docs/amamba/images/sonarqube13.png
  docs/zh/docs/amamba/images/sonarqube14.png
  docs/zh/docs/amamba/images/sonarqube15.png
  docs/zh/docs/amamba/images/sonarqube16.png
  docs/zh/docs/amamba/images/sonarqube17.png
  docs/zh/docs/amamba/images/sonarqube18.png
  docs/zh/docs/amamba/images/sonarqube19.png
  docs/zh/docs/amamba/quickstart/scan-with-pipeline.md
  docs/zh/docs/amamba/user-guide/tools/integrated-toolchain.md
  docs/zh/docs/amamba/user-guide/wizard/jar-java-app.md
Labels: amamba, zh

#2389 [WIP]docs: run calico and cilium in aliyun
  docs/zh/docs/network/modules/aliyun-terway/Q_A.md
  docs/zh/docs/network/modules/aliyun-terway/aliyun-calico.md
  docs/zh/docs/network/modules/aliyun-terway/aliyun-cilium.md
  docs/zh/docs/network/modules/aliyun-terway/index.md
  docs/zh/docs/network/modules/aliyun-terway/usage.md
Labels: zh, network

#2387 [docs]: update spiderpool installation docs
  docs/zh/docs/network/images/spiderpool-helm.png
  docs/zh/docs/network/images/spiderpool-install1.png
  docs/zh/docs/network/images/spiderpool-install2.png
  docs/zh/docs/network/images/spiderpool-install3.png
  docs/zh/docs/network/images/spiderpool-install4.png
  docs/zh/docs/network/images/spiderpool-install5.png
  docs/zh/docs/network/modules/spiderpool/install.md
Labels: zh, network

#2390 docs: add cilium run in aliyun
  docs/zh/docs/network/modules/aliyun-terway/Q_A.md
  docs/zh/docs/network/modules/aliyun-terway/aliyun-calico.md
  docs/zh/docs/network/modules/aliyun-terway/aliyun-cilium.md
Labels: zh, network
