Repository DaoCloud/DaoCloud-docs, pull requests merged in 2023-10, with the labels that each got.

#2394 update /dce/get-started.md
  docs/zh/docs/dce/get-started.md
Labels: zh, dce

#2395 Update zh nav
  docs/zh/navigation.yml
Labels: zh

#2396 update skoala pages
  docs/zh/docs/skoala/best-practice/auth-server.md
  docs/zh/docs/skoala/best-practice/gateway-mesh.md
  docs/zh/docs/skoala/best-practice/gateway01.md
  docs/zh/docs/skoala/best-practice/gateway02.md
  docs/zh/docs/skoala/best-practice/jwt.md
  docs/zh/docs/skoala/best-practice/plugins/jwt.md
  docs/zh/docs/skoala/best-practice/use-skoala-01.md
  docs/zh/docs/skoala/cloud-ms/service.md
  docs/zh/docs/skoala/cloud-ms/traffic-control.md
  docs/zh/docs/skoala/gateway/alert.md
  docs/zh/docs/skoala/gateway/api/add-api.md
  docs/zh/docs/skoala/gateway/api/api-policy.md
  docs/zh/docs/skoala/gateway/api/delete-api.md
  docs/zh/docs/skoala/gateway/api/update-api.md
  docs/zh/docs/skoala/gateway/check-details.md
  docs/zh/docs/skoala/gateway/delete-gateway.md
  docs/zh/docs/skoala/gateway/domain/add-domain.md
  docs/zh/docs/skoala/gateway/domain/delete-domain.md
  docs/zh/docs/skoala/gateway/domain/domain-policy.md
  docs/zh/docs/skoala/gateway/domain/update-domain.md
  docs/zh/docs/skoala/gateway/logs/inslog.md
  docs/zh/docs/skoala/gateway/service/auto-manage.md
  docs/zh/docs/skoala/gateway/service/manual-integrate.md
  docs/zh/docs/skoala/gateway/update-gateway.md
  docs/zh/docs/skoala/images/create-gw01.png
  docs/zh/docs/skoala/intro/advantages.md
  docs/zh/docs/skoala/intro/index.md
  docs/zh/docs/skoala/intro/release-notes.md
  docs/zh/docs/skoala/intro/scenarios.md
  docs/zh/docs/skoala/plugins/intro.md
  docs/zh/docs/skoala/quickstart/install.md
  docs/zh/docs/skoala/quickstart/offline-upgrade.md
  docs/zh/docs/skoala/quickstart/online-upgrade.md
  docs/zh/docs/skoala/standard/monitor.md
  docs/zh/docs/skoala/standard/nacos.md
  docs/zh/docs/skoala/standard/sentinel.md
  docs/zh/docs/skoala/tests/gateway-stress-test.md
  docs/zh/docs/skoala/tests/nacos-stress-test.md
  docs/zh/docs/skoala/trad-ms/hosted/delete-registry.md
  docs/zh/docs/skoala/trad-ms/hosted/update-registry.md
  docs/zh/docs/skoala/trad-ms/integrated/remove-registry.md
  docs/zh/docs/skoala/trad-ms/integrated/update-registry.md
Labels: skoala, zh

#2398 update trigger
  docs/zh/docs/amamba/images/trigger001.png
  docs/zh/docs/amamba/user-guide/pipeline/run/trigger.md
Labels: amamba, zh

#2399 update oam
  docs/zh/docs/amamba/images/oam001.png
  docs/zh/docs/amamba/user-guide/oam/concept.md
Labels: amamba, zh

#2401 fix offline install
  docs/en/docs/ghippo/install/offline-install.md
  docs/zh/docs/ghippo/install/offline-install.md
Labels: ghippo, zh, en

#2400 [en] Sync navigation.yaml and get-started.md
  docs/en/docs/dce/dce-rn/20230630.md
  docs/en/docs/dce/dce-rn/20230831.md
  docs/en/docs/dce/get-started.md
  docs/en/docs/dce/images/sail.jpg
  docs/en/docs/dce/terms.md
  docs/en/docs/download/business/dce5-installer-v0.11.0.md
  docs/en/docs/kairship/cluster.md
  docs/en/docs/kairship/policy/override.md
  docs/en/docs/kairship/policy/propagation.md
  docs/en/docs/kairship/workload/deployment.md
  docs/en/docs/kairship/workload/promote.md
  docs/en/docs/native/commerce.md
  docs/en/docs/native/open.md
  docs/en/docs/videos/use-cases.md
  docs/en/navigation.yml
  docs/zh/docs/dce/get-started.md
Labels: kairship, download, zh, en, videos, native, dce

#2402 Update skoala pages
  docs/zh/docs/ghippo/troubleshooting/ghippo01.md
  docs/zh/docs/ghippo/troubleshooting/ghippo02.md
  docs/zh/docs/ghippo/troubleshooting/ghippo03.md
  docs/zh/docs/mspider/user-guide/traffic-governance/virtual-service.md
  docs/zh/docs/reference/sandbox.md
  docs/zh/docs/skoala/gateway/alert.md
  docs/zh/docs/skoala/reference/gateway.md
  docs/zh/docs/skoala/reference/insight.md
  docs/zh/docs/skoala/reference/microservice.md
  docs/zh/docs/skoala/reference/nacos.md
  docs/zh/docs/skoala/reference/registry.md
  docs/zh/docs/skoala/reference/traffic-control.md
  docs/zh/docs/skoala/reference/virtual-service.md
  docs/zh/docs/skoala/trad-ms/hosted/monitor/components.md
  docs/zh/docs/skoala/trad-ms/hosted/monitor/microservices.md
  docs/zh/docs/skoala/trad-ms/integrated/integrate-registry.md
  docs/zh/navigation.yml
Labels: mspider, skoala, ghippo, zh

#2403 Fix intendations in nacos.md
  docs/zh/docs/skoala/reference/nacos.md
Labels: skoala, zh

#2404 update zh-nav
  docs/zh/navigation.yml
Labels: zh

#2405 Update en nav and get-started
  docs/en/docs/dce/get-started.md
  docs/en/navigation.yml
Labels: en, dce

#2406 Add a blog: K8s contributor summit
  docs/en/docs/blogs/20231008-kcs.md
  docs/en/docs/blogs/images/kcs02.jpeg
  docs/en/docs/blogs/images/kcs03.jpeg
  docs/en/docs/blogs/images/kcs04.jpeg
  docs/en/docs/blogs/images/kcs06.jpeg
  docs/en/navigation.yml
  docs/zh/docs/blogs/20231008-kcs.md
  docs/zh/docs/blogs/images/kcs02.jpeg
  docs/zh/docs/blogs/images/kcs03.jpeg
  docs/zh/docs/blogs/images/kcs04.jpeg
  docs/zh/docs/blogs/images/kcs06.jpeg
  docs/zh/navigation.yml
Labels: zh, en, blogs

#2407 Upgrade gpu 1009
  docs/zh/docs/kpanda/user-guide/gpu/full_gpu_userguide.md
  docs/zh/docs/kpanda/user-guide/gpu/install_nvidia_driver_of_operator.md
  docs/zh/docs/kpanda/user-guide/gpu/mig_usage.md
  docs/zh/docs/kpanda/user-guide/gpu/vgpu_user.md
  docs/zh/navigation.yml
Labels: kpanda, zh

#2409 Update scenario.md
  docs/zh/docs/dce/scenario.md
Labels: zh, dce

#2414 Update gpu docs
  docs/zh/docs/kpanda/user-guide/gpu/Ascend_usage.md
  docs/zh/docs/kpanda/user-guide/gpu/full_gpu_userguide.md
  docs/zh/docs/kpanda/user-guide/gpu/gpu_matrix.md
  docs/zh/docs/kpanda/user-guide/gpu/index.md
  docs/zh/docs/kpanda/user-guide/gpu/install_nvidia_driver_of_operator.md
  docs/zh/docs/kpanda/user-guide/gpu/mig_index.md
  docs/zh/docs/kpanda/user-guide/gpu/mig_usage.md
  docs/zh/docs/kpanda/user-guide/gpu/overvie_nvidia_gpu.md
  docs/zh/docs/kpanda/user-guide/gpu/vgpu-addon.md
  docs/zh/docs/kpanda/user-guide/gpu/vgpu_addon.md
  docs/zh/docs/kpanda/user-guide/gpu/vgpu_user.md
  docs/zh/navigation.yml
Labels: kpanda, zh

#2417 update gpu docs 10-10
  docs/zh/docs/kpanda/user-guide/gpu/create_mig.md
  docs/zh/docs/kpanda/user-guide/gpu/full_gpu_userguide.md
  docs/zh/docs/kpanda/user-guide/gpu/gpu_matrix.md
  docs/zh/docs/kpanda/user-guide/gpu/install_nvidia_driver_of_operator.md
  docs/zh/docs/kpanda/user-guide/gpu/mig_index.md
  docs/zh/docs/kpanda/user-guide/gpu/overvie_nvidia_gpu.md
  docs/zh/docs/kpanda/user-guide/gpu/vgpu-addon.md
  docs/zh/docs/kpanda/user-guide/gpu/vgpu_addon.md
  docs/zh/docs/kpanda/user-guide/gpu/vgpu_user.md
  docs/zh/navigation.yml
Labels: kpanda, zh

#2419 Update gpu matrix & operator install
  docs/zh/docs/kpanda/user-guide/gpu/gpu_matrix.md
  docs/zh/docs/kpanda/user-guide/gpu/install_nvidia_driver_of_operator.md
  docs/zh/docs/kpanda/user-guide/gpu/mig_usage.md
  docs/zh/docs/kpanda/user-guide/gpu/vgpu_user.md
Labels: kpanda, zh

#2418 Create folders for gpu
  docs/zh/docs/kpanda/user-guide/gpu/Ascend_usage.md
  docs/zh/docs/kpanda/user-guide/gpu/gpu_matrix.md
  docs/zh/docs/kpanda/user-guide/gpu/index.md
  docs/zh/docs/kpanda/user-guide/gpu/nvidia/full_gpu_userguide.md
  docs/zh/docs/kpanda/user-guide/gpu/nvidia/install_nvidia_driver_of_operator.md
  docs/zh/docs/kpanda/user-guide/gpu/nvidia/mig/mig_command.md
  docs/zh/docs/kpanda/user-guide/gpu/nvidia/mig/mig_index.md
  docs/zh/docs/kpanda/user-guide/gpu/nvidia/mig/mig_usage.md
  docs/zh/docs/kpanda/user-guide/gpu/nvidia/overvie_nvidia_gpu.md
  docs/zh/docs/kpanda/user-guide/gpu/nvidia/vgpu/vgpu_addon.md
  docs/zh/docs/kpanda/user-guide/gpu/nvidia/vgpu/vgpu_user.md
  docs/zh/navigation.yml
Labels: kpanda, zh

#2420 update en/zh homepage
  docs/en/docs/dce/get-started.md
  docs/en/docs/dce/images/ipavo.png
  docs/en/docs/dce/index.md
  docs/zh/docs/dce/get-started.md
  docs/zh/docs/dce/images/ipavo.png
  docs/zh/docs/dce/index.md
Labels: zh, en, dce

#2423 update user guide of kant
  docs/zh/docs/kant/images/create-device-01.png
  docs/zh/docs/kant/images/create-device-02.png
  docs/zh/docs/kant/images/create-device-03.png
  docs/zh/docs/kant/images/create-device-04.png
  docs/zh/docs/kant/images/create-device-05.png
  docs/zh/docs/kant/images/create-device-06.png
  docs/zh/docs/kant/images/create-device-07.png
  docs/zh/docs/kant/images/create-device-08.png
  docs/zh/docs/kant/images/create-group-01.png
  docs/zh/docs/kant/images/create-group-02.png
  docs/zh/docs/kant/images/device-index-01.png
  docs/zh/docs/kant/images/manage-device-01.png
  docs/zh/docs/kant/images/manage-device-02.png
  docs/zh/docs/kant/images/manage-device-03.png
  docs/zh/docs/kant/images/manage-device-04.png
  docs/zh/docs/kant/images/manage-device-05.png
  docs/zh/docs/kant/images/manage-device-06.png
  docs/zh/docs/kant/images/manage-group-01.png
  docs/zh/docs/kant/images/manage-group-02.png
  docs/zh/docs/kant/images/manage-group-03.png
  docs/zh/docs/kant/intro/release-notes.md
  docs/zh/docs/kant/user-guide/device/ index.md
  docs/zh/docs/kant/user-guide/device/create-device.md
  docs/zh/docs/kant/user-guide/device/manage-device.md
  docs/zh/docs/kant/user-guide/node-group/create-group.md
  docs/zh/docs/kant/user-guide/node-group/manage-group.md
  docs/zh/docs/kant/user-guide/node/join-rqmt.md
Labels: zh, kant

#2426 update kant pages
  docs/zh/docs/kant/user-guide/device/ index.md
  docs/zh/docs/kant/user-guide/device/create-device.md
  docs/zh/docs/kant/user-guide/device/manage-device.md
  docs/zh/docs/kant/user-guide/node-group/create-group.md
  docs/zh/docs/kant/user-guide/node-group/manage-group.md
Labels: zh, kant

#2427 mcamel: update release note
  docs/zh/docs/middleware/minio/release-notes.md
Labels: midware, zh

#2429 update middleware download template
  docs/zh/docs/download/modules/middleware/elasticsearch.md
  docs/zh/docs/download/modules/middleware/kafka.md
  docs/zh/docs/download/modules/middleware/minio.md
  docs/zh/docs/download/modules/middleware/mongodb.md
  docs/zh/docs/download/modules/middleware/mysql.md
  docs/zh/docs/download/modules/middleware/postgresql.md
  docs/zh/docs/download/modules/middleware/rabbitmq.md
  docs/zh/docs/download/modules/middleware/redis.md
  docs/zh/navigation.yml
Labels: download, zh

#2424 update en and zh homepage
  docs/en/docs/dce/index.md
  docs/en/docs/index.md
  docs/zh/docs/index.md
Labels: zh, en, dce

#2425 update gpu 10-11
  docs/zh/docs/kpanda/user-guide/gpu/Ascend_usage.md
  docs/zh/docs/kpanda/user-guide/gpu/create_mig.md
  docs/zh/docs/kpanda/user-guide/gpu/gpu_matrix.md
  docs/zh/docs/kpanda/user-guide/gpu/images/mixed.jpg
  docs/zh/docs/kpanda/user-guide/gpu/images/mixed02.jpg
  docs/zh/docs/kpanda/user-guide/gpu/images/single01.jpg
  docs/zh/docs/kpanda/user-guide/gpu/images/single02.jpg
  docs/zh/docs/kpanda/user-guide/gpu/index.md
  docs/zh/docs/kpanda/user-guide/gpu/nvidia/install_nvidia_driver_of_operator.md
  docs/zh/docs/kpanda/user-guide/gpu/nvidia/overvie_nvidia_gpu.md
  docs/zh/docs/kpanda/user-guide/gpu/nvidia/vgpu/vgpu_user.md
  docs/zh/navigation.yml
Labels: kpanda, zh

#2430 Update use-custom-workloads.md
  docs/zh/docs/mspider/best-practice/use-custom-workloads.md
Labels: mspider, zh

#2431 add multinet practice to skoala
  docs/zh/docs/skoala/best-practice/images/multinet01.png
  docs/zh/docs/skoala/best-practice/images/multinet02.png
  docs/zh/docs/skoala/best-practice/images/multinet03.png
  docs/zh/docs/skoala/best-practice/images/multinet04.png
  docs/zh/docs/skoala/best-practice/images/multinet05.png
  docs/zh/docs/skoala/best-practice/images/multinet06.png
  docs/zh/docs/skoala/best-practice/images/multinet07.png
  docs/zh/docs/skoala/best-practice/multinet-control.md
  docs/zh/navigation.yml
Labels: skoala, zh

#2432 update CODEOWNERS
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/workflows/corrupted-hyperlink.yml
  CODEOWNERS
  SECURITY.md
  docs/README.md
Labels: develop

#2433 update host.toml
  docs/zh/docs/kangaroo/best-practice/insecure_registry.md
Labels: zh, kangaroo

#2434 Relocate multinet practice from skoala to mspider
  docs/zh/docs/mspider/best-practice/images/multinet01.png
  docs/zh/docs/mspider/best-practice/images/multinet02.png
  docs/zh/docs/mspider/best-practice/images/multinet03.png
  docs/zh/docs/mspider/best-practice/images/multinet04.png
  docs/zh/docs/mspider/best-practice/images/multinet05.png
  docs/zh/docs/mspider/best-practice/images/multinet06.png
  docs/zh/docs/mspider/best-practice/images/multinet07.png
  docs/zh/docs/mspider/best-practice/multinet-control.md
  docs/zh/navigation.yml
Labels: mspider, zh

#2435 update image
  docs/zh/docs/kangaroo/images/edit-harborcluster.png
  docs/zh/docs/kangaroo/quickstart/trivy-offline.md
Labels: zh, kangaroo

#2436 download: minio version updated to v0.8.1
  docs/zh/docs/download/index.md
  docs/zh/docs/download/modules/middleware/minio.md
Labels: download, zh

#2440 [en] update kant pages
  docs/en/docs/kant/intro/release-notes.md
  docs/en/docs/kant/user-guide/device/create-device.md
  docs/en/docs/kant/user-guide/device/index.md
  docs/en/docs/kant/user-guide/device/manage-device.md
  docs/en/docs/kant/user-guide/node-group/create-group.md
  docs/en/docs/kant/user-guide/node-group/manage-group.md
  docs/en/docs/kant/user-guide/node/join-rqmt.md
  docs/en/navigation.yml
  docs/zh/docs/kant/user-guide/device/index.md
  docs/zh/navigation.yml
Labels: zh, en, kant

#2439 update format
  docs/zh/docs/kpanda/user-guide/gpu/nvidia/install_nvidia_driver_of_operator.md
Labels: kpanda, zh

#2438 Update buttons and nav in download pages
  docs/zh/docs/download/addon/.template.md
  docs/zh/docs/download/addon/history.md
  docs/zh/docs/download/addon/v0.10.0.md
  docs/zh/docs/download/addon/v0.11.0.md
  docs/zh/docs/download/addon/v0.6.0.md
  docs/zh/docs/download/addon/v0.8.0.md
  docs/zh/docs/download/addon/v0.9.0.md
  docs/zh/docs/download/business/.dce5-installer-template.md
  docs/zh/docs/download/business/dce5-installer-history.md
  docs/zh/docs/download/business/dce5-installer-v0.11.0.md
  docs/zh/docs/download/business/dce5-installer-v0.3.27.md
  docs/zh/docs/download/business/dce5-installer-v0.3.28.md
  docs/zh/docs/download/business/dce5-installer-v0.3.29.md
  docs/zh/docs/download/business/dce5-installer-v0.3.30.md
  docs/zh/docs/download/business/dce5-installer-v0.4.0.md
  docs/zh/docs/download/business/dce5-installer-v0.5.0.md
  docs/zh/docs/download/business/dce5-installer-v0.6.0.md
  docs/zh/docs/download/business/dce5-installer-v0.6.1.md
  docs/zh/docs/download/business/dce5-installer-v0.7.0.md
  docs/zh/docs/download/business/dce5-installer-v0.8.0.md
  docs/zh/docs/download/business/dce5-installer-v0.9.0.md
  docs/zh/docs/download/free/.dce5-installer-template.md
  docs/zh/docs/download/free/dce5-installer-history.md
  docs/zh/docs/download/free/dce5-installer-v0.11.0.md
  docs/zh/docs/download/free/dce5-installer-v0.3.27.md
  docs/zh/docs/download/free/dce5-installer-v0.3.28.md
  docs/zh/docs/download/free/dce5-installer-v0.3.29.md
  docs/zh/docs/download/free/dce5-installer-v0.3.30.md
  docs/zh/docs/download/free/dce5-installer-v0.4.0.md
  docs/zh/docs/download/free/dce5-installer-v0.5.0.md
  docs/zh/docs/download/free/dce5-installer-v0.6.0.md
  docs/zh/docs/download/free/dce5-installer-v0.6.1.md
  docs/zh/docs/download/free/dce5-installer-v0.7.0.md
  docs/zh/docs/download/free/dce5-installer-v0.8.0.md
  docs/zh/docs/download/free/dce5-installer-v0.9.0.md
  docs/zh/docs/download/index.md
  docs/zh/docs/download/modules/amamba.md
  docs/zh/docs/download/modules/dowl.md
  docs/zh/docs/download/modules/ghippo.md
  docs/zh/docs/download/modules/gmagpie.md
  docs/zh/docs/download/modules/insight.md
  docs/zh/docs/download/modules/kairship.md
  docs/zh/docs/download/modules/kangaroo.md
  docs/zh/docs/download/modules/kant.md
  docs/zh/docs/download/modules/kcollie.md
  docs/zh/docs/download/modules/kcoral.md
  docs/zh/docs/download/modules/kpanda.md
  docs/zh/docs/download/modules/middleware/elasticsearch.md
  docs/zh/docs/download/modules/middleware/kafka.md
  docs/zh/docs/download/modules/middleware/minio.md
  docs/zh/docs/download/modules/middleware/mongodb.md
  docs/zh/docs/download/modules/middleware/mysql.md
  docs/zh/docs/download/modules/middleware/postgresql.md
  docs/zh/docs/download/modules/middleware/rabbitmq.md
  docs/zh/docs/download/modules/middleware/redis.md
  docs/zh/docs/download/modules/mspider.md
  docs/zh/docs/download/modules/spidernet.md
  docs/zh/navigation.yml
Labels: download, zh

#2442 download: mysql version updated to v0.11.1
  docs/zh/docs/download/index.md
  docs/zh/docs/download/modules/middleware/mysql.md
Labels: download, zh

#2443 download: elasticsearch version updated to v0.10.1
  docs/zh/docs/download/index.md
  docs/zh/docs/download/modules/middleware/elasticsearch.md
Labels: download, zh

#2444 download: mongodb version updated to v0.3.1
  docs/zh/docs/download/index.md
  docs/zh/docs/download/modules/middleware/mongodb.md
Labels: download, zh

#2445 download: rabbitmq version updated to v0.13.1
  docs/zh/docs/download/index.md
  docs/zh/docs/download/modules/middleware/rabbitmq.md
Labels: download, zh

#2447 download: kafka version updated to v0.8.1
  docs/zh/docs/download/index.md
  docs/zh/docs/download/modules/middleware/kafka.md
Labels: download, zh

#2446 download: redis version updated to v0.11.1
  docs/zh/docs/download/index.md
  docs/zh/docs/download/modules/middleware/redis.md
Labels: download, zh

#2448 download: postgresql version updated to v0.5.1
  docs/zh/docs/download/index.md
  docs/zh/docs/download/modules/middleware/postgresql.md
Labels: download, zh

#2450 Fix links to download pages
  docs/en/docs/dce/get-started.md
  docs/en/docs/download/business/dce5-installer-history.md
  docs/en/docs/download/index.md
  docs/zh/docs/dce/get-started.md
  docs/zh/docs/download/addon/history.md
  docs/zh/docs/download/business/dce5-installer-history.md
  docs/zh/docs/download/free/dce5-installer-history.md
  docs/zh/docs/download/index.md
Labels: download, zh, en, dce

#2449 Update gpu2
  docs/zh/docs/kpanda/user-guide/gpu/create_mig.md
  docs/zh/docs/kpanda/user-guide/gpu/nvidia/install_nvidia_driver_of_operator.md
  docs/zh/docs/kpanda/user-guide/gpu/nvidia/vgpu/vgpu_user.md
  docs/zh/navigation.yml
Labels: kpanda, zh

#2452 download: mspider version updated to v0.20.0
  docs/zh/docs/download/index.md
  docs/zh/docs/download/modules/mspider.md
Labels: download, zh

#2451 [amamba] link download to upgrade steps
  docs/en/docs/amamba/offline-upgrade.md
  docs/en/docs/download/modules/amamba.md
  docs/zh/docs/amamba/offline-upgrade.md
  docs/zh/docs/download/modules/amamba.md
Labels: amamba, download, zh, en

#2453 [kpanda] link download to upgrade steps
  docs/en/docs/download/modules/dowl.md
  docs/en/docs/download/modules/kcollie.md
  docs/en/docs/download/modules/kcoral.md
  docs/en/docs/download/modules/kpanda.md
  docs/en/docs/kpanda/intro/offline-upgrade.md
  docs/en/docs/kpanda/user-guide/backup/offline-upgrade.md
  docs/en/docs/kpanda/user-guide/inspect/offline-upgrade.md
  docs/en/docs/kpanda/user-guide/security/offline-upgrade-dowl.md
  docs/zh/docs/download/modules/dowl.md
  docs/zh/docs/download/modules/kcollie.md
  docs/zh/docs/download/modules/kcoral.md
  docs/zh/docs/download/modules/kpanda.md
  docs/zh/docs/kpanda/intro/offline-upgrade.md
  docs/zh/docs/kpanda/user-guide/backup/offline-upgrade.md
  docs/zh/docs/kpanda/user-guide/inspect/offline-upgrade.md
  docs/zh/docs/kpanda/user-guide/security/offline-upgrade-dowl.md
Labels: kpanda, download, zh, en

#2454 [kangaroo] link download to upgrade steps
  docs/zh/docs/dce/dce-rn/20230531.md
  docs/zh/docs/dce/dce-rn/20230630.md
  docs/zh/docs/dce/dce-rn/20230731.md
  docs/zh/docs/dce/dce-rn/20230831.md
  docs/zh/docs/dce/index.md
  docs/zh/docs/dce/scenario.md
  docs/zh/docs/download/business/dce5-installer-v0.3.28.md
  docs/zh/docs/download/business/dce5-installer-v0.3.29.md
  docs/zh/docs/download/business/dce5-installer-v0.3.30.md
  docs/zh/docs/download/business/dce5-installer-v0.4.0.md
  docs/zh/docs/download/business/dce5-installer-v0.5.0.md
  docs/zh/docs/download/business/dce5-installer-v0.6.0.md
  docs/zh/docs/download/business/dce5-installer-v0.6.1.md
  docs/zh/docs/download/business/dce5-installer-v0.7.0.md
  docs/zh/docs/download/modules/kangaroo.md
  docs/zh/docs/index.md
  docs/zh/docs/install/index.md
  docs/zh/docs/kangaroo/intro/faq.md
  docs/zh/docs/kangaroo/intro/index.md
  docs/zh/docs/kangaroo/intro/release-notes.md
  docs/zh/docs/kangaroo/intro/upgrade.md
  docs/zh/docs/kpanda/user-guide/workloads/create-cronjob.md
  docs/zh/docs/kpanda/user-guide/workloads/create-daemonset.md
  docs/zh/docs/kpanda/user-guide/workloads/create-deployment.md
  docs/zh/docs/kpanda/user-guide/workloads/create-job.md
  docs/zh/docs/kpanda/user-guide/workloads/create-statefulset.md
  docs/zh/navigation.yml
Labels: kpanda, installer, download, zh, kangaroo, dce

#2456 mcamel: offline-install for test
  docs/zh/docs/middleware/minio/user-guide/offline-install.md
Labels: midware, zh

#2455 [en] update connection between download and kangaroo upgrade
  docs/en/docs/dce/dce-rn/20230531.md
  docs/en/docs/dce/dce-rn/20230630.md
  docs/en/docs/dce/dce-rn/20230731.md
  docs/en/docs/dce/dce-rn/20230831.md
  docs/en/docs/dce/index.md
  docs/en/docs/download/business/dce5-installer-v0.3.27.md
  docs/en/docs/download/business/dce5-installer-v0.3.28.md
  docs/en/docs/download/business/dce5-installer-v0.3.29.md
  docs/en/docs/download/business/dce5-installer-v0.3.30.md
  docs/en/docs/download/business/dce5-installer-v0.4.0.md
  docs/en/docs/download/business/dce5-installer-v0.5.0.md
  docs/en/docs/download/business/dce5-installer-v0.6.0.md
  docs/en/docs/download/business/dce5-installer-v0.6.1.md
  docs/en/docs/download/business/dce5-installer-v0.7.0.md
  docs/en/docs/download/business/dce5-installer-v0.8.0.md
  docs/en/docs/download/modules/kangaroo.md
  docs/en/docs/index.md
  docs/en/docs/kangaroo/intro/faq.md
  docs/en/docs/kangaroo/intro/index.md
  docs/en/docs/kangaroo/intro/release-notes.md
  docs/en/docs/kangaroo/intro/upgrade.md
  docs/en/docs/kpanda/user-guide/workloads/create-cronjob.md
  docs/en/docs/kpanda/user-guide/workloads/create-daemonset.md
  docs/en/docs/kpanda/user-guide/workloads/create-deployment.md
  docs/en/docs/kpanda/user-guide/workloads/create-job.md
  docs/en/docs/kpanda/user-guide/workloads/create-statefulset.md
  docs/en/navigation.yml
Labels: kpanda, download, en, kangaroo, dce

#2457 [insight] connect upgrade to download page
  docs/en/docs/download/modules/insight.md
  docs/en/docs/insight/quickstart/install/offline-install.md
  docs/zh/docs/download/modules/insight.md
  docs/zh/docs/insight/quickstart/install/offline-install.md
Labels: insight, download, zh, en

#2458 update upgrade and download for ghippo and gmagpie
  docs/en/docs/download/modules/ghippo.md
  docs/en/docs/download/modules/gmagpie.md
  docs/en/docs/ghippo/install/offline-install.md
  docs/en/docs/ghippo/user-guide/report-billing/gmagpie-offline-install.md
  docs/en/navigation.yml
  docs/zh/docs/download/modules/ghippo.md
  docs/zh/docs/download/modules/gmagpie.md
  docs/zh/docs/ghippo/install/offline-install.md
  docs/zh/docs/ghippo/user-guide/report-billing/gmagpie-offline-install.md
Labels: ghippo, download, zh, en

#2461 [kant] update user guide
  docs/zh/docs/download/modules/kant.md
  docs/zh/docs/kant/images/create-unit-01.png
  docs/zh/docs/kant/images/create-unit-02.png
  docs/zh/docs/kant/images/create-unit-03.png
  docs/zh/docs/kant/images/create-unit-04.png
  docs/zh/docs/kant/images/manage-unit-01.png
  docs/zh/docs/kant/images/manage-unit-02.png
  docs/zh/docs/kant/images/manage-unit-03.png
  docs/zh/docs/kant/images/manage-unit-04.png
  docs/zh/docs/kant/intro/offline-upgrade.md
  docs/zh/docs/kant/user-guide/edge-unit/create-unit.md
  docs/zh/docs/kant/user-guide/edge-unit/manage-unit.md
  docs/zh/navigation.yml
Labels: download, zh, kant

#2462 update native (10.9-10.15)
  docs/en/docs/native/commerce.md
  docs/en/docs/native/news/news-2023.md
  docs/en/docs/native/open.md
  docs/zh/docs/native/commerce.md
  docs/zh/docs/native/news/news-2023.md
  docs/zh/docs/native/open.md
Labels: zh, en, native

#2465 Update best practices for kpanda
  docs/zh/docs/kpanda/best-practice/add-worker-node-on-global.md
  docs/zh/docs/kpanda/best-practice/backup-mysql-on-nfs.md
  docs/zh/docs/kpanda/best-practice/create-ubuntu-on-centos-platform.md
  docs/zh/docs/kpanda/best-practice/etcd-backup.md
  docs/zh/docs/kpanda/best-practice/hardening-cluster.md
  docs/zh/docs/kpanda/best-practice/multi-arch.md
  docs/zh/docs/kpanda/best-practice/update-offline-cluster.md
  docs/zh/docs/kpanda/best-practice/use-otherlinux-create-custer.md
  docs/zh/navigation.yml
Labels: kpanda, zh

#2466 Add a video to skoala
  docs/zh/docs/skoala/trad-ms/hosted/services/circuit-breaker.md
  docs/zh/docs/skoala/trad-ms/hosted/services/flow-control.md
  docs/zh/docs/skoala/trad-ms/hosted/services/hotspot.md
  docs/zh/docs/skoala/trad-ms/hosted/services/system.md
  docs/zh/docs/videos/images/sentinel-sys-rule.jpg
  docs/zh/docs/videos/skoala.md
Labels: skoala, zh, videos

#2412 add ecs install dce5.0
  docs/zh/docs/install/images/4.1.png
  docs/zh/docs/install/images/5.1.png
  docs/zh/docs/install/images/6.1.png
  docs/zh/docs/install/images/6.2.png
  docs/zh/docs/install/images/6.3.png
  docs/zh/docs/install/images/6.4.png
  docs/zh/docs/install/images/7.1.png
  docs/zh/docs/install/images/7.2.png
  docs/zh/docs/install/images/ccm01.png
  docs/zh/docs/install/images/ccm02.png
  docs/zh/docs/install/images/dce501.png
  docs/zh/docs/install/images/dce502.png
  docs/zh/docs/install/images/dce503.png
  docs/zh/docs/install/images/ghippo01.png
  docs/zh/docs/install/images/svc01.png
  docs/zh/docs/install/images/svc02.png
  docs/zh/docs/install/images/svc03.png
  docs/zh/docs/install/k8s-install/ecs-install-dce5.0.md
  docs/zh/navigation.yml
Labels: installer, zh

#2467 kairship-fhpa.md
  docs/zh/docs/ghippo/permissions/kpanda.md
  docs/zh/docs/kairship/best-practice/fhpa.md
  docs/zh/docs/kairship/images/fhpa01.png
  docs/zh/docs/kairship/images/fhpa02.png
  docs/zh/docs/kairship/images/fhpa03.png
  docs/zh/docs/kairship/images/fhpa04.png
  docs/zh/docs/kairship/images/fhpa05.png
  docs/zh/docs/kairship/images/fhpa06.png
  docs/zh/docs/kairship/images/fhpa07.png
  docs/zh/docs/kairship/images/fhpa08.png
  docs/zh/docs/kairship/images/fhpa09.png
  docs/zh/docs/kairship/images/fhpa10.png
  docs/zh/docs/kairship/intro/offline-upgrade.md
  docs/zh/navigation.yml
Labels: kairship, ghippo, zh

#2468 update docs
  docs/zh/docs/insight/best-practice/notify-helper.md
  docs/zh/docs/insight/quickstart/install/upgrade-note.md
Labels: insight, zh

#2469 [en] Add ecs-install-dce5.0
  docs/en/docs/install/images/4.1.png
  docs/en/docs/install/images/5.1.png
  docs/en/docs/install/images/7.1.png
  docs/en/docs/install/images/ccm01.png
  docs/en/docs/install/images/ccm02.png
  docs/en/docs/install/images/dce501.png
  docs/en/docs/install/images/dce502.png
  docs/en/docs/install/images/dce503.png
  docs/en/docs/install/images/svc01.png
  docs/en/docs/install/images/svc02.png
  docs/en/docs/install/images/svc03.png
  docs/en/docs/install/k8s-install/ecs-install-dce5.0.md
  docs/en/navigation.yml
  docs/zh/docs/install/k8s-install/ecs-install-dce5.0.md
  docs/zh/navigation.yml
Labels: installer, zh, en

#2470 [kant] update user guide
  docs/zh/docs/kant/images/create-app-01.png
  docs/zh/docs/kant/images/create-app-02.png
  docs/zh/docs/kant/images/create-app-03.png
  docs/zh/docs/kant/images/create-app-04.png
  docs/zh/docs/kant/images/create-app-05.png
  docs/zh/docs/kant/images/create-app-06.png
  docs/zh/docs/kant/images/create-app-07.png
  docs/zh/docs/kant/images/create-app-08.png
  docs/zh/docs/kant/images/create-app-09.png
  docs/zh/docs/kant/images/create-app-10.png
  docs/zh/docs/kant/images/create-app-11.png
  docs/zh/docs/kant/images/create-app-12.png
  docs/zh/docs/kant/images/create-app-13.png
  docs/zh/docs/kant/images/create-app-14.png
  docs/zh/docs/kant/images/create-batch-app-01.png
  docs/zh/docs/kant/images/create-batch-app-02.png
  docs/zh/docs/kant/images/create-batch-app-03.png
  docs/zh/docs/kant/images/create-batch-app-04.png
  docs/zh/docs/kant/images/create-batch-app-05.png
  docs/zh/docs/kant/images/deploy-01.png
  docs/zh/docs/kant/images/deploy-02.png
  docs/zh/docs/kant/images/deploy-03.png
  docs/zh/docs/kant/images/deploy-04.png
  docs/zh/docs/kant/images/overview-app-01.png
  docs/zh/docs/kant/images/overview-app-02.png
  docs/zh/docs/kant/user-guide/edge-app/create-app.md
  docs/zh/docs/kant/user-guide/edge-app/create-batch-app.md
  docs/zh/docs/kant/user-guide/edge-app/deploy.md
  docs/zh/docs/kant/user-guide/edge-app/overview.md
  docs/zh/docs/kant/user-guide/edge-unit/create-unit.md
  docs/zh/navigation.yml
Labels: zh, kant

#2471 Update doc
  docs/zh/docs/insight/best-practice/notify-helper.md
Labels: insight, zh

#2472 update GPU matrix
  docs/zh/docs/kpanda/user-guide/gpu/gpu_matrix.md
  docs/zh/docs/kpanda/user-guide/gpu/vgpu_quota.md
Labels: kpanda, zh

#2474 Update emoji logic to material.extensions.emoji.to_svg
  docs/en/mkdocs.yml
  docs/zh/mkdocs.yml
Labels: zh, en

#2475 Fix layout in kpanda/gpu
  docs/zh/docs/kpanda/user-guide/gpu/Ascend_usage.md
  docs/zh/docs/kpanda/user-guide/gpu/Iluvatar_usage.md
  docs/zh/docs/kpanda/user-guide/gpu/create_mig.md
  docs/zh/docs/kpanda/user-guide/gpu/gpu_matrix.md
Labels: kpanda, zh

#2473 [en] Sync permission, bp, ws, and upgrade steps for kairship
  docs/en/docs/ghippo/permissions/kpanda.md
  docs/en/docs/kairship/best-practice/fhpa.md
  docs/en/docs/kairship/instance/workspace.md
  docs/en/docs/kairship/intro/offline-upgrade.md
  docs/en/docs/kairship/workspace.md
  docs/en/navigation.yml
Labels: kairship, ghippo, en

#2476 Fix issues in amamba intro and quickstart pages
  docs/en/docs/amamba/faq/faq-gitops.md
  docs/en/docs/amamba/faq/faq-jenkins.md
  docs/en/docs/amamba/intro/faq.md
  docs/en/docs/amamba/intro/scenarios.md
  docs/en/docs/amamba/quickstart/argocd-jenkins.md
  docs/en/docs/amamba/quickstart/argocd-rollout.md
  docs/en/docs/amamba/quickstart/pipeline-on-node.md
  docs/en/docs/amamba/quickstart/scan-with-harbor.md
  docs/en/docs/amamba/quickstart/scan-with-pipeline.md
  docs/en/docs/amamba/user-guide/pipeline/edit.md
  docs/en/navigation.yml
  docs/zh/docs/amamba/faq/faq-gitops.md
  docs/zh/docs/amamba/faq/faq-jenkins.md
  docs/zh/docs/amamba/intro/index.md
  docs/zh/docs/amamba/quickstart/argocd-jenkins.md
  docs/zh/docs/amamba/quickstart/argocd-rollout.md
  docs/zh/docs/amamba/quickstart/pipeline-on-node.md
  docs/zh/navigation.yml
Labels: amamba, zh, en

#2477 Adapt video nav with docs
  docs/en/docs/videos/index.md
  docs/en/docs/videos/use-cases.md
  docs/en/navigation.yml
  docs/zh/docs/videos/index.md
  docs/zh/docs/videos/use-cases.md
  docs/zh/navigation.yml
Labels: zh, en, videos

#2478 [en] Sync download pages for modules
  docs/en/docs/download/index.md
  docs/en/docs/download/modules/dowl.md
  docs/en/docs/download/modules/gmagpie.md
  docs/en/docs/download/modules/kairship.md
  docs/en/docs/download/modules/kangaroo.md
  docs/en/docs/download/modules/kcollie.md
  docs/en/docs/download/modules/kcoral.md
  docs/en/docs/download/modules/kpanda.md
  docs/en/docs/download/modules/mspider.md
  docs/zh/docs/download/index.md
  docs/zh/docs/download/modules/dowl.md
  docs/zh/docs/download/modules/kairship.md
  docs/zh/docs/download/modules/kangaroo.md
  docs/zh/docs/download/modules/kcollie.md
  docs/zh/docs/download/modules/kcoral.md
  docs/zh/docs/download/modules/kpanda.md
  docs/zh/docs/download/modules/mspider.md
Labels: download, zh, en

#2481 update argo-roolout
  docs/zh/docs/amamba/images/application01.png
  docs/zh/docs/amamba/images/application02.png
  docs/zh/docs/amamba/images/application03.png
  docs/zh/docs/amamba/images/application04.png
  docs/zh/docs/amamba/images/application05.png
  docs/zh/docs/amamba/quickstart/argocd-rollout.md
Labels: amamba, zh

#2484 [en] Update amamba intro pages
  docs/en/docs/amamba/faq/faq-jenkins.md
  docs/en/docs/amamba/intro/features.md
  docs/en/docs/amamba/intro/index.md
  docs/en/docs/amamba/offline-upgrade.md
  docs/en/docs/middleware/redis/best-practice/cluster2cluster.md
  docs/en/docs/middleware/redis/best-practice/cluster2sentinel.md
  docs/zh/docs/amamba/offline-upgrade.md
Labels: midware, amamba, zh, en

#2483 creatmultus-cr
  docs/zh/docs/network/configration/egressgateway.md
  docs/zh/docs/network/configration/multus-cr.md
  docs/zh/docs/network/images/networkconfig01.png
  docs/zh/docs/network/images/networkconfig02.png
  docs/zh/docs/network/images/networkconfig03.png
  docs/zh/docs/network/images/networkconfig04.png
  docs/zh/docs/network/images/networkconfig05.png
  docs/zh/docs/network/images/subnet01.png
  docs/zh/docs/network/images/subnet02.png
  docs/zh/docs/network/images/subnet03.png
  docs/zh/docs/network/images/subnet04.png
  docs/zh/docs/network/images/subnet05.png
  docs/zh/docs/network/images/useippool06.png
  docs/zh/docs/network/images/useippool07.png
  docs/zh/docs/network/modules/spiderpool/createpool.md
  docs/zh/docs/network/modules/spiderpool/cutomizedusage.md
  docs/zh/docs/network/modules/spiderpool/usage.md
  docs/zh/navigation.yml
Labels: zh, network

#2487 update-ingress
  docs/zh/docs/kpanda/images/ingress01.png
  docs/zh/docs/kpanda/images/ingress02.png
  docs/zh/docs/kpanda/images/ingress03.png
  docs/zh/docs/kpanda/images/ingress04.png
  docs/zh/docs/kpanda/images/ingress05.png
  docs/zh/docs/kpanda/user-guide/network/create-ingress.md
  docs/zh/docs/network/config/multus-cr.md
  docs/zh/docs/network/images/ingress01.png
Labels: kpanda, zh, network

#2489 Keep consistency for some words
  docs/en/docs/amamba/intro/index.md
  docs/en/docs/download/addon/v0.10.0.md
  docs/en/docs/download/addon/v0.11.0.md
  docs/en/docs/download/business/.dce5-installer-template.md
  docs/en/docs/download/free/.dce5-installer-template.md
  docs/en/docs/download/modules/middleware/elasticsearch.md
  docs/en/docs/download/modules/middleware/kafka.md
  docs/en/docs/download/modules/middleware/minio.md
  docs/en/docs/download/modules/middleware/mongodb.md
  docs/en/docs/download/modules/middleware/mysql.md
  docs/en/docs/download/modules/middleware/postgresql.md
  docs/en/docs/download/modules/middleware/rabbitmq.md
  docs/en/docs/download/modules/middleware/redis.md
  docs/en/docs/install/k8s-install/ecs-install-dce5.0.md
  docs/en/docs/kairship/intro/offline-upgrade.md
  docs/en/docs/kant/user-guide/node/managed-node.md
  docs/en/docs/kpanda/user-guide/backup/offline-upgrade.md
  docs/en/docs/kpanda/user-guide/inspect/offline-upgrade.md
  docs/en/docs/kpanda/user-guide/security/offline-upgrade-dowl.md
  docs/en/docs/middleware/mysql/faq/faq-master-slave.md
  docs/en/docs/trial/index.md
  docs/en/docs/virtnest/intro/index.md
  docs/en/docs/virtnest/quick-start/nodeport.md
  docs/zh/docs/virtnest/intro/index.md
Labels: midware, kairship, kpanda, amamba, installer, download, zh, en, kant, trial

#2490 fix: mkdocs-metrial remove emoji resource
  docs/en/mkdocs.yml
  docs/zh/mkdocs.yml
Labels: zh, en

#2493 remove: pull request test without strict
  .github/workflows/pull-request-test.yaml
Labels: develop

#2491 update kubean
  docs/zh/docs/install/commercial/start-install.md
Labels: installer, zh

#2495 Update run_netlify.sh
  scripts/run_netlify.sh
Labels: develop

#2497 kant document optimization
  docs/zh/docs/kant/images/node-managed-01.png
  docs/zh/docs/kant/user-guide/edge-app/create-app.md
  docs/zh/docs/kant/user-guide/edge-app/create-batch-app.md
  docs/zh/docs/kant/user-guide/edge-unit/create-unit.md
  docs/zh/docs/kant/user-guide/edge-unit/manage-unit.md
  docs/zh/docs/kant/user-guide/node/join-rqmt.md
  docs/zh/docs/kant/user-guide/route/index.md
Labels: zh, kant

#2498 Add upgrade yum source of preset offline package.md
  docs/zh/docs/kpanda/user-guide/gpu/nvidia/Upgrade_yum_source_of_preset_offline_package.md
  docs/zh/navigation.yml
Labels: kpanda, zh

#2494 update multus cr
  docs/zh/docs/network/config/multus-cr.md
  docs/zh/docs/network/modules/spiderpool/usage.md
Labels: zh, network

#2499 download: kcollie version updated to v0.5.1
  docs/zh/docs/download/modules/kcollie.md
Labels: download, zh

#2503 Add one more video to skoala
  docs/en/docs/videos/images/authn-rule.jpg
  docs/en/docs/videos/images/sentinel-sys-rule.jpg
  docs/en/docs/videos/skoala.md
  docs/zh/docs/videos/images/authn-rule.jpg
  docs/zh/docs/videos/skoala.md
Labels: zh, en, videos

#2502 update insight-agent logo and ipavo logo
  docs/zh/docs/insight/images/insight-agent.svg
  docs/zh/docs/insight/images/ipavo.svg
Labels: insight, zh

#2506 fix chart name not right
  docs/zh/docs/download/index.md
  docs/zh/docs/download/modules/middleware/elasticsearch.md
  docs/zh/docs/download/modules/middleware/kafka.md
  docs/zh/docs/download/modules/middleware/minio.md
  docs/zh/docs/download/modules/middleware/mongodb.md
  docs/zh/docs/download/modules/middleware/mysql.md
  docs/zh/docs/download/modules/middleware/postgresql.md
  docs/zh/docs/download/modules/middleware/rabbitmq.md
  docs/zh/docs/download/modules/middleware/redis.md
Labels: download, zh

#2508 1020
  docs/zh/docs/amamba/images/git01.png
  docs/zh/docs/amamba/images/git02.png
  docs/zh/docs/amamba/images/git03.png
  docs/zh/docs/amamba/images/git04.png
  docs/zh/docs/amamba/images/git05.png
  docs/zh/docs/amamba/images/jar01.png
  docs/zh/docs/amamba/images/jar02.png
  docs/zh/docs/amamba/user-guide/wizard/create-app-git.md
  docs/zh/docs/amamba/user-guide/wizard/jar-java-app.md
  docs/zh/docs/install/commercial/start-install.md
  docs/zh/docs/install/community/k8s/offline.md
  docs/zh/docs/install/community/k8s/online.md
  docs/zh/docs/install/community/kind/online.md
  docs/zh/docs/kpanda/best-practice/multi-arch.md
Labels: kpanda, amamba, installer, zh

#2509 Add en version to pdf-generating-guide
  README_zh.md
  scripts/generate_pdf.md
  scripts/generate_pdf_zh.md
Labels: develop

#2510 add en spidernet offline upgrade
  docs/en/docs/network/intro/offline.md
  docs/en/navigation.yml
Labels: en, network

#2511 update native (10.16-10.22)
  docs/en/docs/native/commerce.md
  docs/en/docs/native/images/Magic_Quadrant.png
  docs/en/docs/native/news/news-2023.md
  docs/en/docs/native/open.md
  docs/zh/docs/native/commerce.md
  docs/zh/docs/native/news/images/Magic_Quadrant.png
  docs/zh/docs/native/news/news-2023.md
  docs/zh/docs/native/open.md
Labels: zh, en, native

#2515 add configmap hot loading
  docs/zh/docs/kpanda/images/configmap-hot-loading.jpg
  docs/zh/docs/kpanda/images/user_configmap_to_volume.jpg
  docs/zh/docs/kpanda/user-guide/configmaps-secrets/configmap-hot-loading.md
  docs/zh/navigation.yml
Labels: kpanda, zh

#2512 Update install_nvidia_driver_of_operator.md
  docs/zh/docs/kpanda/user-guide/gpu/nvidia/install_nvidia_driver_of_operator.md
Labels: kpanda, zh

#2513 fix some bug on gpu docs
  docs/zh/docs/kpanda/user-guide/gpu/index.md
  docs/zh/docs/kpanda/user-guide/gpu/nvidia/Upgrade_yum_source_of_preset_offline_package.md
  docs/zh/docs/kpanda/user-guide/gpu/nvidia/full_gpu_userguide.md
  docs/zh/docs/kpanda/user-guide/gpu/nvidia/mig/mig_index.md
  docs/zh/docs/kpanda/user-guide/gpu/nvidia/mig/mig_usage.md
  docs/zh/docs/kpanda/user-guide/gpu/nvidia/vgpu/vgpu_addon.md
  docs/zh/docs/kpanda/user-guide/gpu/nvidia/vgpu/vgpu_user.md
  docs/zh/docs/kpanda/user-guide/gpu/vgpu_quota.md
Labels: kpanda, zh

#2514 fix some bug with kcoral and kcollie
  docs/zh/docs/kpanda/user-guide/backup/offline-upgrade.md
  docs/zh/docs/kpanda/user-guide/inspect/offline-upgrade.md
Labels: kpanda, zh

#2517 [en] Sync commercial-install
  docs/en/docs/install/commercial/start-install.md
  docs/zh/docs/install/commercial/deploy-arch.md
  docs/zh/docs/install/commercial/start-install.md
Labels: installer, zh, en

#2516 add multus notes
  docs/zh/docs/network/config/multus-cr.md
Labels: zh, network

#2501 add virtnest download
  docs/zh/docs/download/index.md
  docs/zh/docs/download/modules/virtnest.md
  docs/zh/docs/virtnest/install/offline-install.md
  docs/zh/navigation.yml
Labels: download, zh

#2518 fix offline docs
  docs/en/docs/amamba/offline-upgrade.md
  docs/en/docs/ghippo/install/offline-install.md
  docs/en/docs/ghippo/user-guide/report-billing/gmagpie-offline-install.md
  docs/en/docs/insight/quickstart/install/offline-install.md
  docs/en/docs/kairship/intro/offline-upgrade.md
  docs/en/docs/kangaroo/intro/upgrade.md
  docs/en/docs/kpanda/intro/offline-upgrade.md
  docs/en/docs/kpanda/user-guide/backup/offline-upgrade.md
  docs/en/docs/kpanda/user-guide/inspect/offline-upgrade.md
  docs/en/docs/kpanda/user-guide/security/offline-upgrade-dowl.md
  docs/en/docs/network/intro/offline.md
  docs/en/docs/skoala/quickstart/offline-upgrade.md
  docs/zh/docs/amamba/offline-upgrade.md
  docs/zh/docs/ghippo/install/offline-install.md
  docs/zh/docs/ghippo/user-guide/report-billing/gmagpie-offline-install.md
  docs/zh/docs/insight/quickstart/install/offline-install.md
  docs/zh/docs/install/release-notes.md
  docs/zh/docs/kairship/intro/offline-upgrade.md
  docs/zh/docs/kangaroo/intro/upgrade.md
  docs/zh/docs/kant/intro/offline-upgrade.md
  docs/zh/docs/kpanda/intro/offline-upgrade.md
  docs/zh/docs/kpanda/user-guide/backup/offline-upgrade.md
  docs/zh/docs/kpanda/user-guide/inspect/offline-upgrade.md
  docs/zh/docs/kpanda/user-guide/security/offline-upgrade-dowl.md
  docs/zh/docs/middleware/minio/user-guide/offline-install.md
  docs/zh/docs/network/intro/offline.md
  docs/zh/docs/skoala/quickstart/offline-upgrade.md
  docs/zh/docs/virtnest/install/offline-install.md
Labels: skoala, midware, kairship, insight, kpanda, amamba, ghippo, installer, zh, en, kangaroo, network, kant

#2519 fix virtnest offline install
  docs/zh/docs/virtnest/install/offline-install.md
Labels: zh

#2520 mcamel: redis sync & msyql sync
  docs/zh/docs/middleware/minio/user-guide/offline-install.md
  docs/zh/docs/middleware/mysql/best-practice/crossclusterssync.md
  docs/zh/docs/middleware/mysql/images/sync01.png
  docs/zh/docs/middleware/mysql/images/sync02.png
  docs/zh/docs/middleware/mysql/images/sync03.png
  docs/zh/docs/middleware/mysql/images/sync04.png
  docs/zh/docs/middleware/mysql/images/sync05.png
  docs/zh/docs/middleware/mysql/images/sync06.png
  docs/zh/docs/middleware/redis/best-practice/singleclustercrosszone.md
  docs/zh/docs/middleware/redis/images/sync26.png
  docs/zh/docs/middleware/redis/images/sync27.png
  docs/zh/docs/middleware/redis/images/sync28.png
  docs/zh/docs/middleware/redis/images/sync29.png
  docs/zh/navigation.yml
Labels: midware, zh

#2521 add virtnest
  docs/zh/docs/virtnest/images/create-tep01.png
  docs/zh/docs/virtnest/images/create-tep02.png
  docs/zh/docs/virtnest/images/create-tep03.png
  docs/zh/docs/virtnest/images/create-tep04.png
  docs/zh/docs/virtnest/images/create-tep05.png
  docs/zh/docs/virtnest/images/create-tep06.png
  docs/zh/docs/virtnest/images/create-tep07.png
  docs/zh/docs/virtnest/images/create-tep08.png
  docs/zh/docs/virtnest/images/tep01.png
  docs/zh/docs/virtnest/images/tep02.png
  docs/zh/docs/virtnest/images/tep03.png
  docs/zh/docs/virtnest/images/tep04.png
  docs/zh/docs/virtnest/images/tep05.png
  docs/zh/docs/virtnest/images/virtnest001.png
  docs/zh/docs/virtnest/images/virtnest002.png
  docs/zh/docs/virtnest/images/virtnest003.png
  docs/zh/docs/virtnest/images/virtnest004.png
  docs/zh/docs/virtnest/images/virtnest005.png
  docs/zh/docs/virtnest/images/virtnest006.png
  docs/zh/docs/virtnest/intro/install.md
  docs/zh/docs/virtnest/intro/offline-update.md
  docs/zh/docs/virtnest/quick-start/agent.md
  docs/zh/docs/virtnest/quick-start/create-image.md
  docs/zh/docs/virtnest/quick-start/create-tep.md
  docs/zh/docs/virtnest/quick-start/tep.md
  docs/zh/navigation.yml
Labels: zh

#2522 snapshot and access.md
  docs/zh/docs/virtnest/images/console01.png
  docs/zh/docs/virtnest/images/console02.png
  docs/zh/docs/virtnest/images/snapshot01.png
  docs/zh/docs/virtnest/images/snapshot02.png
  docs/zh/docs/virtnest/images/snapshot03.png
  docs/zh/docs/virtnest/images/snapshot04.png
  docs/zh/docs/virtnest/images/snapshot05.png
  docs/zh/docs/virtnest/quick-start/access.md
  docs/zh/docs/virtnest/quick-start/snapshot.md
  docs/zh/navigation.yml
Labels: zh

#2523 update spiderpool docs
  docs/zh/docs/download/modules/spidernet.md
  docs/zh/docs/network/intro/offline.md
  docs/zh/docs/network/modules/spiderpool/upgrade.md
Labels: download, zh, network

#2524 Add a label: virtnest
  .github/labeler.yml
Labels: develop

#2526 vlan configration
  docs/zh/docs/network/config/multus-cr.md
Labels: zh, network

#2529 update ws-best-practice
  docs/zh/docs/ghippo/user-guide/workspace/ws-best-practice.md
  docs/zh/docs/kangaroo/images/harbor-access.png
  docs/zh/docs/kangaroo/managed/harbor.md
Labels: ghippo, zh, kangaroo

#2528 update insight docs
  docs/zh/docs/insight/images/cluster00.png
  docs/zh/docs/insight/images/dashboard00.png
  docs/zh/docs/insight/images/dashboard01.png
  docs/zh/docs/insight/images/namespace00.png
  docs/zh/docs/insight/images/node00.png
  docs/zh/docs/insight/images/overview.png
  docs/zh/docs/insight/images/servicemap00.png
  docs/zh/docs/insight/node00.png
  docs/zh/docs/insight/user-guide/dashboard/dashboard.md
  docs/zh/docs/insight/user-guide/dashboard/import-dashboard.md
  docs/zh/docs/insight/user-guide/dashboard/login-grafana.md
  docs/zh/docs/insight/user-guide/dashboard/overview.md
  docs/zh/docs/insight/user-guide/scenario-insight/cluster.md
  docs/zh/docs/insight/user-guide/scenario-insight/container.md
  docs/zh/docs/insight/user-guide/scenario-insight/namespace.md
  docs/zh/docs/insight/user-guide/scenario-insight/node.md
  docs/zh/docs/insight/user-guide/scenario-insight/topology.md
  docs/zh/navigation.yml
Labels: insight, zh

#2533 update iluvatar gpu
  docs/zh/docs/kpanda/user-guide/gpu/Iluvatar_usage.md
Labels: kpanda, zh

#2530 add a doc: how to integrate a rancher cluster
  docs/zh/docs/kpanda/user-guide/clusters/integrate-rancher-cluster.md
  docs/zh/navigation.yml
Labels: kpanda, zh

#2531 modify the image and envs in command
  docs/zh/docs/insight/quickstart/otel/operator.md
Labels: insight, zh

#2535 modify the size of photos
  docs/zh/docs/insight/user-guide/dashboard/dashboard.md
  docs/zh/docs/insight/user-guide/dashboard/overview.md
  docs/zh/docs/insight/user-guide/scenario-insight/cluster.md
  docs/zh/docs/insight/user-guide/scenario-insight/namespace.md
  docs/zh/docs/insight/user-guide/scenario-insight/node.md
  docs/zh/docs/insight/user-guide/scenario-insight/topology.md
Labels: insight, zh

#2534 namespace/multus
  docs/zh/docs/network/config/multus-cr.md
  docs/zh/docs/network/modules/spiderpool/createpool.md
Labels: zh, network

#2536 update the photos
  docs/zh/docs/insight/images/log00.png
  docs/zh/docs/insight/images/log01.png
  docs/zh/docs/insight/images/logcontext.png
  docs/zh/docs/insight/images/logfilter00.png
  docs/zh/docs/insight/images/service00.png
  docs/zh/docs/insight/images/service01.png
  docs/zh/docs/insight/images/workload00.png
  docs/zh/docs/insight/images/workload01.png
  docs/zh/docs/insight/user-guide/data-query/log.md
  docs/zh/docs/insight/user-guide/scenario-insight/container.md
  docs/zh/docs/insight/user-guide/scenario-insight/service.md
  docs/zh/navigation.yml
Labels: insight, zh

#2537 mcamel: minio offlineInstall
  docs/zh/docs/middleware/minio/user-guide/offline-install.md
Labels: midware, zh

#2538 update kangaroo offline upgrade
  docs/en/docs/kangaroo/intro/upgrade.md
  docs/zh/docs/kangaroo/intro/upgrade.md
Labels: zh, en, kangaroo

#2539 add more source ip doc
  docs/zh/docs/install/commercial/cluster-config.md
  docs/zh/docs/network/modules/metallb/source_ip.md
Labels: installer, zh, network

#2541 add yaml
  docs/zh/docs/virtnest/quick-start/create-image.md
Labels: zh, virtnest

#2542 update intro
  docs/zh/docs/kangaroo/images/harbordesign.png
  docs/zh/docs/kangaroo/intro/index.md
Labels: zh, kangaroo

#2543 virtnest-Prerequisites
  docs/zh/docs/virtnest/quick-start/create-image.md
Labels: zh, virtnest

#2486 download: mspider version updated to v0.20.2
  docs/zh/docs/download/index.md
  docs/zh/docs/download/modules/mspider.md
Labels: wip, download, zh

#2544 update release-notes to 0.28.0
  docs/zh/docs/skoala/intro/release-notes.md
Labels: skoala, zh

#2545 Add skoala offline download page
  docs/zh/docs/download/index.md
  docs/zh/docs/download/modules/skoala.md
  docs/zh/navigation.yml
Labels: download, zh

#2546 [en] Add download and update rn for skoala
  docs/en/docs/download/index.md
  docs/en/docs/download/modules/mspider.md
  docs/en/docs/download/modules/skoala.md
  docs/en/docs/skoala/intro/release-notes.md
  docs/en/navigation.yml
  docs/zh/docs/download/modules/mspider.md
Labels: skoala, download, zh, en

#2547 download: kcollie version updated to v0.5.2
  docs/zh/docs/download/modules/kcollie.md
Labels: download, zh

#2548 download: kcoral version updated to v0.6.0
  docs/zh/docs/download/modules/kcoral.md
Labels: download, zh

#2549 download: kairship version updated to v0.13.0
  docs/zh/docs/download/index.md
  docs/zh/docs/download/modules/kairship.md
Labels: download, zh

#2550 add redhat8.4 on gpu
  docs/zh/docs/kpanda/user-guide/gpu/nvidia/install_nvidia_driver_of_operator.md
  docs/zh/docs/kpanda/user-guide/gpu/nvidia/upgrade_yum_source_centos7_9.md
  docs/zh/docs/kpanda/user-guide/gpu/nvidia/upgrade_yum_source_redhat8_4.md
  docs/zh/navigation.yml
Labels: kpanda, zh

#2551 Fix yaml indentations in mesh-config
  docs/en/docs/mspider/user-guide/mesh-config/istio-resources.md
  docs/zh/docs/mspider/user-guide/mesh-config/istio-resources.md
Labels: mspider, zh, en

#2554 mcamel: upate for offlineinstall
  docs/zh/docs/middleware/elasticsearch/intro/offline-install.md
  docs/zh/docs/middleware/kafka/intro/offline-install.md
  docs/zh/docs/middleware/minio/intro/offline-install.md
  docs/zh/docs/middleware/mongodb/intro/offline-install.md
  docs/zh/docs/middleware/mysql/intro/offline-install.md
  docs/zh/docs/middleware/postgresql/intro/offline-install.md
  docs/zh/docs/middleware/rabbitmq/intro/offline-install.md
  docs/zh/docs/middleware/redis/intro/offline-install.md
  docs/zh/docs/middleware/rocketmq/intro/offline-install.md
  docs/zh/navigation.yml
Labels: midware, zh

#2555 [en] Add multicloud traffic control to mspider
  docs/en/docs/mspider/best-practice/images/multinet01.png
  docs/en/docs/mspider/best-practice/images/multinet02.png
  docs/en/docs/mspider/best-practice/images/multinet03.png
  docs/en/docs/mspider/best-practice/images/multinet04.png
  docs/en/docs/mspider/best-practice/images/multinet05.png
  docs/en/docs/mspider/best-practice/images/multinet06.png
  docs/en/docs/mspider/best-practice/images/multinet07.png
  docs/en/docs/mspider/best-practice/multinet-control.md
  docs/en/navigation.yml
Labels: mspider, en

#2556 [en] Add custom workloads to mspider
  docs/en/docs/mspider/best-practice/use-custom-workloads.md
  docs/zh/docs/mspider/best-practice/use-custom-workloads.md
Labels: mspider, zh, en

#2557 add spiderpool video
  docs/zh/docs/videos/images/net-spiderpool.jpeg
  docs/zh/docs/videos/network.md
Labels: zh, videos

#2559 add push_image_to_firerepo.md
  docs/zh/docs/kpanda/user-guide/gpu/nvidia/install_nvidia_driver_of_operator.md
  docs/zh/docs/kpanda/user-guide/gpu/nvidia/push_image_to_repo.md
  docs/zh/docs/kpanda/user-guide/gpu/nvidia/vgpu/vgpu_user.md
  docs/zh/navigation.yml
Labels: kpanda, zh

#2558 download: skoala version updated to v0.28.0
  docs/zh/docs/download/index.md
  docs/zh/docs/download/modules/skoala.md
Labels: download, zh

#2560 download: kant version updated to 0.5.0
  docs/zh/docs/download/modules/kant.md
Labels: download, zh

#2561 fix some bug on gpu operator
  docs/zh/docs/kpanda/user-guide/gpu/nvidia/install_nvidia_driver_of_operator.md
  docs/zh/docs/kpanda/user-guide/gpu/nvidia/upgrade_yum_source_centos7_9.md
  docs/zh/docs/kpanda/user-guide/gpu/nvidia/upgrade_yum_source_redhat8_4.md
Labels: kpanda, zh

#2563 update kant download package version
  docs/en/docs/download/modules/kant.md
  docs/zh/docs/download/modules/kant.md
Labels: download, zh, en

#2564 create multi-architecture helm
  docs/zh/docs/kpanda/images/multi-arch-helm.png
  docs/zh/docs/kpanda/user-guide/helm/multi-architecture-helm.md
Labels: kpanda, zh

#2565 update offline-upgrade
  docs/zh/docs/kpanda/images/clusterlist.png
  docs/zh/docs/kpanda/images/update-kpanda.png
  docs/zh/docs/kpanda/intro/offline-upgrade.md
Labels: kpanda, zh

#2566 download: mspider version updated to v0.20.3
  docs/zh/docs/download/index.md
  docs/zh/docs/download/modules/mspider.md
Labels: download, zh

#2567 download: kangaroo version updated to 0.12.0
  docs/zh/docs/download/index.md
  docs/zh/docs/download/modules/kangaroo.md
Labels: download, zh

#2568 mspider: Issue with Sidecar Configuration Activation
  docs/en/docs/mspider/troubleshoot/index.md
  docs/en/docs/mspider/troubleshoot/sidecar.md
  docs/en/navigation.yml
  docs/zh/docs/mspider/troubleshoot/index.md
  docs/zh/docs/mspider/troubleshoot/sidecar.md
  docs/zh/navigation.yml
Labels: mspider, zh, en

#2569 mspider: add authorizedpolicy precautions
  docs/en/docs/mspider/user-guide/security/params.md
  docs/zh/docs/mspider/user-guide/security/params.md
Labels: mspider, zh, en

#2571 mspider: upgrade service mesh module
  docs/en/docs/mspider/install/offline-upgrade.md
  docs/en/navigation.yml
  docs/zh/docs/mspider/install/offline-upgrade.md
  docs/zh/navigation.yml
Labels: mspider, zh, en

#2570 mspider: modify cluster interconnect config and add troubleshoot doc
  docs/zh/docs/mspider/troubleshoot/cluster-interconnect.md
  docs/zh/docs/mspider/troubleshoot/images/cluster-interconnect01.png
  docs/zh/docs/mspider/troubleshoot/index.md
  docs/zh/docs/mspider/user-guide/multicluster/cluster-interconnect.md
Labels: mspider, zh

#2572 mspider: update oct release note
  docs/en/docs/mspider/intro/release-notes.md
  docs/zh/docs/mspider/intro/release-notes.md
Labels: mspider, zh, en

#2575 add olm
  docs/zh/docs/kpanda/images/csv1.png
  docs/zh/docs/kpanda/images/csv2.png
  docs/zh/docs/kpanda/images/olm.png
  docs/zh/docs/kpanda/images/olm1.png
  docs/zh/docs/kpanda/images/olm2.png
  docs/zh/docs/kpanda/images/olm3.png
  docs/zh/docs/kpanda/user-guide/olm/import-miniooperator.md
  docs/zh/navigation.yml
Labels: kpanda, zh

#2576 Add en text to all gpu docs
  docs/en/docs/kpanda/user-guide/gpu/Ascend_usage.md
  docs/en/docs/kpanda/user-guide/gpu/Iluvatar_usage.md
  docs/en/docs/kpanda/user-guide/gpu/create_mig.md
  docs/en/docs/kpanda/user-guide/gpu/gpu_matrix.md
  docs/en/docs/kpanda/user-guide/gpu/index.md
  docs/en/docs/kpanda/user-guide/gpu/mig_command.md
  docs/en/docs/kpanda/user-guide/gpu/mig_index.md
  docs/en/docs/kpanda/user-guide/gpu/mig_usage.md
  docs/en/docs/kpanda/user-guide/gpu/nvidia/full_gpu_userguide.md
  docs/en/docs/kpanda/user-guide/gpu/nvidia/index.md
  docs/en/docs/kpanda/user-guide/gpu/nvidia/install_nvidia_driver_of_operator.md
  docs/en/docs/kpanda/user-guide/gpu/nvidia/mig/create_mig.md
  docs/en/docs/kpanda/user-guide/gpu/nvidia/mig/index.md
  docs/en/docs/kpanda/user-guide/gpu/nvidia/mig/mig_command.md
  docs/en/docs/kpanda/user-guide/gpu/nvidia/mig/mig_usage.md
  docs/en/docs/kpanda/user-guide/gpu/nvidia/push_image_to_repo.md
  docs/en/docs/kpanda/user-guide/gpu/nvidia/upgrade_yum_source_centos7_9.md
  docs/en/docs/kpanda/user-guide/gpu/nvidia/upgrade_yum_source_redhat8_4.md
  docs/en/docs/kpanda/user-guide/gpu/nvidia/vgpu/vgpu_addon.md
  docs/en/docs/kpanda/user-guide/gpu/nvidia/vgpu/vgpu_user.md
  docs/en/docs/kpanda/user-guide/gpu/vgpu_addon.md
  docs/en/docs/kpanda/user-guide/gpu/vgpu_driver.md
  docs/en/docs/kpanda/user-guide/gpu/vgpu_quota.md
  docs/en/docs/kpanda/user-guide/gpu/vgpu_user.md
  docs/en/navigation.yml
  docs/zh/docs/kpanda/user-guide/gpu/nvidia/index.md
  docs/zh/docs/kpanda/user-guide/gpu/nvidia/install_nvidia_driver_of_operator.md
  docs/zh/docs/kpanda/user-guide/gpu/nvidia/mig/create_mig.md
  docs/zh/docs/kpanda/user-guide/gpu/nvidia/mig/index.md
  docs/zh/docs/kpanda/user-guide/gpu/nvidia/push_image_to_repo.md
  docs/zh/docs/kpanda/user-guide/gpu/nvidia/upgrade_yum_source_centos7_9.md
  docs/zh/docs/kpanda/user-guide/gpu/nvidia/upgrade_yum_source_redhat8_4.md
  docs/zh/docs/kpanda/user-guide/gpu/nvidia/vgpu/vgpu_user.md
  docs/zh/navigation.yml
Labels: kpanda, zh, en

#2577 Add en text to all offline upgrade docs for midware
  docs/en/docs/middleware/elasticsearch/intro/offline-install.md
  docs/en/docs/middleware/kafka/intro/offline-install.md
  docs/en/docs/middleware/minio/intro/offline-install.md
  docs/en/docs/middleware/mongodb/intro/offline-install.md
  docs/en/docs/middleware/mysql/intro/offline-install.md
  docs/en/docs/middleware/postgresql/intro/offline-install.md
  docs/en/docs/middleware/rabbitmq/intro/offline-install.md
  docs/en/docs/middleware/redis/intro/offline-install.md
  docs/en/docs/middleware/rocketmq/intro/offline-install.md
  docs/en/navigation.yml
  docs/zh/docs/middleware/postgresql/intro/offline-install.md
  docs/zh/navigation.yml
Labels: midware, zh, en

#2578 Update new features from v0.26.0 to v0.28.0
  docs/zh/docs/skoala/intro/release-notes.md
Labels: skoala, zh

#2579 Update navigation.yml
  docs/zh/navigation.yml
Labels: zh
