Repository DaoCloud/DaoCloud-docs, pull requests merged in 2023-11, with the labels that each got.

#2594 update amamba docs
  docs/en/docs/amamba/faq/faq-jenkins.md
  docs/zh/docs/amamba/faq/faq-jenkins.md
  docs/zh/docs/amamba/quickstart/argocd-jenkins.md
  docs/zh/docs/amamba/quickstart/deploy-pipeline.md
  docs/zh/docs/amamba/quickstart/jenkins-custom.md
  docs/zh/docs/amamba/quickstart/pipeline-on-node.md
  docs/zh/docs/amamba/quickstart/scan-with-harbor.md
  docs/zh/docs/amamba/quickstart/scan-with-pipeline.md
  docs/zh/docs/amamba/quickstart/scenarios-config.md
  docs/zh/docs/amamba/user-guide/gitops/argo-cd-status.md
  docs/zh/docs/amamba/user-guide/gitops/import-repo.md
  docs/zh/docs/amamba/user-guide/namespace/namespace.md
  docs/zh/docs/amamba/user-guide/native/native-app.md
  docs/zh/docs/amamba/user-guide/oam/concept.md
  docs/zh/docs/amamba/user-guide/oam/create.md
  docs/zh/docs/amamba/user-guide/pipeline/edit.md
  docs/zh/docs/amamba/user-guide/pipeline/view/view-run.md
  docs/zh/docs/blogs/230601-api-server-tracing.md
Labels: amamba, zh, en, blogs

#2595 update scope.md
  docs/zh/docs/network/images/workspaceingress.jpg
  docs/zh/docs/network/images/workspaceingress02.jpg
  docs/zh/docs/network/modules/ingress-nginx/scope.md
Labels: zh, network

#2596 add en docs about terway
  docs/en/docs/network/images/eni_connection.jpeg
  docs/en/docs/network/images/eni_trunking.png
  docs/en/docs/network/images/eni_trunking_tc.png
  docs/en/docs/network/images/eniip_veth.png
  docs/en/docs/network/images/terway_cilium.png
  docs/en/docs/network/images/vpc_connection.jpeg
  docs/en/docs/network/modules/aliyun-terway/index.md
  docs/en/docs/network/modules/aliyun-terway/what.md
  docs/en/navigation.yml
  docs/zh/docs/network/modules/aliyun-terway/index.md
  docs/zh/docs/network/modules/aliyun-terway/what.md
Labels: zh, en, network

#2597 download: skoala version updated to v0.28.1
  docs/zh/docs/download/index.md
  docs/zh/docs/download/modules/skoala.md
Labels: download, zh

#2598 update scope.md02
  docs/zh/docs/network/images/workspaceingress.jpg
  docs/zh/docs/network/images/workspaceingress02.jpg
  docs/zh/docs/network/modules/ingress-nginx/scope.md
Labels: zh, network

#2602 Update ingress scope.md
  docs/zh/docs/network/images/workspaceingress.jpg
  docs/zh/docs/network/images/workspaceingress02.jpg
  docs/zh/docs/network/modules/ingress-nginx/scope.md
Labels: zh, network

#2605 add navigator edit
  docs/zh/docs/ghippo/images/nav01.png
  docs/zh/docs/ghippo/images/nav02.png
  docs/zh/docs/ghippo/user-guide/navigator/navigator.md
  docs/zh/navigation.yml
Labels: ghippo, zh

#2606 Remove width and update images
  docs/zh/docs/insight/best-practice/sw-to-otel.md
  docs/zh/docs/insight/images/policy00.png
  docs/zh/docs/insight/images/policy06.png
  docs/zh/docs/insight/images/policy07.png
  docs/zh/docs/insight/images/policy08.png
  docs/zh/docs/insight/quickstart/install/install-agent.md
  docs/zh/docs/insight/user-guide/alert-center/alert-policy.md
  docs/zh/docs/insight/user-guide/alert-center/index.md
  docs/zh/docs/insight/user-guide/alert-center/message.md
  docs/zh/docs/insight/user-guide/alert-center/msg-template.md
  docs/zh/docs/insight/user-guide/alert-center/silent.md
  docs/zh/docs/insight/user-guide/alert-center/sms-provider.md
  docs/zh/docs/insight/user-guide/collection-manag/collection-manag.md
  docs/zh/docs/insight/user-guide/dashboard/dashboard.md
  docs/zh/docs/insight/user-guide/dashboard/overview.md
  docs/zh/docs/insight/user-guide/data-query/event.md
  docs/zh/docs/insight/user-guide/data-query/log.md
  docs/zh/docs/insight/user-guide/data-query/metric.md
  docs/zh/docs/insight/user-guide/data-query/trace.md
  docs/zh/docs/insight/user-guide/scenario-insight/cluster.md
  docs/zh/docs/insight/user-guide/scenario-insight/container.md
  docs/zh/docs/insight/user-guide/scenario-insight/namespace.md
  docs/zh/docs/insight/user-guide/scenario-insight/node.md
  docs/zh/docs/insight/user-guide/scenario-insight/service.md
  docs/zh/docs/insight/user-guide/scenario-insight/topology.md
  docs/zh/docs/insight/user-guide/system-config/system-component.md
  docs/zh/docs/insight/user-guide/system-config/system-config.md
Labels: insight, zh

#2604 Fix kairship yaml in create-deployment
  docs/en/docs/kairship/cluster.md
  docs/en/docs/kairship/instance/delete.md
  docs/en/docs/kairship/workload/cronjob.md
  docs/en/docs/kairship/workload/job.md
  docs/en/docs/kairship/workload/promote.md
  docs/en/docs/kairship/workload/yaml.md
  docs/zh/docs/kairship/cluster.md
  docs/zh/docs/kairship/instance/delete.md
  docs/zh/docs/kairship/workload/cronjob.md
  docs/zh/docs/kairship/workload/job.md
  docs/zh/docs/kairship/workload/promote.md
  docs/zh/docs/kairship/workload/yaml.md
Labels: kairship, zh, en

#2607 fix image url
  docs/zh/docs/ghippo/user-guide/navigator/navigator.md
Labels: ghippo, zh

#2608 download: mongodb version updated to v0.4.0
  docs/zh/docs/download/index.md
  docs/zh/docs/download/modules/middleware/mongodb.md
Labels: download, zh

#2609 [en] Add images to amamba
  docs/en/docs/amamba/images/create00.png
  docs/en/docs/amamba/images/create01.png
  docs/en/docs/amamba/images/create02.png
  docs/en/docs/amamba/images/create03.png
  docs/en/docs/amamba/images/ns-quota01.png
  docs/en/docs/amamba/images/ns-quota02.png
  docs/en/docs/amamba/images/what01.png
  docs/en/docs/amamba/images/what02.png
  docs/en/docs/amamba/intro/index.md
  docs/en/docs/amamba/intro/scenarios.md
  docs/en/docs/amamba/user-guide/namespace/namespace.md
  docs/zh/docs/amamba/user-guide/namespace/namespace.md
Labels: amamba, zh, en

#2610 update spidernet release notes
  docs/zh/docs/network/modules/spiderpool/releasenotes.md
Labels: zh, network

#2611 download: mysql version updated to v0.12.0
  docs/zh/docs/download/index.md
  docs/zh/docs/download/modules/middleware/mysql.md
Labels: download, zh

#2612 download: rabbitmq version updated to v0.14.0
  docs/zh/docs/download/index.md
  docs/zh/docs/download/modules/middleware/rabbitmq.md
Labels: download, zh

#2613 download: minio version updated to v0.9.0
  docs/zh/docs/download/index.md
  docs/zh/docs/download/modules/middleware/minio.md
Labels: download, zh

#2615 download: elasticsearch version updated to v0.11.0
  docs/zh/docs/download/index.md
  docs/zh/docs/download/modules/middleware/elasticsearch.md
Labels: download, zh

#2614 download: postgresql version updated to v0.6.0
  docs/zh/docs/download/index.md
  docs/zh/docs/download/modules/middleware/postgresql.md
Labels: download, zh

#2616 download: kafka version updated to v0.9.0
  docs/zh/docs/download/index.md
  docs/zh/docs/download/modules/middleware/kafka.md
Labels: download, zh

#2617 add rocketmq in middleware
  docs/zh/docs/download/index.md
  docs/zh/docs/download/modules/middleware/rocketmq.md
Labels: download, zh

#2618 fix nav docs
  docs/zh/docs/ghippo/user-guide/navigator/navigator.md
Labels: ghippo, zh

#2619 download: rocketmq version updated to v0.1.1
  docs/zh/docs/download/index.md
Labels: download, zh

#2620 [en] Sync all download pages
  docs/en/docs/download/index.md
  docs/en/docs/download/modules/kairship.md
  docs/en/docs/download/modules/middleware/rocketmq.md
  docs/en/docs/download/modules/mspider.md
  docs/en/docs/download/modules/skoala.md
  docs/en/docs/download/modules/virtnest.md
  docs/en/navigation.yml
  docs/zh/docs/download/index.md
  docs/zh/docs/download/modules/kcollie.md
  docs/zh/docs/download/modules/kcoral.md
  docs/zh/docs/download/modules/middleware/rocketmq.md
  docs/zh/navigation.yml
Labels: download, zh, en

#2621 download: dowl version updated to v0.6.0
  docs/zh/docs/download/modules/dowl.md
Labels: download, zh

#2623 [en] Add images to amamba-credential and jenkins
  docs/en/docs/amamba/images/cred01.png
  docs/en/docs/amamba/images/cred02.png
  docs/en/docs/amamba/images/install-jenkins11.png
  docs/en/docs/amamba/images/install-jenkins12.png
  docs/en/docs/amamba/images/install-jenkins13.png
  docs/en/docs/amamba/images/install-jenkins14.png
  docs/en/docs/amamba/images/install-jenkins15.png
  docs/en/docs/amamba/images/install-jenkins16.png
  docs/en/docs/amamba/images/install-jenkins17.png
  docs/en/docs/amamba/images/install-jenkins18.png
  docs/en/docs/amamba/user-guide/pipeline/credential.md
  docs/en/docs/amamba/user-guide/pipeline/install-jenkins.md
  docs/en/docs/amamba/user-guide/wizard/create-app-git.md
  docs/zh/docs/amamba/user-guide/pipeline/install-jenkins.md
  docs/zh/docs/amamba/user-guide/wizard/create-app-git.md
Labels: amamba, zh, en

#2622 update kant content
  docs/zh/docs/kant/user-guide/edge-app/create-app.md
  docs/zh/docs/kant/user-guide/edge-app/create-batch-app.md
Labels: zh, kant

#2624 download: kairship version updated to v0.13.1
  docs/zh/docs/download/index.md
  docs/zh/docs/download/modules/kairship.md
Labels: download, zh

#2625 add docs for describe how to send trace to insight
  docs/zh/docs/insight/images/get_insight_agent_otel_col_svc.png
  docs/zh/docs/insight/quickstart/otel/send_tracing_to_insight.md
Labels: insight, zh

#2626 download: kangaroo version updated to 0.12.1
  docs/zh/docs/download/index.md
  docs/zh/docs/download/modules/kangaroo.md
Labels: download, zh

#2628 [en] Add sent-trace-data to insight
  docs/en/docs/insight/quickstart/otel/send_tracing_to_insight.md
  docs/en/navigation.yml
  docs/zh/docs/insight/quickstart/images/get_insight_agent_otel_col_svc.png
  docs/zh/docs/insight/quickstart/otel/send_tracing_to_insight.md
  docs/zh/navigation.yml
Labels: insight, zh, en

#2573 update insight release note
  docs/zh/docs/insight/intro/releasenote.md
  docs/zh/docs/insight/quickstart/install/knownissues.md
Labels: insight, zh

#2629 upadate hwameistor release
  docs/zh/docs/storage/hwameistor/releasenotes.md
Labels: zh, storage

#2630 [en] translate known-issues and release-notes
  docs/en/docs/insight/intro/releasenote.md
  docs/en/docs/insight/quickstart/install/knownissues.md
  docs/en/navigation.yml
  docs/zh/docs/insight/intro/releasenote.md
  docs/zh/docs/insight/quickstart/install/knownissues.md
  docs/zh/navigation.yml
Labels: insight, zh, en

#2635 update kant user guide
  docs/zh/docs/kant/intro/release-notes.md
  docs/zh/docs/kant/user-guide/node/managed-node.md
  docs/zh/navigation.yml
Labels: zh, kant

#2637 Revert "update release note"
  docs/zh/docs/amamba/intro/release-notes.md
  docs/zh/docs/install/commercial/start-install.md
  docs/zh/docs/install/release-notes.md
Labels: amamba, installer, zh

#2639 mspider: slimming release note
  docs/en/docs/mspider/intro/release-notes.md
  docs/zh/docs/mspider/intro/release-notes.md
Labels: mspider, zh, en

#2641 update ingress 'workspace scope part'
  docs/zh/docs/network/modules/ingress-nginx/scope.md
Labels: zh, network

#2640 download: virtnest version updated to v0.3.0
  docs/zh/docs/download/modules/virtnest.md
Labels: download, zh

#2643 download: ghippo version updated to v0.21.0
  docs/zh/docs/download/index.md
  docs/zh/docs/download/modules/ghippo.md
Labels: download, zh

#2645 add hwameistor-operator
  docs/zh/docs/download/modules/hwameistor-operator.md
Labels: download, zh

#2646 update hwameistor download page
  docs/zh/docs/download/index.md
  docs/zh/docs/download/modules/hwameistor-operator.md
  docs/zh/docs/download/modules/hwameistor.md
  docs/zh/navigation.yml
Labels: download, zh

#2649 update release notes
  docs/zh/docs/network/modules/spiderpool/releasenotes.md
Labels: zh, network

#2650 add kangaroo v0.12.0 release note
  docs/zh/docs/kangaroo/intro/release-notes.md
Labels: zh, kangaroo

#2652 download: kcoral version updated to v0.6.1
  docs/zh/docs/download/modules/kcoral.md
Labels: download, zh

#2651 Add dce-20231031 release notes
  docs/zh/docs/dce/dce-rn/20231031.md
  docs/zh/navigation.yml
Labels: zh, dce

#2653 Update to 0.28,1
  docs/zh/docs/skoala/intro/release-notes.md
Labels: skoala, zh

#2654 mcamel: release-note
  docs/zh/docs/middleware/elasticsearch/release-notes.md
  docs/zh/docs/middleware/kafka/release-notes.md
  docs/zh/docs/middleware/minio/release-notes.md
  docs/zh/docs/middleware/mongodb/release-notes.md
  docs/zh/docs/middleware/mysql/release-notes.md
  docs/zh/docs/middleware/postgresql/release-notes.md
  docs/zh/docs/middleware/rabbitmq/release-notes.md
  docs/zh/docs/middleware/redis/release-notes.md
  docs/zh/docs/middleware/rocketmq/release-notes.md
  docs/zh/navigation.yml
Labels: midware, zh

#2655 [en] Add dce-20231031 release notes
  docs/en/docs/dce/dce-rn/20231031.md
  docs/zh/docs/dce/dce-rn/20230531.md
  docs/zh/docs/dce/dce-rn/20230731.md
  docs/zh/docs/dce/dce-rn/20230831.md
  docs/zh/docs/dce/dce-rn/20231031.md
Labels: zh, en, dce

#2656 [en] Update midware release notes
  docs/en/docs/middleware/elasticsearch/release-notes.md
  docs/en/docs/middleware/kafka/release-notes.md
  docs/en/docs/middleware/minio/release-notes.md
  docs/en/docs/middleware/mongodb/release-notes.md
  docs/en/docs/middleware/mysql/release-notes.md
  docs/en/docs/middleware/postgresql/release-notes.md
  docs/en/docs/middleware/rabbitmq/release-notes.md
  docs/en/docs/middleware/redis/release-notes.md
  docs/en/docs/middleware/rocketmq/release-notes.md
  docs/en/navigation.yml
Labels: midware, en

#2657 [en] update skoala release notes
  docs/en/docs/skoala/intro/release-notes.md
Labels: skoala, en

#2658 > update doc about skoala
  docs/en/docs/skoala/intro/advantages.md
  docs/en/docs/skoala/intro/index.md
  docs/en/docs/skoala/quickstart/install.md
  docs/en/docs/skoala/trad-ms/hosted/namespace.md
  docs/en/docs/skoala/trad-ms/hosted/resource-info.md
  docs/en/docs/skoala/trad-ms/hosted/update-registry.md
  docs/zh/docs/skoala/cloud-ms/service.md
  docs/zh/docs/skoala/cloud-ms/traffic-control.md
  docs/zh/docs/skoala/images/check-1.png
  docs/zh/docs/skoala/images/check-2.png
  docs/zh/docs/skoala/images/cloudms-import01.png
  docs/zh/docs/skoala/images/cloudms-import02.png
  docs/zh/docs/skoala/images/cloudms-import03.png
  docs/zh/docs/skoala/images/cloudms-import04.png
  docs/zh/docs/skoala/images/cloudms-traffic01.png
  docs/zh/docs/skoala/images/cloudms-traffic02.png
  docs/zh/docs/skoala/images/create-ns-1.png
  docs/zh/docs/skoala/images/create-ns-2.png
  docs/zh/docs/skoala/images/create01.png
  docs/zh/docs/skoala/images/create02.png
  docs/zh/docs/skoala/images/create03.png
  docs/zh/docs/skoala/images/create04.png
  docs/zh/docs/skoala/images/create06.png
  docs/zh/docs/skoala/images/delete-ns-1.png
  docs/zh/docs/skoala/images/delete01.png
  docs/zh/docs/skoala/images/delete02.png
  docs/zh/docs/skoala/images/detail01.png
  docs/zh/docs/skoala/images/detail02.png
  docs/zh/docs/skoala/images/detail03.png
  docs/zh/docs/skoala/images/detail04.png
  docs/zh/docs/skoala/images/detail05.png
  docs/zh/docs/skoala/images/detail06.png
  docs/zh/docs/skoala/images/detail07.png
  docs/zh/docs/skoala/images/detail08.png
  docs/zh/docs/skoala/images/detail09.png
  docs/zh/docs/skoala/images/detail10.png
  docs/zh/docs/skoala/images/detail11.png
  docs/zh/docs/skoala/images/ns-1.png
  docs/zh/docs/skoala/images/trad-resource-info.png
  docs/zh/docs/skoala/images/update-ns-1.png
  docs/zh/docs/skoala/images/update-ns-2.png
  docs/zh/docs/skoala/images/update01.png
  docs/zh/docs/skoala/images/update02.png
  docs/zh/docs/skoala/intro/advantages.md
  docs/zh/docs/skoala/intro/index.md
  docs/zh/docs/skoala/quickstart/install.md
  docs/zh/docs/skoala/trad-ms/hosted/check-registry.md
  docs/zh/docs/skoala/trad-ms/hosted/configs.md
  docs/zh/docs/skoala/trad-ms/hosted/create-registry.md
  docs/zh/docs/skoala/trad-ms/hosted/delete-registry.md
  docs/zh/docs/skoala/trad-ms/hosted/namespace.md
  docs/zh/docs/skoala/trad-ms/hosted/resource-info.md
  docs/zh/docs/skoala/trad-ms/hosted/services/check-details.md
  docs/zh/docs/skoala/trad-ms/hosted/services/system.md
  docs/zh/docs/skoala/trad-ms/hosted/update-registry.md
  docs/zh/docs/skoala/trad-ms/integrated/integrate-registry.md
Labels: skoala, zh, en

#2659 Add intro and concepts to rocketmq
  docs/en/docs/middleware/rocketmq/images/what01.png
  docs/en/docs/middleware/rocketmq/intro/concepts.md
  docs/en/docs/middleware/rocketmq/intro/index.md
  docs/en/navigation.yml
  docs/zh/docs/middleware/rocketmq/images/what01.png
  docs/zh/docs/middleware/rocketmq/intro/concepts.md
  docs/zh/docs/middleware/rocketmq/intro/index.md
  docs/zh/navigation.yml
Labels: midware, zh, en

#2660 mcamel: updated for faq
  docs/zh/docs/middleware/mysql/faq/faq-others.md
  docs/zh/docs/middleware/mysql/images/faq01.png
Labels: midware, zh

#2661 hide toc on ecosystem and videos index
  docs/en/docs/community/index.md
  docs/en/docs/download/index.md
  docs/en/docs/videos/index.md
  docs/zh/docs/videos/index.md
Labels: download, zh, en, videos, eco

#2662 fix nav of dce-20231031 rn
  docs/en/docs/dce/dce-rn/20231031.md
  docs/en/navigation.yml
Labels: en, dce

#2663 add kant info in rn
  docs/zh/docs/dce/dce-rn/20231031.md
Labels: zh, dce

#2638 1031 release
  docs/zh/docs/amamba/intro/release-notes.md
  docs/zh/docs/install/commercial/start-install.md
  docs/zh/docs/install/community/k8s/offline.md
  docs/zh/docs/install/community/k8s/online.md
  docs/zh/docs/install/community/kind/online.md
  docs/zh/docs/install/k8s-install/ecs-install-dce5.0.md
  docs/zh/docs/install/k8s-install/ocp-install-dce5.0.md
  docs/zh/docs/install/release-notes.md
Labels: amamba, installer, zh

#2668 add kpanda release 0.22
  docs/zh/docs/kpanda/images/configmap-hot-loading02.png
  docs/zh/docs/kpanda/images/configmap-hot-loading03.png
  docs/zh/docs/kpanda/intro/release-notes.md
  docs/zh/docs/kpanda/user-guide/configmaps-secrets/configmap-hot-loading.md
Labels: kpanda, zh

#2667 fix skoala docs
  docs/en/docs/skoala/gateway/alert.md
  docs/en/docs/skoala/gateway/domain/add-domain.md
  docs/en/docs/skoala/gateway/domain/domain-policy.md
  docs/en/docs/skoala/gateway/domain/images/add-domain-1.png
  docs/en/docs/skoala/gateway/domain/images/add-domain-2.png
  docs/en/docs/skoala/gateway/domain/images/add-domain-https.png
  docs/en/docs/skoala/gateway/domain/images/cross-domain.png
  docs/en/docs/skoala/gateway/domain/images/delete-domain-1.png
  docs/en/docs/skoala/gateway/domain/images/delete-domain-2.png
  docs/en/docs/skoala/gateway/domain/images/delete-domain-3.png
  docs/en/docs/skoala/gateway/domain/images/domain-bingo.png
  docs/en/docs/skoala/gateway/domain/images/update-domain-1.png
  docs/en/docs/skoala/gateway/domain/images/update-domain-2.png
  docs/en/docs/skoala/gateway/domain/imgs/add-domain-1.png
  docs/en/docs/skoala/gateway/domain/imgs/add-domain-2.png
  docs/en/docs/skoala/gateway/domain/imgs/add-domain-https.png
  docs/en/docs/skoala/gateway/domain/imgs/cross-domain.png
  docs/en/docs/skoala/gateway/domain/imgs/domain-bingo.png
  docs/en/docs/skoala/gateway/domain/imgs/update-domain-1.png
  docs/en/docs/skoala/gateway/domain/imgs/update-domain-2.png
  docs/en/docs/skoala/gateway/domain/update-domain.md
  docs/en/docs/skoala/gateway/logs/imgs/inslog-path.png
  docs/en/docs/skoala/gateway/logs/imgs/log-export1.png
  docs/en/docs/skoala/gateway/logs/imgs/log-filter1.png
  docs/en/docs/skoala/gateway/logs/imgs/logtime1.png
  docs/en/docs/skoala/gateway/logs/imgs/reqlog-path.png
  docs/en/docs/skoala/gateway/logs/inslog.md
  docs/en/docs/skoala/gateway/logs/reqlog.md
  docs/en/docs/skoala/images/alert01.png
  docs/en/docs/skoala/images/alert02.png
  docs/en/docs/skoala/images/alert03.png
  docs/zh/docs/skoala/gateway/alert.md
  docs/zh/docs/skoala/gateway/domain/add-domain.md
  docs/zh/docs/skoala/gateway/domain/domain-policy.md
  docs/zh/docs/skoala/gateway/domain/images/add-domain-1.png
  docs/zh/docs/skoala/gateway/domain/images/add-domain-2.png
  docs/zh/docs/skoala/gateway/domain/images/add-domain-https.png
  docs/zh/docs/skoala/gateway/domain/images/domain-bingo.png
  docs/zh/docs/skoala/gateway/domain/images/update-domain-1.png
  docs/zh/docs/skoala/gateway/domain/images/update-domain-2.png
  docs/zh/docs/skoala/gateway/domain/update-domain.md
  docs/zh/docs/skoala/gateway/logs/images/inslog-path.png
  docs/zh/docs/skoala/gateway/logs/images/log-export1.png
  docs/zh/docs/skoala/gateway/logs/images/log-filter1.png
  docs/zh/docs/skoala/gateway/logs/images/logtime1.png
  docs/zh/docs/skoala/gateway/logs/images/reqlog-path.png
  docs/zh/docs/skoala/gateway/logs/inslog.md
  docs/zh/docs/skoala/gateway/logs/reqlog.md
  docs/zh/docs/skoala/images/alert01.png
  docs/zh/docs/skoala/images/alert02.png
  docs/zh/docs/skoala/images/alert03.png
Labels: skoala, zh, en

#2670 Update amamba release notes
  docs/en/docs/amamba/intro/release-notes.md
  docs/zh/docs/amamba/intro/release-notes.md
Labels: amamba, zh, en

#2669 Update dce-20231031 release notes
  docs/en/docs/dce/dce-rn/20231031.md
  docs/zh/docs/dce/dce-rn/20231031.md
Labels: zh, en, dce

#2671 update ghippo release notes and offline-upgrade steps
  docs/en/docs/ghippo/install/offline-install.md
  docs/en/docs/ghippo/intro/release-notes.md
  docs/zh/docs/ghippo/intro/release-notes.md
Labels: ghippo, zh, en

#2672 update kangaroo release notes
  docs/en/docs/kangaroo/intro/release-notes.md
  docs/zh/docs/kangaroo/intro/release-notes.md
Labels: zh, en, kangaroo

#2673 [en] update installer to v0.12.0
  docs/en/docs/install/commercial/start-install.md
  docs/en/docs/install/community/k8s/offline.md
  docs/en/docs/install/community/k8s/online.md
  docs/en/docs/install/community/kind/online.md
  docs/en/docs/install/k8s-install/ecs-install-dce5.0.md
  docs/en/docs/install/k8s-install/ocp-install-dce5.0.md
  docs/en/docs/install/release-notes.md
  docs/zh/docs/install/commercial/start-install.md
  docs/zh/docs/install/community/kind/online.md
  docs/zh/docs/install/k8s-install/ocp-install-dce5.0.md
Labels: installer, zh, en

#2675 download: redis version updated to v0.12.0
  docs/zh/docs/download/index.md
  docs/zh/docs/download/modules/middleware/redis.md
Labels: download, zh

#2674 update download-installer to v0.12.0
  docs/zh/docs/download/business/dce5-installer-history.md
  docs/zh/docs/download/business/dce5-installer-v0.12.0.md
  docs/zh/docs/download/free/dce5-installer-history.md
  docs/zh/docs/download/free/dce5-installer-v0.12.0.md
  docs/zh/docs/download/index.md
Labels: download, zh

#2676 Fix issue 2664 and 2666
  docs/zh/docs/blogs/221018-resource.md
  docs/zh/docs/blogs/230615-ray.md
  docs/zh/docs/ghippo/user-guide/workspace/ws-folder.md
  docs/zh/docs/kairship/instance/add.md
  docs/zh/docs/kangaroo/integrate/bind-to-ws.md
  docs/zh/docs/kpanda/user-guide/network/create-services.md
  docs/zh/docs/kpanda/user-guide/security/audit.md
  docs/zh/docs/kpanda/user-guide/security/cis/policy.md
  docs/zh/docs/kpanda/user-guide/security/hunter.md
  docs/zh/docs/native/open.md
  docs/zh/docs/network/modules/multus-underlay/index.md
  docs/zh/docs/storage/hwameistor/application/ha.md
  docs/zh/docs/storage/hwameistor/application/local.md
  docs/zh/docs/storage/hwameistor/resources/storagepool.md
Labels: kairship, kpanda, ghippo, zh, blogs, native, kangaroo, network, storage

#2678 fix manual access and automatic nanotubes
  docs/en/docs/skoala/gateway/service/auto-manage.md
  docs/en/docs/skoala/gateway/service/images/auto.png
  docs/en/docs/skoala/gateway/service/images/config1.png
  docs/en/docs/skoala/gateway/service/images/config3.png
  docs/en/docs/skoala/gateway/service/images/config4.png
  docs/en/docs/skoala/gateway/service/images/delete.png
  docs/en/docs/skoala/gateway/service/images/delete1.png
  docs/en/docs/skoala/gateway/service/images/gw-service01.png
  docs/en/docs/skoala/gateway/service/images/gw-service02.png
  docs/en/docs/skoala/gateway/service/images/gw-service03.png
  docs/en/docs/skoala/gateway/service/images/gw-service04.png
  docs/en/docs/skoala/gateway/service/images/gw-service05.png
  docs/en/docs/skoala/gateway/service/images/gw-service06.png
  docs/en/docs/skoala/gateway/service/images/gw-service07.png
  docs/en/docs/skoala/gateway/service/images/gw-service08.png
  docs/en/docs/skoala/gateway/service/images/gw-service09.png
  docs/en/docs/skoala/gateway/service/images/gw-service10.png
  docs/en/docs/skoala/gateway/service/images/manual.png
  docs/en/docs/skoala/gateway/service/images/policy1.png
  docs/en/docs/skoala/gateway/service/images/policy2.png
  docs/en/docs/skoala/gateway/service/images/service-access.png
  docs/en/docs/skoala/gateway/service/images/service-details.png
  docs/en/docs/skoala/gateway/service/images/service-details0.png
  docs/en/docs/skoala/gateway/service/images/service-details1.png
  docs/en/docs/skoala/gateway/service/images/service-details2.png
  docs/en/docs/skoala/gateway/service/images/service-list.png
  docs/en/docs/skoala/gateway/service/images/update-danger.png
  docs/en/docs/skoala/gateway/service/images/update1.png
  docs/en/docs/skoala/gateway/service/images/update3.png
  docs/en/docs/skoala/gateway/service/images/update4.png
  docs/en/docs/skoala/gateway/service/imgs/auto.png
  docs/en/docs/skoala/gateway/service/imgs/delete1.png
  docs/en/docs/skoala/gateway/service/imgs/policy1.png
  docs/en/docs/skoala/gateway/service/imgs/policy2.png
  docs/en/docs/skoala/gateway/service/imgs/service-access.png
  docs/en/docs/skoala/gateway/service/imgs/service-details.png
  docs/en/docs/skoala/gateway/service/imgs/service-details1.png
  docs/en/docs/skoala/gateway/service/imgs/service-list.png
  docs/en/docs/skoala/gateway/service/imgs/update4.png
  docs/en/docs/skoala/gateway/service/manual-integrate.md
  docs/zh/docs/skoala/gateway/service/auto-manage.md
  docs/zh/docs/skoala/gateway/service/images/auto.png
  docs/zh/docs/skoala/gateway/service/images/delete1.png
  docs/zh/docs/skoala/gateway/service/images/gw-service08.png
  docs/zh/docs/skoala/gateway/service/images/policy1.png
  docs/zh/docs/skoala/gateway/service/images/policy2.png
  docs/zh/docs/skoala/gateway/service/images/service-access.png
  docs/zh/docs/skoala/gateway/service/images/service-details.png
  docs/zh/docs/skoala/gateway/service/images/service-details1.png
  docs/zh/docs/skoala/gateway/service/images/service-list.png
  docs/zh/docs/skoala/gateway/service/images/update4.png
  docs/zh/docs/skoala/gateway/service/manual-integrate.md
Labels: skoala, zh, en

#2677 update insecure-registries
  docs/zh/docs/amamba/faq/faq-jenkins.md
Labels: amamba, zh

#2681 update pipeline issues
  docs/en/docs/amamba/faq/faq-jenkins.md
  docs/zh/docs/amamba/faq/faq-jenkins.md
Labels: amamba, zh, en

#2694 update kairship release notes
  docs/en/docs/kairship/intro/release-notes.md
  docs/zh/docs/kairship/intro/release-notes.md
Labels: kairship, zh, en

#2696 update spidernet release notes
  docs/en/docs/network/modules/spiderpool/releasenotes.md
  docs/zh/docs/network/modules/spiderpool/releasenotes.md
Labels: zh, en, network

#2695 update kpanda release notes
  docs/en/docs/kpanda/intro/release-notes.md
  docs/zh/docs/kpanda/intro/release-notes.md
Labels: kpanda, zh, en

#2683 API management, add API
  docs/en/docs/skoala/gateway/api/add-api.md
  docs/en/docs/skoala/gateway/api/api-policy.md
  docs/en/docs/skoala/gateway/api/imgs/add-api-01.png
  docs/en/docs/skoala/gateway/api/imgs/config.png
  docs/en/docs/skoala/gateway/api/imgs/online.png
  docs/en/docs/skoala/gateway/api/imgs/online1.png
  docs/en/docs/skoala/gateway/api/imgs/policy01.png
  docs/en/docs/skoala/gateway/api/imgs/policy02.png
  docs/en/docs/skoala/gateway/api/imgs/result.png
  docs/en/docs/skoala/gateway/check-details.md
  docs/en/docs/skoala/gateway/images/gw-create01.png
  docs/en/docs/skoala/gateway/images/gw-create02.png
  docs/en/docs/skoala/gateway/images/gw-create03.png
  docs/en/docs/skoala/gateway/images/gw-create04.png
  docs/en/docs/skoala/gateway/images/gw-create05.png
  docs/zh/docs/skoala/gateway/api/add-api.md
  docs/zh/docs/skoala/gateway/api/api-policy.md
  docs/zh/docs/skoala/gateway/api/images/add-api-01.png
  docs/zh/docs/skoala/gateway/api/images/config.png
  docs/zh/docs/skoala/gateway/api/images/online.png
  docs/zh/docs/skoala/gateway/api/images/online1.png
  docs/zh/docs/skoala/gateway/api/images/online2.png
  docs/zh/docs/skoala/gateway/api/images/policy01.png
  docs/zh/docs/skoala/gateway/api/images/policy02.png
  docs/zh/docs/skoala/gateway/api/images/result.png
  docs/zh/docs/skoala/gateway/check-details.md
  docs/zh/docs/skoala/gateway/create-gateway.md
Labels: skoala, zh, en

#2698 update screenshots
  docs/zh/docs/skoala/images/config01.png
  docs/zh/docs/skoala/images/config02.png
  docs/zh/docs/skoala/images/config03.png
  docs/zh/docs/skoala/images/config04.png
  docs/zh/docs/skoala/images/config05.png
  docs/zh/docs/skoala/images/config06.png
  docs/zh/docs/skoala/images/config07.png
  docs/zh/docs/skoala/images/config08.png
  docs/zh/docs/skoala/images/config09.png
  docs/zh/docs/skoala/images/delete-1.png
  docs/zh/docs/skoala/images/delete-2.png
  docs/zh/docs/skoala/images/integrate01.png
  docs/zh/docs/skoala/images/integrate02.png
  docs/zh/docs/skoala/images/integrate03.png
  docs/zh/docs/skoala/images/monitor01.png
  docs/zh/docs/skoala/images/monitor02.png
  docs/zh/docs/skoala/images/monitor03.png
  docs/zh/docs/skoala/images/monitor04.png
  docs/zh/docs/skoala/images/monitor05.png
  docs/zh/docs/skoala/images/monitor06.png
  docs/zh/docs/skoala/images/sentinel01.png
  docs/zh/docs/skoala/images/sentinel02.png
  docs/zh/docs/skoala/images/sentinel03.png
  docs/zh/docs/skoala/images/service01.png
  docs/zh/docs/skoala/images/service02.png
  docs/zh/docs/skoala/images/service03.png
  docs/zh/docs/skoala/images/update-1.png
  docs/zh/docs/skoala/images/update-2.png
  docs/zh/docs/skoala/trad-ms/hosted/configs.md
  docs/zh/docs/skoala/trad-ms/hosted/monitor/components.md
  docs/zh/docs/skoala/trad-ms/hosted/monitor/microservices.md
  docs/zh/docs/skoala/trad-ms/hosted/plugins/mesh.md
  docs/zh/docs/skoala/trad-ms/hosted/plugins/sentinel.md
  docs/zh/docs/skoala/trad-ms/hosted/services/intro.md
  docs/zh/docs/skoala/trad-ms/integrated/integrate-registry.md
  docs/zh/docs/skoala/trad-ms/integrated/manage-service.md
  docs/zh/docs/skoala/trad-ms/integrated/remove-registry.md
  docs/zh/docs/skoala/trad-ms/integrated/update-registry.md
Labels: skoala, zh

#2700 [en] update installer-download to v0.12.0
  docs/en/docs/download/business/.dce5-installer-template.md
  docs/en/docs/download/business/dce5-installer-history.md
  docs/en/docs/download/business/dce5-installer-v0.11.0.md
  docs/en/docs/download/business/dce5-installer-v0.12.0.md
  docs/en/docs/download/business/dce5-installer-v0.3.27.md
  docs/en/docs/download/business/dce5-installer-v0.3.28.md
  docs/en/docs/download/business/dce5-installer-v0.3.29.md
  docs/en/docs/download/business/dce5-installer-v0.3.30.md
  docs/en/docs/download/business/dce5-installer-v0.4.0.md
  docs/en/docs/download/business/dce5-installer-v0.5.0.md
  docs/en/docs/download/business/dce5-installer-v0.6.0.md
  docs/en/docs/download/business/dce5-installer-v0.6.1.md
  docs/en/docs/download/business/dce5-installer-v0.7.0.md
  docs/en/docs/download/business/dce5-installer-v0.8.0.md
  docs/en/docs/download/free/.dce5-installer-template.md
  docs/en/docs/download/free/dce5-installer-history.md
  docs/en/docs/download/free/dce5-installer-v0.11.0.md
  docs/en/docs/download/free/dce5-installer-v0.12.0.md
  docs/en/docs/download/free/dce5-installer-v0.3.27.md
  docs/en/docs/download/free/dce5-installer-v0.3.28.md
  docs/en/docs/download/free/dce5-installer-v0.3.29.md
  docs/en/docs/download/free/dce5-installer-v0.3.30.md
  docs/en/docs/download/free/dce5-installer-v0.4.0.md
  docs/en/docs/download/free/dce5-installer-v0.5.0.md
  docs/en/docs/download/free/dce5-installer-v0.6.0.md
  docs/en/docs/download/free/dce5-installer-v0.6.1.md
  docs/en/docs/download/free/dce5-installer-v0.7.0.md
  docs/en/docs/download/free/dce5-installer-v0.8.0.md
  docs/en/docs/download/free/dce5-installer-v0.9.0.md
  docs/en/docs/download/index.md
  docs/en/docs/download/modules/insight.md
  docs/en/docs/download/modules/middleware/rocketmq.md
  docs/en/docs/download/modules/skoala.md
  docs/en/docs/download/modules/virtnest.md
Labels: download, en

#2699 update checksum
  docs/zh/docs/download/business/dce5-installer-v0.12.0.md
  docs/zh/docs/download/free/dce5-installer-v0.12.0.md
Labels: download, zh

#2697 add amamba docs: install sub chart
  docs/zh/docs/amamba/images/argocd01.png
  docs/zh/docs/amamba/images/argocd02.png
  docs/zh/docs/amamba/images/argorollout01.png
  docs/zh/docs/amamba/images/vela01.png
  docs/zh/docs/amamba/images/vela02.png
  docs/zh/docs/amamba/pluggable-components.md
  docs/zh/navigation.yml
Labels: amamba, zh

#2701 update addon version
  docs/zh/docs/install/commercial/start-install.md
Labels: installer, zh

#2702 > update skoala install docs
  docs/zh/docs/skoala/images/install-arch-skoala-init.png
  docs/zh/docs/skoala/images/install-arch-skoala.png
  docs/zh/docs/skoala/quickstart/install.md
Labels: skoala, zh

#2704 Fix links and update addon-version for install pages
  docs/en/docs/install/commercial/start-install.md
  docs/en/docs/install/os-install/TencentOS-install-dce5.0.md
  docs/en/docs/install/os-install/oracleLinux-install-dce5.0.md
  docs/en/docs/install/os-install/otherlinux.md
  docs/en/docs/install/os-install/uos-v20-install-dce5.0.md
  docs/en/docs/install/upgrade.md
  docs/zh/docs/install/commercial/start-install.md
  docs/zh/docs/install/os-install/TencentOS-install-dce5.0.md
  docs/zh/docs/install/os-install/oracleLinux-install-dce5.0.md
  docs/zh/docs/install/os-install/otherlinux.md
  docs/zh/docs/install/os-install/uos-v20-install-dce5.0.md
  docs/zh/docs/install/upgrade.md
Labels: installer, zh, en

#2703 fix english skoala gateway
  docs/en/docs/skoala/gateway/check-details.md
  docs/en/docs/skoala/gateway/create-gateway.md
  docs/en/docs/skoala/gateway/images/gw-create01.png
  docs/en/docs/skoala/gateway/images/gw-create02.png
  docs/en/docs/skoala/gateway/images/gw-create03.png
  docs/en/docs/skoala/gateway/images/gw-create04.png
  docs/en/docs/skoala/gateway/images/gw-create05.png
  docs/en/docs/skoala/gateway/images/gw-create06.png
  docs/en/docs/skoala/gateway/images/gw-create07.png
  docs/en/docs/skoala/gateway/images/gw-create08.png
  docs/en/docs/skoala/gateway/images/gw-create09.png
  docs/en/docs/skoala/gateway/images/gw-create10.png
  docs/en/docs/skoala/gateway/images/overview.png
  docs/zh/docs/skoala/gateway/create-gateway.md
Labels: skoala, zh, en

#2705 update jenkins sonarqube and mail
  docs/zh/docs/amamba/user-guide/pipeline/install-jenkins.md
Labels: amamba, zh

#2706 update native (11.6-11.12)
  docs/en/docs/native/commerce.md
  docs/en/docs/native/news/news-2023.md
  docs/en/docs/native/open.md
  docs/zh/docs/native/commerce.md
  docs/zh/docs/native/news/news-2023.md
  docs/zh/docs/native/open.md
Labels: zh, en, native

#2708 update home images
  docs/zh/docs/dce/index.md
  docs/zh/docs/images/01multi-cloud.png
  docs/zh/docs/images/02data.png
  docs/zh/docs/images/03msgov.png
  docs/zh/docs/images/04insight.png
  docs/zh/docs/images/06appdeliv.png
  docs/zh/docs/images/07base.png
  docs/zh/docs/images/08xinchuan.png
Labels: zh, dce

#2709 [en] update jenkins sonarqube and sub-chart
  docs/en/docs/amamba/pluggable-components.md
  docs/en/docs/amamba/user-guide/pipeline/install-jenkins.md
  docs/en/navigation.yml
  docs/zh/docs/amamba/images/install-jenkins11.png
  docs/zh/docs/amamba/user-guide/pipeline/install-jenkins.md
  docs/zh/navigation.yml
Labels: amamba, zh, en

#2710 fix english skoala api
  docs/en/docs/skoala/gateway/api/api-policy.md
  docs/en/docs/skoala/gateway/api/delete-api.md
  docs/en/docs/skoala/gateway/api/imgs/blacklist.png
  docs/en/docs/skoala/gateway/api/imgs/cookie.png
  docs/en/docs/skoala/gateway/api/imgs/delete-api-1.png
  docs/en/docs/skoala/gateway/api/imgs/delete-api-2.png
  docs/en/docs/skoala/gateway/api/imgs/header-rewrite.png
  docs/en/docs/skoala/gateway/api/imgs/healthcheck.png
  docs/en/docs/skoala/gateway/api/imgs/lb-random.png
  docs/en/docs/skoala/gateway/api/imgs/lb-rc.png
  docs/en/docs/skoala/gateway/api/imgs/lb-weight.png
  docs/en/docs/skoala/gateway/api/imgs/lb.png
  docs/en/docs/skoala/gateway/api/imgs/ratelimit.png
  docs/en/docs/skoala/gateway/api/imgs/retry.png
  docs/en/docs/skoala/gateway/api/imgs/rewrite.png
  docs/en/docs/skoala/gateway/api/imgs/timeout.png
  docs/en/docs/skoala/gateway/api/imgs/update-api-1.png
  docs/en/docs/skoala/gateway/api/imgs/update-api-2.png
  docs/en/docs/skoala/gateway/api/imgs/websocket.png
  docs/en/docs/skoala/gateway/api/update-api.md
  docs/en/docs/skoala/gateway/delete-gateway.md
  docs/en/docs/skoala/gateway/domain/delete-domain.md
  docs/en/docs/skoala/gateway/domain/images/delete-domain-1.png
  docs/en/docs/skoala/gateway/domain/images/delete-domain-2.png
  docs/en/docs/skoala/gateway/domain/images/delete-domain-3.png
  docs/en/docs/skoala/gateway/images/delete-gateway.png
  docs/en/docs/skoala/gateway/images/delete.png
  docs/en/docs/skoala/gateway/images/update1.png
  docs/en/docs/skoala/gateway/images/update2.png
  docs/en/docs/skoala/gateway/update-gateway.md
  docs/zh/docs/skoala/gateway/domain/delete-domain.md
  docs/zh/docs/skoala/gateway/domain/images/delete-domain-3.png
Labels: skoala, zh, en

#2711 Update skoala install & upgrade docs
  docs/zh/docs/skoala/images/skoala-init-cn.png
  docs/zh/docs/skoala/images/skoala-init-en.png
  docs/zh/docs/skoala/quickstart/offline-upgrade.md
  docs/zh/docs/skoala/quickstart/online-upgrade.md
  docs/zh/docs/skoala/quickstart/skoala-init.md
  docs/zh/docs/skoala/quickstart/skoala.md
  docs/zh/navigation.yml
Labels: skoala, zh

#2715 virtnest-update version
  docs/zh/docs/virtnest/quick-start/create-image.md
Labels: zh, virtnest

#2718 Fix issues in deploy-requirements.md
  docs/en/docs/install/commercial/deploy-requirements.md
  docs/zh/docs/install/commercial/deploy-requirements.md
Labels: installer, zh, en

#2720 update deploy require about spiderpool
  docs/en/docs/install/commercial/deploy-requirements.md
  docs/zh/docs/install/commercial/deploy-requirements.md
Labels: installer, zh, en

#2722 Fix kpanda issues
  docs/zh/docs/kpanda/images/installcronhpa.png
  docs/zh/docs/kpanda/intro/concepts.md
  docs/zh/docs/kpanda/user-guide/configmaps-secrets/create-secret.md
  docs/zh/docs/kpanda/user-guide/inspect/index.md
  docs/zh/docs/kpanda/user-guide/network/create-services.md
  docs/zh/docs/kpanda/user-guide/scale/install-cronhpa.md
Labels: kpanda, zh

#2713 fix zh alert and en manual-integrate skoala
  docs/en/docs/skoala/gateway/alert.md
  docs/en/docs/skoala/gateway/service/images/gw-service01.png
  docs/en/docs/skoala/gateway/service/images/gw-service02.png
  docs/en/docs/skoala/gateway/service/images/mesh.png
  docs/en/docs/skoala/gateway/service/images/service-04.png
  docs/en/docs/skoala/gateway/service/images/service-access.png
  docs/en/docs/skoala/gateway/service/manual-integrate.md
  docs/zh/docs/skoala/gateway/service/images/gw-access-service.png
  docs/zh/docs/skoala/gateway/service/images/gw-service01.png
  docs/zh/docs/skoala/gateway/service/images/mesh-access.png
  docs/zh/docs/skoala/gateway/service/manual-integrate.md
Labels: skoala, zh, en

#2723 update hwameistor docs
  docs/en/docs/storage/hwameistor/img/ldm-en.png
  docs/en/docs/storage/hwameistor/install/deploy-helm.md
  docs/en/docs/storage/hwameistor/intro/ldm.md
  docs/en/navigation.yml
  docs/zh/docs/storage/hwameistor/install/deploy-helm.md
  docs/zh/docs/storage/hwameistor/intro/ldm.md
  docs/zh/docs/storage/images/ldm.png
  docs/zh/navigation.yml
Labels: zh, en, storage

#2724 update offline-upgrade for amamba
  docs/en/docs/amamba/offline-upgrade.md
  docs/zh/docs/amamba/offline-upgrade.md
Labels: amamba, zh, en

#2725 restyle otel operator docs
  docs/zh/docs/insight/quickstart/otel/operator.md
Labels: insight, zh

#2726 Fix typo of cibenchmark
  docs/en/docs/kpanda/best-practice/hardening-cluster.md
  docs/zh/docs/kpanda/best-practice/hardening-cluster.md
Labels: kpanda, zh, en

#2728 update midware pages
  docs/en/docs/ghippo/permissions/mcamel.md
  docs/en/docs/middleware/common/index.md
  docs/en/docs/middleware/index.md
  docs/en/navigation.yml
  docs/zh/docs/ghippo/permissions/mcamel.md
  docs/zh/docs/middleware/common/index.md
  docs/zh/docs/middleware/index.md
  docs/zh/docs/middleware/minio/user-guide/create.md
  docs/zh/navigation.yml
Labels: midware, ghippo, zh, en

#2731 download: addon version updated to v0.12.0
  docs/zh/docs/download/addon/history.md
  docs/zh/docs/download/addon/v0.12.0.md
  docs/zh/docs/download/index.md
Labels: download, zh

#2733 Update Kant User Guide
  docs/zh/docs/kant/images/node-batch-02.png
  docs/zh/docs/kant/user-guide/edge-unit/create-unit.md
  docs/zh/docs/kant/user-guide/node/batch-registration.md
  docs/zh/docs/kant/user-guide/node/join-rqmt.md
  docs/zh/docs/kpanda/user-guide/workloads/create-deployment.md
Labels: kpanda, zh, kant

#2732 mcamel: redis&spiderpool
  docs/zh/docs/middleware/redis/best-practice/spiderpoolconfig.md
  docs/zh/docs/middleware/redis/images/spiderpool01.png
  docs/zh/docs/middleware/redis/images/spiderpool02.png
  docs/zh/docs/middleware/redis/images/spiderpool03.png
  docs/zh/docs/middleware/redis/images/spiderpool04.png
  docs/zh/docs/middleware/redis/images/spiderpool05.png
  docs/zh/docs/middleware/redis/images/spiderpool06.png
  docs/zh/docs/middleware/redis/images/spiderpool07.png
  docs/zh/docs/middleware/redis/images/spiderpool08.png
  docs/zh/docs/middleware/redis/images/spiderpool09.png
  docs/zh/navigation.yml
Labels: midware, zh

#2729 download: kpanda version updated to 0.22.2
  docs/zh/docs/download/index.md
  docs/zh/docs/download/modules/kpanda.md
Labels: download, zh

#2734 Add docs of ingress nginx
  docs/en/docs/network/modules/ingress-nginx/redirect.md
  docs/en/navigation.yml
  docs/zh/docs/network/modules/ingress-nginx/redirect.md
  docs/zh/navigation.yml
Labels: zh, en, network

#2737 [en] Sync features and scenario in dce folder
  docs/en/docs/dce/features.md
  docs/en/docs/dce/index.md
  docs/en/docs/dce/scenario.md
  docs/zh/docs/dce/scenario.md
Labels: zh, en, dce

#2738 add webhook,step
  docs/zh/docs/amamba/images/webhook01.png
  docs/zh/docs/amamba/images/webhook02.png
  docs/zh/docs/amamba/user-guide/pipeline/config/step.md
  docs/zh/docs/amamba/user-guide/pipeline/run/trigger.md
Labels: amamba, zh

#2741 Add a blog: k8s 1.29 changes
  docs/zh/docs/blogs/231115-k8s-1.29-changes.md
  docs/zh/navigation.yml
Labels: zh, blogs

#2742 update download of kpanda and addon
  docs/en/docs/download/addon/history.md
  docs/en/docs/download/addon/v0.12.0.md
  docs/en/docs/download/business/dce5-installer-history.md
  docs/en/docs/download/free/dce5-installer-history.md
  docs/en/docs/download/index.md
  docs/en/docs/download/modules/kpanda.md
Labels: download, en

#2743 [en] Add a blog: k8s 1.29 changes
  docs/en/docs/blogs/231115-k8s-1.29-changes.md
  docs/en/docs/blogs/index.md
  docs/en/navigation.yml
  docs/zh/docs/blogs/231115-k8s-1.29-changes.md
  docs/zh/docs/blogs/index.md
  docs/zh/navigation.yml
Labels: zh, en, blogs

#2744 update hwameistor docs
  docs/en/docs/storage/hwameistor/install/post-check.md
  docs/en/docs/storage/hwameistor/install/prereq.md
  docs/en/docs/storage/hwameistor/intro/resources.md
  docs/zh/docs/storage/hwameistor/install/post-check.md
  docs/zh/docs/storage/hwameistor/install/prereq.md
  docs/zh/docs/storage/hwameistor/intro/resources.md
Labels: zh, en, storage

#2745 Add virtnest en pages and fix skoala links
  docs/en/docs/skoala/trad-ms/hosted/services/index.md
  docs/en/docs/virtnest/install/offline-install.md
  docs/en/docs/virtnest/intro/install.md
  docs/en/docs/virtnest/quick-start/access.md
  docs/en/docs/virtnest/quick-start/create-image.md
  docs/en/docs/virtnest/quick-start/create-tep.md
  docs/en/docs/virtnest/quick-start/index.md
  docs/en/docs/virtnest/quick-start/nodeport.md
  docs/en/docs/virtnest/quick-start/snapshot.md
  docs/en/docs/virtnest/quick-start/tep.md
  docs/en/navigation.yml
  docs/zh/docs/skoala/gateway/index.md
  docs/zh/docs/skoala/quickstart/skoala.md
  docs/zh/docs/skoala/trad-ms/integrated/index.md
  docs/zh/docs/virtnest/intro/install.md
  docs/zh/docs/virtnest/quick-start/access.md
  docs/zh/docs/virtnest/quick-start/create-image.md
  docs/zh/docs/virtnest/quick-start/index.md
  docs/zh/navigation.yml
Labels: skoala, zh, en, virtnest

#2746 sync en network docs
  docs/en/docs/network/images/source-ip1.png
  docs/en/docs/network/images/source-ip2.png
  docs/en/docs/network/images/spiderpool-helm.png
  docs/en/docs/network/images/spiderpool-install1.png
  docs/en/docs/network/images/spiderpool-install2.png
  docs/en/docs/network/images/spiderpool-install3.png
  docs/en/docs/network/images/spiderpool-install4.png
  docs/en/docs/network/images/spiderpool-install5.png
  docs/en/docs/network/images/workspace.png
  docs/en/docs/network/images/workspace02.png
  docs/en/docs/network/modules/ingress-nginx/scope.md
  docs/en/docs/network/modules/metallb/source_ip.md
  docs/en/docs/network/modules/spiderpool/install.md
  docs/zh/docs/network/modules/ingress-nginx/scope.md
  docs/zh/docs/network/modules/metallb/source_ip.md
Labels: zh, en, network

#2747 update install index mermaid
  docs/zh/docs/install/commercial/start-install.md
  docs/zh/docs/install/index.md
Labels: installer, zh

#2748 Fix install memaid links
  docs/zh/docs/install/index.md
Labels: installer, zh

#2751 > update skoala auth plugin docs
  docs/zh/docs/skoala/best-practice/auth-server.md
  docs/zh/docs/skoala/images/auth-plugin.png
  docs/zh/docs/skoala/images/gateway-api-auth-plugin.png
  docs/zh/docs/skoala/images/gateway-auth-plugin.png
  docs/zh/docs/skoala/images/gateway-virtualhost-auth-plugin.png
  docs/zh/docs/skoala/images/virtualhost-auth-plugin.png
  docs/zh/docs/skoala/quickstart/skoala-init.md
  docs/zh/docs/skoala/quickstart/skoala.md
Labels: skoala, zh

#2750 [en] update install index mermaid
  docs/en/docs/install/index.md
  docs/zh/docs/install/index.md
Labels: installer, zh, en

#2752 update addon version
  docs/en/docs/install/commercial/start-install.md
  docs/zh/docs/install/commercial/start-install.md
Labels: installer, zh, en

#2754 update text on install-index
  docs/en/docs/install/index.md
  docs/zh/docs/install/index.md
Labels: installer, zh, en

#2755 update install mermaid
  docs/en/docs/install/index.md
  docs/zh/docs/install/index.md
Labels: installer, zh, en

#2756 add a v0.12.0 docx file to download
  docs/zh/docs/dce/dce-rn/20231031.md
Labels: zh, dce

#2758 kairship update instance
  docs/zh/docs/kairship/instance/add.md
  docs/zh/docs/kairship/workload/cronjob.md
  docs/zh/docs/kairship/workload/deployment.md
  docs/zh/docs/kairship/workload/job.md
  docs/zh/docs/kairship/workload/update-deployment.md
  docs/zh/docs/virtnest/images/check-etcd.png
  docs/zh/docs/virtnest/images/check-pvc.png
Labels: kairship, zh, virtnest

#2757 update commercial install text
  docs/en/docs/install/commercial/deploy-arch.md
  docs/en/docs/install/commercial/deploy-requirements.md
  docs/en/docs/install/commercial/start-install.md
  docs/zh/docs/install/air-tag-download.md
  docs/zh/docs/install/commercial/deploy-arch.md
  docs/zh/docs/install/commercial/deploy-requirements.md
  docs/zh/docs/install/commercial/start-install.md
Labels: installer, zh, en

#2761 mspider: add docs: Gateway Management for External Mesh
  docs/en/docs/mspider/user-guide/gateway-instance/gateway-in-external-mesh.md
  docs/en/navigation.yml
  docs/zh/docs/mspider/user-guide/gateway-instance/gateway-in-external-mesh.md
  docs/zh/navigation.yml
Labels: mspider, zh, en

#2762 update some text in install pages
  docs/en/docs/install/evolve.md
  docs/en/docs/install/index.md
  docs/en/docs/install/install-tools.md
  docs/en/docs/install/uninstall.md
  docs/en/docs/install/upgrade.md
  docs/zh/docs/install/evolve.md
Labels: installer, zh, en

#2765 Update skoala & amamba docs
  docs/zh/docs/amamba/pluggable-components.md
  docs/zh/docs/skoala/best-practice/auth-server.md
  docs/zh/docs/skoala/images/change-ws.png
  docs/zh/docs/skoala/images/workspace.png
  docs/zh/docs/skoala/quickstart/select-workspace.md
  docs/zh/docs/skoala/quickstart/skoala-init.md
  docs/zh/docs/skoala/quickstart/skoala.md
Labels: skoala, amamba, zh

#2764 update amamba faq
  docs/zh/docs/amamba/faq/faq-jenkins.md
  docs/zh/docs/amamba/images/jenkinsadd.png
Labels: amamba, zh

#2766 add ascend npu quickstart
  docs/zh/docs/kpanda/user-guide/gpu/ascend_quickstart.md
  docs/zh/docs/kpanda/user-guide/gpu/images/ascend-demo-infer-result.png
  docs/zh/docs/kpanda/user-guide/gpu/images/ascend-demo-pod-result.png
  docs/zh/docs/kpanda/user-guide/gpu/images/ascend-demo-pod-status.png
  docs/zh/docs/kpanda/user-guide/gpu/images/ascend-device-plugin.png
  docs/zh/docs/kpanda/user-guide/gpu/images/npu-smi-info.png
  docs/zh/navigation.yml
Labels: kpanda, zh

#2767 Fix minor issues in skoala: auth-server.md
  docs/zh/docs/skoala/best-practice/auth-server.md
Labels: skoala, zh

#2770 update os-install pages
  docs/en/docs/install/evolve.md
  docs/en/docs/install/k8s-install/ecs-install-dce5.0.md
  docs/en/docs/install/os-install/TencentOS-install-dce5.0.md
  docs/en/docs/install/os-install/oracleLinux-install-dce5.0.md
  docs/en/docs/install/os-install/otherlinux.md
  docs/en/docs/install/os-install/uos-v20-install-dce5.0.md
  docs/en/navigation.yml
  docs/zh/docs/install/os-install/TencentOS-install-dce5.0.md
  docs/zh/docs/install/os-install/oracleLinux-install-dce5.0.md
  docs/zh/docs/install/os-install/otherlinux.md
  docs/zh/docs/install/os-install/uos-v20-install-dce5.0.md
  docs/zh/navigation.yml
Labels: installer, zh, en

#2771 update native (11.13-11.19)
  docs/en/docs/native/commerce.md
  docs/en/docs/native/news/news-2023.md
  docs/en/docs/native/open.md
  docs/zh/docs/native/commerce.md
  docs/zh/docs/native/news/news-2023.md
  docs/zh/docs/native/open.md
Labels: zh, en, native

#2772 kairship update feature.md
  docs/zh/docs/kairship/intro/features.md
  docs/zh/navigation.yml
Labels: kairship, zh

#2794 update error
  docs/zh/docs/amamba/faq/faq-jenkins.md
  docs/zh/docs/amamba/intro/release-notes.md
Labels: amamba, zh

#2797 Add skoala global ratelimit case
  docs/zh/docs/skoala/best-practice/auth-server.md
  docs/zh/docs/skoala/best-practice/global-ratelimit.md
  docs/zh/docs/skoala/gateway/api/api-policy.md
  docs/zh/docs/skoala/images/api-rls.png
  docs/zh/docs/skoala/images/gateway-rls.png
  docs/zh/docs/skoala/images/rls-plugin.png
  docs/zh/docs/skoala/images/virtualhost-rls.png
  docs/zh/docs/skoala/quickstart/skoala-init.md
Labels: skoala, zh

#2801 add live-migration.md
  docs/zh/docs/virtnest/images/live01.png
  docs/zh/docs/virtnest/images/live02.png
  docs/zh/docs/virtnest/images/live03.png
  docs/zh/docs/virtnest/images/secret01.png
  docs/zh/docs/virtnest/images/secret02.png
  docs/zh/docs/virtnest/images/secret03.png
  docs/zh/docs/virtnest/quick-start/create-image.md
  docs/zh/docs/virtnest/quick-start/create-secret.md
  docs/zh/docs/virtnest/quick-start/live-migration.md
  docs/zh/navigation.yml
Labels: zh, virtnest

#2803 Fix typo of cloudtty
  docs/en/docs/community/cloudtty.md
Labels: en, eco

#2775 update hwameistor pvc&audit
  docs/zh/docs/storage/hwameistor/resources/audit.md
  docs/zh/docs/storage/hwameistor/resources/expand.md
  docs/zh/navigation.yml
Labels: zh, storage

#2804 Add skoala global ratelimit index
  docs/zh/navigation.yml
Labels: zh

#2815 add fluid
  docs/zh/docs/storage/images/fluid01.png
  docs/zh/docs/storage/images/fluid02.png
  docs/zh/docs/storage/images/fluid03.png
  docs/zh/docs/storage/images/fluid04.png
  docs/zh/docs/storage/images/fluid05.png
  docs/zh/docs/storage/solutions/fluid.md
  docs/zh/navigation.yml
Labels: zh, storage

#2828 update kant user guide
  docs/zh/docs/kant/images/deploy-edgemesh-01.png
  docs/zh/docs/kant/images/deploy-edgemesh-02.png
  docs/zh/docs/kant/images/deploy-edgemesh-03.png
  docs/zh/docs/kant/images/network-overview-01.png
  docs/zh/docs/kant/user-guide/edge-network/deploy-edgemesh.md
  docs/zh/docs/kant/user-guide/edge-network/overview-network.md
  docs/zh/docs/kant/user-guide/edge-network/server.md
  docs/zh/navigation.yml
Labels: zh, kant

#2831 update insight auth table
  docs/zh/docs/insight/intro/permission.md
Labels: insight, zh

#2832 update navigation
  docs/zh/navigation.yml
Labels: zh

#2833 update insight feature list
  docs/zh/docs/insight/intro/feature.md
Labels: insight, zh

#2835 update insight docs
  docs/zh/docs/insight/user-guide/dashboard/login-grafana.md
  docs/zh/docs/insight/user-guide/system-config/modify-config.md
  docs/zh/docs/insight/user-guide/system-config/system-component.md
Labels: insight, zh

#2834 adjust the size of photos
  docs/zh/docs/insight/intro/feature.md
  docs/zh/docs/insight/intro/scenarios.md
  docs/zh/docs/insight/user-guide/collection-manag/collection-manag.md
  docs/zh/docs/insight/user-guide/dashboard/dashboard.md
  docs/zh/docs/insight/user-guide/dashboard/import-dashboard.md
  docs/zh/docs/insight/user-guide/dashboard/overview.md
  docs/zh/docs/insight/user-guide/data-query/event.md
  docs/zh/docs/insight/user-guide/scenario-insight/cluster.md
  docs/zh/docs/insight/user-guide/scenario-insight/container.md
  docs/zh/docs/insight/user-guide/scenario-insight/namespace.md
  docs/zh/docs/insight/user-guide/scenario-insight/node.md
  docs/zh/docs/insight/user-guide/scenario-insight/service.md
  docs/zh/docs/insight/user-guide/scenario-insight/topology.md
Labels: insight, zh

#2841 fix nav docs
  docs/zh/docs/ghippo/user-guide/navigator/navigator.md
Labels: ghippo, zh

#2847 update Cloud-edge collaboration architecture diagram
  docs/en/docs/images/09cloud-edge-update.png
  docs/en/docs/index.md
  docs/zh/docs/images/09cloud-edge-update.png
  docs/zh/docs/index.md
Labels: zh, en

#2849 Update operator.md
  docs/zh/docs/insight/quickstart/otel/operator.md
Labels: insight, zh

#2845 upload new feature docs
  docs/zh/docs/insight/images/create-from-yaml.png
  docs/zh/docs/insight/images/create-from-yaml01.png
  docs/zh/docs/insight/images/probe00.png
  docs/zh/docs/insight/images/probe01.png
  docs/zh/docs/insight/images/probe02.png
  docs/zh/docs/insight/images/probe03.png
  docs/zh/docs/insight/images/probe04.png
  docs/zh/docs/insight/images/probe05.png
  docs/zh/docs/insight/user-guide/alert-center/alert-policy.md
  docs/zh/docs/insight/user-guide/scenario-insight/probe-module.md
  docs/zh/docs/insight/user-guide/scenario-insight/probe.md
  docs/zh/navigation.yml
Labels: insight, zh

#2850 Update name and namespace of argocd
  docs/en/docs/amamba/pluggable-components.md
  docs/zh/docs/amamba/pluggable-components.md
Labels: amamba, zh, en

#2853 update gmagpie introduce
  docs/zh/docs/ghippo/user-guide/report-billing/index.md
Labels: ghippo, zh

#2852 Update kcoral-download
  docs/en/docs/download/index.md
  docs/en/docs/download/modules/kcoral.md
Labels: download, en
