Repository DaoCloud/DaoCloud-docs, pull requests merged in 2023-05, with the labels that each got.

#1447 remove ufile.log, add automerge workflow
  .github/workflows/automerge.yml
  docs/zh/ufile.log
Labels: automerge

#1573 update kangaroo pages
  docs/zh/docs/kangaroo/img/push00.png
  docs/zh/docs/kangaroo/img/push01.png
  docs/zh/docs/kangaroo/img/push02.png
  docs/zh/docs/kangaroo/img/reclaim01.png
  docs/zh/docs/kangaroo/img/reclaim02.png
  docs/zh/docs/kangaroo/img/reclaim03.png
  docs/zh/docs/kangaroo/img/space01.png
  docs/zh/docs/kangaroo/img/space02.png
  docs/zh/docs/kangaroo/img/sync00.png
  docs/zh/docs/kangaroo/img/sync01.png
  docs/zh/docs/kangaroo/img/sync02.png
  docs/zh/docs/kangaroo/img/sync03.png
  docs/zh/docs/kangaroo/img/target01.png
  docs/zh/docs/kangaroo/img/target02.png
  docs/zh/docs/kangaroo/img/target03.png
  docs/zh/docs/kangaroo/integrate/related-registry.md
  docs/zh/docs/kangaroo/integrate/sync.md
  docs/zh/docs/kangaroo/space/imagelist.md
  docs/zh/docs/kangaroo/space/index.md
  docs/zh/docs/kangaroo/space/reclaim.md
  docs/zh/docs/videos/kangaroo.md
  docs/zh/navigation.yml
Labels: wip

#1621 Update auth-server.md
  docs/zh/docs/skoala/best-practice/auth-server.md
Labels: skoala

#1616 update faq
  docs/zh/docs/kpanda/intro/faq.md
Labels: kpanda

#1630 update en docs
  docs/en/docs/amamba/intro/benefits.md
  docs/en/docs/amamba/intro/scenario.md
  docs/en/docs/kairship/intro/benefits.md
  docs/en/docs/kairship/intro/release-notes.md
  docs/en/docs/reference/basic-knowledge/gateway.md
  docs/en/docs/skoala/intro/advantages.md
  docs/en/docs/skoala/intro/release-notes.md
  docs/en/docs/skoala/intro/scenarios.md
  docs/en/navigation.yml
Labels: skoala, kairship, en

#1633 add hardening.md
  docs/zh/docs/kpanda/best-practice/hardening-cluster.md
  docs/zh/docs/kpanda/images/hardening01.png
  docs/zh/docs/kpanda/images/hardening02.png
  docs/zh/docs/kpanda/images/hardening03.png
  docs/zh/docs/kpanda/images/hardening04.png
  docs/zh/docs/kpanda/images/hardening05.png
  docs/zh/docs/kpanda/images/hardening06.png
  docs/zh/docs/kpanda/images/hardening07.png
  docs/zh/navigation.yml
Labels: kpanda, zh

#1634 Update deploy-arch.md
  docs/zh/docs/install/commercial/deploy-arch.md
Labels: installer, zh

#1635 update 7 en pages
  docs/en/docs/kangaroo/faq.md
  docs/en/docs/kangaroo/integrate/sync.md
  docs/en/docs/kangaroo/quickstart/admin-registry.md
  docs/en/docs/kangaroo/quickstart/push.md
  docs/en/docs/kangaroo/quickstart/registry-in-one.md
  docs/en/docs/kangaroo/quickstart/ws-admin-registry.md
  docs/en/docs/kangaroo/release-notes.md
  docs/en/docs/kangaroo/scan.md
  docs/en/docs/kangaroo/what.md
  docs/en/docs/videos/kangaroo.md
  docs/zh/docs/kangaroo/faq.md
Labels: en, kangaroo

#1637 add videos
  docs/en/docs/videos/images/hybrid-expansion.png
  docs/en/docs/videos/images/multicloud-convert.png
  docs/en/docs/videos/index.md
  docs/en/docs/videos/use-cases.md
  docs/en/navigation.yml
  docs/zh/docs/videos/images/hybrid-expansion.png
  docs/zh/docs/videos/images/oem-out.png
  docs/zh/docs/videos/images/south-north.png
  docs/zh/docs/videos/images/underlay-ip.png
  docs/zh/docs/videos/images/west-east.png
  docs/zh/docs/videos/index.md
  docs/zh/docs/videos/multicloud-convert.png
  docs/zh/docs/videos/use-cases.md
  docs/zh/navigation.yml
Labels: video, dce

#1638 replace esn images and gproduct package
  docs/en/docs/dce/license0.md
  docs/en/docs/ghippo/gproduct/gproduct-demo-main.tar.gz
  docs/en/docs/images/license011.png
  docs/en/docs/images/license012.png
  docs/en/docs/images/license02.jpg
  docs/en/docs/images/license02.png
  docs/en/docs/images/license03.png
  docs/zh/docs/dce/license0.md
  docs/zh/docs/ghippo/gproduct/gproduct-demo-main.tar.gz
  docs/zh/docs/images/license02.jpg
Labels: ghippo, dce

#1639 fix: mermaid not working
  docs/en/mkdocs.yml
  docs/en/theme/main.html
  docs/zh/mkdocs.yml
  docs/zh/theme/main.html
Labels: bug
