Repository DaoCloud/DaoCloud-docs, pull requests merged in 2023-06, with the labels that each got.

#1641 Installer: add 10 en docs
  docs/en/docs/install/commercial/prepare.md
  docs/en/docs/install/community/k8s/offline.md
  docs/en/docs/install/community/k8s/online.md
  docs/en/docs/install/community/kind/online.md
  docs/en/docs/install/community/resources.md
  docs/en/docs/install/faq.md
  docs/en/docs/install/install-tools.md
  docs/en/docs/install/intro.md
  docs/en/docs/install/uninstall.md
  docs/en/docs/install/upgrade.md
  docs/zh/docs/install/commercial/prepare.md
  docs/zh/docs/install/community/k8s/offline.md
  docs/zh/docs/install/community/k8s/online.md
  docs/zh/docs/install/community/resources.md
  docs/zh/docs/install/install-tools.md
  docs/zh/docs/install/intro.md
  docs/zh/docs/install/upgrade.md
  docs/zh/docs/kpanda/intro/faq.md
  docs/zh/docs/videos/ghippo.md
  docs/zh/docs/videos/install.md
  docs/zh/docs/videos/use-cases.md
Labels: installer, en

#1645 update en storage pages
  docs/en/docs/storage/background.md
  docs/en/docs/storage/benefits.md
  docs/en/docs/storage/features.md
  docs/en/docs/storage/hwameistor/faqs.md
  docs/en/docs/storage/hwameistor/install/customized-kubelet.md
  docs/en/docs/storage/hwameistor/install/deploy-operator.md
  docs/en/docs/storage/hwameistor/install/prereq.md
  docs/en/docs/storage/hwameistor/install/storage-eth.md
  docs/en/docs/storage/hwameistor/install/uninstall.md
  docs/en/docs/storage/hwameistor/install/upgrade.md
  docs/en/docs/storage/hwameistor/releasenotes.md
  docs/en/docs/storage/what.md
  docs/en/navigation.yml
Labels: en, storage

#1646 fix format and remove zh images
  docs/en/docs/storage/hwameistor/install/deploy-operator.md
  docs/en/docs/storage/hwameistor/install/deploy-ui.md
  docs/en/docs/storage/hwameistor/install/drbdinstall.md
  docs/en/docs/storage/hwameistor/install/prereq.md
  docs/en/docs/storage/hwameistor/install/proresource.md
Labels: en, storage

#1643 add blog: api server tracing to beta
  docs/en/docs/blogs/230601-api-server-tracing.md
  docs/en/docs/blogs/images/trace02.png
  docs/en/docs/blogs/images/trace03.png
  docs/en/docs/blogs/index.md
  docs/en/navigation.yml
  docs/zh/docs/blogs/230601-api-server-tracing.md
  docs/zh/docs/blogs/images/trace01.png
  docs/zh/docs/blogs/images/trace02.png
  docs/zh/docs/blogs/images/trace03.png
  docs/zh/docs/blogs/index.md
  docs/zh/navigation.yml
Labels: zh, en, blog

#1648 mspider: Update release-notes.md
  docs/zh/docs/mspider/intro/release-notes.md
Labels: mspider

#1649 update en navigation.yml
  docs/en/docs/amamba/intro/what.md
  docs/en/docs/dce/what.md
  docs/en/docs/download/business/dce5-installer-v0.3.27.md
  docs/en/docs/download/business/dce5-installer-v0.3.28.md
  docs/en/docs/download/business/dce5-installer-v0.3.29.md
  docs/en/docs/download/business/dce5-installer-v0.3.30.md
  docs/en/docs/download/business/dce5-installer-v0.4.0-rc2.md
  docs/en/docs/download/business/dce5-installer-v0.4.0.md
  docs/en/docs/download/business/dce5-installer-v0.5.0.md
  docs/en/docs/download/business/dce5-installer-v0.6.0.md
  docs/en/docs/download/business/dce5-installer-v0.6.1.md
  docs/en/docs/download/business/dce5-installer-v0.7.0.md
  docs/en/docs/download/dce5.md
  docs/en/docs/download/free/dce5-installer-history.md
  docs/en/docs/download/free/dce5-installer-v0.3.27.md
  docs/en/docs/download/free/dce5-installer-v0.3.28.md
  docs/en/docs/download/free/dce5-installer-v0.3.29.md
  docs/en/docs/download/free/dce5-installer-v0.3.30.md
  docs/en/docs/download/free/dce5-installer-v0.4.0-rc2.md
  docs/en/docs/download/free/dce5-installer-v0.4.0.md
  docs/en/docs/download/free/dce5-installer-v0.5.0.md
  docs/en/docs/download/free/dce5-installer-v0.6.0.md
  docs/en/docs/download/free/dce5-installer-v0.6.1.md
  docs/en/docs/download/free/dce5-installer-v0.7.0.md
  docs/en/docs/index.md
  docs/en/docs/insight/intro/features.md
  docs/en/docs/install/commercial/cluster-config.md
  docs/en/docs/install/commercial/deploy-requirements.md
  docs/en/docs/install/community/kind/online.md
  docs/en/docs/install/intro.md
  docs/en/docs/install/k8s-install/ocp-install-dce5.0.md
  docs/en/docs/install/os-install/otherlinux.md
  docs/en/docs/install/os-install/uos-v20-install-dce5.0.md
  docs/en/docs/install/release-notes.md
  docs/en/docs/native/commerce.md
  docs/en/docs/skoala/quickstart/install.md
  docs/en/docs/videos/install.md
  docs/en/navigation.yml
Labels: installer, en

#1647 fix en issues in mspider
  docs/en/docs/mspider/install/install.md
  docs/en/docs/mspider/install/istio-update.md
  docs/en/docs/mspider/install/sidecar-update.md
  docs/en/docs/mspider/intro/release-notes.md
  docs/en/docs/mspider/intro/what.md
  docs/en/docs/mspider/user-guide/service-mesh/README.md
Labels: mspider, en

#1650 update kpanda faq
  docs/zh/docs/kpanda/images/faq1101.png
  docs/zh/docs/kpanda/images/faq1102.png
  docs/zh/docs/kpanda/images/faq604.png
  docs/zh/docs/kpanda/images/faq701.png
  docs/zh/docs/kpanda/images/faq801.png
  docs/zh/docs/kpanda/images/faq901.png
  docs/zh/docs/kpanda/intro/faq.md
Labels: kpanda, zh

#1651 update terms
  docs/en/docs/download/business/dce5-installer-history.md
  docs/en/docs/download/business/dce5-installer-v0.3.27.md
  docs/en/docs/download/business/dce5-installer-v0.3.29.md
  docs/en/docs/download/business/dce5-installer-v0.3.30.md
  docs/en/docs/download/business/dce5-installer-v0.4.0-rc2.md
  docs/en/docs/download/business/dce5-installer-v0.4.0.md
  docs/en/docs/download/business/dce5-installer-v0.5.0.md
  docs/en/docs/download/business/dce5-installer-v0.6.0.md
  docs/en/docs/download/business/dce5-installer-v0.6.1.md
  docs/en/docs/download/business/dce5-installer-v0.7.0.md
  docs/en/docs/download/dce5.md
  docs/en/docs/insight/intro/features.md
  docs/en/docs/install/commercial/start-install.md
  docs/en/docs/kpanda/user-guide/clusters/upgrade-cluster.md
  docs/en/docs/skoala/quickstart/install.md
  docs/en/docs/videos/install.md
Labels: installer, download, en

#1653 add en faq of kpanda
  docs/en/docs/kpanda/images/faq1.png
  docs/en/docs/kpanda/images/faq301.png
  docs/en/docs/kpanda/intro/faq.md
  docs/en/navigation.yml
  docs/zh/docs/kpanda/intro/faq.md
Labels: kpanda, en

#1654 download: addon version updated to v0.8.0
  docs/zh/docs/download/addon/v0.8.0.md
  docs/zh/docs/download/dce5.md
Labels: download, zh

#1655 remove limitrange from ghippo
  docs/en/docs/ghippo/user-guide/workspace/limitrange.md
  docs/en/navigation.yml
  docs/zh/docs/ghippo/user-guide/workspace/limitrange.md
  docs/zh/navigation.yml
Labels: ghippo, download

#1656 add videos to scenarios page and update spiderpool
  docs/zh/docs/community/index.md
  docs/zh/docs/community/kwok.md
  docs/zh/docs/community/spiderpool.md
  docs/zh/docs/dce/scenario.md
  docs/zh/docs/ghippo/gproduct/intro.md
  docs/zh/docs/kairship/intro/what.md
  docs/zh/docs/mspider/intro/scenarios.md
  docs/zh/docs/network/modules/spiderpool/what.md
  docs/zh/docs/skoala/intro/scenarios.md
Labels: zh, video, network

#1657 update servicemitor yaml
  docs/zh/docs/insight/faq/service-monitor.md
Labels: insight, zh

#1642 Fix some typos.
  docs/zh/docs/dce/scenario.md
  docs/zh/docs/network/modules/spiderpool/cutomizedusage.md
Labels: zh, network, dce

#1629 update release note
  docs/zh/docs/insight/intro/releasenote.md
  docs/zh/docs/insight/user-guide/quickstart/upgrade-note.md
Labels: insight, zh

#1659 update amamaba release
  docs/zh/docs/amamba/intro/release-notes.md
Labels: amamba, zh

#1660 update native(5.29-6.4)
  docs/en/docs/native/commerce.md
  docs/en/docs/native/news.md
  docs/en/docs/native/open.md
  docs/zh/docs/native/commerce.md
  docs/zh/docs/native/news.md
  docs/zh/docs/native/open.md
Labels: native

#1661 add a blog: fedstate
  docs/en/docs/blogs/230605-fedstate.md
  docs/en/docs/blogs/images/fedstate02.png
  docs/en/docs/blogs/images/fedstate03.png
  docs/en/docs/blogs/index.md
  docs/en/navigation.yml
  docs/zh/docs/blogs/230605-fedstate.md
  docs/zh/docs/blogs/images/fedstate01.png
  docs/zh/docs/blogs/images/fedstate02.png
  docs/zh/docs/blogs/images/fedstate03.png
  docs/zh/docs/blogs/index.md
  docs/zh/navigation.yml
Labels: zh, en, blog

#1663 download: addon
  docs/zh/docs/download/addon/.template.md
  docs/zh/docs/download/addon/history.md
  docs/zh/docs/download/addon/v0.8.0.md
  docs/zh/navigation.yml
Labels: download, zh

#1665 update the table
  docs/zh/docs/middleware/compatibility.md
Labels: mcamel, zh

#1667 Update release-notes.md
  docs/zh/docs/mspider/intro/release-notes.md
Labels: mspider

#1666 Update video/kpanda.md
  docs/zh/docs/videos/kpanda.md
Labels: kpanda

#1669 add kangaroo release note
  docs/zh/docs/kangaroo/release-notes.md
Labels: kangaroo

#1673 update release-note
  docs/zh/docs/kairship/intro/release-notes.md
Labels: kairship

#1672 download: addon
  docs/zh/docs/download/dce5.md
  docs/zh/navigation.yml
Labels: download

#1674 replace videos with links on doc pages
  docs/zh/docs/community/spiderpool.md
  docs/zh/docs/dce/scenario.md
  docs/zh/docs/ghippo/gproduct/intro.md
  docs/zh/docs/kairship/intro/what.md
  docs/zh/docs/kpanda/best-practice/backup-mysql-on-nfs.md
  docs/zh/docs/mspider/intro/scenarios.md
  docs/zh/docs/network/modules/spiderpool/what.md
  docs/zh/docs/skoala/intro/scenarios.md
Labels: video

#1615 update download
  docs/zh/docs/install/air-tag-download.md
  docs/zh/docs/install/commercial/start-install.md
  docs/zh/docs/install/install-tools.md
Labels: wip, installer, zh

#1625 arm multi-arch
  docs/zh/docs/kpanda/best-practice/multi-arch.md
  docs/zh/docs/kpanda/images/arm01.png
  docs/zh/docs/kpanda/images/arm02.png
  docs/zh/navigation.yml
Labels: wip, kpanda, zh

#1675 polish en text on home page
  docs/en/docs/dce/kcsp.md
  docs/en/docs/dce/what.md
  docs/en/docs/images/01multi-cloud.png
  docs/en/docs/index.md
Labels: en, dce

#1677 update text in installer
  docs/en/docs/install/community/k8s/offline.md
  docs/en/docs/install/community/k8s/online.md
  docs/en/docs/install/community/kind/online.md
  docs/zh/docs/install/community/k8s/offline.md
Labels: installer

#1680 Update cilium what.md
  docs/zh/docs/network/modules/cilium/what.md
Labels: network

#1685 ghippo: update advanced appearance
  docs/en/docs/ghippo/images/appear04.png
  docs/en/docs/ghippo/images/appear05.png
  docs/en/docs/ghippo/user-guide/platform-setting/appearance.md
  docs/en/docs/install/community/resources.md
  docs/zh/docs/ghippo/images/appear05.png
  docs/zh/docs/ghippo/user-guide/platform-setting/appearance.md
Labels: ghippo

#1686 update en download pages
  docs/en/docs/download/addon/history.md
  docs/en/docs/download/addon/v0.8.0.md
  docs/en/docs/download/business/dce5-installer-v0.8.0.md
  docs/en/docs/download/dce5.md
  docs/en/docs/download/free/dce5-installer-v0.8.0.md
  docs/en/docs/download/modules/ghippo.md
  docs/en/navigation.yml
  docs/zh/navigation.yml
Labels: download, en

#1690 update en install pages
  docs/en/docs/amamba/quickstart/scan-with-harbor.md
  docs/en/docs/amamba/quickstart/scan-with-pipeline.md
  docs/en/docs/blogs/230214-open-projects.md
  docs/en/docs/blogs/230315-install-on-linux.md
  docs/en/docs/blogs/230315-install-on-macos.md
  docs/en/docs/blogs/230405-step-by-step-dce5.md
  docs/en/docs/blogs/230412-k8s-1.27.md
  docs/en/docs/blogs/index.md
  docs/en/docs/download/business/dce5-installer-v0.8.0.md
  docs/en/docs/install/commercial/start-install.md
  docs/en/docs/install/community/k8s/offline.md
  docs/en/docs/install/community/kind/online.md
  docs/en/docs/install/install-tools.md
  docs/en/docs/install/intro.md
  docs/en/docs/install/os-install/oracleLinux-install-dce5.0.md
  docs/en/docs/install/os-install/otherlinux.md
  docs/en/docs/install/release-notes.md
  docs/en/docs/middleware/elasticsearch/faq/common-question-es.md
  docs/en/docs/middleware/mysql/faq/common-question.md
  docs/en/docs/native/commerce.md
  docs/en/navigation.yml
  docs/zh/docs/install/commercial/start-install.md
  docs/zh/navigation.yml
Labels: installer, en

#1692 add release notes to DCE
  docs/en/docs/dce/dce-rn.md
  docs/en/docs/mspider/intro/release-notes.md
  docs/en/navigation.yml
  docs/zh/docs/dce/dce-rn.md
  docs/zh/navigation.yml
Labels: dce

#1707 feat: support view page history
  docs/en/theme/overrides/partials/content.html
  docs/zh/theme/overrides/partials/content.html
Labels: zh, en

#1706 update native (6.5-6.11)
  docs/en/docs/native/commerce.md
  docs/en/docs/native/news.md
  docs/en/docs/native/open.md
  docs/zh/docs/native/commerce.md
  docs/zh/docs/native/news.md
  docs/zh/docs/native/open.md
Labels: zh, en, native

#1709 add a blog: ray for AIGC
  docs/en/docs/blogs/230612-ray.md
  docs/en/docs/blogs/images/ray02.png
  docs/en/docs/blogs/images/ray03.png
  docs/en/docs/blogs/images/ray04.png
  docs/en/docs/blogs/images/ray05.png
  docs/en/docs/blogs/images/ray06.png
  docs/en/docs/blogs/images/ray07.png
  docs/en/docs/blogs/images/ray08.png
  docs/en/docs/blogs/images/ray09.png
  docs/en/docs/blogs/images/ray10.png
  docs/en/docs/blogs/images/ray11.png
  docs/en/docs/blogs/images/ray12.png
  docs/en/docs/blogs/images/ray13.png
  docs/en/docs/blogs/images/ray14.png
  docs/en/docs/blogs/images/ray15.png
  docs/en/docs/blogs/images/ray16.png
  docs/en/docs/blogs/images/ray17.png
  docs/en/docs/blogs/images/ray18.png
  docs/en/docs/blogs/images/ray19.png
  docs/en/docs/blogs/images/ray20.png
  docs/en/docs/blogs/images/ray21.png
  docs/en/docs/blogs/images/ray22.png
  docs/en/docs/blogs/images/ray23.png
  docs/en/docs/blogs/index.md
  docs/en/navigation.yml
  docs/zh/docs/blogs/230612-ray.md
  docs/zh/docs/blogs/images/ray01.png
  docs/zh/docs/blogs/images/ray02.png
  docs/zh/docs/blogs/images/ray03.png
  docs/zh/docs/blogs/images/ray04.png
  docs/zh/docs/blogs/images/ray05.png
  docs/zh/docs/blogs/images/ray06.png
  docs/zh/docs/blogs/images/ray07.png
  docs/zh/docs/blogs/images/ray08.png
  docs/zh/docs/blogs/images/ray09.png
  docs/zh/docs/blogs/images/ray10.png
  docs/zh/docs/blogs/images/ray11.png
  docs/zh/docs/blogs/images/ray12.png
  docs/zh/docs/blogs/images/ray13.png
  docs/zh/docs/blogs/images/ray14.png
  docs/zh/docs/blogs/images/ray15.png
  docs/zh/docs/blogs/images/ray16.png
  docs/zh/docs/blogs/images/ray17.png
  docs/zh/docs/blogs/images/ray18.png
  docs/zh/docs/blogs/images/ray19.png
  docs/zh/docs/blogs/images/ray20.png
  docs/zh/docs/blogs/images/ray21.png
  docs/zh/docs/blogs/images/ray22.png
  docs/zh/docs/blogs/images/ray23.png
  docs/zh/docs/blogs/index.md
  docs/zh/navigation.yml
Labels: zh, en, blogs

#1710 update create-mesh pages
  docs/en/docs/dce/terms.md
  docs/en/docs/mspider/images/create-mesh01.png
  docs/en/docs/mspider/images/create-mesh02.png
  docs/en/docs/mspider/images/create-mesh03.png
  docs/en/docs/mspider/images/create-mesh04.png
  docs/en/docs/mspider/images/create-mesh05.png
  docs/en/docs/mspider/images/deletemesh01.png
  docs/en/docs/mspider/images/deletemesh02.png
  docs/en/docs/mspider/images/deletemesh03.png
  docs/en/docs/mspider/images/deletemesh04.png
  docs/en/docs/mspider/images/external01.png
  docs/en/docs/mspider/images/external02.png
  docs/en/docs/mspider/images/external03.png
  docs/en/docs/mspider/intro/cp-component.md
  docs/en/docs/mspider/intro/release-notes.md
  docs/en/docs/mspider/intro/what.md
  docs/en/docs/mspider/troubleshoot/always-in-creating.md
  docs/en/docs/mspider/troubleshoot/failed-to-add-cluster.md
  docs/en/docs/mspider/troubleshoot/hosted-mesh-errors.md
  docs/en/docs/mspider/troubleshoot/index.md
  docs/en/docs/mspider/user-guide/cluster-management/README.md
  docs/en/docs/mspider/user-guide/cluster-management/join-clus.md
  docs/en/docs/mspider/user-guide/mesh-config/custom-res.md
  docs/en/docs/mspider/user-guide/multicluster/cluster-interconnect.md
  docs/en/docs/mspider/user-guide/multicluster/multicluster-install.md
  docs/en/docs/mspider/user-guide/service-mesh/README.md
  docs/en/docs/mspider/user-guide/service-mesh/capacity-resources.md
  docs/en/docs/mspider/user-guide/service-mesh/delete.md
  docs/en/docs/mspider/user-guide/service-mesh/external-mesh.md
  docs/en/docs/mspider/user-guide/service-mesh/params.md
  docs/zh/docs/mspider/images/create-mesh01.png
  docs/zh/docs/mspider/images/create-mesh02.png
  docs/zh/docs/mspider/images/create-mesh03.png
  docs/zh/docs/mspider/images/create-mesh04.png
  docs/zh/docs/mspider/images/create-mesh05.png
  docs/zh/docs/mspider/images/create-mesh06.png
  docs/zh/docs/mspider/images/deletemesh03.png
  docs/zh/docs/mspider/images/deletemesh04.png
  docs/zh/docs/mspider/images/external01.png
  docs/zh/docs/mspider/images/external02.png
  docs/zh/docs/mspider/user-guide/service-mesh/README.md
  docs/zh/docs/mspider/user-guide/service-mesh/delete.md
  docs/zh/docs/mspider/user-guide/service-mesh/external-mesh.md
Labels: mspider, zh, en, dce

#1711 fix indentations in blog-ray
  docs/en/docs/blogs/230612-ray.md
Labels: en, blogs

#1712 polish otel operator docs
  docs/en/docs/insight/user-guide/quickstart/jvm-monitor/legacy-jvm.md
  docs/en/docs/insight/user-guide/quickstart/jvm-monitor/otel-java-agent.md
  docs/en/docs/insight/user-guide/quickstart/otel/operator.md
  docs/zh/docs/insight/user-guide/quickstart/jvm-monitor/legacy-jvm.md
  docs/zh/docs/insight/user-guide/quickstart/jvm-monitor/otel-java-agent.md
  docs/zh/docs/insight/user-guide/quickstart/otel/operator.md
Labels: insight, zh, en

#1713 add bluegreen docs
  docs/zh/docs/amamba/images/blue-green.png
  docs/zh/docs/amamba/images/blue-green01.png
  docs/zh/docs/amamba/images/blue-green02.png
  docs/zh/docs/amamba/images/blue-green03.png
  docs/zh/docs/amamba/user-guide/release/blue-green.md
  docs/zh/navigation.yml
Labels: amamba, zh

#1717 Skoala: add test report
  docs/zh/docs/skoala/images/test-gateway01.png
  docs/zh/docs/skoala/images/test-gateway02.png
  docs/zh/docs/skoala/images/test-gateway03.png
  docs/zh/docs/skoala/images/test-gateway04.png
  docs/zh/docs/skoala/images/test-gateway05.png
  docs/zh/docs/skoala/images/test-gateway06.png
  docs/zh/docs/skoala/images/test-gateway07.png
  docs/zh/docs/skoala/images/test-gateway08.png
  docs/zh/docs/skoala/images/test-gateway09.png
  docs/zh/docs/skoala/images/test-gateway10.png
  docs/zh/docs/skoala/images/test-gateway11.png
  docs/zh/docs/skoala/images/test-gateway12.png
  docs/zh/docs/skoala/images/test-gateway13.png
  docs/zh/docs/skoala/images/test-gateway14.png
  docs/zh/docs/skoala/images/test-gateway15.png
  docs/zh/docs/skoala/images/test-gateway16.png
  docs/zh/docs/skoala/images/test-gateway17.png
  docs/zh/docs/skoala/images/test-gateway18.png
  docs/zh/docs/skoala/images/test-gateway19.png
  docs/zh/docs/skoala/images/test-gateway20.png
  docs/zh/docs/skoala/images/test-gateway21.png
  docs/zh/docs/skoala/images/test-gateway22.png
  docs/zh/docs/skoala/images/test-gateway23.png
  docs/zh/docs/skoala/images/test-gateway24.png
  docs/zh/docs/skoala/images/test-gateway25.png
  docs/zh/docs/skoala/images/test-gateway26.png
  docs/zh/docs/skoala/images/test-gateway27.png
  docs/zh/docs/skoala/images/test-gateway28.png
  docs/zh/docs/skoala/images/test-gateway29.png
  docs/zh/docs/skoala/images/test-gateway30.png
  docs/zh/docs/skoala/images/test-gateway31.png
  docs/zh/docs/skoala/images/test-gateway32.png
  docs/zh/docs/skoala/images/test-gateway33.png
  docs/zh/docs/skoala/images/test-gateway34.png
  docs/zh/docs/skoala/images/test-gateway35.png
  docs/zh/docs/skoala/images/test-gateway36.png
  docs/zh/docs/skoala/images/test-gateway37.png
  docs/zh/docs/skoala/images/test-gateway38.png
  docs/zh/docs/skoala/tests/gateway-stress-test.md
  docs/zh/navigation.yml
Labels: skoala, zh

#1716 update sidecar mgmt pages
  docs/en/docs/blogs/230508-cilium.md
  docs/en/docs/insight/user-guide/quickstart/k8s-compatibility.md
  docs/en/docs/insight/user-guide/quickstart/ocp-compatibility.md
  docs/en/docs/insight/user-guide/quickstart/rancher-compatibility.md
  docs/en/docs/mspider/images/ns-sidecar01.png
  docs/en/docs/mspider/images/ns-sidecar02.png
  docs/en/docs/mspider/images/ns-sidecar03-01.png
  docs/en/docs/mspider/images/ns-sidecar03.png
  docs/en/docs/mspider/images/ns-sidecar04.png
  docs/en/docs/mspider/images/ns-sidecar05.png
  docs/en/docs/mspider/images/ns-sidecar07.png
  docs/en/docs/mspider/images/wl-sidecar01.png
  docs/en/docs/mspider/images/wl-sidecar02-01.png
  docs/en/docs/mspider/images/wl-sidecar02.png
  docs/en/docs/mspider/images/wl-sidecar03.png
  docs/en/docs/mspider/images/wl-sidecar04.png
  docs/en/docs/mspider/images/wl-sidecar07.png
  docs/en/docs/mspider/images/wl-sidecar10.png
  docs/en/docs/mspider/install/sidecar-update.md
  docs/en/docs/mspider/user-guide/multicluster/traffic-branch.md
  docs/en/docs/mspider/user-guide/sidecar-management/ns-sidecar.md
  docs/en/docs/mspider/user-guide/sidecar-management/passthrough.md
  docs/en/docs/mspider/user-guide/sidecar-management/workload-sidecar.md
  docs/zh/docs/blogs/230508-cilium.md
  docs/zh/docs/insight/user-guide/quickstart/k8s-compatibility.md
  docs/zh/docs/insight/user-guide/quickstart/ocp-compatibility.md
  docs/zh/docs/insight/user-guide/quickstart/rancher-compatibility.md
  docs/zh/docs/mspider/images/ns-sidecar01.png
  docs/zh/docs/mspider/images/ns-sidecar02.png
  docs/zh/docs/mspider/images/ns-sidecar03-01.png
  docs/zh/docs/mspider/images/ns-sidecar03.png
  docs/zh/docs/mspider/images/ns-sidecar04.png
  docs/zh/docs/mspider/images/ns-sidecar05-01.png
  docs/zh/docs/mspider/images/ns-sidecar05.png
  docs/zh/docs/mspider/images/ns-sidecar07-01.png
  docs/zh/docs/mspider/images/ns-sidecar07.png
  docs/zh/docs/mspider/images/sc-disable01.png
  docs/zh/docs/mspider/images/sc-disable02.png
  docs/zh/docs/mspider/images/sc-disable03.png
  docs/zh/docs/mspider/images/sidecar-update01.png
  docs/zh/docs/mspider/images/wl-sidecar01.png
  docs/zh/docs/mspider/images/wl-sidecar02-01.png
  docs/zh/docs/mspider/images/wl-sidecar02.png
  docs/zh/docs/mspider/images/wl-sidecar03.png
  docs/zh/docs/mspider/images/wl-sidecar04.png
  docs/zh/docs/mspider/images/wl-sidecar05.png
  docs/zh/docs/mspider/install/sidecar-update.md
  docs/zh/docs/mspider/user-guide/sidecar-management/ns-sidecar.md
  docs/zh/docs/mspider/user-guide/sidecar-management/workload-sidecar.md
Labels: mspider, insight, zh, en, blogs

#1718 update install
  docs/zh/docs/amamba/intro/release-notes.md
  docs/zh/docs/install/commercial/download-file.md
  docs/zh/docs/install/commercial/start-install.md
  docs/zh/docs/kpanda/best-practice/multi-arch.md
Labels: kpanda, amamba, installer, zh

#1721 Update kcsp.md
  docs/zh/docs/dce/kcsp.md
Labels: zh, dce

#1723 Update features.md
  docs/zh/docs/kpanda/intro/features.md
Labels: kpanda, zh

#1722 Update features.md
  docs/zh/docs/dce/features.md
Labels: zh, dce

#1727 update scripts/run_netlify.sh
  scripts/run_netlify.sh
Labels: develop

#1729 fix links
  docs/en/docs/skoala/best-practice/auth-server.md
  docs/en/docs/skoala/best-practice/jwt.md
  docs/en/docs/skoala/best-practice/use-skoala-01.md
  docs/en/docs/skoala/cloud-ms/traffic-control.md
  docs/zh/docs/amamba/user-guide/wizard/create-app-git.md
  docs/zh/docs/install/install-tools.md
  docs/zh/docs/kpanda/user-guide/clusters/create-cluster.md
  docs/zh/docs/skoala/best-practice/auth-server.md
  docs/zh/docs/skoala/best-practice/jwt.md
  docs/zh/docs/skoala/best-practice/use-skoala-01.md
  docs/zh/docs/skoala/cloud-ms/traffic-control.md
Labels: skoala, kpanda, amamba, installer, zh, en

#1728 fix links
  docs/en/docs/blogs/230509-k8s-install.md
  docs/en/docs/community/fedstate.md
  docs/en/docs/dce/dce-rn.md
  docs/en/docs/download/addon/v0.5.2.md
  docs/en/docs/download/addon/v0.6.0.md
  docs/en/docs/download/addon/v0.8.0.md
  docs/en/docs/download/business/dce5-installer-v0.8.0.md
  docs/en/docs/kangaroo/faq.md
  docs/en/docs/kangaroo/images/space02.png
  docs/en/docs/kangaroo/images/trivy-nodb.png
  docs/en/docs/kangaroo/space/imagelist.md
  docs/en/docs/kpanda/user-guide/custom-resources/create.md
  docs/en/navigation.yml
  docs/zh/docs/dce/terms.md
  docs/zh/docs/ghippo/intro/features.md
  docs/zh/docs/insight/user-guide/alert-center/msg-template.md
  docs/zh/docs/install/install-tools.md
Labels: insight, kpanda, ghippo, installer, download, zh, en, blogs, kangaroo, dce, eco

#1732 add kdoctor and egressgateway
  docs/en/docs/community/egress-gw.md
  docs/en/docs/community/images/egress01.png
  docs/en/docs/community/images/egress02.png
  docs/en/docs/community/index.md
  docs/en/docs/community/kdoctor.md
  docs/en/navigation.yml
  docs/zh/docs/community/egress-gw.md
  docs/zh/docs/community/images/egress01.png
  docs/zh/docs/community/images/egress02.png
  docs/zh/docs/community/index.md
  docs/zh/docs/community/kdoctor.md
  docs/zh/navigation.yml
Labels: zh, en, eco

#1734 update community/index.md and add mspider images
  docs/en/docs/community/index.md
  docs/en/docs/community/mirror.md
  docs/en/docs/mspider/images/ns-sidecar07-01.png
  docs/en/docs/mspider/images/sc-disable01.png
  docs/en/docs/mspider/images/sc-disable02.png
  docs/en/docs/mspider/images/sc-disable03.png
  docs/en/navigation.yml
  docs/zh/docs/community/index.md
Labels: mspider, zh, en, eco

#1730 updated for permission&costemize role
  docs/zh/docs/middleware/customize-permission.md
  docs/zh/docs/middleware/permission.md
  docs/zh/navigation.yml
Labels: midware, zh

#1735 update generate_pdf.md
  scripts/generate_pdf.md
Labels: develop

#1736 update readme
  README.md
  README_zh.md
Labels: dce

#1737 new docs:configure sms provide
  docs/zh/docs/insight/images/sms01.png
  docs/zh/docs/insight/images/sms02.png
  docs/zh/docs/insight/images/sms03.png
  docs/zh/docs/insight/user-guide/alert-center/message.md
  docs/zh/docs/insight/user-guide/alert-center/sms-provider.md
  docs/zh/navigation.yml
Labels: insight, zh

#1733 skoala: add docs about gateway best practice
  docs/en/docs/skoala/best-practice/gateway01.md
  docs/en/docs/skoala/images/br-gw06.png
  docs/en/docs/skoala/images/br-gw07.png
  docs/en/docs/skoala/images/br-gw08.png
  docs/en/docs/skoala/images/br-gw09.png
  docs/en/docs/skoala/images/br-gw10.png
  docs/en/docs/skoala/images/test-gateway01.png
  docs/en/docs/skoala/images/test-gateway02.png
  docs/en/docs/skoala/images/test-gateway03.png
  docs/en/docs/skoala/images/test-gateway04.png
  docs/en/docs/skoala/images/test-gateway05.png
  docs/en/docs/skoala/images/test-gateway06.png
  docs/en/docs/skoala/images/test-gateway07.png
  docs/en/docs/skoala/images/test-gateway08.png
  docs/en/docs/skoala/images/test-gateway09.png
  docs/en/docs/skoala/images/test-gateway10.png
  docs/en/docs/skoala/images/test-gateway11.png
  docs/en/docs/skoala/images/test-gateway12.png
  docs/en/docs/skoala/images/test-gateway13.png
  docs/en/docs/skoala/images/test-gateway14.png
  docs/en/docs/skoala/images/test-gateway15.png
  docs/en/docs/skoala/images/test-gateway16.png
  docs/en/docs/skoala/images/test-gateway17.png
  docs/en/docs/skoala/images/test-gateway18.png
  docs/en/docs/skoala/images/test-gateway19.png
  docs/en/docs/skoala/images/test-gateway20.png
  docs/en/docs/skoala/images/test-gateway21.png
  docs/en/docs/skoala/images/test-gateway22.png
  docs/en/docs/skoala/images/test-gateway23.png
  docs/en/docs/skoala/images/test-gateway24.png
  docs/en/docs/skoala/images/test-gateway25.png
  docs/en/docs/skoala/images/test-gateway26.png
  docs/en/docs/skoala/images/test-gateway27.png
  docs/en/docs/skoala/images/test-gateway28.png
  docs/en/docs/skoala/images/test-gateway29.png
  docs/en/docs/skoala/images/test-gateway30.png
  docs/en/docs/skoala/images/test-gateway31.png
  docs/en/docs/skoala/images/test-gateway32.png
  docs/en/docs/skoala/images/test-gateway33.png
  docs/en/docs/skoala/images/test-gateway34.png
  docs/en/docs/skoala/images/test-gateway35.png
  docs/en/docs/skoala/images/test-gateway36.png
  docs/en/docs/skoala/images/test-gateway37.png
  docs/en/docs/skoala/images/test-gateway38.png
  docs/en/docs/skoala/tests/gateway-stress-test.md
  docs/zh/docs/skoala/best-practice/gateway01.md
  docs/zh/docs/skoala/images/br-gw01.png
  docs/zh/docs/skoala/images/br-gw02.png
  docs/zh/docs/skoala/images/br-gw03.png
  docs/zh/docs/skoala/images/br-gw04.png
  docs/zh/docs/skoala/images/br-gw05.png
  docs/zh/docs/skoala/images/br-gw06.png
  docs/zh/docs/skoala/images/br-gw07.png
  docs/zh/docs/skoala/images/br-gw08.png
  docs/zh/docs/skoala/images/br-gw09.png
  docs/zh/docs/skoala/images/br-gw10.png
  docs/zh/docs/skoala/tests/gateway-stress-test.md
Labels: skoala, zh, en

#1738 sync en video pages
  docs/en/docs/videos/amamba.md
  docs/en/docs/videos/images/amamba-canary.png
  docs/en/docs/videos/images/amamba-cicd.png
  docs/en/docs/videos/images/amamba-git.png
  docs/en/docs/videos/images/oem-out.png
  docs/en/docs/videos/images/south-north.png
  docs/en/docs/videos/images/underlay-ip.png
  docs/en/docs/videos/images/west-east.png
  docs/en/docs/videos/index.md
  docs/en/docs/videos/kairship.md
  docs/en/docs/videos/mcamel.md
  docs/en/docs/videos/skoala.md
  docs/en/docs/videos/use-cases.md
Labels: en, videos

#1741 skoala: add gateway api policy best pracitce
  docs/zh/docs/skoala/best-practice/gateway02.md
  docs/zh/docs/skoala/images/br-gw11.png
  docs/zh/docs/skoala/images/br-gw12.png
  docs/zh/docs/skoala/images/br-gw13.png
  docs/zh/docs/skoala/images/br-gw14.png
  docs/zh/docs/skoala/images/br-gw15.png
  docs/zh/docs/skoala/images/br-gw16.png
  docs/zh/docs/skoala/images/br-gw17.png
  docs/zh/docs/skoala/images/br-gw18.png
  docs/zh/docs/skoala/images/br-gw19.png
  docs/zh/docs/skoala/images/br-gw20.png
  docs/zh/docs/skoala/images/br-gw21.png
  docs/zh/docs/skoala/images/br-gw22.png
  docs/zh/docs/skoala/images/br-gw23.png
  docs/zh/docs/skoala/images/br-gw24.png
  docs/zh/docs/skoala/images/br-gw25.png
  docs/zh/docs/skoala/images/br-gw26.png
  docs/zh/docs/skoala/images/br-gw27.png
  docs/zh/docs/skoala/images/br-gw28.png
  docs/zh/docs/skoala/images/br-gw29.png
  docs/zh/docs/skoala/images/br-gw30.png
  docs/zh/docs/skoala/images/br-gw31.png
  docs/zh/docs/skoala/images/br-gw32.png
  docs/zh/docs/skoala/images/br-gw33.png
  docs/zh/docs/skoala/images/br-gw34.png
  docs/zh/docs/skoala/images/br-gw35.png
  docs/zh/docs/skoala/images/br-gw36.png
  docs/zh/docs/skoala/images/br-gw37.png
  docs/zh/docs/skoala/images/br-gw38.png
  docs/zh/docs/skoala/images/br-gw39.png
  docs/zh/docs/skoala/images/br-gw40.png
  docs/zh/docs/skoala/images/br-gw41.png
  docs/zh/docs/skoala/images/br-gw42.png
  docs/zh/navigation.yml
Labels: wip, skoala, zh

#1740 download: addon version updated to v0.8.0-rc2
  docs/zh/docs/download/addon/history.md
  docs/zh/docs/download/addon/v0.8.0-rc2.md
  docs/zh/docs/download/dce5.md
Labels: download, zh

#1742 update rn
  docs/zh/docs/amamba/intro/release-notes.md
  docs/zh/docs/install/release-notes.md
  docs/zh/docs/install/upgrade.md
Labels: amamba, installer, zh

#1743 skoala: update best-practice/gateway02.md
  docs/zh/docs/skoala/best-practice/gateway02.md
  docs/zh/docs/skoala/images/br-gw43.png
  docs/zh/navigation.yml
Labels: skoala, zh

#1746 update service-list/readme.md
  docs/zh/docs/mspider/user-guide/service-list/README.md
Labels: mspider, zh

#1749 update native(6.12-6.18)
  docs/en/docs/native/commerce.md
  docs/en/docs/native/news.md
  docs/en/docs/native/open.md
  docs/zh/docs/native/commerce.md
  docs/zh/docs/native/news.md
  docs/zh/docs/native/open.md
Labels: zh, en, native

#1750 kairship: update kairship docs
  docs/zh/docs/kairship/instance/README.md
  docs/zh/docs/kairship/instance/add.md
  docs/zh/docs/kairship/instance/delete.md
Labels: kairship, zh

#1745 skoala: add docs about gateway best practice
  docs/zh/docs/skoala/best-practice/gateway-mesh.md
  docs/zh/docs/skoala/best-practice/gateway02.md
  docs/zh/docs/skoala/images/br-gw-mesh01.png
  docs/zh/docs/skoala/images/br-gw-mesh02.png
  docs/zh/docs/skoala/images/br-gw-mesh03.png
  docs/zh/navigation.yml
Labels: skoala, zh

#1751 sync video pages
  docs/en/docs/videos/amamba.md
  docs/en/docs/videos/ghippo.md
  docs/en/docs/videos/insight.md
  docs/en/docs/videos/install.md
  docs/en/docs/videos/kairship.md
  docs/en/docs/videos/kangaroo.md
  docs/en/docs/videos/kpanda.md
  docs/en/docs/videos/mcamel.md
  docs/en/docs/videos/mspider.md
  docs/en/docs/videos/network.md
  docs/en/docs/videos/skoala.md
  docs/zh/docs/videos/kairship.md
  docs/zh/docs/videos/kangaroo.md
  docs/zh/docs/videos/skoala.md
Labels: zh, en, videos

#1753 Kairship: update docs about multicloud instances
  docs/en/docs/amamba/quickstart/argocd-jenkins.md
  docs/en/docs/kairship/images/check-instance02.png
  docs/en/docs/kairship/images/ws01.png
  docs/en/docs/kairship/images/ws02.png
  docs/en/docs/kairship/images/ws03.png
  docs/en/docs/kairship/images/ws04.png
  docs/en/docs/kairship/instance/README.md
  docs/en/docs/kairship/instance/add.md
  docs/en/docs/kairship/instance/delete.md
  docs/en/docs/kairship/instance/workspace.md
  docs/en/docs/skoala/best-practice/jwt.md
  docs/en/docs/skoala/quickstart/install.md
  docs/en/docs/skoala/trad-ms/hosted/servicelist/connect-sentinel.md
  docs/zh/docs/kairship/images/workspace01.png
  docs/zh/docs/kairship/images/workspace02.png
  docs/zh/docs/kairship/images/ws04.png
  docs/zh/docs/kairship/instance/delete.md
  docs/zh/docs/kairship/instance/workspace.md
  docs/zh/docs/skoala/best-practice/gateway02.md
Labels: skoala, kairship, amamba, zh, en

#1755 updated for customize-permission
  docs/zh/docs/middleware/customize-permission.md
Labels: midware, zh

#1756 Update middleware uninstall cmd
  docs/en/docs/install/uninstall.md
  docs/zh/docs/install/uninstall.md
Labels: installer, zh, en

#1758 update exclusive
  docs/zh/docs/kpanda/user-guide/namespaces/exclusive.md
  docs/zh/navigation.yml
Labels: kpanda, zh

#1759 add image desc page
  docs/en/docs/dce/dce-rn.md
  docs/en/docs/dce/terms.md
  docs/en/docs/kangaroo/faq.md
  docs/en/docs/kangaroo/images/desc01.png
  docs/en/docs/kangaroo/images/desc02.png
  docs/en/docs/kangaroo/images/desc03.png
  docs/en/docs/kangaroo/images/desc04.png
  docs/en/docs/kangaroo/images/desc05.png
  docs/en/docs/kangaroo/images/desc06.png
  docs/en/docs/kangaroo/images/desc07.png
  docs/en/docs/kangaroo/integrate/bind-to-ws.md
  docs/en/docs/kangaroo/integrate/create-space.md
  docs/en/docs/kangaroo/integrate/related-registry.md
  docs/en/docs/kangaroo/integrate/sync.md
  docs/en/docs/kangaroo/quickstart/registry-in-one.md
  docs/en/docs/kangaroo/quickstart/ws-admin-registry.md
  docs/en/docs/kangaroo/release-notes.md
  docs/en/docs/kangaroo/scan.md
  docs/en/docs/kangaroo/space/desc.md
  docs/en/docs/kangaroo/space/imagelist.md
  docs/en/docs/kangaroo/space/index.md
  docs/en/navigation.yml
  docs/zh/docs/kangaroo/images/desc01.png
  docs/zh/docs/kangaroo/images/desc02.png
  docs/zh/docs/kangaroo/images/desc03.png
  docs/zh/docs/kangaroo/images/desc04.png
  docs/zh/docs/kangaroo/images/desc05.png
  docs/zh/docs/kangaroo/images/desc06.png
  docs/zh/docs/kangaroo/images/desc07.png
  docs/zh/docs/kangaroo/space/desc.md
  docs/zh/docs/kangaroo/space/imagelist.md
  docs/zh/navigation.yml
Labels: zh, en, kangaroo, dce

#1757 kpanda: add docs about security
  docs/en/docs/kpanda/user-guide/security/audit.md
  docs/en/docs/kpanda/user-guide/security/cis/config.md
  docs/en/docs/kpanda/user-guide/security/cis/policy.md
  docs/en/docs/kpanda/user-guide/security/cis/report.md
  docs/en/docs/kpanda/user-guide/security/hunter.md
  docs/en/docs/kpanda/user-guide/security/intro.md
  docs/en/navigation.yml
  docs/zh/docs/kpanda/user-guide/images/security01.png
  docs/zh/docs/kpanda/user-guide/images/security02.png
  docs/zh/docs/kpanda/user-guide/images/security03.png
  docs/zh/docs/kpanda/user-guide/images/security04.png
  docs/zh/docs/kpanda/user-guide/images/security05.png
  docs/zh/docs/kpanda/user-guide/images/security06.png
  docs/zh/docs/kpanda/user-guide/images/security07.png
  docs/zh/docs/kpanda/user-guide/images/security08.png
  docs/zh/docs/kpanda/user-guide/images/security09.png
  docs/zh/docs/kpanda/user-guide/images/security10.png
  docs/zh/docs/kpanda/user-guide/images/security11.png
  docs/zh/docs/kpanda/user-guide/images/security12.png
  docs/zh/docs/kpanda/user-guide/images/security13.png
  docs/zh/docs/kpanda/user-guide/images/security14.png
  docs/zh/docs/kpanda/user-guide/images/security15.png
  docs/zh/docs/kpanda/user-guide/images/security16.png
  docs/zh/docs/kpanda/user-guide/images/security17.png
  docs/zh/docs/kpanda/user-guide/images/security18.png
  docs/zh/docs/kpanda/user-guide/images/security19.png
  docs/zh/docs/kpanda/user-guide/images/security20.png
  docs/zh/docs/kpanda/user-guide/security/audit.md
  docs/zh/docs/kpanda/user-guide/security/cis/config.md
  docs/zh/docs/kpanda/user-guide/security/cis/policy.md
  docs/zh/docs/kpanda/user-guide/security/cis/report.md
  docs/zh/docs/kpanda/user-guide/security/hunter.md
  docs/zh/docs/kpanda/user-guide/security/intro.md
  docs/zh/navigation.yml
Labels: kpanda, zh, en

#1761 add more details for otel CRD installations
  docs/en/docs/insight/user-guide/quickstart/otel/operator.md
  docs/zh/docs/insight/user-guide/quickstart/otel/operator.md
Labels: insight, zh, en

#1760 adjust kangaroo folders
  docs/en/docs/kangaroo/integrate/integrate-admin.md
  docs/en/docs/kangaroo/integrate/integrate-ws.md
  docs/en/docs/kangaroo/integrate/registry-space.md
  docs/en/docs/kangaroo/managed/harbor.md
  docs/en/docs/kangaroo/managed/intro.md
  docs/en/docs/kangaroo/managed/operator.md
  docs/en/docs/videos/kangaroo.md
  docs/en/navigation.yml
  docs/zh/docs/kangaroo/integrate/bind-to-ws.md
  docs/zh/docs/kangaroo/integrate/integrate-admin.md
  docs/zh/docs/kangaroo/integrate/integrate-ws.md
  docs/zh/docs/kangaroo/integrate/registry-space.md
  docs/zh/docs/kangaroo/managed/harbor.md
  docs/zh/docs/kangaroo/managed/intro.md
  docs/zh/docs/kangaroo/managed/operator.md
  docs/zh/docs/kangaroo/quickstart/admin-registry.md
  docs/zh/docs/videos/kangaroo.md
  docs/zh/navigation.yml
Labels: zh, en, videos, kangaroo

#1762 add en images to kangaroo
  docs/en/docs/amamba/user-guide/pipelines/install-jenkins.md
  docs/en/docs/ghippo/user-guide/access-control/ldap.md
  docs/en/docs/ghippo/user-guide/access-control/oidc.md
  docs/en/docs/ghippo/user-guide/audit-log.md
  docs/en/docs/ghippo/user-guide/personal-center/language.md
  docs/en/docs/ghippo/user-guide/personal-center/security-setting.md
  docs/en/docs/ghippo/user-guide/platform-setting/about.md
  docs/en/docs/ghippo/user-guide/platform-setting/appearance.md
  docs/en/docs/ghippo/user-guide/platform-setting/mail-server.md
  docs/en/docs/ghippo/user-guide/workspace/cluster-for-multiws.md
  docs/en/docs/ghippo/user-guide/workspace/folders.md
  docs/en/docs/ghippo/user-guide/workspace/workspace.md
  docs/en/docs/ghippo/user-guide/workspace/ws-to-ns.md
  docs/en/docs/kangaroo/images/bind01.png
  docs/en/docs/kangaroo/images/bind02.png
  docs/en/docs/kangaroo/images/bind03.png
  docs/en/docs/kangaroo/images/bind04.png
  docs/en/docs/kangaroo/images/bind05.png
  docs/en/docs/kangaroo/images/bind06.png
  docs/en/docs/kangaroo/images/integrated01.png
  docs/en/docs/kangaroo/images/integrated02.png
  docs/en/docs/kangaroo/images/integrated03.png
  docs/en/docs/kangaroo/images/integrated04.png
  docs/en/docs/kangaroo/images/reg-space01.png
  docs/en/docs/kangaroo/images/reg-space02.png
  docs/en/docs/kangaroo/images/reg-space03.png
  docs/en/docs/kangaroo/integrate/bind-to-ws.md
  docs/en/docs/kangaroo/integrate/integrate-admin.md
  docs/en/docs/kangaroo/integrate/integrate-ws.md
  docs/en/docs/kangaroo/integrate/registry-space.md
  docs/en/docs/kangaroo/managed/harbor.md
  docs/en/docs/middleware/minio/user-guide/user-management.md
  docs/zh/docs/amamba/user-guide/pipeline/install-jenkins.md
  docs/zh/docs/ghippo/user-guide/access-control/ldap.md
  docs/zh/docs/ghippo/user-guide/access-control/oidc.md
  docs/zh/docs/ghippo/user-guide/audit-log.md
  docs/zh/docs/ghippo/user-guide/personal-center/language.md
  docs/zh/docs/ghippo/user-guide/personal-center/security-setting.md
  docs/zh/docs/ghippo/user-guide/platform-setting/about.md
  docs/zh/docs/ghippo/user-guide/platform-setting/appearance.md
  docs/zh/docs/ghippo/user-guide/platform-setting/mail-server.md
  docs/zh/docs/ghippo/user-guide/workspace/cluster-for-multiws.md
  docs/zh/docs/ghippo/user-guide/workspace/folders.md
  docs/zh/docs/ghippo/user-guide/workspace/workspace.md
  docs/zh/docs/ghippo/user-guide/workspace/ws-to-ns.md
  docs/zh/docs/kangaroo/images/bind-space-to-ws02.png
  docs/zh/docs/kangaroo/integrate/bind-to-ws.md
  docs/zh/docs/kangaroo/integrate/integrate-admin.md
  docs/zh/docs/kangaroo/integrate/integrate-ws.md
  docs/zh/docs/kangaroo/integrate/registry-space.md
  docs/zh/docs/kangaroo/managed/harbor.md
Labels: midware, amamba, ghippo, zh, en, kangaroo

#1763 update install version
  docs/zh/docs/install/commercial/start-install.md
  docs/zh/docs/install/install-tools.md
Labels: installer, zh

#1765 update audit log
  docs/en/docs/dce/terms.md
  docs/en/docs/ghippo/images/audit01.png
  docs/en/docs/ghippo/images/audit02.png
  docs/en/docs/ghippo/images/audit03.png
  docs/en/docs/ghippo/images/audit04.png
  docs/en/docs/ghippo/images/audit05.png
  docs/en/docs/ghippo/images/audit06.png
  docs/en/docs/ghippo/images/audit07.png
  docs/en/docs/ghippo/images/lang00.png
  docs/en/docs/ghippo/intro/features.md
  docs/en/docs/ghippo/intro/what.md
  docs/en/docs/ghippo/user-guide/audit-log.md
  docs/en/docs/ghippo/user-guide/audit/audit-log.md
  docs/en/docs/ghippo/user-guide/audit/open-audit.md
  docs/en/docs/ghippo/user-guide/audit/open-k8s-audit.md
  docs/en/docs/insight/faq/debug-log.md
  docs/en/docs/videos/ghippo.md
  docs/zh/docs/dce/terms.md
  docs/zh/docs/ghippo/images/audit01.png
  docs/zh/docs/ghippo/images/audit02.png
  docs/zh/docs/ghippo/images/audit03.png
  docs/zh/docs/ghippo/images/audit04.png
  docs/zh/docs/ghippo/images/audit05.png
  docs/zh/docs/ghippo/images/audit06.png
  docs/zh/docs/ghippo/images/audit07.png
  docs/zh/docs/ghippo/intro/features.md
  docs/zh/docs/ghippo/intro/what.md
  docs/zh/docs/ghippo/user-guide/audit-log.md
  docs/zh/docs/ghippo/user-guide/audit/audit-log.md
  docs/zh/docs/ghippo/user-guide/audit/open-audit.md
  docs/zh/docs/ghippo/user-guide/audit/open-k8s-audit.md
  docs/zh/docs/insight/faq/debug-log.md
  docs/zh/docs/insight/faq/debug-trace.md
  docs/zh/docs/videos/ghippo.md
  docs/zh/navigation.yml
Labels: insight, ghippo, zh, en, videos, dce

#1764 updated mysql dictionary and seperate faq file into 5 files
  docs/zh/docs/middleware/mysql/faq/faq-master-slave.md
  docs/zh/docs/middleware/mysql/faq/faq-operator.md
  docs/zh/docs/middleware/mysql/faq/faq-others.md
  docs/zh/docs/middleware/mysql/faq/faq-pod.md
  docs/zh/docs/middleware/mysql/faq/quick-check.md
  docs/zh/navigation.yml
Labels: midware, zh

#1768 add gmagpie offline install page
  docs/zh/docs/download/modules/gmagpie.md
Labels: download, zh

#1769 add kant pages
  docs/en/docs/blogs/230214-daocloud_k8s.md
  docs/en/docs/dce/scenario.md
  docs/en/docs/dce/what.md
  docs/en/docs/images/09cloud-edge.png
  docs/en/docs/index.md
  docs/en/docs/kant/images/use-case01.png
  docs/en/docs/kant/images/use-case02.png
  docs/en/docs/kant/images/use-case03.png
  docs/en/docs/kant/images/what.png
  docs/en/docs/kant/intro/benefits.md
  docs/en/docs/kant/intro/concepts.md
  docs/en/docs/kant/intro/features.md
  docs/en/docs/kant/intro/join-rqmt.md
  docs/en/docs/kant/intro/use-cases.md
  docs/en/docs/kant/intro/what.md
  docs/en/docs/native/knowledge.md
  docs/en/docs/native/news.md
  docs/en/docs/storage/background.md
  docs/en/navigation.yml
  docs/zh/docs/dce/what.md
  docs/zh/docs/images/09cloud-edge.png
  docs/zh/docs/kant/images/benefit01.png
  docs/zh/docs/kant/images/features01.png
  docs/zh/docs/kant/images/use-case01.png
  docs/zh/docs/kant/images/use-case02.png
  docs/zh/docs/kant/images/use-case03.png
  docs/zh/docs/kant/images/what.png
  docs/zh/docs/kant/intro/benefits.md
  docs/zh/docs/kant/intro/concepts.md
  docs/zh/docs/kant/intro/features.md
  docs/zh/docs/kant/intro/join-rqmt.md
  docs/zh/docs/kant/intro/use-cases.md
  docs/zh/docs/kant/intro/what.md
  docs/zh/navigation.yml
Labels: zh, en, blogs, native, dce, storage, kant

#1771 update native (6.19-6.25)
  docs/en/docs/native/commerce.md
  docs/en/docs/native/news.md
  docs/en/docs/native/open.md
  docs/zh/docs/native/commerce.md
  docs/zh/docs/native/news.md
  docs/zh/docs/native/open.md
Labels: zh, en, native

#1770 add insight find-root-cause best practise
  docs/en/docs/insight/best-practice/find_root_cause.md
  docs/en/docs/insight/images/find_root_cause/01.png
  docs/en/docs/insight/images/find_root_cause/02.png
  docs/en/docs/insight/images/find_root_cause/03.png
  docs/en/docs/insight/images/find_root_cause/04.png
  docs/en/docs/insight/images/find_root_cause/05.png
  docs/en/docs/insight/images/find_root_cause/06.png
  docs/en/docs/insight/images/find_root_cause/08.png
  docs/en/docs/insight/images/find_root_cause/09.png
  docs/en/navigation.yml
  docs/zh/docs/insight/best-practice/find_root_cause.md
  docs/zh/docs/insight/images/find_root_cause/01.png
  docs/zh/docs/insight/images/find_root_cause/02.png
  docs/zh/docs/insight/images/find_root_cause/03.png
  docs/zh/docs/insight/images/find_root_cause/04.png
  docs/zh/docs/insight/images/find_root_cause/05.png
  docs/zh/docs/insight/images/find_root_cause/06.png
  docs/zh/docs/insight/images/find_root_cause/07.png
  docs/zh/docs/insight/images/find_root_cause/08.png
  docs/zh/docs/insight/images/find_root_cause/09.png
  docs/zh/docs/insight/images/find_root_cause/10.png
  docs/zh/navigation.yml
Labels: insight, zh, en

#1772 Create create-ubuntu-on-centos-platform.md
  docs/zh/docs/kpanda/best-practice/create-ubuntu-on-centos-platform.md
  docs/zh/navigation.yml
Labels: kpanda, zh

#1773 update image reclamation
  docs/en/docs/kangaroo/space/reclaim.md
  docs/zh/docs/kangaroo/space/reclaim.md
Labels: zh, en, kangaroo

#1774 fix indentations in kant
  .github/labeler.yml
  docs/en/docs/kant/intro/join-rqmt.md
  docs/zh/docs/kant/images/benefit01.png
Labels: zh, en, develop, kant

#1776 update ldap pages
  docs/en/docs/ghippo/images/createuser01.png
  docs/en/docs/ghippo/images/createuser02.png
  docs/en/docs/ghippo/images/custom01.png
  docs/en/docs/ghippo/images/custom02.png
  docs/en/docs/ghippo/images/custom03.png
  docs/en/docs/ghippo/images/custom04.png
  docs/en/docs/ghippo/images/custom05.png
  docs/en/docs/ghippo/images/custom06.png
  docs/en/docs/ghippo/images/custom07.png
  docs/en/docs/ghippo/images/group00.png
  docs/en/docs/ghippo/images/group01.png
  docs/en/docs/ghippo/images/ldap00.png
  docs/en/docs/ghippo/images/ldap01.png
  docs/en/docs/ghippo/images/ldap02.png
  docs/en/docs/ghippo/images/oidc02.png
  docs/en/docs/ghippo/images/role01.png
  docs/en/docs/ghippo/images/role02.png
  docs/en/docs/ghippo/images/role03.png
  docs/en/docs/ghippo/images/ws01.png
  docs/en/docs/ghippo/user-guide/access-control/custom-role.md
  docs/en/docs/ghippo/user-guide/access-control/group.md
  docs/en/docs/ghippo/user-guide/access-control/iam.md
  docs/en/docs/ghippo/user-guide/access-control/idprovider.md
  docs/en/docs/ghippo/user-guide/access-control/ldap.md
  docs/en/docs/ghippo/user-guide/access-control/oidc.md
  docs/en/docs/ghippo/user-guide/access-control/role.md
  docs/en/docs/ghippo/user-guide/access-control/user.md
  docs/en/docs/ghippo/user-guide/workspace/res-gp-and-shared-res.md
  docs/en/navigation.yml
  docs/zh/docs/ghippo/images/ldap00.png
  docs/zh/docs/ghippo/images/ldap01.png
  docs/zh/docs/ghippo/images/oidc02.png
  docs/zh/docs/ghippo/images/res-gp01.png
  docs/zh/docs/ghippo/images/ws01.png
  docs/zh/docs/ghippo/user-guide/access-control/iam.md
  docs/zh/docs/ghippo/user-guide/access-control/ldap.md
  docs/zh/docs/ghippo/user-guide/access-control/oidc.md
  docs/zh/docs/ghippo/user-guide/access-control/role.md
  docs/zh/docs/ghippo/user-guide/access-control/user.md
  docs/zh/docs/ghippo/user-guide/workspace/res-gp-and-shared-res.md
  docs/zh/navigation.yml
Labels: ghippo, zh, en

#1779 update sms-provider
  docs/zh/docs/insight/user-guide/alert-center/sms-provider.md
Labels: insight, zh

#1778 replace 模版 with 模板
  docs/zh/docs/amamba/intro/release-notes.md
  docs/zh/docs/amamba/user-guide/pipeline/template/custom-template.md
  docs/zh/docs/amamba/user-guide/pipeline/template/info.md
  docs/zh/docs/dce/dce-rn.md
  docs/zh/docs/insight/best-practice/notify-helper.md
  docs/zh/docs/insight/intro/releasenote.md
  docs/zh/docs/insight/user-guide/quickstart/install-agent.md
  docs/zh/docs/insight/user-guide/quickstart/ocp-compatibility.md
  docs/zh/docs/insight/user-guide/quickstart/rancher-compatibility.md
  docs/zh/docs/kpanda/user-guide/backup/install-velero.md
  docs/zh/docs/mspider/intro/release-notes.md
  docs/zh/docs/skoala/best-practice/auth-server.md
  docs/zh/docs/skoala/intro/release-notes.md
Labels: mspider, skoala, insight, kpanda, amamba, zh, dce

#1780 fix insight folders
  docs/zh/docs/dce/dce-rn.md
  docs/zh/docs/download/modules/insight.md
  docs/zh/docs/ghippo/user-guide/audit/open-audit.md
  docs/zh/docs/insight/best-practice/debug-log.md
  docs/zh/docs/insight/best-practice/debug-trace.md
  docs/zh/docs/insight/compati-test/k8s-compatibility.md
  docs/zh/docs/insight/compati-test/ocp-compatibility.md
  docs/zh/docs/insight/compati-test/rancher-compatibility.md
  docs/zh/docs/insight/intro/releasenote.md
  docs/zh/docs/insight/quickstart/install/gethosturl.md
  docs/zh/docs/insight/quickstart/install/install-agent.md
  docs/zh/docs/insight/quickstart/install/offline-install.md
  docs/zh/docs/insight/quickstart/install/quickstart-catelogy.md
  docs/zh/docs/insight/quickstart/install/upgrade-note.md
  docs/zh/docs/insight/quickstart/jvm-monitor/jmx-exporter.md
  docs/zh/docs/insight/quickstart/jvm-monitor/jvm-catelogy.md
  docs/zh/docs/insight/quickstart/jvm-monitor/legacy-jvm.md
  docs/zh/docs/insight/quickstart/jvm-monitor/otel-java-agent.md
  docs/zh/docs/insight/quickstart/otel/golang-ebpf.md
  docs/zh/docs/insight/quickstart/otel/golang.md
  docs/zh/docs/insight/quickstart/otel/meter.md
  docs/zh/docs/insight/quickstart/otel/operator.md
  docs/zh/docs/insight/quickstart/otel/otel.md
  docs/zh/docs/insight/quickstart/other/install-agent-on-ocp.md
  docs/zh/docs/insight/quickstart/other/install-agentindce.md
  docs/zh/docs/insight/quickstart/res-plan/modify-vms-disk.md
  docs/zh/docs/insight/quickstart/res-plan/prometheus-res.md
  docs/zh/docs/insight/quickstart/res-plan/vms-res-plan.md
  docs/zh/docs/insight/user-guide/collection-manag/agent-status.md
  docs/zh/docs/insight/user-guide/collection-manag/metric-collect.md
  docs/zh/docs/insight/user-guide/dashboard/dashboard.md
  docs/zh/docs/insight/user-guide/dashboard/import-dashboard.md
  docs/zh/docs/insight/user-guide/dashboard/overview.md
  docs/zh/docs/insight/user-guide/data-query/log.md
  docs/zh/docs/insight/user-guide/data-query/metric.md
  docs/zh/docs/insight/user-guide/scenario-insight/cluster.md
  docs/zh/docs/insight/user-guide/scenario-insight/node.md
  docs/zh/docs/install/release-notes.md
  docs/zh/docs/middleware/minio/user-guide/insight.md
  docs/zh/docs/skoala/quickstart/install.md
  docs/zh/docs/skoala/trad-ms/hosted/monitor/components.md
  docs/zh/docs/skoala/trad-ms/hosted/monitor/microservices.md
  docs/zh/docs/skoala/trad-ms/hosted/monitor/traces.md
  docs/zh/docs/skoala/trad-ms/hosted/servicelist/intro.md
  docs/zh/docs/storage/solutions/ceph-dashboard.md
  docs/zh/docs/videos/insight.md
  docs/zh/navigation.yml
Labels: skoala, midware, insight, ghippo, installer, download, zh, videos, dce, storage

#1781 add app-spec to mspider
  docs/en/docs/mspider/intro/app-spec.md
  docs/en/navigation.yml
  docs/zh/docs/mspider/intro/app-spec.md
  docs/zh/navigation.yml
Labels: mspider, zh, en

#1782 add master node
  docs/zh/docs/kpanda/best-practice/add-master-node.md
  docs/zh/docs/kpanda/best-practice/multi-arch.md
  docs/zh/docs/kpanda/images/add-master-node01.png
  docs/zh/docs/kpanda/images/add-master-node02.png
  docs/zh/docs/kpanda/user-guide/nodes/add-node.md
  docs/zh/navigation.yml
Labels: kpanda, zh

#1783 Update integrate-cluster.md
  docs/zh/docs/kpanda/user-guide/clusters/integrate-cluster.md
Labels: kpanda, zh

#1784 update hwameistor pages
  docs/en/docs/community/hwameistor.md
  docs/en/docs/community/index.md
  docs/zh/docs/community/hwameistor.md
  docs/zh/docs/community/index.md
Labels: zh, en, eco

#1785 download: ghippo version updated to v0.18.0
  docs/zh/docs/download/dce5.md
  docs/zh/docs/download/modules/ghippo.md
Labels: download, zh

#1793 update release note to 0.23.0
  docs/zh/docs/skoala/intro/release-notes.md
Labels: skoala, zh

#1794 Update source ip docs
  docs/zh/docs/network/modules/metallb/source_ip.md
Labels: zh, network

#1795 update kcsp
  docs/en/docs/dce/kcsp.md
  docs/en/docs/images/1.27.png
  docs/zh/docs/dce/kcsp.md
  docs/zh/docs/images/1.27.png
Labels: zh, en, dce

#1797 add gmagpie to nav
  docs/zh/navigation.yml
Labels: zh

#1801 update hwameistor en pages
  docs/en/docs/storage/hwameistor/install/deploy-operator.md
  docs/en/docs/storage/hwameistor/install/post-check.md
  docs/en/docs/storage/hwameistor/install/prereq.md
  docs/en/docs/storage/hwameistor/install/proresource.md
  docs/en/docs/storage/hwameistor/install/uninstall.md
  docs/en/docs/storage/hwameistor/resources/disk-expansion.md
  docs/en/docs/storage/hwameistor/resources/node-expansion.md
  docs/zh/docs/storage/hwameistor/install/deploy-operator.md
  docs/zh/docs/storage/hwameistor/install/post-check.md
  docs/zh/docs/storage/hwameistor/install/prereq.md
  docs/zh/docs/storage/hwameistor/install/uninstall.md
  docs/zh/docs/storage/hwameistor/resources/disk-expansion.md
Labels: zh, en, storage

#1803 fix ghippo links
  docs/en/navigation.yml
Labels: en

#1804 update en kangaroo faq and release-notes
  docs/en/docs/kangaroo/faq.md
  docs/en/docs/kangaroo/release-notes.md
  docs/zh/docs/kangaroo/faq.md
  docs/zh/docs/kangaroo/release-notes.md
Labels: zh, en, kangaroo

#1807 download: gmagpie version updated to v0.3.0
  docs/zh/docs/download/modules/gmagpie.md
Labels: download, zh

#1805 update insight docs
  docs/zh/docs/insight/images/log-rule01.png
  docs/zh/docs/insight/images/servicedetail01.png
  docs/zh/docs/insight/images/trace01.png
  docs/zh/docs/insight/user-guide/alert-center/alert-policy.md
  docs/zh/docs/insight/user-guide/data-query/trace.md
  docs/zh/docs/insight/user-guide/scenario-insight/service.md
Labels: insight, zh

#1808 update support OS list of hwameistor
  docs/zh/docs/storage/hwameistor/install/prereq.md
Labels: zh, storage

#1811 ghippo v0.18.0 release notes
  docs/zh/docs/ghippo/intro/release-notes.md
Labels: ghippo, zh

#1812 update ghippo en pages
  docs/en/docs/ghippo/intro/features.md
  docs/en/docs/ghippo/intro/glossary.md
  docs/en/docs/ghippo/intro/release-notes.md
Labels: ghippo, en

#1813 update installer en pages
  docs/en/docs/install/air-tag-download.md
  docs/en/docs/install/commercial/start-install.md
  docs/en/docs/install/install-tools.md
  docs/en/docs/install/os-install/oracleLinux-install-dce5.0.md
  docs/en/docs/install/os-install/otherlinux.md
  docs/en/docs/install/os-install/uos-v20-install-dce5.0.md
  docs/en/docs/install/release-notes.md
  docs/en/navigation.yml
  docs/zh/docs/install/air-tag-download.md
  docs/zh/docs/install/commercial/start-install.md
  docs/zh/docs/install/os-install/oracleLinux-install-dce5.0.md
  docs/zh/docs/install/os-install/otherlinux.md
  docs/zh/navigation.yml
Labels: installer, zh, en

#1814 update en page for metallb sourceip
  docs/en/docs/network/modules/metallb/source_ip.md
  docs/zh/navigation.yml
Labels: zh, en, network

#1815 update mspider en pages
  docs/en/docs/mspider/images/entry01.png
  docs/en/docs/mspider/images/entry02.png
  docs/en/docs/mspider/images/entry06.png
  docs/en/docs/mspider/images/out-to-in01.png
  docs/en/docs/mspider/images/out-to-in02.png
  docs/en/docs/mspider/images/out-to-in04.png
  docs/en/docs/mspider/images/servicelist01.png
  docs/en/docs/mspider/images/servicelist02.png
  docs/en/docs/mspider/images/servicelist03.png
  docs/en/docs/mspider/images/servicelist04.png
  docs/en/docs/mspider/images/servicelist05.png
  docs/en/docs/mspider/intro/release-notes.md
  docs/en/docs/mspider/user-guide/service-list/README.md
  docs/en/docs/mspider/user-guide/service-list/out-to-in.md
  docs/en/docs/mspider/user-guide/service-list/service-entry.md
  docs/zh/docs/mspider/images/out-to-in01.png
  docs/zh/docs/mspider/user-guide/service-list/README.md
  docs/zh/docs/mspider/user-guide/service-list/out-to-in.md
Labels: mspider, zh, en

#1816 add view issue
  docs/zh/docs/amamba/images/issue01.png
  docs/zh/docs/amamba/images/issue02.png
  docs/zh/docs/amamba/user-guide/project-mangement/issue.md
  docs/zh/navigation.yml
Labels: amamba, zh

#1817 add insight&amamba videos
  docs/zh/docs/videos/images/amamba-app-release.png
  docs/zh/docs/videos/images/insight.png
  docs/zh/docs/videos/use-cases.md
Labels: zh, videos

#1818 update mspider release-note to v0.17.0
  docs/zh/docs/mspider/intro/release-notes.md
Labels: mspider, zh

#1820 add redis video
  docs/zh/docs/videos/images/mcamel-anti-affinity.png
  docs/zh/docs/videos/mcamel.md
Labels: zh, videos

#1819 add otherlinux
  docs/zh/docs/kpanda/best-practice/multi-arch.md
  docs/zh/docs/kpanda/best-practice/use-otherlinux-create-custer.md
  docs/zh/docs/kpanda/images/otherlinux.png
  docs/zh/navigation.yml
Labels: kpanda, zh

#1822 add upgrade doc
  docs/zh/docs/kangaroo/upgrade/upgrade.md
  docs/zh/navigation.yml
Labels: zh, kangaroo

#1823 Update what.md for network
  docs/zh/docs/network/intro/what.md
Labels: zh, network

#1824 Update what-is-net.md for network
  docs/en/docs/network/intro/what-is-net.md
Labels: en, network

#1825 cross-cluster communication
  docs/zh/docs/network/images/network-cross-cluster1.png
  docs/zh/docs/network/images/network-cross-cluster10.png
  docs/zh/docs/network/images/network-cross-cluster11.png
  docs/zh/docs/network/images/network-cross-cluster12.png
  docs/zh/docs/network/images/network-cross-cluster13.png
  docs/zh/docs/network/images/network-cross-cluster14.png
  docs/zh/docs/network/images/network-cross-cluster2.png
  docs/zh/docs/network/images/network-cross-cluster3.png
  docs/zh/docs/network/images/network-cross-cluster4.png
  docs/zh/docs/network/images/network-cross-cluster5.png
  docs/zh/docs/network/images/network-cross-cluster6.png
  docs/zh/docs/network/images/network-cross-cluster7.png
  docs/zh/docs/network/images/network-cross-cluster8.png
  docs/zh/docs/network/images/network-cross-cluster9.png
  docs/zh/docs/network/modules/cilium/cross-cluster.md
  docs/zh/navigation.yml
Labels: zh, network

#1826 cross-cluster-format
  docs/zh/docs/network/modules/cilium/cross-cluster.md
Labels: zh, network

#1821 add kangaroo faq
  docs/zh/docs/kangaroo/faq.md
Labels: wip, zh, kangaroo

#1827 correct cross-cluster format
  docs/zh/docs/network/modules/cilium/cross-cluster.md
Labels: zh, network

#1829 add
  docs/zh/docs/kpanda/best-practice/use-otherlinux-create-custer.md
  docs/zh/docs/kpanda/images/otherlinux.png
Labels: kpanda, zh

#1828 update mspider en release-notes
  docs/en/docs/mspider/intro/release-notes.md
Labels: mspider, en

#1830 amamba: add dce-native-app.md
  docs/zh/docs/amamba/images/native01.png
  docs/zh/docs/amamba/images/native02.png
  docs/zh/docs/amamba/images/native03.png
  docs/zh/docs/amamba/images/native04.png
  docs/zh/docs/amamba/images/native05.png
  docs/zh/docs/amamba/images/native06.png
  docs/zh/docs/amamba/images/native07.png
  docs/zh/docs/amamba/images/native08.png
  docs/zh/docs/amamba/images/native09.png
  docs/zh/docs/amamba/images/native10.png
  docs/zh/docs/amamba/images/native11.png
  docs/zh/docs/amamba/images/native12.png
  docs/zh/docs/amamba/images/native13.png
  docs/zh/docs/amamba/user-guide/wizard/dce-native-app.md
  docs/zh/navigation.yml
Labels: amamba, zh

#1831 fix faq error word.
  docs/zh/docs/kangaroo/faq.md
Labels: zh, kangaroo

#1832 video: add network
  docs/zh/docs/videos/images/network-cross-cluster.png
  docs/zh/docs/videos/use-cases.md
Labels: zh, videos

#1833 update mcamel middleware release-note
  docs/zh/docs/middleware/elasticsearch/release-notes.md
  docs/zh/docs/middleware/kafka/release-notes.md
  docs/zh/docs/middleware/minio/release-notes.md
  docs/zh/docs/middleware/mysql/release-notes.md
  docs/zh/docs/middleware/postgresql/release-notes.md
  docs/zh/docs/middleware/rabbitmq/release-notes.md
  docs/zh/docs/middleware/redis/release-notes.md
Labels: midware, zh

#1834 update native (6.26-7.2)
  docs/en/docs/native/commerce.md
  docs/en/docs/native/images/Figure_1_Magic_Quadrant_for_DevOps_Platforms.png
  docs/en/docs/native/news.md
  docs/en/docs/native/open.md
  docs/zh/docs/native/commerce.md
  docs/zh/docs/native/images/Figure_1_Magic_Quadrant_for_DevOps_Platforms.png
  docs/zh/docs/native/news.md
  docs/zh/docs/native/open.md
Labels: zh, en, native

#1835 update nav about installation
  docs/en/navigation.yml
  docs/zh/navigation.yml
Labels: zh, en
