Repository DaoCloud/DaoCloud-docs, pull requests merged in 2023-07, with the labels that each got.

#1836 update cilium performance docs
  docs/zh/docs/network/images/cilium-speedup01.jpg
  docs/zh/docs/network/images/cilium-speedup02.jpg
  docs/zh/docs/network/images/cilium-sppedup03.jpg
  docs/zh/docs/network/modules/cilium/cilium-speedup.md
  docs/zh/docs/network/modules/cilium/cross-cluster.md
  docs/zh/docs/network/modules/cilium/crosscluster-com.md
  docs/zh/navigation.yml
Labels: zh, network

#1839 update etcd-backup.md
  docs/zh/docs/kairship/intro/release-notes.md
  docs/zh/docs/kpanda/user-guide/backup/etcd-backup.md
Labels: kairship, kpanda, zh

#1840 modify trace.md
  docs/zh/docs/insight/user-guide/data-query/trace.md
Labels: insight, zh

#1841 add a channel to install dce 5.0
  docs/zh/docs/trial/images/hu01.gif
  docs/zh/docs/trial/images/hu02.gif
  docs/zh/docs/trial/images/license01.png
  docs/zh/docs/trial/images/license02.png
  docs/zh/docs/trial/images/license03.png
  docs/zh/docs/trial/images/license04.png
  docs/zh/docs/trial/index.md
  docs/zh/navigation.yml
Labels: zh

#1842 fix format in trial
  docs/zh/docs/trial/index.md
Labels: zh

#1843 update etcd-backup.md
  docs/zh/docs/kpanda/user-guide/backup/etcd-backup.md
Labels: kpanda, zh

#1844 add directory of mongodb and common
  docs/zh/docs/middleware/common/images/anti-affinity-Replica.jpg
  docs/zh/docs/middleware/common/images/anti-affinity-checkpod.jpg
  docs/zh/docs/middleware/common/images/anti-affinity-createinstance.jpg
  docs/zh/docs/middleware/common/images/anti-affinity-eventlog.jpg
  docs/zh/docs/middleware/common/images/anti-affinity-finish.jpg
  docs/zh/docs/middleware/common/images/anti-affinity-switch.jpg
  docs/zh/docs/middleware/common/workload-antiaffinity.md
  docs/zh/docs/middleware/mongodb/images/create1.jpg
  docs/zh/docs/middleware/mongodb/images/create2.jpg
  docs/zh/docs/middleware/mongodb/images/create3.jpg
  docs/zh/docs/middleware/mongodb/images/create4.jpg
  docs/zh/docs/middleware/mongodb/images/create5.jpg
  docs/zh/docs/middleware/mongodb/images/create6.jpg
  docs/zh/docs/middleware/mongodb/images/create7.jpg
  docs/zh/docs/middleware/mongodb/images/delete1.jpg
  docs/zh/docs/middleware/mongodb/images/delete2.jpg
  docs/zh/docs/middleware/mongodb/images/update1.jpg
  docs/zh/docs/middleware/mongodb/images/update2.jpg
  docs/zh/docs/middleware/mongodb/images/update3.jpg
  docs/zh/docs/middleware/mongodb/images/update4.jpg
  docs/zh/docs/middleware/mongodb/images/what.jpg
  docs/zh/docs/middleware/mongodb/intro/features.md
  docs/zh/docs/middleware/mongodb/intro/what.md
  docs/zh/docs/middleware/mongodb/release-notes.md
  docs/zh/docs/middleware/mongodb/user-guide/create.md
  docs/zh/docs/middleware/mongodb/user-guide/delete.md
  docs/zh/docs/middleware/mongodb/user-guide/logs.md
  docs/zh/docs/middleware/mongodb/user-guide/update.md
  docs/zh/navigation.yml
Labels: midware, zh

#1845 update community channel
  docs/en/docs/community/fast.md
  docs/en/docs/community/images/fast.png
  docs/en/docs/community/images/flow.d2.svg
  docs/en/docs/community/index.md
  docs/en/docs/community/miragedebug.md
  docs/en/navigation.yml
  docs/zh/docs/community/fast.md
  docs/zh/docs/community/images/fast.png
  docs/zh/docs/community/images/flow.d2.svg
  docs/zh/docs/community/index.md
  docs/zh/docs/community/miragedebug.md
  docs/zh/navigation.yml
Labels: zh, en, eco

#1846 kpanda: update etcd-backup.md
  docs/zh/docs/kpanda/images/etcd-get01.png
  docs/zh/docs/kpanda/images/etcd-get02.png
  docs/zh/docs/kpanda/user-guide/backup/etcd-backup.md
Labels: kpanda, zh

#1848 fix otel cr wrong filed
  docs/en/docs/insight/quickstart/otel/operator.md
  docs/zh/docs/insight/quickstart/otel/operator.md
Labels: insight, zh, en

#1849 skoala: add nacos test report
  docs/zh/docs/skoala/images/test-nacos01.png
  docs/zh/docs/skoala/tests/nacos-stress-test.md
  docs/zh/navigation.yml
Labels: skoala, zh

#1851 add kangaroo 0.9 release note
  docs/zh/docs/kangaroo/release-notes.md
Labels: zh, kangaroo

#1850 skoala:add docs about adding nacos to service
  docs/en/navigation.yml
  docs/zh/docs/skoala/images/standard01.png
  docs/zh/docs/skoala/standard/flow-control.md
  docs/zh/docs/skoala/standard/monitor.md
  docs/zh/docs/skoala/standard/nacos.md
  docs/zh/docs/skoala/standard/sentinel.md
  docs/zh/navigation.yml
Labels: wip, skoala, zh, en

#1852 update amamba rn
  docs/zh/docs/amamba/intro/release-notes.md
Labels: amamba, zh

#1854 add ray blog
  docs/zh/docs/blogs/230612-ray.md
  docs/zh/docs/blogs/230615-ray.md
  docs/zh/docs/blogs/images/ray2-01.png
  docs/zh/docs/blogs/images/ray2-02.png
  docs/zh/docs/blogs/images/ray2-03.png
  docs/zh/docs/blogs/images/ray2-04.png
  docs/zh/docs/blogs/images/ray2-05.png
  docs/zh/docs/blogs/images/ray2-06.png
  docs/zh/docs/blogs/images/ray2-07.png
  docs/zh/docs/blogs/images/ray2-08.png
  docs/zh/docs/blogs/images/ray2-09.png
  docs/zh/docs/blogs/images/ray2-10.png
  docs/zh/docs/blogs/images/ray2-11.png
  docs/zh/docs/blogs/images/ray2-12.png
  docs/zh/docs/blogs/images/ray2-13.png
  docs/zh/docs/blogs/images/ray2-14.png
  docs/zh/docs/blogs/images/ray2-15.png
  docs/zh/docs/blogs/images/ray2-16.png
  docs/zh/docs/blogs/images/ray2-17.png
  docs/zh/docs/blogs/images/ray2-18.png
  docs/zh/docs/blogs/images/ray2-19.png
  docs/zh/docs/blogs/images/ray2-20.png
  docs/zh/docs/blogs/index.md
  docs/zh/docs/trial/index.md
  docs/zh/navigation.yml
Labels: zh, blogs

#1859 Update check-details.md
  docs/zh/docs/skoala/trad-ms/hosted/servicelist/check-details.md
Labels: skoala, zh

#1857 Update release-notes.md
  docs/zh/docs/kpanda/intro/release-notes.md
Labels: kpanda, zh

#1860 fix term sr-iov
  docs/en/docs/network/modules/spiderpool/createpool.md
  docs/en/docs/network/modules/spiderpool/cutomizedusage.md
  docs/en/docs/network/modules/spiderpool/ippoolusage.md
  docs/en/docs/network/modules/spiderpool/usage.md
  docs/en/docs/network/modules/spiderpool/what.md
  docs/en/docs/network/plans/ethplan.md
  docs/zh/docs/network/modules/spiderpool/createpool.md
  docs/zh/docs/network/modules/spiderpool/cutomizedusage.md
  docs/zh/docs/network/modules/spiderpool/ippoolusage.md
  docs/zh/docs/network/modules/spiderpool/usage.md
  docs/zh/docs/network/modules/spiderpool/what.md
  docs/zh/docs/network/plans/ethplan.md
  docs/zh/docs/network/plans/netplan.md
Labels: zh, en, network

#1861 update blog
  docs/zh/docs/blogs/230315-install-on-linux.md
Labels: zh, blogs

#1864 update release note to 0.24.1
  docs/zh/docs/skoala/intro/release-notes.md
Labels: skoala, zh

#1867 update ghippo release note
  docs/zh/docs/ghippo/intro/release-notes.md
Labels: ghippo, zh

#1868 download: ghippo version updated to v0.18.1
  docs/zh/docs/download/dce5.md
  docs/zh/docs/download/modules/ghippo.md
Labels: download, zh

#1872 update native (7.3-7.9)
  docs/en/docs/native/commerce.md
  docs/en/docs/native/news.md
  docs/en/docs/native/open.md
  docs/zh/docs/native/commerce.md
  docs/zh/docs/native/news.md
  docs/zh/docs/native/open.md
Labels: zh, en, native

#1873 download: addon version updated to v0.9.0
  docs/zh/docs/download/addon/history.md
  docs/zh/docs/download/addon/v0.9.0.md
  docs/zh/docs/download/dce5.md
Labels: download, zh

#1802 update insight releasenote
  docs/zh/docs/insight/intro/releasenote.md
Labels: wip, insight, zh

#1874 fix format in install docs
  docs/zh/docs/install/air-tag-download.md
  docs/zh/docs/install/commercial/cluster-config.md
  docs/zh/docs/install/commercial/external/external-binary.md
  docs/zh/docs/install/commercial/external/external-imageandchart.md
  docs/zh/docs/install/commercial/external/external-middlewares.md
  docs/zh/docs/install/commercial/external/external-os.md
  docs/zh/docs/install/commercial/manifest.md
  docs/zh/docs/install/commercial/scenarios.md
  docs/zh/docs/install/commercial/start-install.md
  docs/zh/docs/install/os-install/TencentOS-install-dce5.0.md
  docs/zh/docs/install/os-install/otherlinux.md
  docs/zh/docs/install/release-notes.md
  docs/zh/docs/install/upgrade.md
Labels: installer, zh

#1875 update download to v0.9.0
  docs/zh/navigation.yml
Labels: zh

#1877 correct sr-iov terms
  docs/en/docs/native/open.md
  docs/en/docs/network/intro/what-is-net.md
  docs/en/docs/network/modules/modules.md
  docs/en/docs/network/modules/multus-underlay/install.md
  docs/en/docs/network/modules/multus-underlay/what.md
  docs/en/docs/network/plans/ethplan.md
  docs/zh/docs/community/spiderpool.md
  docs/zh/docs/network/intro/what.md
  docs/zh/docs/network/modules/multus-underlay/dpdk.md
  docs/zh/docs/network/modules/multus-underlay/install.md
  docs/zh/docs/network/modules/multus-underlay/what.md
  docs/zh/docs/network/modules/spiderpool/install.md
  docs/zh/docs/network/plans/ethplan.md
  docs/zh/docs/reference/sandbox.md
Labels: wip, zh, en, native, network, eco

#1881 mcamel: fix discussion 1870
  docs/zh/docs/middleware/elasticsearch/images/basic01.png
  docs/zh/docs/middleware/elasticsearch/images/basic02.png
  docs/zh/docs/middleware/elasticsearch/images/basic03.png
  docs/zh/docs/middleware/elasticsearch/images/create02.png
  docs/zh/docs/middleware/elasticsearch/user-guide/basic.md
  docs/zh/docs/middleware/elasticsearch/user-guide/create.md
Labels: wip, midware, zh

#1880 revise text in trial channel
  .github/labeler.yml
  docs/zh/docs/trial/index.md
Labels: zh, develop, trial

#1879 add translation for cilium speedup
  docs/en/docs/network/images/cilium-speedup1.png
  docs/en/docs/network/images/cilium-speedup2.png
  docs/en/docs/network/images/cilium-speedup3.png
  docs/en/docs/network/modules/cilium/cross-cluster.md
  docs/en/navigation.yml
  docs/zh/navigation.yml
Labels: zh, en, network

#1884 mcamel: fix discussion 1863
  docs/zh/docs/middleware/elasticsearch/images/create04-1.png
  docs/zh/docs/middleware/elasticsearch/images/create04.png
  docs/zh/docs/middleware/elasticsearch/user-guide/basic.md
  docs/zh/docs/middleware/elasticsearch/user-guide/create.md
Labels: midware, zh

#1885 mcamel: fix discussion 1847/848/1862/1496
  docs/zh/docs/kpanda/user-guide/workloads/create-deployment.md
  docs/zh/docs/kpanda/user-guide/workloads/create-statefulset.md
  docs/zh/docs/middleware/common/workload-antiaffinity.md
  docs/zh/docs/middleware/elasticsearch/user-guide/create.md
  docs/zh/docs/middleware/elasticsearch/user-guide/view.md
  docs/zh/docs/middleware/first-visit.md
  docs/zh/docs/middleware/mongodb/intro/what.md
  docs/zh/docs/middleware/what.md
  docs/zh/docs/skoala/images/install-arch.png
  docs/zh/docs/skoala/quickstart/install.md
  docs/zh/navigation.yml
Labels: skoala, midware, kpanda, zh

#1887 update cloudtty info
  docs/en/docs/community/cloudtty.md
  docs/en/docs/community/index.md
  docs/zh/docs/community/cloudtty.md
  docs/zh/docs/community/index.md
Labels: zh, en, eco

#1888 Update use-skoala-01.md
  docs/zh/docs/skoala/best-practice/use-skoala-01.md
Labels: skoala, zh

#1889 change the channel sequence
  docs/en/navigation.yml
  docs/zh/navigation.yml
Labels: zh, en

#1890 add note about open audit in kind
  docs/zh/docs/ghippo/user-guide/audit/open-audit.md
Labels: ghippo, zh

#1891 skoala：Update sentinel.md
  docs/zh/docs/skoala/standard/sentinel.md
Labels: skoala, zh

#1883 add dce4.0 issues
  docs/zh/docs/mspider/install/istio-update.md
  docs/zh/docs/mspider/troubleshoot/dce4.0-issues.md
  docs/zh/docs/mspider/troubleshoot/images/dce4-01.png
Labels: mspider, zh

#1892 skoala: fix discussion 1584
  docs/zh/docs/skoala/gateway/service/manual-integrate.md
  docs/zh/docs/skoala/images/gw-service01.png
  docs/zh/docs/skoala/images/gw-service02.png
  docs/zh/docs/skoala/images/gw-service03.png
  docs/zh/docs/skoala/images/gw-service04.png
  docs/zh/docs/skoala/images/gw-service05.png
  docs/zh/docs/skoala/images/gw-service06.png
  docs/zh/docs/skoala/images/gw-service07.png
  docs/zh/docs/skoala/images/gw-service08.png
  docs/zh/docs/skoala/images/gw-service09.png
  docs/zh/docs/skoala/images/gw-service10.png
  docs/zh/navigation.yml
Labels: skoala, zh

#1893 skoala: address discussions and issues
  docs/zh/docs/insight/user-guide/scenario-insight/container.md
  docs/zh/docs/middleware/common/workload-antiaffinity.md
  docs/zh/docs/middleware/elasticsearch/user-guide/cluster-capacity-plan.md
  docs/zh/docs/skoala/gateway/create-gateway.md
  docs/zh/docs/skoala/images/gw-create01.png
  docs/zh/docs/skoala/images/gw-create02.png
  docs/zh/docs/skoala/images/gw-create03.png
  docs/zh/docs/skoala/images/gw-create04.png
  docs/zh/docs/skoala/images/gw-create05.png
  docs/zh/docs/skoala/images/gw-create06.png
  docs/zh/docs/skoala/images/gw-create07.png
  docs/zh/docs/skoala/images/gw-create08.png
  docs/zh/docs/skoala/images/gw-create09.png
  docs/zh/docs/skoala/images/gw-create10.png
Labels: skoala, midware, insight, zh

#1894 kairship: udpate cluster management doc
  docs/en/docs/kairship/best-pratice/one-click-conversion.md
  docs/en/docs/kairship/cluster.md
  docs/en/docs/kairship/cluster/join.md
  docs/en/docs/kairship/cluster/remove.md
  docs/en/docs/kairship/images/cluster01.png
  docs/en/docs/kairship/images/cluster02.png
  docs/en/docs/kairship/images/cluster03.png
  docs/en/docs/kairship/images/cluster04.png
  docs/en/docs/kairship/images/cluster05.png
  docs/en/docs/kairship/images/cluster06.png
  docs/en/navigation.yml
  docs/zh/docs/kairship/best-pratice/one-click-conversion.md
  docs/zh/docs/kairship/cluster.md
  docs/zh/docs/kairship/cluster/join.md
  docs/zh/docs/kairship/cluster/remove.md
  docs/zh/docs/kairship/images/cluster01.png
  docs/zh/navigation.yml
Labels: kairship, zh, en

#1898 mspider: add dce4.0 issues en
  docs/en/docs/mspider/troubleshoot/dce4.0-issues.md
  docs/en/docs/mspider/troubleshoot/images/dce4-01.png
  docs/en/navigation.yml
  docs/zh/navigation.yml
Labels: mspider, zh, en

#1901 kairship: update workload/deployment.md
  docs/zh/docs/kairship/images/deploy04.png
  docs/zh/docs/kairship/images/deploy05.png
  docs/zh/docs/kairship/images/deploy06.png
  docs/zh/docs/kairship/images/deploy07.png
  docs/zh/docs/kairship/images/deploy08.png
  docs/zh/docs/kairship/images/deploy09.png
  docs/zh/docs/kairship/images/deploy10.png
  docs/zh/docs/kairship/images/deploy11.png
  docs/zh/docs/kairship/images/deploy12.png
  docs/zh/docs/kairship/intro/what.md
  docs/zh/docs/kairship/workload/README.md
  docs/zh/docs/kairship/workload/deployment.md
  docs/zh/navigation.yml
Labels: kairship, zh

#1902 update rn
  docs/zh/docs/install/release-notes.md
Labels: installer, zh

#1904 kairship: update docs about creating deployment with yaml
  docs/zh/docs/kairship/images/deploy13.png
  docs/zh/docs/kairship/images/deploy14.png
  docs/zh/docs/kairship/images/deploy15.png
  docs/zh/docs/kairship/images/deploy16.png
  docs/zh/docs/kairship/workload/deployment.md
  docs/zh/docs/kairship/workload/yaml.md
  docs/zh/navigation.yml
Labels: kairship, zh

#1905 kairship: update update-deployment.md
  docs/zh/docs/dce/terms.md
  docs/zh/docs/kairship/best-practice/one-click-conversion.md
  docs/zh/docs/kairship/images/deploy17.png
  docs/zh/docs/kairship/instance/workspace.md
  docs/zh/docs/kairship/policy/override.md
  docs/zh/docs/kairship/policy/propagation.md
  docs/zh/docs/kairship/workload/update-deployment.md
  docs/zh/docs/kairship/workspace.md
  docs/zh/navigation.yml
Labels: kairship, zh, dce

#1906 add oem in and out
  docs/zh/docs/ghippo/oem/custom-idp.md
  docs/zh/docs/ghippo/oem/dce5-dce5.md
  docs/zh/docs/ghippo/oem/demo.md
  docs/zh/docs/ghippo/oem/examples/App.vue
  docs/zh/docs/ghippo/oem/examples/default1.conf
  docs/zh/docs/ghippo/oem/examples/default2.conf
  docs/zh/docs/ghippo/oem/examples/demo.yaml
  docs/zh/docs/ghippo/oem/examples/nginx.conf
  docs/zh/docs/ghippo/oem/examples/pom.xml
  docs/zh/docs/ghippo/oem/examples/xxxProvider.java
  docs/zh/docs/ghippo/oem/examples/xxxProviderFactory.java
  docs/zh/docs/ghippo/oem/images/dce5-01.png
  docs/zh/docs/ghippo/oem/images/dce5-02.png
  docs/zh/docs/ghippo/oem/images/dce5-03.png
  docs/zh/docs/ghippo/oem/images/idp01.png
  docs/zh/docs/ghippo/oem/images/idp02.png
  docs/zh/docs/ghippo/oem/images/idp03.png
  docs/zh/docs/ghippo/oem/images/idp04.png
  docs/zh/docs/ghippo/oem/images/idp05.png
  docs/zh/docs/ghippo/oem/images/idp06.png
  docs/zh/docs/ghippo/oem/images/oem-in01.png
  docs/zh/docs/ghippo/oem/images/oem-in02.png
  docs/zh/docs/ghippo/oem/images/oem-out01.png
  docs/zh/docs/ghippo/oem/keycloak-idp.md
  docs/zh/docs/ghippo/oem/oem-in.md
  docs/zh/docs/ghippo/oem/oem-out.md
  docs/zh/docs/ghippo/oem/reverse.md
  docs/zh/navigation.yml
Labels: ghippo, zh

#1909 Update Hwameistor & SpiderPool Release notes
  docs/zh/docs/network/modules/spiderpool/releasenotes.md
  docs/zh/docs/storage/hwameistor/releasenotes.md
Labels: zh, network, storage

#1910 update native(0710-0716)
  docs/en/docs/native/commerce.md
  docs/en/docs/native/news.md
  docs/en/docs/native/open.md
  docs/zh/docs/native/commerce.md
  docs/zh/docs/native/news.md
  docs/zh/docs/native/open.md
Labels: zh, en, native

#1918 add 0630 release notes
  docs/zh/docs/dce/dce-rn/230531.md
  docs/zh/docs/dce/dce-rn/230630.md
  docs/zh/navigation.yml
Labels: zh, dce

#1917 add en oem
  docs/en/docs/ghippo/oem/custom-idp.md
  docs/en/docs/ghippo/oem/dce5-dce5.md
  docs/en/docs/ghippo/oem/demo.md
  docs/en/docs/ghippo/oem/examples/App.vue
  docs/en/docs/ghippo/oem/examples/default1.conf
  docs/en/docs/ghippo/oem/examples/default2.conf
  docs/en/docs/ghippo/oem/examples/demo.yaml
  docs/en/docs/ghippo/oem/examples/nginx.conf
  docs/en/docs/ghippo/oem/examples/pom.xml
  docs/en/docs/ghippo/oem/examples/xxxProvider.java
  docs/en/docs/ghippo/oem/examples/xxxProviderFactory.java
  docs/en/docs/ghippo/oem/images/dce5-01.png
  docs/en/docs/ghippo/oem/images/dce5-02.png
  docs/en/docs/ghippo/oem/images/dce5-03.png
  docs/en/docs/ghippo/oem/images/idp01.png
  docs/en/docs/ghippo/oem/images/idp02.png
  docs/en/docs/ghippo/oem/images/idp03.png
  docs/en/docs/ghippo/oem/images/idp04.png
  docs/en/docs/ghippo/oem/images/idp05.png
  docs/en/docs/ghippo/oem/images/idp06.png
  docs/en/docs/ghippo/oem/images/oem-in01.png
  docs/en/docs/ghippo/oem/images/oem-in02.png
  docs/en/docs/ghippo/oem/images/oem-out01.png
  docs/en/docs/ghippo/oem/keycloak-idp.md
  docs/en/docs/ghippo/oem/oem-in.md
  docs/en/docs/ghippo/oem/oem-out.md
  docs/en/docs/ghippo/oem/reverse.md
  docs/en/navigation.yml
  docs/zh/docs/ghippo/oem/custom-idp.md
  docs/zh/docs/ghippo/oem/oem-in.md
  docs/zh/docs/ghippo/oem/oem-out.md
Labels: ghippo, zh, en

#1921 Add sentinel integration configs
  docs/zh/docs/skoala/standard/sentinel.md
Labels: skoala, zh

#1922 add en 230630 release notes
  docs/en/docs/dce/dce-rn/230531.md
  docs/en/docs/dce/dce-rn/230630.md
  docs/en/navigation.yml
Labels: en, dce

#1923 sync all release notes and add mongodb pages
  docs/en/docs/amamba/intro/release-notes.md
  docs/en/docs/dce/dce-rn/230531.md
  docs/en/docs/dce/dce-rn/230630.md
  docs/en/docs/download/business/dce5-installer-v0.3.27.md
  docs/en/docs/download/business/dce5-installer-v0.3.28.md
  docs/en/docs/download/business/dce5-installer-v0.3.29.md
  docs/en/docs/download/business/dce5-installer-v0.3.30.md
  docs/en/docs/download/business/dce5-installer-v0.4.0-rc2.md
  docs/en/docs/download/business/dce5-installer-v0.4.0.md
  docs/en/docs/download/business/dce5-installer-v0.5.0.md
  docs/en/docs/download/business/dce5-installer-v0.6.0.md
  docs/en/docs/download/business/dce5-installer-v0.6.1.md
  docs/en/docs/download/business/dce5-installer-v0.7.0.md
  docs/en/docs/download/business/dce5-installer-v0.8.0.md
  docs/en/docs/ghippo/intro/release-notes.md
  docs/en/docs/insight/intro/releasenote.md
  docs/en/docs/install/release-notes.md
  docs/en/docs/kairship/intro/release-notes.md
  docs/en/docs/kangaroo/release-notes.md
  docs/en/docs/kpanda/intro/release-notes.md
  docs/en/docs/middleware/customize-permission.md
  docs/en/docs/middleware/elasticsearch/release-notes.md
  docs/en/docs/middleware/kafka/release-notes.md
  docs/en/docs/middleware/minio/release-notes.md
  docs/en/docs/middleware/mongodb/images/what.png
  docs/en/docs/middleware/mongodb/intro/features.md
  docs/en/docs/middleware/mongodb/intro/what.md
  docs/en/docs/middleware/mongodb/release-notes.md
  docs/en/docs/middleware/mongodb/user-guide/create.md
  docs/en/docs/middleware/mongodb/user-guide/delete.md
  docs/en/docs/middleware/mongodb/user-guide/logs.md
  docs/en/docs/middleware/mongodb/user-guide/update.md
  docs/en/docs/middleware/mysql/release-notes.md
  docs/en/docs/middleware/postgresql/release-notes.md
  docs/en/docs/middleware/rabbitmq/release-notes.md
  docs/en/docs/middleware/redis/release-notes.md
  docs/en/docs/network/intro/releasenotes.md
  docs/en/docs/skoala/intro/release-notes.md
  docs/en/docs/storage/hwameistor/releasenotes.md
  docs/en/navigation.yml
  docs/zh/docs/dce/dce-rn/230531.md
  docs/zh/docs/dce/dce-rn/230630.md
  docs/zh/docs/download/business/dce5-installer-v0.3.28.md
  docs/zh/docs/download/business/dce5-installer-v0.3.29.md
  docs/zh/docs/download/business/dce5-installer-v0.3.30.md
  docs/zh/docs/download/business/dce5-installer-v0.4.0-rc2.md
  docs/zh/docs/download/business/dce5-installer-v0.4.0.md
  docs/zh/docs/download/business/dce5-installer-v0.5.0.md
  docs/zh/docs/download/business/dce5-installer-v0.6.0.md
  docs/zh/docs/download/business/dce5-installer-v0.6.1.md
  docs/zh/docs/download/business/dce5-installer-v0.7.0.md
  docs/zh/docs/network/intro/releasenotes.md
  docs/zh/docs/storage/hwameistor/releasenotes.md
Labels: skoala, midware, kairship, insight, kpanda, amamba, ghippo, installer, download, zh, en, kangaroo, network, dce, storage

#1924 Enhance sentinel integration
  docs/zh/docs/skoala/standard/sentinel.md
Labels: skoala, zh

#1925 syn all download pages
  docs/en/docs/dce/dce-rn/230630.md
  docs/en/docs/download/addon/v0.9.0.md
  docs/en/docs/download/business/dce5-installer-v0.9.0.md
  docs/en/docs/download/dce5.md
  docs/en/docs/download/free/dce5-installer-v0.9.0.md
  docs/en/docs/download/modules/ghippo.md
  docs/en/docs/download/modules/gmagpie.md
  docs/en/docs/install/intro.md
  docs/en/docs/native/news.md
  docs/en/docs/native/open.md
  docs/en/navigation.yml
  docs/zh/docs/download/dce5.md
Labels: installer, download, zh, en, native, dce

#1926 fix typo of cloudtty
  docs/en/docs/blogs/220808-kairship.md
  docs/en/docs/blogs/221026-kpanda.md
  docs/en/docs/community/cloudtty.md
  docs/en/docs/community/images/cloudtty.png
  docs/en/docs/community/index.md
  docs/en/docs/ghippo/oem/examples/default1.conf
  docs/en/docs/ghippo/oem/examples/default2.conf
  docs/en/docs/mspider/intro/release-notes.md
  docs/en/navigation.yml
  docs/zh/docs/community/cloudtty.md
  docs/zh/docs/community/images/cloudtty.png
  docs/zh/docs/community/index.md
  docs/zh/docs/ghippo/oem/examples/default1.conf
  docs/zh/docs/ghippo/oem/examples/default2.conf
  docs/zh/docs/kairship/intro/release-notes.md
  docs/zh/docs/mspider/intro/release-notes.md
  docs/zh/docs/release/rn5.0.md
  docs/zh/navigation.yml
Labels: mspider, kairship, ghippo, zh, en, blogs, eco

#1929 modify the install url
  docs/zh/docs/download/modules/insight.md
Labels: download, zh

#1928 mspider: update wrokspace permission.
  docs/en/docs/ghippo/permissions/mspider.md
  docs/zh/docs/ghippo/permissions/mspider.md
Labels: ghippo, zh, en

#1930 Update operator.md
  docs/zh/docs/insight/quickstart/otel/operator.md
Labels: insight, zh

#1931 update
  docs/zh/docs/amamba/images/sonarqube01.png
  docs/zh/docs/amamba/images/sonarqube02.png
  docs/zh/docs/amamba/images/sonarqube03.png
  docs/zh/docs/amamba/intro/release-notes.md
  docs/zh/docs/amamba/intro/what.md
  docs/zh/docs/amamba/quickstart/scan-with-pipeline.md
  docs/zh/docs/install/release-notes.md
Labels: amamba, installer, zh

#1932 update install.md
  docs/zh/docs/skoala/quickstart/install.md
Labels: skoala, zh

#1933 add webhook to ghippo-oem
  docs/en/docs/ghippo/oem/images/webh01.png
  docs/en/docs/ghippo/oem/images/webh02.png
  docs/en/docs/ghippo/oem/images/webh03.png
  docs/en/docs/ghippo/oem/images/webh04.png
  docs/en/docs/ghippo/oem/images/webh05.png
  docs/en/docs/ghippo/oem/images/webh06.png
  docs/en/docs/ghippo/oem/webhook.md
  docs/en/navigation.yml
  docs/zh/docs/ghippo/oem/images/webh01.png
  docs/zh/docs/ghippo/oem/images/webh02.png
  docs/zh/docs/ghippo/oem/images/webh03.png
  docs/zh/docs/ghippo/oem/images/webh04.png
  docs/zh/docs/ghippo/oem/images/webh05.png
  docs/zh/docs/ghippo/oem/images/webh06.png
  docs/zh/docs/ghippo/oem/webhook.md
  docs/zh/navigation.yml
Labels: ghippo, zh, en

#1934 kpanda: add zh &en docs about inspection
  docs/en/docs/kpanda/images/inspect01.png
  docs/en/docs/kpanda/images/inspect02.png
  docs/en/docs/kpanda/images/inspect03.png
  docs/en/docs/kpanda/images/inspect04.png
  docs/en/docs/kpanda/images/inspect05.png
  docs/en/docs/kpanda/images/inspect06.png
  docs/en/docs/kpanda/images/inspect07.png
  docs/en/docs/kpanda/images/inspect08.png
  docs/en/docs/kpanda/images/inspect09.png
  docs/en/docs/kpanda/user-guide/inspect/config.md
  docs/en/docs/kpanda/user-guide/inspect/inspect.md
  docs/en/docs/kpanda/user-guide/inspect/report.md
  docs/en/navigation.yml
  docs/zh/docs/kpanda/images/inspect01.png
  docs/zh/docs/kpanda/images/inspect02.png
  docs/zh/docs/kpanda/images/inspect03.png
  docs/zh/docs/kpanda/images/inspect04.png
  docs/zh/docs/kpanda/images/inspect05.png
  docs/zh/docs/kpanda/images/inspect06.png
  docs/zh/docs/kpanda/images/inspect07.png
  docs/zh/docs/kpanda/images/inspect08.png
  docs/zh/docs/kpanda/images/inspect09.png
  docs/zh/docs/kpanda/user-guide/inspect/config.md
  docs/zh/docs/kpanda/user-guide/inspect/inspect.md
  docs/zh/docs/kpanda/user-guide/inspect/report.md
  docs/zh/navigation.yml
Labels: kpanda, zh, en

#1937 Kpanda: update inspection docs
  docs/en/docs/kpanda/user-guide/inspect/config.md
  docs/en/docs/kpanda/user-guide/inspect/inspect.md
  docs/en/docs/kpanda/user-guide/inspect/report.md
  docs/zh/docs/kpanda/user-guide/inspect/config.md
  docs/zh/docs/kpanda/user-guide/inspect/inspect.md
  docs/zh/docs/kpanda/user-guide/inspect/report.md
Labels: kpanda, zh, en

#1938 upgrate cluster node
  docs/zh/docs/kpanda/best-practice/update-offline-cluster.md
  docs/zh/docs/kpanda/images/cluster-version.png
  docs/zh/docs/kpanda/user-guide/clusters/cluster-version.md
  docs/zh/docs/kpanda/user-guide/nodes/add-node.md
Labels: kpanda, zh

#1939 update kant join-rqmt
  docs/en/docs/kant/intro/join-rqmt.md
  docs/zh/docs/kant/intro/join-rqmt.md
Labels: zh, en, kant

#1940 add en install pages
  docs/en/docs/install/commercial/cluster-config.md
  docs/en/docs/install/commercial/deploy-requirements.md
  docs/en/docs/install/commercial/external/external-binary.md
  docs/en/docs/install/commercial/external/external-imageandchart.md
  docs/en/docs/install/commercial/external/external-middlewares.md
  docs/en/docs/install/commercial/external/external-os.md
  docs/en/docs/install/commercial/manifest.md
  docs/en/docs/install/commercial/prepare.md
  docs/en/docs/install/commercial/start-install.md
  docs/en/docs/install/community/k8s/offline.md
  docs/en/docs/install/community/kind/online.md
  docs/en/docs/install/community/resources.md
  docs/en/docs/install/import.md
  docs/en/docs/install/install-tools.md
  docs/en/docs/install/k8s-install/ocp-install-dce5.0.md
  docs/en/docs/install/os-install/TencentOS-install-dce5.0.md
  docs/en/docs/install/os-install/oracleLinux-install-dce5.0.md
  docs/en/docs/install/os-install/uos-v20-install-dce5.0.md
  docs/en/docs/install/release-notes.md
  docs/en/docs/install/upgrade.md
  docs/en/navigation.yml
  docs/zh/docs/install/import.md
Labels: installer, zh, en

#1942 kpanda: update inspect.md
  docs/zh/docs/kpanda/user-guide/inspect/inspect.md
Labels: kpanda, zh

#1941 update en/zh kangaroo pages
  docs/en/docs/kangaroo/faq.md
  docs/en/docs/kangaroo/images/hosted01.png
  docs/en/docs/kangaroo/images/hosted02.png
  docs/en/docs/kangaroo/images/hosted03.png
  docs/en/docs/kangaroo/images/hosted04.png
  docs/en/docs/kangaroo/images/interg01.png
  docs/en/docs/kangaroo/images/interg02.png
  docs/en/docs/kangaroo/images/interg03.png
  docs/en/docs/kangaroo/images/interg04.png
  docs/en/docs/kangaroo/images/push-cmd.png
  docs/en/docs/kangaroo/images/push-cmd01.png
  docs/en/docs/kangaroo/images/push-cmd02.png
  docs/en/docs/kangaroo/images/push-cmd03.png
  docs/en/docs/kangaroo/images/push01.png
  docs/en/docs/kangaroo/images/push02.png
  docs/en/docs/kangaroo/images/push03.png
  docs/en/docs/kangaroo/images/push04.png
  docs/en/docs/kangaroo/images/relate02.png
  docs/en/docs/kangaroo/images/relate03.png
  docs/en/docs/kangaroo/images/wsadmin01.png
  docs/en/docs/kangaroo/images/wsadmin02.png
  docs/en/docs/kangaroo/managed/harbor.md
  docs/en/docs/kangaroo/managed/intro.md
  docs/en/docs/kangaroo/managed/operator.md
  docs/en/docs/kangaroo/quickstart/admin-registry.md
  docs/en/docs/kangaroo/quickstart/push.md
  docs/en/docs/kangaroo/quickstart/registry-in-one.md
  docs/en/docs/kangaroo/quickstart/ws-admin-registry.md
  docs/en/docs/kangaroo/space/index.md
  docs/zh/docs/kangaroo/faq.md
  docs/zh/docs/kangaroo/images/hosted04.png
  docs/zh/docs/kangaroo/images/push-cmd01.png
  docs/zh/docs/kangaroo/images/push-cmd02.png
  docs/zh/docs/kangaroo/images/push-cmd03.png
  docs/zh/docs/kangaroo/managed/harbor.md
  docs/zh/docs/kangaroo/managed/operator.md
  docs/zh/docs/kangaroo/quickstart/ws-admin-registry.md
  docs/zh/docs/kangaroo/space/index.md
Labels: zh, en, kangaroo

#1944 mcamel: update es migrate-es.md
  docs/en/docs/kpanda/user-guide/inspect/inspect.md
  docs/zh/docs/middleware/elasticsearch/user-guide/migrate-es.md
  docs/zh/navigation.yml
Labels: midware, kpanda, zh, en

#1946 update en insight pages
  docs/en/docs/insight/best-practice/debug-log.md
  docs/en/docs/insight/best-practice/debug-trace.md
  docs/en/docs/insight/best-practice/find_root_cause.md
  docs/en/docs/insight/best-practice/sw-to-otel.md
  docs/en/docs/insight/best-practice/tailing-sidecar.md
  docs/en/docs/insight/compati-test/k8s-compatibility.md
  docs/en/docs/insight/compati-test/ocp-compatibility.md
  docs/en/docs/insight/compati-test/rancher-compatibility.md
  docs/en/docs/insight/faq/alertnotification.md
  docs/en/docs/insight/images/insight01.png
  docs/en/docs/insight/images/insight02.png
  docs/en/docs/insight/images/insight03.png
  docs/en/docs/insight/images/insight04.png
  docs/en/docs/insight/images/insighttrace01.png
  docs/en/docs/insight/images/insighttrace02.png
  docs/en/docs/insight/images/insighttrace03.png
  docs/en/docs/insight/images/insighttrace04.png
  docs/en/docs/insight/images/root01.png
  docs/en/docs/insight/images/root02.png
  docs/en/docs/insight/quickstart/otel/golang-ebpf.md
  docs/en/docs/insight/quickstart/otel/golang.md
  docs/en/docs/insight/quickstart/otel/meter.md
  docs/en/docs/insight/quickstart/otel/operator.md
  docs/zh/docs/insight/best-practice/find_root_cause.md
  docs/zh/docs/insight/best-practice/tailing-sidecar.md
Labels: insight, zh, en

#1947 add en images to install deploy-arch
  docs/en/docs/install/commercial/deploy-arch.md
  docs/en/docs/install/images/allinone.png
  docs/en/docs/install/images/four.png
  docs/en/docs/install/images/seven.png
Labels: installer, en

#1949 update native(7.17-7.23)
  docs/en/docs/native/commerce.md
  docs/en/docs/native/news.md
  docs/en/docs/native/open.md
  docs/zh/docs/native/commerce.md
  docs/zh/docs/native/news.md
  docs/zh/docs/native/open.md
Labels: zh, en, native

#1950 update upgrade infr
  docs/zh/docs/install/commercial/manifest.md
  docs/zh/docs/install/upgrade.md
Labels: installer, zh

#1951 update mspider pages
  docs/en/docs/mspider/user-guide/images/topo01.png
  docs/en/docs/mspider/user-guide/images/topo02.png
  docs/en/docs/mspider/user-guide/images/topo03.png
  docs/en/docs/mspider/user-guide/images/topo04.png
  docs/en/docs/mspider/user-guide/traffic-monitor/README.md
  docs/en/docs/mspider/user-guide/traffic-monitor/conn-topo.md
  docs/en/navigation.yml
  docs/zh/docs/mspider/user-guide/images/monitor01.png
  docs/zh/docs/mspider/user-guide/images/topo01.png
  docs/zh/docs/mspider/user-guide/images/topo02.png
  docs/zh/docs/mspider/user-guide/images/topo03.png
  docs/zh/docs/mspider/user-guide/images/topo04.png
  docs/zh/docs/mspider/user-guide/traffic-monitor/README.md
  docs/zh/docs/mspider/user-guide/traffic-monitor/conn-topo.md
Labels: mspider, zh, en

#1952 update gproduct tar package
  docs/en/docs/ghippo/oem/examples/gproduct-demo-main.tar.gz
  docs/en/docs/ghippo/oem/oem-in.md
  docs/en/docs/ghippo/oem/oem-out.md
  docs/zh/docs/ghippo/oem/examples/gproduct-demo-main.tar.gz
  docs/zh/docs/ghippo/oem/oem-in.md
  docs/zh/docs/ghippo/oem/oem-out.md
Labels: ghippo, zh, en

#1953 Update delete-cluster.md
  docs/zh/docs/kpanda/user-guide/clusters/delete-cluster.md
Labels: kpanda, zh

#1955 update nav about native and release notes
  docs/en/navigation.yml
  docs/zh/docs/native/knowledge.md
  docs/zh/docs/native/knowledge/best-practice.md
  docs/zh/docs/native/knowledge/bugs.md
  docs/zh/docs/native/knowledge/ebooks.md
  docs/zh/docs/native/knowledge/hot-spots.md
  docs/zh/docs/native/knowledge/knowledge.md
  docs/zh/docs/native/knowledge/other.md
  docs/zh/docs/native/knowledge/products.md
  docs/zh/docs/native/knowledge/tools.md
  docs/zh/docs/native/knowledge/troubleshoot.md
  docs/zh/docs/native/news/news-2022.md
  docs/zh/docs/native/news/news-2023.md
  docs/zh/navigation.yml
Labels: zh, en, native, dce

#1956 update en multicluster for mspider
  docs/en/docs/mspider/test/images/os01.png
  docs/en/docs/mspider/test/images/os03.png
  docs/en/docs/mspider/test/images/os04.png
  docs/en/docs/mspider/test/images/os10.png
  docs/en/docs/mspider/test/openshift.md
  docs/en/docs/mspider/user-guide/multicluster/multicluster-install.md
  docs/zh/docs/mspider/user-guide/multicluster/multicluster-install.md
Labels: mspider, zh, en

#1958 add docs about network performance test
  docs/zh/docs/network/images/cilium-cross-env.png
  docs/zh/docs/network/images/cilium-cross-target.png
  docs/zh/docs/network/images/cilium-multistream01.png
  docs/zh/docs/network/images/cilium-multistream02.png
  docs/zh/docs/network/images/cilium-nodeport01.png
  docs/zh/docs/network/images/cilium-nodeport02.png
  docs/zh/docs/network/images/cilium-service.png
  docs/zh/docs/network/images/cilium-singlestream01.png
  docs/zh/docs/network/images/cilium-singlestream02.png
  docs/zh/docs/network/images/cilium-tcprr01.png
  docs/zh/docs/network/images/cilium-tcprr02.png
  docs/zh/docs/network/images/cilium-tcprr03.png
  docs/zh/docs/network/images/cilium-tcprr04.png
  docs/zh/docs/network/performance/cilium-performance/cilium-crossnode.md
  docs/zh/docs/network/performance/cilium-performance/cilium-nodeport
  docs/zh/docs/network/performance/cilium-performance/cilium-service
  docs/zh/navigation.yml
Labels: zh, network

#1957 amamba: add docs about oam
  docs/en/docs/amamba/user-guide/oam/concept.md
  docs/en/navigation.yml
  docs/zh/docs/amamba/images/native-app01.png
  docs/zh/docs/amamba/images/native-app02.png
  docs/zh/docs/amamba/images/native-app03.png
  docs/zh/docs/amamba/images/native-app04.png
  docs/zh/docs/amamba/images/native-app05.png
  docs/zh/docs/amamba/images/native-app06.png
  docs/zh/docs/amamba/images/native-app07.png
  docs/zh/docs/amamba/images/native-app08.png
  docs/zh/docs/amamba/images/oam01.png
  docs/zh/docs/amamba/images/oam02.png
  docs/zh/docs/amamba/images/oam03.png
  docs/zh/docs/amamba/images/oam04.png
  docs/zh/docs/amamba/images/oam05.png
  docs/zh/docs/amamba/images/oam06.png
  docs/zh/docs/amamba/images/oam07.png
  docs/zh/docs/amamba/images/oam08.png
  docs/zh/docs/amamba/images/oam09.png
  docs/zh/docs/amamba/images/oam10.png
  docs/zh/docs/amamba/images/oam11.png
  docs/zh/docs/amamba/images/oam12.png
  docs/zh/docs/amamba/images/oam13.png
  docs/zh/docs/amamba/images/oam14.png
  docs/zh/docs/amamba/images/oam15.png
  docs/zh/docs/amamba/user-guide/native/manage.md
  docs/zh/docs/amamba/user-guide/native/native-app.md
  docs/zh/docs/amamba/user-guide/oam/concept.md
  docs/zh/docs/amamba/user-guide/oam/create.md
  docs/zh/docs/amamba/user-guide/oam/manage.md
  docs/zh/navigation.yml
Labels: amamba, zh, en

#1959 kubean is in cncf landscape now
  docs/en/docs/community/index.md
  docs/en/docs/community/kubean.md
  docs/zh/docs/community/index.md
  docs/zh/docs/community/kubean.md
Labels: zh, en, eco

#1961 fix offline install
  docs/zh/docs/ghippo/install/offline-install.md
Labels: ghippo, zh

#1962 mspider: add docs:Add access restrictions with egress and authorized …
  docs/zh/docs/mspider/best-practice/use-egress-and-authorized-policy.md
  docs/zh/docs/mspider/images/egress-and-authorized-01.png
  docs/zh/docs/mspider/images/egress-and-authorized-02.png
  docs/zh/docs/mspider/images/egress-and-authorized-03.png
  docs/zh/docs/mspider/images/egress-and-authorized-04.png
  docs/zh/docs/mspider/images/egress-and-authorized-05-2.png
  docs/zh/docs/mspider/images/egress-and-authorized-05.png
  docs/zh/docs/mspider/images/egress-and-authorized-06.png
  docs/zh/docs/mspider/images/egress-and-authorized-07.png
  docs/zh/docs/mspider/images/egress-and-authorized-08.png
  docs/zh/docs/mspider/images/egress-and-authorized-09.png
  docs/zh/docs/mspider/images/egress-and-authorized-10.png
  docs/zh/docs/mspider/images/egress-and-authorized-11.png
  docs/zh/docs/mspider/images/egress-and-authorized-12.png
  docs/zh/docs/mspider/images/egress-and-authorized-13.png
  docs/zh/docs/mspider/images/egress-and-authorized-14.png
  docs/zh/navigation.yml
Labels: mspider, zh

#1963 correct file name
  docs/zh/docs/network/performance/cilium-performance/cilium-nodeport.md
  docs/zh/docs/network/performance/cilium-performance/cilium-service.md
  docs/zh/navigation.yml
Labels: zh, network

#1966 add kafka docs in logs
  docs/zh/docs/insight/best-practice/insight-kafka.md
  docs/zh/docs/insight/images/insight-kafka/logging-kafka.png
Labels: insight, zh

#1968 update install velero
  docs/zh/docs/kpanda/images/backup2.png
  docs/zh/docs/kpanda/images/backup3.png
  docs/zh/docs/kpanda/images/backup4.png
  docs/zh/docs/kpanda/user-guide/backup/install-velero.md
Labels: kpanda, zh

#1969 add docs about network performance test
  docs/zh/docs/network/images/cilium-ebpf-latency.png
  docs/zh/docs/network/images/cilium-ebpf-tps.png
  docs/zh/docs/network/images/ebpf-cpu.png
  docs/zh/docs/network/images/ebpf-latency.png
  docs/zh/docs/network/images/ebpf-throughput.png
  docs/zh/docs/network/performance/cilium-performance/cilium-bandwidth.md
  docs/zh/docs/network/performance/ebpf-performance.md
  docs/zh/navigation.yml
Labels: zh, network

#1970 Update install.md
  docs/zh/docs/skoala/quickstart/install.md
Labels: skoala, zh

#1971 skoala: update navigation.yml
  docs/en/navigation.yml
Labels: en

#1972 update node-expansion & Volume IO docs
  docs/zh/docs/storage/hwameistor/install/deploy-operator.md
  docs/zh/docs/storage/hwameistor/install/drbdinstall.md
  docs/zh/docs/storage/hwameistor/resources/disk_nodes.md
  docs/zh/docs/storage/hwameistor/resources/lvm_nodes.md
  docs/zh/docs/storage/hwameistor/resources/volume-ProvisionedIO.md
  docs/zh/navigation.yml
Labels: zh, storage

#1973 add en best practice to mspider
  docs/en/docs/mspider/best-practice/use-egress-and-authorized-policy.md
  docs/en/docs/mspider/images/egress-and-authorized-05-2.png
  docs/en/docs/mspider/images/egress-and-authorized-06.png
  docs/en/docs/mspider/images/egress-and-authorized-07.png
  docs/en/docs/mspider/images/egress-and-authorized-09.png
  docs/en/docs/mspider/images/egress-and-authorized-10.png
  docs/en/docs/mspider/images/egress-and-authorized-11.png
  docs/en/docs/mspider/images/egress-and-authorized-12.png
  docs/en/docs/mspider/images/egress-and-authorized-13.png
  docs/en/docs/mspider/images/egress01.png
  docs/en/docs/mspider/images/egress02.png
  docs/en/docs/mspider/images/egress03.png
  docs/en/docs/mspider/images/egress04.png
  docs/en/docs/mspider/images/egress05.png
  docs/en/docs/mspider/images/egress06.png
  docs/en/navigation.yml
  docs/zh/docs/mspider/best-practice/use-egress-and-authorized-policy.md
Labels: mspider, zh, en

#1976 update join-rqmt
  docs/en/docs/kant/intro/join-rqmt.md
  docs/zh/docs/kant/intro/join-rqmt.md
Labels: zh, en, kant

#1979 Update istio-update.md
  docs/zh/docs/mspider/install/istio-update.md
Labels: mspider, zh

#1981 fix: add jenkinsfileTemplate intro
  docs/zh/docs/amamba/user-guide/pipeline/template/info.md
Labels: amamba, zh

#1980 kpanda_update_dowload_site
  docs/zh/docs/download/modules/kpanda.md
  docs/zh/navigation.yml
Labels: download, zh

#1982 rename audit nav and add note
  docs/zh/docs/ghippo/user-guide/audit/open-audit.md
  docs/zh/docs/ghippo/user-guide/audit/open-k8s-audit.md
  docs/zh/navigation.yml
Labels: ghippo, zh

#1983 add en download kpanda and open-audit pages
  docs/en/docs/community/miragedebug.md
  docs/en/docs/download/modules/kpanda.md
  docs/en/docs/ghippo/user-guide/audit/open-audit.md
  docs/en/docs/ghippo/user-guide/audit/open-k8s-audit.md
  docs/en/docs/install/commercial/external/external-binary.md
  docs/en/docs/install/commercial/external/external-middlewares.md
  docs/en/docs/install/commercial/external/external-os.md
  docs/en/docs/install/community/kind/online.md
  docs/en/docs/install/os-install/TencentOS-install-dce5.0.md
  docs/en/docs/middleware/mysql/faq/common-question.md
  docs/en/docs/skoala/tests/gateway-stress-test.md
  docs/en/navigation.yml
  docs/zh/docs/ghippo/user-guide/audit/open-audit.md
  docs/zh/docs/ghippo/user-guide/audit/open-k8s-audit.md
  docs/zh/navigation.yml
Labels: skoala, midware, ghippo, installer, download, zh, en, eco

#1986 add doc about spiderpool for public cloud
  docs/zh/docs/network/images/alicloud-k8s-network.png
  docs/zh/docs/network/images/alicloud-loadbalancer.png
  docs/zh/docs/network/images/alicloud-natgateway.png
  docs/zh/docs/network/images/alicloud-network-web.png
  docs/zh/docs/network/modules/spiderpool/publiccloud.md
  docs/zh/navigation.yml
Labels: zh, network

#1984 download: kpanda version updated to 0.20.0+dev-2f4f4368
  docs/zh/docs/download/modules/kpanda.md
Labels: wip, download, zh

#1989 update en istio-update page
  docs/en/docs/mspider/images/IstioUpdate01.png
  docs/en/docs/mspider/images/IstioUpdate02.png
  docs/en/docs/mspider/images/IstioUpdate04.png
  docs/en/docs/mspider/images/IstioUpdate05.png
  docs/en/docs/mspider/images/IstioUpdate06.png
  docs/en/docs/mspider/install/istio-update.md
Labels: mspider, en

#1990 update hwameistor navigation
  docs/zh/docs/storage/hwameistor/resources/disk-nodes.md
  docs/zh/docs/storage/hwameistor/resources/lvm-nodes.md
  docs/zh/navigation.yml
Labels: zh, storage

#1992 update kpanda download page
  docs/en/docs/download/modules/kpanda.md
  docs/zh/docs/download/modules/kpanda.md
Labels: kpanda, download, zh, en

#1993 mspider: add how to modify sidecar log level
  docs/zh/docs/mspider/images/sidecar-log-level-01.png
  docs/zh/docs/mspider/images/sidecar-log-level-02.png
  docs/zh/docs/mspider/images/sidecar-log-level-03.png
  docs/zh/docs/mspider/images/sidecar-log-level-04.png
  docs/zh/docs/mspider/user-guide/sidecar-management/sidecar-log-level.md
  docs/zh/navigation.yml
Labels: mspider, zh

#1994 download: ghippo version updated to v0.19.0
  docs/zh/docs/download/dce5.md
  docs/zh/docs/download/modules/ghippo.md
Labels: download, zh

#1995 ghippo v0.19.0 release notes
  docs/zh/docs/ghippo/intro/release-notes.md
Labels: ghippo, zh

#1996 add en sidecar-log-level
  docs/en/docs/mspider/images/sidecar-log-level-01.png
  docs/en/docs/mspider/images/sidecar-log-level-02.png
  docs/en/docs/mspider/images/sidecar-log-level-03.png
  docs/en/docs/mspider/images/sidecar-log-level-04.png
  docs/en/docs/mspider/user-guide/sidecar-management/sidecar-log-level.md
  docs/en/navigation.yml
  docs/zh/docs/mspider/user-guide/sidecar-management/sidecar-log-level.md
Labels: mspider, zh, en

#1997 rn(mspider): update release note
  docs/zh/docs/mspider/intro/release-notes.md
Labels: mspider, zh

#1998 update en release notes for ghippo and mspider
  docs/en/docs/ghippo/intro/release-notes.md
  docs/en/docs/mspider/intro/release-notes.md
  docs/zh/docs/mspider/intro/release-notes.md
Labels: mspider, ghippo, zh, en

#2000 add use insecure_registries doc
  docs/zh/docs/kangaroo/quickstart/insecure_registries.md
Labels: zh, kangaroo

#2001 video: add amamba scenario-based gitops
  docs/zh/docs/videos/images/gitops.png
  docs/zh/docs/videos/use-cases.md
Labels: zh, videos

#2002 add en insecure-regisry to kangaroo
  docs/en/docs/kangaroo/quickstart/insecure_registry.md
  docs/en/navigation.yml
  docs/zh/docs/kangaroo/quickstart/insecure_registries.md
  docs/zh/docs/kangaroo/quickstart/insecure_registry.md
  docs/zh/navigation.yml
Labels: zh, en, kangaroo

#2003 kairship: update navigation.yml
  docs/zh/navigation.yml
Labels: zh

#2005 video: add oem-in video
  docs/zh/docs/videos/images/oem-in.png
  docs/zh/docs/videos/use-cases.md
Labels: zh, videos

#2004 update a best practice for redis data sync
  docs/zh/docs/middleware/redis/best-practice/disaster-tolerance.md
  docs/zh/docs/middleware/redis/images/tole00.png
  docs/zh/docs/middleware/redis/images/tole01.jpg
  docs/zh/docs/middleware/redis/images/tole02.jpg
  docs/zh/docs/middleware/redis/images/tole03.png
  docs/zh/docs/middleware/redis/images/tole04.png
  docs/zh/docs/middleware/redis/images/tole05.png
  docs/zh/navigation.yml
Labels: midware, zh

#2007 update nevigation
  docs/zh/navigation.yml
Labels: zh

#2006 update native (7.24-7.30)
  docs/en/docs/native/commerce.md
  docs/en/docs/native/news/news-2022.md
  docs/en/docs/native/news/news-2023.md
  docs/en/docs/native/open.md
  docs/en/navigation.yml
  docs/zh/docs/native/commerce.md
  docs/zh/docs/native/news/news-2023.md
  docs/zh/docs/native/open.md
Labels: zh, en, native

#2008 add harbor migration docs
  docs/zh/docs/kangaroo/managed/harbor-migration.md
  docs/zh/navigation.yml
Labels: zh, kangaroo

#2009 update the latest installer version and avoid ambiguity
  docs/en/docs/install/commercial/prepare.md
  docs/en/docs/install/install-tools.md
  docs/zh/docs/install/commercial/prepare.md
  docs/zh/docs/install/install-tools.md
Labels: installer, zh, en

#2011 update release-notes.md
  docs/zh/docs/kairship/intro/release-notes.md
Labels: kairship, zh

#2010 add en harbor-migration
  docs/en/docs/kangaroo/managed/harbor-migration.md
  docs/en/navigation.yml
  docs/zh/docs/kangaroo/managed/harbor-migration.md
Labels: zh, en, kangaroo

#2012 标准版升级白金版
  docs/zh/docs/install/commercial/external/external-middlewares.md
  docs/zh/docs/install/commercial/images/succeed01.png
  docs/zh/docs/install/evolve.md
  docs/zh/docs/install/upgrade.md
  docs/zh/navigation.yml
Labels: installer, zh

#2013 update release-notes to 0.26.1
  docs/zh/docs/skoala/intro/release-notes.md
Labels: skoala, zh

#2014 remove sensitive info from redis DR solution
  docs/en/docs/middleware/redis/best-practice/disaster-tolerance.md
  docs/en/navigation.yml
  docs/zh/docs/middleware/redis/best-practice/disaster-tolerance.md
Labels: midware, zh, en

#2016 update codeowners and remove outdated rn5.0
  CODEOWNERS
  docs/zh/docs/release/rn5.0.md
Labels: zh

#2015 add en upgrade from standard to platinum
  docs/en/docs/install/commercial/external/external-middlewares.md
  docs/en/docs/install/evolve.md
  docs/en/docs/install/upgrade.md
  docs/en/navigation.yml
  docs/zh/docs/install/evolve.md
Labels: installer, zh, en

#2017 add gpu driver doc
  docs/zh/docs/kpanda/user-guide/gpu/driver.md
  docs/zh/docs/kpanda/user-guide/gpu/image-1.png
  docs/zh/docs/kpanda/user-guide/gpu/image-2.png
  docs/zh/docs/kpanda/user-guide/gpu/image.png
  docs/zh/navigation.yml
Labels: kpanda, zh

#2019 update ghippo owner
  CODEOWNERS
Labels: ghippo
