Repository DaoCloud/DaoCloud-docs, pull requests merged in 2023-08, with the labels that each got.

#2022 mcamel: fix issue 1907
  docs/zh/docs/middleware/minio/images/create03.png
  docs/zh/docs/middleware/minio/images/create05.png
  docs/zh/docs/middleware/minio/images/create06.png
  docs/zh/docs/middleware/minio/user-guide/create.md
Labels: midware, zh

#2021 remove dce5-dce5.md and reverse.md
  docs/en/docs/ghippo/oem/dce5-dce5.md
  docs/en/docs/ghippo/oem/oem-in.md
  docs/en/docs/ghippo/oem/oem-out.md
  docs/en/docs/ghippo/oem/reverse.md
  docs/en/docs/ghippo/oem/webhook.md
  docs/en/navigation.yml
  docs/zh/docs/ghippo/oem/dce5-dce5.md
  docs/zh/docs/ghippo/oem/oem-in.md
  docs/zh/docs/ghippo/oem/oem-out.md
  docs/zh/docs/ghippo/oem/reverse.md
  docs/zh/docs/ghippo/oem/webhook.md
  docs/zh/navigation.yml
Labels: ghippo, zh, en

#2023 Update use-cases.md
  docs/zh/docs/videos/use-cases.md
Labels: zh, videos

#2025 update for release note
  docs/zh/docs/middleware/elasticsearch/release-notes.md
  docs/zh/docs/middleware/kafka/release-notes.md
  docs/zh/docs/middleware/minio/release-notes.md
  docs/zh/docs/middleware/mongodb/release-notes.md
  docs/zh/docs/middleware/mysql/release-notes.md
  docs/zh/docs/middleware/postgresql/release-notes.md
  docs/zh/docs/middleware/rabbitmq/release-notes.md
  docs/zh/docs/middleware/redis/release-notes.md
Labels: midware, zh

#2026 update structure in video-home
  docs/zh/docs/videos/amamba.md
  docs/zh/docs/videos/ghippo.md
  docs/zh/docs/videos/insight.md
  docs/zh/docs/videos/kpanda.md
Labels: zh, videos

#2028 update video structure by following product hierachy
  docs/zh/docs/videos/mcamel.md
  docs/zh/docs/videos/skoala.md
Labels: zh, videos

#2032 download: gmagpie version updated to v0.3.2
  docs/zh/docs/download/modules/gmagpie.md
Labels: download, zh

#2034 Update operator.md
  docs/zh/docs/insight/quickstart/otel/operator.md
Labels: insight, zh

#2035 update ghippo workspace en images
  docs/en/docs/blogs/221018-resource.md
  docs/en/docs/ghippo/images/fd03.png
  docs/en/docs/ghippo/images/fd04.png
  docs/en/docs/ghippo/images/quota01.png
  docs/en/docs/ghippo/images/quota02.png
  docs/en/docs/ghippo/images/quota03.png
  docs/en/docs/ghippo/images/quota04.png
  docs/en/docs/ghippo/images/quota05.png
  docs/en/docs/ghippo/images/quota06.png
  docs/en/docs/ghippo/images/quota07.png
  docs/en/docs/ghippo/images/quota08.png
  docs/en/docs/ghippo/images/res-gp01.png
  docs/en/docs/ghippo/images/ws01.png
  docs/en/docs/ghippo/images/ws02.png
  docs/en/docs/ghippo/images/ws03.png
  docs/en/docs/ghippo/images/ws04.png
  docs/en/docs/ghippo/images/wsfd01.png
  docs/en/docs/ghippo/intro/release-notes.md
  docs/en/docs/ghippo/user-guide/access-control/global.md
  docs/en/docs/ghippo/user-guide/workspace/cluster-for-multiws.md
  docs/en/docs/ghippo/user-guide/workspace/folder-permission.md
  docs/en/docs/ghippo/user-guide/workspace/folders.md
  docs/en/docs/ghippo/user-guide/workspace/quota.md
  docs/en/docs/ghippo/user-guide/workspace/res-gp-and-shared-res.md
  docs/en/docs/ghippo/user-guide/workspace/workspace.md
  docs/en/docs/ghippo/user-guide/workspace/ws-folder.md
  docs/en/docs/ghippo/user-guide/workspace/ws-to-ns.md
  docs/en/docs/kairship/instance/workspace.md
  docs/en/docs/kairship/workspace.md
  docs/en/docs/kpanda/intro/faq.md
  docs/en/docs/kpanda/user-guide/namespaces/createns.md
  docs/zh/docs/ghippo/images/res-gp01.png
  docs/zh/docs/ghippo/images/ws01.png
  docs/zh/docs/ghippo/user-guide/workspace/folders.md
  docs/zh/docs/ghippo/user-guide/workspace/res-gp-and-shared-res.md
  docs/zh/docs/ghippo/user-guide/workspace/workspace.md
Labels: kairship, kpanda, ghippo, zh, en, blogs

#1999 update insight v0.19.0 release note
  docs/zh/docs/insight/intro/releasenote.md
Labels: insight, zh

#2039 sync en release notes
  docs/en/docs/insight/intro/releasenote.md
  docs/en/docs/kairship/intro/release-notes.md
  docs/en/docs/middleware/elasticsearch/release-notes.md
  docs/en/docs/middleware/kafka/release-notes.md
  docs/en/docs/middleware/minio/release-notes.md
  docs/en/docs/middleware/mongodb/release-notes.md
  docs/en/docs/middleware/mysql/release-notes.md
  docs/en/docs/middleware/postgresql/release-notes.md
  docs/en/docs/middleware/rabbitmq/release-notes.md
  docs/en/docs/middleware/redis/release-notes.md
  docs/en/docs/skoala/intro/release-notes.md
  docs/zh/docs/insight/intro/releasenote.md
  docs/zh/docs/middleware/postgresql/release-notes.md
  docs/zh/docs/skoala/intro/release-notes.md
Labels: skoala, midware, kairship, insight, zh, en

#2040 update en text from ieee paper
  docs/en/docs/amamba/intro/what.md
  docs/en/docs/ghippo/intro/what.md
  docs/en/docs/insight/intro/what.md
  docs/en/docs/kairship/intro/what.md
  docs/en/docs/kpanda/intro/what.md
  docs/en/docs/mspider/intro/what.md
  docs/en/docs/skoala/intro/what.md
  docs/en/docs/storage/what.md
Labels: mspider, skoala, kairship, insight, kpanda, amamba, ghippo, en, storage

#2041 mspider: fix misspelling
  docs/zh/docs/mspider/intro/release-notes.md
Labels: mspider, zh

#2036 Add-a-harbor-access-practice-to-kangaroo.md
  docs/zh/docs/kangaroo/Best practice/managed-harbor-select-access-type.md
  docs/zh/navigation.yml
Labels: wip, zh, kangaroo

#2042 Polish kangaroo harbor practice
  docs/en/docs/kangaroo/best-practice/insecure_registry.md
  docs/en/docs/kangaroo/best-practice/managed-harbor-select-access-type.md
  docs/en/docs/kangaroo/space/scan.md
  docs/en/docs/kangaroo/upgrade/upgrade.md
  docs/en/navigation.yml
  docs/zh/docs/kangaroo/Best practice/managed-harbor-select-access-type.md
  docs/zh/docs/kangaroo/best-practice/insecure_registry.md
  docs/zh/docs/kangaroo/best-practice/managed-harbor-select-access-type.md
  docs/zh/docs/kangaroo/space/scan.md
  docs/zh/navigation.yml
Labels: zh, en, kangaroo

#2045 add virtnest releasenotes.md
  docs/zh/docs/virtnest/intro/release-notes.md
  docs/zh/navigation.yml
Labels: zh

#2047 update all-in-one install by following trial channel
  docs/zh/docs/install/community/k8s/offline.md
  docs/zh/docs/install/community/k8s/online.md
  docs/zh/docs/install/community/kind/online.md
  docs/zh/navigation.yml
Labels: installer, zh

#2048 fix layout and text in download pages
  docs/en/docs/download/addon/.template.md
  docs/en/docs/download/addon/v0.5.2.md
  docs/en/docs/download/addon/v0.6.0.md
  docs/en/docs/download/addon/v0.9.0.md
  docs/en/docs/download/business/dce5-installer-v0.3.27.md
  docs/en/docs/download/business/dce5-installer-v0.3.28.md
  docs/en/docs/download/business/dce5-installer-v0.3.29.md
  docs/en/docs/download/business/dce5-installer-v0.3.30.md
  docs/en/docs/download/business/dce5-installer-v0.4.0-rc2.md
  docs/en/docs/download/business/dce5-installer-v0.4.0.md
  docs/en/docs/download/business/dce5-installer-v0.5.0.md
  docs/en/docs/download/business/dce5-installer-v0.6.0.md
  docs/en/docs/download/business/dce5-installer-v0.6.1.md
  docs/en/docs/download/business/dce5-installer-v0.7.0.md
  docs/en/docs/download/business/dce5-installer-v0.9.0.md
  docs/en/docs/download/free/dce5-installer-v0.3.27.md
  docs/en/docs/download/free/dce5-installer-v0.3.28.md
  docs/en/docs/download/free/dce5-installer-v0.3.29.md
  docs/en/docs/download/free/dce5-installer-v0.3.30.md
  docs/en/docs/download/free/dce5-installer-v0.4.0-rc2.md
  docs/en/docs/download/free/dce5-installer-v0.4.0.md
  docs/en/docs/download/free/dce5-installer-v0.5.0.md
  docs/en/docs/download/free/dce5-installer-v0.6.0.md
  docs/en/docs/download/free/dce5-installer-v0.6.1.md
  docs/en/docs/download/free/dce5-installer-v0.7.0.md
  docs/en/docs/download/free/dce5-installer-v0.9.0.md
  docs/en/docs/download/modules/ghippo.md
  docs/en/docs/download/modules/gmagpie.md
  docs/en/docs/download/modules/insight.md
  docs/en/docs/download/modules/spidernet.md
  docs/zh/docs/download/modules/ghippo.md
  docs/zh/docs/download/modules/gmagpie.md
  docs/zh/docs/download/modules/spidernet.md
Labels: download, zh, en

#2049 update native (7.31-8.6)
  docs/en/docs/native/commerce.md
  docs/en/docs/native/news/news-2023.md
  docs/en/docs/native/open.md
  docs/zh/docs/native/commerce.md
  docs/zh/docs/native/news/news-2023.md
  docs/zh/docs/native/open.md
Labels: zh, en, native

#2038 【wip】kpanda: update best-practice/backup-mysql-on-nfs.md
  docs/zh/docs/kpanda/best-practice/backup-mysql-on-nfs.md
  docs/zh/docs/kpanda/best-practice/etcd-backup.md
  docs/zh/docs/kpanda/images/mysql05.png
  docs/zh/docs/kpanda/images/mysql07.png
  docs/zh/docs/kpanda/user-guide/backup/deployment.md
  docs/zh/docs/kpanda/user-guide/backup/etcd-backup.md
  docs/zh/docs/kpanda/user-guide/backup/intro.md
  docs/zh/docs/kpanda/user-guide/inspect/intro.md
  docs/zh/navigation.yml
Labels: kpanda, zh

#2050 update kpanda release Note
  docs/zh/docs/kpanda/intro/release-notes.md
  docs/zh/navigation.yml
Labels: kpanda, zh

#2051 Fix the issue with the document's ending suffix '/'.
  docs/en/mkdocs.yml
  docs/zh/mkdocs.yml
Labels: zh, en, python

#2044 update rn
  docs/zh/docs/amamba/intro/release-notes.md
  docs/zh/docs/install/commercial/deploy-requirements.md
  docs/zh/docs/install/commercial/start-install.md
  docs/zh/docs/install/community/k8s/offline.md
  docs/zh/docs/install/community/k8s/online.md
  docs/zh/docs/install/community/kind/online.md
  docs/zh/docs/install/k8s-install/ocp-install-dce5.0.md
  docs/zh/docs/install/os-install/oracleLinux-install-dce5.0.md
  docs/zh/docs/install/release-notes.md
Labels: amamba, installer, zh

#2055 update vv0.10.0 to v0.10.0
  docs/zh/docs/install/commercial/start-install.md
  docs/zh/docs/install/k8s-install/ocp-install-dce5.0.md
Labels: installer, zh

#2056 add kangaroo 0.10 relese note
  docs/zh/docs/kangaroo/release-notes.md
Labels: zh, kangaroo

#2057 updated releasenNote
  docs/zh/docs/middleware/postgresql/release-notes.md
  docs/zh/docs/middleware/rabbitmq/release-notes.md
  docs/zh/docs/middleware/redis/release-notes.md
Labels: midware, zh

#2058 fix links
  docs/zh/docs/install/index.md
  docs/zh/docs/mspider/images/diagnose01.png
  docs/zh/docs/mspider/images/diagnose02.png
  docs/zh/docs/mspider/user-guide/service-list/diagnose.md
  docs/zh/docs/skoala/tests/gateway-stress-test.md
  docs/zh/docs/skoala/tests/nacos-stress-test.md
Labels: mspider, skoala, installer, zh

#2059 sync all release notes
  docs/en/docs/amamba/intro/release-notes.md
  docs/en/docs/install/commercial/deploy-requirements.md
  docs/en/docs/install/commercial/start-install.md
  docs/en/docs/install/community/k8s/offline.md
  docs/en/docs/install/community/k8s/online.md
  docs/en/docs/install/community/kind/online.md
  docs/en/docs/install/k8s-install/ocp-install-dce5.0.md
  docs/en/docs/install/os-install/oracleLinux-install-dce5.0.md
  docs/en/docs/install/release-notes.md
  docs/en/docs/kangaroo/release-notes.md
  docs/en/docs/middleware/postgresql/release-notes.md
  docs/en/docs/middleware/rabbitmq/release-notes.md
  docs/en/docs/middleware/redis/release-notes.md
  docs/en/docs/skoala/intro/release-notes.md
  docs/en/docs/videos/index.md
  docs/zh/docs/install/community/k8s/offline.md
  docs/zh/docs/install/import.md
  docs/zh/docs/skoala/intro/release-notes.md
Labels: skoala, midware, amamba, installer, zh, en, videos, kangaroo

#2060 update download insight to v0.19.1
  docs/en/docs/download/index.md
  docs/en/docs/download/modules/insight.md
  docs/zh/docs/download/index.md
  docs/zh/docs/download/modules/insight.md
Labels: download, zh, en

#2061 add ipavo to homepage
  docs/en/docs/dce/images/ipavo.png
  docs/en/docs/dce/index.md
  docs/zh/docs/dce/images/ipavo.png
  docs/zh/docs/dce/index.md
Labels: zh, en, dce

#2062 kpanda: update en docs and fix issues
  docs/en/docs/kpanda/images/cluster-access01.png
  docs/en/docs/kpanda/images/cluster-access02.png
  docs/en/docs/kpanda/images/cluster-access03.png
  docs/en/docs/kpanda/images/cluster-delete01.png
  docs/en/docs/kpanda/images/cluster-delete02.png
  docs/en/docs/kpanda/images/cluster-integrate01.png
  docs/en/docs/kpanda/images/cluster-integrate02.png
  docs/en/docs/kpanda/images/cluster-integrate03.png
  docs/en/docs/kpanda/user-guide/clusters/access-cluster.md
  docs/en/docs/kpanda/user-guide/clusters/cluster-role.md
  docs/en/docs/kpanda/user-guide/clusters/cluster-status.md
  docs/en/docs/kpanda/user-guide/clusters/delete-cluster.md
  docs/en/docs/kpanda/user-guide/clusters/integrate-cluster.md
  docs/en/docs/kpanda/user-guide/workloads/create-daemonset.md
  docs/zh/docs/kpanda/user-guide/clusters/access-cluster.md
  docs/zh/docs/kpanda/user-guide/clusters/delete-cluster.md
  docs/zh/docs/kpanda/user-guide/inspect/intro.md
Labels: kpanda, zh, en

#2064 add a blog: k8sgpt empowers k8s
  docs/en/docs/blogs/230808-k8sgpt.md
  docs/en/docs/blogs/images/k8sgpt01.png
  docs/en/docs/blogs/images/k8sgpt02.jpeg
  docs/en/docs/blogs/index.md
  docs/en/navigation.yml
Labels: en, blogs

#2065 add zh blog: k8sgpt empowers k8s
  docs/zh/docs/blogs/230808-k8sgpt.md
  docs/zh/docs/blogs/images/k8sgpt01.png
  docs/zh/docs/blogs/images/k8sgpt02.jpeg
  docs/zh/docs/blogs/index.md
  docs/zh/navigation.yml
Labels: zh, blogs

#2066 update spiderpool release notes
  docs/zh/docs/network/intro/releasenotes.md
Labels: zh, network

#2068 fix issues of k8sgpt blog
  docs/en/docs/blogs/230808-k8sgpt.md
  docs/zh/docs/blogs/230808-k8sgpt.md
  docs/zh/navigation.yml
Labels: zh, en, blogs

#2069 Kpanda: update and add en docs
  docs/en/docs/kpanda/images/cluster-create01.png
  docs/en/docs/kpanda/images/cluster-create02.png
  docs/en/docs/kpanda/images/cluster-create03.png
  docs/en/docs/kpanda/user-guide/clusters/cluster-version.md
  docs/en/docs/kpanda/user-guide/clusters/create-cluster.md
  docs/en/navigation.yml
  docs/zh/docs/kpanda/images/createnew01.png
  docs/zh/docs/kpanda/user-guide/clusters/cluster-version.md
  docs/zh/docs/kpanda/user-guide/clusters/create-cluster.md
  docs/zh/navigation.yml
Labels: kpanda, zh, en

#2070 add one-click repair to mspider
  docs/en/docs/mspider/user-guide/images/diagnose01.png
  docs/en/docs/mspider/user-guide/images/diagnose02.png
  docs/en/docs/mspider/user-guide/images/diagnose03.png
  docs/en/docs/mspider/user-guide/images/diagnose04.png
  docs/en/docs/mspider/user-guide/service-list/diagnose.md
  docs/en/navigation.yml
  docs/zh/docs/blogs/230808-k8sgpt.md
  docs/zh/docs/mspider/images/diagnose01.png
  docs/zh/docs/mspider/images/diagnose02.png
  docs/zh/docs/mspider/user-guide/images/diagnose01.png
  docs/zh/docs/mspider/user-guide/images/diagnose02.png
  docs/zh/docs/mspider/user-guide/images/diagnose03.png
  docs/zh/docs/mspider/user-guide/images/diagnose04.png
  docs/zh/docs/mspider/user-guide/service-list/diagnose.md
  docs/zh/navigation.yml
Labels: mspider, zh, en, blogs

#2071 add dce-5.0 20230731 release notes
  docs/zh/docs/dce/dce-rn/20230531.md
  docs/zh/docs/dce/dce-rn/20230630.md
  docs/zh/docs/dce/dce-rn/20230731.md
  docs/zh/docs/download/business/.dce5-installer-template.md
  docs/zh/docs/download/business/dce5-installer-v0.3.27.md
  docs/zh/docs/download/business/dce5-installer-v0.8.0.md
  docs/zh/docs/download/business/dce5-installer-v0.9.0.md
  docs/zh/docs/download/free/dce5-installer-v0.3.27.md
  docs/zh/docs/download/modules/gmagpie.md
  docs/zh/navigation.yml
Labels: download, zh, dce

#2073 skoala: update sentinel flow-control.md
  docs/en/docs/skoala/trad-ms/hosted/configs.md
  docs/en/docs/skoala/trad-ms/hosted/services/check-details.md
  docs/en/docs/skoala/trad-ms/hosted/services/flow-control.md
  docs/en/docs/skoala/trad-ms/hosted/services/governance-policy.md
  docs/en/docs/skoala/trad-ms/hosted/services/intro.md
  docs/en/docs/videos/skoala.md
  docs/en/navigation.yml
  docs/zh/docs/skoala/images/gov00.png
  docs/zh/docs/skoala/images/gov01.png
  docs/zh/docs/skoala/images/gov02.png
  docs/zh/docs/skoala/images/gov03.png
  docs/zh/docs/skoala/trad-ms/hosted/configs.md
  docs/zh/docs/skoala/trad-ms/hosted/servicelist/flow-control.md
  docs/zh/docs/skoala/trad-ms/hosted/services/check-details.md
  docs/zh/docs/skoala/trad-ms/hosted/services/flow-control.md
  docs/zh/docs/skoala/trad-ms/hosted/services/governance-policy.md
  docs/zh/docs/skoala/trad-ms/hosted/services/intro.md
  docs/zh/docs/videos/skoala.md
  docs/zh/navigation.yml
Labels: skoala, zh, en, videos

#2072 add en release notes: 20230731
  docs/en/docs/dce/dce-rn/20230531.md
  docs/en/docs/dce/dce-rn/20230630.md
  docs/en/docs/dce/dce-rn/20230731.md
  docs/en/docs/download/business/dce5-installer-v0.9.0.md
  docs/en/docs/download/modules/gmagpie.md
  docs/en/docs/network/intro/releasenotes.md
  docs/en/navigation.yml
  docs/zh/docs/network/intro/releasenotes.md
Labels: download, zh, en, network, dce

#2074 add green and red to be consistent with ui
  docs/en/docs/mspider/user-guide/service-list/diagnose.md
  docs/zh/docs/mspider/user-guide/service-list/diagnose.md
Labels: mspider, zh, en

#2077 update download pages
  docs/en/docs/download/addon/v0.9.0.md
  docs/en/docs/download/business/dce5-installer-v0.9.0.md
  docs/en/docs/download/free/dce5-installer-v0.9.0.md
  docs/en/docs/download/index.md
  docs/en/docs/download/modules/ghippo.md
  docs/en/docs/download/modules/gmagpie.md
  docs/en/docs/download/modules/insight.md
  docs/en/docs/download/modules/kcollie.md
  docs/en/docs/download/modules/kcoral.md
  docs/en/docs/download/modules/kpanda.md
  docs/en/docs/download/modules/spidernet.md
  docs/zh/docs/download/addon/v0.9.0.md
  docs/zh/docs/download/business/dce5-installer-v0.9.0.md
  docs/zh/docs/download/free/dce5-installer-v0.9.0.md
  docs/zh/docs/download/index.md
  docs/zh/docs/download/modules/ghippo.md
  docs/zh/docs/download/modules/gmagpie.md
  docs/zh/docs/download/modules/insight.md
  docs/zh/docs/download/modules/kcollie.md
  docs/zh/docs/download/modules/kcoral.md
  docs/zh/docs/download/modules/kpanda.md
  docs/zh/docs/download/modules/spidernet.md
Labels: download, zh, en

#2076 add en cilium-speedup
  docs/en/docs/network/images/cilium-cross1.png
  docs/en/docs/network/images/cilium-cross10.png
  docs/en/docs/network/images/cilium-cross2.png
  docs/en/docs/network/images/cilium-cross3.png
  docs/en/docs/network/images/cilium-cross4.png
  docs/en/docs/network/images/cilium-cross5.png
  docs/en/docs/network/images/cilium-cross9.png
  docs/en/docs/network/images/network-cross-cluster7.png
  docs/en/docs/network/images/network-cross-cluster8.png
  docs/en/docs/network/modules/cilium/cilium-speedup.md
  docs/en/navigation.yml
  docs/zh/docs/network/modules/cilium/cilium-speedup.md
  docs/zh/docs/network/modules/cilium/crosscluster-com.md
Labels: zh, en, network

#2080 add en cilium reports
  docs/en/docs/network/images/cilium-cross-env.png
  docs/en/docs/network/images/cilium-cross-target.png
  docs/en/docs/network/images/cilium-ebpf-latency.png
  docs/en/docs/network/images/cilium-ebpf-tps.png
  docs/en/docs/network/images/cilium-multistream01.png
  docs/en/docs/network/images/cilium-multistream02.png
  docs/en/docs/network/images/cilium-nodeport01.png
  docs/en/docs/network/images/cilium-nodeport02.png
  docs/en/docs/network/images/cilium-singlestream01.png
  docs/en/docs/network/images/cilium-singlestream02.png
  docs/en/docs/network/images/cilium-tcprr01.png
  docs/en/docs/network/images/cilium-tcprr02.png
  docs/en/docs/network/images/cilium-tcprr03.png
  docs/en/docs/network/images/cilium-tcprr04.png
  docs/en/docs/network/performance/cilium-performance/cilium-bandwidth.md
  docs/en/docs/network/performance/cilium-performance/cilium-crossnode.md
  docs/en/docs/network/performance/cilium-performance/cilium-nodeport.md
  docs/en/navigation.yml
  docs/zh/docs/network/performance/cilium-performance/cilium-nodeport.md
Labels: zh, en, network

#2081 update mermaid in the mspider index
  docs/en/docs/mspider/intro/index.md
  docs/zh/docs/mspider/intro/index.md
Labels: mspider, zh, en

#2082 add en network test reports
  docs/en/docs/network/images/cilium-service.png
  docs/en/docs/network/images/ebpf-cpu.png
  docs/en/docs/network/images/ebpf-latency.png
  docs/en/docs/network/images/ebpf-throughput.png
  docs/en/docs/network/performance/cilium-performance/cilium-service.md
  docs/en/docs/network/performance/ebpf-performance.md
  docs/en/navigation.yml
Labels: en, network

#2085 skoala: add sentinel flow control video
  docs/zh/docs/videos/images/skoala-flow-control.png
  docs/zh/docs/videos/skoala.md
Labels: zh, videos

#2086 Update destination-rules.md
  docs/zh/docs/mspider/user-guide/traffic-governance/destination-rules.md
Labels: mspider, zh

#2087 add en destination rule page
  docs/en/docs/mspider/user-guide/images/destirule01.png
  docs/en/docs/mspider/user-guide/images/destirule02.png
  docs/en/docs/mspider/user-guide/images/destirule03.png
  docs/en/docs/mspider/user-guide/images/destirule04.png
  docs/en/docs/mspider/user-guide/images/destirule05.png
  docs/en/docs/mspider/user-guide/images/destirule07.png
  docs/en/docs/mspider/user-guide/traffic-governance/destination-rules.md
  docs/zh/docs/mspider/user-guide/traffic-governance/destination-rules.md
Labels: mspider, zh, en

#2089 Fix links mentioned in issue #2083
  docs/zh/docs/download/modules/insight.md
  docs/zh/docs/download/modules/kcollie.md
  docs/zh/docs/download/modules/kcoral.md
  docs/zh/docs/kangaroo/images/create-mesh02.png
  docs/zh/docs/kangaroo/images/space01.png
  docs/zh/docs/kangaroo/images/space02.png
  docs/zh/docs/mspider/user-guide/mesh-config/component-hpa.md
  docs/zh/docs/storage/solutions/ceph-dashboard.md
Labels: mspider, download, zh, kangaroo, storage

#2090 Update prepare.md
  docs/zh/docs/install/commercial/prepare.md
Labels: installer, zh

#2093 fix zh links for network
  docs/zh/docs/network/performance/cni-performance.md
Labels: zh, network

#2092 update installer
  docs/zh/docs/install/install-tools.md
  docs/zh/docs/install/release-notes.md
Labels: installer, zh

#2095 Sync Chinese update to En version
  docs/en/docs/skoala/quickstart/online-upgrade.md
Labels: skoala, en

#2094 Remove sweet related steps for upgrading
  docs/zh/docs/skoala/quickstart/online-upgrade.md
Labels: skoala, zh

#2097 Skoala: add docs about sentinel rules
  docs/en/docs/kpanda/user-guide/clusters/integrate-cluster.md
  docs/en/docs/kpanda/user-guide/clusters/upgrade-cluster.md
  docs/en/navigation.yml
  docs/zh/docs/kpanda/user-guide/clusters/create-cluster.md
  docs/zh/docs/skoala/images/gov04.png
  docs/zh/docs/skoala/images/gov05.png
  docs/zh/docs/skoala/images/gov06.png
  docs/zh/docs/skoala/images/gov07.png
  docs/zh/docs/skoala/images/gov08.png
  docs/zh/docs/skoala/images/gov09.png
  docs/zh/docs/skoala/images/gov10.png
  docs/zh/docs/skoala/images/gov11.png
  docs/zh/docs/skoala/images/gov12.png
  docs/zh/docs/skoala/images/gov13.png
  docs/zh/docs/skoala/images/gov14.png
  docs/zh/docs/skoala/images/gov15.png
  docs/zh/docs/skoala/images/gov16.png
  docs/zh/docs/skoala/images/gov17.png
  docs/zh/docs/skoala/images/gov18.png
  docs/zh/docs/skoala/images/gov19.png
  docs/zh/docs/skoala/trad-ms/hosted/services/auth.md
  docs/zh/docs/skoala/trad-ms/hosted/services/circuit-breaker.md
  docs/zh/docs/skoala/trad-ms/hosted/services/cluster-flow.md
  docs/zh/docs/skoala/trad-ms/hosted/services/flow-control.md
  docs/zh/docs/skoala/trad-ms/hosted/services/hotspot.md
  docs/zh/docs/skoala/trad-ms/hosted/services/system.md
  docs/zh/navigation.yml
Labels: skoala, kpanda, zh, en

#2103 update zh nav
  docs/zh/docs/middleware/images/mongo-logs01.png
  docs/zh/docs/middleware/images/mongo-logs02.png
  docs/zh/docs/middleware/mongodb/user-guide/logs.md
  docs/zh/navigation.yml
Labels: midware, zh

#2101 update migrate.md for rabbitmq
  docs/zh/docs/middleware/rabbitmq/images/migrate09.png
  docs/zh/docs/middleware/rabbitmq/images/migrate10.png
  docs/zh/docs/middleware/rabbitmq/images/migrate11.png
  docs/zh/docs/middleware/rabbitmq/images/migrate12.png
  docs/zh/docs/middleware/rabbitmq/user-guide/migrate.md
Labels: midware, zh

#2104 Fix en links of batch 3
  docs/en/docs/amamba/quickstart/deploy-pipeline.md
  docs/en/docs/amamba/user-guide/pipelines/create/template.md
  docs/en/docs/amamba/user-guide/pipelines/template/info.md
  docs/en/docs/community/mirror.md
  docs/en/docs/dce/terms.md
  docs/en/docs/ghippo/install/offline-install.md
  docs/en/docs/insight/quickstart/install/offline-install.md
  docs/en/docs/install/commercial/cluster-config.md
  docs/en/docs/install/commercial/external/external-imageandchart.md
  docs/en/docs/install/commercial/images/Network-Topology-draw.io.xml
  docs/en/docs/install/commercial/images/succeed01.png
  docs/en/docs/install/commercial/manifest.md
  docs/en/docs/install/commercial/prepare.md
  docs/en/docs/install/evolve.md
  docs/en/docs/install/index.md
  docs/en/docs/install/os-install/oracleLinux-install-dce5.0.md
  docs/en/docs/kangaroo/images/inte-ws01.png
  docs/en/docs/kangaroo/images/inte-ws02.png
  docs/en/docs/kangaroo/images/integrated01.png
  docs/en/docs/kangaroo/images/integrated02.png
  docs/en/docs/kangaroo/images/interg05.png
  docs/en/docs/kangaroo/images/space02.png
  docs/en/docs/kangaroo/integrate/bind-to-ws.md
  docs/en/docs/kangaroo/integrate/integrate-admin.md
  docs/en/docs/kangaroo/integrate/integrate-ws.md
  docs/en/docs/kangaroo/managed/harbor-migration.md
  docs/en/docs/kangaroo/managed/operator.md
  docs/en/docs/kangaroo/release-notes.md
  docs/en/docs/kangaroo/space/reclaim.md
  docs/en/docs/kangaroo/upgrade/upgrade.md
  docs/en/docs/kant/intro/features.md
  docs/en/docs/kpanda/intro/concepts.md
  docs/en/docs/kpanda/intro/release-notes.md
  docs/en/docs/mspider/intro/comp-archi-ui/namespaces.md
  docs/en/docs/mspider/user-guide/multicluster/multicluster-install.md
  docs/en/docs/mspider/user-guide/service-list/diagnose.md
  docs/en/docs/mspider/user-guide/service-mesh/README.md
  docs/en/docs/mspider/user-guide/service-mesh/external-mesh.md
  docs/en/docs/native/open.md
  docs/en/docs/network/modules/contour/install.md
  docs/en/docs/network/modules/ingress-nginx/install.md
  docs/en/docs/storage/hwameistor/img/architecture.png
  docs/en/docs/storage/hwameistor/intro/index.md
  docs/en/docs/storage/hwameistor/intro/ls.md
  docs/en/docs/storage/hwameistor/intro/scheduler.md
  docs/en/docs/storage/solutions/openebs.md
  docs/zh/docs/kangaroo/images/integrated01.png
  docs/zh/docs/kangaroo/integrate/bind-to-ws.md
  docs/zh/docs/kangaroo/integrate/integrate-admin.md
  docs/zh/docs/kangaroo/managed/operator.md
  docs/zh/docs/network/modules/spiderpool/install.md
  docs/zh/docs/skoala/standard/sentinel.md
Labels: mspider, skoala, insight, kpanda, amamba, ghippo, installer, zh, en, native, kangaroo, network, dce, storage, eco, kant

#2106 add jfrog to kangaroo
  docs/en/docs/amamba/user-guide/pipelines/install-jenkins.md
  docs/en/docs/amamba/user-guide/wizard/create-app-git.md
  docs/en/docs/amamba/user-guide/wizard/helm.md
  docs/en/docs/amamba/user-guide/wizard/jar-java-app.md
  docs/en/docs/kangaroo/images/errors.png
  docs/en/docs/kangaroo/images/operator01.png
  docs/en/docs/kangaroo/images/operator02.png
  docs/en/docs/kangaroo/images/operator03.png
  docs/en/docs/kangaroo/images/operator04.png
  docs/en/docs/kangaroo/integrate/integrate-ws.md
  docs/en/docs/kangaroo/managed/harbor.md
  docs/en/docs/kangaroo/managed/operator.md
  docs/en/docs/mspider/user-guide/multicluster/multicluster-install.md
  docs/en/docs/storage/hwameistor/releasenotes.md
  docs/en/navigation.yml
  docs/zh/docs/kangaroo/integrate/integrate-ws.md
  docs/zh/docs/kangaroo/managed/harbor.md
  docs/zh/docs/kangaroo/managed/operator.md
  docs/zh/docs/storage/solutions/openebs.md
Labels: mspider, amamba, zh, en, kangaroo, storage

#2105 link: fix zh link errors
  docs/en/docs/kpanda/user-guide/security/audit.md
  docs/en/docs/kpanda/user-guide/security/cis/config.md
  docs/en/docs/kpanda/user-guide/security/cis/policy.md
  docs/en/docs/kpanda/user-guide/security/cis/report.md
  docs/en/docs/kpanda/user-guide/security/hunter.md
  docs/en/docs/mspider/user-guide/service-mesh/README.md
  docs/zh/docs/kairship/images/deploy12.png
  docs/zh/docs/kpanda/user-guide/security/cis/config.md
  docs/zh/docs/kpanda/user-guide/security/cis/policy.md
  docs/zh/docs/kpanda/user-guide/security/hunter.md
  docs/zh/docs/middleware/mongodb/user-guide/logs.md
  docs/zh/docs/mspider/user-guide/service-mesh/README.md
  docs/zh/docs/skoala/best-practice/gateway01.md
  docs/zh/docs/videos/kairship.md
  docs/zh/mkdocs.yml
Labels: mspider, skoala, midware, kairship, kpanda, zh, en, videos

#2107 link: fix en links
  docs/en/docs/blogs/230315-install-on-linux.md
  docs/en/docs/install/community/k8s/online.md
  docs/en/docs/kairship/instance/add.md
  docs/en/docs/kpanda/best-practice/backup-mysql-on-nfs.md
  docs/en/docs/kpanda/user-guide/security/audit.md
  docs/en/docs/kpanda/user-guide/security/cis/policy.md
  docs/en/docs/kpanda/user-guide/security/hunter.md
  docs/en/docs/middleware/redis/best-practice/disaster-tolerance.md
  docs/en/docs/middleware/redis/images/tole00.png
  docs/en/docs/native/news/news-2022.md
  docs/en/docs/native/news/news-2023.md
  docs/en/docs/skoala/gateway/logs/inslog.md
  docs/en/docs/skoala/standard/nacos.md
  docs/en/docs/skoala/standard/sentinel.md
  docs/en/docs/skoala/tests/nacos-stress-test.md
  docs/en/docs/skoala/trad-ms/hosted/monitor/components.md
  docs/en/docs/skoala/trad-ms/integrated/integrate-registry.md
  docs/en/docs/storage/hwameistor/application/tidb.md
  docs/en/docs/videos/amamba.md
  docs/en/mkdocs.yml
Labels: skoala, midware, kairship, kpanda, installer, en, blogs, videos, native, storage

#2108 add intro to virtnest
  docs/zh/docs/virtnest/intro/index.md
  docs/zh/navigation.yml
Labels: zh

#2110 update the channel name of free trial
  docs/en/navigation.yml
  docs/zh/navigation.yml
Labels: zh, en

#2111 修改clusterConfig.yaml文件名错误
  docs/zh/docs/install/upgrade.md
Labels: installer, zh

#2112 fix clusterConfig.yaml in en version
  docs/en/docs/install/upgrade.md
Labels: installer, en

#2113 update native (8.7-8.13)
  docs/en/docs/native/commerce.md
  docs/en/docs/native/news/news-2023.md
  docs/en/docs/native/open.md
  docs/zh/docs/native/commerce.md
  docs/zh/docs/native/news/news-2023.md
  docs/zh/docs/native/open.md
Labels: zh, en, native

#2115 update offline trivy scann doc
  docs/zh/docs/kangaroo/faq.md
  docs/zh/docs/kangaroo/images/edit-harborcluster.png
  docs/zh/docs/kangaroo/images/upload-trivy-db.png
  docs/zh/docs/kangaroo/images/upload-trivy-offline-db.png
  docs/zh/docs/kangaroo/quickstart/trivy-offline.md
  docs/zh/navigation.yml
Labels: zh, kangaroo

#2117 mspider support custom workloads
  docs/zh/docs/mspider/best-practice/use-custom-workloads.md
  docs/zh/docs/mspider/images/custom-workloads-01.png
  docs/zh/docs/mspider/images/custom-workloads-02.png
Labels: mspider, zh

#2116 add en offline scan
  docs/en/docs/kangaroo/faq.md
  docs/en/docs/kangaroo/quickstart/trivy-offline.md
  docs/en/navigation.yml
  docs/zh/docs/kangaroo/quickstart/trivy-offline.md
Labels: zh, en, kangaroo

#2118 add en custom workloads to mspider
  docs/en/docs/mspider/best-practice/use-custom-workloads.md
  docs/en/navigation.yml
  docs/zh/docs/mspider/best-practice/use-custom-workloads.md
  docs/zh/navigation.yml
Labels: mspider, zh, en

#2119 update role
  docs/en/navigation.yml
  docs/zh/docs/ghippo/user-guide/access-control/role.md
  docs/zh/navigation.yml
Labels: ghippo, zh, en

#2121 update zh role in ghippo
  docs/zh/docs/ghippo/images/newrole01.png
  docs/zh/docs/ghippo/images/newrole02.png
  docs/zh/docs/ghippo/images/newrole03.png
  docs/zh/docs/ghippo/images/newrole04.png
  docs/zh/docs/ghippo/images/newrole05.png
  docs/zh/docs/ghippo/images/newrole06.png
  docs/zh/docs/ghippo/images/newrole07.png
  docs/zh/docs/ghippo/images/newrole08.png
  docs/zh/docs/ghippo/images/newrole09.png
  docs/zh/docs/ghippo/images/newrole10.png
  docs/zh/docs/ghippo/images/newrole11.png
  docs/zh/docs/ghippo/user-guide/access-control/role.md
Labels: ghippo, zh

#2123 Update istio update docs.
  docs/zh/docs/mspider/install/istio-update.md
Labels: mspider, zh

#2122 update en role in ghippo
  docs/en/docs/ghippo/images/newrole01.png
  docs/en/docs/ghippo/images/newrole02.png
  docs/en/docs/ghippo/images/newrole03.png
  docs/en/docs/ghippo/images/newrole04.png
  docs/en/docs/ghippo/images/newrole05.png
  docs/en/docs/ghippo/images/newrole06.png
  docs/en/docs/ghippo/images/newrole07.png
  docs/en/docs/ghippo/images/newrole08.png
  docs/en/docs/ghippo/images/newrole09.png
  docs/en/docs/ghippo/images/newrole10.png
  docs/en/docs/ghippo/images/newrole11.png
  docs/en/docs/ghippo/user-guide/access-control/role.md
Labels: ghippo, en

#2124 update error
  docs/zh/docs/amamba/intro/release-notes.md
  docs/zh/navigation.yml
Labels: amamba, zh

#2125 update en istio-update and oracle os-install
  docs/en/docs/amamba/intro/release-notes.md
  docs/en/docs/install/os-install/oracleLinux-install-dce5.0.md
  docs/en/docs/mspider/install/istio-update.md
  docs/en/navigation.yml
  docs/zh/docs/mspider/install/istio-update.md
Labels: mspider, amamba, installer, zh, en

#2127 Update online.md, need review
  docs/zh/docs/install/community/kind/online.md
Labels: installer, zh

#2126 Update install-tools.md
  docs/zh/docs/install/install-tools.md
Labels: installer, zh

#2129 fix video cover and add a mspider vide
  docs/en/docs/videos/amamba.md
  docs/en/docs/videos/ghippo.md
  docs/en/docs/videos/insight.md
  docs/en/docs/videos/install.md
  docs/en/docs/videos/kairship.md
  docs/en/docs/videos/kangaroo.md
  docs/en/docs/videos/kpanda.md
  docs/en/docs/videos/mcamel.md
  docs/en/docs/videos/mspider.md
  docs/en/docs/videos/network.md
  docs/en/docs/videos/skoala.md
  docs/en/docs/videos/use-cases.md
  docs/zh/docs/videos/amamba.md
  docs/zh/docs/videos/ghippo.md
  docs/zh/docs/videos/images/custom-workload.jpg
  docs/zh/docs/videos/insight.md
  docs/zh/docs/videos/install.md
  docs/zh/docs/videos/kairship.md
  docs/zh/docs/videos/kangaroo.md
  docs/zh/docs/videos/kpanda.md
  docs/zh/docs/videos/mcamel.md
  docs/zh/docs/videos/mspider.md
  docs/zh/docs/videos/network.md
  docs/zh/docs/videos/skoala.md
  docs/zh/docs/videos/use-cases.md
Labels: zh, en, videos

#2128 Kant add user-guide of route
  docs/zh/docs/kant/images/create-route-01.png
  docs/zh/docs/kant/images/create-route-02.png
  docs/zh/docs/kant/images/create-route-03.png
  docs/zh/docs/kant/images/create-route-04.png
  docs/zh/docs/kant/images/create-route-05.png
  docs/zh/docs/kant/images/overview01.png
  docs/zh/docs/kant/user-guide/route/create-route.md
  docs/zh/docs/kant/user-guide/route/overview.md
  docs/zh/navigation.yml
Labels: zh, kant

#2131 add a blog: k8s 1.28 is coming
  docs/zh/docs/blogs/230815-k8s1.28.md
  docs/zh/docs/blogs/images/1.2801.png
  docs/zh/docs/blogs/images/1.2802.png
  docs/zh/docs/blogs/index.md
  docs/zh/navigation.yml
Labels: zh, blogs

#2133 add en blog: k8s 1.28 is coming
  docs/en/docs/blogs/230815-k8s1.28.md
  docs/en/docs/blogs/images/k8s1.28.png
  docs/en/docs/blogs/index.md
  docs/en/navigation.yml
  docs/zh/docs/blogs/230815-k8s1.28.md
Labels: zh, en, blogs

#2134 add kpanda offline upgrade
  docs/zh/docs/kpanda/intro/offline-upgrade.md
  docs/zh/docs/kpanda/user-guide/clusters/create-cluster.md
  docs/zh/docs/kpanda/user-guide/clusters/upgrade-cluster.md
  docs/zh/navigation.yml
Labels: kpanda, zh

#2130 update faq
  docs/zh/docs/amamba/images/faq-ci1.png
  docs/zh/docs/amamba/images/faq-ci2.png
  docs/zh/docs/amamba/images/faq-ci3.png
  docs/zh/docs/amamba/images/faq-ci4.png
  docs/zh/docs/amamba/images/faq-ci5.png
  docs/zh/docs/amamba/images/faq-ci6.png
  docs/zh/docs/amamba/intro/faq-gitops.md
  docs/zh/docs/amamba/intro/faq-jenkins.md
  docs/zh/docs/amamba/intro/faq.md
  docs/zh/docs/amamba/user-guide/pipeline/config/agent.md
  docs/zh/navigation.yml
Labels: amamba, zh

#2135 Update mspider.md
  docs/zh/docs/videos/mspider.md
Labels: zh, videos

#2137 docking portal
  docs/zh/docs/ghippo/images/sso1.png
  docs/zh/docs/ghippo/images/sso2.png
  docs/zh/docs/ghippo/images/sso3.png
  docs/zh/docs/ghippo/user-guide/access-control/docking.md
  docs/zh/navigation.yml
Labels: ghippo, zh

#2138 add en docking portal
  docs/en/docs/ghippo/images/sso1.png
  docs/en/docs/ghippo/images/sso2.png
  docs/en/docs/ghippo/images/sso3.png
  docs/en/docs/ghippo/user-guide/access-control/docking.md
  docs/en/navigation.yml
Labels: ghippo, en

#2139 add pipeline step
  docs/zh/docs/amamba/user-guide/pipeline/config/step.md
  docs/zh/docs/install/commercial/prepare.md
Labels: amamba, installer, zh

#2141 mspier: add monitoring indicators
  docs/zh/docs/mspider/user-guide/images/monitoring-indicators1.png
  docs/zh/docs/mspider/user-guide/images/monitoring-indicators2.png
  docs/zh/docs/mspider/user-guide/images/monitoring-indicators3.png
  docs/zh/docs/mspider/user-guide/images/monitoring-indicators4.png
  docs/zh/docs/mspider/user-guide/traffic-monitor/monitoring-indicators.md
  docs/zh/navigation.yml
Labels: mspider, zh

#2140 update en online kind-install
  docs/en/docs/install/community/kind/online.md
Labels: installer, en

#2144 Fix cncf-gophers image
  docs/en/docs/community/hwameistor.md
  docs/en/docs/community/images/cncf-gophers.png
  docs/en/docs/community/kubean.md
  docs/zh/docs/community/hwameistor.md
  docs/zh/docs/community/images/cncf-gophers.png
  docs/zh/docs/community/kubean.md
Labels: zh, en, eco

#2143 chore: update jenkins config
  docs/zh/docs/amamba/quickstart/scenarios-config.md
Labels: amamba, zh

#2142 add en dashboard metrics desc
  docs/en/docs/mspider/images/metrics01.png
  docs/en/docs/mspider/images/metrics02.png
  docs/en/docs/mspider/images/metrics03.png
  docs/en/docs/mspider/images/metrics04.png
  docs/en/docs/mspider/user-guide/traffic-monitor/monitoring-indicators.md
  docs/en/navigation.yml
Labels: mspider, en

#2145 mspider: mspider/user-guide/traffic-monitor/indicatort-readtips.md
  docs/zh/docs/mspider/user-guide/images/indicator-readtips1.png
  docs/zh/docs/mspider/user-guide/images/indicator-readtips2.png
  docs/zh/docs/mspider/user-guide/images/indicator-readtips3.png
  docs/zh/docs/mspider/user-guide/images/indicator-readtips4.png
  docs/zh/docs/mspider/user-guide/images/indicator-readtips5.png
  docs/zh/docs/mspider/user-guide/images/indicator-readtips6.png
  docs/zh/docs/mspider/user-guide/traffic-monitor/indicator-readtips.md
  docs/zh/navigation.yml
Labels: mspider, zh

#2146 add en indicator-readtips
  docs/en/docs/mspider/user-guide/images/readtips01.png
  docs/en/docs/mspider/user-guide/images/readtips02.png
  docs/en/docs/mspider/user-guide/images/readtips03.png
  docs/en/docs/mspider/user-guide/images/readtips04.png
  docs/en/docs/mspider/user-guide/images/readtips05.png
  docs/en/docs/mspider/user-guide/images/readtips06.png
  docs/en/docs/mspider/user-guide/traffic-monitor/indicator-readtips.md
  docs/en/navigation.yml
  docs/zh/docs/mspider/user-guide/traffic-monitor/indicator-readtips.md
  docs/zh/docs/mspider/user-guide/traffic-monitor/monitoring-indicators.md
Labels: mspider, zh, en

#2147 update native (8.14-8.20)
  docs/en/docs/native/commerce.md
  docs/en/docs/native/news/news-2023.md
  docs/en/docs/native/open.md
  docs/zh/docs/native/commerce.md
  docs/zh/docs/native/news/news-2023.md
  docs/zh/docs/native/open.md
Labels: zh, en, native

#2148 Update add-master-node.md
  docs/zh/docs/kpanda/best-practice/add-master-node.md
Labels: kpanda, zh

#2154 add a reference link to event query
  docs/en/docs/insight/user-guide/data-query/event.md
  docs/zh/docs/insight/user-guide/data-query/event.md
Labels: insight, zh, en

#2156 update version
  docs/zh/docs/install/k8s-install/ocp-install-dce5.0.md
Labels: installer, zh

#2157 update event query
  docs/en/docs/insight/images/event03.png
  docs/en/docs/insight/user-guide/data-query/event.md
  docs/zh/docs/insight/images/event03.png
  docs/zh/docs/insight/user-guide/data-query/event.md
Labels: insight, zh, en

#2158 update for redis sync
  docs/zh/docs/middleware/redis/best-practice/cluster2cluster.md
  docs/zh/docs/middleware/redis/best-practice/disaster-tolerance.md
  docs/zh/docs/middleware/redis/images/sync01.png
  docs/zh/docs/middleware/redis/images/sync02.png
  docs/zh/docs/middleware/redis/images/sync03.png
  docs/zh/docs/middleware/redis/images/sync04.png
  docs/zh/docs/middleware/redis/images/sync05.png
  docs/zh/docs/middleware/redis/images/sync06.png
  docs/zh/docs/middleware/redis/images/sync07.png
  docs/zh/docs/middleware/redis/images/sync08.png
  docs/zh/docs/middleware/redis/images/sync09.png
  docs/zh/docs/middleware/redis/images/sync10.png
  docs/zh/docs/middleware/redis/images/sync11.png
  docs/zh/navigation.yml
Labels: midware, zh

#2161 add kangaroo download site
  docs/zh/docs/download/modules/kangaroo.md
  docs/zh/navigation.yml
Labels: download, zh

#2162 add en kangaroo download
  docs/en/docs/download/index.md
  docs/en/docs/download/modules/kangaroo.md
  docs/en/navigation.yml
  docs/zh/docs/download/index.md
Labels: download, zh, en, kangaroo

#2160 update default ippool
  docs/zh/docs/network/modules/spiderpool/index.md
  docs/zh/docs/network/modules/spiderpool/ippoolusage.md
Labels: zh, network

#2159 add pipeline detail
  docs/zh/docs/amamba/images/detail-pipeline1.png
  docs/zh/docs/amamba/images/detail-pipeline2.png
  docs/zh/docs/amamba/images/detail-pipeline3.png
  docs/zh/docs/amamba/images/detail-pipeline4.png
  docs/zh/docs/amamba/images/detail-run1.png
  docs/zh/docs/amamba/images/detail-run2.png
  docs/zh/docs/amamba/images/detail-run3.png
  docs/zh/docs/amamba/images/detail-run4.png
  docs/zh/docs/amamba/images/detail-run5.png
  docs/zh/docs/amamba/user-guide/pipeline/view/view-pipeline.md
  docs/zh/docs/amamba/user-guide/pipeline/view/view-run.md
  docs/zh/navigation.yml
Labels: amamba, zh

#2164 update product name: DCE Commuinity and DCE 5.0 Enterprise
  docs/en/docs/blogs/230214-open-projects.md
  docs/en/docs/blogs/230315-install-on-linux.md
  docs/en/docs/blogs/230315-install-on-macos.md
  docs/en/docs/blogs/230405-step-by-step-dce5.md
  docs/en/docs/blogs/index.md
  docs/en/docs/dce/dce-rn/20230531.md
  docs/en/docs/dce/dce-rn/20230630.md
  docs/en/docs/dce/dce-rn/20230731.md
  docs/en/docs/dce/license0.md
  docs/en/docs/download/business/dce5-installer-history.md
  docs/en/docs/download/free/dce5-installer-history.md
  docs/en/docs/download/free/dce5-installer-v0.3.27.md
  docs/en/docs/download/free/dce5-installer-v0.3.28.md
  docs/en/docs/download/free/dce5-installer-v0.3.29.md
  docs/en/docs/download/free/dce5-installer-v0.3.30.md
  docs/en/docs/download/free/dce5-installer-v0.4.0-rc2.md
  docs/en/docs/download/free/dce5-installer-v0.4.0.md
  docs/en/docs/download/free/dce5-installer-v0.5.0.md
  docs/en/docs/download/free/dce5-installer-v0.6.0.md
  docs/en/docs/download/free/dce5-installer-v0.6.1.md
  docs/en/docs/download/free/dce5-installer-v0.7.0.md
  docs/en/docs/download/free/dce5-installer-v0.8.0.md
  docs/en/docs/download/free/dce5-installer-v0.9.0.md
  docs/en/docs/ghippo/user-guide/audit/open-audit.md
  docs/en/docs/insight/intro/features.md
  docs/en/docs/install/commercial/scenarios.md
  docs/en/docs/install/commercial/start-install.md
  docs/en/docs/install/community/k8s/offline.md
  docs/en/docs/install/community/k8s/online.md
  docs/en/docs/install/community/kind/online.md
  docs/en/docs/install/evolve.md
  docs/en/docs/install/index.md
  docs/en/docs/install/install-tools.md
  docs/en/docs/install/k8s-install/ocp-install-dce5.0.md
  docs/en/docs/install/os-install/TencentOS-install-dce5.0.md
  docs/en/docs/install/os-install/uos-v20-install-dce5.0.md
  docs/en/docs/install/upgrade.md
  docs/en/docs/kpanda/best-practice/multi-arch.md
  docs/en/docs/kpanda/best-practice/use-otherlinux-create-custer.md
  docs/en/docs/skoala/quickstart/install.md
  docs/en/docs/trial/index.md
  docs/en/docs/videos/install.md
  docs/en/navigation.yml
Labels: skoala, insight, kpanda, ghippo, installer, download, en, blogs, videos, dce, trial

#2165 update metalb docs
  docs/zh/docs/network/modules/metallb/index.md
  docs/zh/docs/network/modules/metallb/source_ip.md
  docs/zh/docs/network/modules/metallb/usage.md
Labels: zh, network

#2166 add insight video: event query
  docs/en/docs/videos/images/event-query.jpg
  docs/en/docs/videos/insight.md
  docs/zh/docs/videos/images/event-query.jpg
  docs/zh/docs/videos/insight.md
Labels: insight, zh, en, videos

#2168 Create mspider.md
  docs/zh/docs/download/modules/mspider.md
  docs/zh/navigation.yml
Labels: download, zh

#2169 add pics for metallb usage
  docs/zh/docs/network/images/metallb-use1.png
  docs/zh/docs/network/images/metallb-use2.png
  docs/zh/docs/network/modules/metallb/usage.md
Labels: zh, network

#2172 Update text of DCE community and enterprise
  docs/en/docs/amamba/intro/index.md
  docs/en/docs/blogs/230315-install-on-macos.md
  docs/en/docs/blogs/index.md
  docs/en/docs/download/business/dce5-installer-v0.3.27.md
  docs/en/docs/download/business/dce5-installer-v0.3.28.md
  docs/en/docs/download/business/dce5-installer-v0.3.29.md
  docs/en/docs/download/business/dce5-installer-v0.3.30.md
  docs/en/docs/download/business/dce5-installer-v0.4.0-rc2.md
  docs/en/docs/download/business/dce5-installer-v0.4.0.md
  docs/en/docs/download/business/dce5-installer-v0.5.0.md
  docs/en/docs/download/business/dce5-installer-v0.6.0.md
  docs/en/docs/download/business/dce5-installer-v0.6.1.md
  docs/en/docs/download/business/dce5-installer-v0.7.0.md
  docs/en/docs/download/business/dce5-installer-v0.8.0.md
  docs/en/docs/download/business/dce5-installer-v0.9.0.md
  docs/en/docs/download/free/dce5-installer-history.md
  docs/en/docs/download/free/dce5-installer-v0.3.27.md
  docs/en/docs/download/free/dce5-installer-v0.3.28.md
  docs/en/docs/download/free/dce5-installer-v0.3.29.md
  docs/en/docs/download/free/dce5-installer-v0.3.30.md
  docs/en/docs/download/free/dce5-installer-v0.4.0-rc2.md
  docs/en/docs/download/free/dce5-installer-v0.4.0.md
  docs/en/docs/download/free/dce5-installer-v0.5.0.md
  docs/en/docs/download/free/dce5-installer-v0.6.0.md
  docs/en/docs/download/free/dce5-installer-v0.6.1.md
  docs/en/docs/download/free/dce5-installer-v0.7.0.md
  docs/en/docs/download/free/dce5-installer-v0.8.0.md
  docs/en/docs/download/free/dce5-installer-v0.9.0.md
  docs/en/docs/download/index.md
  docs/en/docs/ghippo/user-guide/audit/open-audit.md
  docs/en/docs/insight/intro/features.md
  docs/en/docs/install/commercial/cluster-config.md
  docs/en/docs/install/commercial/deploy-requirements.md
  docs/en/docs/install/commercial/external/external-binary.md
  docs/en/docs/install/commercial/external/external-imageandchart.md
  docs/en/docs/install/commercial/external/external-middlewares.md
  docs/en/docs/install/commercial/external/external-os.md
  docs/en/docs/install/community/k8s/offline.md
  docs/en/docs/install/community/k8s/online.md
  docs/en/docs/install/community/kind/online.md
  docs/en/docs/install/community/resources.md
  docs/en/docs/install/k8s-install/ocp-install-dce5.0.md
  docs/en/docs/install/os-install/oracleLinux-install-dce5.0.md
  docs/en/docs/install/os-install/otherlinux.md
  docs/en/docs/install/os-install/uos-v20-install-dce5.0.md
  docs/en/docs/install/release-notes.md
  docs/en/docs/native/commerce.md
  docs/en/docs/skoala/quickstart/install.md
  docs/en/docs/trial/index.md
  docs/en/docs/videos/install.md
Labels: skoala, insight, amamba, ghippo, installer, download, en, blogs, videos, native, trial

#2173 update zh insight video
  docs/zh/docs/videos/insight.md
Labels: zh, videos

#2174 add a blog: local k8s tools
  docs/zh/docs/blogs/230824-tools.md
  docs/zh/docs/blogs/index.md
  docs/zh/navigation.yml
Labels: zh, blogs

#2175 Use shorter titles in nav to be shown in a row
  docs/en/docs/dce/license0.md
  docs/en/docs/trial/index.md
  docs/en/navigation.yml
  docs/zh/navigation.yml
Labels: zh, en, dce, trial

#2180 update spiderpool docs
  docs/zh/docs/network/modules/spiderpool/publiccloud.md
Labels: zh, network

#2181 add node for global cluster
  docs/zh/docs/kpanda/best-practice/add-worker-node-on-global.md
  docs/zh/docs/kpanda/images/add-global-node01.png
  docs/zh/docs/kpanda/images/add-global-node02.png
  docs/zh/docs/kpanda/images/add-global-node03.png
  docs/zh/navigation.yml
Labels: kpanda, zh

#2182 Update the en docs of spiderpool
  docs/en/docs/network/modules/spiderpool/alibabacloud.md
  docs/zh/docs/network/modules/spiderpool/alibabacloud.md
Labels: zh, en, network

#2183 update en navigation
  docs/en/docs/network/modules/spiderpool/alibabacloud.md
  docs/en/navigation.yml
Labels: en, network

#2185 update release-notes to 0.27.0
  docs/zh/docs/skoala/intro/release-notes.md
Labels: skoala, zh

#2186 add dowl offline download template
  docs/zh/docs/download/modules/dowl.md
  docs/zh/navigation.yml
Labels: download, zh

#2187 add pics for spiderpool alibabacloud
  docs/en/docs/network/images/alicloud-k8s-network.png
  docs/en/docs/network/images/alicloud-loadbalancer.png
  docs/en/docs/network/images/alicloud-natgateway.png
  docs/en/docs/network/images/alicloud-network-web.png
  docs/en/docs/network/modules/spiderpool/alibabacloud.md
Labels: en, network

#2188 add en dowl download page
  docs/en/docs/download/index.md
  docs/en/docs/download/modules/dowl.md
  docs/en/navigation.yml
  docs/zh/docs/download/index.md
Labels: download, zh, en

#2190 upgrate-dowl-on-offline
  docs/zh/docs/kpanda/best-practice/add-worker-node-on-global.md
  docs/zh/docs/kpanda/best-practice/multi-arch.md
  docs/zh/docs/kpanda/images/add-global-node02.png
  docs/zh/docs/kpanda/user-guide/nodes/add-node.md
  docs/zh/docs/kpanda/user-guide/security/offline-upgrade-dowl.md
  docs/zh/navigation.yml
Labels: kpanda, zh

#2191 update native (9.21-9.27)
  docs/en/docs/native/commerce.md
  docs/en/docs/native/news/news-2023.md
  docs/en/docs/native/open.md
  docs/zh/docs/native/commerce.md
  docs/zh/docs/native/news/news-2023.md
  docs/zh/docs/native/open.md
Labels: zh, en, native

#2192 fix typo in installation docs
  docs/en/docs/blogs/230315-install-on-linux.md
  docs/en/docs/blogs/230315-install-on-macos.md
  docs/en/docs/install/community/kind/online.md
Labels: installer, en, blogs

#2193 add mcamel best practice videos
  docs/zh/docs/videos/images/pgvector.png
  docs/zh/docs/videos/images/redis-sync.png
  docs/zh/docs/videos/images/south-north.png
  docs/zh/docs/videos/use-cases.md
Labels: zh, videos

#2194 download: ghippo version updated to v0.20.0
  docs/zh/docs/download/index.md
  docs/zh/docs/download/modules/ghippo.md
Labels: download, zh

#2195 add a video to kant
  docs/en/docs/videos/images/edge-unit.jpg
  docs/en/docs/videos/index.md
  docs/en/docs/videos/kant.md
  docs/en/navigation.yml
  docs/zh/docs/videos/images/edge-unit.jpg
  docs/zh/docs/videos/index.md
  docs/zh/docs/videos/kant.md
  docs/zh/navigation.yml
Labels: zh, en, videos

#2197 amamba: add en faq-jenkins
  docs/en/docs/amamba/images/faq01.png
  docs/en/docs/amamba/images/faq02.png
  docs/en/docs/amamba/images/faq03.png
  docs/en/docs/amamba/images/faq04.png
  docs/en/docs/amamba/intro/faq-gitops.md
  docs/en/docs/amamba/intro/faq-jenkins.md
  docs/en/navigation.yml
  docs/zh/docs/amamba/intro/faq-jenkins.md
Labels: amamba, zh, en

#2196 update download and release notes
  docs/en/docs/download/index.md
  docs/en/docs/download/modules/ghippo.md
  docs/en/docs/download/modules/kcoral.md
  docs/en/docs/kpanda/intro/release-notes.md
  docs/en/docs/skoala/intro/release-notes.md
  docs/zh/docs/kpanda/intro/release-notes.md
Labels: skoala, kpanda, download, zh, en

#2198 sync en best practice to kpanda
  docs/en/docs/kpanda/best-practice/add-worker-node-on-global.md
  docs/en/navigation.yml
  docs/zh/docs/kpanda/best-practice/add-worker-node-on-global.md
Labels: kpanda, zh, en

#2199 Clean up hwameistor pages
  docs/en/docs/storage/hwameistor/application/ha.md
  docs/en/docs/storage/hwameistor/application/local.md
  docs/en/docs/storage/hwameistor/application/overview.md
  docs/en/docs/storage/hwameistor/application/tidb.md
  docs/en/docs/storage/hwameistor/install/deploy-helm.md
  docs/en/docs/storage/hwameistor/install/deploy-operator.md
  docs/en/docs/storage/hwameistor/install/deploy-ui.md
  docs/en/docs/storage/hwameistor/install/drbdinstall.md
  docs/en/docs/storage/hwameistor/install/proresource.md
  docs/en/docs/storage/hwameistor/install/storage-eth.md
  docs/en/docs/storage/hwameistor/intro/drbd.md
  docs/en/docs/storage/hwameistor/intro/resources.md
  docs/en/docs/storage/hwameistor/resources/disk-expansion.md
  docs/en/docs/storage/hwameistor/resources/migrate.md
  docs/en/docs/storage/hwameistor/resources/reserveddisk.md
  docs/en/docs/storage/hwameistor/resources/storagepool.md
  docs/en/docs/storage/solutions/ceph-dashboard.md
  docs/en/docs/storage/solutions/dce-longhorn.md
  docs/en/docs/storage/solutions/longhorn.md
Labels: en, storage

#2200 Update faq-jenkins.md
  docs/en/docs/amamba/intro/faq-jenkins.md
Labels: amamba, en

#2201 kairship: update zh&en workload/promote.md
  docs/en/docs/kairship/cluster.md
  docs/en/docs/kairship/images/deploy-create01.png
  docs/en/docs/kairship/images/deploy-create02.png
  docs/en/docs/kairship/images/deploy-create03.png
  docs/en/docs/kairship/images/deploy-update01.png
  docs/en/docs/kairship/images/promote01.png
  docs/en/docs/kairship/images/promote02.png
  docs/en/docs/kairship/workload/README.md
  docs/en/docs/kairship/workload/deployment.md
  docs/en/docs/kairship/workload/promote.md
  docs/en/docs/kairship/workload/update-deployment.md
  docs/en/docs/kairship/workload/yaml.md
  docs/zh/docs/kairship/workload/promote.md
  docs/zh/docs/kairship/workload/update-deployment.md
  docs/zh/navigation.yml
Labels: kairship, zh, en

#2203 kairship: add en workload/deployment.md
  docs/en/docs/kairship/images/deploy-create04.png
  docs/en/docs/kairship/images/deploy-create05.png
  docs/en/docs/kairship/images/deploy-create06.png
  docs/en/docs/kairship/images/deploy-create07.png
  docs/en/docs/kairship/workload/cronjob.md
  docs/en/docs/kairship/workload/deployment.md
  docs/en/docs/kairship/workload/job.md
  docs/en/docs/kairship/workload/promote.md
  docs/en/navigation.yml
Labels: kairship, en

#2204 add video about kdoctor
  docs/zh/docs/videos/images/net-kdoctor.jpg
  docs/zh/docs/videos/network.md
Labels: zh, videos

#2208 enable strict mode
  docs/en/mkdocs.yml
  docs/zh/mkdocs.yml
Labels: zh, en

#2209 add ghippo v0.20.0 release notes
  docs/zh/docs/ghippo/intro/release-notes.md
Labels: ghippo, zh

#2212 add gmagpie offline doc
  docs/zh/docs/ghippo/install/gmagpie-offline-install.md
  docs/zh/navigation.yml
Labels: ghippo, zh

#2210 fix links
  docs/en/docs/download/modules/dowl.md
  docs/en/docs/kpanda/best-practice/add-worker-node-on-global.md
  docs/en/docs/kpanda/best-practice/update-offline-cluster.md
  docs/en/docs/mspider/best-practice/use-custom-workloads.md
  docs/en/docs/videos/kairship.md
  docs/en/navigation.yml
  docs/zh/docs/download/modules/dowl.md
  docs/zh/docs/kpanda/user-guide/backup/offline-upgrade.md
  docs/zh/docs/kpanda/user-guide/inspect/offline-upgrade.md
  docs/zh/docs/kpanda/user-guide/security/offline-upgrade-dowl.md
  docs/zh/docs/network/modules/spiderpool/alibabacloud.md
  docs/zh/docs/storage/hwameistor/resources/disk-expansion.md
  docs/zh/docs/videos/amamba.md
  docs/zh/navigation.yml
Labels: mspider, kpanda, download, zh, en, videos, network, storage

#2214 add insight docs
  docs/zh/docs/insight/faq/lucene.md
  docs/zh/docs/insight/images/eventalert00.png
  docs/zh/docs/insight/images/log00.png
  docs/zh/docs/insight/images/log01.png
  docs/zh/docs/insight/images/log03.png
  docs/zh/docs/insight/images/log04.png
  docs/zh/docs/insight/images/logcontext.png
  docs/zh/docs/insight/images/logexport.png
  docs/zh/docs/insight/images/login01.png
  docs/zh/docs/insight/images/login02.png
  docs/zh/docs/insight/images/login03.png
  docs/zh/docs/insight/user-guide/alert-center/alert-policy.md
  docs/zh/docs/insight/user-guide/data-query/log.md
  docs/zh/navigation.yml
Labels: insight, zh

#2213 add en gmagpie offline upgrade
  docs/en/docs/ghippo/install/gmagpie-offline-install.md
  docs/en/navigation.yml
  docs/zh/docs/ghippo/user-guide/report-billing/gmagpie-offline-install.md
  docs/zh/navigation.yml
Labels: ghippo, zh, en

#2211 mcamel: cluster >> sentinel sync
  docs/zh/docs/middleware/redis/best-practice/cluster2sentinel.md
  docs/zh/docs/middleware/redis/best-practice/disaster-tolerance.md
  docs/zh/docs/middleware/redis/images/sync17.jpg
  docs/zh/docs/middleware/redis/images/sync18.jpg
  docs/zh/navigation.yml
Labels: midware, zh

#2215 download: gmagpie version updated to v0.4.1
  docs/zh/docs/download/modules/gmagpie.md
Labels: download, zh

#2217 add 3 en pages
  docs/en/docs/insight/faq/lucene.md
  docs/en/docs/insight/faq/service-monitor.md
  docs/en/docs/insight/user-guide/alert-center/alert-policy.md
  docs/en/docs/insight/user-guide/data-query/log.md
  docs/en/docs/kant/user-guide/route/create-route.md
  docs/en/docs/kant/user-guide/route/overview.md
  docs/en/navigation.yml
  docs/zh/docs/insight/faq/lucene.md
  docs/zh/docs/insight/user-guide/alert-center/alert-policy.md
  docs/zh/docs/insight/user-guide/data-query/log.md
  docs/zh/navigation.yml
Labels: insight, zh, en, kant

#2218 mcamel: updated for typo
  docs/zh/docs/middleware/redis/best-practice/cluster2cluster.md
  docs/zh/docs/middleware/redis/best-practice/cluster2sentinel.md
  docs/zh/docs/middleware/redis/best-practice/disaster-tolerance.md
  docs/zh/docs/middleware/redis/best-practice/sentinel2sentinel.md
  docs/zh/navigation.yml
Labels: midware, zh

#2219 update en ghippo rn
  docs/en/docs/ghippo/intro/release-notes.md
Labels: ghippo, en

#2220 update insight docs
  docs/zh/docs/insight/images/tracelog.png
  docs/zh/docs/insight/user-guide/data-query/trace.md
Labels: insight, zh

#2221 Update gpu docs
  docs/zh/docs/kpanda/images/gpu_mig01.jpg
  docs/zh/docs/kpanda/images/gpu_mig02.png
  docs/zh/docs/kpanda/images/gpu_mig03.png
  docs/zh/docs/kpanda/images/gpu_mig04.png
  docs/zh/docs/kpanda/user-guide/gpu/create_mig.md
  docs/zh/docs/kpanda/user-guide/gpu/mig_command.md
  docs/zh/docs/kpanda/user-guide/gpu/mig_usage.md
  docs/zh/navigation.yml
Labels: kpanda, zh
