Repository DaoCloud/DaoCloud-docs, pull requests merged in 2023-12, with the labels that each got.

#2957 fix style in otel/operator.md
  docs/zh/docs/insight/quickstart/otel/operator.md
Labels: insight, zh

#2958 update git workflow
  docs/zh/docs/native/knowledge/git/index.md
  docs/zh/docs/native/knowledge/images/local05.png
Labels: zh, native

#2959 download: kant version updated to 0.6.1
  docs/zh/docs/download/modules/kant.md
Labels: download, zh

#2961 download: kairship version updated to v0.14.0
  docs/zh/docs/download/index.md
  docs/zh/docs/download/modules/kairship.md
Labels: download, zh

#2969 download: kangaroo version updated to 0.13.1
  docs/zh/docs/download/index.md
  docs/zh/docs/download/modules/kangaroo.md
Labels: download, zh

#2970 update kant download version
  docs/en/docs/download/modules/kant.md
  docs/zh/docs/download/modules/kant.md
Labels: download, zh, en

#2971 update kant user guide
  docs/zh/docs/kant/images/deploy-edgemesh-12.png
  docs/zh/docs/kant/images/service-01.png
  docs/zh/docs/kant/images/service-02.png
  docs/zh/docs/kant/images/service-03.png
  docs/zh/docs/kant/images/service-04.png
  docs/zh/docs/kant/images/service-05.png
  docs/zh/docs/kant/intro/release-notes.md
  docs/zh/docs/kant/user-guide/edge-network/deploy-edgemesh.md
  docs/zh/docs/kant/user-guide/edge-network/server.md
  docs/zh/navigation.yml
Labels: zh, kant

#2973 update release-notes to 0.30.0
  docs/zh/docs/skoala/intro/release-notes.md
Labels: skoala, zh

#2974 download: skoala version updated to v0.30.0
  docs/zh/docs/download/index.md
  docs/zh/docs/download/modules/skoala.md
Labels: download, zh

#2976 mspider: update release note
  docs/en/docs/mspider/intro/release-notes.md
  docs/zh/docs/mspider/intro/release-notes.md
Labels: mspider, zh, en

#2982 download: mspider version updated to v0.21.0
  docs/zh/docs/download/index.md
  docs/zh/docs/download/modules/mspider.md
Labels: download, zh

#2984 download: insight version updated to v0.22.0
  docs/zh/docs/download/index.md
  docs/zh/docs/download/modules/insight.md
Labels: download, zh

#2985 fix virtnest docs
  docs/zh/docs/virtnest/quick-start/access.md
  docs/zh/docs/virtnest/quick-start/create-image.md
  docs/zh/docs/virtnest/quick-start/create-tep.md
  docs/zh/docs/virtnest/quick-start/rook-ceph.md
  docs/zh/docs/virtnest/quick-start/snapshot.md
  docs/zh/navigation.yml
Labels: zh, virtnest

#2988 fix kpanda docs
  docs/zh/docs/kpanda/user-guide/backup/offline-upgrade.md
  docs/zh/docs/kpanda/user-guide/inspect/offline-upgrade.md
  docs/zh/docs/kpanda/user-guide/security/offline-upgrade-dowl.md
Labels: kpanda, zh

#2940 update insight release note
  docs/zh/docs/insight/intro/releasenote.md
Labels: insight, zh

#2991 update mcamel release note
  docs/zh/docs/middleware/elasticsearch/release-notes.md
  docs/zh/docs/middleware/kafka/release-notes.md
  docs/zh/docs/middleware/minio/release-notes.md
  docs/zh/docs/middleware/mongodb/release-notes.md
  docs/zh/docs/middleware/mysql/release-notes.md
  docs/zh/docs/middleware/postgresql/release-notes.md
  docs/zh/docs/middleware/rabbitmq/release-notes.md
  docs/zh/docs/middleware/redis/release-notes.md
  docs/zh/docs/middleware/rocketmq/release-notes.md
Labels: midware, zh

#2992 update releasenote
  docs/zh/docs/kpanda/intro/release-notes.md
Labels: kpanda, zh

#2994 [en] Update all release notes
  docs/en/docs/amamba/intro/release-notes.md
  docs/en/docs/blogs/230609-istio118.md
  docs/en/docs/ghippo/intro/release-notes.md
  docs/en/docs/insight/intro/releasenote.md
  docs/en/docs/kairship/intro/release-notes.md
  docs/en/docs/kangaroo/intro/release-notes.md
  docs/en/docs/kant/intro/release-notes.md
  docs/en/docs/kpanda/intro/release-notes.md
  docs/en/docs/middleware/elasticsearch/release-notes.md
  docs/en/docs/middleware/kafka/release-notes.md
  docs/en/docs/middleware/minio/release-notes.md
  docs/en/docs/middleware/mongodb/release-notes.md
  docs/en/docs/middleware/mysql/release-notes.md
  docs/en/docs/middleware/postgresql/release-notes.md
  docs/en/docs/middleware/rabbitmq/release-notes.md
  docs/en/docs/middleware/redis/release-notes.md
  docs/en/docs/middleware/rocketmq/release-notes.md
  docs/en/docs/native/commerce.md
  docs/en/docs/native/news/news-2023.md
  docs/en/docs/native/open.md
  docs/en/docs/network/modules/spiderpool/releasenotes.md
  docs/en/docs/skoala/intro/release-notes.md
  docs/en/docs/storage/hwameistor/releasenotes.md
  docs/en/docs/virtnest/intro/release-notes.md
  docs/zh/docs/amamba/intro/release-notes.md
  docs/zh/docs/amamba/user-guide/pipeline/run/trigger.md
  docs/zh/docs/amamba/user-guide/pipeline/view/view-pipeline.md
  docs/zh/docs/ghippo/intro/release-notes.md
  docs/zh/docs/insight/user-guide/alert-center/msg-template.md
  docs/zh/docs/kpanda/intro/release-notes.md
  docs/zh/docs/kpanda/user-guide/gpu/nvidia/install_nvidia_driver_of_operator.md
  docs/zh/docs/kpanda/user-guide/olm/import-miniooperator.md
  docs/zh/docs/middleware/redis/release-notes.md
  docs/zh/docs/middleware/rocketmq/release-notes.md
  docs/zh/docs/native/open.md
  docs/zh/docs/storage/solutions/fluid.md
  docs/zh/docs/virtnest/intro/release-notes.md
Labels: skoala, midware, kairship, insight, kpanda, amamba, ghippo, zh, en, blogs, native, kangaroo, network, storage, kant, virtnest

#2996 Add a blog: k8s performance on vm and bare metal
  docs/zh/docs/blogs/231008-kcs.md
  docs/zh/docs/blogs/231205-vm-bm-compare.md
  docs/zh/docs/blogs/images/vm01.png
  docs/zh/docs/blogs/images/vm02.png
  docs/zh/docs/blogs/images/vm03.jpeg
  docs/zh/docs/blogs/images/vm03.png
  docs/zh/docs/blogs/images/vm04.png
  docs/zh/docs/blogs/images/vm05.png
  docs/zh/docs/blogs/images/vm06.png
  docs/zh/docs/blogs/images/vm07.png
  docs/zh/docs/blogs/images/vm08.png
  docs/zh/docs/blogs/images/vm09.png
  docs/zh/docs/blogs/images/vm10.png
  docs/zh/docs/blogs/images/vm11.png
  docs/zh/docs/blogs/images/vm12.png
  docs/zh/docs/blogs/images/vm13.png
  docs/zh/docs/blogs/index.md
  docs/zh/navigation.yml
Labels: zh, blogs

#2998 update nav docs
  docs/zh/docs/ghippo/best-practice/navigator.md
Labels: ghippo, zh

#2997 Add a FAQ to skoala-init upgrade from 0.11 to 0.12
  docs/zh/docs/skoala/troubleshoot/auth-server.md
  docs/zh/docs/skoala/troubleshoot/images/KEP-287.png
  docs/zh/docs/skoala/troubleshoot/images/error.jpg
  docs/zh/docs/skoala/troubleshoot/images/rollout.jpg
  docs/zh/navigation.yml
Labels: skoala, zh

#2999 download: mspider version updated to v0.21.1
  docs/zh/docs/download/index.md
  docs/zh/docs/download/modules/mspider.md
Labels: download, zh

#3002 fix amaba docs
  docs/zh/docs/amamba/user-guide/pipeline/edit.md
Labels: amamba, zh

#3001 Fix nav for the latest blog
  docs/zh/navigation.yml
Labels: zh

#3004 update prerare of hwameistor
  docs/zh/docs/storage/hwameistor/install/prereq.md
Labels: zh, storage

#3003 update gpu docs info
  docs/en/docs/kpanda/user-guide/gpu/Iluvatar_usage.md
  docs/en/docs/kpanda/user-guide/gpu/nvidia/upgrade_yum_source_redhat8_4.md
  docs/zh/docs/kpanda/user-guide/gpu/Iluvatar_usage.md
  docs/zh/docs/kpanda/user-guide/gpu/nvidia/upgrade_yum_source_redhat8_4.md
Labels: kpanda, zh, en

#3005 Update download pages
  docs/zh/docs/download/index.md
  docs/zh/docs/download/modules/amamba.md
  docs/zh/docs/download/modules/dowl.md
  docs/zh/docs/download/modules/ghippo.md
  docs/zh/docs/download/modules/gmagpie.md
  docs/zh/docs/download/modules/insight.md
  docs/zh/docs/download/modules/kairship.md
  docs/zh/docs/download/modules/kangaroo.md
  docs/zh/docs/download/modules/kant.md
  docs/zh/docs/download/modules/kcollie.md
  docs/zh/docs/download/modules/kcoral.md
  docs/zh/docs/download/modules/kpanda.md
  docs/zh/docs/download/modules/middleware/elasticsearch.md
  docs/zh/docs/download/modules/middleware/kafka.md
  docs/zh/docs/download/modules/middleware/minio.md
  docs/zh/docs/download/modules/middleware/mongodb.md
  docs/zh/docs/download/modules/middleware/mysql.md
  docs/zh/docs/download/modules/middleware/postgresql.md
  docs/zh/docs/download/modules/middleware/rabbitmq.md
  docs/zh/docs/download/modules/middleware/redis.md
  docs/zh/docs/download/modules/middleware/rocketmq.md
  docs/zh/docs/download/modules/mspider.md
  docs/zh/docs/download/modules/skoala.md
  docs/zh/docs/download/modules/spidernet.md
  docs/zh/docs/download/modules/virtnest.md
Labels: download, zh

#3006 Fixed format
  docs/zh/docs/skoala/troubleshoot/auth-server.md
  docs/zh/navigation.yml
Labels: skoala, zh

#3007 [en] Sync all download pages
  docs/en/docs/download/index.md
  docs/en/docs/download/modules/ghippo.md
  docs/en/docs/download/modules/hwameistor.md
  docs/en/docs/download/modules/insight.md
  docs/en/docs/download/modules/kant.md
  docs/en/docs/download/modules/kpanda.md
  docs/en/docs/download/modules/mspider.md
  docs/en/docs/download/modules/skoala.md
  docs/en/docs/download/modules/spidernet.md
  docs/en/docs/download/modules/virtnest.md
  docs/en/navigation.yml
  docs/zh/docs/download/index.md
Labels: download, zh, en

#3011 download: mspider version updated to v0.21.2
  docs/zh/docs/download/index.md
  docs/zh/docs/download/modules/mspider.md
Labels: download, zh

#3008 [en] Add faq to skoala
  docs/en/docs/skoala/troubleshoot/auth-server.md
  docs/en/docs/skoala/troubleshoot/images/KEP-287.png
  docs/en/docs/skoala/troubleshoot/images/error.jpg
  docs/en/docs/skoala/troubleshoot/images/rollout.jpg
  docs/en/navigation.yml
  docs/zh/docs/skoala/troubleshoot/auth-server.md
Labels: skoala, zh, en

#3009 Fix typos about mongodb
  docs/en/navigation.yml
  docs/zh/docs/middleware/elasticsearch/user-guide/logs.md
  docs/zh/docs/middleware/kafka/user-guide/logs.md
  docs/zh/docs/middleware/mongodb/user-guide/delete.md
  docs/zh/docs/middleware/mongodb/user-guide/logs.md
  docs/zh/docs/middleware/mysql/user-guide/logs.md
  docs/zh/docs/middleware/postgresql/user-guide/logs.md
  docs/zh/docs/middleware/rabbitmq/user-guide/logs.md
  docs/zh/docs/middleware/redis/user-guide/logs.md
  docs/zh/navigation.yml
Labels: midware, zh, en

#3012 update audit source ip
  docs/zh/docs/ghippo/user-guide/audit/source-ip.md
Labels: ghippo, zh

#3015 add en images
  docs/en/docs/virtnest/images/createvm09.png
Labels: en, virtnest

#3024 Update 230405-step-by-step-dce5.md
  docs/zh/docs/blogs/230405-step-by-step-dce5.md
Labels: zh, blogs

#3013 add docs about beta configuration
  docs/en/docs/skoala/images/config09.png
  docs/en/docs/skoala/images/config10.png
  docs/en/docs/skoala/images/config11.png
  docs/en/docs/skoala/images/config12.png
  docs/en/docs/skoala/images/config13.png
  docs/en/docs/skoala/trad-ms/hosted/configs.md
  docs/zh/docs/skoala/images/config09.png
  docs/zh/docs/skoala/images/config10.png
  docs/zh/docs/skoala/images/config11.png
  docs/zh/docs/skoala/images/config12.png
  docs/zh/docs/skoala/images/config13.png
  docs/zh/docs/skoala/trad-ms/hosted/configs.md
Labels: skoala, zh, en

#3036 add ghippo release note
  docs/zh/docs/ghippo/intro/release-notes.md
Labels: ghippo, zh

#3038 standardize terminology
  docs/en/docs/kpanda/user-guide/gpu/nvidia/push_image_to_repo.md
Labels: kpanda, en

#3043 fix typos in push_image_to_repo
  docs/zh/docs/kpanda/user-guide/gpu/nvidia/push_image_to_repo.md
Labels: kpanda, zh

#3046 [en] Update installer to 0.13.0
  docs/en/docs/blogs/230405-step-by-step-dce5.md
  docs/en/docs/install/best-practices/etcd-host-deploy.md
  docs/en/docs/install/commercial/cluster-config.md
  docs/en/docs/install/commercial/deploy-requirements.md
  docs/en/docs/install/commercial/external/external-middlewares.md
  docs/en/docs/install/commercial/prepare.md
  docs/en/docs/install/commercial/start-install.md
  docs/en/docs/install/community/k8s/k8s-dce-deploy.md
  docs/en/docs/install/community/k8s/offline.md
  docs/en/docs/install/community/k8s/online.md
  docs/en/docs/install/community/kind/online.md
  docs/en/docs/install/images/etcd01.png
  docs/en/docs/install/images/etcd02.png
  docs/en/docs/install/images/etcd03.png
  docs/en/docs/install/images/etcd04.png
  docs/en/docs/install/install-tools.md
  docs/en/docs/install/k8s-install/ecs-install-dce5.0.md
  docs/en/docs/install/release-notes.md
  docs/en/navigation.yml
  docs/zh/docs/install/best-practices/etcd-host-deploy.md
  docs/zh/docs/install/commercial/prepare.md
  docs/zh/docs/install/community/k8s/k8s-dce-deploy.md
Labels: installer, zh, en, blogs

#3048 fix terminology about ocp
  docs/zh/navigation.yml
Labels: zh

#3049 update nil error
  docs/zh/docs/install/commercial/start-install.md
Labels: installer, zh

#3051 update VM expression
  docs/en/docs/virtnest/quick-start/index.md
Labels: en, virtnest

#3052 upgrade kant features dosc
  docs/zh/docs/kant/intro/features.md
Labels: zh, kant

#3054 [en] Add probes to insight
  docs/en/docs/insight/user-guide/scenario-insight/probe-module.md
  docs/en/docs/insight/user-guide/scenario-insight/probe.md
  docs/en/navigation.yml
  docs/zh/docs/insight/user-guide/scenario-insight/probe-module.md
  docs/zh/docs/insight/user-guide/scenario-insight/probe.md
Labels: insight, zh, en

#3055 upgrade kant concepts dosc zh
  docs/zh/docs/kant/intro/concepts.md
Labels: zh, kant

#3057 upgrade concepts dosc
  docs/en/docs/kant/intro/concepts.md
Labels: en, kant

#3060 update middleware docs zh+en
  docs/en/docs/download/index.md
  docs/en/docs/download/modules/middleware/elasticsearch.md
  docs/en/docs/download/modules/middleware/kafka.md
  docs/en/docs/download/modules/middleware/minio.md
  docs/en/docs/download/modules/middleware/mongodb.md
  docs/en/docs/download/modules/middleware/mysql.md
  docs/en/docs/download/modules/middleware/postgresql.md
  docs/en/docs/download/modules/middleware/rabbitmq.md
  docs/en/docs/download/modules/middleware/redis.md
  docs/en/docs/download/modules/middleware/rocketmq.md
  docs/zh/docs/download/index.md
  docs/zh/docs/download/modules/middleware/elasticsearch.md
  docs/zh/docs/download/modules/middleware/kafka.md
  docs/zh/docs/download/modules/middleware/minio.md
  docs/zh/docs/download/modules/middleware/mongodb.md
  docs/zh/docs/download/modules/middleware/mysql.md
  docs/zh/docs/download/modules/middleware/postgresql.md
  docs/zh/docs/download/modules/middleware/rabbitmq.md
  docs/zh/docs/download/modules/middleware/redis.md
  docs/zh/docs/download/modules/middleware/rocketmq.md
Labels: download, zh, en

#3062 update kant concepts and use cases
  docs/en/docs/dce/scenario.md
  docs/en/docs/kant/intro/concepts.md
  docs/en/docs/kant/user-guide/route/index.md
Labels: en, dce, kant

#3064 [en] update amamba images
  docs/en/docs/amamba/images/git01.png
  docs/en/docs/amamba/images/git02.png
  docs/en/docs/amamba/images/git03.png
  docs/en/docs/amamba/images/git04.png
  docs/en/docs/amamba/images/git05.png
  docs/en/docs/amamba/images/ms01.png
  docs/en/docs/amamba/images/ms04.png
  docs/en/docs/amamba/user-guide/wizard/create-app-git.md
Labels: amamba, en

#3078 [amamba] replace ui text with bold font
  docs/zh/docs/amamba/faq/faq-jenkins.md
  docs/zh/docs/amamba/intro/permission.md
  docs/zh/docs/amamba/intro/release-notes.md
  docs/zh/docs/amamba/offline-upgrade.md
  docs/zh/docs/amamba/pluggable-components.md
  docs/zh/docs/amamba/quickstart/argocd-jenkins.md
  docs/zh/docs/amamba/quickstart/argocd-rollout.md
  docs/zh/docs/amamba/quickstart/deploy-pipeline.md
  docs/zh/docs/amamba/quickstart/jenkins-HA.md
  docs/zh/docs/amamba/quickstart/jenkins-custom.md
  docs/zh/docs/amamba/quickstart/pipeline-on-node.md
  docs/zh/docs/amamba/quickstart/scan-with-harbor.md
  docs/zh/docs/amamba/quickstart/scan-with-pipeline.md
  docs/zh/docs/amamba/quickstart/scenarios-config.md
  docs/zh/docs/amamba/user-guide/gitops/create-argo-cd.md
  docs/zh/docs/amamba/user-guide/gitops/import-repo.md
  docs/zh/docs/amamba/user-guide/gitops/sync-manually.md
  docs/zh/docs/amamba/user-guide/namespace/namespace.md
  docs/zh/docs/amamba/user-guide/native/manage.md
  docs/zh/docs/amamba/user-guide/native/native-app.md
  docs/zh/docs/amamba/user-guide/oam/create.md
  docs/zh/docs/amamba/user-guide/oam/manage.md
  docs/zh/docs/amamba/user-guide/pipeline/config/agent.md
  docs/zh/docs/amamba/user-guide/pipeline/config/concept.md
  docs/zh/docs/amamba/user-guide/pipeline/config/step.md
  docs/zh/docs/amamba/user-guide/pipeline/create/custom.md
  docs/zh/docs/amamba/user-guide/pipeline/create/jenkins.md
  docs/zh/docs/amamba/user-guide/pipeline/create/mutilpipeline.md
  docs/zh/docs/amamba/user-guide/pipeline/create/template.md
  docs/zh/docs/amamba/user-guide/pipeline/credential.md
  docs/zh/docs/amamba/user-guide/pipeline/edit.md
  docs/zh/docs/amamba/user-guide/pipeline/install-jenkins.md
  docs/zh/docs/amamba/user-guide/pipeline/run/manual.md
  docs/zh/docs/amamba/user-guide/pipeline/run/trigger.md
  docs/zh/docs/amamba/user-guide/pipeline/template/custom-template.md
  docs/zh/docs/amamba/user-guide/pipeline/template/info.md
  docs/zh/docs/amamba/user-guide/pipeline/view/view-pipeline.md
  docs/zh/docs/amamba/user-guide/pipeline/view/view-run.md
  docs/zh/docs/amamba/user-guide/project-mangement/issue.md
  docs/zh/docs/amamba/user-guide/release/blue-green.md
  docs/zh/docs/amamba/user-guide/release/canary.md
  docs/zh/docs/amamba/user-guide/release/check-canary.md
  docs/zh/docs/amamba/user-guide/tools/integrated-toolchain.md
  docs/zh/docs/amamba/user-guide/tools/toolchain-instances.md
  docs/zh/docs/amamba/user-guide/wizard/create-app-git.md
  docs/zh/docs/amamba/user-guide/wizard/helm.md
  docs/zh/docs/amamba/user-guide/wizard/jar-java-app.md
Labels: amamba, zh

#3077 Draft:update docs info
  docs/en/docs/kpanda/user-guide/gpu/Ascend_usage.md
  docs/en/docs/kpanda/user-guide/gpu/nvidia/mig/mig_usage.md
  docs/en/docs/kpanda/user-guide/gpu/nvidia/vgpu/vgpu_user.md
  docs/zh/docs/kpanda/best-practice/add-worker-node-on-global.md
  docs/zh/docs/kpanda/user-guide/gpu/nvidia/mig/mig_usage.md
  docs/zh/docs/kpanda/user-guide/gpu/nvidia/vgpu/vgpu_user.md
  docs/zh/docs/kpanda/user-guide/scale/install-metrics-server.md
Labels: kpanda, zh, en

#3084 fix images in Image List
  docs/en/docs/kangaroo/images/push00.png
  docs/en/docs/kangaroo/images/push01.png
  docs/en/docs/kangaroo/space/imagelist.md
Labels: en, kangaroo

#3080 [en] Add release notes dce-20231130
  docs/en/docs/dce/dce-rn/20231130.md
Labels: en, dce

#3085 fix typos in amamba
  docs/en/docs/amamba/pluggable-components.md
  docs/zh/docs/amamba/pluggable-components.md
Labels: amamba, zh, en

#3089 update kant & kpanda user guide
  docs/zh/docs/kant/user-guide/edge-network/deploy-edgemesh.md
  docs/zh/docs/kpanda/user-guide/clusters/integrate-rancher-cluster.md
Labels: kpanda, zh, kant

#3096 add note source ip
  docs/zh/docs/ghippo/user-guide/audit/source-ip.md
Labels: ghippo, zh

#3108 fix pause images
  docs/zh/docs/kant/user-guide/node/managed-node.md
Labels: zh, kant

#3109 [zh] Update two pages for kpanda
  docs/en/docs/kpanda/user-guide/scale/install-metrics-server.md
  docs/zh/docs/kpanda/user-guide/scale/install-metrics-server.md
Labels: kpanda, zh, en

#3116 Example Modify the default session timeout policy
  docs/en/docs/ghippo/install/login.md
  docs/zh/docs/ghippo/install/login.md
Labels: ghippo, zh, en

#3110 Modify the name length limit
  docs/en/docs/kant/user-guide/device/create-device.md
  docs/en/docs/kant/user-guide/edge-unit/create-unit.md
  docs/en/docs/kant/user-guide/node-group/create-group.md
  docs/en/docs/kant/user-guide/node/batch-registration.md
  docs/zh/docs/kant/user-guide/device/create-device.md
  docs/zh/docs/kant/user-guide/edge-unit/create-unit.md
  docs/zh/docs/kant/user-guide/node-group/create-group.md
  docs/zh/docs/kant/user-guide/node/batch-registration.md
Labels: zh, en, kant

#3122 Update amamba bold text
  docs/zh/docs/amamba/faq/faq-jenkins.md
  docs/zh/docs/amamba/intro/release-notes.md
  docs/zh/docs/amamba/offline-upgrade.md
  docs/zh/docs/amamba/pluggable-components.md
  docs/zh/docs/amamba/quickstart/argocd-rollout.md
  docs/zh/docs/amamba/quickstart/deploy-pipeline.md
  docs/zh/docs/amamba/quickstart/jenkins-HA.md
  docs/zh/docs/amamba/quickstart/jenkins-custom.md
  docs/zh/docs/amamba/quickstart/pipeline-on-node.md
  docs/zh/docs/amamba/quickstart/scan-with-harbor.md
  docs/zh/docs/amamba/quickstart/scan-with-pipeline.md
  docs/zh/docs/amamba/quickstart/scenarios-config.md
  docs/zh/docs/amamba/user-guide/gitops/create-argo-cd.md
  docs/zh/docs/amamba/user-guide/gitops/import-repo.md
  docs/zh/docs/amamba/user-guide/gitops/sync-manually.md
  docs/zh/docs/amamba/user-guide/namespace/namespace.md
  docs/zh/docs/amamba/user-guide/native/manage.md
  docs/zh/docs/amamba/user-guide/native/native-app.md
  docs/zh/docs/amamba/user-guide/oam/manage.md
  docs/zh/docs/amamba/user-guide/pipeline/config/agent.md
  docs/zh/docs/amamba/user-guide/pipeline/config/concept.md
  docs/zh/docs/amamba/user-guide/pipeline/config/step.md
  docs/zh/docs/amamba/user-guide/pipeline/create/custom.md
  docs/zh/docs/amamba/user-guide/pipeline/create/jenkins.md
  docs/zh/docs/amamba/user-guide/pipeline/create/mutilpipeline.md
  docs/zh/docs/amamba/user-guide/pipeline/create/template.md
  docs/zh/docs/amamba/user-guide/pipeline/credential.md
  docs/zh/docs/amamba/user-guide/pipeline/edit.md
  docs/zh/docs/amamba/user-guide/pipeline/install-jenkins.md
  docs/zh/docs/amamba/user-guide/pipeline/run/manual.md
  docs/zh/docs/amamba/user-guide/pipeline/run/trigger.md
  docs/zh/docs/amamba/user-guide/pipeline/template/custom-template.md
  docs/zh/docs/amamba/user-guide/pipeline/template/info.md
  docs/zh/docs/amamba/user-guide/pipeline/view/view-run.md
  docs/zh/docs/amamba/user-guide/project-mangement/issue.md
  docs/zh/docs/amamba/user-guide/release/check-canary.md
  docs/zh/docs/amamba/user-guide/tools/integrated-toolchain.md
  docs/zh/docs/amamba/user-guide/wizard/create-app-git.md
  docs/zh/docs/amamba/user-guide/wizard/jar-java-app.md
Labels: amamba, zh

#3124 update runtime requirement
  docs/zh/docs/kpanda/user-guide/clusters/runtime.md
Labels: kpanda, zh

#3123 【ghippo】Changing the default Role
  docs/en/docs/dce/terms.md
  docs/en/docs/ghippo/intro/glossary.md
  docs/en/docs/ghippo/user-guide/access-control/docking.md
  docs/en/docs/ghippo/user-guide/access-control/group.md
  docs/en/docs/ghippo/user-guide/access-control/user.md
  docs/zh/docs/dce/terms.md
  docs/zh/docs/ghippo/intro/glossary.md
  docs/zh/docs/ghippo/user-guide/access-control/docking.md
  docs/zh/docs/ghippo/user-guide/access-control/group.md
  docs/zh/docs/ghippo/user-guide/access-control/iam.md
  docs/zh/docs/ghippo/user-guide/access-control/user.md
Labels: ghippo, zh, en, dce

#3126 add images in kangaroo
  docs/en/docs/kangaroo/images/reclaim03.png
  docs/en/docs/kangaroo/space/reclaim.md
  docs/zh/docs/kangaroo/space/reclaim.md
Labels: zh, en, kangaroo

#3131 Migrate to bold font in zh-blog folder
  docs/zh/docs/blogs/220808-kairship.md
  docs/zh/docs/blogs/221026-kpanda.md
  docs/zh/docs/blogs/221209-k8s-1.26.md
  docs/zh/docs/blogs/230301-kwok.md
  docs/zh/docs/blogs/230315-install-on-linux.md
  docs/zh/docs/blogs/230315-install-on-macos.md
  docs/zh/docs/blogs/230405-step-by-step-dce5.md
  docs/zh/docs/blogs/230411-spiderpool.md
  docs/zh/docs/blogs/230412-k8s-1.27.md
  docs/zh/docs/blogs/230418-karmada-failover.md
  docs/zh/docs/blogs/230427-victoriametrics.md
  docs/zh/docs/blogs/230428-pod-startup.md
  docs/zh/docs/blogs/230508-cilium.md
  docs/zh/docs/blogs/230509-k8s-install.md
  docs/zh/docs/blogs/230518-seccom.md
  docs/zh/docs/blogs/230609-istio118.md
  docs/zh/docs/blogs/230612-ray.md
  docs/zh/docs/blogs/230615-ray.md
  docs/zh/docs/blogs/230808-k8sgpt.md
  docs/zh/docs/blogs/230815-k8s1.28.md
  docs/zh/docs/blogs/230824-tools.md
  docs/zh/docs/blogs/231115-k8s-1.29-changes.md
  docs/zh/docs/blogs/index.md
Labels: zh, blogs

#3130 add kangaroo-integrate images
  docs/en/docs/kangaroo/images/integrated01.png
  docs/zh/docs/kangaroo/images/integrated01.png
Labels: zh, en, kangaroo

#3132 fix code styles
  docs/en/docs/storage/hwameistor/resources/expand.md
Labels: en, storage

#3133 update hwameistor codes
  docs/en/docs/storage/hwameistor/resources/storagepool.md
  docs/zh/docs/storage/hwameistor/resources/storagepool.md
Labels: zh, en, storage

#3134 [ghippo] Example Change the Super Admin role to Admin
  docs/en/docs/ghippo/intro/features.md
  docs/en/docs/ghippo/intro/glossary.md
  docs/en/docs/ghippo/user-guide/access-control/iam.md
  docs/zh/docs/dce/terms.md
  docs/zh/docs/ghippo/intro/features.md
  docs/zh/docs/ghippo/intro/glossary.md
Labels: ghippo, zh, en, dce

#3135 Add a blog: k8s 1.29 released
  docs/en/docs/blogs/230815-k8s1.28.md
  docs/zh/docs/blogs/230815-k8s1.28.md
  docs/zh/docs/blogs/231213-k8s-1.29.md
  docs/zh/docs/blogs/images/kubernetes-1.29.png
  docs/zh/docs/blogs/index.md
  docs/zh/navigation.yml
Labels: zh, en, blogs

#3136 [en] Add a blog: k8s 1.29 released
  docs/en/docs/blogs/231213-k8s-1.29.md
  docs/en/docs/blogs/images/kubernetes-1.29.png
  docs/en/docs/blogs/index.md
  docs/en/navigation.yml
Labels: en, blogs

#3138 update hwameistor
  docs/en/docs/storage/hwameistor/img/migrationaction-01.png
  docs/en/docs/storage/hwameistor/img/unboundpvc-01.png
  docs/en/docs/storage/hwameistor/resources/migrate.md
  docs/zh/docs/storage/hwameistor/images/unboundpvc-01.png
  docs/zh/docs/storage/hwameistor/resources/migrate.md
Labels: zh, en, storage

#3137 [en] Add a blog: performance of bare metal vs vm
  docs/en/docs/blogs/231205-vm-bm-compare.md
  docs/en/docs/blogs/images/vm00.png
  docs/en/docs/blogs/images/vm01.png
  docs/en/docs/blogs/images/vm02.png
  docs/en/docs/blogs/images/vm03.png
  docs/en/docs/blogs/images/vm04.png
  docs/en/docs/blogs/images/vm05.png
  docs/en/docs/blogs/images/vm06.png
  docs/en/docs/blogs/images/vm07.png
  docs/en/docs/blogs/images/vm08.png
  docs/en/docs/blogs/images/vm09.png
  docs/en/docs/blogs/images/vm10.png
  docs/en/docs/blogs/images/vm11.png
  docs/en/docs/blogs/images/vm12.png
  docs/en/docs/blogs/index.md
  docs/en/navigation.yml
Labels: en, blogs

#3140 modify HwameiStor expressions
  docs/en/docs/storage/hwameistor/install/post-check.md
  docs/zh/docs/storage/hwameistor/install/post-check.md
Labels: zh, en, storage

#3141 update HwameiStor codes
  docs/en/docs/storage/hwameistor/resources/lvm-nodes.md
  docs/zh/docs/storage/hwameistor/resources/lvm-nodes.md
Labels: zh, en, storage

#3144 update HwameiStor-expand
  docs/en/docs/storage/hwameistor/resources/expand.md
  docs/zh/docs/storage/hwameistor/resources/expand.md
Labels: zh, en, storage

#3145 update kairship images
  docs/zh/docs/kairship/images/promote01.jpg
  docs/zh/docs/kairship/images/promote01.png
  docs/zh/docs/kairship/workload/promote.md
Labels: kairship, zh

#3147 mysql: 优化命令行方便复制
  docs/zh/docs/middleware/mysql/faq/faq-master-slave.md
Labels: midware, zh

#3148 update kangaroo images
  docs/en/docs/kangaroo/images/admin01.png
  docs/en/docs/kangaroo/images/admin02.png
  docs/en/docs/kangaroo/images/admin03.png
  docs/en/docs/kangaroo/images/admin04.png
  docs/en/docs/kangaroo/quickstart/admin-registry.md
Labels: en, kangaroo

#3149 add kangaroo-spacescan images
  docs/en/docs/kangaroo/images/scan01.png
  docs/en/docs/kangaroo/images/scan02.png
  docs/en/docs/kangaroo/images/scan03.png
  docs/en/docs/kangaroo/images/scan04.png
  docs/en/docs/kangaroo/images/scan05.png
  docs/en/docs/kangaroo/images/scan06.png
  docs/en/docs/kangaroo/images/scan07.png
  docs/en/docs/kangaroo/images/scan08.png
  docs/en/docs/kangaroo/space/scan.md
Labels: en, kangaroo

#3151 update kangaroo-quickstart codes
  docs/en/docs/kangaroo/quickstart/push.md
  docs/zh/docs/kangaroo/quickstart/push.md
Labels: zh, en, kangaroo

#3153 modify kangaroo-quickstart expressions
  docs/en/docs/kangaroo/quickstart/registry-in-one.md
  docs/zh/docs/kangaroo/quickstart/registry-in-one.md
Labels: zh, en, kangaroo

#3159 add amamba oam version
  docs/zh/docs/amamba/images/oam-version.png
  docs/zh/docs/amamba/images/rollback01.png
  docs/zh/docs/amamba/images/rollback02.png
  docs/zh/docs/amamba/images/rollback03.png
  docs/zh/docs/amamba/user-guide/oam/manage.md
Labels: amamba, zh

#3143 Add a blog: openatom awards in daocloud
  docs/zh/docs/blogs/231216-atom.md
  docs/zh/docs/blogs/images/caiwei01.png
  docs/zh/docs/blogs/images/daocloud01.png
  docs/zh/docs/blogs/images/lihai01.png
  docs/zh/docs/blogs/images/michael01.png
  docs/zh/docs/blogs/images/paco01.png
  docs/zh/docs/blogs/images/shiming00.png
  docs/zh/docs/blogs/images/xiaopeng01.png
  docs/zh/docs/blogs/images/zhangxiao01.png
Labels: wip, zh, blogs

#3162 Fix a typo in blog openatom
  docs/zh/docs/blogs/231216-atom.md
Labels: zh, blogs

#3160 add amamba docs bluegreen
  docs/zh/docs/amamba/images/blue01.png
  docs/zh/docs/amamba/images/blue02.png
  docs/zh/docs/amamba/images/blue03.png
  docs/zh/docs/amamba/images/blue04.png
  docs/zh/docs/amamba/images/blue05.png
  docs/zh/docs/amamba/user-guide/release/check-bluegreen.md
  docs/zh/navigation.yml
Labels: amamba, zh

#3164 add kangaroo-registryspace image
  docs/en/docs/kangaroo/images/reg-space03.png
  docs/en/docs/kangaroo/integrate/registry-space.md
  docs/zh/docs/kangaroo/integrate/registry-space.md
Labels: zh, en, kangaroo

#3165 fix kangaroo-intro typos
  docs/en/docs/kangaroo/intro/index.md
Labels: en, kangaroo

#3166 [en] Add two blue/green pages
  docs/en/docs/amamba/images/blue-green01.png
  docs/en/docs/amamba/images/blue-green02.png
  docs/en/docs/amamba/images/blue-green03.png
  docs/en/docs/amamba/images/blue02.png
  docs/en/docs/amamba/images/blue03.png
  docs/en/docs/amamba/images/blue04.png
  docs/en/docs/amamba/images/blue05.png
  docs/en/docs/amamba/user-guide/release/blue-green.md
  docs/en/docs/amamba/user-guide/release/check-bluegreen.md
  docs/en/navigation.yml
  docs/zh/docs/amamba/user-guide/release/blue-green.md
  docs/zh/docs/amamba/user-guide/release/check-bluegreen.md
Labels: amamba, zh, en

#3168 [en] add ghippo-accesscontrol images
  docs/en/docs/ghippo/user-guide/access-control/user.md
  docs/en/docs/ghippo/user-guide/images/authorize01.png
  docs/en/docs/ghippo/user-guide/images/authorize02.png
  docs/en/docs/ghippo/user-guide/images/createuser03.png
  docs/en/docs/ghippo/user-guide/images/deleteuser01.png
  docs/en/docs/ghippo/user-guide/images/deleteuser02.png
  docs/en/docs/ghippo/user-guide/images/enableuser01.png
  docs/en/docs/ghippo/user-guide/images/enableuser02.png
  docs/en/docs/ghippo/user-guide/images/joingroup01.png
  docs/en/docs/ghippo/user-guide/images/joingroup02.png
  docs/en/docs/ghippo/user-guide/images/mailbox.png
  docs/zh/docs/ghippo/user-guide/access-control/user.md
Labels: ghippo, zh, en

#3169 Fix issue #3128
  docs/en/docs/amamba/images/oam001.png
  docs/en/docs/amamba/user-guide/oam/concept.md
  docs/zh/docs/amamba/user-guide/oam/concept.md
Labels: amamba, zh, en

#3170 fix kairship-introfeatures typos
  docs/en/docs/kairship/intro/features.md
  docs/zh/docs/kairship/intro/features.md
Labels: kairship, zh, en

#3176 [en] add kairship-resourcens images
  docs/en/docs/kairship/images/ns01.png
  docs/en/docs/kairship/images/ns02.png
  docs/en/docs/kairship/images/ns03.png
  docs/en/docs/kairship/resource/ns.md
Labels: kairship, en

#3173 update hwameistore drdb
  docs/zh/docs/storage/hwameistor/intro/drbd-support.md
  docs/zh/navigation.yml
Labels: zh, storage

#3174 [en] add kairship-service images
  docs/en/docs/kairship/images/service01.png
  docs/en/docs/kairship/images/service02.png
  docs/en/docs/kairship/images/service03.png
  docs/en/docs/kairship/images/service04.png
  docs/en/docs/kairship/images/service05.png
  docs/en/docs/kairship/resource/service.md
  docs/zh/docs/kairship/images/service01.png
  docs/zh/docs/kairship/resource/service.md
Labels: kairship, zh, en

#3172 update Spiderpool ippool usage
  docs/zh/docs/network/modules/spiderpool/createpool.md
  docs/zh/docs/network/modules/spiderpool/usage.md
Labels: zh, network

#3180 add kairship-configmap images
  docs/en/docs/kairship/images/config01.png
  docs/en/docs/kairship/images/config02.png
  docs/en/docs/kairship/images/config03.png
  docs/en/docs/kairship/resource/configmap.md
Labels: kairship, en

#3181 add kairship-secret images
  docs/en/docs/kairship/images/secret01.png
  docs/en/docs/kairship/images/secret02.png
  docs/en/docs/kairship/images/secret03.png
  docs/en/docs/kairship/resource/secret.md
Labels: kairship, en

#3182 virtnest-update name
  docs/zh/docs/images/kairship.png
  docs/zh/docs/images/virtnest.png
  docs/zh/docs/index.md
  docs/zh/docs/virtnest/install/offline-install.md
  docs/zh/docs/virtnest/intro/index.md
  docs/zh/docs/virtnest/intro/install.md
  docs/zh/docs/virtnest/intro/release-notes.md
  docs/zh/docs/virtnest/quick-start/create-image.md
  docs/zh/docs/virtnest/quick-start/create-tep.md
  docs/zh/docs/virtnest/quick-start/index.md
  docs/zh/navigation.yml
Labels: zh, virtnest

#3184 Add kairship-ingress images
  docs/en/docs/kairship/images/create-ingress01.png
  docs/en/docs/kairship/images/create-ingress02.png
  docs/en/docs/kairship/images/create-ingress03.png
  docs/en/docs/kairship/images/create-ingress04.png
  docs/en/docs/kairship/resource/ingress.md
  docs/zh/docs/kairship/images/create-ingress01.png
  docs/zh/docs/kairship/resource/ingress.md
Labels: kairship, zh, en

#3183 add photos to openatom blog
  docs/zh/docs/blogs/231216-atom.md
  docs/zh/docs/blogs/images/award.png
  docs/zh/docs/blogs/images/award01.jpeg
  docs/zh/docs/blogs/images/lihai.jpg
  docs/zh/docs/blogs/images/xiaoge.jpg
Labels: zh, blogs

#3185 update index images
  docs/zh/docs/index.md
  docs/zh/images/09cloud-edge-update.png
  docs/zh/images/kairship.png
  docs/zh/images/virtnest.png
Labels: zh

#3191 add kairship-update-service images
  docs/en/docs/kairship/images/update-service01.png
  docs/en/docs/kairship/images/update-service02.png
  docs/en/docs/kairship/images/update-service03.png
  docs/en/docs/kairship/resource/update-service.md
  docs/zh/docs/kairship/images/update-service01.png
  docs/zh/docs/kairship/resource/update-service.md
Labels: kairship, zh, en

#3192 add kairship-update-secret images
  docs/en/docs/kairship/images/update-secret01.png
  docs/en/docs/kairship/images/update-secret02.png
  docs/en/docs/kairship/images/update-secret03.png
  docs/en/docs/kairship/resource/update-secret.md
  docs/zh/docs/kairship/resource/update-secret.md
Labels: kairship, zh, en

#3195 add kairship-update-configmap images
  docs/en/docs/kairship/images/up-configmap01.png
  docs/en/docs/kairship/images/up-configmap02.png
  docs/en/docs/kairship/images/up-configmap03.png
  docs/en/docs/kairship/resource/update-configmap.md
  docs/zh/docs/kairship/resource/update-configmap.md
Labels: kairship, zh, en

#3196 add kairship-update-ingress images
  docs/en/docs/kairship/images/update-ingress01.png
  docs/en/docs/kairship/images/update-ingress02.png
  docs/en/docs/kairship/images/update-ingress03.png
  docs/en/docs/kairship/resource/update-ingress.md
  docs/zh/docs/kairship/resource/update-ingress.md
Labels: kairship, zh, en

#3193 update insight probe page
  docs/zh/docs/insight/images/probe04.png
  docs/zh/docs/insight/images/probe05.png
  docs/zh/docs/insight/user-guide/scenario-insight/probe.md
Labels: insight, zh

#3200 add kairship-propagation images
  docs/en/docs/kairship/images/pp-new01.png
  docs/en/docs/kairship/images/pp-new02.png
  docs/en/docs/kairship/images/pp-new03.png
  docs/en/docs/kairship/images/pp01.png
  docs/en/docs/kairship/images/pp02.png
  docs/en/docs/kairship/policy/propagation.md
  docs/zh/docs/kairship/policy/propagation.md
Labels: kairship, zh, en

#3198 Add a homepage to skoala
  docs/zh/docs/skoala/images/archi.png
  docs/zh/docs/skoala/intro/features.md
  docs/zh/docs/skoala/intro/index.md
  docs/zh/navigation.yml
Labels: skoala, zh

#3202 update error
  docs/zh/docs/install/community/k8s/k8s-dce-deploy.md
  docs/zh/navigation.yml
Labels: installer, zh

#3203 Update sonarqube settings in jenkins（amamba/2096）
  docs/zh/docs/amamba/images/install-jenkins06.png
  docs/zh/docs/amamba/images/install-jenkins07.png
  docs/zh/docs/amamba/images/install-jenkins08.png
  docs/zh/docs/amamba/user-guide/pipeline/install-jenkins.md
Labels: amamba, zh

#3208 add vscode skills
  docs/zh/docs/native/knowledge/git/github.md
  docs/zh/docs/native/knowledge/git/vscode.md
  docs/zh/docs/native/knowledge/images/vscode01.png
  docs/zh/docs/native/knowledge/images/vscode02.png
  docs/zh/docs/native/knowledge/images/vscode03.png
  docs/zh/navigation.yml
Labels: zh, native

#3210 Fix issues in blogs
  docs/en/docs/blogs/220808-kairship.md
  docs/en/docs/blogs/221026-kpanda.md
  docs/en/docs/blogs/221209-k8s-1.26.md
  docs/en/docs/blogs/230301-kwok.md
  docs/en/docs/blogs/230315-install-on-linux.md
  docs/en/docs/blogs/230315-install-on-macos.md
  docs/en/docs/blogs/230405-step-by-step-dce5.md
  docs/en/docs/blogs/230411-spiderpool.md
  docs/en/docs/blogs/230412-k8s-1.27.md
  docs/en/docs/blogs/230418-karmada-failover.md
  docs/en/docs/blogs/230427-victoriametrics.md
  docs/en/docs/blogs/230428-pod-startup.md
  docs/en/docs/blogs/230508-cilium.md
  docs/en/docs/blogs/230509-k8s-install.md
  docs/en/docs/blogs/230518-seccom.md
  docs/en/docs/blogs/230601-api-server-tracing.md
  docs/en/docs/blogs/230609-istio118.md
  docs/en/docs/blogs/230612-ray.md
  docs/en/docs/blogs/230615-ray.md
  docs/en/docs/blogs/230808-k8sgpt.md
  docs/en/docs/blogs/230815-k8s1.28.md
  docs/en/docs/blogs/231115-k8s-1.29-changes.md
  docs/en/docs/blogs/231213-k8s-1.29.md
  docs/en/docs/blogs/index.md
  docs/en/docs/dce/dce-rn/20230531.md
  docs/en/docs/dce/dce-rn/20230630.md
  docs/en/docs/dce/dce-rn/20230731.md
  docs/en/docs/dce/dce-rn/20230831.md
  docs/en/docs/dce/dce-rn/20231031.md
  docs/en/docs/dce/dce-rn/20231130.md
  docs/en/docs/dce/license0.md
  docs/en/docs/dce/terms.md
  docs/zh/docs/blogs/230427-victoriametrics.md
  docs/zh/docs/blogs/230609-istio118.md
  docs/zh/docs/dce/dce-rn/20230531.md
  docs/zh/docs/dce/dce-rn/20230630.md
  docs/zh/docs/dce/dce-rn/20230731.md
  docs/zh/docs/dce/dce-rn/20230831.md
  docs/zh/docs/dce/dce-rn/20231031.md
  docs/zh/docs/dce/dce-rn/20231130.md
  docs/zh/docs/dce/license0.md
  docs/zh/docs/dce/terms.md
  docs/zh/docs/skoala/reference/insight.md
Labels: skoala, zh, en, blogs, dce

#3211 Update skoala-init document's error description
  docs/en/docs/skoala/quickstart/skoala-init.md
  docs/zh/docs/skoala/quickstart/skoala-init.md
Labels: skoala, zh, en

#3213 download: insight version updated to v0.22.1
  docs/zh/docs/download/index.md
  docs/zh/docs/download/modules/insight.md
Labels: download, zh

#3201 update insight-kafka.md
  docs/zh/docs/insight/best-practice/insight-kafka.md
Labels: insight, zh

#3217 update kairship backticks to bold for ui terms
  docs/en/docs/kairship/best-practice/fhpa.md
  docs/en/docs/kairship/best-practice/one-click-conversion.md
  docs/en/docs/kairship/cluster.md
  docs/en/docs/kairship/crds/crd.md
  docs/en/docs/kairship/failover/failover.md
  docs/en/docs/kairship/instance/add.md
  docs/en/docs/kairship/instance/delete.md
  docs/en/docs/kairship/intro/architecture.md
  docs/en/docs/kairship/intro/faq.md
  docs/en/docs/kairship/intro/features.md
  docs/en/docs/kairship/intro/offline-upgrade.md
  docs/en/docs/kairship/intro/release-notes.md
  docs/en/docs/kairship/policy/override.md
  docs/en/docs/kairship/policy/propagation.md
  docs/en/docs/kairship/resource/configmap.md
  docs/en/docs/kairship/resource/ingress.md
  docs/en/docs/kairship/resource/ns.md
  docs/en/docs/kairship/resource/secret.md
  docs/en/docs/kairship/resource/service.md
  docs/en/docs/kairship/resource/update-configmap.md
  docs/en/docs/kairship/resource/update-ingress.md
  docs/en/docs/kairship/resource/update-secret.md
  docs/en/docs/kairship/resource/update-service.md
  docs/en/docs/kairship/workload/cronjob.md
  docs/en/docs/kairship/workload/deployment.md
  docs/en/docs/kairship/workload/job.md
  docs/en/docs/kairship/workload/promote.md
  docs/en/docs/kairship/workload/update-deployment.md
  docs/en/docs/kairship/workload/yaml.md
  docs/en/docs/kairship/workspace.md
  docs/zh/docs/kairship/best-practice/fhpa.md
  docs/zh/docs/kairship/best-practice/one-click-conversion.md
  docs/zh/docs/kairship/cluster.md
  docs/zh/docs/kairship/crds/crd.md
  docs/zh/docs/kairship/failover/failover.md
  docs/zh/docs/kairship/instance/add.md
  docs/zh/docs/kairship/instance/delete.md
  docs/zh/docs/kairship/intro/architecture.md
  docs/zh/docs/kairship/intro/faq.md
  docs/zh/docs/kairship/intro/offline-upgrade.md
  docs/zh/docs/kairship/policy/override.md
  docs/zh/docs/kairship/policy/propagation.md
  docs/zh/docs/kairship/resource/configmap.md
  docs/zh/docs/kairship/resource/ingress.md
  docs/zh/docs/kairship/resource/ns.md
  docs/zh/docs/kairship/resource/secret.md
  docs/zh/docs/kairship/resource/service.md
  docs/zh/docs/kairship/resource/update-configmap.md
  docs/zh/docs/kairship/resource/update-ingress.md
  docs/zh/docs/kairship/resource/update-secret.md
  docs/zh/docs/kairship/resource/update-service.md
  docs/zh/docs/kairship/workload/cronjob.md
  docs/zh/docs/kairship/workload/deployment.md
  docs/zh/docs/kairship/workload/job.md
  docs/zh/docs/kairship/workload/promote.md
  docs/zh/docs/kairship/workload/update-deployment.md
  docs/zh/docs/kairship/workload/yaml.md
  docs/zh/docs/kairship/workspace.md
Labels: kairship, zh, en

#3206 upadate lcm and kant
  docs/zh/docs/kant/user-guide/edge-network/deploy-edgemesh.md
  docs/zh/docs/kpanda/user-guide/clusters/upgrade-cluster.md
Labels: kpanda, zh, kant

#3216 Add rls step based on IP
  docs/zh/docs/skoala/best-practice/global-ratelimit.md
  docs/zh/docs/skoala/images/rls-ip-rule.png
Labels: skoala, zh

#3218 update homepage
  docs/zh/docs/dce/index.md
Labels: zh, dce

#3219 download: amamba version updated to v0.22.0
  docs/zh/docs/download/modules/amamba.md
Labels: download, zh

#3237 update ippool usage
  docs/zh/docs/network/images/zone-beijing.jpg
  docs/zh/docs/network/modules/spiderpool/createpool.md
  docs/zh/docs/network/modules/spiderpool/usage.md
Labels: zh, network

#3239 update offline install to remove containerRepository
  docs/en/docs/insight/quickstart/install/offline-install.md
  docs/zh/docs/insight/quickstart/install/offline-install.md
Labels: insight, zh, en

#3250 add kairship-override images
  docs/en/docs/kairship/images/op001.png
  docs/en/docs/kairship/images/op002.png
  docs/en/docs/kairship/images/op003.png
  docs/en/docs/kairship/images/op004.png
  docs/en/docs/kairship/images/op005.png
  docs/en/docs/kairship/images/op006.png
  docs/en/docs/kairship/images/op007.png
  docs/en/docs/kairship/images/op008.png
  docs/en/docs/kairship/policy/override.md
  docs/zh/docs/kairship/policy/override.md
Labels: kairship, zh, en

#3249 update 20231130 rn
  docs/en/docs/dce/dce-rn/20231130.md
  docs/en/docs/dce/index.md
  docs/zh/docs/dce/dce-rn/20231130.md
  docs/zh/docs/dce/index.md
Labels: zh, en, dce

#3238 Add a blog: spiderpool becomes a sandbox project
  docs/zh/docs/blogs/231220-spiderpool.md
  docs/zh/docs/blogs/images/roadmap.png
  docs/zh/docs/blogs/images/spider.png
  docs/zh/docs/blogs/images/vote.png
  docs/zh/docs/blogs/images/wechat.png
  docs/zh/docs/blogs/index.md
  docs/zh/navigation.yml
Labels: zh, blogs

#3252 [en] Add a homepage to skoala
  docs/en/docs/skoala/intro/features.md
  docs/en/docs/skoala/intro/index.md
  docs/en/navigation.yml
Labels: skoala, en

#3256 [en] add insight-install-agent images
  docs/en/docs/insight/quickstart/images/insight-agent01.png
  docs/en/docs/insight/quickstart/images/insight-agent02.png
  docs/en/docs/insight/quickstart/images/insight-agent03.png
  docs/en/docs/insight/quickstart/images/insight-agent04-1.png
  docs/en/docs/insight/quickstart/images/insight-agent04-2.png
  docs/en/docs/insight/quickstart/images/insight-agent05.png
  docs/en/docs/insight/quickstart/install/install-agent.md
  docs/zh/docs/insight/quickstart/install/install-agent.md
Labels: insight, zh, en

#3253 update auth username/password
  docs/en/docs/insight/quickstart/install/offline-install.md
  docs/zh/docs/insight/quickstart/install/offline-install.md
Labels: insight, zh, en

#3257 update insight-probe video
  docs/zh/docs/videos/images/insight-probe.png
  docs/zh/docs/videos/insight.md
Labels: zh, videos

#3259 update rdma docs
  docs/zh/docs/network/config/multus-cr.md
  docs/zh/docs/network/images/rdma_macvlan01.jpg
  docs/zh/docs/network/images/rdma_macvlan02.jpg
  docs/zh/docs/network/images/rdma_sriov01.jpg
  docs/zh/docs/network/images/rdma_usage01.jpg
  docs/zh/docs/network/images/rdma_usage02.jpg
  docs/zh/docs/network/images/sriov01.jpg
  docs/zh/docs/network/images/sriov02.jpg
  docs/zh/docs/network/images/sriov03.jpg
  docs/zh/docs/network/images/sriov04.jpg
  docs/zh/docs/network/images/sriov05.jpg
  docs/zh/docs/network/images/sriov06.jpg
  docs/zh/docs/network/modules/spiderpool/createpool.md
  docs/zh/docs/network/modules/spiderpool/rdmapara.md
  docs/zh/docs/network/modules/spiderpool/userdma.md
  docs/zh/navigation.yml
Labels: zh, network

#3258 [en] move the navigation bar structure
  docs/en/navigation.yml
Labels: en

#3261 mspier add fault noetbook
  docs/zh/docs/mspider/troubleshoot/cluster-already-exist.md
  docs/zh/docs/mspider/troubleshoot/cluster-interconnect.md
  docs/zh/docs/mspider/troubleshoot/images/mc-delete-01.png
  docs/zh/docs/mspider/troubleshoot/images/mspider-topology-01.png
  docs/zh/docs/mspider/troubleshoot/images/restart-gateway-01.png
  docs/zh/docs/mspider/troubleshoot/images/service-list-check-01.png
  docs/zh/docs/mspider/troubleshoot/images/sidecar-find-flag-01.png
  docs/zh/docs/mspider/troubleshoot/images/sidecar-find-flag-02.png
  docs/zh/docs/mspider/troubleshoot/images/sidecar-memory-query-01.png
  docs/zh/docs/mspider/troubleshoot/index.md
  docs/zh/docs/mspider/troubleshoot/sidecar-memory-err.md
  docs/zh/navigation.yml
Labels: mspider, zh

#3260 update insight-install-agentindce contents
  docs/en/docs/insight/quickstart/other/install-agentindce.md
Labels: insight, en

#3263 add insight-vms-disk images
  docs/en/docs/insight/quickstart/images/vmdisk01.png
  docs/en/docs/insight/quickstart/images/vmdisk02.png
  docs/en/docs/insight/quickstart/images/vmdisk03.png
  docs/en/docs/insight/quickstart/images/vmdisk04.png
  docs/en/docs/insight/quickstart/images/vmdisk05.png
  docs/en/docs/insight/quickstart/images/vmdisk06.png
  docs/en/docs/insight/quickstart/images/vmdisk07.png
  docs/en/docs/insight/quickstart/images/vmdisk08.png
  docs/en/docs/insight/quickstart/images/vmdisk09.png
  docs/en/docs/insight/quickstart/images/vmdisk10.png
  docs/en/docs/insight/quickstart/images/vmdisk11.png
  docs/en/docs/insight/quickstart/images/vmdisk12.png
  docs/en/docs/insight/quickstart/images/vmdisk13.png
  docs/en/docs/insight/quickstart/images/vmdisk14.png
  docs/en/docs/insight/quickstart/res-plan/modify-vms-disk.md
  docs/zh/docs/insight/quickstart/res-plan/modify-vms-disk.md
Labels: insight, zh, en

#3265 Update 3 troubleshoot docs for mspider
  docs/en/docs/mspider/troubleshoot/always-in-creating.md
  docs/en/docs/mspider/troubleshoot/cluster-already-exist.md
  docs/zh/docs/mspider/troubleshoot/cluster-already-exist.md
  docs/zh/docs/mspider/troubleshoot/cluster-interconnect.md
  docs/zh/docs/mspider/troubleshoot/sidecar-memory-err.md
Labels: mspider, zh, en

#3266 modify mspider-sidecar-update expressions
  docs/en/docs/mspider/install/sidecar-update.md
Labels: mspider, en

#3262 upload helm install agent
  docs/zh/docs/insight/quickstart/install/helm-installagent.md
Labels: insight, zh

#3267 modify mspider-istio-update expressions
  docs/en/docs/mspider/images/IstioUpdate02.png
  docs/en/docs/mspider/images/IstioUpdate03.png
  docs/en/docs/mspider/images/IstioUpdate04.png
  docs/en/docs/mspider/images/IstioUpdate05.png
  docs/en/docs/mspider/install/istio-update.md
Labels: mspider, en

#3241 fix: install jenkins docs
  docs/en/docs/amamba/images/install-jenkins06.png
  docs/en/docs/amamba/images/install-jenkins07.png
  docs/en/docs/amamba/images/install-jenkins08.png
  docs/en/docs/amamba/user-guide/pipeline/install-jenkins.md
  docs/zh/docs/amamba/user-guide/pipeline/install-jenkins.md
Labels: amamba, zh, en

#3268 download: amamba version updated to v0.22.1
  docs/zh/docs/download/modules/amamba.md
Labels: download, zh

#3269 download: kant version updated to 0.7.0
  docs/zh/docs/download/modules/kant.md
Labels: download, zh

#3275 update rdmadoc02
  docs/zh/docs/network/modules/spiderpool/rdmapara.md
Labels: zh, network

#3277 add kant-manage-unit images
  docs/en/docs/kant/user-guide/edge-unit/manage-unit.md
  docs/en/docs/kant/user-guide/images/manage-unit-01.png
  docs/en/docs/kant/user-guide/images/manage-unit-02.png
  docs/en/docs/kant/user-guide/images/manage-unit-03.png
  docs/en/docs/kant/user-guide/images/manage-unit-04.png
  docs/zh/docs/kant/user-guide/edge-unit/manage-unit.md
Labels: zh, en, kant

#3280 add kant-node group images
  docs/en/docs/kant/user-guide/images/create-group-01.png
  docs/en/docs/kant/user-guide/images/create-group-02.png
  docs/en/docs/kant/user-guide/images/manage-group-01.png
  docs/en/docs/kant/user-guide/images/manage-group-02.png
  docs/en/docs/kant/user-guide/images/manage-group-03.png
  docs/en/docs/kant/user-guide/node-group/create-group.md
  docs/en/docs/kant/user-guide/node-group/manage-group.md
  docs/zh/docs/kant/user-guide/node-group/manage-group.md
Labels: zh, en, kant

#3279 update ascend npu docs
  docs/zh/docs/kpanda/user-guide/gpu/Ascend_usage.md
  docs/zh/docs/kpanda/user-guide/gpu/ascend_driver_install.md
Labels: wip, kpanda, zh

#3278 update ingress performance
  docs/zh/docs/network/images/ingress-cpu-rps.png
  docs/zh/docs/network/images/ingress-nginx-arch.png
  docs/zh/docs/network/images/ingress-vm-cpu-rps.png
  docs/zh/docs/network/performance/ingress-performance.md
Labels: zh, network

#3283 fix newwork-spiderpool images
  docs/en/docs/network/images/networkconfig01.png
  docs/en/docs/network/images/subnet01.png
  docs/en/docs/network/images/subnet02.png
  docs/en/docs/network/images/subnet03.png
  docs/en/docs/network/images/subnet04.png
  docs/en/docs/network/images/subnet05.png
  docs/en/docs/network/modules/spiderpool/createpool.md
  docs/zh/docs/network/images/subnet04.png
  docs/zh/docs/network/images/subnet05.png
  docs/zh/docs/network/modules/spiderpool/createpool.md
Labels: zh, en, network

#3285 add network-spiderpool-install images
  docs/en/docs/network/images/spiderpool-helm.png
  docs/en/docs/network/images/spiderpool-install1.png
  docs/en/docs/network/images/spiderpool-install2.png
  docs/en/docs/network/images/spiderpool-install3.png
  docs/en/docs/network/images/spiderpool-install4.png
  docs/en/docs/network/images/spiderpool-install5.png
  docs/en/docs/network/modules/spiderpool/install.md
Labels: en, network
