Repository DaoCloud/DaoCloud-docs, pull requests merged in 2024-07, with the labels that each got.

#4751 update the docs for creating inspection config
  docs/zh/docs/kpanda/user-guide/inspect/config.md
Labels: kpanda, zh, size/XS

#4752 update codeowner list
  .github/CODEOWNERS
Labels: size/M

#4753 update codeowner list
  .github/CODEOWNERS
Labels: develop, size/M

#4754 fix-kpanda-cm-and-secret
  docs/zh/docs/kpanda/user-guide/configmaps-secrets/create-secret.md
  docs/zh/docs/kpanda/user-guide/configmaps-secrets/use-configmap.md
  docs/zh/docs/kpanda/user-guide/configmaps-secrets/use-secret.md
  docs/zh/docs/kpanda/user-guide/images/config06.png
  docs/zh/docs/kpanda/user-guide/images/secret04.png
  docs/zh/docs/kpanda/user-guide/images/secret08.png
Labels: kpanda, zh, size/XS

#4756 Update codeowner 4
  .github/CODEOWNERS
Labels: develop, size/L

#4755 Update offline-install.md
  docs/en/docs/ghippo/install/offline-install.md
Labels: ghippo, en, i18n, size/M

#4757 [en] Update amamba pipeline pics
  docs/en/docs/amamba/images/detail-pipeline1.png
  docs/en/docs/amamba/images/detail-pipeline2.png
  docs/en/docs/amamba/images/detail-pipeline3.png
  docs/en/docs/amamba/images/detail-run1.png
  docs/en/docs/amamba/images/detail-run2.png
  docs/en/docs/amamba/images/detail-run3.png
  docs/en/docs/amamba/images/detail-run4.png
  docs/en/docs/amamba/user-guide/pipeline/view/view-pipeline.md
  docs/en/docs/amamba/user-guide/pipeline/view/view-run.md
  docs/zh/docs/amamba/user-guide/pipeline/view/view-pipeline.md
  docs/zh/docs/amamba/user-guide/pipeline/view/view-run.md
Labels: amamba, zh, en, i18n, size/M

#4758 fix add worker node on global
  docs/zh/docs/kpanda/best-practice/add-worker-node-on-global.md
Labels: kpanda, zh, size/XS

#4759 [en] Update insight-alert-template
  docs/en/docs/insight/user-guide/alert-center/alert-template.md
  docs/en/docs/insight/user-guide/images/template01.png
  docs/en/docs/insight/user-guide/images/template02.png
  docs/en/docs/insight/user-guide/images/template03.png
  docs/en/docs/insight/user-guide/images/template04.png
  docs/en/docs/insight/user-guide/images/template05.png
  docs/zh/docs/insight/user-guide/alert-center/alert-template.md
Labels: insight, zh, en, i18n, size/M

#4760 download: gmagpie version updated to v0.7.0
  docs/zh/docs/download/modules/gmagpie.md
Labels: download, zh, size/XS

#4762 [en] Update insight-alert-center
  docs/en/docs/insight/user-guide/alert-center/inhibition.md
  docs/en/docs/insight/user-guide/alert-center/silent.md
  docs/en/docs/insight/user-guide/images/inhibition01.png
  docs/en/docs/insight/user-guide/images/inhibition02.png
  docs/en/docs/insight/user-guide/images/inhibition03.png
  docs/en/docs/insight/user-guide/images/inhibition04.png
  docs/zh/docs/insight/user-guide/alert-center/inhibition.md
Labels: insight, zh, en, i18n, size/M

#4761 add new relese v0.6.0
  docs/en/docs/baize/intro/release-notes.md
  docs/zh/docs/baize/intro/release-notes.md
Labels: zh, en, i18n, baize, size/M

#4765 update skoala release-notes to 0.38.1
  docs/zh/docs/skoala/intro/release-notes.md
Labels: skoala, zh, size/M

#4766 update release note
  docs/zh/docs/kangaroo/intro/release-notes.md
  docs/zh/docs/kpanda/intro/release-notes.md
Labels: kpanda, zh, kangaroo, size/M

#4767 [en] Update kairship-failover
  docs/en/docs/kairship/failover/failover.md
  docs/en/docs/kairship/failover/optimization-failover.md
  docs/en/docs/kairship/images/failover01.png
  docs/en/docs/kairship/images/failover02.png
  docs/en/docs/kairship/images/failover03.png
  docs/en/docs/kairship/images/you-failover03.png
Labels: kairship, en, i18n, size/M

#4768 download: amamba version updated to v0.28.0
  docs/zh/docs/download/index.md
  docs/zh/docs/download/modules/amamba.md
Labels: download, zh, size/XS

#4769 [en] update download pages: amamba, gmagpie, kairship
  docs/en/docs/download/free/dce5-installer-history.md
  docs/en/docs/download/index.md
  docs/en/docs/download/modules/amamba.md
  docs/en/docs/download/modules/gmagpie.md
  docs/en/docs/download/modules/kairship.md
  docs/zh/docs/download/free/dce5-installer-history.md
Labels: download, zh, en, i18n, size/S

#4771 update .github/CODEOWNERS: remove /en lines
  .github/CODEOWNERS
Labels: develop, size/M

#4772 [en] Update kpanda-ascend_driver_install
  docs/en/docs/kpanda/user-guide/gpu/ascend/ascend_driver_install.md
  docs/en/docs/kpanda/user-guide/gpu/images/ascend-mindxdl.png
  docs/en/docs/kpanda/user-guide/gpu/images/detail-ascend.png
  docs/en/docs/kpanda/user-guide/gpu/images/label-ascend-mindxdl.png
  docs/en/docs/kpanda/user-guide/gpu/images/list-ascend-mindxdl.png
  docs/en/docs/kpanda/user-guide/gpu/images/npu-smi-info.png
  docs/zh/docs/kpanda/user-guide/gpu/ascend/ascend_driver_install.md
Labels: kpanda, zh, en, i18n, size/M

#4775 [en] Update middleware kafka & elasticsearch
  docs/en/docs/middleware/elasticsearch/images/elasticsearch_storage.png
  docs/en/docs/middleware/elasticsearch/user-guide/cluster-capacity-plan.md
  docs/en/docs/middleware/kafka/images/config.png
  docs/en/docs/middleware/kafka/images/config02.png
  docs/en/docs/middleware/kafka/images/config03.png
  docs/en/docs/middleware/kafka/images/create02.png
  docs/en/docs/middleware/kafka/images/create03.png
  docs/en/docs/middleware/kafka/images/create04.png
  docs/en/docs/middleware/kafka/images/create05.png
  docs/en/docs/middleware/kafka/images/create06.png
  docs/en/docs/middleware/kafka/images/instances01.png
  docs/en/docs/middleware/kafka/user-guide/config.md
  docs/en/docs/middleware/kafka/user-guide/create.md
  docs/zh/docs/middleware/elasticsearch/images/elasticsearch_storage.png
  docs/zh/docs/middleware/elasticsearch/user-guide/cluster-capacity-plan.md
Labels: midware, zh, en, i18n, size/L

#4776 download: kpanda version updated to 0.29.0
  docs/zh/docs/download/index.md
  docs/zh/docs/download/modules/kpanda.md
Labels: download, zh, size/XS

#4779 [en] Update middleware Kafka-userguide
  docs/en/docs/middleware/kafka/images/delete01.png
  docs/en/docs/middleware/kafka/images/delete02.png
  docs/en/docs/middleware/kafka/images/insight.png
  docs/en/docs/middleware/kafka/images/insight01.png
  docs/en/docs/middleware/kafka/user-guide/delete.md
  docs/en/docs/middleware/kafka/user-guide/insight.md
Labels: midware, en, i18n, size/M

#4781 Optimize middleware-kafka-userguide
  docs/zh/docs/middleware/index.md
  docs/zh/docs/middleware/kafka/images/insight01.png
  docs/zh/docs/middleware/kafka/images/instance-update_delete.png
  docs/zh/docs/middleware/kafka/images/view01.png
  docs/zh/docs/middleware/kafka/images/view02.png
  docs/zh/docs/middleware/kafka/user-guide/delete.md
  docs/zh/docs/middleware/kafka/user-guide/insight-log.md
  docs/zh/docs/middleware/kafka/user-guide/insight.md
  docs/zh/docs/middleware/kafka/user-guide/logs.md
  docs/zh/docs/middleware/kafka/user-guide/update.md
  docs/zh/docs/middleware/kafka/user-guide/view-update-delete.md
  docs/zh/docs/middleware/kafka/user-guide/view.md
  docs/zh/navigation.yml
Labels: midware, zh, size/L

#4784 update vscode.md for students
  docs/zh/docs/native/knowledge/git/vscode.md
Labels: zh, native, size/XS

#4780 update insight & mcamel release note
  docs/zh/docs/insight/intro/releasenote.md
  docs/zh/docs/middleware/postgresql/release-notes.md
  docs/zh/docs/middleware/redis/release-notes.md
Labels: midware, insight, zh, size/M

#4785 [en] Optimize middleware-kafka-userguide
  docs/en/docs/middleware/index.md
  docs/en/docs/middleware/kafka/images/instance-update_delete.png
  docs/en/docs/middleware/kafka/images/update04.png
  docs/en/docs/middleware/kafka/images/view02.png
  docs/en/docs/middleware/kafka/user-guide/delete.md
  docs/en/docs/middleware/kafka/user-guide/insight-log.md
  docs/en/docs/middleware/kafka/user-guide/insight.md
  docs/en/docs/middleware/kafka/user-guide/logs.md
  docs/en/docs/middleware/kafka/user-guide/update.md
  docs/en/docs/middleware/kafka/user-guide/view-update-delete.md
  docs/en/docs/middleware/kafka/user-guide/view.md
  docs/en/navigation.yml
Labels: midware, en, i18n, size/L

#4787 download: insight version updated to v0.28.0
  docs/zh/docs/download/index.md
  docs/zh/docs/download/modules/insight.md
Labels: download, zh, size/XS

#4788 add pics and merge documents
  docs/en/docs/baize/developer/dataset/create-use-delete.md
  docs/en/docs/baize/developer/dataset/delete.md
  docs/en/docs/baize/images/ds-delete01.png
  docs/en/docs/baize/images/ds-delete02.png
  docs/en/docs/baize/images/ds-delete03.png
  docs/en/navigation.yml
  docs/zh/docs/baize/developer/dataset/create-use-delete.md
  docs/zh/docs/baize/developer/dataset/delete.md
  docs/zh/navigation.yml
Labels: zh, en, i18n, baize, size/L

#4789 Download: kant version updated to 0.12.1
  docs/en/docs/download/modules/kant.md
  docs/zh/docs/download/modules/kant.md
Labels: download, zh, en, i18n

#4791 [en] add pics to kpanda_userguide_custom-hpa
  docs/en/docs/kpanda/user-guide/images/autoscaling01.png
  docs/en/docs/kpanda/user-guide/images/autoscaling02.png
  docs/en/docs/kpanda/user-guide/images/autoscaling03.png
  docs/en/docs/kpanda/user-guide/images/autoscaling04.png
  docs/en/docs/kpanda/user-guide/scale/custom-hpa.md
Labels: kpanda, en, i18n, size/S

#4793 update npu model
  docs/zh/docs/kpanda/user-guide/gpu/gpu_matrix.md
Labels: kpanda, zh, size/XS

#4794 Update middleware downloads zh+en in july
  docs/en/docs/download/index.md
  docs/en/docs/download/modules/middleware/elasticsearch.md
  docs/en/docs/download/modules/middleware/kafka.md
  docs/en/docs/download/modules/middleware/minio.md
  docs/en/docs/download/modules/middleware/mongodb.md
  docs/en/docs/download/modules/middleware/mysql.md
  docs/en/docs/download/modules/middleware/postgresql.md
  docs/en/docs/download/modules/middleware/rabbitmq.md
  docs/en/docs/download/modules/middleware/redis.md
  docs/en/docs/download/modules/middleware/rocketmq.md
  docs/zh/docs/download/index.md
  docs/zh/docs/download/modules/middleware/elasticsearch.md
  docs/zh/docs/download/modules/middleware/kafka.md
  docs/zh/docs/download/modules/middleware/minio.md
  docs/zh/docs/download/modules/middleware/mongodb.md
  docs/zh/docs/download/modules/middleware/mysql.md
  docs/zh/docs/download/modules/middleware/postgresql.md
  docs/zh/docs/download/modules/middleware/rabbitmq.md
  docs/zh/docs/download/modules/middleware/redis.md
  docs/zh/docs/download/modules/middleware/rocketmq.md
Labels: download, zh, en, i18n, size/M

#4795 download: skoala version updated to v0.38.2
  docs/zh/docs/download/modules/skoala.md
Labels: download, zh, size/XS

#4796 download: ghippo version updated to v0.28.0
  docs/zh/docs/download/index.md
  docs/zh/docs/download/modules/ghippo.md
Labels: download, zh, size/XS

#4797 add dce-20240630 release notes
  docs/en/docs/dce/dce-rn/20240530.md
  docs/zh/docs/dce/dce-rn/20240530.md
  docs/zh/docs/dce/dce-rn/20240630.md
  docs/zh/navigation.yml
Labels: zh, en, dce, i18n, size/L

#4798 update kant download pages
  docs/en/docs/download/modules/kant.md
  docs/zh/docs/download/modules/kant.md
Labels: download, zh, en, i18n, size/M

#4799 [en] Add dce-rn/20240630.md
  docs/en/docs/dce/dce-rn/20240630.md
  docs/en/navigation.yml
Labels: en, dce, i18n, size/L

#4802 update netlify build
  scripts/dce_models.json
  scripts/generate_nav.py
  scripts/run_netlify.sh
Labels: develop, size/L

#4804 fix: generate nav with python 3.8
  runtime.txt
  scripts/generate_nav.py
Labels: develop

#4803 fix: baize english release note
  docs/en/docs/baize/intro/release-notes.md
  scripts/dce_models.json
Labels: en, develop, i18n, baize, size/S

#4800 update install/faq.md
  docs/zh/docs/install/faq.md
  docs/zh/docs/install/index.md
Labels: installer, zh, size/M

#4792 [en] add pics to middleware-minio-create
  docs/en/docs/middleware/minio/images/config01.png
  docs/en/docs/middleware/minio/images/config02.png
  docs/en/docs/middleware/minio/images/insight02.png
  docs/en/docs/middleware/minio/images/log01.png
  docs/en/docs/middleware/minio/images/log02.png
  docs/en/docs/middleware/minio/images/log04.png
  docs/en/docs/middleware/minio/images/minio-create01.png
  docs/en/docs/middleware/minio/images/minio-create02.png
  docs/en/docs/middleware/minio/images/minio-create03.png
  docs/en/docs/middleware/minio/images/minio-create04.png
  docs/en/docs/middleware/minio/images/minio-create05.png
  docs/en/docs/middleware/minio/images/minio-create06.png
  docs/en/docs/middleware/minio/images/minio-create07.png
  docs/en/docs/middleware/minio/images/minio-creation08.png
  docs/en/docs/middleware/minio/user-guide/config.md
  docs/en/docs/middleware/minio/user-guide/create.md
  docs/en/docs/middleware/minio/user-guide/insight-log-config.md
  docs/en/docs/middleware/minio/user-guide/insight.md
  docs/en/docs/middleware/minio/user-guide/logs.md
  docs/en/navigation.yml
  docs/zh/docs/middleware/minio/user-guide/config.md
  docs/zh/docs/middleware/minio/user-guide/insight-log-config.md
  docs/zh/docs/middleware/minio/user-guide/insight.md
  docs/zh/docs/middleware/minio/user-guide/logs.md
  docs/zh/navigation.yml
Labels: midware, zh, en, i18n, size/L

#4805 merge middleware-minio docs
  docs/zh/docs/middleware/minio/user-guide/delete.md
  docs/zh/docs/middleware/minio/user-guide/update-delete.md
  docs/zh/navigation.yml
Labels: midware, zh, size/M

#4807 fix a unit in commercial/deploy-requirements.md
  docs/zh/docs/install/commercial/deploy-requirements.md
Labels: installer, zh, size/S

#4809 en: fix a unit in commercial/deploy-requirements.md
  docs/en/docs/install/commercial/deploy-requirements.md
Labels: installer, en, i18n, size/S

#4808 [en]add pics and merge two minio docs
  docs/en/docs/middleware/minio/images/minio-delete01.png
  docs/en/docs/middleware/minio/images/minio-delete02.png
  docs/en/docs/middleware/minio/images/minio-update.png
  docs/en/docs/middleware/minio/images/minio-update02.png
  docs/en/docs/middleware/minio/images/minio-update03.png
  docs/en/docs/middleware/minio/images/minio-update04.png
  docs/en/docs/middleware/minio/images/minio-update05.png
  docs/en/docs/middleware/minio/user-guide/delete.md
  docs/en/docs/middleware/minio/user-guide/update-delete.md
  docs/en/docs/middleware/minio/user-guide/update.md
  docs/en/navigation.yml
Labels: midware, en, i18n, size/L

#4811 try to upgrade best-practice
  docs/zh/docs/dce/bphome.md
Labels: zh, dce, size/XS, size/S

#4810 [en] update some insight pages
  docs/en/docs/insight/intro/features.md
  docs/en/docs/insight/intro/scenarios.md
  docs/en/docs/insight/quickstart/install/index.md
  docs/en/docs/insight/quickstart/install/offline-install.md
  docs/en/docs/insight/user-guide/collection-manag/agent-status.md
  docs/en/docs/insight/user-guide/system-config/system-component.md
  docs/zh/docs/insight/quickstart/install/offline-install.md
Labels: insight, zh, en, i18n, size/L

#4806 add pics to baize-jobs-create
  docs/en/docs/baize/developer/jobs/create.md
  docs/en/docs/baize/images/job01.png
  docs/en/docs/baize/images/job02.png
  docs/en/docs/baize/images/job03.png
  docs/en/docs/baize/images/job04.png
Labels: en, i18n, baize, size/S, size/M

#4812 update known problem
  docs/zh/docs/kpanda/intro/offline-upgrade.md
  docs/zh/docs/kpanda/intro/release-notes.md
Labels: kpanda, zh, size/S

#4814 virtnest update migration
  docs/zh/docs/virtnest/vm/auto-migrate.md
Labels: zh, virtnest, size/XS

#4815 update kairship-resource-ns
  docs/zh/docs/kairship/images/ns02.png
  docs/zh/docs/kairship/images/ns03.png
  docs/zh/docs/kairship/resource/ns.md
Labels: kairship, zh, size/XS

#4819 download: addon version updated to v0.19.0
  docs/zh/docs/download/addon/history.md
  docs/zh/docs/download/addon/v0.19.0.md
  docs/zh/docs/download/index.md
Labels: download, zh, size/L

#4764 update to v0.19.0
  docs/zh/docs/amamba/intro/release-notes.md
  docs/zh/docs/install/commercial/cluster-config.md
  docs/zh/docs/install/commercial/start-install.md
  docs/zh/docs/install/community/k8s/k8s-dce-deploy.md
  docs/zh/docs/install/community/k8s/offline.md
  docs/zh/docs/install/community/k8s/online.md
  docs/zh/docs/install/community/kind/online.md
  docs/zh/docs/install/k8s-install/ecs-install-dce5.0.md
  docs/zh/docs/install/k8s-install/ocp-install-dce5.0.md
  docs/zh/docs/install/os-install/neokylin-install-dce5.0.md
  docs/zh/docs/install/release-notes.md
  docs/zh/docs/storage/hwameistor/releasenotes.md
Labels: amamba, installer, zh, storage, size/L

#4820 update prerequisites in hwameistor/resources/migrate.md
  docs/en/docs/storage/hwameistor/resources/migrate.md
  docs/zh/docs/storage/hwameistor/resources/migrate.md
Labels: zh, en, storage, i18n, size/M

#4821 update hwameistor/resources/storageclass.md
  docs/en/docs/storage/hwameistor/resources/storageclass.md
  docs/en/navigation.yml
  docs/zh/docs/storage/hwameistor/resources/storageclass.md
  docs/zh/navigation.yml
Labels: zh, en, storage, i18n, size/S

#4826 clarify the description of override policy
  docs/zh/docs/kairship/policy/override.md
Labels: kairship, zh, size/XS

#4822 update resetting password
  docs/zh/docs/ghippo/images/password01zh.png
  docs/zh/docs/ghippo/images/password02zh.png
  docs/zh/docs/ghippo/images/password03zh-en.png
  docs/zh/docs/ghippo/images/password04zh.png
  docs/zh/docs/ghippo/images/password05zh.png
  docs/zh/docs/ghippo/user-guide/password.md
Labels: ghippo, zh, size/S

#4828 update pics and description of password-reset
  docs/en/docs/ghippo/images/password01en.png
  docs/en/docs/ghippo/images/password02.png
  docs/en/docs/ghippo/images/password02en.png
  docs/en/docs/ghippo/images/password03.png
  docs/en/docs/ghippo/images/password03en.png
  docs/en/docs/ghippo/images/password04en.png
  docs/en/docs/ghippo/images/password05.png
  docs/en/docs/ghippo/user-guide/password.md
Labels: ghippo, en, i18n, size/M

#4816 update aliyun-terway/usage.md
  docs/en/docs/network/modules/aliyun-terway/usage.md
  docs/zh/docs/network/modules/aliyun-terway/usage.md
Labels: zh, en, network, i18n, size/M

#4829 update report-billing files
  docs/en/docs/ghippo/user-guide/report-billing/gmagpie-offline-install.md
  docs/en/docs/ghippo/user-guide/report-billing/index.md
  docs/zh/docs/ghippo/user-guide/report-billing/gmagpie-offline-install.md
  docs/zh/docs/ghippo/user-guide/report-billing/index.md
Labels: ghippo, zh, en, i18n

#4831 update dce/dce-rn/20240630.md
  docs/en/docs/dce/dce-rn/20240630.md
  docs/zh/docs/dce/dce-rn/20240630.md
Labels: zh, en, dce, i18n, size/M

#4832 download: dce5 version updated to v0.19.0
  docs/zh/docs/download/business/dce5-installer-history.md
  docs/zh/docs/download/business/dce5-installer-v0.19.0.md
  docs/zh/docs/download/free/dce5-installer-history.md
  docs/zh/docs/download/free/dce5-installer-v0.19.0.md
  docs/zh/docs/download/index.md
Labels: download, zh, size/L

#4833 [en] Add addon/v0.19.0.md
  docs/en/docs/download/addon/history.md
  docs/en/docs/download/addon/v0.19.0.md
  docs/zh/docs/download/addon/history.md
  docs/zh/docs/download/addon/v0.19.0.md
Labels: download, zh, en, i18n, size/L

#4835 update yaml in install/deploy-operator/
  docs/en/docs/storage/hwameistor/install/deploy-operator.md
  docs/zh/docs/storage/hwameistor/install/deploy-operator.md
Labels: zh, en, storage, i18n, size/L

#4834 [en]update to v0.19.0
  docs/en/docs/amamba/intro/release-notes.md
  docs/en/docs/install/commercial/cluster-config.md
  docs/en/docs/install/commercial/start-install.md
  docs/en/docs/install/community/k8s/k8s-dce-deploy.md
  docs/en/docs/install/community/k8s/offline.md
  docs/en/docs/install/community/k8s/online.md
  docs/en/docs/install/community/kind/online.md
  docs/en/docs/install/k8s-install/ecs-install-dce5.0.md
  docs/en/docs/install/k8s-install/ocp-install-dce5.0.md
  docs/en/docs/install/os-install/neokylin-install-dce5.0.md
  docs/en/docs/install/release-notes.md
  docs/en/docs/storage/hwameistor/releasenotes.md
Labels: amamba, installer, en, storage, i18n, size/L

#4839 fix features.html#multicloud-workloads
  docs/en/docs/kairship/intro/features.md
Labels: kairship, en, i18n

#4841 update kairship/intro/features/#_4
  docs/en/docs/kairship/intro/features.md
  docs/zh/docs/kairship/intro/features.md
Labels: kairship, zh, en, i18n, size/XS, size/M

#4843 virtnest update tep
  docs/zh/docs/virtnest/images/tep-detail.png
  docs/zh/docs/virtnest/images/tep-yaml.png
  docs/zh/docs/virtnest/images/tep01.png
  docs/zh/docs/virtnest/images/tep02.png
  docs/zh/docs/virtnest/images/tep03.png
  docs/zh/docs/virtnest/template/tep.md
  docs/zh/docs/virtnest/vm/auto-migrate.md
Labels: zh, virtnest, size/S

#4842 update kpanda-create-services
  docs/zh/docs/kpanda/user-guide/images/service03.png
  docs/zh/docs/kpanda/user-guide/images/service04.png
  docs/zh/docs/kpanda/user-guide/network/create-services.md
Labels: kpanda, zh, size/M

#4844 update nav structure for skoala
  docs/zh/docs/skoala/gateway/api/index.md
  docs/zh/docs/skoala/gateway/api/update-api.md
  docs/zh/docs/skoala/gateway/domain/index.md
  docs/zh/docs/skoala/gateway/domain/update-domain.md
  docs/zh/docs/skoala/reference/gateway.md
  docs/zh/docs/skoala/reference/microservice.md
  docs/zh/navigation.yml
Labels: skoala, zh, size/L

#4847 remove version variables from download/addon/v0.19.0.md
  docs/en/docs/download/addon/v0.19.0.md
  docs/zh/docs/download/addon/v0.19.0.md
Labels: download, zh, en, i18n, size/S

#4849 [en] Update skoala nav structure
  docs/en/docs/skoala/gateway/api/api-policy.md
  docs/en/docs/skoala/gateway/api/index.md
  docs/en/docs/skoala/gateway/api/update-api.md
  docs/en/docs/skoala/gateway/domain/domain-policy.md
  docs/en/docs/skoala/gateway/domain/index.md
  docs/en/docs/skoala/gateway/domain/update-domain.md
  docs/en/docs/skoala/reference/gateway.md
  docs/en/docs/skoala/reference/microservice.md
  docs/en/navigation.yml
  docs/zh/docs/skoala/gateway/api/api-policy.md
Labels: skoala, zh, en, i18n, size/L

#4851 Fix bread crumb issue in en
  docs/en/mkdocs.yml
  docs/zh/mkdocs.yml
Labels: zh, en, i18n, size/S

#4850 update midware-redis screenshots and description
  docs/zh/docs/middleware/redis/images/create00.png
  docs/zh/docs/middleware/redis/images/create01.png
  docs/zh/docs/middleware/redis/images/create02.png
  docs/zh/docs/middleware/redis/images/create03.png
  docs/zh/docs/middleware/redis/images/create04.png
  docs/zh/docs/middleware/redis/images/create05.png
  docs/zh/docs/middleware/redis/images/delete01.png
  docs/zh/docs/middleware/redis/images/delete02.png
  docs/zh/docs/middleware/redis/images/log01.png
  docs/zh/docs/middleware/redis/images/log02.png
  docs/zh/docs/middleware/redis/images/log03.png
  docs/zh/docs/middleware/redis/images/update.png
  docs/zh/docs/middleware/redis/images/update00.png
  docs/zh/docs/middleware/redis/images/update000.png
  docs/zh/docs/middleware/redis/images/update01.png
  docs/zh/docs/middleware/redis/user-guide/create.md
  docs/zh/docs/middleware/redis/user-guide/delete.md
  docs/zh/docs/middleware/redis/user-guide/logs.md
  docs/zh/docs/middleware/redis/user-guide/update.md
Labels: midware, zh, size/M

#4855 update pics of midware-postgresql antiaffinity
  docs/zh/docs/middleware/postgresql/images/antiaff03.png
  docs/zh/docs/middleware/postgresql/user-guide/antiaffinity.md
Labels: midware, zh, size/XS

#4848 en: fix the title in videos/use-cases/
  docs/en/docs/videos/use-cases.md
Labels: en, videos, i18n, size/XS

#4856 [en]update middleware-postgresql antiaffinity
  docs/en/docs/middleware/postgresql/images/antiaff00.png
  docs/en/docs/middleware/postgresql/images/antiaff01.png
  docs/en/docs/middleware/postgresql/images/antiaff02.png
  docs/en/docs/middleware/postgresql/user-guide/antiaffinity.md
Labels: midware, en, i18n, size/L

#4858 [en/zh] update kairship/intro/faq.html
  docs/en/docs/kairship/images/faq01.png
  docs/en/docs/kairship/intro/faq.md
  docs/zh/docs/kairship/images/faq01.png
  docs/zh/docs/kairship/intro/faq.md
Labels: kairship, zh, en, i18n, size/S

#4859 adjust the redis navigation-bar
  docs/en/docs/middleware/redis/best-practice/cluster2sentinel.md
  docs/en/navigation.yml
  docs/zh/navigation.yml
Labels: midware, zh, en, i18n, size/XS, size/L

#4860 update kpanda offline-upgrade.md and release-notes.md
  docs/en/docs/kpanda/intro/offline-upgrade.md
  docs/en/docs/kpanda/intro/release-notes.md
  docs/zh/docs/kpanda/intro/offline-upgrade.md
  docs/zh/docs/kpanda/intro/release-notes.md
Labels: kpanda, zh, en, i18n, size/XL

#4862 add yaml file to postgresql-antiaffinity
  docs/zh/docs/middleware/postgresql/user-guide/antiaffinity.md
Labels: midware, zh, size/L

#4863 Add video tutorials for reference
  docs/zh/docs/native/knowledge/git/images/create-1.png
  docs/zh/docs/native/knowledge/git/images/create-2.png
  docs/zh/docs/native/knowledge/git/images/create-3a.png
  docs/zh/docs/native/knowledge/git/images/create-3b.png
  docs/zh/docs/native/knowledge/git/images/end-cover16:10.png
  docs/zh/docs/native/knowledge/git/images/end-cover16:9.png
  docs/zh/docs/native/knowledge/git/images/end-thanks.png
  docs/zh/docs/native/knowledge/git/images/lyric-1.png
  docs/zh/docs/native/knowledge/git/images/lyric-2.png
  docs/zh/docs/native/knowledge/git/images/lyric-3.png
  docs/zh/docs/native/knowledge/git/images/lyric-4.png
  docs/zh/docs/native/knowledge/git/images/lyric-5.png
  docs/zh/docs/native/knowledge/git/images/video-cover-template.pptx
  docs/zh/docs/native/knowledge/git/images/video-cover.png
  docs/zh/docs/native/knowledge/git/images/video-cover.pptx
  docs/zh/docs/native/knowledge/git/images/video-export.png
  docs/zh/docs/native/knowledge/git/images/video-first-page.png
  docs/zh/docs/native/knowledge/git/images/voice-1.png
  docs/zh/docs/native/knowledge/git/images/voice-2.png
  docs/zh/docs/native/knowledge/git/images/voice-accompany.png
  docs/zh/docs/native/knowledge/git/images/voice-delete.png
  docs/zh/docs/native/knowledge/git/images/voice-mute.png
  docs/zh/docs/native/knowledge/git/video.md
  docs/zh/navigation.yml
Labels: zh, native, size/L

#4867 fix a tip on git/video.md
  docs/zh/docs/native/knowledge/git/video.md
Labels: zh, native, size/XS

#4866 add vnpu
  docs/zh/docs/kpanda/user-guide/gpu/ascend/vnpu.md
  docs/zh/docs/kpanda/user-guide/gpu/images/vnpu1.png
  docs/zh/docs/kpanda/user-guide/gpu/images/vnpu2.png
  docs/zh/navigation.yml
Labels: kpanda, zh, size/M

#4868 [en] update download/business/dce5-installer-history.md and index.md
  docs/en/docs/download/business/dce5-installer-history.md
  docs/en/docs/download/index.md
  docs/zh/docs/download/index.md
Labels: download, zh, en, i18n, size/XS, size/S

#4869 [en]update virtnest-template
  docs/en/docs/virtnest/images/tem-detail.png
  docs/en/docs/virtnest/images/tem-yaml.png
  docs/en/docs/virtnest/images/tem01.png
  docs/en/docs/virtnest/images/tem02.png
  docs/en/docs/virtnest/images/tem03.png
  docs/en/docs/virtnest/images/vm-tem.png
  docs/en/docs/virtnest/template/tep.md
Labels: en, virtnest, i18n, size/M

#4871 [en]update vm-auto-migrate
  docs/en/docs/virtnest/vm/auto-migrate.md
Labels: en, virtnest, i18n, size/S

#4870 add wsbind permission
  docs/zh/docs/ghippo/images/wsbind1.png
  docs/zh/docs/ghippo/images/wsbind2.png
  docs/zh/docs/ghippo/images/wsbind3.png
  docs/zh/docs/ghippo/images/wsbind4.png
  docs/zh/docs/ghippo/images/wsbind5.png
  docs/zh/docs/ghippo/user-guide/workspace/wsbind-permission.md
  docs/zh/navigation.yml
Labels: ghippo, zh, size/S, size/M

#4845 baize: hotfix v0.6.1
  docs/en/docs/baize/intro/release-notes.md
  docs/zh/docs/baize/intro/release-notes.md
Labels: zh, en, i18n, baize, size/S

#4872 [en]update virtnest and kairship releasenotes
  docs/en/docs/kairship/intro/release-notes.md
  docs/en/docs/virtnest/intro/release-notes.md
Labels: kairship, en, virtnest, i18n, size/M

#4873 [en] Add gpu/ascend/vnpu.md
  docs/en/docs/kpanda/user-guide/gpu/ascend/vnpu.md
  docs/en/docs/kpanda/user-guide/gpu/images/vnpu1.png
  docs/en/docs/kpanda/user-guide/gpu/images/vnpu2.png
  docs/en/navigation.yml
  docs/zh/docs/kpanda/user-guide/gpu/ascend/vnpu.md
  docs/zh/navigation.yml
Labels: kpanda, zh, en, i18n, size/M

#4874 [en] update skoala release notes to v0.38.1
  docs/en/docs/skoala/intro/release-notes.md
Labels: skoala, en, i18n, size/M

#4875 [en] update mspider release notes to v0.27.0
  docs/en/docs/mspider/intro/release-notes.md
Labels: mspider, en, i18n, size/L

#4877 update baize release notes
  docs/en/docs/baize/intro/release-notes.md
  docs/zh/docs/baize/intro/release-notes.md
Labels: zh, en, i18n, baize, size/M

#4876 [en]update virtnest-vm
  docs/en/docs/virtnest/vm/index.md
  docs/zh/docs/virtnest/vm/index.md
Labels: zh, en, virtnest, i18n, size/M

#4878 download: remove redundancies and fix rn links
  docs/zh/docs/download/business/.dce5-installer-template.md
  docs/zh/docs/download/business/dce5-installer-v0.11.0.md
  docs/zh/docs/download/business/dce5-installer-v0.13.0.md
  docs/zh/docs/download/business/dce5-installer-v0.14.0.md
  docs/zh/docs/download/business/dce5-installer-v0.15.0.md
  docs/zh/docs/download/business/dce5-installer-v0.15.1.md
  docs/zh/docs/download/business/dce5-installer-v0.15.2.md
  docs/zh/docs/download/business/dce5-installer-v0.16.0.md
  docs/zh/docs/download/business/dce5-installer-v0.16.1.md
  docs/zh/docs/download/business/dce5-installer-v0.17.0.md
  docs/zh/docs/download/business/dce5-installer-v0.18.0.md
  docs/zh/docs/download/business/dce5-installer-v0.19.0.md
  docs/zh/docs/download/business/dce5-installer-v0.3.27.md
  docs/zh/docs/download/business/dce5-installer-v0.3.28.md
  docs/zh/docs/download/business/dce5-installer-v0.3.29.md
  docs/zh/docs/download/business/dce5-installer-v0.3.30.md
  docs/zh/docs/download/business/dce5-installer-v0.4.0.md
  docs/zh/docs/download/business/dce5-installer-v0.5.0.md
  docs/zh/docs/download/business/dce5-installer-v0.6.0.md
  docs/zh/docs/download/business/dce5-installer-v0.6.1.md
  docs/zh/docs/download/business/dce5-installer-v0.7.0.md
  docs/zh/docs/download/business/dce5-installer-v0.8.0.md
  docs/zh/docs/download/business/dce5-installer-v0.9.0.md
  docs/zh/docs/download/free/.dce5-installer-template.md
  docs/zh/docs/download/free/dce5-installer-v0.11.0.md
  docs/zh/docs/download/free/dce5-installer-v0.12.0.md
  docs/zh/docs/download/free/dce5-installer-v0.13.0.md
  docs/zh/docs/download/free/dce5-installer-v0.3.27.md
  docs/zh/docs/download/free/dce5-installer-v0.3.28.md
  docs/zh/docs/download/free/dce5-installer-v0.3.29.md
  docs/zh/docs/download/free/dce5-installer-v0.3.30.md
  docs/zh/docs/download/free/dce5-installer-v0.4.0.md
  docs/zh/docs/download/free/dce5-installer-v0.5.0.md
  docs/zh/docs/download/free/dce5-installer-v0.6.0.md
  docs/zh/docs/download/free/dce5-installer-v0.6.1.md
  docs/zh/docs/download/free/dce5-installer-v0.7.0.md
  docs/zh/docs/download/free/dce5-installer-v0.8.0.md
  docs/zh/docs/download/free/dce5-installer-v0.9.0.md
Labels: download, zh, size/XL

#4879 [en]update virtnest-import-ubuntu
  docs/en/docs/kairship/images/cluster.png
  docs/en/docs/kairship/images/default.png
  docs/en/docs/kairship/images/deploy.png
  docs/en/docs/kairship/workload/deployment.md
  docs/en/docs/virtnest/import/import-ubuntu.md
Labels: kairship, en, virtnest, i18n, size/L

#4881 add back-cover video to tutorials
  docs/zh/docs/native/knowledge/git/images/back-cover.mp4
  docs/zh/docs/native/knowledge/git/video.md
Labels: zh, native, size/XS

#4882 [en]update virnest install-dependency
  docs/en/docs/virtnest/install/install-dependency.md
  docs/zh/docs/virtnest/install/install-dependency.md
Labels: zh, en, virtnest, i18n, size/XS, size/S

#4883 update some text to git/video.md
  docs/zh/docs/native/knowledge/git/video.md
Labels: zh, native, size/S

#4884 update usemig
  docs/zh/docs/kpanda/user-guide/gpu/images/usemig1.png
  docs/zh/docs/kpanda/user-guide/gpu/nvidia/mig/mig_usage.md
Labels: kpanda, zh, size/S

#4885 change filename to facilitate git-pull
  docs/zh/docs/native/knowledge/git/images/end-cover16-10.png
  docs/zh/docs/native/knowledge/git/images/end-cover16-9.png
  docs/zh/docs/native/knowledge/git/video.md
Labels: zh, native, size/XS

#4886 baize: upgrade ssh command example
  docs/zh/docs/baize/developer/notebooks/notebook-with-ssh.md
Labels: zh, baize, size/S

#4887 update vnpu/mig/nav
  docs/zh/docs/kpanda/user-guide/gpu/ascend/vnpu.md
  docs/zh/docs/kpanda/user-guide/gpu/images/usemig.png
  docs/zh/docs/kpanda/user-guide/gpu/nvidia/mig/mig_usage.md
  docs/zh/navigation.yml
Labels: kpanda, zh, size/M

#4889 [en] Sync gpu pages
  docs/en/docs/kpanda/user-guide/gpu/ascend/vnpu.md
  docs/en/docs/kpanda/user-guide/gpu/gpu_scheduler_config.md
  docs/en/docs/kpanda/user-guide/gpu/images/vgpu-sc.png
  docs/en/docs/kpanda/user-guide/gpu/nvidia/install_nvidia_driver_of_operator.md
  docs/en/docs/kpanda/user-guide/gpu/nvidia/mig/mig_usage.md
  docs/en/docs/kpanda/user-guide/gpu/volcano/volcano-gang-scheduler.md
  docs/en/navigation.yml
  docs/zh/docs/kpanda/user-guide/gpu/gpu_scheduler_config.md
  docs/zh/docs/kpanda/user-guide/gpu/nvidia/mig/mig_usage.md
Labels: kpanda, zh, en, i18n, size/M

#4895 update error
  docs/zh/docs/amamba/user-guide/pipeline/system-env.md
  docs/zh/docs/install/commercial/cluster-config.md
Labels: amamba, installer, zh, size/XS

#4894 update en/videos/ghippo.html
  docs/en/docs/videos/ghippo.md
  docs/en/docs/videos/images/ghippo-user.png
Labels: en, videos, i18n, size/XS

#4899 add cheking network connectivity
  docs/zh/docs/mspider/user-guide/multicluster/check-net-connect.md
  docs/zh/navigation.yml
Labels: mspider, zh, size/S

#4903 update system env
  docs/zh/docs/amamba/user-guide/pipeline/system-env.md
  docs/zh/navigation.yml
Labels: amamba, zh, size/M

#4905 Revert "update system env"
  docs/zh/docs/amamba/user-guide/pipeline/system-env.md
  docs/zh/navigation.yml
Labels: amamba, zh, size/M

#4909 update details
  docs/zh/docs/ghippo/best-practice/navigator.md
  docs/zh/docs/kpanda/user-guide/gpu/ascend/vnpu.md
Labels: kpanda, ghippo, zh, size/XS

#4907 virtnest-add clone and detail.md
  docs/zh/docs/virtnest/images/clone01.png
  docs/zh/docs/virtnest/images/clone02.png
  docs/zh/docs/virtnest/images/clone03.png
  docs/zh/docs/virtnest/images/detail-event.png
  docs/zh/docs/virtnest/images/detail-network.png
  docs/zh/docs/virtnest/images/detail-sc.png
  docs/zh/docs/virtnest/images/detail-snapshot.png
  docs/zh/docs/virtnest/images/detail01.png
  docs/zh/docs/virtnest/images/event.png
  docs/zh/docs/virtnest/vm/clone.md
  docs/zh/docs/virtnest/vm/detail.md
  docs/zh/navigation.yml
Labels: zh, virtnest, size/M

#4910 update kairship-resource-ns pics and discriptions
  docs/en/docs/kairship/images/namespace-en.png
  docs/en/docs/kairship/resource/ns.md
  docs/zh/docs/kairship/images/namespace.png
  docs/zh/docs/kairship/resource/ns.md
Labels: kairship, zh, en, i18n, size/S

#4913 update live-migration.md
  docs/zh/docs/virtnest/images/live01.png
  docs/zh/docs/virtnest/images/live02.png
  docs/zh/docs/virtnest/images/live03.png
  docs/zh/docs/virtnest/vm/live-migration.md
Labels: zh, virtnest, size/S

#4914 revise text in workspace/wsbind-permission.md
  docs/zh/docs/ghippo/user-guide/workspace/wsbind-permission.md
Labels: ghippo, zh, size/M

#4906 update system env to amamba/pipeline
  docs/zh/docs/amamba/user-guide/pipeline/system-env.md
  docs/zh/navigation.yml
Labels: amamba, zh, size/M

#4912 [en]update kairship-policy override
  docs/en/docs/kairship/policy/override.md
Labels: kairship, en, i18n, size/M

#4918 [en]update virtnest-live-migration pics and descriptions
  docs/en/docs/virtnest/images/vm01.png
  docs/en/docs/virtnest/images/vm02.png
  docs/en/docs/virtnest/images/vm03.png
  docs/en/docs/virtnest/vm/live-migration.md
Labels: en, virtnest, i18n, size/M

#4919 update knowledge/git/video.md
  docs/zh/docs/native/knowledge/git/video.md
Labels: zh, native, size/S

#4922 update delete ws tips
  docs/zh/docs/ghippo/user-guide/workspace/workspace.md
Labels: ghippo, zh, size/XS

#4924 optimize minio user-guide create
  docs/en/docs/middleware/minio/user-guide/create.md
  docs/zh/docs/middleware/minio/user-guide/create.md
Labels: midware, zh, en, i18n, size/XS

#4911 [en] add wsbind permission
  docs/en/docs/ghippo/images/wsbind1.png
  docs/en/docs/ghippo/images/wsbind2.png
  docs/en/docs/ghippo/images/wsbind3.png
  docs/en/docs/ghippo/images/wsbind4.png
  docs/en/docs/ghippo/images/wsbind5.png
  docs/en/docs/ghippo/user-guide/workspace/wsbind-permission.md
  docs/en/navigation.yml
Labels: ghippo, en, i18n, size/M

#4925 update network/intro/issues.md
  docs/zh/docs/network/intro/issues.md
Labels: zh, network, size/L

#4926 virtnest-add update.md
  docs/zh/docs/virtnest/images/edit01.png
  docs/zh/docs/virtnest/images/edit02.png
  docs/zh/docs/virtnest/images/edit03.png
  docs/zh/docs/virtnest/images/edit04.png
  docs/zh/docs/virtnest/images/edit05.png
  docs/zh/docs/virtnest/images/edit06.png
  docs/zh/docs/virtnest/images/edit07.png
  docs/zh/docs/virtnest/images/edit08.png
  docs/zh/docs/virtnest/quickstart/access.md
  docs/zh/docs/virtnest/quickstart/detail.md
  docs/zh/docs/virtnest/quickstart/index.md
  docs/zh/docs/virtnest/quickstart/nodeport.md
  docs/zh/docs/virtnest/quickstart/update.md
  docs/zh/navigation.yml
Labels: zh, virtnest, size/M

#4928 update quickstart/job-cacher.md
  docs/en/docs/amamba/quickstart/job-cacher.md
  docs/zh/docs/amamba/quickstart/job-cacher.md
Labels: amamba, zh, en, i18n, size/M

#4929 [en] add multicluster/check-net-connect.md
  docs/en/docs/mspider/intro/release-notes.md
  docs/en/docs/mspider/troubleshoot/cluster-interconnect.md
  docs/en/docs/mspider/user-guide/multicluster/check-net-connect.md
  docs/en/navigation.yml
  docs/zh/docs/mspider/user-guide/multicluster/check-net-connect.md
Labels: mspider, zh, en, i18n, size/M

#4930 virtnest-update tep.md
  docs/zh/docs/virtnest/quickstart/update.md
  docs/zh/docs/virtnest/template/tep.md
Labels: zh, virtnest, size/XS

#4936 update network/intro/background.md
  docs/en/docs/network/intro/background.md
  docs/en/docs/network/intro/challenges.md
  docs/en/navigation.yml
  docs/zh/docs/network/intro/background.md
  docs/zh/docs/network/intro/challenges.md
  docs/zh/navigation.yml
Labels: zh, en, network, i18n, size/L

#4935 optimize insight-install-gethosturl
  docs/zh/docs/insight/quickstart/install/gethosturl.md
Labels: insight, zh, size/L

#4937 [en] add insight-agent video
  docs/en/docs/videos/images/insight-agent.jpg
  docs/en/docs/videos/images/insight-agent.png
  docs/en/docs/videos/insight.md
Labels: en, videos, i18n, size/XS

#4938 [en] improve text quality in kant/intro
  docs/en/docs/kant/intro/benefits.md
  docs/en/docs/kant/intro/concepts.md
  docs/en/docs/kant/intro/features.md
  docs/en/docs/kant/intro/index.md
  docs/en/docs/kant/intro/offline-upgrade.md
  docs/en/docs/kant/intro/release-notes.md
  docs/en/docs/kant/intro/use-cases.md
  docs/zh/docs/kant/intro/features.md
  docs/zh/docs/kant/intro/offline-upgrade.md
  docs/zh/docs/kant/intro/use-cases.md
Labels: zh, en, kant, i18n, size/L

#4939 update appearance details to ghippo/platform-setting
  docs/zh/docs/ghippo/images/logindesign.png
  docs/zh/docs/ghippo/user-guide/platform-setting/appearance.md
Labels: ghippo, zh, size/XS

#4940 make code comment prettier in kangaroo/intro/upgrade.md
  docs/en/docs/kangaroo/intro/upgrade.md
  docs/zh/docs/kangaroo/intro/upgrade.md
Labels: zh, en, kangaroo, i18n, size/M

#4943 [en]update insight best-practice
  docs/en/docs/insight/best-practice/debug-trace.md
  docs/en/docs/insight/best-practice/find_root_cause.md
  docs/en/docs/insight/best-practice/images/root01.png
  docs/en/docs/insight/best-practice/images/root02.png
Labels: insight, en, i18n, size/M

#4944 Add tabs to develop-device-mapper.md for kant
  docs/en/docs/kant/best-practice/develop-device-mapper.md
  docs/zh/docs/kant/best-practice/develop-device-mapper.md
Labels: zh, en, kant, i18n, size/L

#4946 Add k8s-resource page
  docs/zh/docs/native/git/2auth.md
  docs/zh/docs/native/git/cmd.md
  docs/zh/docs/native/git/github.md
  docs/zh/docs/native/git/images/back-cover.mp4
  docs/zh/docs/native/git/images/create-1.png
  docs/zh/docs/native/git/images/create-2.png
  docs/zh/docs/native/git/images/create-3a.png
  docs/zh/docs/native/git/images/create-3b.png
  docs/zh/docs/native/git/images/end-cover16-10.png
  docs/zh/docs/native/git/images/end-cover16-9.png
  docs/zh/docs/native/git/images/end-thanks.png
  docs/zh/docs/native/git/images/lyric-1.png
  docs/zh/docs/native/git/images/lyric-2.png
  docs/zh/docs/native/git/images/lyric-3.png
  docs/zh/docs/native/git/images/lyric-4.png
  docs/zh/docs/native/git/images/lyric-5.png
  docs/zh/docs/native/git/images/video-cover-template.pptx
  docs/zh/docs/native/git/images/video-cover.png
  docs/zh/docs/native/git/images/video-cover.pptx
  docs/zh/docs/native/git/images/video-export.png
  docs/zh/docs/native/git/images/video-first-page.png
  docs/zh/docs/native/git/images/voice-1.png
  docs/zh/docs/native/git/images/voice-2.png
  docs/zh/docs/native/git/images/voice-accompany.png
  docs/zh/docs/native/git/images/voice-delete.png
  docs/zh/docs/native/git/images/voice-mute.png
  docs/zh/docs/native/git/index.md
  docs/zh/docs/native/git/k8s.md
  docs/zh/docs/native/git/lsync.md
  docs/zh/docs/native/git/proxy.md
  docs/zh/docs/native/git/rebase.md
  docs/zh/docs/native/git/ui-preview.md
  docs/zh/docs/native/git/video.md
  docs/zh/docs/native/git/vscode.md
  docs/zh/docs/native/git/works.md
  docs/zh/docs/native/knowledge/git/cmd.md
  docs/zh/docs/native/knowledge/index.md
  docs/zh/navigation.yml
Labels: zh, native, size/M, size/L

#4945 [en]update kairship instance
  docs/en/docs/kairship/images/check-PVC.png
  docs/en/docs/kairship/images/check-etcd.png
  docs/en/docs/kairship/images/command.png
  docs/en/docs/kairship/images/update.png
  docs/en/docs/kairship/instance/add.md
  docs/en/docs/kairship/instance/delete.md
  docs/zh/docs/kairship/instance/add.md
Labels: kairship, zh, en, i18n, size/M

#4934 add customer-case
  docs/zh/docs/install/best-practices/remanage-work-cluster.md
  docs/zh/navigation.yml
Labels: wip-do-not-merge, installer, zh, size/L

#4947 [en]update kairship-intro
  docs/en/docs/kairship/intro/architecture.md
  docs/en/docs/kairship/intro/concepts.md
  docs/zh/docs/kairship/intro/architecture.md
Labels: kairship, zh, en, i18n, size/M

#4950 [en]update kairship-resource
  docs/en/docs/kairship/images/service.png
  docs/en/docs/kairship/resource/configmap.md
  docs/en/docs/kairship/resource/service.md
Labels: kairship, en, i18n, size/M

#4949 [en] Add best-practices/remanage-work-cluster.md
  docs/en/docs/install/best-practices/remanage-work-cluster.md
  docs/en/navigation.yml
  docs/zh/docs/install/best-practices/remanage-work-cluster.md
Labels: installer, zh, en, i18n, size/L

#4954 upadate gateway
  docs/zh/docs/skoala/gateway/index.md
  docs/zh/docs/skoala/images/insight-agent.png
Labels: skoala, zh, size/XS

#4955 Fix terms in kpanda
  docs/en/docs/kpanda/best-practice/backup-mysql-on-nfs.md
  docs/en/docs/kpanda/best-practice/create-redhat9.2-on-centos-platform.md
  docs/en/docs/kpanda/best-practice/etcd-backup.md
  docs/en/docs/kpanda/best-practice/kubean-low-version.md
  docs/en/docs/kpanda/best-practice/multi-arch.md
  docs/en/docs/kpanda/best-practice/replace-first-master-node.md
  docs/en/docs/kpanda/best-practice/update-offline-cluster.md
  docs/en/docs/kpanda/best-practice/use-otherlinux-create-custer.md
  docs/en/docs/kpanda/intro/benefits.md
  docs/en/docs/kpanda/intro/concepts.md
  docs/en/docs/kpanda/intro/faq.md
  docs/en/docs/kpanda/intro/features.md
  docs/en/docs/kpanda/intro/news.md
  docs/en/docs/kpanda/intro/release-notes.md
  docs/en/docs/kpanda/intro/scenarios.md
  docs/en/docs/kpanda/user-guide/backup/deployment.md
  docs/en/docs/kpanda/user-guide/clusters/cluster-role.md
  docs/en/docs/kpanda/user-guide/clusters/cluster-scheduler-plugin.md
  docs/en/docs/kpanda/user-guide/clusters/integrate-cluster.md
  docs/en/docs/kpanda/user-guide/clusters/upgrade-cluster.md
  docs/en/docs/kpanda/user-guide/gpu/ascend/ascend_driver_install.md
  docs/en/docs/kpanda/user-guide/gpu/nvidia/install_nvidia_driver_of_operator.md
  docs/en/docs/kpanda/user-guide/gpu/nvidia/mig/create_mig.md
  docs/en/docs/kpanda/user-guide/gpu/volcano/volcano-gang-scheduler.md
  docs/en/docs/kpanda/user-guide/helm/helm-app.md
  docs/en/docs/kpanda/user-guide/helm/helm-repo.md
  docs/en/docs/kpanda/user-guide/inspect/config.md
  docs/en/docs/kpanda/user-guide/inspect/index.md
  docs/en/docs/kpanda/user-guide/namespaces/createns.md
  docs/en/docs/kpanda/user-guide/namespaces/exclusive.md
  docs/en/docs/kpanda/user-guide/namespaces/podsecurity.md
  docs/en/docs/kpanda/user-guide/network/create-ingress.md
  docs/en/docs/kpanda/user-guide/network/create-services.md
  docs/en/docs/kpanda/user-guide/nodes/add-node.md
  docs/en/docs/kpanda/user-guide/nodes/delete-node.md
  docs/en/docs/kpanda/user-guide/permissions/cluster-ns-auth.md
  docs/en/docs/kpanda/user-guide/scale/create-hpa.md
  docs/en/docs/kpanda/user-guide/scale/create-vpa.md
  docs/en/docs/kpanda/user-guide/scale/install-cronhpa.md
  docs/en/docs/kpanda/user-guide/scale/install-vpa.md
  docs/en/docs/kpanda/user-guide/scale/knative/knative.md
  docs/en/docs/kpanda/user-guide/security/audit.md
  docs/en/docs/kpanda/user-guide/security/hunter.md
  docs/en/docs/kpanda/user-guide/storage/pv.md
  docs/en/docs/kpanda/user-guide/workloads/create-cronjob.md
  docs/en/docs/kpanda/user-guide/workloads/create-daemonset.md
  docs/en/docs/kpanda/user-guide/workloads/create-deployment.md
  docs/en/docs/kpanda/user-guide/workloads/create-job.md
  docs/en/docs/kpanda/user-guide/workloads/create-statefulset.md
  docs/en/docs/kpanda/user-guide/workloads/pod-config/scheduling-policy.md
  docs/en/docs/kpanda/user-guide/workloads/pod-config/workload-status.md
  docs/zh/docs/kpanda/user-guide/clusters/access-cluster.md
  docs/zh/docs/kpanda/user-guide/clusters/delete-cluster.md
  docs/zh/docs/kpanda/user-guide/helm/helm-app.md
  docs/zh/docs/kpanda/user-guide/helm/helm-repo.md
  docs/zh/docs/kpanda/user-guide/namespaces/createns.md
  docs/zh/docs/kpanda/user-guide/namespaces/podsecurity.md
  docs/zh/docs/kpanda/user-guide/permissions/cluster-ns-auth.md
  docs/zh/docs/kpanda/user-guide/scale/create-hpa.md
  docs/zh/docs/kpanda/user-guide/scale/create-vpa.md
Labels: kpanda, zh, en, i18n, size/XL

#4959 update quickstart/install/gethosturl.md
  docs/en/docs/insight/quickstart/install/gethosturl.md
  docs/en/navigation.yml
  docs/zh/docs/insight/quickstart/install/gethosturl.md
  docs/zh/navigation.yml
Labels: insight, zh, en, i18n, size/L

#4960 update clusters/cluster-role.md for kpanda
  docs/en/docs/kpanda/user-guide/clusters/cluster-role.md
  docs/zh/docs/kpanda/user-guide/clusters/cluster-role.md
Labels: kpanda, zh, en, i18n, size/L

#4961 [en]update insight documents
  docs/en/docs/insight/best-practice/insight-kafka.md
  docs/en/docs/insight/quickstart/install/index.md
  docs/zh/docs/insight/best-practice/insight-kafka.md
Labels: insight, zh, en, i18n, size/M

#4962 fix terms in /dce folder
  docs/en/docs/dce/bphome.md
  docs/en/docs/dce/dce-rn/20230531.md
  docs/en/docs/dce/dce-rn/20230630.md
  docs/en/docs/dce/dce-rn/20230731.md
  docs/en/docs/dce/dce-rn/20230831.md
  docs/en/docs/dce/dce-rn/20231031.md
  docs/en/docs/dce/dce-rn/20231130.md
  docs/en/docs/dce/dce-rn/20231231.md
  docs/en/docs/dce/dce-rn/20240130.md
  docs/en/docs/dce/dce-rn/20240330.md
  docs/en/docs/dce/dce-rn/20240430.md
  docs/en/docs/dce/dce-rn/20240530.md
  docs/en/docs/dce/dce-rn/20240630.md
  docs/en/docs/dce/features.md
  docs/en/docs/dce/index.md
  docs/en/docs/dce/license0.md
  docs/en/docs/dce/scenario.md
  docs/en/docs/dce/support.md
  docs/en/docs/dce/terms.md
Labels: en, dce, i18n, size/XL

#4964 [en]fix terms in Insight
  docs/en/docs/insight/intro/features.md
  docs/en/docs/insight/intro/releasenote.md
  docs/en/docs/insight/quickstart/jvm-monitor/jmx-exporter.md
  docs/en/docs/insight/quickstart/res-plan/modify-vms-disk.md
  docs/en/docs/insight/quickstart/res-plan/vms-res-plan.md
  docs/en/docs/insight/user-guide/collection-manag/agent-status.md
  docs/en/docs/insight/user-guide/collection-manag/metric-collect.md
  docs/en/docs/insight/user-guide/dashboard/dashboard.md
  docs/en/docs/insight/user-guide/infra/container.md
  docs/en/docs/insight/user-guide/infra/event.md
  docs/en/docs/insight/user-guide/infra/namespace.md
  docs/en/docs/insight/user-guide/system-config/system-component.md
Labels: insight, en, i18n, size/M

#4965 [en]fix terms in Kairship
  docs/en/docs/kairship/best-practice/fhpa.md
  docs/en/docs/kairship/cluster.md
  docs/en/docs/kairship/instance/README.md
  docs/en/docs/kairship/intro/architecture.md
  docs/en/docs/kairship/intro/faq.md
  docs/en/docs/kairship/intro/features.md
  docs/en/docs/kairship/intro/offline-upgrade.md
  docs/en/docs/kairship/intro/release-notes.md
  docs/en/docs/kairship/resource/configmap.md
  docs/en/docs/kairship/resource/ingress.md
  docs/en/docs/kairship/workload/cronjob.md
  docs/en/docs/kairship/workload/deployment.md
  docs/en/docs/kairship/workload/job.md
  docs/en/docs/kairship/workload/update-deployment.md
  docs/en/docs/kairship/workspace.md
Labels: kairship, en, i18n, size/L
