Repository DaoCloud/DaoCloud-docs, pull requests merged in 2024-10, with the labels that each got.

#5686 download: skoala version updated to v0.41.3
  docs/zh/docs/download/modules/skoala.md
Labels: download, zh, size/XS

#5688 [en]: Update insight audit
  docs/en/docs/ghippo/user-guide/audit/gproduct-audit/insight.md
Labels: ghippo, en, i18n, size/XS

#5689 download: kpanda version updated to 0.32.1
  docs/zh/docs/download/index.md
  docs/zh/docs/download/modules/kpanda.md
Labels: download, zh, size/XS

#5690 update kpanda-audit-items
  docs/zh/docs/ghippo/user-guide/audit/gproduct-audit/kpanda.md
Labels: ghippo, zh, size/M

#5694 update middleware docs zh+en in october
  docs/en/docs/download/index.md
  docs/en/docs/download/modules/middleware/elasticsearch.md
  docs/en/docs/download/modules/middleware/kafka.md
  docs/en/docs/download/modules/middleware/minio.md
  docs/en/docs/download/modules/middleware/mongodb.md
  docs/en/docs/download/modules/middleware/mysql.md
  docs/en/docs/download/modules/middleware/postgresql.md
  docs/en/docs/download/modules/middleware/rabbitmq.md
  docs/en/docs/download/modules/middleware/redis.md
  docs/en/docs/download/modules/middleware/rocketmq.md
  docs/zh/docs/download/index.md
  docs/zh/docs/download/modules/middleware/elasticsearch.md
  docs/zh/docs/download/modules/middleware/kafka.md
  docs/zh/docs/download/modules/middleware/minio.md
  docs/zh/docs/download/modules/middleware/mongodb.md
  docs/zh/docs/download/modules/middleware/mysql.md
  docs/zh/docs/download/modules/middleware/postgresql.md
  docs/zh/docs/download/modules/middleware/rabbitmq.md
  docs/zh/docs/download/modules/middleware/redis.md
  docs/zh/docs/download/modules/middleware/rocketmq.md
Labels: download, zh, en, i18n, size/M

#5692 Fix and optimize component-scheduling
  docs/en/docs/insight/quickstart/install/component-scheduling.md
  docs/zh/docs/insight/quickstart/install/component-scheduling.md
Labels: insight, zh, en, i18n, size/S, size/M

#5704 baize: pptimize release note description
  docs/zh/docs/baize/intro/release-notes.md
Labels: zh, baize, size/XS

#5706 download: addon version updated to v0.22.0
  docs/zh/docs/download/addon/history.md
  docs/zh/docs/download/addon/v0.22.0.md
  docs/zh/docs/download/index.md
Labels: download, zh, size/L

#5702 update skoala releasnote to 0.41.3
  docs/zh/docs/skoala/intro/release-notes.md
Labels: skoala, zh, size/S

#5699 update kairship & virtnest releasenote
  docs/zh/docs/kairship/intro/release-notes.md
  docs/zh/docs/virtnest/intro/release-notes.md
Labels: kairship, zh, virtnest, size/M

#5697 update mcamel release note
  docs/zh/docs/middleware/elasticsearch/release-notes.md
  docs/zh/docs/middleware/kafka/release-notes.md
  docs/zh/docs/middleware/minio/release-notes.md
  docs/zh/docs/middleware/mongodb/release-notes.md
  docs/zh/docs/middleware/mysql/release-notes.md
  docs/zh/docs/middleware/postgresql/release-notes.md
  docs/zh/docs/middleware/rabbitmq/release-notes.md
  docs/zh/docs/middleware/redis/release-notes.md
  docs/zh/docs/middleware/rocketmq/release-notes.md
Labels: midware, zh, size/M

#5696 download: kairship version updated to v0.23.0
  docs/zh/docs/download/index.md
  docs/zh/docs/download/modules/kairship.md
Labels: download, zh, size/XS

#5705 update sso in oem-in.md and docking.md
  docs/zh/docs/ghippo/best-practice/oem/images/first1.png
  docs/zh/docs/ghippo/best-practice/oem/images/first2.png
  docs/zh/docs/ghippo/best-practice/oem/images/login.png
  docs/zh/docs/ghippo/best-practice/oem/images/second1.png
  docs/zh/docs/ghippo/best-practice/oem/images/second2.png
  docs/zh/docs/ghippo/best-practice/oem/oem-in.md
  docs/zh/docs/ghippo/user-guide/access-control/docking.md
Labels: ghippo, zh, size/M

#5703 update mspider releasnote to 0.30.0
  docs/zh/docs/mspider/intro/release-notes.md
Labels: mspider, zh, size/S

#5698 modify service map legend explanation
  docs/zh/docs/insight/images/map-setting.png
  docs/zh/docs/insight/images/servicemap01.png
  docs/zh/docs/insight/images/servicemap02.png
  docs/zh/docs/insight/user-guide/system-config/system-config.md
  docs/zh/docs/insight/user-guide/trace/topology-helper.md
  docs/zh/docs/insight/user-guide/trace/topology.md
  docs/zh/navigation.yml
Labels: insight, zh, size/M

#5640 update insigth releasenote in Sep.
  docs/zh/docs/insight/intro/releasenote.md
Labels: insight, zh, size/S

#5707 download: dce5 version updated to v0.22.0
  docs/zh/docs/download/business/dce5-installer-history.md
  docs/zh/docs/download/business/dce5-installer-v0.22.0.md
  docs/zh/docs/download/free/dce5-installer-history.md
  docs/zh/docs/download/free/dce5-installer-v0.22.0.md
  docs/zh/docs/download/index.md
Labels: download, zh, size/L

#5700 update installer to v0.22.0
  docs/zh/docs/amamba/intro/release-notes.md
  docs/zh/docs/install/commercial/cluster-config.md
  docs/zh/docs/install/commercial/start-install.md
  docs/zh/docs/install/community/k8s/k8s-dce-deploy.md
  docs/zh/docs/install/community/k8s/offline.md
  docs/zh/docs/install/community/k8s/online.md
  docs/zh/docs/install/community/kind/online.md
  docs/zh/docs/install/os-install/neokylin-install-dce5.0.md
  docs/zh/docs/install/release-notes.md
  docs/zh/docs/storage/hwameistor/releasenotes.md
Labels: amamba, installer, zh, storage, size/L

#5710 [en] update amamba release notes to v0.31.0
  docs/en/docs/amamba/intro/release-notes.md
  docs/zh/docs/amamba/intro/release-notes.md
Labels: amamba, zh, en, i18n, size/S

#5711 update hwameistor release notes
  docs/en/docs/storage/hwameistor/releasenotes.md
  docs/zh/docs/storage/hwameistor/releasenotes.md
Labels: zh, en, storage, i18n, size/L

#5712 [en] update installer pages to v0.22.0
  docs/en/docs/install/commercial/cluster-config.md
  docs/en/docs/install/commercial/start-install.md
  docs/en/docs/install/community/k8s/k8s-dce-deploy.md
  docs/en/docs/install/community/k8s/offline.md
  docs/en/docs/install/community/k8s/online.md
  docs/en/docs/install/community/kind/online.md
  docs/en/docs/install/os-install/neokylin-install-dce5.0.md
  docs/en/docs/install/release-notes.md
  docs/zh/docs/install/commercial/cluster-config.md
  docs/zh/docs/install/commercial/start-install.md
  docs/zh/docs/install/release-notes.md
Labels: installer, zh, en, i18n, size/L

#5713 [en] update mspider release notes to v0.30.0
  docs/en/docs/mspider/intro/release-notes.md
  docs/zh/docs/mspider/intro/release-notes.md
Labels: mspider, zh, en, i18n, size/M

#5714 update skoala release notes
  docs/en/docs/skoala/intro/release-notes.md
  docs/zh/docs/skoala/intro/release-notes.md
Labels: skoala, zh, en, i18n, size/L

#5715 update structure of kairship release notes
  docs/en/docs/kairship/intro/release-notes.md
  docs/zh/docs/kairship/intro/release-notes.md
Labels: kairship, size/L

#5716 update virtnest release notes
  docs/en/docs/virtnest/intro/release-notes.md
  docs/zh/docs/virtnest/intro/release-notes.md
Labels: zh, en, virtnest, i18n, size/L

#5718 update pre-tar-version
  docs/zh/docs/download/index.md
Labels: download, zh, size/XS

#5720 Fix links in blogs, download, community
  docs/en/docs/blogs/0606-k8s-birth.md
  docs/en/docs/blogs/230509-k8s-install.md
  docs/en/docs/community/dtx.md
  docs/en/docs/community/kube-node-tuning.md
  docs/en/docs/community/spiderpool.md
  docs/en/docs/download/modules/kcollie.md
  docs/en/docs/download/modules/kcoral.md
  docs/en/docs/install/community/kind/online.md
  docs/zh/docs/community/dtx.md
  docs/zh/docs/community/klts.md
  docs/zh/docs/community/kube-node-tuning.md
  docs/zh/docs/community/spiderpool.md
  docs/zh/docs/dce/scenario.md
  docs/zh/docs/download/modules/kcollie.md
  docs/zh/docs/download/modules/kcoral.md
  docs/zh/docs/install/best-practices/cve-20240-21626.md
  docs/zh/docs/install/community/kind/online.md
  docs/zh/docs/mspider/user-guide/traffic-governance/README.md
Labels: download, zh, en, blogs, dce, eco, i18n, size/M

#5722 Fix image and anchors in kasmcloud.md
  docs/en/docs/community/kasmcloud.md
  docs/zh/docs/community/kasmcloud.md
Labels: zh, en, eco, i18n, size/S

#5724 fix links in baize folder
  docs/en/docs/baize/developer/inference/models.md
  docs/en/docs/dce/dce-rn/20240430.md
  docs/en/docs/dce/dce-rn/20240530.md
  docs/en/docs/dce/dce-rn/20240630.md
  docs/en/docs/dce/dce-rn/20240730.md
  docs/en/docs/dce/dce-rn/20240830.md
  docs/en/docs/videos/baize.md
  docs/zh/docs/baize/developer/inference/models.md
  docs/zh/docs/dce/dce-rn/20240430.md
  docs/zh/docs/dce/dce-rn/20240530.md
  docs/zh/docs/dce/dce-rn/20240630.md
  docs/zh/docs/dce/dce-rn/20240730.md
  docs/zh/docs/dce/dce-rn/20240830.md
  docs/zh/docs/videos/baize.md
  docs/zh/docs/videos/use-cases.md
Labels: zh, en, dce, i18n, baize, size/M

#5725 fix links in native folder
  docs/zh/docs/native/git/video.md
  docs/zh/docs/native/git/works.md
Labels: zh, native, size/S

#5726 Remove the ability to specify middleware when upgrading in the upgrad.md
  docs/zh/docs/install/upgrade.md
Labels: installer, zh, size/XS

#5727 fix links in virtnest folder
  docs/en/docs/dce/bphome.md
  docs/en/docs/dce/dce-rn/20240330.md
  docs/en/docs/dce/dce-rn/20240430.md
  docs/en/docs/virtnest/intro/index.md
  docs/zh/docs/dce/bphome.md
  docs/zh/docs/dce/dce-rn/20240330.md
  docs/zh/docs/dce/dce-rn/20240430.md
  docs/zh/docs/virtnest/intro/faq.md
  docs/zh/docs/virtnest/intro/index.md
  docs/zh/docs/virtnest/quickstart/index.md
Labels: zh, en, dce, virtnest, i18n, size/S

#5728 Fix links in kangaroo folder
  docs/en/docs/dce/dce-rn/20230531.md
  docs/en/docs/dce/dce-rn/20230630.md
  docs/en/docs/dce/dce-rn/20230731.md
  docs/en/docs/dce/dce-rn/20231130.md
  docs/en/docs/dce/dce-rn/20240830.md
  docs/zh/docs/dce/dce-rn/20230531.md
  docs/zh/docs/dce/dce-rn/20230630.md
  docs/zh/docs/dce/dce-rn/20230731.md
  docs/zh/docs/dce/dce-rn/20231130.md
  docs/zh/docs/dce/dce-rn/20240830.md
  docs/zh/docs/kangaroo/integrate/integrate-admin/integrate-admin.md
Labels: zh, en, kangaroo, dce, i18n, size/S

#5629 Download: kant version updated to 0.15.0
  docs/en/docs/download/modules/kant.md
  docs/zh/docs/download/modules/kant.md
Labels: download, zh, en, i18n, size/M

#5729 fix links in mspider folder
  docs/en/docs/download/business/dce5-installer-v0.13.0.md
  docs/en/docs/download/business/dce5-installer-v0.3.28.md
  docs/en/docs/download/business/dce5-installer-v0.3.29.md
  docs/en/docs/download/business/dce5-installer-v0.3.30.md
  docs/en/docs/download/business/dce5-installer-v0.4.0.md
  docs/en/docs/download/business/dce5-installer-v0.7.0.md
  docs/en/docs/mspider/intro/release-notes.md
  docs/zh/docs/download/business/dce5-installer-v0.13.0.md
  docs/zh/docs/download/business/dce5-installer-v0.3.28.md
  docs/zh/docs/download/business/dce5-installer-v0.3.29.md
  docs/zh/docs/download/business/dce5-installer-v0.3.30.md
  docs/zh/docs/download/business/dce5-installer-v0.4.0.md
  docs/zh/docs/download/business/dce5-installer-v0.7.0.md
  docs/zh/docs/mspider/intro/release-notes.md
  docs/zh/docs/mspider/user-guide/security/authorize.md
Labels: mspider, download, zh, en, i18n, size/L

#5730 download: amamba version updated to v0.31.0
  docs/zh/docs/download/index.md
  docs/zh/docs/download/modules/amamba.md
Labels: download, zh, size/XS

#5731 Fix links in skoala folder
  docs/en/docs/download/business/dce5-installer-v0.3.28.md
  docs/en/docs/download/business/dce5-installer-v0.3.29.md
  docs/en/docs/download/business/dce5-installer-v0.3.30.md
  docs/en/docs/download/free/dce5-installer-v0.11.0.md
  docs/en/docs/download/free/dce5-installer-v0.12.0.md
  docs/en/docs/download/free/dce5-installer-v0.13.0.md
  docs/en/docs/download/free/dce5-installer-v0.14.0.md
  docs/en/docs/download/free/dce5-installer-v0.15.0.md
  docs/en/docs/download/free/dce5-installer-v0.15.1.md
  docs/en/docs/download/free/dce5-installer-v0.15.2.md
  docs/en/docs/download/free/dce5-installer-v0.16.0.md
  docs/en/docs/download/free/dce5-installer-v0.16.1.md
  docs/en/docs/download/free/dce5-installer-v0.17.0.md
  docs/en/docs/download/free/dce5-installer-v0.18.0.md
  docs/en/docs/download/free/dce5-installer-v0.19.0.md
  docs/en/docs/download/free/dce5-installer-v0.20.0.md
  docs/en/docs/download/free/dce5-installer-v0.21.0.md
  docs/en/docs/download/free/dce5-installer-v0.22.0.md
  docs/en/docs/download/free/dce5-installer-v0.5.0.md
  docs/en/docs/download/free/dce5-installer-v0.6.1.md
  docs/en/docs/download/free/dce5-installer-v0.7.0.md
  docs/en/docs/download/free/dce5-installer-v0.8.0.md
  docs/en/docs/download/free/dce5-installer-v0.9.0.md
  docs/en/docs/skoala/gateway/api/api-policy.md
  docs/en/docs/skoala/gateway/domain/domain-policy.md
  docs/zh/docs/download/business/dce5-installer-v0.15.0.md
  docs/zh/docs/download/business/dce5-installer-v0.15.1.md
  docs/zh/docs/download/business/dce5-installer-v0.15.2.md
  docs/zh/docs/download/business/dce5-installer-v0.16.0.md
  docs/zh/docs/download/business/dce5-installer-v0.16.1.md
  docs/zh/docs/download/business/dce5-installer-v0.17.0.md
  docs/zh/docs/download/business/dce5-installer-v0.18.0.md
  docs/zh/docs/download/business/dce5-installer-v0.19.0.md
  docs/zh/docs/download/business/dce5-installer-v0.20.0.md
  docs/zh/docs/download/business/dce5-installer-v0.21.0.md
  docs/zh/docs/download/business/dce5-installer-v0.22.0.md
  docs/zh/docs/download/business/dce5-installer-v0.3.28.md
  docs/zh/docs/download/business/dce5-installer-v0.3.29.md
  docs/zh/docs/download/business/dce5-installer-v0.3.30.md
  docs/zh/docs/download/free/dce5-installer-v0.15.0.md
  docs/zh/docs/download/free/dce5-installer-v0.15.1.md
  docs/zh/docs/download/free/dce5-installer-v0.15.2.md
  docs/zh/docs/download/free/dce5-installer-v0.16.0.md
  docs/zh/docs/download/free/dce5-installer-v0.16.1.md
  docs/zh/docs/download/free/dce5-installer-v0.17.0.md
  docs/zh/docs/download/free/dce5-installer-v0.18.0.md
  docs/zh/docs/download/free/dce5-installer-v0.19.0.md
  docs/zh/docs/download/free/dce5-installer-v0.20.0.md
  docs/zh/docs/download/free/dce5-installer-v0.21.0.md
  docs/zh/docs/download/free/dce5-installer-v0.22.0.md
  docs/zh/docs/skoala/gateway/api/api-policy.md
  docs/zh/docs/skoala/gateway/domain/domain-policy.md
  docs/zh/docs/skoala/gateway/index.md
Labels: skoala, download, zh, en, i18n, size/XL

#5733 fix links in kairship folder
  docs/en/docs/dce/dce-rn/20231031.md
  docs/en/docs/download/business/dce5-installer-v0.11.0.md
  docs/en/docs/download/business/dce5-installer-v0.12.0.md
  docs/en/docs/download/business/dce5-installer-v0.13.0.md
  docs/en/docs/download/business/dce5-installer-v0.14.0.md
  docs/en/docs/download/business/dce5-installer-v0.15.0.md
  docs/en/docs/download/business/dce5-installer-v0.15.1.md
  docs/en/docs/download/business/dce5-installer-v0.15.2.md
  docs/en/docs/download/business/dce5-installer-v0.16.0.md
  docs/en/docs/download/business/dce5-installer-v0.16.1.md
  docs/en/docs/download/business/dce5-installer-v0.17.0.md
  docs/en/docs/download/business/dce5-installer-v0.18.0.md
  docs/en/docs/download/business/dce5-installer-v0.19.0.md
  docs/en/docs/download/business/dce5-installer-v0.20.0.md
  docs/en/docs/download/business/dce5-installer-v0.21.0.md
  docs/en/docs/download/business/dce5-installer-v0.22.0.md
  docs/en/docs/download/business/dce5-installer-v0.3.27.md
  docs/en/docs/download/business/dce5-installer-v0.3.28.md
  docs/en/docs/download/business/dce5-installer-v0.3.29.md
  docs/en/docs/download/business/dce5-installer-v0.3.30.md
  docs/en/docs/download/business/dce5-installer-v0.4.0.md
  docs/en/docs/download/business/dce5-installer-v0.5.0.md
  docs/en/docs/download/business/dce5-installer-v0.6.0.md
  docs/en/docs/download/business/dce5-installer-v0.6.1.md
  docs/en/docs/download/business/dce5-installer-v0.7.0.md
  docs/en/docs/download/business/dce5-installer-v0.8.0.md
  docs/en/docs/download/business/dce5-installer-v0.9.0.md
  docs/en/docs/kairship/intro/release-notes.md
  docs/zh/docs/dce/dce-rn/20230731.md
  docs/zh/docs/dce/dce-rn/20231031.md
  docs/zh/docs/download/business/dce5-installer-v0.11.0.md
  docs/zh/docs/download/business/dce5-installer-v0.12.0.md
  docs/zh/docs/download/business/dce5-installer-v0.13.0.md
  docs/zh/docs/download/business/dce5-installer-v0.14.0.md
  docs/zh/docs/download/business/dce5-installer-v0.15.0.md
  docs/zh/docs/download/business/dce5-installer-v0.15.1.md
  docs/zh/docs/download/business/dce5-installer-v0.15.2.md
  docs/zh/docs/download/business/dce5-installer-v0.16.0.md
  docs/zh/docs/download/business/dce5-installer-v0.16.1.md
  docs/zh/docs/download/business/dce5-installer-v0.17.0.md
  docs/zh/docs/download/business/dce5-installer-v0.18.0.md
  docs/zh/docs/download/business/dce5-installer-v0.19.0.md
  docs/zh/docs/download/business/dce5-installer-v0.20.0.md
  docs/zh/docs/download/business/dce5-installer-v0.21.0.md
  docs/zh/docs/download/business/dce5-installer-v0.22.0.md
  docs/zh/docs/download/business/dce5-installer-v0.3.27.md
  docs/zh/docs/download/business/dce5-installer-v0.3.28.md
  docs/zh/docs/download/business/dce5-installer-v0.3.29.md
  docs/zh/docs/download/business/dce5-installer-v0.3.30.md
  docs/zh/docs/download/business/dce5-installer-v0.4.0.md
  docs/zh/docs/download/business/dce5-installer-v0.5.0.md
  docs/zh/docs/download/business/dce5-installer-v0.6.1.md
  docs/zh/docs/download/business/dce5-installer-v0.7.0.md
  docs/zh/docs/download/business/dce5-installer-v0.8.0.md
  docs/zh/docs/download/business/dce5-installer-v0.9.0.md
  docs/zh/docs/kairship/intro/release-notes.md
  docs/zh/docs/videos/kairship.md
Labels: kairship, zh, en, i18n, size/L

#5734 Fix remained text to AI Lab
  docs/zh/docs/baize/best-practice/label-studio.md
  docs/zh/docs/baize/developer/jobs/create.md
  docs/zh/docs/baize/intro/install.md
Labels: zh, baize, size/S

#5735 download: kangaroo version updated to 0.22.0
  docs/zh/docs/download/index.md
  docs/zh/docs/download/modules/kangaroo.md
Labels: download, zh, size/XS

#5737 download: insight version updated to v0.31.0
  docs/zh/docs/download/index.md
  docs/zh/docs/download/modules/insight.md
Labels: download, zh, size/XS

#5740 update submodule table: download/index
  docs/zh/docs/download/index.md
Labels: download, zh, size/M

#5741 download: mspider version updated to v0.30.1
  docs/zh/docs/download/index.md
  docs/zh/docs/download/modules/mspider.md
Labels: download, zh, size/XS

#5742 download page for ipavo
  docs/en/docs/download/index.md
  docs/en/docs/download/modules/ipavo.md
  docs/en/navigation.yml
  docs/zh/docs/download/index.md
  docs/zh/docs/download/modules/ipavo.md
  docs/zh/navigation.yml
Labels: download, zh, en, i18n, size/M

#5743 [en] update download pages
  docs/en/docs/download/index.md
  docs/en/docs/download/modules/amamba.md
  docs/en/docs/download/modules/insight.md
  docs/en/docs/download/modules/kangaroo.md
  docs/en/docs/download/modules/mspider.md
Labels: download, en, i18n, size/M

#5744 download: amamba version updated to v0.31.1
  docs/zh/docs/download/modules/amamba.md
Labels: download, zh, size/XS

#5745 Add release notes dce5.0-20240930
  docs/en/navigation.yml
  docs/zh/docs/dce/dce-rn/20240930.md
  docs/zh/navigation.yml
Labels: zh, en, dce, i18n, size/L

#5746 download: skoala version updated to v0.40.2
  docs/zh/docs/download/modules/skoala.md
Labels: download, zh, size/XS

#5748 Update baize/intro/install.md
  docs/en/docs/baize/images/agent-helm.png
  docs/en/docs/baize/intro/install.md
  docs/zh/docs/baize/images/agent-helm.png
  docs/zh/docs/baize/intro/install.md
Labels: zh, en, i18n, baize, size/L

#5749 update baize/intro/first.md
  docs/zh/docs/baize/images/change-ws.png
  docs/zh/docs/baize/images/cluster.png
  docs/zh/docs/baize/images/oam-overview.png
  docs/zh/docs/baize/images/workspace.png
  docs/zh/docs/baize/intro/first.md
  docs/zh/navigation.yml
Labels: zh, baize, size/S

#5752 Fix 404 links in kant
  docs/zh/docs/dce/bphome.md
  docs/zh/docs/dce/dce-rn/20231130.md
  docs/zh/docs/dce/dce-rn/20231231.md
  docs/zh/docs/dce/dce-rn/20240830.md
  docs/zh/docs/kant/user-guide/edge-app/create-batch-app.md
  docs/zh/docs/kant/user-guide/edge-network/service.md
  docs/zh/docs/kant/user-guide/node/batch-registration.md
  docs/zh/docs/kant/user-guide/node/batch-upgrade.md
Labels: zh, dce, kant, size/M

#5756 Fix links in middleware
  docs/en/docs/dce/dce-rn/20240530.md
  docs/en/docs/dce/dce-rn/20240630.md
  docs/en/docs/dce/dce-rn/20240730.md
  docs/en/docs/dce/dce-rn/20240830.md
  docs/en/docs/download/business/dce5-installer-v0.18.0.md
  docs/en/docs/download/business/dce5-installer-v0.19.0.md
  docs/en/docs/download/business/dce5-installer-v0.20.0.md
  docs/en/docs/download/business/dce5-installer-v0.21.0.md
  docs/en/docs/download/business/dce5-installer-v0.3.28.md
  docs/en/docs/download/business/dce5-installer-v0.3.29.md
  docs/en/docs/download/business/dce5-installer-v0.3.30.md
  docs/en/docs/download/business/dce5-installer-v0.4.0.md
  docs/en/docs/download/business/dce5-installer-v0.7.0.md
  docs/en/docs/download/business/dce5-installer-v0.8.0.md
  docs/en/docs/download/business/dce5-installer-v0.9.0.md
  docs/en/docs/middleware/index.md
  docs/zh/docs/dce/dce-rn/20240530.md
  docs/zh/docs/dce/dce-rn/20240630.md
  docs/zh/docs/dce/dce-rn/20240730.md
  docs/zh/docs/dce/dce-rn/20240830.md
  docs/zh/docs/download/business/dce5-installer-v0.18.0.md
  docs/zh/docs/download/business/dce5-installer-v0.19.0.md
  docs/zh/docs/download/business/dce5-installer-v0.20.0.md
  docs/zh/docs/download/business/dce5-installer-v0.21.0.md
  docs/zh/docs/download/business/dce5-installer-v0.3.28.md
  docs/zh/docs/download/business/dce5-installer-v0.3.29.md
  docs/zh/docs/download/business/dce5-installer-v0.3.30.md
  docs/zh/docs/download/business/dce5-installer-v0.4.0.md
  docs/zh/docs/download/business/dce5-installer-v0.7.0.md
  docs/zh/docs/download/business/dce5-installer-v0.8.0.md
  docs/zh/docs/download/business/dce5-installer-v0.9.0.md
  docs/zh/docs/middleware/index.md
Labels: midware, download, zh, en, dce, i18n, size/L

#5757 update midware release notes
  docs/en/docs/middleware/elasticsearch/release-notes.md
  docs/en/docs/middleware/kafka/release-notes.md
  docs/en/docs/middleware/minio/release-notes.md
  docs/en/docs/middleware/mongodb/release-notes.md
  docs/en/docs/middleware/mysql/release-notes.md
  docs/en/docs/middleware/postgresql/release-notes.md
  docs/en/docs/middleware/rabbitmq/release-notes.md
  docs/en/docs/middleware/redis/release-notes.md
  docs/en/docs/middleware/rocketmq/release-notes.md
  docs/zh/docs/middleware/elasticsearch/release-notes.md
  docs/zh/docs/middleware/kafka/release-notes.md
  docs/zh/docs/middleware/minio/release-notes.md
  docs/zh/docs/middleware/mongodb/release-notes.md
  docs/zh/docs/middleware/mysql/release-notes.md
  docs/zh/docs/middleware/postgresql/release-notes.md
  docs/zh/docs/middleware/rabbitmq/release-notes.md
  docs/zh/docs/middleware/redis/release-notes.md
  docs/zh/docs/middleware/rocketmq/release-notes.md
Labels: midware, zh, en, i18n, size/L

#5759 download: amamba version updated to v0.31.2
  docs/zh/docs/download/modules/amamba.md
Labels: download, zh, size/XS

#5761 [download] update amamba and skoala
  docs/en/docs/download/index.md
  docs/en/docs/download/modules/amamba.md
  docs/en/docs/download/modules/skoala.md
  docs/zh/docs/download/index.md
  docs/zh/docs/download/modules/skoala.md
Labels: download, zh, en, i18n, size/S

#5763 update download/index.md
  docs/en/docs/download/index.md
  docs/zh/docs/download/index.md
Labels: download, zh, en, i18n, size/S

#5764 update dce-intro.pdf
  docs/zh/docs/download/DCE5.0-intro.pdf
Labels: download, zh, size/XS

#5765 virtnest cold-migration.md
  docs/zh/docs/virtnest/images/cold01.png
  docs/zh/docs/virtnest/images/cold02.png
  docs/zh/docs/virtnest/images/cold03.png
  docs/zh/docs/virtnest/images/cold04.png
  docs/zh/docs/virtnest/intro/features.md
  docs/zh/docs/virtnest/vm/migratiom.md
  docs/zh/navigation.yml
Labels: zh, virtnest, size/M

#5767 🐛 fix(baize): Update quickstart of developer
  docs/zh/docs/baize/developer/quick-start.md
  docs/zh/docs/baize/images/baize-06.png
  docs/zh/navigation.yml
Labels: zh, baize, size/S

#5769 update dce/index.md
  docs/zh/docs/dce/index.md
Labels: zh, dce, size/XS

#5770 fix 404 links and update en pages for insight
  docs/en/docs/dce/dce-rn/20230831.md
  docs/en/docs/download/business/dce5-installer-v0.12.0.md
  docs/en/docs/download/business/dce5-installer-v0.3.27.md
  docs/en/docs/download/business/dce5-installer-v0.7.0.md
  docs/en/docs/download/business/dce5-installer-v0.8.0.md
  docs/en/docs/download/business/dce5-installer-v0.9.0.md
  docs/en/docs/download/free/dce5-installer-v0.12.0.md
  docs/en/docs/download/free/dce5-installer-v0.3.27.md
  docs/en/docs/download/free/dce5-installer-v0.7.0.md
  docs/en/docs/download/free/dce5-installer-v0.8.0.md
  docs/en/docs/download/free/dce5-installer-v0.9.0.md
  docs/en/docs/insight/intro/index.md
  docs/en/docs/insight/quickstart/otel/golang-ebpf.md
  docs/en/docs/insight/quickstart/otel/golang/golang.md
  docs/en/docs/insight/quickstart/otel/golang/meter.md
  docs/en/docs/insight/quickstart/otel/java/index.md
  docs/en/docs/insight/quickstart/otel/java/jvm-monitor/jmx-exporter.md
  docs/en/docs/insight/quickstart/otel/java/jvm-monitor/legacy-jvm.md
  docs/en/docs/insight/quickstart/otel/java/jvm-monitor/otel-java-agent.md
  docs/en/docs/insight/quickstart/otel/java/mdc.md
  docs/en/docs/insight/quickstart/otel/operator.md
  docs/en/docs/insight/quickstart/otel/otel.md
  docs/en/docs/insight/user-guide/infra/container.md
  docs/en/docs/insight/user-guide/trace/topology.md
  docs/en/docs/middleware/index.md
  docs/en/docs/skoala/standard/monitor.md
  docs/en/navigation.yml
  docs/zh/docs/dce/dce-rn/20230831.md
  docs/zh/docs/download/business/dce5-installer-v0.12.0.md
  docs/zh/docs/download/business/dce5-installer-v0.3.27.md
  docs/zh/docs/download/business/dce5-installer-v0.7.0.md
  docs/zh/docs/download/business/dce5-installer-v0.8.0.md
  docs/zh/docs/download/business/dce5-installer-v0.9.0.md
  docs/zh/docs/download/free/dce5-installer-v0.12.0.md
  docs/zh/docs/download/free/dce5-installer-v0.3.27.md
  docs/zh/docs/download/free/dce5-installer-v0.7.0.md
  docs/zh/docs/download/free/dce5-installer-v0.8.0.md
  docs/zh/docs/download/free/dce5-installer-v0.9.0.md
  docs/zh/docs/insight/intro/index.md
  docs/zh/docs/insight/quickstart/otel/golang/golang.md
  docs/zh/docs/insight/quickstart/otel/java/jvm-monitor/jmx-exporter.md
  docs/zh/docs/insight/quickstart/otel/java/jvm-monitor/legacy-jvm.md
  docs/zh/docs/insight/quickstart/otel/java/mdc.md
  docs/zh/docs/insight/quickstart/otel/otel.md
  docs/zh/docs/insight/user-guide/infra/cluster.md
  docs/zh/docs/insight/user-guide/infra/container.md
  docs/zh/docs/insight/user-guide/trace/service.md
  docs/zh/docs/insight/user-guide/trace/topology.md
  docs/zh/docs/middleware/index.md
  docs/zh/docs/skoala/standard/monitor.md
Labels: insight, zh, en, i18n, size/XL

#5058 update docs for spiderpool installtion
  docs/zh/docs/network/modules/spiderpool/install/install.md
Labels: zh, network, size/M

#5771 Fix 404 links in ghippo
  docs/en/docs/download/modules/gmagpie.md
  docs/en/docs/ghippo/best-practice/oem/oem-in.md
  docs/en/docs/ghippo/best-practice/oem/oem-out.md
  docs/en/docs/ghippo/permissions/kpanda.md
  docs/zh/docs/dce/dce-rn/20240130.md
  docs/zh/docs/download/modules/gmagpie.md
  docs/zh/docs/ghippo/best-practice/oem/oem-in.md
  docs/zh/docs/ghippo/best-practice/oem/oem-out.md
  docs/zh/docs/ghippo/intro/release-notes.md
  docs/zh/docs/ghippo/permissions/kpanda.md
  docs/zh/docs/ghippo/user-guide/access-control/user.md
  docs/zh/docs/install/k8s-install/ecs-install-dce5.0.md
  docs/zh/docs/kairship/best-practice/fhpa.md
  docs/zh/docs/kangaroo/intro/release-notes.md
Labels: ghippo, zh, en, i18n, size/M

#5772 update kangaroo release notes to v0.22.0
  docs/en/docs/kangaroo/intro/release-notes.md
  docs/zh/docs/kangaroo/intro/release-notes.md
Labels: zh, en, kangaroo, i18n, size/L

#5773 Add mermaid to access-control
  docs/en/docs/ghippo/user-guide/access-control/iam.md
  docs/zh/docs/ghippo/user-guide/access-control/iam.md
Labels: ghippo, zh, en, i18n, size/M

#5774 update install/evolve and upgrade
  docs/zh/docs/install/evolve.md
  docs/zh/docs/install/upgrade-des.md
  docs/zh/docs/install/upgrade.md
  docs/zh/navigation.yml
Labels: installer, zh, size/M

#5777 📝 docs(baize): Upgrade quickstart guide
  docs/zh/docs/baize/developer/quick-start.md
  docs/zh/docs/baize/images/baize-06.png
  docs/zh/docs/baize/images/baize-07.png
  docs/zh/docs/baize/images/baize-08.png
Labels: zh, baize, size/M

#5779 Fix links in amamba folder
  docs/en/docs/amamba/intro/release-notes.md
  docs/en/docs/amamba/user-guide/pipeline/cicd_vm.md
  docs/en/docs/amamba/user-guide/pipeline/system-env.md
  docs/en/docs/dce/dce-rn/20240730.md
  docs/en/docs/dce/dce-rn/20240830.md
  docs/en/docs/download/business/dce5-installer-v0.20.0.md
  docs/en/docs/download/business/dce5-installer-v0.21.0.md
  docs/en/docs/download/business/dce5-installer-v0.5.0.md
  docs/en/docs/kangaroo/integrate/integrate-admin/bind-to-ws.md
  docs/zh/docs/amamba/images/namespace05.png
  docs/zh/docs/amamba/intro/release-notes.md
  docs/zh/docs/amamba/user-guide/pipeline/cicd_vm.md
  docs/zh/docs/amamba/user-guide/pipeline/jenkins-agent.md
  docs/zh/docs/amamba/user-guide/pipeline/system-env.md
  docs/zh/docs/amamba/user-guide/release/canary.md
  docs/zh/docs/dce/dce-rn/20240730.md
  docs/zh/docs/dce/dce-rn/20240830.md
  docs/zh/docs/download/business/dce5-installer-v0.20.0.md
  docs/zh/docs/download/business/dce5-installer-v0.21.0.md
  docs/zh/docs/download/business/dce5-installer-v0.5.0.md
  docs/zh/docs/kangaroo/integrate/integrate-admin/bind-to-ws.md
Labels: amamba, zh, en, i18n, size/L

#5781 update and fix typo in developer/quick-start.md
  docs/zh/docs/baize/developer/quick-start.md
Labels: zh, baize, size/M

#5782 kpanda update user guide
  docs/zh/docs/kpanda/best-practice/update-offline-cluster.md
  docs/zh/docs/kpanda/intro/faq.md
  docs/zh/navigation.yml
Labels: kpanda, zh, size/M

#5784 Add index to kpanda/intro/faq.md
  docs/zh/docs/kpanda/intro/faq.md
Labels: kpanda, zh, size/L

#5786 [en] Add dce-rn/20240930.md
  docs/en/docs/amamba/user-guide/gitops/gitops-secret.md
  docs/en/docs/dce/dce-rn/20240830.md
  docs/en/docs/dce/dce-rn/20240930.md
  docs/en/navigation.yml
  docs/zh/docs/dce/dce-rn/20240930.md
Labels: zh, en, dce, i18n, size/L

#5794 🐛 fix(docs): Fix baize quickstart issue (close #5788)
  docs/zh/docs/baize/developer/quick-start.md
Labels: zh, baize, size/XS

#5796 Fix helm upgrade command with --set
  docs/zh/docs/mspider/install/install.md
Labels: mspider, zh, size/XS

#5797 Add a video to baize
  docs/zh/docs/videos/baize.md
Labels: zh, videos, size/M

#5799 update dce-5.0 rn nav name
  docs/zh/docs/dce/dce-rn/20230531.md
  docs/zh/docs/dce/dce-rn/20230630.md
  docs/zh/docs/dce/dce-rn/20230731.md
  docs/zh/docs/dce/dce-rn/20230831.md
  docs/zh/docs/dce/dce-rn/20231031.md
  docs/zh/docs/dce/dce-rn/20231130.md
  docs/zh/docs/dce/dce-rn/20231231.md
  docs/zh/docs/dce/dce-rn/20240130.md
  docs/zh/docs/dce/dce-rn/20240330.md
  docs/zh/docs/dce/dce-rn/20240430.md
  docs/zh/docs/dce/dce-rn/20240530.md
  docs/zh/docs/dce/dce-rn/20240630.md
  docs/zh/docs/dce/dce-rn/20240730.md
  docs/zh/docs/dce/dce-rn/20240830.md
  docs/zh/docs/dce/dce-rn/20240930.md
  docs/zh/navigation.yml
Labels: zh, dce, size/M

#5800 add jenkins metric
  docs/zh/docs/amamba/images/jenkins-metric.png
  docs/zh/docs/amamba/user-guide/pipeline/jenkins-metric.md
  docs/zh/navigation.yml
Labels: amamba, zh, size/M

#5803 update pipeline/jenkins-metric.md and add en version
  docs/en/docs/amamba/user-guide/pipeline/jenkins-metric.md
  docs/en/navigation.yml
  docs/zh/docs/amamba/user-guide/pipeline/jenkins-metric.md
Labels: amamba, zh, en, i18n, size/L

#5804 [en] Add installer version to dce-5.0 release notes titles
  docs/en/docs/dce/dce-rn/20230531.md
  docs/en/docs/dce/dce-rn/20230630.md
  docs/en/docs/dce/dce-rn/20230731.md
  docs/en/docs/dce/dce-rn/20230831.md
  docs/en/docs/dce/dce-rn/20231031.md
  docs/en/docs/dce/dce-rn/20231130.md
  docs/en/docs/dce/dce-rn/20231231.md
  docs/en/docs/dce/dce-rn/20240130.md
  docs/en/docs/dce/dce-rn/20240330.md
  docs/en/docs/dce/dce-rn/20240430.md
  docs/en/docs/dce/dce-rn/20240530.md
  docs/en/docs/dce/dce-rn/20240630.md
  docs/en/docs/dce/dce-rn/20240730.md
  docs/en/docs/dce/dce-rn/20240830.md
  docs/en/docs/dce/dce-rn/20240930.md
  docs/en/navigation.yml
Labels: en, dce, i18n, size/M

#5805 Update deploy-nfs-in-worker.md
  docs/zh/docs/baize/best-practice/deploy-nfs-in-worker.md
Labels: zh, baize, size/XS

#5806 update structure of kpanda/intro/faq.md
  docs/zh/docs/kpanda/intro/faq.md
Labels: kpanda, zh, size/M

#5811 Fix a term about global service cluster
  docs/zh/docs/amamba/intro/release-notes.md
  docs/zh/docs/amamba/user-guide/pipeline/install-jenkins.md
  docs/zh/docs/baize/best-practice/change-notebook-image.md
  docs/zh/docs/dce/dce-rn/20230831.md
  docs/zh/docs/dce/dce-rn/20240430.md
  docs/zh/docs/dce/dce-rn/20240530.md
  docs/zh/docs/insight/best-practice/debug-trace.md
  docs/zh/docs/insight/best-practice/tail-based-sampling.md
  docs/zh/docs/insight/quickstart/install/helm-installagent.md
  docs/zh/docs/insight/quickstart/install/install-agent.md
  docs/zh/docs/insight/quickstart/res-plan/vms-res-plan.md
  docs/zh/docs/install/best-practices/all-in-one-machine.md
  docs/zh/docs/install/best-practices/cve-20240-21626.md
  docs/zh/docs/install/best-practices/extend-params.md
  docs/zh/docs/install/best-practices/thinder-ha.md
  docs/zh/docs/install/commercial/cluster-config.md
  docs/zh/docs/install/commercial/port-requirements.md
  docs/zh/docs/install/faq.md
  docs/zh/docs/install/release-notes.md
  docs/zh/docs/kairship/instance/add.md
  docs/zh/docs/kairship/intro/features.md
  docs/zh/docs/kairship/intro/release-notes.md
  docs/zh/docs/kant/user-guide/edge-unit/create-internal-unit.md
  docs/zh/docs/kant/user-guide/edge-unit/edge-observable.md
  docs/zh/docs/kpanda/best-practice/kubean-low-version.md
  docs/zh/docs/kpanda/best-practice/update-offline-cluster.md
  docs/zh/docs/kpanda/intro/release-notes.md
  docs/zh/docs/kpanda/user-guide/clusters/create-cluster.md
  docs/zh/docs/kpanda/user-guide/clusters/integrate-rancher-cluster.md
  docs/zh/docs/kpanda/user-guide/gpu/nvidia/upgrade_yum_source_centos7_9.md
  docs/zh/docs/kpanda/user-guide/gpu/nvidia/upgrade_yum_source_redhat8_4.md
  docs/zh/docs/kpanda/user-guide/gpu/nvidia/yum_source_redhat7_9.md
  docs/zh/docs/kpanda/user-guide/namespaces/exclusive.md
  docs/zh/docs/kpanda/user-guide/olm/import-miniooperator.md
  docs/zh/docs/kpanda/user-guide/permissions/custom-kpanda-role.md
  docs/zh/docs/mspider/intro/comp-archi-ui/cp-component.md
  docs/zh/docs/mspider/intro/release-notes.md
  docs/zh/docs/mspider/troubleshoot/always-in-creating.md
  docs/zh/docs/mspider/troubleshoot/cannot-find-cluster.md
  docs/zh/docs/mspider/troubleshoot/dce4.0-issues.md
  docs/zh/docs/mspider/troubleshoot/failed-to-delete.md
  docs/zh/docs/mspider/troubleshoot/index.md
  docs/zh/docs/mspider/user-guide/mesh-config/custom-res.md
  docs/zh/docs/network/intro/release-notes.md
  docs/zh/docs/network/modules/f5networks/install.md
  docs/zh/docs/storage/solutions/ceph-dashboard.md
Labels: kpanda, zh, dce, size/L

#5809 update developer/quick-start.md to fix issue 5798
  docs/zh/docs/baize/developer/quick-start.md
Labels: zh, baize, size/XS

#5812 Add a blog: k8s 1.31 read-only volume based on oci
  docs/zh/docs/blogs/240816-1.31-image.md
  docs/zh/docs/blogs/index.md
  docs/zh/navigation.yml
Labels: zh, blogs, size/L

#5814 download: skoala version updated to v0.42.0
  docs/zh/docs/download/modules/skoala.md
Labels: download, zh, size/XS

#5816 Add two faq to mspider
  docs/zh/docs/mspider/intro/faq.md
  docs/zh/docs/mspider/troubleshoot/503-issue.md
  docs/zh/docs/mspider/troubleshoot/index.md
  docs/zh/docs/mspider/troubleshoot/localhost-by-pod.md
  docs/zh/docs/mspider/troubleshoot/sidecar-lifecycle.md
  docs/zh/docs/mspider/troubleshoot/sidecar.md
Labels: mspider, zh, size/L

#5818 Add references to faq and troubleshooting in mspider
  docs/zh/docs/mspider/intro/index.md
  docs/zh/docs/mspider/user-guide/service-mesh/README.md
  docs/zh/docs/mspider/user-guide/service-mesh/external-mesh.md
  docs/zh/docs/mspider/user-guide/sidecar-management/ns-sidecar.md
  docs/zh/docs/mspider/user-guide/sidecar-management/workload-sidecar.md
  docs/zh/navigation.yml
Labels: mspider, zh, size/M

#5819 Fix a heading in install/faq.md
  docs/zh/docs/install/faq.md
Labels: installer, zh

#5821 Add html-id to kairship faq.md for cross-reference
  docs/zh/docs/kairship/intro/faq.md
Labels: kairship, zh, size/M

#5822 Add a faq index
  docs/zh/docs/dce/faq.md
  docs/zh/navigation.yml
Labels: zh, dce, size/L

#5820 Baize/training job mpi
  docs/zh/docs/baize/developer/jobs/mpi.md
  docs/zh/docs/baize/images/job-mpi01.png
  docs/zh/navigation.yml
Labels: zh, baize, size/L

#5823 📝 docs(baize): Add MXNet MXJob guide
  docs/zh/docs/baize/developer/jobs/mxnet.md
  docs/zh/docs/baize/images/mxnet_job.png
  docs/zh/navigation.yml
Labels: zh, baize, size/L

#5825 📝 docs(baize): Add image to mxnet guide, and fix menu name.
  docs/zh/docs/baize/developer/jobs/delete.md
  docs/zh/docs/baize/developer/jobs/mxnet.md
  docs/zh/docs/baize/developer/jobs/pytorch.md
  docs/zh/docs/baize/developer/jobs/tensorflow.md
  docs/zh/docs/baize/developer/jobs/view.md
Labels: zh, baize, size/S

#5824 baize: add Paddle PaddleJob guide
  docs/zh/docs/baize/developer/jobs/paddle.md
  docs/zh/docs/baize/images/paddle_job.png
  docs/zh/navigation.yml
Labels: zh, baize, size/L

#5826 📝 docs(baize): Fix broke link, and add warning.
  docs/zh/docs/baize/developer/jobs/mxnet.md
Labels: zh, baize, size/XS

#5827 Add bp and faq to home and index
  docs/zh/docs/dce/index.md
  docs/zh/docs/index.md
Labels: zh, dce, size/XS

#5831 Add a test cat
  docs/zh/docs/blogs/cat.md
  docs/zh/docs/blogs/images/cat01.png
  docs/zh/docs/blogs/images/cat02.jpg
Labels: zh, blogs, size/S, size/M

#5833 update test cat
  docs/zh/docs/blogs/cat.md
Labels: zh, blogs, size/S

#5832 [en] sync and add faq
  docs/en/docs/amamba/faq/faq-toochain.md
  docs/en/docs/dce/faq.md
  docs/en/docs/install/faq.md
  docs/en/docs/kairship/intro/faq.md
  docs/en/docs/kpanda/intro/faq.md
  docs/en/docs/network/intro/issues.md
  docs/en/navigation.yml
  docs/zh/docs/kpanda/intro/faq.md
  docs/zh/docs/network/intro/issues.md
Labels: zh, en, dce, i18n, size/XL

#5834 Add reference links to cluster and node pages
  docs/zh/docs/kpanda/user-guide/clusters/create-cluster.md
  docs/zh/docs/kpanda/user-guide/clusters/integrate-cluster.md
  docs/zh/docs/kpanda/user-guide/nodes/add-node.md
Labels: kpanda, zh, size/S

#5836 [en] update update-offline-cluster.md
  docs/en/docs/community/kubean.md
  docs/en/docs/kpanda/best-practice/update-offline-cluster.md
  docs/zh/docs/community/kubean.md
  docs/zh/docs/kpanda/best-practice/update-offline-cluster.md
Labels: kpanda, zh, en, eco, i18n, size/L

#5835 add mysql faq
  docs/zh/docs/middleware/mysql/faq/faq-others.md
Labels: midware, zh, size/S

#5837 Update mysql faq and add a new to faq-index
  docs/zh/docs/dce/faq.md
  docs/zh/docs/middleware/mysql/faq/faq-others.md
Labels: midware, zh, dce, size/M

#5839 Fix format in mysql/faq/faq-master-slave.md
  docs/zh/docs/middleware/mysql/faq/faq-master-slave.md
Labels: midware, zh, size/L

#5842 Add a note to gpu/nvidia/mig/create_mig.md
  docs/zh/docs/kpanda/user-guide/gpu/nvidia/mig/create_mig.md
Labels: kpanda, zh, size/XS

#5840 add drf and numa
  docs/zh/docs/kpanda/user-guide/gpu/volcano/drf.md
  docs/zh/docs/kpanda/user-guide/gpu/volcano/numa.md
  docs/zh/navigation.yml
Labels: kpanda, zh, size/L

#5843 baize: update release note
  docs/zh/docs/baize/intro/release-notes.md
Labels: zh, baize, size/S

#5838 add usemlu.md
  docs/zh/docs/kpanda/user-guide/gpu/images/mlu1.PNG
  docs/zh/docs/kpanda/user-guide/gpu/images/mlu2.png
  docs/zh/docs/kpanda/user-guide/gpu/images/mlu3.png
  docs/zh/docs/kpanda/user-guide/gpu/mlu/use-mlu.md
Labels: kpanda, zh, size/M

#5844 [en] update baize release notes
  docs/en/docs/baize/intro/release-notes.md
  docs/zh/docs/baize/intro/release-notes.md
Labels: zh, en, i18n, baize, size/M

#5845 update mysql/faq/faq-mtsql-net.md
  docs/en/docs/middleware/mysql/faq/faq-mtsql-net.md
  docs/en/navigation.yml
  docs/zh/docs/middleware/mysql/faq/faq-mtsql-net.md
  docs/zh/navigation.yml
Labels: midware, zh, en, i18n, size/S

#5847 download: ipavo version updated to v0.13.0
  docs/zh/docs/download/modules/ipavo.md
Labels: download, zh, size/XS

#5848 update middleware/compatibility.md and mysql relnotes
  docs/en/docs/middleware/compatibility.md
  docs/en/docs/middleware/mysql/release-notes.md
  docs/zh/docs/middleware/compatibility.md
  docs/zh/docs/middleware/mysql/release-notes.md
Labels: midware, zh, en, i18n, size/L

#5849 add step docker-build
  docs/zh/docs/amamba/images/docker0.jpg
  docs/zh/docs/amamba/images/docker1.jpg
  docs/zh/docs/amamba/user-guide/pipeline/config/step.md
Labels: amamba, zh, size/M

#5846 Add steps to build offline website
  docs/zh/docs/native/git/images/offline01.png
  docs/zh/docs/native/git/images/offline02.png
  docs/zh/docs/native/git/images/offline03.png
  docs/zh/docs/native/git/offline.md
Labels: zh, native, size/L

#5851 update features and combine short pages
  docs/zh/docs/insight/intro/index.md
  docs/zh/docs/storage/background.md
  docs/zh/docs/storage/benefits.md
  docs/zh/docs/storage/hwameistor/intro/index.md
  docs/zh/docs/storage/index.md
  docs/zh/navigation.yml
Labels: insight, zh, storage, size/L

#5852 update amamba features, scenario, concepts, benefits, and nav
  docs/en/docs/amamba/intro/benefits.md
  docs/en/docs/amamba/intro/concepts.md
  docs/en/docs/amamba/intro/features.md
  docs/en/docs/amamba/intro/scenarios.md
  docs/en/navigation.yml
  docs/zh/docs/amamba/intro/benefits.md
  docs/zh/docs/amamba/intro/concepts.md
  docs/zh/docs/amamba/intro/features.md
  docs/zh/docs/amamba/intro/scenarios.md
  docs/zh/navigation.yml
Labels: amamba, zh, en, i18n, size/L

#5853 update kpanda features, benefits, concepts, and scenarios
  docs/zh/docs/kpanda/intro/benefits.md
  docs/zh/docs/kpanda/intro/concepts.md
  docs/zh/docs/kpanda/intro/features.md
  docs/zh/docs/kpanda/intro/scenarios.md
  docs/zh/navigation.yml
Labels: kpanda, zh, size/L

#5854 update kairship features, index, and relnote
  docs/zh/docs/kairship/intro/benefits.md
  docs/zh/docs/kairship/intro/concepts.md
  docs/zh/docs/kairship/intro/features.md
  docs/zh/docs/kairship/intro/index.md
  docs/zh/docs/kairship/intro/release-notes.md
  docs/zh/navigation.yml
Labels: kairship, zh, size/L

#5855 change kangaroo features to a markdown table
  docs/zh/docs/kangaroo/intro/faq.md
  docs/zh/docs/kangaroo/intro/index.md
Labels: zh, kangaroo, size/M

#5856 update storage features, benefits, and background
  docs/en/docs/storage/background.md
  docs/en/docs/storage/benefits.md
  docs/en/docs/storage/features.md
  docs/en/docs/storage/index.md
  docs/en/navigation.yml
  docs/zh/docs/storage/features.md
Labels: zh, en, storage, i18n, size/L

#5857 update skoala features and nav
  docs/zh/docs/skoala/intro/advantages.md
  docs/zh/docs/skoala/intro/features.md
  docs/zh/docs/skoala/intro/scenarios.md
  docs/zh/navigation.yml
Labels: skoala, zh, size/L

#5862 fix #5455
  docs/zh/docs/install/upgrade.md
Labels: installer, zh, size/S

#5863 download: spidernet version updated to v0.16.1
  docs/zh/docs/download/modules/spidernet.md
Labels: download, zh, size/XS

#5867 Add release-note of spidernet v0.16
  docs/en/docs/network/intro/release-notes.md
  docs/zh/docs/network/intro/release-notes.md
Labels: zh, en, network, i18n, size/M

#5858 update kangaroo/intro/faq.md
  docs/zh/docs/kangaroo/intro/faq.md
Labels: zh, kangaroo, size/M

#5869 ghippo v0.32.0 release notes
  docs/zh/docs/ghippo/intro/release-notes.md
Labels: ghippo, zh, size/S

#5872 kpanda update user guide
  docs/zh/docs/kpanda/images/access-cluster-100.png
  docs/zh/docs/kpanda/images/access-cluster-101.png
  docs/zh/docs/kpanda/images/access-cluster-102.png
  docs/zh/docs/kpanda/images/access-cluster-103.png
  docs/zh/docs/kpanda/user-guide/clusters/access-cluster.md
Labels: kpanda, zh, size/S

#5871 add manage_somegpus
  docs/zh/docs/kpanda/user-guide/gpu/images/config1.png
  docs/zh/docs/kpanda/user-guide/gpu/images/config2.png
  docs/zh/docs/kpanda/user-guide/gpu/images/deployment1.png
  docs/zh/docs/kpanda/user-guide/gpu/images/device1.png
  docs/zh/docs/kpanda/user-guide/gpu/images/node1.png
  docs/zh/docs/kpanda/user-guide/gpu/nvidia/mig/create_mig.md
  docs/zh/docs/kpanda/user-guide/gpu/nvidia/vgpu/manage_somegpu.md
  docs/zh/navigation.yml
Labels: kpanda, zh, size/M

#5876 virtnest update index.md
  docs/zh/docs/virtnest/quickstart/index.md
Labels: zh, virtnest, size/XS

#5875 fix mlu path
  docs/zh/docs/kpanda/user-guide/gpu/Iluvatar_usage.md
  docs/zh/docs/kpanda/user-guide/gpu/mlu/use-mlu.md
  docs/zh/docs/kpanda/user-guide/gpu/nvidia/full_gpu_userguide.md
  docs/zh/docs/kpanda/user-guide/gpu/nvidia/mig/mig_usage.md
  docs/zh/docs/kpanda/user-guide/gpu/nvidia/vgpu/manage_somegpu.md
  docs/zh/navigation.yml
Labels: kpanda, zh, size/M

#5877 download: mspider version updated to v0.30.2
  docs/zh/docs/download/modules/mspider.md
Labels: download, zh, size/XS
