Repository DaoCloud/DaoCloud-docs, pull requests merged in 2024-06, with the labels that each got.

#4206 Add a product support policy by daocloud
  docs/zh/docs/test/images/flow.png
  docs/zh/docs/test/support.md
  docs/zh/docs/test/support.pdf
Labels: zh, size/L, size/XL

#4506 update releasenote
  docs/zh/docs/kangaroo/intro/release-notes.md
Labels: zh, kangaroo, size/S

#4507 update suppot.md
  docs/zh/docs/test/support.md
Labels: zh, size/S

#4508 add 10 more drivers to download/vgu
  docs/zh/docs/download/modules/vgpu.md
Labels: download, zh, size/L

#4505 [en] sync ghippo release-notes
  docs/en/docs/ghippo/intro/release-notes.md
  docs/zh/docs/ghippo/intro/release-notes.md
Labels: ghippo, zh, en, i18n, size/XL

#4509 adjust the tables in folder-permission
  docs/en/docs/ghippo/user-guide/workspace/folder-permission.md
  docs/zh/docs/ghippo/user-guide/workspace/folder-permission.md
Labels: ghippo, zh, en, i18n, size/S

#4510 update best-practice title-lenght in nav
  docs/zh/docs/kpanda/best-practice/limit-disk-usage-docker.md
  docs/zh/navigation.yml
Labels: kpanda, zh, size/L

#4514 [en] add installer best practices
  docs/en/docs/install/best-practices/docker-storage.md
  docs/en/docs/install/best-practices/large-deployments-par.md
  docs/en/docs/install/commercial/scenarios.md
  docs/en/docs/install/images/pquota.png
  docs/en/docs/install/images/pquota1.png
  docs/en/docs/install/images/pquota2.png
  docs/en/navigation.yml
  docs/zh/docs/install/best-practices/docker-storage.md
  docs/zh/docs/install/best-practices/large-deployments-par.md
  docs/zh/navigation.yml
Labels: installer, zh, en, i18n, size/XL

#4513 add prerequisites in open audit
  docs/en/docs/ghippo/user-guide/audit/open-audit.md
  docs/zh/docs/ghippo/user-guide/audit/open-audit.md
Labels: ghippo, zh, en, i18n, size/M

#4515 download: mspider version updated to v0.26.0
  docs/zh/docs/download/index.md
  docs/zh/docs/download/modules/mspider.md
Labels: download, zh, size/XS

#4516 download: rocketmq version updated to v0.7.0
  docs/en/docs/download/index.md
  docs/en/docs/download/modules/middleware/rocketmq.md
  docs/zh/docs/download/index.md
  docs/zh/docs/download/modules/middleware/rocketmq.md
Labels: download, zh, en, i18n, size/XS

#4517 update release note
  docs/zh/docs/kpanda/intro/release-notes.md
Labels: kpanda, zh, size/M

#4518 download: virtnest version updated to v0.9.0
  docs/zh/docs/download/modules/virtnest.md
Labels: download, zh, size/XS

#4520 download: kpanda version updated to 0.28.0
  docs/zh/docs/download/index.md
  docs/zh/docs/download/modules/kpanda.md
Labels: download, zh, size/XS

#4521 update release-notes to 0.27.0
  docs/zh/docs/skoala/intro/release-notes.md
Labels: skoala, zh, size/M

#4522 add groduct pdf link
  docs/en/docs/ghippo/intro/release-notes.md
  docs/zh/docs/ghippo/best-practice/gproduct/GProduct-manual.pdf
  docs/zh/docs/ghippo/best-practice/gproduct/intro.md
  docs/zh/docs/videos/use-cases.md
Labels: ghippo, zh, en, videos, i18n, size/M

#4523 update kpanda download info
  docs/en/docs/download/index.md
  docs/en/docs/download/modules/kpanda.md
  docs/zh/docs/download/index.md
  docs/zh/docs/download/modules/kpanda.md
  docs/zh/navigation.yml
Labels: download, zh, en, i18n, size/S

#4524 download: ghippo version updated to v0.27.0
  docs/zh/docs/download/index.md
  docs/zh/docs/download/modules/ghippo.md
Labels: download, zh, size/XS

#4525 releasenotes
  docs/zh/docs/kairship/intro/release-notes.md
  docs/zh/docs/virtnest/intro/release-notes.md
Labels: kairship, zh, virtnest, size/S

#4527 [en] update virtnest release notes
  docs/en/docs/virtnest/intro/release-notes.md
  docs/zh/docs/virtnest/intro/release-notes.md
Labels: zh, en, virtnest, i18n, size/M

#4526 [en] update kairship release notes
  docs/en/docs/kairship/intro/release-notes.md
Labels: kairship, en, i18n, size/S

#4528 update kairship failover pages
  docs/en/docs/kairship/failover/failover.md
  docs/en/docs/kairship/failover/optimization-failover.md
  docs/zh/docs/kairship/failover/optimization-failover.md
Labels: kairship, zh, en, i18n, size/L

#4529 download: skoala version updated to v0.37.1
  docs/zh/docs/download/modules/skoala.md
Labels: download, zh, size/XS

#4530 Fix some error
  docs/zh/docs/skoala/intro/release-notes.md
Labels: skoala, zh, size/S

#4531 download: amamba version updated to v0.27.0
  docs/zh/docs/download/index.md
  docs/zh/docs/download/modules/amamba.md
Labels: download, zh, size/XS

#4532 [en] update skoala release notes
  docs/en/docs/skoala/intro/release-notes.md
  docs/zh/docs/skoala/intro/release-notes.md
Labels: size/M

#4534 virtnest auto-migrate.md
  docs/zh/docs/virtnest/vm/auto-migrate.md
  docs/zh/navigation.yml
Labels: zh, virtnest, size/M

#4535 [en] update deployment, install-velero, and offline-upgrade
  docs/en/docs/kpanda/user-guide/backup/deployment.md
  docs/en/docs/kpanda/user-guide/backup/install-velero.md
  docs/en/docs/kpanda/user-guide/backup/offline-upgrade.md
  docs/zh/docs/kpanda/user-guide/backup/deployment.md
  docs/zh/docs/kpanda/user-guide/backup/install-velero.md
  docs/zh/docs/kpanda/user-guide/backup/offline-upgrade.md
Labels: kpanda, zh, en, i18n, size/L

#4536 [en] add vm/auto-migrate.md
  docs/en/docs/virtnest/vm/auto-migrate.md
  docs/en/navigation.yml
  docs/zh/docs/virtnest/vm/auto-migrate.md
Labels: zh, en, virtnest, i18n, size/M

#4538 virtnest/update auto-migrate
  docs/zh/docs/virtnest/vm/auto-migrate.md
Labels: zh, virtnest, size/XS

#4537 Update mcamel in june
  docs/en/docs/download/index.md
  docs/en/docs/download/modules/middleware/elasticsearch.md
  docs/en/docs/download/modules/middleware/kafka.md
  docs/en/docs/download/modules/middleware/minio.md
  docs/en/docs/download/modules/middleware/mongodb.md
  docs/en/docs/download/modules/middleware/mysql.md
  docs/en/docs/download/modules/middleware/postgresql.md
  docs/en/docs/download/modules/middleware/rabbitmq.md
  docs/en/docs/download/modules/middleware/redis.md
  docs/en/docs/download/modules/middleware/rocketmq.md
  docs/zh/docs/download/index.md
  docs/zh/docs/download/modules/middleware/elasticsearch.md
  docs/zh/docs/download/modules/middleware/kafka.md
  docs/zh/docs/download/modules/middleware/minio.md
  docs/zh/docs/download/modules/middleware/mongodb.md
  docs/zh/docs/download/modules/middleware/mysql.md
  docs/zh/docs/download/modules/middleware/postgresql.md
  docs/zh/docs/download/modules/middleware/rabbitmq.md
  docs/zh/docs/download/modules/middleware/redis.md
  docs/zh/docs/download/modules/middleware/rocketmq.md
Labels: download, zh, en, i18n, size/M

#4540 update etcd-backup.md
  docs/en/docs/kpanda/user-guide/backup/etcd-backup.md
  docs/zh/docs/kpanda/user-guide/backup/etcd-backup.md
Labels: kpanda, zh, en, i18n, size/M

#4543 download: kpanda version updated to 0.28.1
  docs/zh/docs/download/index.md
  docs/zh/docs/download/modules/kpanda.md
Labels: download, zh, size/XS

#4542 [en] update pages in install/community/k8s
  docs/en/docs/install/community/k8s/k8s-dce-deploy.md
  docs/en/docs/install/community/k8s/offline.md
  docs/en/docs/install/community/k8s/online.md
  docs/zh/docs/install/community/k8s/k8s-dce-deploy.md
  docs/zh/docs/install/community/k8s/offline.md
  docs/zh/docs/install/community/k8s/online.md
Labels: installer, zh, en, i18n, size/L

#4541 [en] update access-cluster
  docs/en/docs/kpanda/images/access-download-cert.png
  docs/en/docs/kpanda/user-guide/clusters/access-cluster.md
Labels: kpanda, en, i18n, size/M

#4544 [en] update cluster-scheduler-plugin
  docs/en/docs/kpanda/user-guide/clusters/access-cluster.md
  docs/en/docs/kpanda/user-guide/clusters/cluster-scheduler-plugin.md
  docs/zh/docs/kpanda/user-guide/clusters/cluster-scheduler-plugin.md
Labels: kpanda, zh, en, i18n, size/M

#4546 fix bugs in notebook-with-ssh, port-requirements
  docs/en/docs/baize/developer/notebooks/notebook-with-ssh.md
  docs/en/docs/install/commercial/port-requirements.md
  docs/zh/docs/baize/developer/notebooks/notebook-with-ssh.md
  docs/zh/docs/install/commercial/port-requirements.md
Labels: size/XS

#4547 add a blog: k8s 10-years birthday
  docs/en/docs/blogs/0606-k8s-birth.md
  docs/en/docs/blogs/images/future.png
  docs/en/docs/blogs/images/kcscn2019.jpg
  docs/en/docs/blogs/images/kcseu2024.jpg
  docs/en/docs/blogs/images/kcsna2023.jpg
  docs/en/docs/blogs/images/kubeconeu2017.jpg
  docs/en/docs/blogs/images/lts.jpg
  docs/en/docs/blogs/images/welcome.jpg
  docs/en/docs/blogs/index.md
  docs/en/navigation.yml
  docs/zh/docs/blogs/0606-k8s-birth.md
  docs/zh/docs/blogs/images/future.png
  docs/zh/docs/blogs/images/kcscn2019.jpg
  docs/zh/docs/blogs/images/kcseu2024.jpg
  docs/zh/docs/blogs/images/kcsna2023.jpg
  docs/zh/docs/blogs/images/kube10.png
  docs/zh/docs/blogs/images/kubeconeu2017.jpg
  docs/zh/docs/blogs/images/lts.jpg
  docs/zh/docs/blogs/images/welcome.jpg
  docs/zh/docs/blogs/index.md
  docs/zh/navigation.yml
Labels: zh, en, blogs, i18n, size/L

#4548 upgrade inference-create
  docs/zh/docs/baize/developer/inference/create.md
Labels: zh, baize, size/XS

#4551 [en]add screenshots to authorize.md
  docs/en/docs/mspider/user-guide/images/authorize01.png
  docs/en/docs/mspider/user-guide/images/authorize02.png
  docs/en/docs/mspider/user-guide/images/authorize03.png
  docs/en/docs/mspider/user-guide/images/authorize04.png
  docs/en/docs/mspider/user-guide/images/authorize05.png
  docs/en/docs/mspider/user-guide/security/authorize.md
Labels: size/S

#4553 update release-notes to 0.37.1
  docs/zh/docs/skoala/intro/release-notes.md
Labels: skoala, zh, size/S

#4552 update zh blog: k8s 10 birthday
  docs/zh/docs/blogs/0606-k8s-birth.md
  docs/zh/docs/blogs/images/100.png
  docs/zh/docs/blogs/images/10birth.jpg
  docs/zh/docs/blogs/images/award.png
  docs/zh/docs/blogs/images/company.png
  docs/zh/docs/blogs/images/contri-list.png
  docs/zh/docs/blogs/images/daocloud10.jpg
  docs/zh/docs/blogs/images/focus.png
  docs/zh/docs/blogs/images/kube10.png
  docs/zh/docs/blogs/images/seat.png
Labels: zh, blogs, size/M

#4555 fix typos in k8s-birth-10
  docs/zh/docs/blogs/0606-k8s-birth.md
Labels: zh, blogs, size/S

#4554 download: amamba version updated to v0.27.1
  docs/zh/docs/download/index.md
  docs/zh/docs/download/modules/amamba.md
Labels: download, zh, size/XS

#4557 download: kcoral version updated to v0.11.0
  docs/zh/docs/download/index.md
  docs/zh/docs/download/modules/kcoral.md
Labels: download, zh, size/XS

#4558 update insight & mcamel release notes
  docs/zh/docs/insight/intro/releasenote.md
  docs/zh/docs/middleware/elasticsearch/release-notes.md
  docs/zh/docs/middleware/kafka/release-notes.md
  docs/zh/docs/middleware/mongodb/release-notes.md
  docs/zh/docs/middleware/mysql/release-notes.md
  docs/zh/docs/middleware/postgresql/release-notes.md
  docs/zh/docs/middleware/rabbitmq/release-notes.md
  docs/zh/docs/middleware/redis/release-notes.md
Labels: midware, insight, zh, size/L

#4559 添加组件解释 manifest.md
  docs/zh/docs/install/commercial/manifest.md
Labels: installer, zh, size/XS

#4560 [en] update insight release notes
  docs/en/docs/insight/intro/releasenote.md
  docs/zh/docs/insight/intro/releasenote.md
Labels: insight, zh, en, i18n, size/M

#4561 update midware release notes
  docs/en/docs/middleware/elasticsearch/release-notes.md
  docs/en/docs/middleware/kafka/release-notes.md
  docs/en/docs/middleware/mongodb/release-notes.md
  docs/en/docs/middleware/mysql/release-notes.md
  docs/en/docs/middleware/postgresql/release-notes.md
  docs/en/docs/middleware/rabbitmq/release-notes.md
  docs/en/docs/middleware/redis/release-notes.md
  docs/zh/docs/middleware/elasticsearch/release-notes.md
  docs/zh/docs/middleware/kafka/release-notes.md
  docs/zh/docs/middleware/mongodb/release-notes.md
  docs/zh/docs/middleware/mysql/release-notes.md
  docs/zh/docs/middleware/postgresql/release-notes.md
  docs/zh/docs/middleware/rabbitmq/release-notes.md
  docs/zh/docs/middleware/redis/release-notes.md
Labels: midware, zh, en, i18n, size/L

#4475 update v0.18.0
  docs/zh/docs/amamba/intro/release-notes.md
  docs/zh/docs/install/best-practices/large-deployments-par.md
  docs/zh/docs/install/commercial/deploy-requirements.md
  docs/zh/docs/install/commercial/external/external-binary.md
  docs/zh/docs/install/commercial/manifest.md
  docs/zh/docs/install/commercial/start-install.md
  docs/zh/docs/install/community/k8s/k8s-dce-deploy.md
  docs/zh/docs/install/community/k8s/offline.md
  docs/zh/docs/install/community/k8s/online.md
  docs/zh/docs/install/community/kind/online.md
  docs/zh/docs/install/install-tools.md
  docs/zh/docs/install/k8s-install/ecs-install-dce5.0.md
  docs/zh/docs/install/k8s-install/ocp-install-dce5.0.md
  docs/zh/docs/install/os-install/neokylin-install-dce5.0.md
  docs/zh/docs/install/release-notes.md
Labels: amamba, installer, zh, size/L

#4570 download: dce5 version updated to v0.18.0
  docs/zh/docs/download/business/dce5-installer-history.md
  docs/zh/docs/download/business/dce5-installer-v0.18.0.md
  docs/zh/docs/download/free/dce5-installer-history.md
  docs/zh/docs/download/free/dce5-installer-v0.18.0.md
  docs/zh/docs/download/index.md
Labels: download, zh, size/L

#4572 update notebooks/create.md
  docs/en/docs/baize/developer/notebooks/create.md
  docs/en/docs/baize/images/notebook01.png
  docs/en/docs/baize/images/notebook02.png
  docs/en/docs/baize/images/notebook03.png
  docs/zh/docs/baize/developer/notebooks/create.md
Labels: zh, en, i18n, baize, size/M

#4571 fix a bug in amamba-intro, upgrade [en]version
  docs/en/docs/amamba/intro/index.md
  docs/zh/docs/amamba/intro/index.md
Labels: amamba, zh, en, i18n, size/M

#4573 add a faq: expand-once-es-full.md
  docs/zh/docs/insight/faq/expand-once-es-full.md
  docs/zh/navigation.yml
Labels: insight, zh, size/M

#4575 [en] update insight nav and add faqs
  docs/en/docs/insight/best-practice/debug-log.md
  docs/en/docs/insight/faq/expand-once-es-full.md
  docs/en/docs/insight/faq/traceclockskew.md
  docs/en/navigation.yml
Labels: insight, en, i18n, size/L

#4578 baize: update install guide
  docs/zh/docs/baize/intro/install.md
Labels: zh, baize, size/M

#4576 update pics in create-deployment
  docs/en/docs/kpanda/user-guide/images/deploy15.png
  docs/en/docs/kpanda/user-guide/workloads/create-deployment.md
  docs/zh/docs/kpanda/user-guide/images/deploy05.png
  docs/zh/docs/kpanda/user-guide/images/deploy14.png
  docs/zh/docs/kpanda/user-guide/images/deploy15.png
  docs/zh/docs/kpanda/user-guide/images/deploy16.png
  docs/zh/docs/kpanda/user-guide/workloads/create-deployment.md
Labels: kpanda, zh, en, i18n, size/S, size/M

#4581 Add addon v0.18.0 to download page
  docs/zh/docs/download/addon/history.md
  docs/zh/docs/download/addon/v0.18.0.md
Labels: download, zh, size/L

#4585 update kpanda-workloads
  docs/zh/docs/kpanda/user-guide/workloads/create-cronjob.md
  docs/zh/docs/kpanda/user-guide/workloads/create-daemonset.md
  docs/zh/docs/kpanda/user-guide/workloads/create-job.md
  docs/zh/docs/kpanda/user-guide/workloads/create-statefulset.md
Labels: kpanda, zh, size/M

#4583 fix a bug in kairship-workloads
  docs/en/docs/kairship/workload/yaml.md
  docs/zh/docs/kairship/workload/yaml.md
Labels: kairship, zh, en, i18n, size/M

#4586 [en] Add addon v0.18.0 to download page
  docs/en/docs/download/addon/history.md
  docs/en/docs/download/addon/v0.18.0.md
Labels: download, en, i18n, size/L

#4588 update insight golang.md
  docs/en/docs/insight/quickstart/otel/golang.md
  docs/zh/docs/insight/quickstart/otel/golang.md
Labels: insight, zh, en, i18n, size/M

#4587 unify expressions in volcano-gang-scheduler
  docs/en/docs/kpanda/user-guide/gpu/volcano/volcano-gang-scheduler.md
  docs/zh/docs/kpanda/user-guide/gpu/volcano/volcano-gang-scheduler.md
Labels: size/M

#4591 update kubecon hongkong news
  docs/en/docs/native/news/news-2024.md
  docs/zh/docs/native/news/news-2024.md
Labels: zh, en, native, i18n, size/XS

#4592 address a wrong word-use
  docs/en/docs/amamba/user-guide/wizard/create-app-git.md
  docs/en/docs/amamba/user-guide/wizard/jar-java-app.md
  docs/en/docs/kpanda/user-guide/gpu/volcano/volcano-gang-scheduler.md
  docs/zh/docs/amamba/user-guide/wizard/create-app-git.md
  docs/zh/docs/amamba/user-guide/wizard/jar-java-app.md
Labels: kpanda, amamba, zh, en, i18n, size/S

#4594 fix images on homepage
  docs/en/docs/dce/index.md
  docs/en/docs/images/01multi-cloud.png
  docs/en/docs/index.md
  docs/zh/docs/index.md
Labels: zh, en, dce, i18n, size/XS

#4595 Improve some en text in index.md
  docs/en/docs/index.md
Labels: en, i18n, size/S

#4596 [en] Add dce-20240530 release notes
  docs/en/docs/dce/dce-rn/20231130.md
  docs/en/docs/dce/dce-rn/20231231.md
  docs/en/docs/dce/dce-rn/20240130.md
  docs/en/docs/dce/dce-rn/20240330.md
  docs/en/docs/dce/dce-rn/20240430.md
  docs/en/docs/dce/dce-rn/20240530.md
  docs/en/navigation.yml
Labels: en, dce, i18n, size/L

#4597 fix bugs in ghippo-sshkey and update pics in kairship-override
  docs/en/docs/kairship/policy/override.md
  docs/zh/docs/ghippo/user-guide/personal-center/ssh-key.md
  docs/zh/docs/kairship/images/op004.png
  docs/zh/docs/kairship/images/op005.png
  docs/zh/docs/kairship/images/op006.png
  docs/zh/docs/kairship/policy/override.md
Labels: kairship, ghippo, zh, en, i18n, size/L

#4602 fix a bug in volcano-gang-scheduler
  docs/en/docs/kpanda/user-guide/gpu/volcano/volcano-gang-scheduler.md
  docs/zh/docs/kpanda/user-guide/gpu/volcano/volcano-gang-scheduler.md
Labels: kpanda, zh, en, i18n, size/XS

#4601 have a try to improve seo and search hits
  docs/zh/docs/kpanda/best-practice/kubean-low-version.md
Labels: kpanda, zh, size/S, size/M

#4604 add a description in k8s-dce-deploy
  docs/en/docs/install/community/k8s/k8s-dce-deploy.md
  docs/zh/docs/install/community/k8s/k8s-dce-deploy.md
Labels: installer, zh, en, i18n, size/XS

#4605 [en] update amamba release notes
  docs/en/docs/amamba/intro/release-notes.md
  docs/zh/docs/amamba/intro/release-notes.md
Labels: amamba, zh, en, i18n, size/M

#4606 update pics in amamba-native-manage
  docs/en/docs/amamba/images/native-app09.png
  docs/en/docs/amamba/user-guide/native/manage.md
  docs/zh/docs/amamba/images/native-app01.png
  docs/zh/docs/amamba/images/native-app02.png
  docs/zh/docs/amamba/images/native-app03.png
  docs/zh/docs/amamba/images/native-app04.png
  docs/zh/docs/amamba/images/native-app05.png
  docs/zh/docs/amamba/images/native-app06.png
  docs/zh/docs/amamba/images/native-app09.png
  docs/zh/docs/amamba/user-guide/native/manage.md
Labels: amamba, zh, en, i18n, size/S

#4607 [en] update installer pages to v0.18.0
  docs/en/docs/install/best-practices/large-deployments-par.md
  docs/en/docs/install/commercial/deploy-requirements.md
  docs/en/docs/install/commercial/external/external-binary.md
  docs/en/docs/install/commercial/manifest.md
  docs/en/docs/install/commercial/start-install.md
  docs/en/docs/install/community/k8s/k8s-dce-deploy.md
  docs/en/docs/install/community/k8s/offline.md
  docs/en/docs/install/community/k8s/online.md
  docs/en/docs/install/community/kind/online.md
  docs/en/docs/install/install-tools.md
  docs/en/docs/install/k8s-install/ecs-install-dce5.0.md
  docs/en/docs/install/k8s-install/ocp-install-dce5.0.md
  docs/en/docs/install/os-install/neokylin-install-dce5.0.md
  docs/en/docs/install/release-notes.md
  docs/zh/docs/install/best-practices/large-deployments-par.md
  docs/zh/docs/install/commercial/deploy-requirements.md
  docs/zh/docs/install/commercial/external/external-binary.md
  docs/zh/docs/install/commercial/start-install.md
Labels: installer, zh, en, i18n, size/XL

#4608 replace doc/home with get-started page
  docs/zh/docs/dce/get-started.md
  docs/zh/docs/dce/index.md
  docs/zh/docs/index.md
  docs/zh/navigation.yml
Labels: zh, dce, size/XL

#4609 [en] update kpanda-userguide-gpu
  docs/en/docs/amamba/user-guide/oam/concept.md
  docs/en/docs/kpanda/user-guide/gpu/volcano/volcano-gang-scheduler.md
  docs/en/docs/kpanda/user-guide/gpu/volcano/volcano_user_guide.md
  docs/en/docs/kpanda/user-guide/images/volcano-01.png
  docs/en/docs/kpanda/user-guide/images/volcano-02.png
  docs/en/docs/kpanda/user-guide/images/volcano-03.png
Labels: kpanda, amamba, en, i18n, size/M

#4610 [en] Remove the redundant en page
  docs/en/docs/dce/get-started.md
  docs/en/docs/dce/index.md
  docs/en/docs/images/baize.png
  docs/en/docs/index.md
  docs/en/navigation.yml
  docs/zh/docs/index.md
Labels: zh, en, dce, i18n, size/XL

#4611 update addon template
  docs/zh/docs/download/addon/.template.md
Labels: size/M

#4612 fix 4373
  docs/zh/docs/virtnest/images/import-ubuntu07.png
  docs/zh/docs/virtnest/install/install-dependency.md
Labels: zh, virtnest, size/XS

#4616 download: insight version updated to v0.27.1
  docs/zh/docs/download/index.md
  docs/zh/docs/download/modules/insight.md
Labels: download, zh, size/XS

#4613 add best-practice home
  docs/en/docs/index.md
  docs/en/navigation.yml
  docs/zh/docs/dce/bphome.md
  docs/zh/docs/dce/index.md
  docs/zh/docs/images/bphome.jpeg
  docs/zh/docs/index.md
  docs/zh/navigation.yml
Labels: zh, en, dce, i18n, size/L

#4617 download: insight version updated to v0.27.0
  docs/zh/docs/download/modules/insight.md
Labels: download, zh, size/XS

#4620 [en] Add best-practice portal
  docs/en/docs/dce/bphome.md
  docs/en/docs/images/bphome.jpeg
  docs/en/navigation.yml
  docs/zh/docs/dce/bphome.md
Labels: zh, en, dce, i18n, size/L

#4623 Update the best practice entry name
  docs/en/navigation.yml
  docs/zh/navigation.yml
Labels: zh, en, i18n, size/XS

#4624 Fix a link to native-app
  docs/en/docs/amamba/user-guide/native/manage.md
  docs/zh/docs/amamba/user-guide/native/manage.md
Labels: amamba, zh, en, i18n, size/S

#4630 Add guide of change notebook images
  docs/zh/docs/baize/best-practice/change-notebook-image.md
  docs/zh/docs/baize/best-practice/images/notebook-images.png
  docs/zh/docs/baize/best-practice/images/update-baize.png
  docs/zh/navigation.yml
Labels: zh, baize, size/L

#4632 Add user guide of baizectl
  docs/zh/docs/baize/developer/notebooks/baizectl.md
  docs/zh/navigation.yml
Labels: zh, baize, size/XL

#4633 baize: fix image path error
  docs/zh/docs/baize/best-practice/change-notebook-image.md
  docs/zh/docs/baize/best-practice/images/notebook-images.png
  docs/zh/docs/baize/best-practice/images/update-baize.png
  docs/zh/docs/baize/images/notebook-images.png
  docs/zh/docs/baize/images/update-baize.png
Labels: zh, baize, size/XS

#4634 baize: add user guide of conda dataset
  docs/zh/docs/baize/developer/dataset/conda.md
  docs/zh/docs/baize/images/conda01.png
  docs/zh/docs/baize/images/conda02.png
  docs/zh/docs/baize/images/conda03.png
  docs/zh/navigation.yml
Labels: zh, baize, size/M

#4636 fix issues in commercial/start-install.md
  docs/zh/docs/install/commercial/start-install.md
Labels: installer, zh, size/XS

#4637 Fix a prerequisite in custom-hpa.md
  docs/en/docs/kpanda/user-guide/scale/custom-hpa.md
  docs/zh/docs/kpanda/user-guide/scale/custom-hpa.md
Labels: kpanda, zh, en, i18n, size/S

#4638 [en] Add baize/developer/dataset/conda.md
  docs/en/docs/baize/developer/dataset/conda.md
  docs/en/docs/baize/images/conda01.png
  docs/en/docs/baize/images/conda02.png
  docs/en/docs/baize/images/conda03.png
  docs/en/navigation.yml
  docs/zh/docs/baize/developer/dataset/conda.md
Labels: zh, en, i18n, baize, size/L

#4639 add support to nav
  docs/zh/docs/dce/images/flow.png
  docs/zh/docs/dce/support.md
  docs/zh/docs/dce/support.pdf
  docs/zh/navigation.yml
Labels: zh, dce, size/XS

#4640 [en] Add daocloud support policy
  docs/en/docs/dce/support.md
  docs/en/navigation.yml
  docs/zh/docs/dce/support.md
Labels: size/L

#4641 fix git-based pipeline desc
  docs/zh/docs/amamba/images/git02.png
  docs/zh/docs/amamba/user-guide/wizard/create-app-git.md
Labels: amamba, zh, size/S, size/M

#4626 Update know issues of network
  docs/en/docs/network/intro/issues.md
  docs/en/navigation.yml
  docs/zh/docs/network/intro/issues.md
  docs/zh/navigation.yml
Labels: zh, en, network, i18n, size/L

#4643 optimize the structure of network/intro/issues.md
  docs/en/docs/network/intro/issues.md
  docs/en/navigation.yml
  docs/zh/docs/network/intro/issues.md
  docs/zh/navigation.yml
Labels: zh, en, network, i18n, size/L

#4649 [en] update commercial/start-install.md
  docs/en/docs/install/commercial/start-install.md
Labels: installer, en, i18n, size/XS

#4650 add some mtpe tag to eco projects
  docs/en/docs/community/cloudtty.md
  docs/en/docs/community/clusterpedia.md
  docs/en/docs/community/dtx.md
  docs/en/docs/community/egress-gw.md
  docs/en/docs/community/fast.md
  docs/en/docs/community/fedstate.md
  docs/en/docs/community/ferry.md
  docs/en/docs/community/hwameistor.md
  docs/en/docs/community/kasmcloud.md
  docs/en/docs/community/kdoctor.md
  docs/en/docs/community/klts.md
  docs/en/docs/community/kube-node-tuning.md
  docs/en/docs/community/kubean.md
  docs/en/docs/community/kwok.md
  docs/en/docs/community/merbridge.md
  docs/en/docs/community/miragedebug.md
  docs/en/docs/community/mirror.md
  docs/en/docs/community/piraeus.md
  docs/en/docs/community/spiderpool.md
Labels: en, eco, i18n, size/L

#4651 update nav for gitops
  docs/en/navigation.yml
  docs/zh/navigation.yml
Labels: zh, en, i18n, size/M

#4653 [en] update kairship/intro/features.md
  docs/en/docs/kairship/intro/features.md
  docs/zh/docs/kairship/intro/features.md
Labels: kairship, zh, en, i18n, size/S

#4654 Update net issues docs
  docs/en/docs/network/intro/issues.md
  docs/zh/docs/network/intro/issues.md
Labels: zh, en, network, i18n, size/L

#4652 add a new blog of Nvidia
  docs/en/docs/blogs/20240619-nvidiaai.md
  docs/en/docs/blogs/images/nvidia.jpg
  docs/en/navigation.yml
Labels: en, blogs, i18n, size/M

#4655 update 20240619-nvidiaai.md
  docs/en/docs/blogs/20240619-nvidiaai.md
  docs/en/docs/blogs/images/minute.png
  docs/en/docs/blogs/index.md
Labels: en, blogs, i18n, size/M

#4657 update release/canary.md
  docs/en/docs/amamba/images/canary01.png
  docs/en/docs/amamba/images/canary02.png
  docs/en/docs/amamba/user-guide/release/canary.md
  docs/zh/docs/amamba/images/canary01.png
  docs/zh/docs/amamba/images/canary10.png
  docs/zh/docs/amamba/user-guide/release/canary.md
Labels: amamba, zh, en, i18n, size/M

#4658 virtnest&kairship
  docs/zh/docs/kairship/images/cluster.png
  docs/zh/docs/kairship/images/high-level.png
  docs/zh/docs/kairship/images/label.png
  docs/zh/docs/kairship/images/region.png
  docs/zh/docs/kairship/images/reusable.png
  docs/zh/docs/kairship/workload/deployment.md
  docs/zh/docs/virtnest/intro/features.md
  docs/zh/navigation.yml
Labels: kairship, zh, virtnest, size/L

#4662 add alert template desc to insight/intro/feature.md
  docs/en/docs/insight/intro/features.md
  docs/zh/docs/insight/intro/feature.md
Labels: insight, zh, en, i18n, size/XS

#4663 update super-group
  docs/en/docs/ghippo/best-practice/super-group.md
  docs/zh/docs/ghippo/best-practice/super-group.md
Labels: ghippo, zh, en, i18n, size/XS

#4664 baize: added quick-start.md
  docs/zh/docs/baize/developer/quick-start.md
  docs/zh/docs/baize/images/baize-01.png
  docs/zh/docs/baize/images/baize-02.png
  docs/zh/docs/baize/images/baize-03.png
  docs/zh/docs/baize/images/baize-04.png
  docs/zh/docs/baize/images/baize-05.png
  docs/zh/docs/baize/images/baize-06.png
  docs/zh/docs/baize/images/baize-07.png
  docs/zh/navigation.yml
Labels: zh, baize, size/M

#4668 baize: fix baizectl command tips, submit job resource configure
  docs/zh/docs/baize/developer/notebooks/baizectl.md
Labels: zh, baize, size/XS

#4669 baize: add tensorboard user guide
  docs/zh/docs/baize/developer/jobs/tensorboard.md
  docs/zh/docs/baize/images/tensorboard-01.png
  docs/zh/docs/baize/images/tensorboard-02.png
  docs/zh/docs/baize/images/tensorboard-03.png
  docs/zh/docs/baize/images/tensorboard.png
  docs/zh/navigation.yml
Labels: zh, baize, size/L

#4667 baize: add bp checkpoint
  docs/zh/docs/baize/best-practice/checkpoint.md
  docs/zh/navigation.yml
Labels: zh, baize, size/L

#4670 baize: add troubleshoot docs
  docs/zh/docs/baize/troubleshoot/images/kueue-init-localqueue.png
  docs/zh/docs/baize/troubleshoot/images/kueue-k8s127.png
  docs/zh/docs/baize/troubleshoot/images/kueue-plainpod.png
  docs/zh/docs/baize/troubleshoot/index.md
  docs/zh/docs/baize/troubleshoot/local-queue-initialization-failed.md
  docs/zh/docs/baize/troubleshoot/notebook-not-controlled-by-quotas.md
  docs/zh/navigation.yml
Labels: zh, baize, size/M

#4672 [en] Add troubleshoot pages to baize
  docs/en/docs/baize/troubleshoot/index.md
  docs/en/docs/baize/troubleshoot/local-queue-initialization-failed.md
  docs/en/docs/baize/troubleshoot/notebook-not-controlled-by-quotas.md
  docs/en/navigation.yml
  docs/zh/docs/baize/troubleshoot/local-queue-initialization-failed.md
  docs/zh/docs/baize/troubleshoot/notebook-not-controlled-by-quotas.md
Labels: zh, en, i18n, baize, size/L

#4673 replace ︙ with ┇
  docs/en/docs/amamba/user-guide/gitops/import-repo.md
  docs/en/docs/amamba/user-guide/namespace/namespace.md
  docs/en/docs/amamba/user-guide/pipeline/create/custom.md
  docs/en/docs/amamba/user-guide/pipeline/create/jenkins.md
  docs/en/docs/amamba/user-guide/pipeline/credential.md
  docs/en/docs/amamba/user-guide/pipeline/run/manual.md
  docs/en/docs/insight/user-guide/alert-center/message.md
  docs/en/docs/insight/user-guide/alert-center/msg-template.md
  docs/en/docs/insight/user-guide/alert-center/silent.md
  docs/en/docs/kpanda/user-guide/network/create-ingress.md
  docs/en/docs/kpanda/user-guide/network/create-services.md
  docs/en/docs/kpanda/user-guide/workloads/create-cronjob.md
  docs/en/docs/kpanda/user-guide/workloads/create-daemonset.md
  docs/en/docs/kpanda/user-guide/workloads/create-deployment.md
  docs/en/docs/kpanda/user-guide/workloads/create-job.md
  docs/en/docs/kpanda/user-guide/workloads/create-statefulset.md
  docs/en/docs/virtnest/template/index.md
  docs/en/docs/virtnest/template/tep.md
  docs/en/docs/virtnest/vm/access.md
  docs/en/docs/virtnest/vm/index.md
  docs/en/docs/virtnest/vm/live-migration.md
  docs/en/docs/virtnest/vm/snapshot.md
  docs/zh/docs/amamba/user-guide/gitops/import-repo.md
  docs/zh/docs/amamba/user-guide/namespace/namespace.md
  docs/zh/docs/amamba/user-guide/pipeline/create/custom.md
  docs/zh/docs/amamba/user-guide/pipeline/create/jenkins.md
  docs/zh/docs/amamba/user-guide/pipeline/credential.md
  docs/zh/docs/amamba/user-guide/pipeline/run/manual.md
  docs/zh/docs/insight/user-guide/alert-center/message.md
  docs/zh/docs/insight/user-guide/alert-center/msg-template.md
  docs/zh/docs/insight/user-guide/alert-center/silent.md
  docs/zh/docs/kpanda/user-guide/network/create-ingress.md
  docs/zh/docs/kpanda/user-guide/network/create-services.md
  docs/zh/docs/kpanda/user-guide/workloads/create-cronjob.md
  docs/zh/docs/kpanda/user-guide/workloads/create-daemonset.md
  docs/zh/docs/kpanda/user-guide/workloads/create-deployment.md
  docs/zh/docs/kpanda/user-guide/workloads/create-job.md
  docs/zh/docs/kpanda/user-guide/workloads/create-statefulset.md
  docs/zh/docs/virtnest/template/index.md
  docs/zh/docs/virtnest/template/tep.md
  docs/zh/docs/virtnest/vm/access.md
  docs/zh/docs/virtnest/vm/index.md
  docs/zh/docs/virtnest/vm/live-migration.md
  docs/zh/docs/virtnest/vm/snapshot.md
Labels: zh, en, i18n, size/L

#4675 update reference text for baize videos
  docs/en/docs/videos/baize.md
  docs/zh/docs/videos/baize.md
Labels: zh, en, videos, i18n, size/S

#4674 add extend params
  docs/zh/docs/install/best-practices/extend-params.md
  docs/zh/docs/install/commercial/deploy-requirements.md
  docs/zh/docs/install/commercial/start-install.md
  docs/zh/docs/install/images/extend- parameters.png
  docs/zh/navigation.yml
Labels: installer, zh, size/M

#4680 docs: Add some known issues of spiderpool
  docs/zh/docs/network/intro/issues.md
Labels: zh, network, size/L

#4677 Add a video: create and use dataset
  docs/zh/docs/videos/baize.md
  docs/zh/docs/videos/images/dataset.jpg
Labels: zh, videos, size/XS

#4679 baize: add bp of finetunel llm
  docs/zh/docs/baize/best-practice/finetunel-llm.md
  docs/zh/docs/baize/best-practice/images/fine-tunel-chatglm3-01.png
  docs/zh/docs/baize/best-practice/images/fine-tunel-chatglm3-02.png
  docs/zh/docs/baize/best-practice/images/fine-tunel-chatglm3-03.png
  docs/zh/docs/baize/best-practice/images/fine-tunel-chatglm3-04.png
  docs/zh/docs/baize/best-practice/images/fine-tunel-chatglm3-05.png
  docs/zh/docs/baize/best-practice/images/fine-tunel-chatglm3-06.png
  docs/zh/docs/baize/best-practice/images/fine-tunel-chatglm3-07.png
  docs/zh/docs/baize/best-practice/images/fine-tunel-chatglm3-08.png
  docs/zh/docs/baize/best-practice/images/fine-tunel-chatglm3-09.png
  docs/zh/docs/baize/best-practice/images/fine-tunel-chatglm3-10.png
  docs/zh/docs/baize/best-practice/images/fine-tunel-chatglm3-11.png
  docs/zh/docs/baize/best-practice/images/fine-tunel-chatglm3-12.png
  docs/zh/docs/baize/best-practice/images/fine-tunel-chatglm3-13.png
  docs/zh/docs/baize/best-practice/images/fine-tunel-chatglm3-14.png
  docs/zh/docs/baize/best-practice/images/fine-tunel-chatglm3-15.png
  docs/zh/docs/baize/best-practice/images/fine-tunel-chatglm3-16.png
  docs/zh/docs/baize/best-practice/images/fine-tunel-chatglm3-17.png
  docs/zh/docs/baize/best-practice/images/fine-tunel-chatglm3-18.png
  docs/zh/docs/baize/best-practice/images/fine-tunel-chatglm3-19.png
  docs/zh/docs/baize/best-practice/images/fine-tunel-chatglm3-20.png
  docs/zh/docs/baize/best-practice/images/fine-tunel-chatglm3-21.png
  docs/zh/docs/baize/best-practice/images/fine-tunel-chatglm3-22.png
  docs/zh/docs/baize/best-practice/images/fine-tunel-chatglm3-23.png
  docs/zh/docs/baize/best-practice/images/fine-tunel-chatglm3-24.png
  docs/zh/docs/baize/best-practice/images/fine-tunel-chatglm3-25.png
  docs/zh/navigation.yml
Labels: zh, baize, size/L

#4678 update Operation procedure
  docs/zh/docs/kpanda/user-guide/gpu/volcano/volcano_user_guide.md
Labels: kpanda, zh, size/L

#4682 update volcano user guide
  docs/en/docs/kpanda/user-guide/gpu/volcano/volcano_user_guide.md
  docs/zh/docs/kpanda/user-guide/gpu/volcano/volcano_user_guide.md
  docs/zh/docs/kpanda/user-guide/gpu/volcano/volcano_vgpu.md
Labels: kpanda, zh, en, i18n, size/L

#4683 Add a troubleshoot: 托管网格 APIServer 证书过期时如何处理
  docs/zh/docs/mspider/troubleshoot/hosted-apiserver-cert-expiration.md
  docs/zh/docs/mspider/troubleshoot/index.md
  docs/zh/navigation.yml
Labels: mspider, zh, size/L

#4681 update best-practice/finetunel-llm.md
  docs/zh/docs/baize/best-practice/finetunel-llm.md
Labels: zh, baize, size/L

#4686 Add xid table to gpu/gpu-metrics.md
  docs/zh/docs/kpanda/user-guide/gpu/gpu-metrics.md
Labels: kpanda, zh, size/S

#4688 Fix yaml indentations in custom-hpa.md
  docs/en/docs/kpanda/user-guide/scale/custom-hpa.md
  docs/zh/docs/kpanda/user-guide/scale/custom-hpa.md
Labels: kpanda, zh, en, i18n, size/S

#4687 add cicd to vm
  docs/zh/docs/amamba/quickstart/jenkins-custom.md
  docs/zh/docs/amamba/user-guide/pipeline/cicd_vm.md
  docs/zh/navigation.yml
Labels: amamba, zh, size/M

#4690 update package versions in kpanda/best-practice/multi-arch.md
  docs/en/docs/kpanda/best-practice/multi-arch.md
  docs/zh/docs/kpanda/best-practice/multi-arch.md
Labels: kpanda, zh, en, i18n, size/M

#4692 add a new article about extproc-payloadlimit
  docs/zh/docs/skoala/best-practice/envoy-extproc-payloadlimit-demo-go.md
  docs/zh/docs/skoala/images/payloadlimit-demo-go.png
  docs/zh/navigation.yml
Labels: skoala, zh, size/M

#4691 update podman build image
  docs/zh/docs/amamba/user-guide/pipeline/podman.md
Labels: amamba, zh, size/S

#4693 download: skoala version updated to v0.38.1
  docs/zh/docs/download/modules/skoala.md
Labels: download, zh, size/XS

#4696 [en] Add /troubleshoot/cluster-interconnect.md
  docs/en/docs/mspider/troubleshoot/cluster-interconnect.md
  docs/en/docs/mspider/troubleshoot/images/cluster-interconnect01.png
  docs/en/docs/mspider/troubleshoot/images/service-list-check-01.png
  docs/en/docs/mspider/troubleshoot/index.md
  docs/en/navigation.yml
  docs/zh/docs/mspider/troubleshoot/cluster-interconnect.md
  docs/zh/docs/mspider/troubleshoot/images/cluster-interconnect01.png
  docs/zh/docs/mspider/troubleshoot/index.md
Labels: mspider, zh, en, i18n, size/M

#4698 add vgpu scheduler police use docs
  docs/zh/docs/kpanda/user-guide/gpu/gpu_scheduler_config.md
  docs/zh/docs/kpanda/user-guide/gpu/images/vgpu-sc.png
  docs/zh/navigation.yml
Labels: kpanda, zh, size/M

#4700 [en] Add troubleshoot/sidecar-memory-err.md
  docs/en/docs/mspider/troubleshoot/images/mspider-topology-01.png
  docs/en/docs/mspider/troubleshoot/images/sidecar-find-flag-01.png
  docs/en/docs/mspider/troubleshoot/images/sidecar-find-flag-02.png
  docs/en/docs/mspider/troubleshoot/images/sidecar-memory-query-01.png
  docs/en/docs/mspider/troubleshoot/sidecar-memory-err.md
  docs/en/navigation.yml
  docs/zh/docs/mspider/troubleshoot/sidecar-memory-err.md
Labels: mspider, zh, en, i18n

#4706 update release-note
  docs/zh/docs/mspider/intro/release-notes.md
Labels: mspider, zh, size/S

#4697 update docs about cluster inspection and crd
  docs/en/docs/kpanda/user-guide/images/inspection-home.png
  docs/en/docs/kpanda/user-guide/images/inspection-list-more.png
  docs/en/docs/kpanda/user-guide/images/inspection-report-01.png
  docs/en/docs/kpanda/user-guide/images/inspection-report-02.png
  docs/en/docs/kpanda/user-guide/images/inspection-report-03.png
  docs/en/docs/kpanda/user-guide/images/inspection-start-alone.png
  docs/en/docs/kpanda/user-guide/images/inspection-start.png
  docs/en/docs/kpanda/user-guide/inspect/config.md
  docs/en/docs/kpanda/user-guide/inspect/inspect.md
  docs/en/docs/kpanda/user-guide/inspect/report.md
  docs/zh/docs/kpanda/user-guide/custom-resources/create.md
  docs/zh/docs/kpanda/user-guide/images/crd-cluster-list.png
  docs/zh/docs/kpanda/user-guide/images/crd-instance-list.png
  docs/zh/docs/kpanda/user-guide/images/crd-list-01.png
  docs/zh/docs/kpanda/user-guide/images/crd-list-02.png
  docs/zh/docs/kpanda/user-guide/images/crd-list-03.png
  docs/zh/docs/kpanda/user-guide/images/inspection-home.png
  docs/zh/docs/kpanda/user-guide/images/inspection-list-more.png
  docs/zh/docs/kpanda/user-guide/images/inspection-report-01.png
  docs/zh/docs/kpanda/user-guide/images/inspection-report-02.png
  docs/zh/docs/kpanda/user-guide/images/inspection-report-03.png
  docs/zh/docs/kpanda/user-guide/images/inspection-start-alone.png
  docs/zh/docs/kpanda/user-guide/images/inspection-start.png
  docs/zh/docs/kpanda/user-guide/inspect/config.md
  docs/zh/docs/kpanda/user-guide/inspect/inspect.md
  docs/zh/docs/kpanda/user-guide/inspect/report.md
Labels: kpanda, zh, en, i18n, size/M

#4703 update mig docs
  docs/zh/docs/kpanda/user-guide/gpu/images/gpu-operator-mig.png
  docs/zh/docs/kpanda/user-guide/gpu/images/mig-select.png
  docs/zh/docs/kpanda/user-guide/gpu/images/node-gpu.png
  docs/zh/docs/kpanda/user-guide/gpu/images/node-mig.png
  docs/zh/docs/kpanda/user-guide/gpu/images/pod-mig.png
  docs/zh/docs/kpanda/user-guide/gpu/nvidia/mig/create_mig.md
  docs/zh/docs/kpanda/user-guide/gpu/nvidia/mig/mig_usage.md
Labels: kpanda, zh, size/L

#4705 fix-kpanda-namespace-doc
  docs/en/docs/kpanda/user-guide/namespaces/createns.md
  docs/zh/docs/kpanda/user-guide/configmaps-secrets/create-configmap.md
  docs/zh/docs/kpanda/user-guide/images/create-configmap.png
  docs/zh/docs/kpanda/user-guide/namespaces/createns.md
Labels: kpanda, zh, en, i18n, size/M

#4702 docs: add en docs of spiderpool's known issues
  docs/en/docs/network/intro/issues.md
  docs/zh/docs/network/intro/issues.md
Labels: zh, en, network, i18n, size/L

#4704 docs: update spidernet release-note
  docs/en/docs/network/intro/releasenotes.md
  docs/zh/docs/network/intro/releasenotes.md
Labels: zh, en, network, i18n, size/S

#4707 update videos/baize.md
  docs/en/docs/videos/baize.md
  docs/zh/docs/videos/baize.md
Labels: zh, en, videos, i18n, size/S

#4701 update insigt docs
  docs/zh/docs/insight/faq/ignore-pod-log-collect.md
  docs/zh/docs/insight/images/dingding.png
  docs/zh/docs/insight/images/service-map.png
  docs/zh/docs/insight/images/webhook.png
  docs/zh/docs/insight/quickstart/install/upgrade-note.md
  docs/zh/docs/insight/reference/uesd-metric-in-insight.md
  docs/zh/docs/insight/user-guide/alert-center/message.md
  docs/zh/docs/insight/user-guide/data-query/log.md
  docs/zh/docs/insight/user-guide/infra/cluster.md
  docs/zh/docs/insight/user-guide/trace/topology.md
  docs/zh/navigation.yml
Labels: insight, zh, size/L

#4710 update mysql backup docs
  docs/zh/docs/middleware/mysql/images/auto-backup.png
  docs/zh/docs/middleware/mysql/images/manual-backup-1.png
  docs/zh/docs/middleware/mysql/images/manual-backup.png
  docs/zh/docs/middleware/mysql/images/mysql-backup-config-1.png
  docs/zh/docs/middleware/mysql/images/mysql-backup-config-2.png
  docs/zh/docs/middleware/mysql/images/mysql-backup-config-3.png
  docs/zh/docs/middleware/mysql/images/mysql-backup-config.png
  docs/zh/docs/middleware/mysql/user-guide/backup-restore/auto-backup.md
  docs/zh/docs/middleware/mysql/user-guide/backup-restore/backup-config.md
  docs/zh/docs/middleware/mysql/user-guide/backup-restore/manual-backup.md
  docs/zh/docs/middleware/redis/best-practice/spiderpoolconfig.md
  docs/zh/docs/middleware/redis/images/ippool-pod-not-restart.png
  docs/zh/navigation.yml
Labels: midware, zh, size/L

#4708 add istio-argocd
  docs/zh/docs/amamba/images/header1.png
  docs/zh/docs/amamba/images/header2.png
  docs/zh/docs/amamba/images/header3.png
  docs/zh/docs/amamba/images/header4.png
  docs/zh/docs/amamba/images/header5.png
  docs/zh/docs/amamba/images/isito2.png
  docs/zh/docs/amamba/images/isito3.png
  docs/zh/docs/amamba/images/istio1.png
  docs/zh/docs/amamba/images/istio4.png
  docs/zh/docs/amamba/images/istio·.png
  docs/zh/docs/amamba/images/weight1.png
  docs/zh/docs/amamba/images/weight2.png
  docs/zh/docs/amamba/images/weight3.png
  docs/zh/docs/amamba/quickstart/istio_argocd.md
  docs/zh/docs/amamba/quickstart/istio_argocd_rollout.md
  docs/zh/navigation.yml
Labels: amamba, zh, size/L

#4712 [en] Add quickstart/jenkins-integration.md
  docs/en/docs/amamba/quickstart/jenkins-integration.md
  docs/en/navigation.yml
  docs/zh/docs/amamba/quickstart/jenkins-integration.md
  docs/zh/docs/amamba/quickstart/jenkins-physical-machine-integration.md
  docs/zh/navigation.yml
Labels: amamba, zh, en, i18n, size/L

#4714 [en] Add data backup to midware and update nav
  docs/en/docs/middleware/mysql/user-guide/backup-restore/auto-backup.md
  docs/en/docs/middleware/mysql/user-guide/backup-restore/backup-config.md
  docs/en/docs/middleware/mysql/user-guide/backup-restore/manual-backup.md
  docs/en/docs/middleware/mysql/user-guide/create-mgr.md
  docs/en/docs/middleware/mysql/user-guide/instancemap.md
  docs/en/navigation.yml
  docs/zh/docs/middleware/mysql/user-guide/backup-restore/auto-backup.md
  docs/zh/docs/middleware/mysql/user-guide/backup-restore/backup-config.md
  docs/zh/docs/middleware/mysql/user-guide/backup-restore/manual-backup.md
Labels: midware, zh, en, i18n, size/L

#4717 [en] Add 2 faqs to midware
  docs/en/docs/middleware/mysql/faq/faq-mtsql-net.md
  docs/en/docs/middleware/mysql/faq/mgr-troubleshooting.md
  docs/en/navigation.yml
  docs/zh/docs/middleware/mysql/faq/faq-mtsql-net.md
  docs/zh/docs/middleware/mysql/faq/mgr-troubleshooting.md
  docs/zh/navigation.yml
Labels: midware, zh, en, i18n, size/L

#4713 update pics in amamba-userguide-canary
  docs/zh/docs/amamba/images/canary10.png
  docs/zh/docs/amamba/images/canary11.png
  docs/zh/docs/amamba/images/canary14.png
  docs/zh/docs/amamba/user-guide/release/canary.md
Labels: amamba, zh, size/S

#4718 es docs: reindex to copy es index data
  docs/zh/docs/middleware/elasticsearch/bestpractice/reindex-to-backup.md
  docs/zh/docs/middleware/elasticsearch/images/move-data-to-new-es.png
  docs/zh/navigation.yml
Labels: midware, zh, size/L
