Repository DaoCloud/DaoCloud-docs, pull requests merged in 2024-12, with the labels that each got.

#6005 download: amamba version updated to v0.33.0
  docs/zh/docs/download/modules/amamba.md
Labels: download, zh, size/XS

#6006 download: gmagpie version updated to v0.11.0
  docs/zh/docs/download/modules/gmagpie.md
Labels: download, zh, size/XS

#6009 update kangaroo release note
  docs/zh/docs/kangaroo/intro/release-notes.md
Labels: zh, kangaroo, size/M

#6010 update kpanda release note
  docs/zh/docs/kpanda/intro/release-notes.md
Labels: kpanda, zh, size/L

#6011 download: kcoral version updated to v0.12.2
  docs/zh/docs/download/index.md
  docs/zh/docs/download/modules/kcoral.md
Labels: download, zh, size/XS

#6014 download: virtnest version updated to v0.15.0
  docs/zh/docs/download/modules/virtnest.md
Labels: download, zh, size/XS

#6015 update insigth release note
  docs/zh/docs/insight/intro/release-notes.md
Labels: insight, zh, size/S

#6016 update middleware releasenote
  docs/zh/docs/middleware/elasticsearch/release-notes.md
  docs/zh/docs/middleware/kafka/release-notes.md
  docs/zh/docs/middleware/redis/release-notes.md
Labels: midware, zh, size/S

#6017 [en] Update insight release notes
  docs/en/docs/insight/intro/release-notes.md
  docs/zh/docs/insight/intro/release-notes.md
Labels: insight, zh, en, i18n, size/M

#6018 update skoala-release-note to 0.43.2
  docs/zh/docs/skoala/intro/release-notes.md
Labels: skoala, zh, size/S

#6021 mspider: update release note
  docs/zh/docs/mspider/intro/release-notes.md
Labels: mspider, zh, size/XS

#6020 baize: update release note
  docs/zh/docs/baize/intro/release-notes.md
Labels: zh, baize, size/S

#6023 Fix links to addon v0.23.0
  docs/en/docs/download/index.md
  docs/zh/docs/download/index.md
Labels: download, zh, en, i18n, size/S

#6024 [en] Update baize release notes
  docs/en/docs/baize/intro/release-notes.md
  docs/zh/docs/baize/intro/release-notes.md
Labels: zh, en, i18n, baize, size/S

#6025 [en] update mspider release notes
  docs/en/docs/mspider/intro/release-notes.md
  docs/zh/docs/mspider/intro/release-notes.md
Labels: mspider, zh, en, i18n, size/M

#6026 update audit
  docs/zh/docs/ghippo/user-guide/audit/gproduct-audit/kangaroo.md
  docs/zh/docs/kpanda/user-guide/gpu/nvidia/install_nvidia_driver_of_operator.md
Labels: kpanda, ghippo, zh, size/S

#6029 [en] Update amamba release notes
  docs/en/docs/amamba/intro/release-notes.md
Labels: amamba, en, i18n, size/S

#6030 fix some links to skoala images
  docs/en/docs/skoala/gateway/index.md
  docs/en/docs/skoala/quickstart/skoala-init.md
  docs/en/docs/skoala/quickstart/skoala.md
  docs/en/docs/skoala/trad-ms/hosted/index.md
  docs/en/docs/skoala/trad-ms/hosted/monitor/microservices.md
  docs/en/docs/skoala/trad-ms/hosted/plugins/mesh.md
  docs/en/docs/skoala/trad-ms/hosted/plugins/sentinel.md
  docs/en/docs/skoala/trad-ms/hosted/services/auth.md
  docs/en/docs/skoala/trad-ms/hosted/services/circuit-breaker.md
  docs/en/docs/skoala/trad-ms/hosted/services/cluster-flow.md
  docs/en/docs/skoala/trad-ms/hosted/services/flow-control.md
  docs/en/docs/skoala/trad-ms/hosted/services/hotspot.md
  docs/en/docs/skoala/trad-ms/hosted/services/system.md
  docs/en/docs/skoala/trad-ms/integrated/manage-service.md
  docs/en/docs/skoala/trad-ms/integrated/trace.md
  docs/zh/docs/amamba/intro/release-notes.md
  docs/zh/docs/skoala/trad-ms/hosted/plugins/mesh.md
  docs/zh/docs/skoala/trad-ms/hosted/services/auth.md
  docs/zh/docs/skoala/trad-ms/hosted/services/circuit-breaker.md
  docs/zh/docs/skoala/trad-ms/hosted/services/cluster-flow.md
  docs/zh/docs/skoala/trad-ms/hosted/services/flow-control.md
  docs/zh/docs/skoala/trad-ms/hosted/services/hotspot.md
  docs/zh/docs/skoala/trad-ms/hosted/services/system.md
Labels: skoala, amamba, zh, en, i18n, size/L

#6031 [en] update skoala release notes
  docs/en/docs/skoala/intro/release-notes.md
Labels: skoala, en, i18n, size/M

#5969 Add chatbot to website
  docs/en/theme/main.html
  docs/zh/docs/baize/oam/resource.md
  docs/zh/theme/main.html
Labels: zh, en, i18n, size/XS

#6033 download: addon version updated to v0.24.0
  docs/zh/docs/download/addon/history.md
  docs/zh/docs/download/addon/v0.24.0.md
  docs/zh/docs/download/index.md
Labels: download, zh, size/L

#6034 Add chatbot instructions
  docs/zh/docs/native/git/chatbot.md
  docs/zh/docs/native/git/images/chatbot01.png
  docs/zh/docs/native/git/images/chatbot02.png
  docs/zh/docs/native/git/images/chatbot03.png
  docs/zh/docs/native/git/images/chatbot04.png
  docs/zh/navigation.yml
Labels: zh, native, size/M

#6038 fix typos in chatbot.md
  docs/zh/docs/native/git/chatbot.md
Labels: zh, native, size/XS

#6039 Add sandbox info to hami.md
  docs/zh/docs/community/hami.md
Labels: zh, eco, size/S

#6036 update installer version to v0.24.0
  docs/zh/docs/install/commercial/start-install.md
  docs/zh/docs/install/community/k8s/k8s-dce-deploy.md
  docs/zh/docs/install/community/k8s/offline.md
  docs/zh/docs/install/community/k8s/online.md
  docs/zh/docs/install/community/kind/online.md
Labels: installer, zh, size/M

#6040 download: dce5 version updated to v0.24.0
  docs/zh/docs/download/business/dce5-installer-history.md
  docs/zh/docs/download/business/dce5-installer-v0.24.0.md
  docs/zh/docs/download/free/dce5-installer-history.md
  docs/zh/docs/download/free/dce5-installer-v0.24.0.md
  docs/zh/docs/download/index.md
Labels: download, zh, size/L

#6041 Fix rn links in download pages
  docs/zh/docs/download/modules/gmagpie.md
  docs/zh/docs/download/modules/ipavo.md
  docs/zh/docs/download/modules/kcoral.md
  docs/zh/docs/download/modules/spidernet.md
Labels: download, zh

#6042 [en] update installer version to v0.24.0
  docs/en/docs/install/commercial/start-install.md
  docs/en/docs/install/community/k8s/k8s-dce-deploy.md
  docs/en/docs/install/community/k8s/offline.md
  docs/en/docs/install/community/k8s/online.md
  docs/en/docs/install/community/kind/online.md
  docs/zh/docs/install/commercial/start-install.md
Labels: installer, zh, en, i18n, size/M

#6043 [en] update download pages to v0.24.0
  docs/en/docs/download/addon/v0.24.0.md
  docs/en/docs/download/business/dce5-installer-history.md
  docs/en/docs/download/business/dce5-installer-v0.24.0.md
  docs/en/docs/download/free/dce5-installer-history.md
  docs/en/docs/download/free/dce5-installer-v0.24.0.md
  docs/en/docs/download/index.md
  docs/en/docs/download/modules/amamba.md
  docs/en/docs/download/modules/gmagpie.md
  docs/en/docs/download/modules/insight.md
  docs/en/docs/download/modules/ipavo.md
  docs/en/docs/download/modules/kcoral.md
  docs/en/docs/download/modules/kpanda.md
  docs/en/docs/download/modules/mspider.md
  docs/en/docs/download/modules/skoala.md
  docs/en/docs/download/modules/spidernet.md
  docs/en/docs/download/modules/virtnest.md
  docs/zh/docs/download/business/dce5-installer-v0.24.0.md
  docs/zh/docs/download/free/dce5-installer-v0.24.0.md
Labels: download, zh, en, i18n

#6047 Add dce5.0-20241130 release notes
  docs/zh/docs/dce/dce-rn/20241130.md
  docs/zh/docs/dce/dce-rn/istio1.16.1-1.22.3.md
  docs/zh/navigation.yml
Labels: zh, dce, size/L

#6048 update some text in 20241130 release notes
  docs/zh/docs/dce/dce-rn/20241130.md
  docs/zh/docs/ghippo/user-guide/report-billing/billing.md
  docs/zh/docs/install/commercial/deploy-requirements.md
  docs/zh/docs/kant/intro/features.md
Labels: zh, dce, size/M

#6049 Add istio1.16.1-1.22.3.md
  docs/zh/docs/dce/dce-rn/20241130.md
  docs/zh/docs/dce/dce-rn/istio1.16.1-1.22.3.md
Labels: zh, dce, size/L

#6050 fix typos in istio1.16.1-1.22.3
  docs/zh/docs/dce/dce-rn/istio1.16.1-1.22.3.md
Labels: zh, dce, size/S

#6051 added a method to handle pods that are always in terminating state
  docs/zh/docs/middleware/mysql/faq/mgr-troubleshooting.md
Labels: midware, zh, size/S, size/M

#6052 Add YAML example to create-services.md
  docs/zh/docs/kpanda/user-guide/network/create-services.md
Labels: kpanda, zh, size/L

#6053 update images and YAML in create-job.md
  docs/en/docs/kpanda/user-guide/network/create-services.md
  docs/zh/docs/kpanda/images/job02-1.png
  docs/zh/docs/kpanda/images/job02.png
  docs/zh/docs/kpanda/images/job03.png
  docs/zh/docs/kpanda/images/job04.png
  docs/zh/docs/kpanda/user-guide/workloads/create-job.md
Labels: kpanda, zh, en, i18n, size/L

#6054 update an screenshot in developer/quick-start.md
  docs/zh/docs/baize/developer/quick-start.md
  docs/zh/docs/baize/images/baize-06.png
Labels: zh, baize, size/M

#6055 add screenshots to notebook-with-ssh.md
  docs/zh/docs/baize/developer/notebooks/notebook-with-ssh.md
  docs/zh/docs/baize/images/ssh-key.png
  docs/zh/docs/baize/images/ssh01.png
  docs/zh/docs/baize/images/ssh02.png
  docs/zh/docs/baize/images/ssh03.png
  docs/zh/docs/baize/images/ssh04.png
Labels: zh, baize, size/M

#6056 update middleware components in december
  docs/en/docs/download/index.md
  docs/en/docs/download/modules/middleware/elasticsearch.md
  docs/en/docs/download/modules/middleware/kafka.md
  docs/en/docs/download/modules/middleware/minio.md
  docs/en/docs/download/modules/middleware/mongodb.md
  docs/en/docs/download/modules/middleware/mysql.md
  docs/en/docs/download/modules/middleware/postgresql.md
  docs/en/docs/download/modules/middleware/rabbitmq.md
  docs/en/docs/download/modules/middleware/redis.md
  docs/en/docs/download/modules/middleware/rocketmq.md
  docs/zh/docs/download/index.md
  docs/zh/docs/download/modules/middleware/elasticsearch.md
  docs/zh/docs/download/modules/middleware/kafka.md
  docs/zh/docs/download/modules/middleware/minio.md
  docs/zh/docs/download/modules/middleware/mongodb.md
  docs/zh/docs/download/modules/middleware/mysql.md
  docs/zh/docs/download/modules/middleware/postgresql.md
  docs/zh/docs/download/modules/middleware/rabbitmq.md
  docs/zh/docs/download/modules/middleware/redis.md
  docs/zh/docs/download/modules/middleware/rocketmq.md
Labels: download, zh, en, i18n, size/M

#6057 update notebook-with-envs.md
  docs/zh/docs/baize/developer/dataset/environments.md
  docs/zh/docs/baize/developer/notebooks/notebook-with-envs.md
  docs/zh/docs/baize/images/notebook04.png
Labels: zh, baize, size/S

#6058 update virtnest/quickstart/nodeport.md
  docs/zh/docs/virtnest/quickstart/nodeport.md
  docs/zh/navigation.yml
Labels: zh, virtnest, size/S

#6059 update cc apiversion
  docs/zh/docs/install/best-practices/all-in-one-machine.md
  docs/zh/docs/install/best-practices/extend-params.md
  docs/zh/docs/install/best-practices/thinder-ha.md
  docs/zh/docs/install/commercial/external/external-binary.md
  docs/zh/docs/install/commercial/external/external-imageandchart.md
  docs/zh/docs/install/commercial/external/external-middlewares.md
  docs/zh/docs/install/commercial/external/external-os.md
  docs/zh/docs/install/community/k8s/offline.md
  docs/zh/docs/install/community/k8s/online.md
  docs/zh/docs/install/k8s-install/ecs-install-dce5.0.md
  docs/zh/docs/install/k8s-install/ocp-install-dce5.0.md
  docs/zh/docs/install/upgrade.md
Labels: installer, zh, size/M

#5861 update how to manually switch node role of mysql and redis, add redis…
  docs/zh/docs/middleware/mysql/images/change-role.png
  docs/zh/docs/middleware/mysql/user-guide/manual-switch-role.md
  docs/zh/docs/middleware/redis/images/backup-restore-1.png
  docs/zh/docs/middleware/redis/images/backup-restore-2.png
  docs/zh/docs/middleware/redis/images/backup-restore-3.png
  docs/zh/docs/middleware/redis/images/backup-restore-4.png
  docs/zh/docs/middleware/redis/images/backup-restore-5.png
  docs/zh/docs/middleware/redis/images/backup-restore.png
  docs/zh/docs/middleware/redis/images/switch-role-1.png
  docs/zh/docs/middleware/redis/images/switch-role-2.png
  docs/zh/docs/middleware/redis/images/switch-role-3.png
  docs/zh/docs/middleware/redis/images/switch-role.png
  docs/zh/docs/middleware/redis/user-guide/backup-and-restore.md
  docs/zh/docs/middleware/redis/user-guide/manual-switch-role.md
  docs/zh/navigation.yml
Labels: midware, zh, size/L

#6061 Add cncf kubecon news in 2025
  docs/zh/docs/native/news/news-2025.md
  docs/zh/navigation.yml
Labels: zh, native, size/S

#6063 Add a blog: daocloud becomes a member of committee-security-response
  docs/zh/docs/blogs/241219-sec-privacy.md
  docs/zh/docs/blogs/images/sec01.png
  docs/zh/docs/blogs/images/sec02.png
  docs/zh/docs/blogs/images/sec03.png
  docs/zh/docs/blogs/index.md
  docs/zh/navigation.yml
Labels: zh, blogs, size/L

#6064 fix a link and remove toc
  docs/zh/docs/blogs/241219-sec-privacy.md
Labels: zh, blogs, size/XS

#6077 update a link to kubecon hk
  docs/zh/docs/native/news/news-2025.md
Labels: zh, native, size/XS

#6076 update kant release note
  docs/zh/docs/kant/intro/release-notes.md
Labels: zh, kant, size/M

#6078 download: skoala version updated to v0.43.4
  docs/zh/docs/download/modules/skoala.md
Labels: download, zh, size/XS

#6079 add debug & upgrade docs for metallb
  docs/zh/docs/network/images/metallb-ipaddresspool.png
  docs/zh/docs/network/images/metallb_helm_wait.png
  docs/zh/docs/network/images/metallb_l2avertisement.png
  docs/zh/docs/network/modules/metallb/debug.md
  docs/zh/docs/network/modules/metallb/install.md
Labels: zh, network, size/M

#6080 update aliyun sms configuration
  docs/zh/docs/insight/user-guide/alert-center/sms-provider.md
Labels: insight, zh, size/M

#6081 Docs about how to access grafana ui
  docs/en/docs/insight/user-guide/dashboard/login-grafana.md
  docs/en/navigation.yml
  docs/zh/docs/insight/user-guide/dashboard/dashboard.md
Labels: insight, zh, en, i18n, size/M

#6082 Download: kant version updated to 0.18.0
  docs/en/docs/download/modules/kant.md
  docs/zh/docs/download/modules/kant.md
Labels: download, zh, en, kant, i18n, size/M

#6083 new docs: vm resources plan
  docs/en/docs/insight/best-practice/vm-resource-plan.md
  docs/zh/navigation.yml
Labels: insight, zh, en, i18n, size/M

#6084 Add a faq: if windows vm cannot recognize new disk
  docs/zh/docs/dce/faq.md
  docs/zh/docs/virtnest/faq/cannot-use.md
  docs/zh/docs/virtnest/faq/images/recog01.png
  docs/zh/docs/virtnest/faq/images/recog02.png
  docs/zh/docs/virtnest/faq/images/recog03.png
  docs/zh/docs/virtnest/faq/index.md
  docs/zh/docs/virtnest/faq/recog-disk.md
  docs/zh/navigation.yml
Labels: zh, dce, virtnest, size/M

#6085 kant add faq
  docs/zh/docs/kant/intro/faq.md
  docs/zh/navigation.yml
Labels: zh, kant, size/M

#6086 [zh] update docs/zh/docs/virtnest/vm/cross-cluster-migrate.md
  docs/zh/docs/virtnest/vm/cross-cluster-migrate.md
Labels: zh, virtnest, size/M

#6087 update cross-cluster-migrate.md
  docs/en/docs/virtnest/vm/cross-cluster-migrate.md
  docs/zh/docs/virtnest/vm/cross-cluster-migrate.md
Labels: zh, en, virtnest, i18n, size/L

#6088 [en] Add kant/intro/faq.md
  docs/en/docs/kant/intro/faq.md
  docs/en/navigation.yml
  docs/zh/docs/kant/intro/faq.md
Labels: zh, en, kant, i18n, size/L
