Repository DaoCloud/DaoCloud-docs, pull requests merged in 2024-01, with the labels that each got.

#3392 update rdma_usage style
  docs/zh/docs/network/modules/spiderpool/userdma.md
Labels: zh, network

#3395 Update navigation.yml
  docs/zh/navigation.yml
Labels: zh

#3396 download: mspider version updated to v0.22.0
  docs/zh/docs/download/index.md
  docs/zh/docs/download/modules/mspider.md
Labels: download, zh

#3397 download: kcollie version updated to v0.6.0
  docs/zh/docs/download/modules/kcollie.md
Labels: download, zh

#3393 add mspider-traffic-governance-gateway images
  docs/en/docs/mspider/user-guide/images/gateway01.png
  docs/en/docs/mspider/user-guide/images/gateway02.png
  docs/en/docs/mspider/user-guide/images/gateway03.png
  docs/en/docs/mspider/user-guide/images/gateway04.png
  docs/en/docs/mspider/user-guide/traffic-governance/gateway-rules.md
  docs/zh/docs/mspider/user-guide/images/gateway01.png
  docs/zh/docs/mspider/user-guide/images/gateway02.png
  docs/zh/docs/mspider/user-guide/images/gateway03.png
  docs/zh/docs/mspider/user-guide/images/gateway04.png
  docs/zh/docs/mspider/user-guide/traffic-governance/gateway-rules.md
Labels: mspider, zh, en

#3394 Update lsync.sh and add instructions to compare en/zh
  docs/zh/docs/native/knowledge/git/lsync.md
  docs/zh/docs/native/knowledge/images/windows.jpg
  docs/zh/navigation.yml
  scripts/lsync.sh
Labels: zh, native, develop

#3400 docs: update release note to v0.22.0
  docs/en/docs/mspider/intro/release-notes.md
  docs/zh/docs/mspider/intro/release-notes.md
Labels: mspider, zh, en

#3401 update rdmausage002
  docs/zh/docs/network/modules/spiderpool/userdma.md
Labels: zh, network

#3399 Sync all installer pages to english
  docs/en/docs/install/best-practices/etcd-host-deploy.md
  docs/en/docs/install/commercial/deploy-requirements.md
  docs/en/docs/install/commercial/port-requirements.md
  docs/en/docs/install/commercial/prepare.md
  docs/en/docs/install/community/k8s/k8s-dce-deploy.md
  docs/en/docs/install/import.md
  docs/en/docs/install/manifest.md
  docs/en/docs/install/release-notes.md
  docs/en/navigation.yml
  docs/zh/docs/install/best-practices/etcd-host-deploy.md
  docs/zh/docs/install/commercial/manifest.md
  docs/zh/docs/install/commercial/prepare.md
  docs/zh/docs/install/community/k8s/k8s-dce-deploy.md
  docs/zh/docs/install/import.md
  docs/zh/docs/install/k8s-install/ecs-install-dce5.0.md
  docs/zh/navigation.yml
Labels: installer, zh, en

#3404 update docs labels and codeowners
  .github/labeler.yml
  CODEOWNERS
Labels: develop

#3403 add mspider-security-peer images
  docs/en/docs/mspider/user-guide/images/peer01.png
  docs/en/docs/mspider/user-guide/images/peer02.png
  docs/en/docs/mspider/user-guide/images/peer03.png
  docs/en/docs/mspider/user-guide/images/peer04.png
  docs/en/docs/mspider/user-guide/images/peer05.png
  docs/en/docs/mspider/user-guide/security/params.md
  docs/en/docs/mspider/user-guide/security/peer.md
Labels: mspider, en, i18n

#3405 update integration_deepflow doc
  docs/zh/docs/insight/best-practice/integration_deepflow.md
  docs/zh/docs/insight/intro/benefits.md
Labels: insight, zh

#3407 Sync download pages to English
  docs/en/docs/download/index.md
  docs/en/docs/download/modules/amamba.md
  docs/en/docs/download/modules/ghippo.md
  docs/en/docs/download/modules/insight.md
  docs/en/docs/download/modules/kairship.md
  docs/en/docs/download/modules/kangaroo.md
  docs/en/docs/download/modules/kant.md
  docs/en/docs/download/modules/kcollie.md
  docs/en/docs/download/modules/kcoral.md
  docs/en/docs/download/modules/mspider.md
  docs/en/docs/download/modules/spidernet.md
  docs/en/docs/download/modules/virtnest.md
  docs/zh/docs/download/addon/v0.12.0.md
  docs/zh/docs/download/index.md
  docs/zh/docs/download/modules/amamba.md
  docs/zh/docs/download/modules/ghippo.md
  docs/zh/docs/download/modules/insight.md
  docs/zh/docs/download/modules/kangaroo.md
  docs/zh/docs/download/modules/kant.md
  docs/zh/docs/download/modules/kpanda.md
  docs/zh/docs/download/modules/mspider.md
  docs/zh/docs/download/modules/skoala.md
  docs/zh/docs/download/modules/spidernet.md
  docs/zh/docs/download/modules/virtnest.md
Labels: download, zh, en, i18n

#3409 download: kairship version updated to v0.15.0
  docs/zh/docs/download/index.md
  docs/zh/docs/download/modules/kairship.md
Labels: download, zh

#3406 add mspider-security-request images
  docs/en/docs/mspider/user-guide/images/request01.png
  docs/en/docs/mspider/user-guide/images/request02.png
  docs/en/docs/mspider/user-guide/images/request03.png
  docs/en/docs/mspider/user-guide/images/request04.png
  docs/en/docs/mspider/user-guide/images/request05.png
  docs/en/docs/mspider/user-guide/security/authorize.md
  docs/en/docs/mspider/user-guide/security/request.md
Labels: mspider, en, i18n

#3410 download: kcoral version updated to v0.8.0
  docs/zh/docs/download/modules/kcoral.md
Labels: download, zh

#3411 add amamba-pluggable-components-images
  docs/en/docs/amamba/images/argocd01.png
  docs/en/docs/amamba/images/argocd02.png
  docs/en/docs/amamba/images/argorollout01.png
  docs/en/docs/amamba/images/vela01.png
  docs/en/docs/amamba/images/vela02.png
  docs/en/docs/amamba/pluggable-components.md
Labels: amamba, en, i18n

#3414 add amamba-jar-java-app images
  docs/en/docs/amamba/images/jar01.png
  docs/en/docs/amamba/images/jar02.png
  docs/en/docs/amamba/images/jar03.png
  docs/en/docs/amamba/images/jar04.png
  docs/en/docs/amamba/images/jar05.png
  docs/en/docs/amamba/images/jar06.png
  docs/en/docs/amamba/images/jar07.png
  docs/en/docs/amamba/images/jar08.png
  docs/en/docs/amamba/user-guide/wizard/jar-java-app.md
  docs/zh/docs/amamba/images/git01.png
  docs/zh/docs/amamba/user-guide/wizard/jar-java-app.md
Labels: amamba, zh, en, i18n

#3416 update release note
  docs/zh/docs/kangaroo/intro/release-notes.md
Labels: zh, kangaroo

#3417 download: kafka version updated to v0.11.2
  docs/zh/docs/download/index.md
  docs/zh/docs/download/modules/middleware/kafka.md
Labels: download, zh

#3418 Update native news
  docs/zh/docs/native/knowledge/git/2auth.md
  docs/zh/docs/native/knowledge/git/vscode.md
  docs/zh/docs/native/knowledge/index.md
  docs/zh/docs/native/news/news-2024.md
  docs/zh/navigation.yml
Labels: zh, native

#3419 update kubecon eu page
  docs/zh/docs/native/news/news-2024.md
Labels: zh, native

#3420 Fix bold font in 2 pages
  docs/en/docs/blogs/230615-ray.md
  docs/zh/docs/kpanda/user-guide/gpu/nvidia/mig/index.md
Labels: kpanda, zh, en, blogs, i18n

#3422 download: kcollie version updated to v0.6.1
  docs/zh/docs/download/modules/kcollie.md
Labels: download, zh

#3423 download: amamba version updated to v0.23.0
  docs/zh/docs/download/index.md
  docs/zh/docs/download/modules/amamba.md
Labels: download, zh

#3427 Update skoala offline package info
  docs/zh/docs/download/index.md
  docs/zh/docs/download/modules/skoala.md
Labels: download, zh

#3425 add ghipoo-create/delete-folders images
  docs/en/docs/ghippo/user-guide/images/ws01.png
  docs/en/docs/ghippo/user-guide/images/ws02.png
  docs/en/docs/ghippo/user-guide/workspace/folders.md
  docs/zh/docs/ghippo/user-guide/workspace/folders.md
Labels: ghippo, zh, en, i18n

#3429 update release note
  docs/zh/docs/kpanda/intro/release-notes.md
Labels: kpanda, zh

#3430 update hwameistor-migrate yaml
  docs/en/docs/storage/hwameistor/resources/migrate.md
  docs/zh/docs/storage/hwameistor/resources/migrate.md
Labels: zh, en, storage, i18n

#3431 add ghippo-security-settings images
  docs/en/docs/ghippo/user-guide/images/gm01.png
  docs/en/docs/ghippo/user-guide/images/lang01.png
  docs/en/docs/ghippo/user-guide/images/security01.png
  docs/en/docs/ghippo/user-guide/personal-center/security-setting.md
Labels: ghippo, en, i18n

#3432 update nav docs
  docs/zh/docs/ghippo/best-practice/navigator.md
Labels: ghippo, zh

#3434 add network-install-ingress-nginx images
  docs/en/docs/network/images/ingress-install-1.png
  docs/en/docs/network/images/ingress-install-2.png
  docs/en/docs/network/images/ingress-install-3.png
  docs/en/docs/network/images/ingress-install-4.png
  docs/en/docs/network/images/ingress-install-5.png
  docs/en/docs/network/images/ingress-install-6.png
  docs/en/docs/network/images/ingress-install-7.png
  docs/en/docs/network/modules/ingress-nginx/install.md
Labels: en, network, i18n

#3436 update insight doc
  docs/zh/docs/insight/best-practice/integration_deepflow.md
  docs/zh/docs/insight/quickstart/otel/golang.md
Labels: insight, zh

#3435 Update skoala offline upgrade steps
  docs/zh/docs/skoala/quickstart/skoala.md
Labels: skoala, zh

#3438 add middleware-common-index images
  docs/en/docs/middleware/common/images/middleware01.png
  docs/en/docs/middleware/common/images/middleware02.png
  docs/en/docs/middleware/common/images/middleware03.png
  docs/en/docs/middleware/common/index.md
Labels: midware, en, i18n

#3439 docs: copyright change to now
  docs/en/mkdocs.path.yaml
  docs/en/mkdocs.yml
  docs/zh/mkdocs.path.yaml
  docs/zh/mkdocs.yml
  docs/zh/pdf.yaml
Labels: zh, en, i18n

#3440 Update offline-install for insight
  docs/en/docs/insight/quickstart/install/offline-install.md
  docs/zh/docs/insight/quickstart/install/offline-install.md
Labels: insight, zh, en, i18n

#3441 download: virtnest version updated to v0.5.1
  docs/zh/docs/download/modules/virtnest.md
Labels: download, zh

#3442 Fix -- bold fonts
  docs/en/docs/blogs/230412-k8s-1.27.md
  docs/en/docs/dce/dce-rn/20230531.md
  docs/en/docs/ghippo/intro/release-notes.md
  docs/en/docs/insight/best-practice/notify-helper.md
  docs/en/docs/insight/faq/lucene.md
  docs/en/docs/insight/intro/releasenote.md
  docs/en/docs/kairship/workload/cronjob.md
  docs/en/docs/kpanda/user-guide/backup/deployment.md
  docs/en/docs/kpanda/user-guide/configmaps-secrets/use-secret.md
  docs/en/docs/kpanda/user-guide/helm/Import-addon.md
  docs/en/docs/kpanda/user-guide/network/create-services.md
  docs/en/docs/kpanda/user-guide/workloads/create-cronjob.md
  docs/en/docs/kpanda/user-guide/workloads/create-statefulset.md
  docs/en/docs/kpanda/user-guide/workloads/pod-config/job-parameters.md
  docs/zh/docs/amamba/quickstart/argocd-rollout.md
  docs/zh/docs/blogs/230412-k8s-1.27.md
  docs/zh/docs/dce/dce-rn/20230531.md
  docs/zh/docs/ghippo/intro/release-notes.md
  docs/zh/docs/insight/best-practice/notify-helper.md
  docs/zh/docs/insight/faq/lucene.md
  docs/zh/docs/insight/intro/releasenote.md
  docs/zh/docs/insight/quickstart/jvm-monitor/legacy-jvm.md
  docs/zh/docs/kairship/workload/cronjob.md
  docs/zh/docs/kpanda/user-guide/backup/deployment.md
  docs/zh/docs/kpanda/user-guide/workloads/create-cronjob.md
  docs/zh/docs/kpanda/user-guide/workloads/create-statefulset.md
  docs/zh/docs/kpanda/user-guide/workloads/pod-config/job-parameters.md
Labels: kairship, insight, kpanda, amamba, ghippo, zh, en, blogs, dce, i18n

#3445 add hwameistor-install images
  docs/en/docs/storage/hwameistor/img/drbd02.png
  docs/en/docs/storage/hwameistor/img/operator1.png
  docs/en/docs/storage/hwameistor/img/operator2.png
  docs/en/docs/storage/hwameistor/img/operator3.png
  docs/en/docs/storage/hwameistor/img/operator4.png
  docs/en/docs/storage/hwameistor/install/deploy-operator.md
  docs/en/docs/storage/hwameistor/install/drbdinstall.md
  docs/zh/docs/storage/hwameistor/install/deploy-operator.md
  docs/zh/docs/storage/hwameistor/install/drbdinstall.md
Labels: zh, en, storage, i18n

#3446 update kant download version to 0.7.1
  docs/en/docs/download/modules/kant.md
  docs/zh/docs/download/modules/kant.md
Labels: download, zh, en, i18n

#3447 update release-notes to 0.31.2
  docs/zh/docs/skoala/intro/release-notes.md
Labels: skoala, zh

#3444 Add dce-20231231 release notes
  docs/zh/docs/dce/dce-rn/20231231.md
  docs/zh/navigation.yml
Labels: zh, dce

#3448 add insight-dashboard images
  docs/en/docs/insight/user-guide/dashboard/dashboard.md
  docs/en/docs/insight/user-guide/dashboard/import-dashboard.md
  docs/en/docs/insight/user-guide/dashboard/login-grafana.md
  docs/en/docs/insight/user-guide/images/dashboard00.png
  docs/en/docs/insight/user-guide/images/dashboard01.png
  docs/zh/docs/insight/user-guide/dashboard/dashboard.md
Labels: insight, zh, en, i18n

#3451 [en] Add dce-20231231 release notes
  docs/en/docs/dce/dce-rn/20230531.md
  docs/en/docs/dce/dce-rn/20230630.md
  docs/en/docs/dce/dce-rn/20230731.md
  docs/en/docs/dce/dce-rn/20230831.md
  docs/en/docs/dce/dce-rn/20231031.md
  docs/en/docs/dce/dce-rn/20231130.md
  docs/en/docs/dce/dce-rn/20231231.md
  docs/en/docs/index.md
  docs/en/docs/virtnest/intro/index.md
  docs/en/navigation.yml
  docs/zh/docs/dce/dce-rn/20230831.md
Labels: zh, en, dce, virtnest, i18n

#3452 update middleware docs zh+en
  docs/en/docs/download/index.md
  docs/en/docs/download/modules/middleware/elasticsearch.md
  docs/en/docs/download/modules/middleware/kafka.md
  docs/en/docs/download/modules/middleware/minio.md
  docs/en/docs/download/modules/middleware/mongodb.md
  docs/en/docs/download/modules/middleware/mysql.md
  docs/en/docs/download/modules/middleware/postgresql.md
  docs/en/docs/download/modules/middleware/rabbitmq.md
  docs/en/docs/download/modules/middleware/redis.md
  docs/en/docs/download/modules/middleware/rocketmq.md
  docs/zh/docs/download/index.md
  docs/zh/docs/download/modules/middleware/elasticsearch.md
  docs/zh/docs/download/modules/middleware/kafka.md
  docs/zh/docs/download/modules/middleware/minio.md
  docs/zh/docs/download/modules/middleware/mongodb.md
  docs/zh/docs/download/modules/middleware/mysql.md
  docs/zh/docs/download/modules/middleware/postgresql.md
  docs/zh/docs/download/modules/middleware/rabbitmq.md
  docs/zh/docs/download/modules/middleware/redis.md
  docs/zh/docs/download/modules/middleware/rocketmq.md
Labels: download, zh, en, i18n

#3454 update mcamel release note
  docs/zh/docs/middleware/elasticsearch/release-notes.md
  docs/zh/docs/middleware/kafka/release-notes.md
  docs/zh/docs/middleware/minio/release-notes.md
  docs/zh/docs/middleware/mongodb/release-notes.md
  docs/zh/docs/middleware/mysql/release-notes.md
  docs/zh/docs/middleware/postgresql/release-notes.md
  docs/zh/docs/middleware/rabbitmq/release-notes.md
  docs/zh/docs/middleware/redis/release-notes.md
  docs/zh/docs/middleware/rocketmq/release-notes.md
Labels: midware, zh

#3456 fix spidernet release notes
  docs/zh/docs/network/modules/spiderpool/releasenotes.md
Labels: zh, network

#3455 [en] update amamba release notes
  docs/en/docs/amamba/intro/release-notes.md
  docs/zh/docs/amamba/intro/release-notes.md
Labels: amamba, zh, en, i18n

#3453 add kairship-crds images
  docs/en/docs/kairship/crds/crd.md
  docs/en/docs/kairship/images/crd01.png
  docs/en/docs/kairship/images/crd02.png
  docs/en/docs/kairship/images/crd03.png
  docs/en/docs/kairship/images/crd04.png
  docs/en/docs/kairship/images/crd05.png
  docs/en/docs/kairship/images/crd06.png
  docs/en/docs/kairship/images/crd07.png
  docs/zh/docs/kairship/crds/crd.md
  docs/zh/docs/kairship/images/crd06.png
Labels: kairship, zh, en, i18n

#3458 update known issue
  docs/zh/docs/insight/quickstart/install/knownissues.md
Labels: insight, zh

#3457 [en] Update insight release notes
  docs/en/docs/insight/intro/releasenote.md
  docs/zh/docs/insight/intro/releasenote.md
Labels: insight, zh, en, i18n

#3459 [en] Update known issues for insight
  docs/en/docs/insight/quickstart/install/knownissues.md
  docs/zh/docs/insight/quickstart/install/knownissues.md
Labels: insight, zh, en, i18n

#3460 add tooltips into 6 pages and update nav
  docs/en/navigation.yml
  docs/zh/docs/blogs/index.md
  docs/zh/docs/community/index.md
  docs/zh/docs/dce/get-started.md
  docs/zh/docs/dce/index.md
  docs/zh/docs/dce/license0.md
  docs/zh/docs/videos/index.md
Labels: zh, en, blogs, videos, dce, eco, i18n

#3461 update insight known issue
  docs/zh/docs/insight/quickstart/install/knownissues.md
Labels: insight, zh

#3462 virtnest-network
  docs/zh/docs/virtnest/images/createvm-net01.png
  docs/zh/docs/virtnest/images/createvm-net02.png
  docs/zh/docs/virtnest/images/createvm-net03.png
  docs/zh/docs/virtnest/images/createvm01.png
  docs/zh/docs/virtnest/quick-start/create-image.md
Labels: zh, virtnest

#3464 [en] Update skoala release notes
  docs/en/docs/community/index.md
  docs/en/docs/dce/get-started.md
  docs/en/docs/dce/index.md
  docs/en/docs/skoala/intro/release-notes.md
  docs/zh/docs/community/index.md
  docs/zh/docs/skoala/intro/release-notes.md
Labels: skoala, zh, en, dce, eco, i18n

#3466 [en] Update spidernet release notes
  docs/en/docs/network/modules/spiderpool/releasenotes.md
  docs/zh/docs/network/modules/spiderpool/releasenotes.md
Labels: zh, en, network, i18n

#3465 add kairship-one-click-conversion images
  docs/en/docs/kairship/best-practice/one-click-conversion.md
  docs/en/docs/kairship/images/conversion01.png
  docs/en/docs/kairship/images/conversion02.png
  docs/en/docs/kairship/images/conversion03.png
  docs/en/docs/kairship/images/conversion04.png
  docs/en/docs/kairship/images/conversion05.png
  docs/en/docs/kairship/images/conversion06.png
  docs/en/docs/kairship/images/conversion07.png
  docs/zh/docs/kairship/best-practice/one-click-conversion.md
Labels: kairship, zh, en, i18n

#3467 [en] Update midware release notes
  docs/en/docs/middleware/elasticsearch/release-notes.md
  docs/en/docs/middleware/kafka/release-notes.md
  docs/en/docs/middleware/minio/release-notes.md
  docs/en/docs/middleware/mongodb/release-notes.md
  docs/en/docs/middleware/mysql/release-notes.md
  docs/en/docs/middleware/postgresql/release-notes.md
  docs/en/docs/middleware/rabbitmq/release-notes.md
  docs/en/docs/middleware/redis/release-notes.md
  docs/en/docs/middleware/rocketmq/release-notes.md
  docs/zh/docs/middleware/elasticsearch/release-notes.md
  docs/zh/docs/middleware/kafka/release-notes.md
  docs/zh/docs/middleware/minio/release-notes.md
  docs/zh/docs/middleware/mongodb/release-notes.md
  docs/zh/docs/middleware/mysql/intro/index.md
  docs/zh/docs/middleware/mysql/release-notes.md
  docs/zh/docs/middleware/postgresql/release-notes.md
  docs/zh/docs/middleware/rabbitmq/release-notes.md
  docs/zh/docs/middleware/redis/release-notes.md
  docs/zh/docs/middleware/rocketmq/release-notes.md
Labels: midware, zh, en, i18n

#3468 add kairship-fhpa images
  docs/en/docs/kairship/best-practice/fhpa.md
  docs/en/docs/kairship/images/fhpa01.png
  docs/en/docs/kairship/images/fhpa02.png
  docs/en/docs/kairship/images/fhpa03.png
  docs/en/docs/kairship/images/fhpa04.png
  docs/en/docs/kairship/images/fhpa05.png
  docs/en/docs/kairship/images/fhpa06.png
Labels: kairship, en, i18n

#3469 [en] Update kpanda release notes
  docs/en/docs/kpanda/intro/release-notes.md
  docs/zh/docs/kpanda/intro/release-notes.md
Labels: kpanda, zh, en, i18n

#3470 add kant-end-device images
  docs/en/docs/kant/user-guide/device/create-device.md
  docs/en/docs/kant/user-guide/device/manage-device.md
  docs/en/docs/kant/user-guide/images/create-device-01.png
  docs/en/docs/kant/user-guide/images/create-device-02.png
  docs/en/docs/kant/user-guide/images/create-device-03.png
  docs/en/docs/kant/user-guide/images/create-device-04.png
  docs/en/docs/kant/user-guide/images/create-device-05.png
  docs/en/docs/kant/user-guide/images/create-device-06.png
  docs/en/docs/kant/user-guide/images/create-device-07.png
  docs/en/docs/kant/user-guide/images/create-device-08.png
  docs/en/docs/kant/user-guide/images/manage-device-01.png
  docs/en/docs/kant/user-guide/images/manage-device-02.png
  docs/en/docs/kant/user-guide/images/manage-device-03.png
  docs/en/docs/kant/user-guide/images/manage-device-04.png
  docs/en/docs/kant/user-guide/images/manage-device-05.png
  docs/zh/docs/kant/user-guide/device/create-device.md
Labels: zh, en, kant, i18n

#3351 update installer
  docs/zh/docs/install/best-practices/all-in-one-machine.md
  docs/zh/docs/install/commercial/deploy-requirements.md
  docs/zh/docs/install/commercial/external/external-middlewares.md
  docs/zh/docs/install/commercial/start-install.md
  docs/zh/docs/install/community/k8s/k8s-dce-deploy.md
  docs/zh/docs/install/community/k8s/offline.md
  docs/zh/docs/install/community/k8s/online.md
  docs/zh/docs/install/community/kind/online.md
  docs/zh/docs/install/faq.md
  docs/zh/docs/install/upgrade-des.md
  docs/zh/docs/kpanda/best-practice/kubean-low-version.md
  docs/zh/docs/kpanda/images/cluster01.png
  docs/zh/docs/kpanda/images/cluster02.png
  docs/zh/docs/kpanda/images/cluster03.png
  docs/zh/docs/kpanda/images/cluster04.png
  docs/zh/docs/kpanda/images/success.png
  docs/zh/docs/kpanda/images/upgrade.png
  docs/zh/docs/kpanda/user-guide/clusters/cluster-version.md
  docs/zh/docs/kpanda/user-guide/clusters/create-cluster.md
  docs/zh/navigation.yml
Labels: kpanda, installer, zh

#3472 add kant-creat-app images
  docs/en/docs/kant/user-guide/edge-app/create-app.md
  docs/en/docs/kant/user-guide/images/create-app-01.png
  docs/en/docs/kant/user-guide/images/create-app-02.png
  docs/en/docs/kant/user-guide/images/create-app-03.png
  docs/en/docs/kant/user-guide/images/create-app-04.png
  docs/en/docs/kant/user-guide/images/create-app-05.png
  docs/en/docs/kant/user-guide/images/create-app-06.png
  docs/en/docs/kant/user-guide/images/create-app-07.png
  docs/en/docs/kant/user-guide/images/create-app-08.png
  docs/en/docs/kant/user-guide/images/create-app-09.png
  docs/en/docs/kant/user-guide/images/create-app-10.png
  docs/en/docs/kant/user-guide/images/create-app-11.png
  docs/en/docs/kant/user-guide/images/create-app-12.png
  docs/en/docs/kant/user-guide/images/create-app-13.png
  docs/en/docs/kant/user-guide/images/create-app-14.png
Labels: en, kant, i18n

#3471 update tooltips with &nbsp;
  docs/en/docs/community/index.md
  docs/zh/docs/community/index.md
Labels: zh, en, eco, i18n

#3474 update amamba-oam images
  docs/en/docs/amamba/images/oam-version.png
  docs/en/docs/amamba/images/oam07.png
  docs/en/docs/amamba/images/oam08.png
  docs/en/docs/amamba/images/oam09.png
  docs/en/docs/amamba/images/oam11.png
  docs/en/docs/amamba/images/oam12.png
  docs/en/docs/amamba/images/oam13.png
  docs/en/docs/amamba/images/oam14.png
  docs/en/docs/amamba/images/oam15.png
  docs/en/docs/amamba/images/rollback01.png
  docs/en/docs/amamba/images/rollback02.png
  docs/en/docs/amamba/images/update01.png
  docs/en/docs/amamba/user-guide/oam/manage.md
  docs/zh/docs/amamba/images/oam07.png
  docs/zh/docs/amamba/images/oam08.png
  docs/zh/docs/amamba/images/oam09.png
  docs/zh/docs/amamba/images/oam12.png
  docs/zh/docs/amamba/images/oam13.png
  docs/zh/docs/amamba/images/oam14.png
  docs/zh/docs/amamba/user-guide/oam/manage.md
Labels: amamba, zh, en, i18n

#3473 [en] Update installer pages
  docs/en/docs/install/best-practices/all-in-one-machine.md
  docs/en/docs/install/best-practices/etcd-host-deploy.md
  docs/en/docs/install/commercial/deploy-requirements.md
  docs/en/docs/install/commercial/start-install.md
  docs/en/docs/install/community/k8s/k8s-dce-deploy.md
  docs/en/docs/install/community/k8s/offline.md
  docs/en/docs/install/community/k8s/online.md
  docs/en/docs/install/community/kind/online.md
  docs/en/docs/install/faq.md
  docs/en/docs/install/release-notes.md
  docs/en/docs/install/upgrade-des.md
  docs/en/navigation.yml
  docs/zh/docs/install/best-practices/all-in-one-machine.md
  docs/zh/docs/install/commercial/deploy-requirements.md
  docs/zh/docs/install/commercial/external/external-middlewares.md
  docs/zh/docs/install/faq.md
  docs/zh/docs/install/release-notes.md
  docs/zh/docs/install/upgrade-des.md
  docs/zh/navigation.yml
Labels: installer, zh, en, i18n

#3478 [en] Add two best practices to kpanda
  docs/en/docs/kpanda/best-practice/create-redhat9.2-on-centos-platform.md
  docs/en/docs/kpanda/best-practice/kubean-low-version.md
  docs/en/navigation.yml
  docs/zh/docs/kpanda/best-practice/create-redhat9.2-on-centos-platform.md
  docs/zh/docs/kpanda/best-practice/kubean-low-version.md
  docs/zh/navigation.yml
Labels: kpanda, zh, en, i18n

#3475 fix an amamba-view-run image
  docs/zh/docs/amamba/images/detail-run5.png
  docs/zh/docs/amamba/user-guide/pipeline/view/view-run.md
Labels: amamba, zh

#3479 add amamba-manage-native-applications images
  docs/en/docs/amamba/images/native-app01.png
  docs/en/docs/amamba/images/native-app02.png
  docs/en/docs/amamba/images/native-app03.png
  docs/en/docs/amamba/images/native-app04.png
  docs/en/docs/amamba/images/native-app05.png
  docs/en/docs/amamba/images/native-app06.png
  docs/en/docs/amamba/images/native-app07.png
  docs/en/docs/amamba/images/native-app08.png
  docs/en/docs/amamba/user-guide/native/manage.md
Labels: amamba, en, i18n

#3477 Add a blog: kubeedge 1.15
  docs/en/docs/blogs/240108-kubeedge.md
  docs/en/docs/blogs/images/edge01.png
  docs/en/docs/blogs/images/edge02.png
  docs/en/docs/blogs/index.md
  docs/en/navigation.yml
  docs/zh/docs/blogs/240108-kubeedge.md
  docs/zh/docs/blogs/images/edge01.png
  docs/zh/docs/blogs/images/edge02.png
  docs/zh/docs/blogs/index.md
  docs/zh/navigation.yml
Labels: zh, en, blogs, i18n

#3481 Update nav and blog status
  docs/en/navigation.yml
  docs/zh/docs/blogs/231213-k8s-1.29.md
  docs/zh/docs/native/news/news-2024.md
  docs/zh/navigation.yml
Labels: zh, en, blogs, native, i18n

#3482 add amamba-native-app images
  docs/en/docs/amamba/images/native02.png
  docs/en/docs/amamba/images/native03.png
  docs/en/docs/amamba/images/native04.png
  docs/en/docs/amamba/images/native05.png
  docs/en/docs/amamba/images/native06.png
  docs/en/docs/amamba/images/native07.png
  docs/en/docs/amamba/images/native10.png
  docs/en/docs/amamba/images/native11.png
  docs/en/docs/amamba/images/native12.png
  docs/en/docs/amamba/images/native13.png
  docs/en/docs/amamba/user-guide/native/native-app.md
Labels: amamba, en, i18n

#3480 [en] Update supported k8s versions
  docs/en/docs/kpanda/user-guide/clusters/cluster-version.md
  docs/en/docs/kpanda/user-guide/clusters/create-cluster.md
  docs/zh/docs/kpanda/user-guide/clusters/cluster-version.md
  docs/zh/docs/kpanda/user-guide/clusters/create-cluster.md
Labels: kpanda, zh, en, i18n

#3483 add amamba-create-oam images
  docs/en/docs/amamba/images/oam01.png
  docs/en/docs/amamba/images/oam02.png
  docs/en/docs/amamba/images/oam03.png
  docs/en/docs/amamba/images/oam04.png
  docs/en/docs/amamba/images/oam05.png
  docs/en/docs/amamba/images/oam06.png
  docs/en/docs/amamba/user-guide/oam/create.md
  docs/zh/docs/amamba/user-guide/oam/create.md
Labels: amamba, zh, en, i18n

#3485 download: dce5 version updated to v0.14.0
  docs/zh/docs/download/business/dce5-installer-history.md
  docs/zh/docs/download/business/dce5-installer-v0.14.0.md
  docs/zh/docs/download/free/dce5-installer-history.md
  docs/zh/docs/download/free/dce5-installer-v0.14.0.md
  docs/zh/docs/download/index.md
Labels: download, zh

#3489 add amamba-create-custom-pipeline images
  docs/en/docs/amamba/images/createpipelinbutton.png
  docs/en/docs/amamba/images/custom01.png
  docs/en/docs/amamba/images/custom02.png
  docs/en/docs/amamba/images/custom03.png
  docs/en/docs/amamba/images/pipeline05.png
  docs/en/docs/amamba/user-guide/pipeline/create/custom.md
  docs/zh/docs/amamba/user-guide/pipeline/create/custom.md
Labels: amamba, zh, en, i18n

#3486 Update home text
  docs/en/docs/dce/features.md
  docs/en/docs/dce/get-started.md
  docs/en/docs/dce/index.md
  docs/en/docs/dce/kcsp.md
  docs/en/docs/dce/license0.md
  docs/en/docs/dce/scenario.md
  docs/en/docs/images/virtnest.png
  docs/en/docs/index.md
  docs/zh/docs/index.md
Labels: zh, en, dce, i18n

#3490 [en] Update download to 0.14.0
  docs/en/docs/download/business/.dce5-installer-template.md
  docs/en/docs/download/business/dce5-installer-history.md
  docs/en/docs/download/business/dce5-installer-v0.11.0.md
  docs/en/docs/download/business/dce5-installer-v0.12.0.md
  docs/en/docs/download/business/dce5-installer-v0.13.0.md
  docs/en/docs/download/business/dce5-installer-v0.14.0.md
  docs/en/docs/download/business/dce5-installer-v0.3.27.md
  docs/en/docs/download/business/dce5-installer-v0.3.28.md
  docs/en/docs/download/business/dce5-installer-v0.3.29.md
  docs/en/docs/download/business/dce5-installer-v0.3.30.md
  docs/en/docs/download/business/dce5-installer-v0.4.0.md
  docs/en/docs/download/business/dce5-installer-v0.5.0.md
  docs/en/docs/download/business/dce5-installer-v0.6.0.md
  docs/en/docs/download/business/dce5-installer-v0.6.1.md
  docs/en/docs/download/business/dce5-installer-v0.7.0.md
  docs/en/docs/download/business/dce5-installer-v0.8.0.md
  docs/en/docs/download/business/dce5-installer-v0.9.0.md
  docs/en/docs/download/free/.dce5-installer-template.md
  docs/en/docs/download/free/dce5-installer-history.md
  docs/en/docs/download/free/dce5-installer-v0.11.0.md
  docs/en/docs/download/free/dce5-installer-v0.12.0.md
  docs/en/docs/download/free/dce5-installer-v0.13.0.md
  docs/en/docs/download/free/dce5-installer-v0.14.0.md
  docs/en/docs/download/free/dce5-installer-v0.3.27.md
  docs/en/docs/download/free/dce5-installer-v0.3.28.md
  docs/en/docs/download/free/dce5-installer-v0.3.29.md
  docs/en/docs/download/free/dce5-installer-v0.3.30.md
  docs/en/docs/download/free/dce5-installer-v0.4.0.md
  docs/en/docs/download/free/dce5-installer-v0.5.0.md
  docs/en/docs/download/free/dce5-installer-v0.6.0.md
  docs/en/docs/download/free/dce5-installer-v0.6.1.md
  docs/en/docs/download/free/dce5-installer-v0.7.0.md
  docs/en/docs/download/free/dce5-installer-v0.8.0.md
  docs/en/docs/download/free/dce5-installer-v0.9.0.md
  docs/en/docs/download/index.md
  docs/en/docs/download/modules/amamba.md
  docs/en/docs/download/modules/ghippo.md
  docs/en/docs/download/modules/kant.md
  docs/zh/docs/download/business/dce5-installer-history.md
  docs/zh/docs/download/business/dce5-installer-v0.11.0.md
  docs/zh/docs/download/business/dce5-installer-v0.12.0.md
  docs/zh/docs/download/business/dce5-installer-v0.13.0.md
  docs/zh/docs/download/business/dce5-installer-v0.14.0.md
  docs/zh/docs/download/business/dce5-installer-v0.5.0.md
  docs/zh/docs/download/business/dce5-installer-v0.6.1.md
  docs/zh/docs/download/business/dce5-installer-v0.7.0.md
  docs/zh/docs/download/business/dce5-installer-v0.8.0.md
  docs/zh/docs/download/business/dce5-installer-v0.9.0.md
  docs/zh/docs/download/free/dce5-installer-history.md
  docs/zh/docs/download/free/dce5-installer-v0.11.0.md
  docs/zh/docs/download/free/dce5-installer-v0.12.0.md
  docs/zh/docs/download/free/dce5-installer-v0.13.0.md
  docs/zh/docs/download/free/dce5-installer-v0.14.0.md
  docs/zh/docs/download/free/dce5-installer-v0.5.0.md
  docs/zh/docs/download/free/dce5-installer-v0.6.1.md
  docs/zh/docs/download/free/dce5-installer-v0.7.0.md
  docs/zh/docs/download/free/dce5-installer-v0.8.0.md
  docs/zh/docs/download/free/dce5-installer-v0.9.0.md
Labels: download, zh, en, i18n

#3492 add amamba-create-pipelines-byjenkins images
  docs/en/docs/amamba/images/jenkinpp01.png
  docs/en/docs/amamba/images/jenkinpp02.png
  docs/en/docs/amamba/images/jenkinpp03.png
  docs/en/docs/amamba/images/jenkinpp04.png
  docs/en/docs/amamba/images/jenkinpp05.png
  docs/en/docs/amamba/images/jenkinpp06.png
  docs/en/docs/amamba/user-guide/pipeline/create/jenkins.md
Labels: amamba, en, i18n

#3493 [en] Update kangaroo release notes
  docs/en/docs/kangaroo/intro/release-notes.md
  docs/zh/docs/kangaroo/intro/release-notes.md
Labels: zh, en, kangaroo, i18n

#3494 [en] Update kant release notes
  docs/en/docs/kant/intro/release-notes.md
  docs/zh/docs/kant/intro/release-notes.md
Labels: zh, en, kant, i18n

#3495 add creat-multipipelines images
  docs/en/docs/amamba/images/mutilpipeline01.png
  docs/en/docs/amamba/images/mutilpipeline02.png
  docs/en/docs/amamba/images/mutilpipeline03.png
  docs/en/docs/amamba/images/mutilpipeline04.png
  docs/en/docs/amamba/images/mutilpipeline05.png
  docs/en/docs/amamba/images/mutilpipeline06.png
  docs/en/docs/amamba/images/mutilpipeline07.png
  docs/en/docs/amamba/images/mutilpipeline08.png
  docs/en/docs/amamba/user-guide/pipeline/create/mutilpipeline.md
  docs/zh/docs/amamba/user-guide/pipeline/create/mutilpipeline.md
Labels: amamba, zh, en, i18n

#3497 add create-template-pipeline images
  docs/en/docs/amamba/images/templatepipeline01.png
  docs/en/docs/amamba/images/templatepipeline02.png
  docs/en/docs/amamba/images/templatepipeline03.png
  docs/en/docs/amamba/images/templatepipeline04.png
  docs/en/docs/amamba/images/templatepipeline05.png
  docs/en/docs/amamba/user-guide/pipeline/create/template.md
  docs/zh/docs/amamba/user-guide/pipeline/create/template.md
Labels: amamba, zh, en, i18n

#3496 [en] update two best-practices
  docs/en/docs/kpanda/best-practice/kubean-low-version.md
  docs/en/docs/kpanda/best-practice/multi-arch.md
  docs/zh/docs/kpanda/best-practice/kubean-low-version.md
  docs/zh/docs/kpanda/best-practice/multi-arch.md
Labels: kpanda, zh, en, i18n

#3501 [en] Update a term about click-on
  docs/en/docs/amamba/intro/features.md
  docs/en/docs/amamba/intro/index.md
  docs/en/docs/amamba/pluggable-components.md
  docs/en/docs/amamba/user-guide/native/manage.md
  docs/en/docs/amamba/user-guide/oam/create.md
  docs/en/docs/amamba/user-guide/oam/manage.md
  docs/en/docs/amamba/user-guide/pipeline/create/custom.md
  docs/en/docs/amamba/user-guide/pipeline/install-jenkins.md
  docs/en/docs/amamba/user-guide/release/check-bluegreen.md
  docs/en/docs/amamba/user-guide/wizard/create-app-git.md
  docs/en/docs/amamba/user-guide/wizard/helm.md
  docs/en/docs/insight/best-practice/integration_deepflow.md
  docs/en/docs/insight/quickstart/install/install-agent.md
  docs/en/docs/insight/user-guide/scenario-insight/probe-module.md
  docs/en/docs/insight/user-guide/scenario-insight/probe.md
  docs/en/docs/kairship/best-practice/one-click-conversion.md
  docs/en/docs/kairship/crds/crd.md
  docs/en/docs/kpanda/user-guide/helm/Import-addon.md
  docs/en/docs/middleware/common/antiaffinity.md
  docs/en/docs/skoala/best-practice/gateway02.md
  docs/en/docs/skoala/best-practice/plugins/jwt.md
  docs/en/docs/skoala/trad-ms/hosted/services/check-details.md
  docs/en/docs/storage/hwameistor/install/drbdinstall.md
  docs/en/docs/storage/hwameistor/resources/migrate.md
  docs/en/docs/virtnest/quick-start/access.md
  docs/en/docs/virtnest/quick-start/create-image.md
  docs/en/docs/virtnest/quick-start/create-secret.md
  docs/en/docs/virtnest/quick-start/create-tep.md
  docs/en/docs/virtnest/quick-start/index.md
  docs/en/navigation.yml
  docs/zh/docs/amamba/pluggable-components.md
Labels: skoala, midware, kairship, insight, kpanda, amamba, zh, en, storage, virtnest, i18n

#3500 download: virtnest version updated to v0.5.0
  docs/zh/docs/download/modules/virtnest.md
Labels: download, zh

#3504 Update a page to delete mesh gateway
  docs/en/docs/mspider/images/delete-gate01.png
  docs/en/docs/mspider/images/delete-gate02.png
  docs/en/docs/mspider/images/delete-gate03.png
  docs/en/docs/mspider/user-guide/gateway-instance/delete.md
  docs/zh/docs/mspider/user-guide/gateway-instance/delete.md
Labels: mspider, zh, en, i18n

#3505 Update mspider features and index
  docs/en/docs/mspider/intro/features.md
  docs/en/docs/mspider/intro/index.md
Labels: mspider, en, i18n

#3507 add a new article to navigation
  docs/zh/docs/skoala/best-practice/ak-sk-demo.md
  docs/zh/navigation.yml
Labels: skoala, zh

#3509 Update ak-sk-demo
  docs/zh/docs/skoala/best-practice/ak-sk-demo.md
  docs/zh/navigation.yml
Labels: skoala, zh

#3511 update blog: kubeedge
  docs/en/docs/blogs/240108-kubeedge.md
  docs/zh/docs/blogs/240108-kubeedge.md
Labels: zh, en, blogs, i18n

#3514 [en] Add a ak/sk practice to skoala
  docs/en/docs/skoala/best-practice/ak-sk-demo.md
  docs/en/navigation.yml
  docs/zh/docs/skoala/best-practice/ak-sk-demo.md
Labels: skoala, zh, en, i18n

#3517 [en] Sync download pages for modules
  docs/en/docs/download/modules/amamba.md
  docs/en/docs/download/modules/kairship.md
  docs/en/docs/download/modules/kcollie.md
  docs/en/docs/download/modules/kcoral.md
  docs/en/docs/download/modules/middleware/kafka.md
  docs/en/docs/download/modules/skoala.md
  docs/en/docs/download/modules/virtnest.md
  docs/zh/docs/download/modules/kcollie.md
  docs/zh/docs/download/modules/kcoral.md
  docs/zh/docs/download/modules/skoala.md
  docs/zh/docs/download/modules/virtnest.md
Labels: download, zh, en, i18n

#3515 MTPE amamba-trigger-pipelines docs
  docs/en/docs/amamba/images/trigger001.png
  docs/en/docs/amamba/user-guide/pipeline/run/trigger.md
  docs/zh/docs/amamba/user-guide/pipeline/run/trigger.md
Labels: amamba, zh, en, i18n

#3516 Update access key page for ghippo
  docs/en/docs/ghippo/images/platform02.png
  docs/en/docs/ghippo/images/platform03.png
  docs/en/docs/ghippo/user-guide/personal-center/accesstoken.md
  docs/zh/docs/ghippo/user-guide/personal-center/accesstoken.md
Labels: ghippo, zh, en, i18n

#3518 add amamba-manual-trigger-pipelines images
  docs/en/docs/amamba/images/mantriger01.png
  docs/en/docs/amamba/images/mantriger02.png
  docs/en/docs/amamba/images/mantriger03.png
  docs/en/docs/amamba/images/mantriger04.png
  docs/en/docs/amamba/images/mantriger05.png
  docs/en/docs/amamba/images/mantriger06.png
  docs/en/docs/amamba/user-guide/pipeline/run/manual.md
Labels: amamba, en, i18n

#3519 add amamba-create-custom-templates images
  docs/en/docs/amamba/images/template04.png
  docs/en/docs/amamba/images/template05.png
  docs/en/docs/amamba/images/template06.png
  docs/en/docs/amamba/user-guide/pipeline/template/custom-template.md
  docs/zh/docs/amamba/user-guide/pipeline/template/custom-template.md
Labels: amamba, zh, en, i18n

#3526 add kapanda-offline-upgrade images
  docs/en/docs/kpanda/images/clusterlist.png
  docs/en/docs/kpanda/images/update-kpanda.png
  docs/en/docs/kpanda/intro/offline-upgrade.md
Labels: kpanda, en, i18n

#3528 add amamba-manage-credential images
  docs/en/docs/amamba/images/cred03.png
  docs/en/docs/amamba/user-guide/pipeline/credential.md
  docs/zh/docs/amamba/user-guide/pipeline/credential.md
Labels: amamba, zh, en, i18n

#3527 update integration_deepflow.md doc
  docs/zh/docs/insight/best-practice/integration_deepflow.md
Labels: insight, zh

#3529 add amamba-sync-manually images
  docs/en/docs/amamba/images/sync01.png
  docs/en/docs/amamba/images/sync02.png
  docs/en/docs/amamba/images/sync03.png
  docs/en/docs/amamba/user-guide/gitops/sync-manually.md
Labels: amamba, en, i18n

#3535 update error
  docs/zh/docs/kpanda/best-practice/kubean-low-version.md
Labels: kpanda, zh

#3533 add amamba-create-argo-cd images
  docs/en/docs/amamba/images/argo01.png
  docs/en/docs/amamba/images/argo02.png
  docs/en/docs/amamba/images/argo03.png
  docs/en/docs/amamba/images/argo04.png
  docs/en/docs/amamba/images/argo05.png
  docs/en/docs/amamba/user-guide/gitops/create-argo-cd.md
  docs/zh/docs/amamba/user-guide/gitops/create-argo-cd.md
Labels: amamba, zh, en, i18n

#3532 add amamba-gitops-importrepo images
  docs/en/docs/amamba/images/import01.png
  docs/en/docs/amamba/images/import02.png
  docs/en/docs/amamba/images/import03.png
  docs/en/docs/amamba/images/import04.png
  docs/en/docs/amamba/images/import05.png
  docs/en/docs/amamba/images/import06.png
  docs/en/docs/amamba/user-guide/gitops/import-repo.md
Labels: amamba, en, i18n

#3536 download: mspider version updated to v0.22.1
  docs/zh/docs/download/index.md
  docs/zh/docs/download/modules/mspider.md
Labels: download, zh

#3537 add amamba-release-canary images
  docs/en/docs/amamba/images/canary01.png
  docs/en/docs/amamba/images/canary02.png
  docs/en/docs/amamba/images/canary03.png
  docs/en/docs/amamba/images/canary04.png
  docs/en/docs/amamba/images/canary05.png
  docs/en/docs/amamba/images/canary06.png
  docs/en/docs/amamba/user-guide/release/canary.md
Labels: amamba, en, i18n

#3539 add amamba-release-checkcanary images
  docs/en/docs/amamba/images/checkcanary01.png
  docs/en/docs/amamba/images/checkcanary02.png
  docs/en/docs/amamba/images/checkcanary03.png
  docs/en/docs/amamba/images/checkcanary04.png
  docs/en/docs/amamba/images/checkcanary05.png
  docs/en/docs/amamba/images/checkcanary06.png
  docs/en/docs/amamba/images/checkcanary07.png
  docs/en/docs/amamba/images/checkcanary08.png
  docs/en/docs/amamba/images/checkcanary09.png
  docs/en/docs/amamba/user-guide/release/check-canary.md
Labels: amamba, en, i18n

#3540 add amamba-integrated-toolchain images
  docs/en/docs/amamba/images/tool01.png
  docs/en/docs/amamba/images/tool02.png
  docs/en/docs/amamba/images/tool03.png
  docs/en/docs/amamba/user-guide/tools/integrated-toolchain.md
Labels: amamba, en, i18n

#3543 add amamba-manage-toolchain-instances images
  docs/en/docs/amamba/images/tool04.png
  docs/en/docs/amamba/images/tool05.png
  docs/en/docs/amamba/images/tool06.png
  docs/en/docs/amamba/user-guide/tools/toolchain-instances.md
Labels: amamba, en, i18n

#3542 update a deepflow practice for insight
  docs/en/docs/insight/best-practice/images/deepflow_agent_chart_config.png
  docs/en/docs/insight/best-practice/images/deepflow_chart.png
  docs/en/docs/insight/best-practice/images/deepflow_chart_config.png
  docs/en/docs/insight/best-practice/images/deepflow_chart_readme.png
  docs/en/docs/insight/best-practice/images/deepflow_integ_insight_cm.png
  docs/en/docs/insight/best-practice/images/deepflow_integ_insight_cm_edit.png
  docs/en/docs/insight/best-practice/integration_deepflow.md
  docs/zh/docs/insight/best-practice/integration_deepflow.md
Labels: insight, zh, en, i18n

#3545 update error
  docs/zh/docs/kpanda/best-practice/kubean-low-version.md
Labels: kpanda, zh

#3546 update kubecon eu info
  docs/zh/docs/native/news/news-2024.md
Labels: zh, native

#3544 Fix commands for kpanda practices
  docs/en/docs/kpanda/best-practice/add-master-node.md
  docs/en/docs/kpanda/best-practice/kubean-low-version.md
  docs/zh/docs/kpanda/best-practice/add-master-node.md
Labels: kpanda, zh, en, i18n

#3548 add amamba-deploy-pipeline images
  docs/en/docs/amamba/images/editpipe01.png
  docs/en/docs/amamba/images/editpipe02.png
  docs/en/docs/amamba/images/editpipe03.png
  docs/en/docs/amamba/images/editpipe04.png
  docs/en/docs/amamba/images/pipelin01.png
  docs/en/docs/amamba/images/pipelin02.png
  docs/en/docs/amamba/images/pipelin03.png
  docs/en/docs/amamba/images/pipelin04.png
  docs/en/docs/amamba/images/quickstart01.png
  docs/en/docs/amamba/images/quickstart02.png
  docs/en/docs/amamba/images/quickstart03.png
  docs/en/docs/amamba/images/quickstart04.png
  docs/en/docs/amamba/images/quickstart05.png
  docs/en/docs/amamba/images/quickstart06.png
  docs/en/docs/amamba/images/quickstart07.png
  docs/en/docs/amamba/quickstart/deploy-pipeline.md
Labels: amamba, en, i18n

#3549 Add a blog: containerization and ai
  docs/en/docs/blogs/240115-news.md
  docs/en/docs/blogs/index.md
  docs/en/navigation.yml
  docs/zh/docs/blogs/240115-news.md
  docs/zh/docs/blogs/index.md
  docs/zh/navigation.yml
Labels: zh, en, blogs, i18n

#3556 [en] Sync ghippo folder structure for best practices
  docs/en/docs/amamba/user-guide/namespace/namespace.md
  docs/en/docs/ghippo/best-practice/authz-plan.md
  docs/en/docs/ghippo/best-practice/cluster-for-multiws.md
  docs/en/docs/ghippo/best-practice/folder-practice.md
  docs/en/docs/ghippo/best-practice/gproduct/gproduct-demo-main.tar.gz
  docs/en/docs/ghippo/best-practice/gproduct/intro.md
  docs/en/docs/ghippo/best-practice/gproduct/nav.md
  docs/en/docs/ghippo/best-practice/gproduct/route-auth.md
  docs/en/docs/ghippo/best-practice/navigator.md
  docs/en/docs/ghippo/best-practice/oem/custom-idp.md
  docs/en/docs/ghippo/best-practice/oem/demo.md
  docs/en/docs/ghippo/best-practice/oem/examples/App.vue
  docs/en/docs/ghippo/best-practice/oem/examples/default1.conf
  docs/en/docs/ghippo/best-practice/oem/examples/default2.conf
  docs/en/docs/ghippo/best-practice/oem/examples/demo.yaml
  docs/en/docs/ghippo/best-practice/oem/examples/gproduct-demo-main.tar.gz
  docs/en/docs/ghippo/best-practice/oem/examples/nginx.conf
  docs/en/docs/ghippo/best-practice/oem/examples/pom.xml
  docs/en/docs/ghippo/best-practice/oem/examples/xxxProvider.java
  docs/en/docs/ghippo/best-practice/oem/examples/xxxProviderFactory.java
  docs/en/docs/ghippo/best-practice/oem/images/dce5-01.png
  docs/en/docs/ghippo/best-practice/oem/images/dce5-02.png
  docs/en/docs/ghippo/best-practice/oem/images/dce5-03.png
  docs/en/docs/ghippo/best-practice/oem/images/idp06.png
  docs/en/docs/ghippo/best-practice/oem/images/oem-in01.png
  docs/en/docs/ghippo/best-practice/oem/images/oem-in02.png
  docs/en/docs/ghippo/best-practice/oem/images/oemin-jierudetali.png
  docs/en/docs/ghippo/best-practice/oem/keycloak-idp.md
  docs/en/docs/ghippo/best-practice/oem/oem-in.md
  docs/en/docs/ghippo/best-practice/oem/oem-out.md
  docs/en/docs/ghippo/best-practice/ws-best-practice.md
  docs/en/docs/ghippo/best-practice/ws-to-ns.md
  docs/en/docs/ghippo/images/nav01.png
  docs/en/docs/ghippo/images/nav02.png
  docs/en/docs/videos/use-cases.md
  docs/en/navigation.yml
  docs/zh/docs/ghippo/best-practice/navigator.md
Labels: ghippo, zh, en, i18n

#3558 Fix command in multi-archi-heml for kpanda
  docs/en/docs/kpanda/user-guide/helm/multi-archi-helm.md
  docs/en/navigation.yml
  docs/zh/docs/kpanda/user-guide/helm/multi-archi-helm.md
Labels: kpanda, zh, en, i18n

#3561 update skoala-gateway-overview
  docs/en/docs/skoala/gateway/images/delete-gateway.png
  docs/en/docs/skoala/gateway/images/overview.png
  docs/en/docs/skoala/gateway/index.md
  docs/en/navigation.yml
  docs/zh/docs/skoala/gateway/images/delete-gateway.png
  docs/zh/docs/skoala/gateway/images/overview.png
  docs/zh/docs/skoala/gateway/index.md
  docs/zh/navigation.yml
Labels: skoala, zh, en, i18n

#3565 update Iluvatar name
  docs/zh/docs/kpanda/user-guide/gpu/gpu_matrix.md
Labels: kpanda, zh

#3566 add amamba-scan-with-pipeline images
  docs/en/docs/amamba/images/scanp01.png
  docs/en/docs/amamba/images/scanp02.png
  docs/en/docs/amamba/images/scanp03.png
  docs/en/docs/amamba/images/scanp04.png
  docs/en/docs/amamba/images/scanp05.png
  docs/en/docs/amamba/images/scanp06.png
  docs/en/docs/amamba/images/scanp07.png
  docs/en/docs/amamba/images/scanp08.png
  docs/en/docs/amamba/images/scanp09.png
  docs/en/docs/amamba/images/scanp10.png
  docs/en/docs/amamba/images/scanp11.png
  docs/en/docs/amamba/quickstart/scan-with-pipeline.md
Labels: amamba, en, i18n

#3555 add monthly PR statistics tool
  scripts/report_monthly.py
Labels: develop

#3569 add amamba-scan-with-harbor images
  docs/en/docs/amamba/images/harbor01.png
  docs/en/docs/amamba/images/harbor02.png
  docs/en/docs/amamba/images/harbor03.png
  docs/en/docs/amamba/images/harbor04.png
  docs/en/docs/amamba/quickstart/scan-with-harbor.md
Labels: amamba, en, i18n

#3571 add amamba-argocd-rollout images
  docs/en/docs/amamba/images/argout01.png
  docs/en/docs/amamba/images/argout02.png
  docs/en/docs/amamba/images/argout03.png
  docs/en/docs/amamba/images/argout04.png
  docs/en/docs/amamba/images/argout05.png
  docs/en/docs/amamba/images/argout06.png
  docs/en/docs/amamba/quickstart/argocd-rollout.md
Labels: amamba, en, i18n

#3573 update aliyun-terway pages
  docs/en/docs/network/modules/aliyun-terway/Q_A.md
  docs/en/docs/network/modules/aliyun-terway/aliyun-calico.md
  docs/en/docs/network/modules/aliyun-terway/aliyun-cilium.md
  docs/en/docs/network/modules/aliyun-terway/index.md
  docs/en/docs/network/modules/aliyun-terway/usage.md
  docs/en/docs/network/modules/aliyun-terway/what.md
  docs/zh/docs/network/intro/background.md
  docs/zh/docs/network/modules/aliyun-terway/aliyun-calico.md
  docs/zh/docs/network/modules/aliyun-terway/aliyun-cilium.md
  docs/zh/docs/network/modules/aliyun-terway/index.md
  docs/zh/docs/network/modules/aliyun-terway/usage.md
  docs/zh/docs/network/modules/aliyun-terway/what.md
  docs/zh/docs/network/modules/cilium/cilium-speedup.md
  docs/zh/docs/network/modules/cilium/not-support.md
Labels: zh, en, network, i18n

#3572 update submariner docs
  docs/en/docs/network/modules/submariner/index.md
  docs/en/docs/network/modules/submariner/install.md
  docs/en/docs/network/modules/submariner/usage.md
  docs/zh/docs/network/modules/submariner/install.md
  docs/zh/docs/network/modules/submariner/usage.md
Labels: zh, en, network, i18n

#3575 add amamba-pipeline-on-node images
  docs/en/docs/amamba/images/pipeline-node01.png
  docs/en/docs/amamba/images/pipeline-node02.png
  docs/en/docs/amamba/images/pipeline-node03.png
  docs/en/docs/amamba/images/pipeline-node04.png
  docs/en/docs/amamba/images/pipeline-node05.png
  docs/en/docs/amamba/images/pipeline-node06.png
  docs/en/docs/amamba/images/pipeline-node07.png
  docs/en/docs/amamba/images/pipeline-node08.png
  docs/en/docs/amamba/images/pipeline-node09.png
  docs/en/docs/amamba/images/pipeline-node10.png
  docs/en/docs/amamba/images/pipeline-node11.png
  docs/en/docs/amamba/images/pipeline-node12.png
  docs/en/docs/amamba/images/pipeline-node16.png
  docs/en/docs/amamba/quickstart/pipeline-on-node.md
Labels: amamba, en, i18n

#3574 update spiderpool folder structure
  docs/en/docs/network/config/multus-cr.md
  docs/en/docs/network/modules/cilium/cross-cluster.md
  docs/en/docs/network/modules/contour/install.md
  docs/en/docs/network/modules/f5networks/install.md
  docs/en/docs/network/modules/metallb/install.md
  docs/en/docs/network/modules/multus-underlay/install.md
  docs/en/docs/network/modules/spiderpool/cutomizedusage.md
  docs/en/docs/network/modules/spiderpool/usage.md
  docs/en/docs/network/modules/submariner/install.md
  docs/zh/docs/amamba/user-guide/pipeline/install-jenkins.md
  docs/zh/docs/kpanda/user-guide/workloads/create-deployment.md
  docs/zh/docs/kpanda/user-guide/workloads/create-statefulset.md
  docs/zh/docs/network/config/ippool/createpool.md
  docs/zh/docs/network/config/ippool/ippoolusage.md
  docs/zh/docs/network/config/multus-cr.md
  docs/zh/docs/network/config/use-ippool/cutomizedusage.md
  docs/zh/docs/network/config/use-ippool/usage.md
  docs/zh/docs/network/config/userdma.md
  docs/zh/docs/network/modules/multus-underlay/install.md
  docs/zh/docs/network/modules/spiderpool/install/install.md
  docs/zh/docs/network/modules/spiderpool/install/rdmapara.md
  docs/zh/docs/network/modules/spiderpool/public-cloud/alibabacloud.md
  docs/zh/docs/network/modules/spiderpool/public-cloud/awscloud.md
  docs/zh/docs/network/modules/spiderpool/upgrade.md
  docs/zh/docs/network/modules/sriov-network-operator/install.md
  docs/zh/docs/videos/network.md
  docs/zh/navigation.yml
Labels: kpanda, amamba, zh, en, videos, network, i18n

#3577 add amamba-scenarios-config images
  docs/zh/docs/amamba/quickstart/scenarios-config.md
Labels: amamba, zh

#3578 modify amamba-navigation
  docs/en/docs/amamba/user-guide/gitops/create-argo-cd.md
  docs/en/docs/amamba/user-guide/gitops/sync-manually.md
  docs/en/docs/amamba/user-guide/pipeline/create/custom.md
  docs/en/docs/amamba/user-guide/pipeline/create/mutilpipeline.md
  docs/en/docs/amamba/user-guide/pipeline/template/custom-template.md
  docs/en/navigation.yml
Labels: amamba, en, i18n

#3580 update front matters in download pages
  docs/en/docs/download/addon/v0.10.0.md
  docs/en/docs/download/addon/v0.11.0.md
  docs/en/docs/download/addon/v0.12.0.md
  docs/en/docs/download/addon/v0.6.0.md
  docs/en/docs/download/addon/v0.8.0.md
  docs/en/docs/download/addon/v0.9.0.md
  docs/en/docs/download/modules/dowl.md
  docs/en/docs/download/modules/ghippo.md
  docs/en/docs/download/modules/gmagpie.md
  docs/en/docs/download/modules/hwameistor.md
  docs/en/docs/download/modules/insight.md
  docs/en/docs/download/modules/kangaroo.md
  docs/en/docs/download/modules/kpanda.md
  docs/en/docs/download/modules/middleware/elasticsearch.md
  docs/en/docs/download/modules/middleware/minio.md
  docs/en/docs/download/modules/middleware/mongodb.md
  docs/en/docs/download/modules/middleware/mysql.md
  docs/en/docs/download/modules/middleware/postgresql.md
  docs/en/docs/download/modules/middleware/rabbitmq.md
  docs/en/docs/download/modules/middleware/redis.md
  docs/en/docs/download/modules/middleware/rocketmq.md
  docs/en/docs/download/modules/mspider.md
  docs/en/docs/download/modules/spidernet.md
  docs/zh/docs/download/addon/v0.10.0.md
  docs/zh/docs/download/addon/v0.11.0.md
  docs/zh/docs/download/addon/v0.6.0.md
  docs/zh/docs/download/addon/v0.8.0.md
  docs/zh/docs/download/addon/v0.9.0.md
  docs/zh/docs/download/modules/amamba.md
  docs/zh/docs/download/modules/dowl.md
  docs/zh/docs/download/modules/ghippo.md
  docs/zh/docs/download/modules/gmagpie.md
  docs/zh/docs/download/modules/hwameistor.md
  docs/zh/docs/download/modules/insight.md
  docs/zh/docs/download/modules/kairship.md
  docs/zh/docs/download/modules/kangaroo.md
  docs/zh/docs/download/modules/kant.md
  docs/zh/docs/download/modules/kcollie.md
  docs/zh/docs/download/modules/kcoral.md
  docs/zh/docs/download/modules/kpanda.md
  docs/zh/docs/download/modules/middleware/elasticsearch.md
  docs/zh/docs/download/modules/middleware/kafka.md
  docs/zh/docs/download/modules/middleware/minio.md
  docs/zh/docs/download/modules/middleware/mongodb.md
  docs/zh/docs/download/modules/middleware/mysql.md
  docs/zh/docs/download/modules/middleware/postgresql.md
  docs/zh/docs/download/modules/middleware/rabbitmq.md
  docs/zh/docs/download/modules/middleware/redis.md
  docs/zh/docs/download/modules/middleware/rocketmq.md
  docs/zh/docs/download/modules/mspider.md
  docs/zh/docs/download/modules/skoala.md
  docs/zh/docs/download/modules/spidernet.md
  docs/zh/docs/download/modules/virtnest.md
Labels: download, zh, en, i18n

#3583 download: ghippo version updated to v0.23.1
  docs/zh/docs/download/index.md
  docs/zh/docs/download/modules/ghippo.md
Labels: download, zh

#3581 add amamba-user-guide-backup images
  docs/en/docs/kpanda/images/backup1.png
  docs/en/docs/kpanda/images/backup2.png
  docs/en/docs/kpanda/images/backup3.png
  docs/en/docs/kpanda/images/backup4.png
  docs/en/docs/kpanda/user-guide/backup/install-velero.md
Labels: kpanda, en, i18n

#3584 add ghippo v0.23.1 release notes
  docs/zh/docs/ghippo/intro/release-notes.md
Labels: ghippo, zh

#3582 download: skoala version updated to v0.32.0
  docs/zh/docs/download/modules/skoala.md
Labels: download, zh

#3588 add middleware-common images
  docs/en/docs/middleware/common/antiaffinity.md
  docs/en/docs/middleware/common/config.md
  docs/en/docs/middleware/common/images/anti-affinity03.png
  docs/en/docs/middleware/common/images/anti-affinity04.png
  docs/en/docs/middleware/common/images/cfg01.png
  docs/en/docs/middleware/common/images/cfg02.png
  docs/en/docs/middleware/common/images/cfg03.png
  docs/en/docs/middleware/common/images/cfg04.png
  docs/en/docs/middleware/common/images/cfg05.png
  docs/en/docs/middleware/common/images/cfg06.png
  docs/en/docs/middleware/common/images/cfg07.png
  docs/en/docs/middleware/common/images/cfg08.png
  docs/en/docs/middleware/common/index.md
  docs/zh/docs/middleware/common/antiaffinity.md
  docs/zh/docs/middleware/common/config.md
  docs/zh/docs/middleware/common/index.md
Labels: midware, zh, en, i18n

#3585 add kpanda-application-backup images
  docs/en/docs/kpanda/images/backupd20481.png
  docs/en/docs/kpanda/images/backupd20482.png
  docs/en/docs/kpanda/images/backupd20483.png
  docs/en/docs/kpanda/images/backupd20484.png
  docs/en/docs/kpanda/images/backupd20485.png
  docs/en/docs/kpanda/images/backupd20486.png
  docs/en/docs/kpanda/user-guide/backup/deployment.md
Labels: kpanda, en, i18n

#3586 Add docs to baize
  docs/zh/docs/baize/developer/dataset/create.md
  docs/zh/docs/baize/developer/dataset/delete.md
  docs/zh/docs/baize/developer/index.md
  docs/zh/docs/baize/developer/jobs/create.md
  docs/zh/docs/baize/developer/jobs/delete.md
  docs/zh/docs/baize/developer/jobs/view.md
  docs/zh/docs/baize/developer/notebooks/create.md
  docs/zh/docs/baize/developer/notebooks/delete.md
  docs/zh/docs/baize/developer/notebooks/start-pause.md
  docs/zh/docs/baize/developer/notebooks/view.md
  docs/zh/docs/baize/images/change-ws.png
  docs/zh/docs/baize/images/cluster.png
  docs/zh/docs/baize/images/dataset01.png
  docs/zh/docs/baize/images/dataset02.png
  docs/zh/docs/baize/images/dataset03.png
  docs/zh/docs/baize/images/dataset04.png
  docs/zh/docs/baize/images/delete01.png
  docs/zh/docs/baize/images/delete02.png
  docs/zh/docs/baize/images/delete03.png
  docs/zh/docs/baize/images/dev-overview.png
  docs/zh/docs/baize/images/ds-delete01.png
  docs/zh/docs/baize/images/ds-delete02.png
  docs/zh/docs/baize/images/ds-delete03.png
  docs/zh/docs/baize/images/job01.png
  docs/zh/docs/baize/images/job02.png
  docs/zh/docs/baize/images/job03.png
  docs/zh/docs/baize/images/job04.png
  docs/zh/docs/baize/images/nb-delete01.png
  docs/zh/docs/baize/images/nb-delete02.png
  docs/zh/docs/baize/images/nb-delete03.png
  docs/zh/docs/baize/images/nb-start01.png
  docs/zh/docs/baize/images/nb-workload01.png
  docs/zh/docs/baize/images/nb-workload02.png
  docs/zh/docs/baize/images/nb-workload03.png
  docs/zh/docs/baize/images/notebook01.png
  docs/zh/docs/baize/images/notebook02.png
  docs/zh/docs/baize/images/notebook03.png
  docs/zh/docs/baize/images/oam-overview.png
  docs/zh/docs/baize/images/q-delete01.png
  docs/zh/docs/baize/images/q-delete02.png
  docs/zh/docs/baize/images/queue01.png
  docs/zh/docs/baize/images/queue02.png
  docs/zh/docs/baize/images/queue03.png
  docs/zh/docs/baize/images/resource.png
  docs/zh/docs/baize/images/workspace.png
  docs/zh/docs/baize/intro/first.md
  docs/zh/docs/baize/intro/install.md
  docs/zh/docs/baize/oam/index.md
  docs/zh/docs/baize/oam/queue/create.md
  docs/zh/docs/baize/oam/queue/delete.md
  docs/zh/docs/baize/oam/resource.md
  docs/zh/docs/baize/quickstart/oam/.gitkeep
  docs/zh/navigation.yml
Labels: zh, baize

#3591 add skoala- sentinel images
  docs/zh/docs/skoala/images/sentinel01.png
  docs/zh/docs/skoala/images/sentinel02.png
  docs/zh/docs/skoala/images/sentinel03.png
Labels: skoala, zh

#3593 correct install-offline indentation
  docs/en/docs/install/community/k8s/offline.md
Labels: installer, en, i18n

#3592 add amamba-pipeline-issues docs
  docs/en/docs/amamba/faq/faq-jenkins.md
Labels: amamba, en, i18n

#3595 update baize nav
  docs/zh/navigation.yml
Labels: zh

#3596 update error
  docs/zh/docs/install/commercial/start-install.md
Labels: installer, zh

#3597 update release-notes to 0.32.0
  docs/zh/docs/skoala/intro/release-notes.md
Labels: skoala, zh

#3598 update virtnest&fix 3175
  docs/zh/docs/kairship/workload/promote.md
  docs/zh/docs/virtnest/quick-start/create-image.md
  docs/zh/docs/virtnest/quick-start/snapshot.md
Labels: kairship, zh, virtnest

#3601 [en] update skoala release notes
  docs/en/docs/skoala/intro/release-notes.md
  docs/zh/docs/skoala/intro/release-notes.md
Labels: skoala, zh, en, i18n

#3600 [en] Update cluster-config and start-install
  docs/en/docs/install/commercial/cluster-config.md
  docs/en/docs/install/commercial/start-install.md
Labels: installer, en, i18n

#3602 [en] update virtnest release notes and quickstart
  docs/en/docs/virtnest/intro/release-notes.md
  docs/en/docs/virtnest/quick-start/create-image.md
  docs/en/docs/virtnest/quick-start/snapshot.md
  docs/zh/docs/virtnest/intro/release-notes.md
  docs/zh/docs/virtnest/quick-start/create-image.md
Labels: zh, en, virtnest, i18n

#3603 Update insight-kafka.md
  docs/zh/docs/insight/best-practice/insight-kafka.md
Labels: insight, zh
