Repository DaoCloud/DaoCloud-docs, pull requests merged in 2024-08, with the labels that each got.

#5121 add rocky
  docs/zh/docs/install/commercial/deploy-requirements.md
Labels: installer, zh, size/XS

#5123 update skoala video: access service with gateway
  docs/zh/docs/videos/skoala.md
Labels: zh, videos, size/XS

#5120 [en]update kangaroo-space-imagelist
  docs/en/docs/kangaroo/space/imagelist.md
Labels: en, kangaroo, i18n, size/M

#5124 update kairship-instance page
  docs/zh/docs/kairship/images/instance01.png
  docs/zh/docs/kairship/images/instance02.png
  docs/zh/docs/kairship/instance/README.md
Labels: kairship, zh, size/S

#5125 update kant version in download/index
  docs/en/docs/download/index.md
  docs/zh/docs/download/index.md
Labels: download, zh, en, i18n, size/XS

#5115 docs: add how integrate-argocd-ui
  docs/zh/docs/amamba/user-guide/gitops/integrate-argocd-ui.md
  docs/zh/navigation.yml
Labels: amamba, zh, size/L

#5126 [en]update kairship-instance page
  docs/en/docs/kairship/images/instance01.png
  docs/en/docs/kairship/images/instance02.png
  docs/en/docs/kairship/instance/README.md
Labels: kairship, en, i18n, size/S

#5119 docs: add amamba pipeline plugin desc
  docs/zh/docs/amamba/user-guide/pipeline/custom-plugin.md
  docs/zh/navigation.yml
Labels: amamba, zh, size/L

#5135 [en]update virtnest-install-dependency
  docs/en/docs/virtnest/install/install-dependency.md
Labels: en, virtnest, i18n, size/M

#5138 [en] update install pages
  docs/en/docs/install/best-practices/all-in-one-machine.md
  docs/en/docs/install/commercial/deploy-requirements.md
  docs/en/docs/install/commercial/download-file.md
  docs/en/docs/install/commercial/start-install.md
  docs/en/docs/install/os-install/otherlinux.md
  docs/zh/docs/install/commercial/start-install.md
Labels: installer, zh, en, i18n, size/M

#5137 [en]: update config/multus-cr
  docs/en/docs/network/config/multus-cr.md
  docs/en/docs/network/images/multus01.png
  docs/en/docs/network/images/multus02.png
  docs/zh/docs/network/config/multus-cr.md
Labels: zh, en, network, i18n, size/L

#5139 update kpanda and kangaroo releasenote
  docs/zh/docs/kangaroo/intro/release-notes.md
  docs/zh/docs/kpanda/intro/release-notes.md
Labels: kpanda, zh, kangaroo, size/M

#5140 update download index
  docs/en/docs/download/index.md
  docs/zh/docs/download/index.md
Labels: download, zh, en, i18n, size/M

#5143 add en picture in ingress-nginx/proxy
  docs/en/docs/network/images/ingress-nginx-helm-set-load-balancer.png
  docs/en/docs/network/modules/ingress-nginx/proxy.md
  docs/zh/docs/network/modules/ingress-nginx/proxy.md
Labels: zh, en, network, i18n, size/XS

#5141 update kpanda release notes to v0.30.0
  docs/en/docs/kpanda/intro/release-notes.md
  docs/zh/docs/kpanda/intro/release-notes.md
Labels: kpanda, zh, en, i18n, size/L

#5145 Update models.md
  docs/zh/docs/baize/developer/inference/models.md
Labels: zh, baize, size/XS

#5142 [en]update virtnest-vm docs
  docs/en/docs/virtnest/vm/snapshot.md
  docs/en/docs/virtnest/vm/vm-network.md
  docs/zh/docs/virtnest/vm/vm-network.md
Labels: zh, en, virtnest, i18n, size/S, size/M

#5144 update baize/intro/install.md
  docs/en/docs/baize/intro/install.md
  docs/en/navigation.yml
  docs/zh/docs/baize/intro/install.md
  docs/zh/navigation.yml
Labels: zh, en, i18n, baize, size/M

#5147 release note to 0.39.1
  docs/zh/docs/skoala/intro/release-notes.md
Labels: skoala, zh, size/M

#5148 kant update release note
  docs/zh/docs/kant/intro/release-notes.md
Labels: zh, kant, size/S

#5152 Update baizectl.md
  docs/zh/docs/baize/developer/notebooks/baizectl.md
Labels: zh, baize, size/S

#5151 Update deploy-nfs-in-worker.md
  docs/zh/docs/baize/best-practice/deploy-nfs-in-worker.md
Labels: zh, baize, size/M

#5155 add a video: ai-model training and inference
  docs/zh/docs/videos/use-cases.md
Labels: zh, videos, size/XS

#5146 [en]: update modules/metallb/index
  docs/en/docs/network/modules/metallb/index.md
  docs/zh/docs/network/modules/metallb/index.md
Labels: zh, en, network, i18n, size/M

#5157 download: mspider version updated to v0.26.1
  docs/zh/docs/download/index.md
  docs/zh/docs/download/modules/mspider.md
Labels: download, zh, size/XS

#5159 [en] update skoala release notes to v0.39.1
  docs/en/docs/skoala/intro/release-notes.md
  docs/zh/docs/skoala/intro/release-notes.md
Labels: skoala, zh, en, i18n, size/L

#5161 [en] update download-module pages
  docs/en/docs/download/index.md
  docs/en/docs/download/modules/ghippo.md
  docs/en/docs/download/modules/insight.md
  docs/en/docs/download/modules/kpanda.md
  docs/en/docs/download/modules/mspider.md
  docs/en/docs/download/modules/skoala.md
  docs/zh/docs/download/index.md
Labels: download, zh, en, i18n, size/S

#5166 Baize/release 07
  docs/zh/docs/baize/intro/release-notes.md
Labels: zh, baize, size/S

#5164 fix links to a kant best practice and add a mermaid diagram
  docs/en/docs/dce/bphome.md
  docs/en/docs/kant/best-practice/custom-device-control.md
  docs/en/navigation.yml
  docs/zh/docs/kant/user-guide/device/index.md
  docs/zh/docs/kant/user-guide/edge-network/index.md
  docs/zh/navigation.yml
Labels: zh, en, dce, kant, i18n, size/S

#5165 download: gmagpie version updated to v0.8.0
  docs/zh/docs/download/modules/gmagpie.md
Labels: download, zh, size/XS

#5168 update release-notes
  docs/zh/docs/skoala/intro/release-notes.md
Labels: skoala, zh, size/XS

#5163 [en]: update modules/metallb/usage
  docs/en/docs/network/modules/metallb/usage.md
  docs/zh/docs/network/modules/metallb/usage.md
Labels: zh, en, network, i18n, size/L

#5122 add karmada
  docs/zh/docs/amamba/images/k1.1.jpg
  docs/zh/docs/amamba/images/k1.jpg
  docs/zh/docs/amamba/images/k2.jpg
  docs/zh/docs/amamba/images/k3.1.jpg
  docs/zh/docs/amamba/images/k3.jpg
  docs/zh/docs/amamba/images/k4.jpg
  docs/zh/docs/amamba/images/k5.jpg
  docs/zh/docs/amamba/quickstart/argo-karmada.md
  docs/zh/navigation.yml
Labels: amamba, zh, size/M

#5167 [en]: update multus-underlay/dpdk
  docs/en/docs/network/modules/multus-underlay/dpdk.md
  docs/zh/docs/network/modules/multus-underlay/dpdk.md
Labels: zh, en, network, i18n, size/M

#5169 fix a picture in created-external-unit
  docs/en/docs/kant/user-guide/edge-unit/create-external-unit.md
  docs/zh/docs/kant/images/create-external-edgeunit-01.png
  docs/zh/docs/kant/user-guide/edge-unit/create-external-unit.md
Labels: zh, en, kant, i18n, size/S, size/M

#5170 [en] Add quickstart/argo-karmada.md
  docs/en/docs/amamba/quickstart/argo-karmada.md
  docs/en/navigation.yml
  docs/zh/docs/amamba/quickstart/argo-karmada.md
  docs/zh/navigation.yml
Labels: amamba, zh, en, i18n, size/M

#5171 update details about nvidia-gpu-operator and upload-helm
  docs/zh/docs/kpanda/user-guide/gpu/nvidia/install_nvidia_driver_of_operator.md
  docs/zh/docs/kpanda/user-guide/helm/upload-helm.md
  docs/zh/docs/kpanda/user-guide/images/auto-helm.png
Labels: kpanda, zh, size/M

#5173 baize: add label studio deploy guide
  docs/zh/docs/baize/best-practice/images/lbs01.png
  docs/zh/docs/baize/best-practice/images/lbs02.png
  docs/zh/docs/baize/best-practice/images/lbs03.png
  docs/zh/docs/baize/best-practice/images/lbs04.png
  docs/zh/docs/baize/best-practice/images/lbs05.png
  docs/zh/docs/baize/best-practice/label-studio.md
  docs/zh/navigation.yml
Labels: zh, baize, size/L

#5174 [en]: update performance/cni-performance.md
  docs/en/docs/network/performance/cni-performance.md
  docs/zh/docs/network/performance/cni-performance.md
Labels: zh, en, network, i18n, size/L

#5177 [en] update install_nvidia_driver_of_operator and upload-helm
  docs/en/docs/kpanda/user-guide/gpu/nvidia/install_nvidia_driver_of_operator.md
  docs/en/docs/kpanda/user-guide/helm/upload-helm.md
  docs/zh/docs/kpanda/user-guide/gpu/nvidia/install_nvidia_driver_of_operator.md
  docs/zh/docs/kpanda/user-guide/helm/upload-helm.md
Labels: kpanda, zh, en, i18n, size/L

#5179 [en] update kpanda download page
  docs/en/docs/download/modules/dowl.md
  docs/en/docs/download/modules/gmagpie.md
  docs/en/docs/download/modules/insight.md
  docs/en/docs/download/modules/kairship.md
  docs/en/docs/download/modules/kangaroo.md
  docs/en/docs/download/modules/kpanda.md
Labels: download, en, i18n, size/S

#5180 Replace 'WeChat Work' with WeCom
  docs/en/docs/dce/dce-rn/20230831.md
  docs/en/docs/insight/intro/features.md
Labels: insight, en, dce, i18n, size/XS

#5181 [en] update mspider-intro pages
  docs/en/docs/mspider/intro/app-spec.md
  docs/en/docs/mspider/intro/comp-archi-ui/features-on-ui.md
  docs/en/docs/mspider/intro/comp-archi-ui/namespaces.md
  docs/en/docs/mspider/intro/faq.md
  docs/en/docs/mspider/intro/scenarios.md
  docs/en/docs/mspider/user-guide/service-list/diagnose.md
Labels: mspider, en, i18n, size/L

#5178 amamba: template choice guide
  docs/en/docs/amamba/user-guide/pipeline/template/info.md
  docs/zh/docs/amamba/user-guide/pipeline/template/info.md
Labels: amamba, zh, en, i18n, size/S

#5182 Update release-notes.md
  docs/zh/docs/baize/intro/release-notes.md
Labels: zh, baize, size/XS

#5184 [en] Fix style issues in baize/developer
  docs/en/docs/baize/best-practice/add-scheduler.md
  docs/en/docs/baize/developer/inference/create.md
  docs/en/docs/baize/developer/inference/vllm-inference.md
  docs/en/docs/baize/developer/jobs/pytorch.md
  docs/en/docs/baize/developer/jobs/tensorboard.md
  docs/en/docs/baize/developer/jobs/tensorflow.md
  docs/en/docs/baize/developer/notebooks/baizectl.md
  docs/en/docs/baize/developer/quick-start.md
  docs/en/docs/baize/troubleshoot/notebook-not-controlled-by-quotas.md
Labels: en, i18n, baize, size/M

#5183 [en]: update egressgateway/create-egpolicy
  docs/en/docs/network/modules/egressgateway/create-egpolicy.md
  docs/zh/docs/network/modules/egressgateway/create-egpolicy.md
Labels: zh, en, network, i18n, size/L

#5186 [en]: update platform-setting/about
  docs/en/docs/ghippo/user-guide/platform-setting/about.md
Labels: ghippo, en, i18n, size/XS

#5187 update kairship and virtnest release notes
  docs/zh/docs/kairship/intro/release-notes.md
  docs/zh/docs/virtnest/intro/release-notes.md
Labels: kairship, zh, virtnest, size/S

#5189 update release-notes
  docs/zh/docs/mspider/intro/release-notes.md
Labels: mspider, zh

#5188 [en]: update user-guide/audit/open-k8s-audit
  docs/en/docs/ghippo/user-guide/audit/open-k8s-audit.md
  docs/zh/docs/ghippo/user-guide/audit/open-k8s-audit.md
Labels: ghippo, zh, en, i18n, size/M

#5192 download: kpanda version updated to 0.30.1
  docs/zh/docs/download/index.md
  docs/zh/docs/download/modules/kpanda.md
Labels: download, zh, size/XS

#5193 [en] update mspider release notes to v0.28.0
  docs/en/docs/amamba/intro/tech-overview.md
  docs/en/docs/mspider/intro/release-notes.md
  docs/en/docs/skoala/best-practice/plugins/jwt.md
  docs/zh/docs/mspider/intro/release-notes.md
Labels: mspider, skoala, amamba, zh, en, i18n, size/M

#5194 [en]update virtnest and kairship releasenotes
  docs/en/docs/kairship/intro/release-notes.md
  docs/en/docs/virtnest/intro/release-notes.md
  docs/zh/docs/kairship/intro/release-notes.md
Labels: kairship, zh, en, virtnest, i18n, size/S

#5195 update details for gpu/nvidia
  docs/zh/docs/kpanda/user-guide/gpu/nvidia/install_nvidia_driver_of_operator.md
  docs/zh/docs/kpanda/user-guide/gpu/nvidia/ubuntu22.04_offline_install_driver.md
Labels: kpanda, zh, size/XS

#5199 add dce-rn/20240730.md
  docs/zh/docs/dce/dce-rn/20240730.md
  docs/zh/navigation.yml
Labels: zh, dce, size/L

#5197 [en]update kangaroo docs
  docs/en/docs/kangaroo/images/edit-harborcluster.png
  docs/en/docs/kangaroo/intro/release-notes.md
  docs/en/docs/kangaroo/quickstart/trivy-offline.md
  docs/en/docs/kangaroo/space/desc.md
  docs/en/docs/kangaroo/space/index.md
  docs/en/docs/kangaroo/space/reclaim.md
  docs/zh/docs/kangaroo/quickstart/trivy-offline.md
Labels: zh, en, kangaroo, i18n, size/M

#5200 [en]update insight-userguide docs
  docs/en/docs/insight/image/servicemap.png
  docs/en/docs/insight/user-guide/images/service01.png
  docs/en/docs/insight/user-guide/images/servicemap.png
  docs/en/docs/insight/user-guide/trace/service.md
  docs/en/docs/insight/user-guide/trace/topology.md
  docs/zh/docs/insight/user-guide/trace/service.md
Labels: insight, zh, en, i18n, size/M

#5202 update nav about node-authentication
  docs/en/docs/kpanda/user-guide/nodes/node-config.md
  docs/en/navigation.yml
Labels: kpanda, en, i18n, size/M

#5201 Discuss and fix some offline description
  docs/zh/docs/install/community/k8s/offline.md
  docs/zh/docs/install/community/k8s/online.md
  docs/zh/docs/install/install-tools.md
Labels: installer, zh, size/S

#5203 update dce-rn/20240730.md
  docs/zh/docs/dce/dce-rn/20240730.md
Labels: zh, dce, size/S

#5205 [en]add pics to redis-create
  docs/en/docs/kangaroo/images/courgette.log
  docs/en/docs/middleware/redis/images/create00.png
  docs/en/docs/middleware/redis/images/create01.png
  docs/en/docs/middleware/redis/images/create02.png
  docs/en/docs/middleware/redis/images/create03.png
  docs/en/docs/middleware/redis/images/create04.png
  docs/en/docs/middleware/redis/images/create05.png
  docs/en/docs/middleware/redis/user-guide/create.md
  docs/zh/docs/middleware/redis/user-guide/create.md
Labels: midware, zh, en, kangaroo, i18n, size/S

#5204 [en] add dce-rn/20240730.md
  docs/en/docs/dce/dce-rn/20231031.md
  docs/en/docs/dce/dce-rn/20231231.md
  docs/en/docs/dce/dce-rn/20240130.md
  docs/en/docs/dce/dce-rn/20240330.md
  docs/en/docs/dce/dce-rn/20240430.md
  docs/en/docs/dce/dce-rn/20240530.md
  docs/en/docs/dce/dce-rn/20240630.md
  docs/en/docs/dce/dce-rn/20240730.md
  docs/en/navigation.yml
Labels: en, dce, i18n, size/L

#5113 updata insight release note
  docs/zh/docs/insight/intro/releasenote.md
Labels: insight, zh, size/S

#5206 Add a video: baize 0.7.0 what's new
  docs/zh/docs/videos/baize.md
Labels: zh, videos, size/XS

#5207 fix style issues in insight release notes
  docs/zh/docs/insight/intro/releasenote.md
Labels: insight, zh, size/L

#5209 update pics to kangaroo-harbor
  docs/en/docs/kangaroo/images/hosted06.png
  docs/en/docs/kangaroo/managed/harbor.md
  docs/zh/docs/kangaroo/images/hosted07.png
  docs/zh/docs/kangaroo/managed/harbor.md
Labels: size/M

#5211 update kcsp info in readme
  README.md
  README_zh.md
  images/1.29.png
Labels: size/S

#5213 fix links to insight-release-notes
  docs/en/docs/download/modules/insight.md
  docs/zh/docs/download/modules/insight.md
  docs/zh/docs/insight/intro/releasenote.md
Labels: insight, download, zh, en, i18n, size/L

#5214 update pics to middleware-common
  docs/en/docs/middleware/common/images/workspace.png
  docs/en/docs/middleware/common/index.md
  docs/zh/docs/middleware/common/images/workspace.png
  docs/zh/docs/middleware/common/index.md
Labels: midware, zh, en, i18n, size/XS

#5215 [en]: update egressgateway/create_eg
  docs/en/docs/network/modules/egressgateway/create_eg.md
  docs/zh/docs/network/modules/egressgateway/create_eg.md
Labels: zh, en, network, i18n, size/M

#5216 update pics to middleware-mysql-create
  docs/zh/docs/middleware/mysql/images/create00.png
  docs/zh/docs/middleware/mysql/images/create01.png
  docs/zh/docs/middleware/mysql/images/create02.png
  docs/zh/docs/middleware/mysql/images/create03.png
  docs/zh/docs/middleware/mysql/images/create04.png
  docs/zh/docs/middleware/mysql/user-guide/create.md
Labels: midware, zh, size/S

#5217 [en]: fix install/user-isolation
  docs/en/docs/ghippo/install/user-isolation.md
Labels: ghippo, en, i18n

#5219 fix user-guide/access-control/idprovider.md
  docs/en/docs/ghippo/user-guide/access-control/idprovider.md
  docs/zh/docs/ghippo/user-guide/access-control/idprovider.md
Labels: ghippo, zh, en, i18n, size/XS

#5221 update middleware docs zh+en in august
  docs/en/docs/download/index.md
  docs/en/docs/download/modules/middleware/elasticsearch.md
  docs/en/docs/download/modules/middleware/kafka.md
  docs/en/docs/download/modules/middleware/minio.md
  docs/en/docs/download/modules/middleware/mongodb.md
  docs/en/docs/download/modules/middleware/mysql.md
  docs/en/docs/download/modules/middleware/postgresql.md
  docs/en/docs/download/modules/middleware/rabbitmq.md
  docs/en/docs/download/modules/middleware/redis.md
  docs/en/docs/download/modules/middleware/rocketmq.md
  docs/zh/docs/download/index.md
  docs/zh/docs/download/modules/middleware/elasticsearch.md
  docs/zh/docs/download/modules/middleware/kafka.md
  docs/zh/docs/download/modules/middleware/minio.md
  docs/zh/docs/download/modules/middleware/mongodb.md
  docs/zh/docs/download/modules/middleware/mysql.md
  docs/zh/docs/download/modules/middleware/postgresql.md
  docs/zh/docs/download/modules/middleware/rabbitmq.md
  docs/zh/docs/download/modules/middleware/redis.md
  docs/zh/docs/download/modules/middleware/rocketmq.md
Labels: download, zh, en, i18n, size/M

#5222 [en]update kangaroo docs
  docs/en/docs/kangaroo/best-practice/lb.md
  docs/en/docs/kangaroo/integrate/integrate-admin.md
  docs/en/docs/kangaroo/intro/upgrade.md
Labels: en, kangaroo, i18n, size/M

#5220 [en]update insight releasenote
  docs/en/docs/insight/intro/releasenote.md
Labels: insight, en, i18n, size/S, size/L

#5224 Update kubean-low-version.md
  docs/zh/docs/kpanda/best-practice/kubean-low-version.md
Labels: kpanda, zh, size/XS

#5225 [en]update Kangaroo docs
  docs/en/docs/kangaroo/space/index.md
  docs/en/docs/kangaroo/space/scan.md
Labels: en, kangaroo, i18n, size/M

#5228 typo: insight component-scheduling.md
  docs/zh/docs/insight/images/insight-ns-toleration.png
  docs/zh/docs/insight/quickstart/install/component-scheduling.md
Labels: insight, zh, size/S

#5229 [en]revise virnest descripton
  docs/en/docs/virtnest/install/index.md
  docs/zh/docs/virtnest/install/index.md
Labels: zh, en, virtnest, i18n, size/XS

#5223 [en]: update spiderpool/install/rdmapara
  docs/en/docs/network/images/rdma_macvlan01.png
  docs/en/docs/network/images/rdma_macvlan02.png
  docs/en/docs/network/images/sriov01.png
  docs/en/docs/network/images/sriov02.png
  docs/en/docs/network/images/sriov03.png
  docs/en/docs/network/images/sriov04.png
  docs/en/docs/network/images/sriov05.png
  docs/en/docs/network/images/sriov06.png
  docs/en/docs/network/modules/spiderpool/install/rdmapara.md
  docs/zh/docs/network/modules/spiderpool/install/rdmapara.md
Labels: zh, en, network, i18n, size/L

#5231 download: kpanda version updated to 0.30.0
  docs/zh/docs/download/index.md
  docs/zh/docs/download/modules/kpanda.md
Labels: download, zh, size/XS

#5232 download: addon version updated to v0.20.0
  docs/zh/docs/download/addon/history.md
  docs/zh/docs/download/addon/v0.20.0.md
  docs/zh/docs/download/index.md
Labels: download, zh, size/L

#5198 add rn v0.20.0
  docs/zh/docs/amamba/intro/release-notes.md
  docs/zh/docs/install/commercial/start-install.md
  docs/zh/docs/install/community/k8s/k8s-dce-deploy.md
  docs/zh/docs/install/community/k8s/offline.md
  docs/zh/docs/install/community/k8s/online.md
  docs/zh/docs/install/community/kind/online.md
  docs/zh/docs/install/faq.md
  docs/zh/docs/install/k8s-install/ocp-install-dce5.0.md
  docs/zh/docs/install/os-install/neokylin-install-dce5.0.md
  docs/zh/docs/storage/hwameistor/releasenotes.md
Labels: amamba, installer, zh, storage, size/L

#5234 add error
  docs/zh/docs/install/commercial/cluster-config.md
  docs/zh/docs/install/commercial/deploy-requirements.md
  docs/zh/docs/install/commercial/start-install.md
  docs/zh/docs/install/release-notes.md
Labels: installer, zh, size/M

#5236 virtnest install dependency update
  docs/zh/docs/virtnest/install/install-dependency.md
Labels: zh, virtnest, size/XS

#5237 fix addon index
  docs/zh/docs/download/index.md
Labels: download, zh, size/XS

#5238 update release-notes to 0.39.2
  docs/zh/docs/skoala/intro/release-notes.md
Labels: skoala, zh, size/S

#5227 [en]: update modules/multus-underlay/macvlan
  docs/en/docs/network/modules/multus-underlay/macvlan.md
  docs/zh/docs/network/modules/multus-underlay/macvlan.md
Labels: zh, en, network, i18n, size/M

#5230 [en]: update modules/multus-underlay/index
  docs/en/docs/network/modules/multus-underlay/index.md
  docs/zh/docs/network/modules/multus-underlay/index.md
Labels: zh, en, network, i18n, size/M

#5235 [en]: add pictures in best-practice/ws-to-ns
  docs/en/docs/ghippo/best-practice/ws-to-ns.md
  docs/en/docs/images/across02.png
  docs/en/docs/images/bind01.png
  docs/en/docs/images/bind02.png
  docs/en/docs/images/crd00.png
  docs/en/docs/images/crd01.png
  docs/en/docs/images/ns01.png
  docs/en/docs/images/ns02.png
  docs/en/docs/images/ns03.png
  docs/en/docs/images/ws01.png
  docs/en/docs/images/ws02.png
  docs/en/docs/images/ws03.png
  docs/en/docs/images/wsauth01.png
  docs/en/docs/images/wsauth02.png
  docs/zh/docs/ghippo/best-practice/ws-to-ns.md
  docs/zh/docs/images/wsauth02.png
Labels: ghippo, zh, en, i18n, size/M

#5240 download: dce5 version updated to v0.20.0
  docs/zh/docs/download/business/dce5-installer-history.md
  docs/zh/docs/download/business/dce5-installer-v0.20.0.md
  docs/zh/docs/download/free/dce5-installer-history.md
  docs/zh/docs/download/free/dce5-installer-v0.20.0.md
  docs/zh/docs/download/index.md
Labels: download, zh, size/L

#5260 fix community/kind/online
  docs/en/docs/install/community/kind/online.md
  docs/zh/docs/install/community/kind/online.md
Labels: installer, zh, en, i18n, size/XS

#5245 [en]: update kant/intro/release-notes.md
  docs/en/docs/kant/intro/release-notes.md
  docs/zh/docs/kant/intro/release-notes.md
Labels: zh, en, kant, i18n, size/S

#5249 [en]: update config/use-ippool/cutomizedusage
  docs/en/docs/network/config/use-ippool/cutomizedusage.md
  docs/zh/docs/network/config/use-ippool/cutomizedusage.md
Labels: zh, en, network, i18n, size/M

#5251 [en]: update hwameistor/releasenotes
  docs/en/docs/storage/hwameistor/releasenotes.md
Labels: en, storage, i18n, size/S

#5253 [en]: update user-guide/access-control/oidc
  docs/en/docs/ghippo/images/oidc-button.png
  docs/en/docs/ghippo/images/oidc01.png
  docs/en/docs/ghippo/images/ws01.png
  docs/en/docs/ghippo/user-guide/access-control/oidc.md
Labels: ghippo, en, i18n, size/M

#5256 [en]: update modules/cilium/cilium-speedup
  docs/en/docs/network/modules/cilium/cilium-speedup.md
  docs/zh/docs/network/modules/cilium/cilium-speedup.md
Labels: zh, en, network, i18n, size/M

#5257 [en]: update aliyun-terway/Q_A.md
  docs/en/docs/network/modules/aliyun-terway/Q_A.md
  docs/zh/docs/network/modules/aliyun-terway/Q_A.md
Labels: zh, en, network, i18n, size/M

#5258 [en]: update user-guide/audit/source-ip.md
  docs/en/docs/ghippo/user-guide/audit/source-ip.md
  docs/zh/docs/ghippo/user-guide/audit/source-ip.md
Labels: ghippo, zh, en, i18n, size/M

#5261 update pics in baize-notebooks-create
  docs/en/docs/baize/developer/notebooks/create.md
  docs/zh/docs/baize/developer/notebooks/create.md
  docs/zh/docs/baize/images/notebook01.png
  docs/zh/docs/baize/images/notebook02.png
  docs/zh/docs/baize/images/notebook03.png
Labels: zh, en, i18n, baize, size/XS

#5264 [en]update insight docs
  docs/en/docs/insight/intro/scenarios.md
  docs/en/docs/insight/quickstart/jvm-monitor/legacy-jvm.md
  docs/zh/docs/insight/quickstart/jvm-monitor/legacy-jvm.md
Labels: insight, zh, en, i18n, size/L

#5218 update mcamel release note
  docs/zh/docs/middleware/elasticsearch/release-notes.md
  docs/zh/docs/middleware/minio/release-notes.md
  docs/zh/docs/middleware/mongodb/release-notes.md
  docs/zh/docs/middleware/redis/release-notes.md
Labels: midware, zh, size/S

#5265 update ghippo/best-practice/oem/oem-in.md
  docs/zh/docs/ghippo/best-practice/oem/oem-in.md
Labels: ghippo, zh, size/M

#5267 Fix discussion 1061 in kairship/cluster/remove
  docs/zh/docs/kairship/cluster.md
  docs/zh/docs/kairship/images/removecl02.png
Labels: kairship, zh, size/XS

#5266 update pics in baize-intro-first
  docs/zh/docs/baize/images/change-ws.png
  docs/zh/docs/baize/images/cluster.png
  docs/zh/docs/baize/images/workspace.png
  docs/zh/docs/baize/intro/first.md
Labels: zh, baize, size/XS

#5269 fixed an error in user-guide/route/create-route.md
  docs/zh/docs/kant/user-guide/route/create-route.md
Labels: zh, kant, size/XS

#5270 [en]update kairship-resource docs
  docs/en/docs/kairship/resource/secret.md
  docs/en/docs/kairship/resource/update-configmap.md
  docs/en/docs/kairship/resource/update-ingress.md
Labels: kairship, en, i18n, size/M

#5271 update hwameistor/install/drbdinstall
  docs/en/docs/storage/hwameistor/install/drbdinstall.md
  docs/zh/docs/storage/hwameistor/install/drbdinstall.md
Labels: zh, en, storage, i18n, size/M

#5273 [en]: update best-practice/oem/oem-in
  docs/en/docs/ghippo/best-practice/oem/oem-in.md
  docs/zh/docs/ghippo/best-practice/oem/oem-in.md
Labels: ghippo, zh, en, i18n, size/L

#5277 [en] update middleware docs
  docs/en/docs/middleware/mysql/user-guide/create-mgr.md
  docs/en/docs/middleware/mysql/user-guide/create.md
  docs/en/docs/middleware/mysql/user-guide/logs.md
Labels: midware, en, i18n, size/M

#5272 fix addon temp
  docs/zh/docs/download/addon/.template.md
Labels: size/S

#5276 [en]: update best-practice/navigator.md
  docs/en/docs/ghippo/best-practice/navigator.md
  docs/zh/docs/ghippo/best-practice/navigator.md
Labels: ghippo, zh, en, i18n, size/M

#5275 [en]: update best-practice/oem/oem-out
  docs/en/docs/ghippo/best-practice/oem/oem-out.md
  docs/en/docs/ghippo/images/agent.png
  docs/zh/docs/ghippo/best-practice/oem/oem-out.md
Labels: ghippo, zh, en, i18n, size/M, size/L

#5282 fixed yaml in solutions/helm-rook-ceph
  docs/en/docs/storage/solutions/helm-rook-ceph.md
  docs/zh/docs/storage/solutions/helm-rook-ceph.md
Labels: zh, en, storage, i18n, size/L

#5283 Fix discussion #5279 in kpanda/add-worker-node-on-global
  docs/en/docs/kpanda/best-practice/add-worker-node-on-global.md
  docs/en/docs/kpanda/images/add-global-node01.png
  docs/en/docs/kpanda/images/add-global-node02.png
  docs/zh/docs/kpanda/best-practice/add-worker-node-on-global.md
  docs/zh/docs/kpanda/best-practice/dce4-5-migration.md
  docs/zh/docs/kpanda/images/backupd20481.png
Labels: kpanda, zh, en, i18n, size/L

#5284 0.40.x breakchange
  docs/zh/docs/skoala/intro/release-notes.md
Labels: skoala, zh, size/M

#5280 Update change-notebook-image.md
  docs/zh/docs/baize/best-practice/change-notebook-image.md
Labels: zh, baize, size/XS

#5285 Fix discussion #1670 in hwameistor/intro/scheduler
  docs/en/docs/storage/hwameistor/intro/scheduler.md
  docs/zh/docs/storage/hwameistor/intro/scheduler.md
Labels: zh, en, storage, i18n, size/L

#5274 Fix an discussion issue in mysql-faq and update en version
  docs/en/docs/middleware/mysql/faq/faq-others.md
  docs/zh/docs/middleware/mysql/faq/faq-others.md
Labels: midware, zh, en, i18n, size/M

#5286 fix discussion #2326 in deploy-requirements.md
  docs/zh/docs/install/commercial/deploy-requirements.md
Labels: installer, zh, size/XS

#5287 fix discussion #3426 in personal-center/security-setting/
  docs/en/docs/ghippo/user-guide/personal-center/security-setting.md
  docs/zh/docs/ghippo/user-guide/personal-center/security-setting.md
Labels: ghippo, zh, en, i18n, size/XS, size/S

#5281 Fix hwameistor/resources/lvm-nodes in discussion #5226
  docs/zh/docs/storage/hwameistor/resources/lvm-nodes.md
Labels: zh, storage, size/XS

#5289 Fix dicussion #3563 in install/community/resources/
  docs/en/docs/install/community/resources.md
  docs/zh/docs/install/community/resources.md
Labels: installer, zh, en, i18n, size/XS

#5290 Fix part of discussion #2311 about uninstall commands
  docs/en/docs/install/uninstall.md
  docs/zh/docs/install/uninstall.md
Labels: installer, zh, en, i18n, size/XS

#5292 Revert "Fix part of discussion #2311 about uninstall commands"
  docs/en/docs/install/uninstall.md
  docs/zh/docs/install/uninstall.md
Labels: installer, zh, en, i18n, size/XS

#5288 Add prerequisites package to download
  docs/zh/docs/download/index.md
  docs/zh/docs/install/commercial/start-install.md
Labels: installer, download, zh, size/M

#5291 update config/userdma
  docs/en/docs/network/config/userdma.md
  docs/en/docs/network/images/rdma_sriov01.png
  docs/en/docs/network/images/rdma_usage01.png
  docs/en/docs/network/images/useippool01.png
  docs/en/docs/network/images/useippool02.png
  docs/zh/docs/network/config/userdma.md
Labels: zh, en, network, i18n, size/M

#5293 [en] Add prerequisites package to download
  docs/en/docs/download/index.md
Labels: download, en, i18n, size/XS

#5294 Fix discussion #3111 in add-worker-node-on-global
  docs/en/docs/kpanda/best-practice/add-worker-node-on-global.md
  docs/zh/docs/kpanda/best-practice/add-worker-node-on-global.md
Labels: kpanda, zh, en, i18n, size/S

#5295 update CODEOWNERS
  .github/CODEOWNERS
Labels: develop, size/M

#5297 download: skoala version updated to v0.39.4
  docs/zh/docs/download/modules/skoala.md
Labels: download, zh, size/XS

#5296 [en] fixed a typo in middleware-mysql-features and did MTPE
  docs/en/docs/middleware/mysql/intro/features.md
  docs/zh/docs/middleware/mysql/intro/features.md
Labels: midware, zh, en, i18n, size/S

#5299 update version to v0.20.0 in install-tools.md
  docs/zh/docs/install/install-tools.md
Labels: installer, zh, size/XS

#5301 Fix discussion #3772 in cluster-already-exist for mspider
  docs/en/docs/mspider/troubleshoot/cluster-already-exist.md
  docs/zh/docs/mspider/troubleshoot/cluster-already-exist.md
Labels: mspider, zh, en, i18n, size/M

#5300 Updated minio doc and Fixed [discussion] #1908
  docs/en/docs/middleware/minio/user-guide/update-delete.md
  docs/zh/docs/middleware/minio/images/update01.png
  docs/zh/docs/middleware/minio/images/update02.png
  docs/zh/docs/middleware/minio/images/update03.png
  docs/zh/docs/middleware/minio/images/update04.png
  docs/zh/docs/middleware/minio/user-guide/update-delete.md
Labels: midware, zh, en, i18n, size/S

#5303 Fix discussion #4411 and update etcd typo
  docs/en/docs/kpanda/user-guide/backup/etcd-backup.md
  docs/en/docs/kpanda/user-guide/inspect/inspect.md
  docs/en/docs/kpanda/user-guide/nodes/delete-node.md
  docs/en/docs/kpanda/user-guide/nodes/labels-annotations.md
  docs/en/docs/kpanda/user-guide/nodes/schedule.md
  docs/en/docs/kpanda/user-guide/nodes/taints.md
  docs/en/docs/kpanda/user-guide/security/audit.md
  docs/en/docs/kpanda/user-guide/security/cis/config.md
  docs/en/docs/kpanda/user-guide/security/cis/policy.md
  docs/en/docs/kpanda/user-guide/security/cis/report.md
  docs/en/docs/kpanda/user-guide/security/hunter.md
  docs/zh/docs/kpanda/user-guide/backup/etcd-backup.md
  docs/zh/docs/kpanda/user-guide/inspect/inspect.md
  docs/zh/docs/kpanda/user-guide/nodes/delete-node.md
  docs/zh/docs/kpanda/user-guide/nodes/labels-annotations.md
  docs/zh/docs/kpanda/user-guide/nodes/schedule.md
  docs/zh/docs/kpanda/user-guide/nodes/taints.md
  docs/zh/docs/kpanda/user-guide/security/audit.md
  docs/zh/docs/kpanda/user-guide/security/cis/config.md
  docs/zh/docs/kpanda/user-guide/security/cis/policy.md
  docs/zh/docs/kpanda/user-guide/security/cis/report.md
  docs/zh/docs/kpanda/user-guide/security/hunter.md
Labels: kpanda, zh, en, i18n, size/L

#5302 Fix discussion #1897 and update pics
  docs/en/docs/middleware/kafka/images/insight01.png
  docs/en/docs/middleware/kafka/images/view02.png
  docs/zh/docs/middleware/kafka/images/insight01.png
  docs/zh/docs/middleware/kafka/images/view01.png
  docs/zh/docs/middleware/kafka/images/view02.png
Labels: midware, zh, en, i18n, size/XS

#5304 [en]update MTPE versions of Kairship docs
  docs/en/docs/kairship/cluster.md
  docs/en/docs/kairship/images/moreoperations.png
  docs/en/docs/kairship/resource/ingress.md
  docs/en/docs/kairship/resource/update-secret.md
  docs/en/docs/kairship/resource/update-service.md
Labels: kairship, en, i18n, size/M

#5305 [en] update installer pages to v0.20.0
  docs/en/docs/download/business/dce5-installer-v0.13.0.md
  docs/en/docs/install/commercial/cluster-config.md
  docs/en/docs/install/commercial/deploy-requirements.md
  docs/en/docs/install/commercial/start-install.md
  docs/en/docs/install/community/k8s/k8s-dce-deploy.md
  docs/en/docs/install/community/k8s/offline.md
  docs/en/docs/install/community/k8s/online.md
  docs/en/docs/install/community/kind/online.md
  docs/en/docs/install/faq.md
  docs/en/docs/install/install-tools.md
  docs/en/docs/install/k8s-install/ocp-install-dce5.0.md
  docs/en/docs/install/os-install/neokylin-install-dce5.0.md
  docs/en/docs/install/release-notes.md
  docs/en/docs/kpanda/best-practice/create-redhat9.2-on-centos-platform.md
  docs/zh/docs/install/commercial/start-install.md
  docs/zh/docs/install/faq.md
Labels: installer, zh, en, i18n, size/L

#5306 [en]update kangaroo-quickstart admin-registry
  docs/en/docs/kangaroo/quickstart/admin-registry.md
  docs/zh/docs/kangaroo/quickstart/admin-registry.md
Labels: zh, en, kangaroo, i18n, size/L

#5307 update native/git/index.md
  docs/zh/docs/native/git/index.md
Labels: zh, native, size/S

#5308 Fix discussion #1714 related to middleware-kafka configuration
  docs/en/docs/middleware/kafka/user-guide/config.md
  docs/zh/docs/middleware/kafka/user-guide/config.md
Labels: midware, zh, en, i18n, size/XS

#5309 Fix discussion #2365 about kairship-job
  docs/zh/docs/kairship/images/job03.png
  docs/zh/docs/kairship/images/job04.png
  docs/zh/docs/kairship/images/job08.png
  docs/zh/docs/kairship/workload/job.md
Labels: kairship, zh, size/M

#5310 Add hami as an eco project
  docs/zh/docs/community/hami.md
  docs/zh/docs/community/images/hami01.png
  docs/zh/docs/community/images/hami02.png
  docs/zh/docs/community/images/hami03.png
  docs/zh/navigation.yml
Labels: zh, eco, size/L

#5311 Enhancement: Optimize Chinese word segmentation search capability
  docs/zh/docs/dict.txt.daocloud
  docs/zh/docs/dict.txt.small
  docs/zh/mkdocs.yml
Labels: zh, size/XL

#5312 Fix discussion #2282 related to kaiship-add instance
  docs/en/docs/kairship/instance/add.md
  docs/zh/docs/kairship/instance/add.md
Labels: kairship, zh, en, i18n, size/XS

#5313 fix discussion #5190 in 230418-karmada-failover.md
  docs/zh/docs/blogs/230418-karmada-failover.md
Labels: zh, blogs, size/XS

#5278 chore: update argocd ui docs
  docs/zh/docs/amamba/user-guide/gitops/integrate-argocd-ui.md
Labels: amamba, zh, size/M
