Repository DaoCloud/DaoCloud-docs, pull requests merged in 2024-09, with the labels that each got.

#5426 [en]update middleware-compatibility
  docs/en/docs/middleware/compatibility.md
  docs/zh/docs/middleware/compatibility.md
Labels: midware, zh, en, i18n, size/L

#5423 download: gmagpie version updated to v0.9.0
  docs/zh/docs/download/modules/gmagpie.md
Labels: download, zh, size/XS

#5425 download: virtnest version updated to v0.12.0
  docs/zh/docs/download/modules/virtnest.md
Labels: download, zh, size/XS

#5427 download: kairship version updated to v0.22.0
  docs/zh/docs/download/index.md
  docs/zh/docs/download/modules/kairship.md
Labels: download, zh, size/XS

#5428 download: ghippo version updated to v0.30.0
  docs/zh/docs/download/index.md
  docs/zh/docs/download/modules/ghippo.md
Labels: download, zh, size/XS

#5430 [en] update download pages
  docs/en/docs/download/index.md
  docs/en/docs/download/modules/ghippo.md
  docs/en/docs/download/modules/gmagpie.md
  docs/en/docs/download/modules/kairship.md
  docs/en/docs/download/modules/virtnest.md
  docs/zh/docs/download/index.md
  docs/zh/docs/download/modules/kairship.md
Labels: download, zh, en, i18n, size/S

#5434 [en]adjust insight navigation
  docs/en/navigation.yml
  docs/zh/docs/insight/reference/used-metric-in-insight.md
  docs/zh/navigation.yml
Labels: insight, zh, en, i18n, size/XS

#5431 [en]update insight-quickstart gethosturl
  docs/en/docs/insight/quickstart/install/gethosturl.md
  docs/zh/docs/insight/quickstart/install/gethosturl.md
Labels: insight, zh, en, i18n, size/M, size/L

#5435 [en]: update user-guide/workspace/quota
  docs/en/docs/ghippo/user-guide/workspace/quota.md
Labels: ghippo, en, i18n, size/M

#5438 update environments and developer quick-start
  docs/zh/docs/baize/developer/dataset/environments.md
  docs/zh/docs/baize/developer/quick-start.md
Labels: zh, baize, size/L

#5440 [en]: update audit/gproduct-audit/kpanda
  docs/en/docs/ghippo/user-guide/audit/gproduct-audit/kpanda.md
Labels: ghippo, en, i18n, size/S

#5439 [en]add a doc to kairship
  docs/en/docs/kairship/images/update-ns01.png
  docs/en/docs/kairship/images/update-ns02.png
  docs/en/docs/kairship/images/update-ns03.png
  docs/en/docs/kairship/resource/update-ns.md
  docs/en/navigation.yml
  docs/zh/docs/kairship/images/update-ns01.png
  docs/zh/docs/kairship/images/update-ns02.png
  docs/zh/docs/kairship/images/update-ns03.png
  docs/zh/docs/kairship/resource/update-ns.md
Labels: kairship, zh, en, i18n, size/M

#5443 download: mongodb version updated to v0.13.1
  docs/en/docs/download/index.md
  docs/en/docs/download/modules/middleware/mongodb.md
  docs/zh/docs/download/index.md
  docs/zh/docs/download/modules/middleware/mongodb.md
Labels: download, zh, en, i18n, size/XS

#5441 update release note
  docs/zh/docs/kangaroo/intro/release-notes.md
  docs/zh/docs/kpanda/intro/release-notes.md
Labels: kpanda, zh, kangaroo, size/M

#5445 update release-notes to 0.40.0
  docs/zh/docs/skoala/intro/release-notes.md
Labels: skoala, zh, size/M

#5444 [en]: update tables in user-guide/access-control/ldap
  docs/en/docs/ghippo/user-guide/access-control/ldap.md
Labels: ghippo, en, i18n, size/M

#5442 download: skoala version updated to v0.40.1
  docs/zh/docs/download/modules/skoala.md
Labels: download, zh, size/XS

#5449 download: kpanda version updated to 0.31.0
  docs/zh/docs/download/index.md
  docs/zh/docs/download/modules/kpanda.md
Labels: download, zh, size/XS

#5447 download: mspider version updated to v0.29.0
  docs/zh/docs/download/index.md
  docs/zh/docs/download/modules/mspider.md
Labels: download, zh, size/XS

#5450 download: amamba version updated to v0.30.0
  docs/zh/docs/download/index.md
  docs/zh/docs/download/modules/amamba.md
Labels: download, zh, size/XS

#5446 update release-notes to 0.29.0
  docs/zh/docs/mspider/intro/release-notes.md
Labels: mspider, zh, size/S

#5451 update DCE5.0-intro.pdf and add en hami page
  docs/en/docs/community/hami.md
  docs/en/docs/community/images/hami01.png
  docs/en/docs/community/images/hami02.png
  docs/en/docs/community/images/hami03.png
  docs/en/navigation.yml
  docs/zh/docs/community/hami.md
  docs/zh/docs/download/DCE5.0-intro.pdf
  docs/zh/docs/download/index.md
Labels: download, zh, en, eco, i18n, size/L

#5452 download: mspider version updated to v0.28.1
  docs/zh/docs/download/index.md
  docs/zh/docs/download/modules/mspider.md
Labels: download, zh, size/XS

#5437 fix some code in integrate-argocd-ui.md
  docs/zh/docs/amamba/user-guide/gitops/integrate-argocd-ui.md
Labels: amamba, zh, size/S

#5453 Fix kangaroo-space-imagelist issue
  docs/en/docs/kangaroo/images/deleteimage.png
  docs/en/docs/kangaroo/images/deleteimage01.png
  docs/en/docs/kangaroo/space/imagelist.md
  docs/zh/docs/kangaroo/images/deleteimage.png
  docs/zh/docs/kangaroo/images/deleteimage01.png
  docs/zh/docs/kangaroo/space/imagelist.md
Labels: zh, en, kangaroo, i18n, size/S

#5454 [en]: Update ghippo v0.30.0 release notes
  docs/en/docs/ghippo/intro/release-notes.md
  docs/zh/docs/ghippo/intro/release-notes.md
Labels: ghippo, zh, en, i18n, size/M

#5385 Download: kant version updated to 0.14.1
  docs/en/docs/download/modules/kant.md
  docs/zh/docs/download/modules/kant.md
Labels: download, zh, en, i18n, size/M

#5457 [download] update intro pdf and en pages
  docs/en/docs/download/index.md
  docs/en/docs/download/modules/amamba.md
  docs/en/docs/download/modules/kpanda.md
  docs/en/docs/download/modules/mspider.md
  docs/en/docs/download/modules/skoala.md
  docs/zh/docs/download/DCE5.0-intro.pdf
  docs/zh/docs/download/index.md
  docs/zh/docs/download/modules/kpanda.md
Labels: download, zh, en, i18n, size/S

#5458 Fix an issue in update kant/intro/features
  docs/zh/docs/kant/intro/features.md
Labels: zh, kant, size/XS

#5460 fix kairship-feature doc
  docs/en/docs/kairship/intro/features.md
  docs/zh/docs/kairship/intro/features.md
Labels: kairship, zh, en, i18n, size/S

#5456 [en]update kangaroo releasenotes
  docs/en/docs/kangaroo/intro/release-notes.md
  docs/zh/docs/kangaroo/intro/release-notes.md
Labels: zh, en, kangaroo, i18n, size/M

#5459 [en] Add gitops/integrate-argocd-ui.md
  docs/en/docs/amamba/images/gitops-topo.jpg
  docs/en/docs/amamba/user-guide/gitops/integrate-argocd-ui.md
  docs/en/navigation.yml
  docs/zh/docs/amamba/user-guide/gitops/integrate-argocd-ui.md
  docs/zh/navigation.yml
Labels: amamba, zh, en, i18n, size/L

#5461 update kpanda release notes in en and zh
  docs/en/docs/kpanda/intro/release-notes.md
  docs/zh/docs/kpanda/intro/release-notes.md
Labels: kpanda, zh, en, i18n, size/L

#5463 update mspider release notes in en and zh
  docs/en/docs/mspider/intro/release-notes.md
  docs/zh/docs/mspider/intro/release-notes.md
Labels: mspider, zh, en, i18n, size/M

#5464 [en]: Update hwameistor/resources/lvm-nodes
  docs/en/docs/storage/hwameistor/resources/lvm-nodes.md
Labels: en, storage, i18n, size/XS

#5465 update skoala release notes in en and zh
  docs/en/docs/skoala/intro/release-notes.md
  docs/zh/docs/skoala/intro/release-notes.md
Labels: skoala, zh, en, i18n, size/M

#5466 [en]: Fix the code block format in storage/solutions/dce-rook-ceph
  docs/en/docs/storage/solutions/dce-rook-ceph.md
Labels: en, storage, i18n, size/S

#5470 [en]: Update storage/solutions/openebs-helm
  docs/en/docs/storage/solutions/openebs-helm.md
  docs/zh/docs/storage/solutions/openebs-helm.md
Labels: zh, en, storage, i18n, size/L

#5468 fix issues in kairship-faq doc
  docs/zh/docs/kairship/images/faq01.png
  docs/zh/docs/kairship/intro/faq.md
Labels: kairship, zh, size/S

#5474 docs: untrack .obsidian folder with use obsidian write docs
  .gitignore
Labels: size/XS

#5473 kairship+virtnest releasenotes
  docs/zh/docs/kairship/intro/release-notes.md
  docs/zh/docs/virtnest/intro/release-notes.md
Labels: kairship, zh, virtnest, size/S

#5469 update kairship/intro/faq.md
  docs/zh/docs/kairship/intro/faq.md
Labels: kairship, zh, size/M

#5471 add new article about api lead to
  docs/zh/docs/skoala/gateway/api/api-lead.md
  docs/zh/docs/skoala/gateway/api/images/api-lead.jpeg
  docs/zh/docs/skoala/gateway/api/images/api-yaml.jpeg
  docs/zh/docs/skoala/intro/release-notes.md
  docs/zh/navigation.yml
Labels: skoala, zh, size/L

#5475 baize: add auto shutdown config with notebook-contorller
  docs/zh/docs/baize/developer/notebooks/notebook-auto-close.md
  docs/zh/docs/baize/images/notebook-idle.png
  docs/zh/docs/baize/images/notebook-idle02.png
  docs/zh/navigation.yml
Labels: zh, baize, size/M

#5477 [en]update virtnest releasenotes
  docs/en/docs/virtnest/intro/release-notes.md
Labels: en, virtnest, i18n, size/S

#5478 [en]update Kairship releasenote
  docs/en/docs/kairship/intro/release-notes.md
Labels: kairship, en, i18n, size/S

#5418 update insight release note
  docs/zh/docs/insight/intro/releasenote.md
Labels: insight, zh, size/S

#4750 添加流水线部署多云应用的文档
  docs/zh/docs/amamba/images/get-kariship-config.jpg
  docs/zh/docs/amamba/images/kairship-result.png
  docs/zh/docs/amamba/quickstart/pipeline-kairship.md
  docs/zh/navigation.yml
Labels: wip-do-not-merge, amamba, zh, size/M

#5481 update amamba/quickstart/pipeline-kairship.md
  docs/zh/docs/amamba/quickstart/pipeline-kairship.md
  docs/zh/navigation.yml
Labels: amamba, zh, size/M

#5483 [en] add notebooks/notebook-auto-close.md
  docs/en/docs/baize/developer/notebooks/notebook-auto-close.md
  docs/en/docs/baize/images/notebook-idle.png
  docs/en/docs/baize/images/notebook-idle02.png
  docs/en/navigation.yml
  docs/zh/docs/baize/developer/notebooks/notebook-auto-close.md
Labels: zh, en, i18n, baize, size/M

#5484 [en] add gateway/api/api-lead.md
  docs/en/docs/skoala/gateway/api/api-lead.md
  docs/en/docs/skoala/gateway/api/images/api-lead.png
  docs/en/docs/skoala/gateway/api/images/api-yaml.png
  docs/en/navigation.yml
  docs/zh/docs/skoala/gateway/api/api-lead.md
Labels: skoala, zh, en, i18n, size/L

#5485 [en] Add quickstart/pipeline-kairship.md
  docs/en/docs/amamba/images/get-kariship-config.png
  docs/en/docs/amamba/images/kairship-result.png
  docs/en/docs/amamba/quickstart/pipeline-kairship.md
Labels: amamba, en, i18n, size/M

#5486 [en]: Update spiderpool/public-cloud/alibabacloud
  docs/en/docs/network/modules/spiderpool/public-cloud/alibabacloud.md
  docs/zh/docs/network/modules/spiderpool/public-cloud/alibabacloud.md
Labels: zh, en, network, i18n, size/M, size/L

#5488 download: kpanda version updated to 0.31.1
  docs/zh/docs/download/index.md
  docs/zh/docs/download/modules/kpanda.md
Labels: download, zh, size/XS

#5487 [en] Add notebooks/notebook-with-envs.md
  docs/en/docs/baize/developer/dataset/environments.md
  docs/en/docs/baize/developer/notebooks/notebook-with-envs.md
  docs/en/docs/baize/images/notebook04.png
  docs/en/navigation.yml
Labels: en, i18n, baize, size/L

#5491 download: amamba version updated to v0.30.1
  docs/zh/docs/download/index.md
  docs/zh/docs/download/modules/amamba.md
Labels: download, zh, size/XS

#5490 [en]: update ghippo/install/offline-install
  docs/en/docs/ghippo/install/offline-install.md
Labels: ghippo, en, i18n, size/M

#5492 update gpu/dynamic-regulation.md
  docs/en/docs/kpanda/user-guide/gpu/dynamic-regulation.md
  docs/en/docs/kpanda/user-guide/gpu/images/clusterlist1.png
  docs/en/docs/kpanda/user-guide/gpu/images/gpu-createdeploy.png
  docs/en/docs/kpanda/user-guide/gpu/images/gpu-scheduler-clusterlist.png
  docs/en/docs/kpanda/user-guide/gpu/images/gpu-scheduler-clusterrule.png
  docs/en/navigation.yml
  docs/zh/navigation.yml
Labels: kpanda, zh, en, i18n, size/L

#5493 update middleware docs zh+en in september
  docs/en/docs/download/index.md
  docs/en/docs/download/modules/middleware/elasticsearch.md
  docs/en/docs/download/modules/middleware/kafka.md
  docs/en/docs/download/modules/middleware/minio.md
  docs/en/docs/download/modules/middleware/mongodb.md
  docs/en/docs/download/modules/middleware/mysql.md
  docs/en/docs/download/modules/middleware/postgresql.md
  docs/en/docs/download/modules/middleware/rabbitmq.md
  docs/en/docs/download/modules/middleware/redis.md
  docs/en/docs/download/modules/middleware/rocketmq.md
  docs/zh/docs/download/index.md
  docs/zh/docs/download/modules/middleware/elasticsearch.md
  docs/zh/docs/download/modules/middleware/kafka.md
  docs/zh/docs/download/modules/middleware/minio.md
  docs/zh/docs/download/modules/middleware/mongodb.md
  docs/zh/docs/download/modules/middleware/mysql.md
  docs/zh/docs/download/modules/middleware/postgresql.md
  docs/zh/docs/download/modules/middleware/rabbitmq.md
  docs/zh/docs/download/modules/middleware/redis.md
  docs/zh/docs/download/modules/middleware/rocketmq.md
Labels: download, zh, en, i18n, size/M

#5494 [insight] Add install/big-log-and-trace.md
  docs/zh/docs/insight/images/big-log01.png
  docs/zh/docs/insight/images/big-log02.png
  docs/zh/docs/insight/images/big-log03.png
  docs/zh/docs/insight/images/big-log04.png
  docs/zh/docs/insight/images/big-log05.png
  docs/zh/docs/insight/images/big-log06.png
  docs/zh/docs/insight/quickstart/install/big-log-and-trace.md
  docs/zh/navigation.yml
Labels: insight, zh, size/L

#5495 update download: amamba and kpanda
  docs/en/docs/download/free/dce5-installer-history.md
  docs/en/docs/download/modules/amamba.md
  docs/en/docs/download/modules/kpanda.md
Labels: download, en, i18n, size/XS

#5497 download: addon version updated to v0.21.0
  docs/zh/docs/download/addon/history.md
  docs/zh/docs/download/addon/v0.21.0.md
  docs/zh/docs/download/index.md
Labels: download, zh, size/L

#5499 [en]update midware releasenotes
  docs/en/docs/middleware/elasticsearch/release-notes.md
  docs/en/docs/middleware/kafka/release-notes.md
  docs/en/docs/middleware/minio/release-notes.md
  docs/en/docs/middleware/mongodb/release-notes.md
  docs/en/docs/middleware/mysql/release-notes.md
  docs/en/docs/middleware/postgresql/release-notes.md
  docs/en/docs/middleware/rabbitmq/release-notes.md
  docs/en/docs/middleware/redis/release-notes.md
  docs/en/docs/middleware/rocketmq/release-notes.md
Labels: midware, en, i18n, size/M

#5500 [en] Add mspider/user-guide/service-list/vm.md
  docs/en/docs/mspider/images/code.png
  docs/en/docs/mspider/images/create-vm.png
  docs/en/docs/mspider/images/create-vm2.png
  docs/en/docs/mspider/images/duoyun.png
  docs/en/docs/mspider/images/jieruvm.png
  docs/en/docs/mspider/images/qianti.png
  docs/en/docs/mspider/user-guide/service-list/vm.md
  docs/en/navigation.yml
  docs/zh/docs/mspider/user-guide/service-list/vm.md
Labels: mspider, zh, en, i18n, size/L

#5501 update pics and add description
  docs/zh/docs/middleware/postgresql/images/create02.png
  docs/zh/docs/middleware/postgresql/user-guide/create.md
Labels: midware, zh, size/XS

#5502 update cis report to fix issue #5476
  docs/en/docs/kpanda/user-guide/security/cis/report.md
  docs/zh/docs/kpanda/user-guide/security/cis/report.md
Labels: kpanda, zh, en, i18n, size/M

#5482 update installer0830
  docs/zh/docs/amamba/intro/release-notes.md
  docs/zh/docs/install/commercial/start-install.md
  docs/zh/docs/install/community/k8s/k8s-dce-deploy.md
  docs/zh/docs/install/community/k8s/offline.md
  docs/zh/docs/install/community/k8s/online.md
  docs/zh/docs/install/community/kind/online.md
  docs/zh/docs/install/k8s-install/ocp-install-dce5.0.md
  docs/zh/docs/install/os-install/neokylin-install-dce5.0.md
  docs/zh/docs/install/release-notes.md
  docs/zh/docs/storage/hwameistor/releasenotes.md
Labels: amamba, installer, zh, storage, size/L

#5503 download: dce5 version updated to v0.21.0
  docs/zh/docs/download/business/dce5-installer-history.md
  docs/zh/docs/download/business/dce5-installer-v0.21.0.md
  docs/zh/docs/download/free/dce5-installer-history.md
  docs/zh/docs/download/free/dce5-installer-v0.21.0.md
  docs/zh/docs/download/index.md
Labels: download, zh, size/L

#5504 update backup/deployment.md to fix issue #5467
  docs/zh/docs/kpanda/images/backupd20481.png
  docs/zh/docs/kpanda/images/backupd20482.png
  docs/zh/docs/kpanda/images/backupd20483.png
  docs/zh/docs/kpanda/images/backupd20484.png
  docs/zh/docs/kpanda/user-guide/backup/deployment.md
Labels: kpanda, zh, size/S

#5506 [en] Add dce5 download pages to v0.21.0
  docs/en/docs/download/business/dce5-installer-history.md
  docs/en/docs/download/business/dce5-installer-v0.21.0.md
  docs/en/docs/download/free/dce5-installer-history.md
  docs/en/docs/download/free/dce5-installer-v0.21.0.md
  docs/en/docs/download/index.md
  docs/zh/docs/download/business/dce5-installer-v0.21.0.md
  docs/zh/docs/download/free/dce5-installer-v0.21.0.md
Labels: download, zh, en, i18n, size/L

#5507 [en] update installer pages to v0.21.0
  docs/en/docs/install/commercial/start-install.md
  docs/en/docs/install/community/k8s/k8s-dce-deploy.md
  docs/en/docs/install/community/k8s/offline.md
  docs/en/docs/install/community/k8s/online.md
  docs/en/docs/install/community/kind/online.md
  docs/en/docs/install/k8s-install/ocp-install-dce5.0.md
  docs/en/docs/install/os-install/neokylin-install-dce5.0.md
  docs/en/docs/install/release-notes.md
  docs/zh/docs/install/commercial/start-install.md
  docs/zh/docs/install/community/k8s/k8s-dce-deploy.md
Labels: installer, zh, en, i18n, size/M

#5508 update prerequisites version to v0.21.0
  docs/en/docs/download/index.md
  docs/zh/docs/download/index.md
Labels: download, zh, en, i18n, size/XS

#5505 [Insight] patch golang instrumentation
  docs/zh/docs/insight/quickstart/otel/operator.md
Labels: insight, zh, size/S

#5510 [en] update amamba release notes
  docs/en/docs/amamba/intro/release-notes.md
  docs/zh/docs/amamba/intro/release-notes.md
Labels: amamba, zh, en, i18n, size/M

#5511 update hwameistor/faqs.md
  docs/zh/docs/storage/hwameistor/faqs.md
Labels: zh, storage, size/M

#5512 [en] update date and buttons in download pages
  docs/en/docs/download/addon/.template.md
  docs/en/docs/download/addon/v0.10.0.md
  docs/en/docs/download/addon/v0.11.0.md
  docs/en/docs/download/addon/v0.12.0.md
  docs/en/docs/download/addon/v0.13.0.md
  docs/en/docs/download/addon/v0.14.0.md
  docs/en/docs/download/addon/v0.15.0.md
  docs/en/docs/download/addon/v0.16.0.md
  docs/en/docs/download/addon/v0.17.0.md
  docs/en/docs/download/addon/v0.18.0.md
  docs/en/docs/download/addon/v0.19.0.md
  docs/en/docs/download/addon/v0.20.0.md
  docs/en/docs/download/addon/v0.21.0.md
  docs/en/docs/download/addon/v0.6.0.md
  docs/en/docs/download/addon/v0.8.0.md
  docs/en/docs/download/addon/v0.9.0.md
  docs/en/docs/download/business/.dce5-installer-template.md
  docs/en/docs/download/business/dce5-installer-v0.11.0.md
  docs/en/docs/download/business/dce5-installer-v0.12.0.md
  docs/en/docs/download/business/dce5-installer-v0.3.27.md
  docs/en/docs/download/business/dce5-installer-v0.3.28.md
  docs/en/docs/download/business/dce5-installer-v0.3.29.md
  docs/en/docs/download/business/dce5-installer-v0.3.30.md
  docs/en/docs/download/business/dce5-installer-v0.4.0.md
  docs/en/docs/download/business/dce5-installer-v0.5.0.md
  docs/en/docs/download/business/dce5-installer-v0.6.0.md
  docs/en/docs/download/business/dce5-installer-v0.6.1.md
  docs/en/docs/download/business/dce5-installer-v0.7.0.md
  docs/en/docs/download/business/dce5-installer-v0.8.0.md
  docs/en/docs/download/business/dce5-installer-v0.9.0.md
  docs/en/docs/download/free/dce5-installer-v0.11.0.md
  docs/en/docs/download/free/dce5-installer-v0.12.0.md
  docs/en/docs/download/free/dce5-installer-v0.13.0.md
  docs/en/docs/download/free/dce5-installer-v0.3.27.md
  docs/en/docs/download/free/dce5-installer-v0.3.28.md
  docs/en/docs/download/free/dce5-installer-v0.3.29.md
  docs/en/docs/download/free/dce5-installer-v0.3.30.md
  docs/en/docs/download/free/dce5-installer-v0.4.0.md
  docs/en/docs/download/free/dce5-installer-v0.5.0.md
  docs/en/docs/download/free/dce5-installer-v0.6.0.md
  docs/en/docs/download/free/dce5-installer-v0.6.1.md
  docs/en/docs/download/free/dce5-installer-v0.7.0.md
  docs/en/docs/download/free/dce5-installer-v0.8.0.md
  docs/en/docs/download/free/dce5-installer-v0.9.0.md
  docs/en/docs/download/index.md
  docs/zh/docs/download/index.md
Labels: download, zh, en, i18n, size/L

#5517 download: amamba version updated to v0.30.2
  docs/zh/docs/download/index.md
  docs/zh/docs/download/modules/amamba.md
Labels: download, zh, size/XS

#5516 [en]: update storage/hwameistor/faqs
  docs/en/docs/storage/hwameistor/faqs.md
  docs/en/docs/storage/images/faq4.png
Labels: en, storage, i18n, size/M

#5518 Add dce-rn/20240830.md
  docs/zh/docs/dce/dce-rn/20240830.md
  docs/zh/navigation.yml
Labels: zh, dce, size/L

#5519 update network release-notes
  docs/zh/docs/network/intro/releasenotes.md
Labels: zh, network, size/S

#5521 [en]: Update network/intro/releasenotes
  docs/en/docs/network/intro/releasenotes.md
Labels: en, network, i18n, size/S

#5522 fix missing para desc mentioned in issue #5383
  docs/zh/docs/kpanda/user-guide/backup/install-velero.md
Labels: kpanda, zh, size/L

#5523 [en]: Update storage/hwameistor/releasenotes
  docs/en/docs/storage/hwameistor/releasenotes.md
  docs/zh/docs/storage/hwameistor/releasenotes.md
Labels: zh, en, storage, i18n, size/S

#5524 update developer/quick-start.md to fix issue #5255
  docs/zh/docs/baize/developer/quick-start.md
  docs/zh/docs/baize/images/enable-analy.png
  docs/zh/docs/baize/images/othera.png
Labels: zh, baize, size/M

#5525 update dynamic-regulation and gpu_scheduler
  docs/zh/docs/kpanda/user-guide/gpu/dynamic-regulation.md
  docs/zh/docs/kpanda/user-guide/gpu/gpu_scheduler_config.md
  docs/zh/navigation.yml
Labels: kpanda, zh, size/L

#5528 fix an issue #4932 in user-guide/report-billing/report
  docs/zh/docs/ghippo/user-guide/report-billing/report.md
Labels: ghippo, zh, size/XS

#5529 update install-metrics-server.md to fix issue #5527
  docs/zh/docs/kpanda/user-guide/scale/install-metrics-server.md
Labels: kpanda, zh, size/S

#5526 fix an issue #5097 in hwameistor/resources/storageclass
  docs/en/docs/storage/hwameistor/resources/storageclass.md
  docs/zh/docs/storage/hwameistor/resources/storageclass.md
Labels: zh, en, storage, i18n, size/XS

#5530 update doc about install offline gmagpie
  docs/en/docs/ghippo/user-guide/report-billing/gmagpie-offline-install.md
  docs/zh/docs/ghippo/user-guide/report-billing/gmagpie-offline-install.md
Labels: ghippo, zh, en, i18n, size/M

#5531 fix an issue in user-guide/report-billing/index
  docs/zh/docs/ghippo/user-guide/report-billing/index.md
Labels: ghippo, zh, size/XS

#5532 Fix an issue in report-billing
  docs/zh/docs/ghippo/user-guide/report-billing/billing.md
  docs/zh/docs/ghippo/user-guide/report-billing/report.md
Labels: ghippo, zh, size/S

#5533 [Insight] add java logs and update dir sturcture
  docs/zh/docs/insight/intro/index.md
  docs/zh/docs/insight/quickstart/jvm-monitor/jvm-catelogy.md
  docs/zh/docs/insight/quickstart/otel/golang-ebpf.md
  docs/zh/docs/insight/quickstart/otel/golang/golang.md
  docs/zh/docs/insight/quickstart/otel/golang/meter.md
  docs/zh/docs/insight/quickstart/otel/java/index.md
  docs/zh/docs/insight/quickstart/otel/java/jvm-monitor/jmx-exporter.md
  docs/zh/docs/insight/quickstart/otel/java/jvm-monitor/legacy-jvm.md
  docs/zh/docs/insight/quickstart/otel/java/jvm-monitor/otel-java-agent.md
  docs/zh/docs/insight/quickstart/otel/java/mdc.md
  docs/zh/docs/insight/quickstart/otel/operator.md
  docs/zh/docs/insight/user-guide/infra/container.md
  docs/zh/navigation.yml
Labels: insight, zh, size/L

#5535 update spiderpool release-note and upgrade docs
  docs/zh/docs/network/images/spiderpool-after-upgrade.png
  docs/zh/docs/network/images/spiderpool-upgrade-chart.png
  docs/zh/docs/network/intro/releasenotes.md
  docs/zh/docs/network/modules/spiderpool/releasenotes.md
  docs/zh/docs/network/modules/spiderpool/upgrade.md
Labels: zh, network, size/L

#5537 import vm delete vddk image create info
  docs/zh/docs/virtnest/best-practice/import-ubuntu.md
  docs/zh/docs/virtnest/best-practice/import-windows.md
  docs/zh/docs/virtnest/gpu/vm-gpu.md
  docs/zh/docs/virtnest/gpu/vm-vgpu.md
Labels: zh, virtnest, size/S, size/M

#5539 add nvidia-smi to view resource change
  docs/zh/docs/kpanda/user-guide/gpu/dynamic-regulation.md
  docs/zh/docs/kpanda/user-guide/gpu/images/gpu-dynamic-regulation-after.png
  docs/zh/docs/kpanda/user-guide/gpu/images/gpu-dynamic-regulation-before.png
Labels: kpanda, zh, size/S

#5547 add pics and do MTPE of virtnest-monitor
  docs/en/docs/virtnest/images/monitor01.png
  docs/en/docs/virtnest/images/monitor02.png
  docs/en/docs/virtnest/images/monitor03.png
  docs/en/docs/virtnest/images/monitor04.png
  docs/en/docs/virtnest/images/monitor05.png
  docs/en/docs/virtnest/vm/monitor.md
Labels: en, virtnest, i18n, size/M

#5540 [en]: Update modules/spiderpool/upgrade
  docs/en/docs/network/images/spiderpool-after-upgrade.png
  docs/en/docs/network/images/spiderpool-multus-cr-create.png
  docs/en/docs/network/images/spiderpool-upgrade-chart.png
  docs/en/docs/network/modules/spiderpool/upgrade.md
  docs/zh/docs/network/modules/spiderpool/upgrade.md
Labels: zh, en, network, i18n, size/L

#5549 [en]update virtnest docs
  docs/en/docs/virtnest/best-practice/import-ubuntu.md
  docs/en/docs/virtnest/best-practice/import-windows.md
  docs/en/docs/virtnest/gpu/vm-gpu.md
  docs/en/docs/virtnest/gpu/vm-vgpu.md
Labels: en, virtnest, i18n, size/M

#5552 update gproduct-adudit to skoala
  docs/zh/docs/ghippo/user-guide/audit/gproduct-audit/skoala.md
Labels: ghippo, zh, size/L

#5553 Fix #2823 and update the page
  docs/zh/docs/kairship/best-practice/fhpa.md
  docs/zh/docs/kairship/images/fhpa.png
  docs/zh/docs/kairship/images/fhpa02.png
  docs/zh/docs/kairship/images/fhpa03.png
  docs/zh/docs/kairship/images/fhpa04.png
  docs/zh/docs/kairship/images/fhpa05.png
  docs/zh/docs/kairship/images/fhpa06.png
Labels: kairship, zh, size/M

#5556 update dce/features.md to fix issue 5554
  docs/zh/docs/dce/features.md
Labels: zh, dce, size/S

#5557 [en]update insight-otel-operator
  docs/en/docs/insight/quickstart/otel/operator.md
Labels: insight, en, i18n, size/M

#5558 [en]: Update user-guide/audit/gproduct-audit/skoala
  docs/en/docs/ghippo/user-guide/audit/gproduct-audit/skoala.md
Labels: ghippo, en, i18n, size/L

#5559 Fix an issue: upgrade pics and karmada version
  docs/en/docs/kairship/images/add-instance.png
  docs/en/docs/kairship/images/add01.png
  docs/en/docs/kairship/instance/add.md
  docs/en/docs/kairship/intro/faq.md
  docs/zh/docs/kairship/images/add-instance.png
  docs/zh/docs/kairship/images/add01.png
  docs/zh/docs/kairship/instance/add.md
  docs/zh/docs/kairship/intro/faq.md
Labels: kairship, zh, en, i18n, size/S

#5561 update cus-step description
  docs/zh/docs/amamba/user-guide/pipeline/config/step.md
Labels: amamba, zh, size/S

#5563 [en]add insight big-log-and-trace doc
  docs/en/docs/insight/image/big-log01.png
  docs/en/docs/insight/image/big-log02.png
  docs/en/docs/insight/image/big-log03.png
  docs/en/docs/insight/image/big-log04.png
  docs/en/docs/insight/quickstart/install/big-log-and-trace.md
  docs/en/navigation.yml
Labels: insight, en, i18n, size/L

#5565 [en]: Update solutions/dce-longhorn
  docs/en/docs/storage/solutions/dce-longhorn.md
Labels: en, storage, i18n, size/M

#5560 [en]update insight-otel-operator
  docs/en/docs/insight/quickstart/otel/operator.md
Labels: insight, en, i18n, size/L

#5562 [en]: Update spiderpool/releasenotes.md
  docs/en/docs/network/modules/spiderpool/releasenotes.md
  docs/zh/docs/network/modules/spiderpool/releasenotes.md
Labels: zh, en, network, i18n, size/M

#5564 add sharedippool
  docs/zh/docs/network/images/service-sharepool.png
  docs/zh/docs/network/images/sharepool.png
  docs/zh/docs/network/modules/metallb/usage.md
Labels: zh, network, size/M

#5569 [en]: update network/modules/metallb/usage
  docs/en/docs/network/images/service-sharepool.png
  docs/en/docs/network/images/sharepool.png
  docs/en/docs/network/modules/metallb/usage.md
Labels: size/M

#5570 Update jobs/create.md to fix issue 5551
  docs/zh/docs/baize/developer/jobs/create.md
  docs/zh/docs/baize/images/job01.png
  docs/zh/docs/baize/images/job02.png
  docs/zh/docs/baize/images/job03.png
  docs/zh/docs/baize/images/job04.png
Labels: zh, baize, size/XS

#5571 update v1alpha3 to v1alpha4 in cluster-config.md
  docs/zh/docs/install/commercial/cluster-config.md
Labels: installer, zh, size/XS

#5573 Fix an issue and update pics
  docs/en/docs/kangaroo/images/registry.png
  docs/zh/docs/kangaroo/images/hosted04.png
  docs/zh/docs/kangaroo/images/hosted05.png
  docs/zh/docs/kangaroo/managed/harbor.md
Labels: zh, en, kangaroo, i18n, size/XS

#5574 Update a pic and do MTPE
  docs/en/docs/kangaroo/quickstart/ws-admin-registry.md
  docs/zh/docs/kangaroo/images/harbor-access.png
  docs/zh/docs/kangaroo/managed/harbor.md
Labels: zh, en, kangaroo, i18n, size/S

#5575 [en]: update v0.15.1 in network/intro/releasenotes
  docs/en/docs/network/intro/releasenotes.md
  docs/zh/docs/network/intro/releasenotes.md
Labels: zh, en, network, i18n, size/M

#5576 [en]Add a doc to Insight-reference
  docs/en/docs/insight/reference/used-metric-in-insight.md
  docs/en/navigation.yml
Labels: insight, en, i18n, size/L

#5577 [en]: Add GPU-related fields in report-billing/billing
  docs/en/docs/ghippo/user-guide/report-billing/billing.md
  docs/zh/docs/ghippo/user-guide/report-billing/billing.md
Labels: ghippo, zh, en, i18n

#5578 [en]: update user-guide/report-billing/index
  docs/en/docs/ghippo/user-guide/report-billing/index.md
Labels: ghippo, en, i18n, size/M

#5579 correct virtnest dependency os version. 2. correct ghippo keycloak ta…
  docs/zh/docs/ghippo/troubleshooting/ghippo03.md
  docs/zh/docs/install/commercial/deploy-requirements.md
  docs/zh/docs/virtnest/install/virtnest-agent.md
Labels: ghippo, installer, zh, virtnest

#5580 optimize ghippo keycloak table number
  docs/zh/docs/ghippo/troubleshooting/ghippo03.md
Labels: ghippo, zh, size/XS

#5583 [en]: update troubleshooting/ghippo03.md
  docs/en/docs/ghippo/troubleshooting/ghippo03.md
  docs/zh/docs/ghippo/troubleshooting/ghippo03.md
Labels: ghippo, zh, en, i18n, size/S

#5584 [en]MTPE of kairship docs
  docs/en/docs/kairship/intro/offline-upgrade.md
  docs/en/docs/kairship/resource/update-ns.md
Labels: kairship, en, i18n, size/M

#5582 add usemetax
  docs/zh/docs/kpanda/user-guide/gpu/images/metax-node.png
  docs/zh/docs/kpanda/user-guide/gpu/images/metax-node1.png
  docs/zh/docs/kpanda/user-guide/gpu/images/metax-use.png
  docs/zh/docs/kpanda/user-guide/gpu/metax/usemetax.md
  docs/zh/navigation.yml
Labels: kpanda, zh, size/L

#5585 [en]: Fixed typos in hwameistor/intro/drbd-support
  docs/en/docs/storage/hwameistor/intro/drbd-support.md
Labels: en, storage, i18n, size/XS

#5586 fix a midware issue and add a MongoDB doc
  docs/zh/docs/middleware/mongodb/images/view.png
  docs/zh/docs/middleware/mongodb/images/view01.png
  docs/zh/docs/middleware/mongodb/images/view02.png
  docs/zh/docs/middleware/mongodb/user-guide/view.md
  docs/zh/navigation.yml
Labels: midware, zh, size/M

#5588 [en] update commercial/cluster-config.md
  docs/en/docs/install/commercial/cluster-config.md
  docs/zh/docs/install/commercial/cluster-config.md
Labels: installer, zh, en, i18n, size/L

#5589 [en]update midware-mongoDB doc
  docs/en/docs/middleware/mongodb/images/view.png
  docs/en/docs/middleware/mongodb/images/view01.png
  docs/en/docs/middleware/mongodb/images/view02.png
  docs/en/docs/middleware/mongodb/user-guide/view.md
  docs/en/navigation.yml
Labels: midware, en, i18n, size/M

#5590 Update hwameistor/resources/audit
  docs/zh/docs/storage/hwameistor/resources/audit.md
  docs/zh/docs/storage/images/audit01.png
  docs/zh/docs/storage/images/audit02.png
Labels: zh, storage, size/S

#5592 add gpu metrics and other details
  docs/zh/docs/kpanda/user-guide/gpu/gpu_matrix.md
  docs/zh/docs/kpanda/user-guide/gpu/images/metax-use.png
  docs/zh/docs/kpanda/user-guide/gpu/images/metax-use2.png
  docs/zh/docs/kpanda/user-guide/gpu/metax/usemetax.md
  docs/zh/docs/kpanda/user-guide/gpu/nvidia/gpu-monitoring-alarm/gpu-metrics.md
Labels: kpanda, zh, size/L

#5591 Update hwameistor/resources/expand
  docs/en/docs/storage/hwameistor/resources/expand.md
  docs/en/docs/storage/images/expand01.png
  docs/en/docs/storage/images/expand02.png
  docs/en/docs/storage/images/expand03.png
  docs/zh/docs/storage/hwameistor/resources/expand.md
Labels: zh, en, storage, i18n, size/M

#5595 delete centos iso url
  docs/zh/docs/install/commercial/start-install.md
Labels: installer, zh, size/XS

#5597 update ghippo audit doc
  docs/en/docs/ghippo/user-guide/audit/open-k8s-audit.md
  docs/zh/docs/ghippo/user-guide/audit/open-k8s-audit.md
Labels: ghippo, zh, en, i18n, size/XL

#5594 update agent
  docs/zh/docs/amamba/user-guide/pipeline/config/agent.md
Labels: amamba, zh, size/L

#5601 [en]: update insight release note
  docs/en/docs/insight/intro/releasenote.md
  docs/zh/docs/insight/intro/releasenote.md
Labels: insight, zh, en, i18n, size/S

#5598 update insight k8s compatibility doc
  docs/en/docs/insight/compati-test/k8s-compatibility.md
  docs/zh/docs/insight/compati-test/k8s-compatibility.md
Labels: insight, zh, en, i18n, size/M

#5600 Delete a page about insight/quickstart/otel/meter
  docs/en/docs/dce/bphome.md
  docs/en/docs/insight/quickstart/otel/meter.md
  docs/en/docs/insight/quickstart/otel/otel.md
  docs/en/docs/skoala/trad-ms/hosted/services/index.md
  docs/en/navigation.yml
  docs/zh/docs/dce/bphome.md
  docs/zh/docs/insight/quickstart/otel/otel.md
  docs/zh/docs/skoala/trad-ms/hosted/services/index.md
  docs/zh/navigation.yml
Labels: insight, zh, en, i18n, size/L

#5602 [Insight] update insight probe method docs
  docs/zh/docs/insight/user-guide/collection-manag/probe-module.md
Labels: insight, zh, size/L

#5599 Add volcano_priority.md and update volcano_user_guide.md
  docs/zh/docs/kpanda/user-guide/gpu/volcano/volcano_priority.md
  docs/zh/docs/kpanda/user-guide/gpu/volcano/volcano_user_guide.md
  docs/zh/navigation.yml
Labels: kpanda, zh, size/L

#5604 [en]: Update message template details in alert-center/msg-template
  docs/en/docs/insight/user-guide/alert-center/msg-template.md
  docs/en/docs/insight/user-guide/images/msg-detail.png
  docs/en/docs/insight/user-guide/images/template00.png
Labels: insight, en, i18n, size/M

#5606 Update install/virtnest-agent, install/install-dependency and template/tep
  docs/en/docs/virtnest/install/install-dependency.md
  docs/en/docs/virtnest/install/virtnest-agent.md
  docs/en/docs/virtnest/template/tep.md
  docs/zh/docs/virtnest/template/tep.md
Labels: zh, en, virtnest, i18n, size/M

#5605 [en]: Update insight probe method docs
  docs/en/docs/insight/user-guide/collection-manag/probe-module.md
  docs/zh/docs/insight/user-guide/collection-manag/probe-module.md
Labels: insight, zh, en, i18n, size/L

#5607 replace 智能算力 with AI Lab
  docs/zh/docs/baize/best-practice/add-scheduler.md
  docs/zh/docs/baize/best-practice/checkpoint.md
  docs/zh/docs/baize/best-practice/deploy-nfs-in-worker.md
  docs/zh/docs/baize/best-practice/finetunel-llm.md
  docs/zh/docs/baize/best-practice/label-studio.md
  docs/zh/docs/baize/developer/dataset/create-use-delete.md
  docs/zh/docs/baize/developer/dataset/environments.md
  docs/zh/docs/baize/developer/inference/create.md
  docs/zh/docs/baize/developer/inference/models.md
  docs/zh/docs/baize/developer/inference/vllm-inference.md
  docs/zh/docs/baize/developer/jobs/pytorch.md
  docs/zh/docs/baize/developer/jobs/tensorboard.md
  docs/zh/docs/baize/developer/jobs/tensorflow.md
  docs/zh/docs/baize/developer/notebooks/baizectl.md
  docs/zh/docs/baize/developer/notebooks/notebook-auto-close.md
  docs/zh/docs/baize/developer/notebooks/notebook-with-envs.md
  docs/zh/docs/baize/developer/notebooks/notebook-with-ssh.md
  docs/zh/docs/baize/developer/quick-start.md
  docs/zh/docs/baize/intro/first.md
  docs/zh/docs/baize/intro/index.md
  docs/zh/docs/baize/intro/install.md
  docs/zh/docs/baize/intro/release-notes.md
  docs/zh/docs/baize/troubleshoot/cluster-not-found.md
  docs/zh/docs/baize/troubleshoot/index.md
  docs/zh/docs/baize/troubleshoot/local-queue-initialization-failed.md
  docs/zh/docs/baize/troubleshoot/notebook-not-controlled-by-quotas.md
  docs/zh/docs/dce/bphome.md
  docs/zh/docs/dce/dce-rn/20240330.md
  docs/zh/docs/dce/dce-rn/20240430.md
  docs/zh/docs/dce/dce-rn/20240530.md
  docs/zh/docs/dce/dce-rn/20240630.md
  docs/zh/docs/dce/dce-rn/20240730.md
  docs/zh/docs/dce/dce-rn/20240830.md
  docs/zh/docs/ghippo/permissions/baize.md
  docs/zh/docs/index.md
  docs/zh/docs/install/commercial/manifest.md
  docs/zh/docs/kpanda/user-guide/gpu/volcano/volcano_user_guide.md
  docs/zh/docs/mspider/intro/comp-archi-ui/namespaces.md
  docs/zh/docs/native/news/news-2023.md
  docs/zh/docs/videos/baize.md
  docs/zh/docs/videos/index.md
  docs/zh/navigation.yml
Labels: zh, dce, baize, size/L

#5608 [en]: Update insight/user-guide/trace/trace
  docs/en/docs/insight/image/trace00.png
  docs/en/docs/insight/image/tracelog.png
  docs/en/docs/insight/user-guide/trace/trace.md
  docs/zh/docs/insight/user-guide/trace/trace.md
Labels: insight, zh, en, i18n, size/M

#5609 [en]: Update insight-agent/upgrade-note and fix typos
  docs/en/docs/insight/quickstart/install/upgrade-note.md
  docs/zh/docs/insight/quickstart/install/upgrade-note.md
Labels: insight, zh, en, i18n, size/M

#5612 Fix discussion #5596 in best-pratice/singleclustercrosszone/
  docs/zh/docs/middleware/rocketmq/best-pratice/singleclustercrosszone.md
  docs/zh/docs/middleware/rocketmq/images/crosszone02.png
  docs/zh/docs/middleware/rocketmq/images/crosszone04.png
  docs/zh/docs/middleware/rocketmq/images/crosszone05.png
Labels: midware, zh, size/XS

#5610 [en]: Update intro/permission and fix typo
  docs/en/docs/insight/intro/permission.md
  docs/en/docs/insight/quickstart/res-plan/prometheus-res.md
  docs/zh/docs/insight/quickstart/res-plan/prometheus-res.md
Labels: insight, zh, en, i18n, size/M

#5613 Replace `Intelligent Engine` with `AI Lab`
  docs/en/docs/baize/best-practice/add-scheduler.md
  docs/en/docs/baize/best-practice/checkpoint.md
  docs/en/docs/baize/best-practice/deploy-nfs-in-worker.md
  docs/en/docs/baize/best-practice/finetunel-llm.md
  docs/en/docs/baize/best-practice/label-studio.md
  docs/en/docs/baize/developer/dataset/create-use-delete.md
  docs/en/docs/baize/developer/dataset/environments.md
  docs/en/docs/baize/developer/inference/create.md
  docs/en/docs/baize/developer/inference/models.md
  docs/en/docs/baize/developer/inference/vllm-inference.md
  docs/en/docs/baize/developer/jobs/pytorch.md
  docs/en/docs/baize/developer/jobs/tensorboard.md
  docs/en/docs/baize/developer/jobs/tensorflow.md
  docs/en/docs/baize/developer/notebooks/baizectl.md
  docs/en/docs/baize/developer/notebooks/notebook-with-envs.md
  docs/en/docs/baize/developer/notebooks/notebook-with-ssh.md
  docs/en/docs/baize/developer/quick-start.md
  docs/en/docs/baize/intro/first.md
  docs/en/docs/baize/intro/index.md
  docs/en/docs/baize/intro/install.md
  docs/en/docs/baize/intro/release-notes.md
  docs/en/docs/baize/troubleshoot/cluster-not-found.md
  docs/en/docs/baize/troubleshoot/index.md
  docs/en/docs/baize/troubleshoot/local-queue-initialization-failed.md
  docs/en/docs/baize/troubleshoot/notebook-not-controlled-by-quotas.md
  docs/en/docs/dce/bphome.md
  docs/en/docs/dce/dce-rn/20240330.md
  docs/en/docs/dce/dce-rn/20240430.md
  docs/en/docs/dce/dce-rn/20240530.md
  docs/en/docs/dce/dce-rn/20240630.md
  docs/en/docs/dce/dce-rn/20240730.md
  docs/en/docs/dce/dce-rn/20240830.md
  docs/en/docs/dce/index.md
  docs/en/docs/ghippo/permissions/baize.md
  docs/en/docs/index.md
  docs/en/docs/install/commercial/manifest.md
  docs/en/docs/kpanda/user-guide/gpu/volcano/volcano_user_guide.md
  docs/en/docs/mspider/intro/comp-archi-ui/namespaces.md
  docs/en/docs/native/news/news-2023.md
  docs/en/docs/videos/baize.md
  docs/en/docs/videos/index.md
  docs/en/navigation.yml
Labels: en, i18n, baize, size/L

#5616 [en]: Update user-guide/infra/container
  docs/en/docs/insight/image/workload-1.png
  docs/en/docs/insight/image/workload.png
  docs/en/docs/insight/image/workload00.png
  docs/en/docs/insight/user-guide/infra/container.md
  docs/zh/docs/insight/user-guide/infra/container.md
Labels: insight, zh, en, i18n, size/M

#5617 download: skoala version updated to v0.41.2
  docs/zh/docs/download/modules/skoala.md
Labels: download, zh, size/XS
