Repository DaoCloud/DaoCloud-docs, pull requests merged in 2024-03, with the labels that each got.

#3955 update user guide of add master node
  docs/zh/docs/kpanda/best-practice/add-master-node.md
Labels: kpanda, zh, size/S

#3953 update a best practice: add-master-node.md in kpanda
  docs/en/docs/kpanda/best-practice/add-master-node.md
  docs/zh/docs/kpanda/best-practice/add-master-node.md
Labels: kpanda, zh, en, i18n, size/M

#3956 [en] update amamba: pipeline-syntax.md
  docs/en/docs/amamba/user-guide/pipeline/pipeline-syntax.md
  docs/zh/docs/amamba/user-guide/pipeline/pipeline-syntax.md
Labels: amamba, zh, en, i18n, size/M

#3957 replace backticks with bold font in skoala
  docs/zh/docs/skoala/best-practice/gateway01.md
  docs/zh/docs/skoala/best-practice/gateway02.md
  docs/zh/docs/skoala/best-practice/jwt.md
  docs/zh/docs/skoala/best-practice/plugins/jwt.md
  docs/zh/docs/skoala/best-practice/use-skoala-01.md
  docs/zh/docs/skoala/cloud-ms/traffic-control.md
  docs/zh/docs/skoala/gateway/alert.md
  docs/zh/docs/skoala/gateway/api/index.md
  docs/zh/docs/skoala/gateway/api/update-api.md
  docs/zh/docs/skoala/gateway/domain/index.md
  docs/zh/docs/skoala/gateway/domain/update-domain.md
  docs/zh/docs/skoala/gateway/index.md
  docs/zh/docs/skoala/gateway/logs/inslog.md
  docs/zh/docs/skoala/gateway/logs/reqlog.md
  docs/zh/docs/skoala/gateway/service/auto-manage.md
  docs/zh/docs/skoala/gateway/service/manual-integrate.md
  docs/zh/docs/skoala/quickstart/skoala-init.md
  docs/zh/docs/skoala/trad-ms/hosted/configs.md
  docs/zh/docs/skoala/trad-ms/hosted/index.md
  docs/zh/docs/skoala/trad-ms/hosted/monitor/components.md
  docs/zh/docs/skoala/trad-ms/hosted/monitor/microservices.md
  docs/zh/docs/skoala/trad-ms/hosted/namespace.md
  docs/zh/docs/skoala/trad-ms/hosted/plugins/mesh.md
  docs/zh/docs/skoala/trad-ms/hosted/plugins/sentinel.md
  docs/zh/docs/skoala/trad-ms/hosted/services/auth.md
  docs/zh/docs/skoala/trad-ms/hosted/services/check-details.md
  docs/zh/docs/skoala/trad-ms/hosted/services/circuit-breaker.md
  docs/zh/docs/skoala/trad-ms/hosted/services/cluster-flow.md
  docs/zh/docs/skoala/trad-ms/hosted/services/flow-control.md
  docs/zh/docs/skoala/trad-ms/hosted/services/hotspot.md
  docs/zh/docs/skoala/trad-ms/hosted/services/system.md
  docs/zh/docs/skoala/trad-ms/integrated/index.md
  docs/zh/docs/skoala/trad-ms/integrated/manage-service.md
Labels: skoala, zh, size/L

#3958 update README and remove a blank file
  README.md
  createpool.md
Labels: size/XS

#3959 [en] Add svg images to install/commercial/scenarios.md
  docs/en/docs/install/commercial/scenarios.md
  docs/en/docs/install/images/scenario01.png
  docs/en/docs/install/images/scenario01.svg
  docs/en/docs/install/images/scenario02.png
  docs/en/docs/install/images/scenario02.svg
  docs/en/docs/install/images/scenario03.png
  docs/en/docs/install/images/scenario03.svg
Labels: installer, en, i18n, size/XL

#3960 Add a blog: create an open-source commercial ecosystem
  docs/en/docs/blogs/240301-osc-eco.md
  docs/en/docs/blogs/index.md
  docs/en/navigation.yml
  docs/zh/docs/blogs/240301-osc-eco.md
  docs/zh/docs/blogs/index.md
  docs/zh/navigation.yml
Labels: zh, en, blogs, i18n, size/L

#3961 Update gpu steps: nvidia/mig/create_mig.md
  docs/zh/docs/kpanda/user-guide/gpu/images/config.png
  docs/zh/docs/kpanda/user-guide/gpu/images/miggpuoperator.png
  docs/zh/docs/kpanda/user-guide/gpu/images/migoperator.png
  docs/zh/docs/kpanda/user-guide/gpu/images/migpolicy.png
  docs/zh/docs/kpanda/user-guide/gpu/nvidia/mig/create_mig.md
Labels: kpanda, zh, size/M

#3963 add references to knowledge/git/github.md
  docs/zh/docs/native/knowledge/git/github.md
Labels: zh, native, size/XS

#3964 update gpu navs
  docs/en/docs/kpanda/user-guide/gpu/nvidia/install_nvidia_driver_of_operator.md
  docs/en/docs/kpanda/user-guide/gpu/nvidia/push_image_to_repo.md
  docs/en/navigation.yml
  docs/zh/docs/kpanda/user-guide/gpu/nvidia/install_nvidia_driver_of_operator.md
  docs/zh/docs/kpanda/user-guide/gpu/nvidia/push_image_to_repo.md
  docs/zh/docs/kpanda/user-guide/gpu/nvidia/upgrade_yum_source_redhat8_4.md
  docs/zh/navigation.yml
Labels: kpanda, zh, en, i18n, size/M

#3968 Add a video: steps to use nvidia vgpu
  docs/zh/docs/videos/images/gpu.jpg
  docs/zh/docs/videos/kpanda.md
Labels: zh, videos, size/XS

#3969 [en] replace backticks with bold font for skoala ui terms
  docs/en/docs/skoala/best-practice/gateway01.md
  docs/en/docs/skoala/best-practice/gateway02.md
  docs/en/docs/skoala/best-practice/jwt.md
  docs/en/docs/skoala/best-practice/plugins/jwt.md
  docs/en/docs/skoala/best-practice/use-skoala-01.md
  docs/en/docs/skoala/cloud-ms/index.md
  docs/en/docs/skoala/cloud-ms/traffic-control.md
  docs/en/docs/skoala/gateway/alert.md
  docs/en/docs/skoala/gateway/api/index.md
  docs/en/docs/skoala/gateway/api/update-api.md
  docs/en/docs/skoala/gateway/domain/index.md
  docs/en/docs/skoala/gateway/domain/update-domain.md
  docs/en/docs/skoala/gateway/index.md
  docs/en/docs/skoala/gateway/logs/inslog.md
  docs/en/docs/skoala/gateway/logs/reqlog.md
  docs/en/docs/skoala/gateway/service/auto-manage.md
  docs/en/docs/skoala/gateway/service/manual-integrate.md
  docs/en/docs/skoala/trad-ms/hosted/configs.md
  docs/en/docs/skoala/trad-ms/hosted/index.md
  docs/en/docs/skoala/trad-ms/hosted/monitor/components.md
  docs/en/docs/skoala/trad-ms/hosted/monitor/microservices.md
  docs/en/docs/skoala/trad-ms/hosted/namespace.md
  docs/en/docs/skoala/trad-ms/hosted/plugins/mesh.md
  docs/en/docs/skoala/trad-ms/hosted/plugins/sentinel.md
  docs/en/docs/skoala/trad-ms/hosted/services/auth.md
  docs/en/docs/skoala/trad-ms/hosted/services/check-details.md
  docs/en/docs/skoala/trad-ms/hosted/services/circuit-breaker.md
  docs/en/docs/skoala/trad-ms/hosted/services/cluster-flow.md
  docs/en/docs/skoala/trad-ms/hosted/services/flow-control.md
  docs/en/docs/skoala/trad-ms/hosted/services/hotspot.md
  docs/en/docs/skoala/trad-ms/hosted/services/system.md
  docs/en/docs/skoala/trad-ms/integrated/index.md
  docs/en/docs/skoala/trad-ms/integrated/manage-service.md
Labels: skoala, en, i18n, size/L

#3970 [en] Sync gpu/nvidia/mig/create_mig.md
  docs/en/docs/kpanda/user-guide/gpu/nvidia/mig/create_mig.md
  docs/zh/docs/kpanda/user-guide/gpu/nvidia/mig/create_mig.md
Labels: kpanda, zh, en, i18n, size/L

#3972 Update gpu docs after video uploaded
  docs/zh/docs/kpanda/user-guide/gpu/Ascend_usage.md
  docs/zh/docs/kpanda/user-guide/gpu/ascend_driver_install.md
  docs/zh/docs/kpanda/user-guide/gpu/gpu-metrics.md
  docs/zh/docs/kpanda/user-guide/gpu/gpu_matrix.md
  docs/zh/docs/kpanda/user-guide/gpu/nvidia/full_gpu_userguide.md
  docs/zh/docs/kpanda/user-guide/gpu/nvidia/index.md
  docs/zh/docs/kpanda/user-guide/gpu/nvidia/install_nvidia_driver_of_operator.md
  docs/zh/docs/kpanda/user-guide/gpu/nvidia/push_image_to_repo.md
  docs/zh/docs/kpanda/user-guide/gpu/nvidia/upgrade_yum_source_centos7_9.md
  docs/zh/docs/kpanda/user-guide/gpu/nvidia/upgrade_yum_source_redhat8_4.md
  docs/zh/docs/kpanda/user-guide/gpu/nvidia/vgpu/vgpu_addon.md
  docs/zh/docs/kpanda/user-guide/gpu/nvidia/vgpu/vgpu_user.md
  docs/zh/docs/kpanda/user-guide/gpu/vgpu_quota.md
  docs/zh/docs/videos/kpanda.md
Labels: kpanda, zh, videos, size/XL

#3973 update cluster-scheduler-plugin.md for kpanda-clusters
  docs/zh/docs/kpanda/user-guide/clusters/cluster-scheduler-plugin.md
Labels: kpanda, zh, size/M

#3974 update docs in mspider/intro
  docs/zh/docs/mspider/intro/comp-archi-ui/architect.md
  docs/zh/docs/mspider/intro/comp-archi-ui/cp-component.md
  docs/zh/docs/mspider/intro/comp-archi-ui/namespaces.md
  docs/zh/docs/mspider/intro/index.md
  docs/zh/docs/mspider/intro/istio-k8s.md
Labels: mspider, zh, size/L

#3976 Remove zh images from en/skoala/best-practice/gateway02.md
  docs/en/docs/skoala/best-practice/gateway02.md
Labels: skoala, en, i18n, size/M

#3983 update mspider/install docs
  docs/en/docs/mspider/install/offline-upgrade.md
  docs/en/docs/mspider/install/sidecar-update.md
  docs/en/navigation.yml
  docs/zh/docs/mspider/install/offline-upgrade.md
  docs/zh/docs/mspider/install/sidecar-update.md
Labels: mspider, zh, en, i18n, size/L

#3984 Add best practices and update common docs in midware
  docs/en/docs/middleware/common/feature.md
  docs/en/docs/middleware/elasticsearch/faq/common-question-es.md
  docs/en/docs/middleware/rocketmq/best-pratice/singleclustercrosszone.md
  docs/en/navigation.yml
  docs/zh/docs/middleware/common/config.md
  docs/zh/docs/middleware/common/feature.md
  docs/zh/docs/middleware/common/permissions.md
  docs/zh/docs/middleware/elasticsearch/faq/common-question-es.md
  docs/zh/docs/middleware/rocketmq/best-pratice/singleclustercrosszone.md
Labels: midware, zh, en, i18n, size/XL

#3986 Update text in get-started.md
  docs/en/docs/dce/get-started.md
  docs/zh/docs/dce/get-started.md
Labels: zh, en, dce, i18n, size/M

#3987 Add --upgrade options to install/upgrade.md
  docs/en/docs/install/upgrade.md
  docs/zh/docs/install/upgrade.md
Labels: installer, zh, en, i18n, size/M

#3971 add kpanda best practice
  docs/zh/docs/kpanda/best-practice/add-master-node.md
  docs/zh/docs/kpanda/best-practice/replace-first-master-node.md
Labels: kpanda, zh, size/L

#3990 Add DataTunerX as an open-source project in community
  docs/en/docs/community/dtx.md
  docs/en/navigation.yml
  docs/zh/docs/community/dtx.md
  docs/zh/navigation.yml
Labels: zh, en, eco, i18n, size/L

#3991 Add a gradient flush effect to video-index
  docs/en/docs/videos/index.md
  docs/zh/docs/videos/index.md
Labels: zh, en, videos, i18n, size/M

#3992 Add skoala 0.33.4 release
  docs/zh/docs/download/modules/skoala.md
Labels: download, zh, size/XS

#3993 Fix format in dtx.md
  docs/en/docs/community/dtx.md
  docs/zh/docs/community/dtx.md
Labels: zh, en, eco, i18n, size/M

#3994 Provide a green color for ARM64 download
  docs/en/docs/download/addon/history.md
  docs/en/docs/download/business/dce5-installer-history.md
  docs/en/docs/download/free/dce5-installer-history.md
  docs/en/docs/download/modules/amamba.md
  docs/en/docs/download/modules/ghippo.md
  docs/en/docs/download/modules/gmagpie.md
  docs/en/docs/download/modules/kant.md
  docs/en/docs/download/modules/kcollie.md
  docs/en/docs/download/modules/skoala.md
  docs/en/docs/download/modules/virtnest.md
  docs/zh/docs/download/addon/history.md
  docs/zh/docs/download/business/dce5-installer-history.md
  docs/zh/docs/download/free/dce5-installer-history.md
  docs/zh/docs/download/modules/amamba.md
  docs/zh/docs/download/modules/ghippo.md
  docs/zh/docs/download/modules/gmagpie.md
  docs/zh/docs/download/modules/kant.md
  docs/zh/docs/download/modules/skoala.md
  docs/zh/docs/download/modules/virtnest.md
Labels: download, zh, en, i18n, size/L

#3996 doc: add gen_word_pdf.md
  scripts/docs/gen_word_pdf.md
Labels: develop, size/M

#3997 [en] Update install pages
  docs/en/docs/install/air-tag-download.md
  docs/en/docs/install/commercial/external/external-binary.md
  docs/en/docs/install/commercial/external/external-middlewares.md
  docs/en/docs/install/commercial/external/external-os.md
  docs/en/docs/install/install-tools.md
  docs/en/docs/install/manifest.md
  docs/en/docs/install/release-notes.md
  docs/en/docs/install/upgrade-des.md
  docs/en/docs/install/upgrade.md
  docs/zh/docs/install/commercial/external/external-middlewares.md
Labels: installer, zh, en, i18n, size/L

#3998 doc: add deploy nfs server in worker cluster
  docs/zh/docs/baize/best-practice/deploy-nfs-in-worker.md
  docs/zh/navigation.yml
Labels: zh, baize, size/L

#3995 Add icons and color to trial/index.md
  docs/en/docs/dce/index.md
  docs/en/docs/trial/index.md
  docs/zh/docs/dce/index.md
  docs/zh/docs/trial/index.md
Labels: zh, en, dce, trial, i18n, size/M

#4000 doc: baize update install doc
  docs/zh/docs/baize/intro/install.md
Labels: zh, baize, size/L

#3999 try an annotation style in code block
  docs/zh/docs/skoala/quickstart/skoala.md
Labels: skoala, zh, size/S, size/M

#4002 [en] Update ghippo/install docs
  docs/en/docs/ghippo/install/gm-gateway.md
  docs/en/docs/ghippo/install/login.md
  docs/en/docs/ghippo/install/offline-install.md
  docs/en/docs/ghippo/install/reverse-proxy.md
  docs/zh/docs/ghippo/install/gm-gateway.md
  docs/zh/docs/ghippo/install/offline-install.md
  docs/zh/docs/ghippo/install/reverse-proxy.md
Labels: ghippo, zh, en, i18n, size/L

#4004 [en] Sync skoala best practices
  docs/en/docs/skoala/best-practice/OIDC-auth.md
  docs/en/docs/skoala/best-practice/auth-server.md
  docs/en/docs/skoala/best-practice/global-ratelimit.md
  docs/en/docs/skoala/best-practice/jwt.md
  docs/en/navigation.yml
  docs/zh/docs/skoala/best-practice/OIDC-auth.md
  docs/zh/docs/skoala/best-practice/auth-server.md
  docs/zh/docs/skoala/best-practice/global-ratelimit.md
  docs/zh/docs/skoala/best-practice/jwt.md
Labels: skoala, zh, en, i18n, size/L

#4007 add Intelligent Engine model to Homeage
  docs/en/docs/dce/index.md
  docs/en/docs/index.md
  docs/en/docs/videos/baize.md
  docs/en/docs/videos/index.md
  docs/en/navigation.yml
  docs/zh/docs/dce/index.md
  docs/zh/docs/index.md
  docs/zh/docs/videos/baize.md
  docs/zh/docs/videos/index.md
  docs/zh/navigation.yml
Labels: zh, en, videos, dce, i18n, size/M

#4005 update installer-0.15.2
  docs/zh/docs/install/best-practices/cve-20240-21626.md
  docs/zh/docs/install/release-notes.md
  docs/zh/navigation.yml
Labels: installer, zh, size/L

#4009 update release-notes to 0.33.4
  docs/zh/docs/skoala/intro/release-notes.md
Labels: size/M

#4010 update scheduler-plugin
  docs/zh/docs/kpanda/images/cluster-scheduler-plugin-04
  docs/zh/docs/kpanda/user-guide/clusters/cluster-scheduler-plugin.md
Labels: kpanda, zh, size/M

#4014 update use-ippool/usage.md
  docs/zh/docs/network/config/use-ippool/usage.md
Labels: zh, network, size/XS

#4013 update images
  docs/zh/docs/amamba/images/ceate-giops01.png
  docs/zh/docs/amamba/images/create-gitops02.png
  docs/zh/docs/amamba/images/create-gitops03.png
  docs/zh/docs/amamba/images/create-gitops04.png
  docs/zh/docs/amamba/images/create-gitops05.png
  docs/zh/docs/amamba/images/create-gitops06.png
  docs/zh/docs/amamba/images/gitops01.png
  docs/zh/docs/amamba/images/gitops02.png
  docs/zh/docs/amamba/images/gitops03.png
  docs/zh/docs/amamba/images/namespace01.png
  docs/zh/docs/amamba/images/namespace02.png
  docs/zh/docs/amamba/images/namespace03.png
  docs/zh/docs/amamba/images/namespace04.png
  docs/zh/docs/amamba/images/namespace06.png
  docs/zh/docs/amamba/images/namespcace05.png
  docs/zh/docs/amamba/user-guide/gitops/create-argo-cd.md
  docs/zh/docs/amamba/user-guide/gitops/sync-manually.md
  docs/zh/docs/amamba/user-guide/namespace/namespace.md
Labels: amamba, zh, size/M

#4016 download: dce5 version updated to v0.15.2
  docs/zh/docs/download/business/dce5-installer-history.md
  docs/zh/docs/download/business/dce5-installer-v0.15.2.md
  docs/zh/docs/download/free/dce5-installer-history.md
  docs/zh/docs/download/free/dce5-installer-v0.15.2.md
  docs/zh/docs/download/index.md
Labels: download, zh, size/L

#4021 download: mspider version updated to v0.23.1
  docs/zh/docs/download/index.md
  docs/zh/docs/download/modules/mspider.md
Labels: download, zh, size/XS

#4022 sync release to enlish doc
  docs/en/docs/download/index.md
  docs/en/docs/download/modules/mspider.md
Labels: download, en, i18n, size/XS

#4024 add user isolation mode doc
  docs/en/docs/ghippo/best-practice/super-group.md
  docs/en/docs/ghippo/install/user-isolation.md
  docs/en/navigation.yml
  docs/zh/docs/ghippo/best-practice/super-group.md
  docs/zh/docs/ghippo/install/user-isolation.md
  docs/zh/navigation.yml
Labels: ghippo, zh, en, i18n, size/L

#4020 delete iso step
  docs/zh/docs/install/os-install/otherlinux.md
Labels: installer, zh, size/S

#4017 optimize OEM IN docs
  docs/zh/docs/ghippo/best-practice/oem/images/label-studio-2.png
  docs/zh/docs/ghippo/best-practice/oem/images/oem-dce5.png
  docs/zh/docs/ghippo/best-practice/oem/images/oem-label-studio.png
  docs/zh/docs/ghippo/best-practice/oem/images/oemin-image-2.png
  docs/zh/docs/ghippo/best-practice/oem/images/src-2.png
  docs/zh/docs/ghippo/best-practice/oem/oem-in.md
Labels: ghippo, zh, size/L

#4026 update installer-0.15.2
  docs/en/docs/install/best-practices/cve-20240-21626.md
  docs/en/docs/install/release-notes.md
  docs/en/navigation.yml
  docs/zh/docs/install/best-practices/cve-20240-21626.md
  docs/zh/docs/install/release-notes.md
  docs/zh/navigation.yml
Labels: installer, zh, en, i18n, size/L

#4027 [en] Update skoala release notes and intro-docs
  docs/en/docs/skoala/intro/release-notes.md
  docs/en/docs/skoala/intro/scenarios.md
  docs/zh/docs/skoala/intro/advantages.md
  docs/zh/docs/skoala/intro/features.md
  docs/zh/docs/skoala/intro/scenarios.md
Labels: skoala, zh, en, i18n, size/M

#4029 update sonarqube webhook
  docs/zh/docs/amamba/user-guide/pipeline/install-jenkins.md
Labels: amamba, zh, size/XS

#4031 update docs for metallb source ip
  docs/zh/docs/network/modules/metallb/source_ip.md
Labels: zh, network, size/S

#4032 update install-jenkins.md
  docs/en/docs/amamba/images/sonarqube03.png
  docs/en/docs/amamba/images/sonarqube04.png
  docs/en/docs/amamba/user-guide/pipeline/install-jenkins.md
  docs/zh/docs/amamba/user-guide/pipeline/install-jenkins.md
Labels: amamba, zh, en, i18n, size/S

#4033 update install/os-install/otherlinux.md
  docs/en/docs/install/os-install/otherlinux.md
  docs/zh/docs/install/os-install/otherlinux.md
Labels: installer, zh, en, i18n, size/M

#4028 Download: Add vgpu-tools page
  docs/zh/docs/download/modules/vgpu.md
Labels: download, zh, size/M

#4035 virtnest-update docs
  docs/zh/docs/virtnest/install/install-dependency.md
  docs/zh/docs/virtnest/vm/monitor.md
  docs/zh/docs/virtnest/vm/snapshot.md
  docs/zh/docs/virtnest/vm/vm-sc.md
Labels: zh, virtnest, size/L

#4036 download: mspider version updated to v0.23.2
  docs/zh/docs/download/index.md
  docs/zh/docs/download/modules/mspider.md
Labels: download, zh, size/XS

#4037 update virtnest/vm docs
  docs/zh/docs/virtnest/install/install-dependency.md
  docs/zh/docs/virtnest/vm/monitor.md
  docs/zh/docs/virtnest/vm/snapshot.md
  docs/zh/docs/virtnest/vm/vm-sc.md
  docs/zh/docs/virtnest/vm/vm-windows.md
Labels: zh, virtnest, size/L

#4038 [en] update download pages to 0.15.2
  docs/en/docs/download/business/dce5-installer-v0.15.2.md
  docs/en/docs/download/business/dce5-installer-v0.3.30.md
  docs/en/docs/download/business/dce5-installer-v0.4.0.md
  docs/en/docs/download/business/dce5-installer-v0.5.0.md
  docs/en/docs/download/business/dce5-installer-v0.6.0.md
  docs/en/docs/download/business/dce5-installer-v0.6.1.md
  docs/en/docs/download/business/dce5-installer-v0.7.0.md
  docs/en/docs/download/business/dce5-installer-v0.8.0.md
  docs/en/docs/download/free/dce5-installer-v0.15.2.md
  docs/en/docs/download/free/dce5-installer-v0.3.30.md
  docs/en/docs/download/free/dce5-installer-v0.4.0.md
  docs/en/docs/download/free/dce5-installer-v0.5.0.md
  docs/en/docs/download/free/dce5-installer-v0.6.0.md
  docs/en/docs/download/free/dce5-installer-v0.6.1.md
  docs/en/docs/download/free/dce5-installer-v0.7.0.md
  docs/en/docs/download/free/dce5-installer-v0.8.0.md
  docs/en/docs/download/index.md
  docs/en/docs/download/modules/kant.md
  docs/en/docs/download/modules/kpanda.md
  docs/en/docs/download/modules/mspider.md
  docs/en/docs/download/modules/skoala.md
  docs/en/docs/download/modules/spidernet.md
  docs/en/docs/download/modules/virtnest.md
  docs/zh/docs/download/free/dce5-installer-v0.15.2.md
  docs/zh/docs/download/modules/kant.md
  docs/zh/docs/download/modules/mspider.md
Labels: download, zh, en, i18n, size/L

#4039 [en] update virtnest/vm docs
  docs/en/docs/virtnest/vm/create-secret.md
  docs/en/docs/virtnest/vm/monitor.md
  docs/en/docs/virtnest/vm/snapshot.md
  docs/en/docs/virtnest/vm/vm-sc.md
  docs/en/docs/virtnest/vm/vm-windows.md
  docs/en/navigation.yml
  docs/zh/docs/virtnest/vm/create-secret.md
  docs/zh/docs/virtnest/vm/vm-windows.md
  docs/zh/navigation.yml
Labels: zh, en, virtnest, i18n, size/L

#4040 update news-2024.md with eu photo and hongkong CFP
  docs/zh/docs/native/images/kubecon-eu.jpeg
  docs/zh/docs/native/news/news-2024.md
Labels: zh, native, size/S

#4041 Add traffic lane to skoala
  docs/zh/docs/skoala/cloud-ms/lane.md
  docs/zh/docs/skoala/gateway/domain/index.md
  docs/zh/docs/skoala/gateway/logs/inslog.md
  docs/zh/docs/skoala/gateway/logs/reqlog.md
  docs/zh/navigation.yml
Labels: skoala, zh, size/M

#4043 add ghippo audit
  docs/zh/docs/ghippo/user-guide/audit/gproduct-audit/ghippo.md
Labels: ghippo, zh, size/XS

#4042 [en] Add traffic lane desc to skoala
  docs/en/docs/skoala/cloud-ms/index.md
  docs/en/docs/skoala/cloud-ms/lane.md
  docs/en/navigation.yml
Labels: skoala, en, i18n, size/M

#4044 add gproduct audit
  docs/zh/docs/ghippo/user-guide/audit/gproduct-audit/amamba.md
  docs/zh/docs/ghippo/user-guide/audit/gproduct-audit/insight.md
  docs/zh/docs/ghippo/user-guide/audit/gproduct-audit/kangaroo.md
  docs/zh/docs/ghippo/user-guide/audit/gproduct-audit/kariship.md
  docs/zh/docs/ghippo/user-guide/audit/gproduct-audit/kpanda.md
  docs/zh/docs/ghippo/user-guide/audit/gproduct-audit/mcamel.md
  docs/zh/docs/ghippo/user-guide/audit/gproduct-audit/mspider.md
  docs/zh/docs/ghippo/user-guide/audit/gproduct-audit/skoala.md
  docs/zh/navigation.yml
Labels: ghippo, zh, size/L

#4046 update gproduct-audit/ghippo.md
  docs/en/docs/ghippo/user-guide/audit/gproduct-audit/ghippo.md
  docs/en/navigation.yml
  docs/zh/docs/ghippo/user-guide/audit/gproduct-audit/ghippo.md
  docs/zh/navigation.yml
Labels: ghippo, zh, en, i18n, size/L

#4047 modify parameter
  docs/zh/docs/kpanda/user-guide/gpu/nvidia/install_nvidia_driver_of_operator.md
Labels: kpanda, zh, size/XS

#4048 download: skoala version updated to v0.35.0
  docs/zh/docs/download/modules/skoala.md
Labels: download, zh, size/XS

#4050 Add 3 eco projects in community/
  docs/en/docs/community/index.md
  docs/en/docs/community/kasmcloud.md
  docs/en/docs/community/kube-node-tuning.md
  docs/en/docs/community/piraeus.md
  docs/en/navigation.yml
  docs/zh/docs/community/index.md
  docs/zh/docs/community/kasmcloud.md
  docs/zh/docs/community/kube-node-tuning.md
  docs/zh/docs/community/piraeus.md
  docs/zh/navigation.yml
Labels: zh, en, eco, i18n, size/XL

#4049 virtnest-network
  docs/zh/docs/virtnest/vm/index.md
  docs/zh/docs/virtnest/vm/vm-network.md
  docs/zh/docs/virtnest/vm/vm-sc.md
  docs/zh/docs/virtnest/vm/vm-windows.md
  docs/zh/navigation.yml
Labels: zh, virtnest, size/L

#4051 update egressgateway01.md
  docs/zh/docs/network/images/cluster-policy-1.jpg
  docs/zh/docs/network/images/cluster-policy-2.jpg
  docs/zh/docs/network/images/egress-create-1.jpg
  docs/zh/docs/network/images/egress-create-2.jpg
  docs/zh/docs/network/images/egresspolicy-create-1.jpg
  docs/zh/docs/network/images/egresspolicy-create-2.jpg
  docs/zh/docs/network/modules/egressgateway/create-egpolicy.md
  docs/zh/docs/network/modules/egressgateway/create_eg.md
  docs/zh/navigation.yml
Labels: zh, network, size/L

#4054 upload tail-based sampling.md
  docs/zh/docs/insight/best-practice/tail-based-sampling.md
  docs/zh/navigation.yml
Labels: insight, zh, size/L

#4053 update two egressgateway docs
  docs/en/docs/network/modules/egressgateway/create-egpolicy.md
  docs/en/docs/network/modules/egressgateway/create_eg.md
  docs/en/navigation.yml
  docs/zh/docs/network/modules/egressgateway/create-egpolicy.md
  docs/zh/docs/network/modules/egressgateway/create_eg.md
  docs/zh/navigation.yml
Labels: zh, en, network, i18n, size/L

#4052 [en] Update virtnest/vm docs
  docs/en/docs/virtnest/vm/index.md
  docs/en/docs/virtnest/vm/vm-network.md
  docs/en/docs/virtnest/vm/vm-sc.md
  docs/en/docs/virtnest/vm/vm-windows.md
  docs/en/navigation.yml
  docs/zh/docs/virtnest/vm/index.md
  docs/zh/docs/virtnest/vm/vm-windows.md
Labels: zh, en, virtnest, i18n, size/XL

#4057 update note in install_nvidia_driver_of_operator.md
  docs/zh/docs/kpanda/user-guide/gpu/nvidia/install_nvidia_driver_of_operator.md
Labels: kpanda, zh, size/S

#4056 add redhat 7.9 yum
  docs/zh/docs/kpanda/user-guide/gpu/images/driveimage.png
  docs/zh/docs/kpanda/user-guide/gpu/images/kubean.png
  docs/zh/docs/kpanda/user-guide/gpu/images/redhat0.12.2.png
  docs/zh/docs/kpanda/user-guide/gpu/images/rhel7.9.png
  docs/zh/docs/kpanda/user-guide/gpu/nvidia/yum_source_redhat7_9.md
  docs/zh/navigation.yml
Labels: kpanda, zh, size/L

#4058 add tips
  docs/zh/docs/kpanda/user-guide/gpu/nvidia/vgpu/vgpu_addon.md
Labels: kpanda, zh, size/XS

#4059 [en] Add a gpu doc: yum_source_redhat7_9.md
  docs/en/docs/kpanda/user-guide/gpu/images/driveimage.png
  docs/en/docs/kpanda/user-guide/gpu/images/redhat0.12.2.png
  docs/en/docs/kpanda/user-guide/gpu/images/rhel7.9.png
  docs/en/docs/kpanda/user-guide/gpu/nvidia/install_nvidia_driver_of_operator.md
  docs/en/docs/kpanda/user-guide/gpu/nvidia/vgpu/vgpu_addon.md
  docs/en/docs/kpanda/user-guide/gpu/nvidia/yum_source_redhat7_9.md
  docs/en/navigation.yml
  docs/zh/docs/kpanda/user-guide/gpu/nvidia/install_nvidia_driver_of_operator.md
  docs/zh/docs/kpanda/user-guide/gpu/nvidia/vgpu/vgpu_addon.md
  docs/zh/docs/kpanda/user-guide/gpu/nvidia/yum_source_redhat7_9.md
Labels: kpanda, zh, en, i18n, size/L

#4060 Replace mainfest with manifest
  docs/en/docs/install/os-install/TencentOS-install-dce5.0.md
  docs/en/docs/install/os-install/oracleLinux-install-dce5.0.md
  docs/en/docs/install/os-install/otherlinux.md
  docs/en/docs/install/os-install/uos-v20-install-dce5.0.md
  docs/en/docs/install/release-notes.md
  docs/en/docs/skoala/quickstart/skoala.md
  docs/zh/docs/install/os-install/TencentOS-install-dce5.0.md
  docs/zh/docs/install/os-install/oracleLinux-install-dce5.0.md
  docs/zh/docs/install/os-install/otherlinux.md
  docs/zh/docs/install/os-install/uos-v20-install-dce5.0.md
  docs/zh/docs/install/release-notes.md
Labels: skoala, installer, zh, en, i18n, size/S

#4061 Update annotations about .tar.gz path
  docs/en/docs/kairship/intro/offline-upgrade.md
  docs/en/docs/kpanda/intro/offline-upgrade.md
  docs/en/docs/kpanda/user-guide/backup/offline-upgrade.md
  docs/en/docs/kpanda/user-guide/security/offline-upgrade-dowl.md
  docs/zh/docs/kairship/intro/offline-upgrade.md
  docs/zh/docs/kant/intro/offline-upgrade.md
  docs/zh/docs/kpanda/intro/offline-upgrade.md
  docs/zh/docs/kpanda/user-guide/backup/offline-upgrade.md
  docs/zh/docs/kpanda/user-guide/inspect/offline-upgrade.md
  docs/zh/docs/kpanda/user-guide/security/offline-upgrade-dowl.md
Labels: kairship, kpanda, zh, en, kant, i18n, size/M

#4063 update egressgateway style
  docs/zh/docs/network/modules/egressgateway/create-egpolicy.md
  docs/zh/docs/network/modules/egressgateway/create_eg.md
Labels: zh, network, size/M

#4065 Add knative docs
  docs/en/docs/kpanda/images/knative-request-flow.png
  docs/en/docs/kpanda/user-guide/scale/knative/knative.md
  docs/en/docs/kpanda/user-guide/scale/knative/playground.md
  docs/en/docs/kpanda/user-guide/scale/knative/sense.md
  docs/en/navigation.yml
  docs/zh/docs/kpanda/images/knative-request-flow.png
  docs/zh/docs/kpanda/user-guide/scale/knative/knative.md
  docs/zh/docs/kpanda/user-guide/scale/knative/playground.md
  docs/zh/docs/kpanda/user-guide/scale/knative/scene.md
  docs/zh/navigation.yml
Labels: kpanda, zh, en, i18n, size/L

#4064 virtnest-gpu
  docs/zh/docs/virtnest/images/gpu-01.png
  docs/zh/docs/virtnest/images/gpu-02.png
  docs/zh/docs/virtnest/images/gpu-03.png
  docs/zh/docs/virtnest/images/gpu-04.png
  docs/zh/docs/virtnest/vm/vm-gpu.md
  docs/zh/navigation.yml
Labels: zh, virtnest, size/L

#4062 Add a blog: Innovations at KubeCon Paris
  docs/en/docs/blogs/240326-kubecon-eu.md
  docs/en/docs/blogs/images/KubeConEU1.jpg
  docs/en/docs/blogs/index.md
  docs/en/navigation.yml
Labels: en, blogs, i18n, size/L

#4066 update creat edge unit
  docs/zh/docs/kant/user-guide/edge-unit/create-internal-unit.md
Labels: zh, kant, size/S

#4067 update knative docs
  docs/en/docs/kpanda/user-guide/scale/knative/knative.md
  docs/en/docs/kpanda/user-guide/scale/knative/playground.md
  docs/en/docs/kpanda/user-guide/scale/knative/sense.md
  docs/en/navigation.yml
  docs/zh/docs/kpanda/user-guide/scale/knative/knative.md
  docs/zh/docs/kpanda/user-guide/scale/knative/playground.md
Labels: kpanda, zh, en, i18n, size/L

#4070 [en] Update create-internal-unit.md for kant
  docs/en/docs/kant/user-guide/edge-unit/create-internal-unit.md
Labels: en, kant, i18n, size/S

#4068 [en] Add vm/vm-gpu.md
  docs/en/docs/virtnest/images/gpu-01.png
  docs/en/docs/virtnest/images/gpu-02.png
  docs/en/docs/virtnest/images/gpu-03.png
  docs/en/docs/virtnest/images/gpu-04.png
  docs/en/docs/virtnest/vm/vm-gpu.md
  docs/en/navigation.yml
  docs/zh/docs/virtnest/vm/vm-gpu.md
Labels: zh, en, virtnest, i18n, size/L

#4069 update insight upgrade note
  docs/zh/docs/insight/quickstart/install/upgrade-note.md
Labels: insight, zh, size/S

#4072 add lb
  docs/zh/docs/kangaroo/best-practice/lb.md
  docs/zh/docs/kangaroo/images/crddetail.png
  docs/zh/docs/kangaroo/images/crdlist.png
  docs/zh/docs/kangaroo/images/loadbalancelist.png
  docs/zh/docs/kangaroo/images/nginx.png
  docs/zh/docs/kangaroo/images/nginxlabel.png
  docs/zh/docs/kangaroo/images/nodeport.png
  docs/zh/navigation.yml
Labels: zh, kangaroo, size/M

#4073 update insight: upgrade-note.md
  docs/en/docs/insight/quickstart/install/upgrade-note.md
  docs/zh/docs/insight/quickstart/install/upgrade-note.md
Labels: insight, zh, en, i18n, size/L

#4074 update kant docs
  docs/en/docs/kant/intro/benefits.md
  docs/en/docs/kant/intro/concepts.md
  docs/en/docs/kant/intro/features.md
  docs/en/docs/kant/intro/index.md
  docs/en/docs/kant/user-guide/device/create-device.md
  docs/en/docs/kant/user-guide/device/manage-device.md
  docs/en/docs/kant/user-guide/edge-unit/create-external-unit.md
  docs/en/docs/kant/user-guide/edge-unit/create-internal-unit.md
  docs/zh/docs/kant/intro/benefits.md
  docs/zh/docs/kant/intro/concepts.md
  docs/zh/docs/kant/intro/features.md
  docs/zh/docs/kant/intro/index.md
  docs/zh/docs/kant/user-guide/edge-unit/create-external-unit.md
  docs/zh/docs/kant/user-guide/edge-unit/create-internal-unit.md
Labels: zh, en, kant, i18n, size/M

#4075 update kangaroo: best-practice/lb.md
  docs/en/docs/kangaroo/best-practice/lb.md
  docs/en/navigation.yml
  docs/zh/docs/kangaroo/best-practice/lb.md
Labels: zh, en, kangaroo, i18n, size/M

#4076 update vm/vm-windows.md
  docs/en/docs/virtnest/vm/vm-windows.md
  docs/zh/docs/virtnest/vm/vm-windows.md
Labels: zh, en, virtnest, i18n, size/S

#4078 update message-template.md
  docs/zh/docs/insight/images/tracelog.png
  docs/zh/docs/insight/user-guide/alert-center/msg-template.md
  docs/zh/docs/insight/user-guide/trace/trace.md
Labels: insight, zh, size/S

#4081 download: ghippo version updated to v0.24.1
  docs/zh/docs/download/index.md
  docs/zh/docs/download/modules/ghippo.md
Labels: download, zh, size/XS

#4079 add a new article
  docs/zh/docs/skoala/best-practice/http-to-dubbo.md
  docs/zh/docs/skoala/cloud-ms/lane.md
  docs/zh/navigation.yml
Labels: skoala, zh, size/L

#4080 update insight docs-nav
  docs/zh/navigation.yml
Labels: zh, size/S

#4082 [zh] Add a blog: 巴黎 KubeCon 谁在引领创新
  docs/zh/docs/blogs/240326-kubecon-eu.md
  docs/zh/docs/blogs/images/KubeConEU1.jpg
  docs/zh/docs/blogs/index.md
  docs/zh/navigation.yml
Labels: zh, blogs, size/L

#4084 Fix document style of kantive
  docs/en/docs/kpanda/user-guide/scale/knative/scene.md
  docs/en/navigation.yml
  docs/zh/docs/kpanda/user-guide/scale/knative/playground.md
  docs/zh/navigation.yml
Labels: kpanda, zh, en, i18n, size/XS

#4085 update egressgatewway usage
  docs/zh/docs/kpanda/user-guide/network/create-services.md
  docs/zh/docs/network/images/metallb-01.jpg
  docs/zh/docs/network/images/metallb-02.jpg
  docs/zh/docs/network/images/metallb-03.jpg
  docs/zh/docs/network/images/metallb-04.jpg
  docs/zh/docs/network/images/metallb-05.jpg
  docs/zh/docs/network/modules/metallb/ippool-create.md
  docs/zh/navigation.yml
Labels: kpanda, zh, network, size/M

#4083 add a best practice: envoy-extproc-caching-demo-go.md to skoala
  docs/zh/docs/skoala/best-practice/envoy-extproc-caching-demo-go.md
  docs/zh/docs/skoala/images/envoy-extproc-caching-demo-go.png
  docs/zh/navigation.yml
Labels: skoala, zh, size/M

#4086 virtnest-update gpu
  docs/zh/docs/virtnest/images/createvm-net01.png
  docs/zh/docs/virtnest/images/createvm-net02.png
  docs/zh/docs/virtnest/images/createvm04.png
  docs/zh/docs/virtnest/images/gpu01.png
  docs/zh/docs/virtnest/images/vgpu01.png
  docs/zh/docs/virtnest/vm/index.md
Labels: zh, virtnest, size/S

#4077 docs: add argo-cd ha install md
  docs/zh/docs/amamba/quickstart/argo-cd-HA.md
  docs/zh/navigation.yml
Labels: amamba, zh, size/L

#4088 update hwamei docs
  docs/zh/docs/storage/hwameistor/faqs.md
  docs/zh/docs/storage/hwameistor/intro/evictor.md
  docs/zh/docs/storage/hwameistor/intro/exporter.md
  docs/zh/docs/storage/hwameistor/intro/ldm.md
  docs/zh/docs/storage/hwameistor/resources/volume-eviction.md
  docs/zh/navigation.yml
Labels: zh, storage, size/L

#4090 Fix typos in kant
  docs/en/docs/kant/intro/concepts.md
  docs/en/docs/kant/user-guide/edge-network/deploy-edgemesh.md
  docs/en/docs/kant/user-guide/edge-network/index.md
  docs/en/docs/kant/user-guide/route/index.md
  docs/en/navigation.yml
Labels: en, kant, i18n, size/S

#4089 Replace 模版 with 模板
  docs/zh/docs/dce/dce-rn/20240130.md
  docs/zh/docs/insight/intro/permission.md
  docs/zh/docs/insight/intro/releasenote.md
  docs/zh/docs/insight/user-guide/alert-center/alert-policy.md
  docs/zh/docs/insight/user-guide/alert-center/alert-template.md
  docs/zh/docs/kpanda/user-guide/clusters/cluster-scheduler-plugin.md
  docs/zh/docs/kpanda/user-guide/helm/README.md
  docs/zh/docs/kpanda/user-guide/scale/knative/install.md
Labels: insight, kpanda, zh, dce, size/M

#4091 add volcano user guide
  docs/zh/docs/kpanda/images/volcano-01.png
  docs/zh/docs/kpanda/images/volcano-02.png
  docs/zh/docs/kpanda/images/volcano-03.png
  docs/zh/docs/kpanda/user-guide/gpu/volcano_user_guide.md
  docs/zh/navigation.yml
Labels: kpanda, zh, size/L

#4092 Add a video to baize
  docs/en/docs/videos/baize.md
  docs/en/docs/videos/images/notebook.jpg
  docs/zh/docs/videos/baize.md
  docs/zh/docs/videos/images/notebook.jpg
Labels: zh, en, videos, i18n, size/S

#4093 Add a mongodb doc: backup and restore
  docs/zh/docs/middleware/common/index.md
  docs/zh/docs/middleware/elasticsearch/user-guide/create.md
  docs/zh/docs/middleware/elasticsearch/user-guide/edit.md
  docs/zh/docs/middleware/kafka/user-guide/create.md
  docs/zh/docs/middleware/kafka/user-guide/update.md
  docs/zh/docs/middleware/minio/user-guide/create.md
  docs/zh/docs/middleware/minio/user-guide/update.md
  docs/zh/docs/middleware/mongodb/images/backup01.png
  docs/zh/docs/middleware/mongodb/images/backup02.png
  docs/zh/docs/middleware/mongodb/images/backup03.png
  docs/zh/docs/middleware/mongodb/images/backup04.png
  docs/zh/docs/middleware/mongodb/images/backup05.png
  docs/zh/docs/middleware/mongodb/images/backup06.png
  docs/zh/docs/middleware/mongodb/images/backup07.png
  docs/zh/docs/middleware/mongodb/user-guide/backup.md
  docs/zh/docs/middleware/mongodb/user-guide/create.md
  docs/zh/docs/middleware/mongodb/user-guide/update.md
  docs/zh/docs/middleware/mysql/user-guide/create.md
  docs/zh/docs/middleware/mysql/user-guide/update.md
  docs/zh/docs/middleware/postgresql/user-guide/create.md
  docs/zh/docs/middleware/postgresql/user-guide/update.md
  docs/zh/docs/middleware/rabbitmq/user-guide/create.md
  docs/zh/docs/middleware/rabbitmq/user-guide/update.md
  docs/zh/docs/middleware/redis/user-guide/create.md
  docs/zh/docs/middleware/redis/user-guide/update.md
  docs/zh/navigation.yml
Labels: midware, zh, size/L

#4094 Add a postgresql doc: backup.md
  docs/zh/docs/middleware/postgresql/images/backup01.png
  docs/zh/docs/middleware/postgresql/images/backup02.png
  docs/zh/docs/middleware/postgresql/images/backup03.png
  docs/zh/docs/middleware/postgresql/images/backup04.png
  docs/zh/docs/middleware/postgresql/images/backup05.png
  docs/zh/docs/middleware/postgresql/images/backup06.png
  docs/zh/docs/middleware/postgresql/user-guide/backup.md
  docs/zh/navigation.yml
Labels: midware, zh, size/M

#4095 download: ghippo version updated to v0.24.1
  docs/zh/docs/download/modules/ghippo.md
Labels: download, zh, size/XS

#4096 optimize oem in images
  docs/zh/docs/ghippo/best-practice/oem/oem-in.md
Labels: ghippo, zh, size/S

#4097 update tracing tail sample docs
  docs/zh/docs/insight/best-practice/tail-based-sampling.md
Labels: insight, zh, size/L

#4098 update kafka/user-guide/create.md
  docs/zh/docs/middleware/kafka/images/create01.png
  docs/zh/docs/middleware/kafka/images/create011.png
  docs/zh/docs/middleware/kafka/images/create02.png
  docs/zh/docs/middleware/kafka/images/create03.png
  docs/zh/docs/middleware/kafka/images/create04.png
  docs/zh/docs/middleware/kafka/images/create05.png
  docs/zh/docs/middleware/kafka/images/create06.png
  docs/zh/docs/middleware/kafka/user-guide/create.md
Labels: midware, zh, size/M

#4099 add a links to all speaker videos
  docs/zh/docs/native/news/news-2024.md
Labels: zh, native, size/XS

#4100 [en] Add cluster-scheduler-plugin.md to kpanda
  docs/en/docs/kpanda/user-guide/clusters/cluster-scheduler-plugin.md
  docs/en/navigation.yml
  docs/zh/docs/kpanda/user-guide/clusters/cluster-scheduler-plugin.md
Labels: kpanda, zh, en, i18n, size/L

#4101 Add para-template doc to kafka
  docs/zh/docs/middleware/kafka/images/create06.png
  docs/zh/docs/middleware/kafka/images/template01.png
  docs/zh/docs/middleware/kafka/images/template02.png
  docs/zh/docs/middleware/kafka/images/template03.png
  docs/zh/docs/middleware/kafka/user-guide/create.md
  docs/zh/docs/middleware/kafka/user-guide/template.md
  docs/zh/navigation.yml
Labels: midware, zh, size/M

#4102 docs: add jenkins node cacher
  docs/zh/docs/amamba/images/job-cacher01.png
  docs/zh/docs/amamba/images/job-cacher02.png
  docs/zh/docs/amamba/images/job-cacher03.png
  docs/zh/docs/amamba/images/job-cacher04.png
  docs/zh/docs/amamba/images/job-cacher05.png
  docs/zh/docs/amamba/quickstart/job-cacher.md
Labels: amamba, zh, size/L

#4103 update node access guide
  docs/zh/docs/kant/images/access-guide-01.png
  docs/zh/docs/kant/images/access-guide-02.png
  docs/zh/docs/kant/images/access-guide-03.png
  docs/zh/docs/kant/images/access-guide-04.png
  docs/zh/docs/kant/images/access-guide-05.png
  docs/zh/docs/kant/user-guide/node/access-guide.md
  docs/zh/docs/kant/user-guide/node/create-access-guide.md
  docs/zh/docs/kant/user-guide/node/index.md
  docs/zh/navigation.yml
Labels: zh, kant, size/L

#4104 amamba: add job cacher navigator
  docs/zh/navigation.yml
Labels: zh, size/XS

#4105 Update tail-based-sampling.md
  docs/zh/docs/insight/best-practice/tail-based-sampling.md
Labels: insight, zh, size/XS

#4106 [en] Add amamba/quickstart/job-cacher.md
  docs/en/docs/amamba/images/job-cacher01.png
  docs/en/docs/amamba/images/job-cacher02.png
  docs/en/docs/amamba/images/job-cacher03.png
  docs/en/docs/amamba/images/job-cacher04.png
  docs/en/docs/amamba/images/job-cacher05.png
  docs/en/docs/amamba/quickstart/job-cacher.md
  docs/en/navigation.yml
  docs/zh/docs/amamba/quickstart/job-cacher.md
Labels: amamba, zh, en, i18n, size/L

#4108 [en] Add template to kafka
  docs/en/docs/middleware/kafka/user-guide/create.md
  docs/en/docs/middleware/kafka/user-guide/template.md
  docs/en/navigation.yml
Labels: midware, en, i18n

#4112 [en] Add access-guide docs to kant
  docs/en/docs/kant/user-guide/node/access-guide.md
  docs/en/docs/kant/user-guide/node/create-access-guide.md
  docs/en/docs/kant/user-guide/node/index.md
  docs/en/navigation.yml
  docs/zh/docs/kant/user-guide/node/access-guide.md
  docs/zh/docs/kant/user-guide/node/create-access-guide.md
Labels: zh, en, kant, i18n, size/L

#4114 download: gmagpie version updated to v0.6.0
  docs/zh/docs/download/modules/gmagpie.md
Labels: download, zh, size/XS

#4115 download: virtnest version updated to v0.7.0
  docs/zh/docs/download/modules/virtnest.md
Labels: download, zh, size/XS

#4117 ghippo v0.25.0 release notes
  docs/zh/docs/ghippo/intro/release-notes.md
Labels: ghippo, zh, size/S
