Repository DaoCloud/DaoCloud-docs, pull requests merged in 2024-05, with the labels that each got.

#4327 download: skoala version updated to v0.36.1
  docs/zh/docs/download/modules/skoala.md
Labels: download, zh, size/XS

#4301 baize: update inference folder name and create guide
  docs/zh/docs/baize/developer/inference/create.md
  docs/zh/docs/baize/developer/interface/create.md
  docs/zh/navigation.yml
Labels: zh, baize, size/L

#4328 update release-notes to 0.36.2
  docs/zh/docs/skoala/intro/release-notes.md
Labels: skoala, zh, size/M

#4330 download: amamba version updated to v0.26.1
  docs/zh/docs/download/index.md
  docs/zh/docs/download/modules/amamba.md
Labels: download, zh, size/XS

#4331 download: insight version updated to v0.26.0
  docs/zh/docs/download/index.md
  docs/zh/docs/download/modules/insight.md
Labels: download, zh, size/XS

#4332 [kant] Update best practices and nav
  docs/zh/docs/kant/best-practice/develop-device-mapper.md
  docs/zh/docs/kant/best-practice/device-control.md
  docs/zh/navigation.yml
Labels: zh, kant, size/L

#4333 fix gm-gateway docs
  docs/zh/docs/ghippo/install/gm-gateway.md
Labels: ghippo, zh, size/M

#4334 download: kpanda version updated to 0.27.0
  docs/zh/docs/download/index.md
  docs/zh/docs/download/modules/kpanda.md
Labels: download, zh, size/XS

#4336 [en] update download pages
  docs/en/docs/download/index.md
  docs/en/docs/download/modules/amamba.md
  docs/en/docs/download/modules/insight.md
  docs/en/docs/download/modules/kpanda.md
  docs/en/docs/download/modules/mspider.md
  docs/en/docs/download/modules/skoala.md
  docs/zh/docs/download/index.md
Labels: download, zh, en, i18n, size/M

#4337 update rn
  docs/zh/docs/amamba/intro/release-notes.md
  docs/zh/docs/storage/hwameistor/releasenotes.md
Labels: amamba, zh, storage, size/M

#4338 download: gmagpie version updated to v0.6.3
  docs/zh/docs/download/modules/gmagpie.md
Labels: download, zh, size/XS

#4341 [en] Add two gproduct-audit: ghippo and virtnest
  docs/en/docs/ghippo/user-guide/audit/gproduct-audit/amamba.md
  docs/en/docs/ghippo/user-guide/audit/gproduct-audit/ghippo.md
  docs/en/docs/ghippo/user-guide/audit/gproduct-audit/insight.md
  docs/en/docs/ghippo/user-guide/audit/gproduct-audit/kairship.md
  docs/en/docs/ghippo/user-guide/audit/gproduct-audit/kangaroo.md
  docs/en/docs/ghippo/user-guide/audit/gproduct-audit/kpanda.md
  docs/en/docs/ghippo/user-guide/audit/gproduct-audit/mcamel.md
  docs/en/docs/ghippo/user-guide/audit/gproduct-audit/mspider.md
  docs/en/docs/ghippo/user-guide/audit/gproduct-audit/skoala.md
  docs/en/docs/ghippo/user-guide/audit/gproduct-audit/virtnest.md
  docs/en/navigation.yml
  docs/zh/docs/ghippo/user-guide/audit/gproduct-audit/ghippo.md
  docs/zh/docs/ghippo/user-guide/audit/gproduct-audit/virtnest.md
Labels: ghippo, zh, en, i18n, size/L

#4342 [ghippo] Update two best practices: oem-in and super-group
  docs/en/docs/ghippo/best-practice/oem/oem-in.md
  docs/en/docs/ghippo/best-practice/super-group.md
  docs/zh/docs/ghippo/best-practice/oem/oem-in.md
Labels: ghippo, zh, en, i18n, size/XL

#4343 update the procedure to install Guomi gateway
  docs/en/docs/ghippo/install/gm-gateway.md
  docs/zh/docs/ghippo/install/gm-gateway.md
Labels: ghippo, zh, en, i18n, size/L

#4344 [en] update ghippo release notes
  docs/en/docs/ghippo/intro/release-notes.md
Labels: ghippo, en, i18n, size/S

#4345 [en] update amamba release notes
  docs/en/docs/amamba/intro/release-notes.md
  docs/zh/docs/amamba/intro/release-notes.md
Labels: amamba, zh, en, i18n, size/M

#4346 update insight release notes
  docs/en/docs/insight/intro/releasenote.md
  docs/zh/docs/insight/intro/releasenote.md
Labels: insight, zh, en, i18n, size/M

#4347 [en] update kpanda release notes
  docs/en/docs/kpanda/intro/release-notes.md
Labels: kpanda, en, i18n, size/M

#4350 audit: update insight audit
  docs/en/docs/ghippo/user-guide/audit/gproduct-audit/insight.md
  docs/zh/docs/ghippo/user-guide/audit/gproduct-audit/insight.md
Labels: ghippo, zh, en, i18n, size/S

#4349 update faqs and release-notes for hwameistor
  docs/en/docs/storage/hwameistor/faqs.md
  docs/en/docs/storage/hwameistor/releasenotes.md
  docs/zh/docs/storage/hwameistor/faqs.md
Labels: zh, en, storage, i18n, size/M

#4355 update middleware docs zh+en
  docs/en/docs/download/index.md
  docs/en/docs/download/modules/middleware/elasticsearch.md
  docs/en/docs/download/modules/middleware/kafka.md
  docs/en/docs/download/modules/middleware/minio.md
  docs/en/docs/download/modules/middleware/mongodb.md
  docs/en/docs/download/modules/middleware/mysql.md
  docs/en/docs/download/modules/middleware/postgresql.md
  docs/en/docs/download/modules/middleware/rabbitmq.md
  docs/en/docs/download/modules/middleware/redis.md
  docs/en/docs/download/modules/middleware/rocketmq.md
  docs/zh/docs/download/index.md
  docs/zh/docs/download/modules/middleware/elasticsearch.md
  docs/zh/docs/download/modules/middleware/kafka.md
  docs/zh/docs/download/modules/middleware/minio.md
  docs/zh/docs/download/modules/middleware/mongodb.md
  docs/zh/docs/download/modules/middleware/mysql.md
  docs/zh/docs/download/modules/middleware/postgresql.md
  docs/zh/docs/download/modules/middleware/rabbitmq.md
  docs/zh/docs/download/modules/middleware/redis.md
  docs/zh/docs/download/modules/middleware/rocketmq.md
Labels: download, zh, en, i18n, size/M

#4357 Add a blog: model spec from openai
  docs/en/docs/blogs/240509-model-spec.md
  docs/en/docs/blogs/index.md
  docs/en/navigation.yml
  docs/zh/docs/blogs/240509-model-spec.md
  docs/zh/docs/blogs/index.md
  docs/zh/navigation.yml
Labels: zh, en, blogs, i18n, size/XL

#4356 download: dce5 version updated to v0.17.0
  docs/zh/docs/download/business/dce5-installer-history.md
  docs/zh/docs/download/business/dce5-installer-v0.17.0.md
  docs/zh/docs/download/free/dce5-installer-history.md
  docs/zh/docs/download/free/dce5-installer-v0.17.0.md
  docs/zh/docs/download/index.md
Labels: download, zh, size/L

#4352 Add dce-20240430 release notes
  docs/en/docs/dce/dce-rn/20240330.md
  docs/zh/docs/dce/dce-rn/20240330.md
  docs/zh/docs/dce/dce-rn/20240430.md
  docs/zh/navigation.yml
Labels: zh, en, dce, i18n, size/L

#4359 download: ghippo version updated to v0.26.0
  docs/zh/docs/download/index.md
  docs/zh/docs/download/modules/ghippo.md
Labels: download, zh, size/XS

#4358 Fix blog format: 240509-model-spec.md
  docs/en/docs/blogs/240509-model-spec.md
  docs/zh/docs/blogs/240509-model-spec.md
  docs/zh/docs/blogs/index.md
Labels: zh, en, blogs, i18n, size/XL

#4361 [en] Update installer pages to v0.17.0
  docs/en/docs/install/air-tag-download.md
  docs/en/docs/install/commercial/start-install.md
  docs/en/docs/install/community/k8s/k8s-dce-deploy.md
  docs/en/docs/install/community/k8s/offline.md
  docs/en/docs/install/community/k8s/online.md
  docs/en/docs/install/community/kind/online.md
  docs/en/docs/install/install-tools.md
  docs/en/docs/install/os-install/TencentOS-install-dce5.0.md
  docs/en/docs/install/os-install/neokylin-install-dce5.0.md
  docs/en/docs/install/os-install/oracleLinux-install-dce5.0.md
  docs/en/docs/install/os-install/otherlinux.md
  docs/en/docs/install/os-install/uos-v20-install-dce5.0.md
  docs/en/docs/install/release-notes.md
  docs/en/docs/install/upgrade.md
  docs/en/navigation.yml
  docs/zh/docs/install/install-tools.md
  docs/zh/docs/install/os-install/neokylin-install-dce5.0.md
Labels: installer, zh, en, i18n, size/L

#4362 Fix some format in new blog: openai model spec
  docs/en/docs/blogs/240509-model-spec.md
  docs/zh/docs/blogs/240509-model-spec.md
Labels: zh, en, blogs, i18n, size/S, size/M

#4367 update spidernet releasenotes
  docs/zh/docs/network/intro/releasenotes.md
Labels: zh, network, size/S

#4368 fix version error in commercial install page
  docs/zh/docs/install/commercial/start-install.md
Labels: installer, zh, size/S

#4369 fix translation for 告警信息
  docs/zh/docs/insight/intro/index.md
Labels: insight, zh, size/XS

#4366 download: addon version updated to v0.17.0
  docs/zh/docs/download/addon/history.md
  docs/zh/docs/download/addon/v0.17.0.md
  docs/zh/docs/download/index.md
Labels: download, zh, size/L

#4370 update insight en audit doc
  docs/en/docs/ghippo/user-guide/audit/gproduct-audit/insight.md
Labels: ghippo, en, i18n, size/M

#4371 update comp-archi-ui/cp-component.md for mspider
  docs/en/docs/mspider/intro/comp-archi-ui/cp-component.md
  docs/zh/docs/mspider/intro/comp-archi-ui/cp-component.md
Labels: mspider, zh, en, i18n, size/XL

#4374 update security/params.md for mspider
  docs/en/docs/mspider/user-guide/security/params.md
  docs/en/docs/mspider/user-guide/service-mesh/capacity-resources.md
  docs/en/docs/mspider/user-guide/service-mesh/params.md
  docs/zh/docs/mspider/user-guide/security/params.md
Labels: mspider, zh, en, i18n, size/L

#4375 [en] Fix version typo for commercial install
  docs/en/docs/install/commercial/start-install.md
  docs/en/docs/install/release-notes.md
Labels: installer, en, i18n, size/S

#4376 update error
  docs/zh/docs/amamba/images/jar03.png
  docs/zh/docs/amamba/user-guide/wizard/jar-java-app.md
Labels: size/XS

#4377 update midware release notes and permission page
  docs/en/docs/middleware/elasticsearch/release-notes.md
  docs/en/docs/middleware/kafka/release-notes.md
  docs/en/docs/middleware/minio/release-notes.md
  docs/en/docs/middleware/mongodb/release-notes.md
  docs/en/docs/middleware/mysql/release-notes.md
  docs/en/docs/middleware/permission.md
  docs/en/docs/middleware/postgresql/release-notes.md
  docs/en/docs/middleware/rabbitmq/release-notes.md
  docs/en/docs/middleware/redis/release-notes.md
  docs/en/docs/middleware/rocketmq/release-notes.md
Labels: midware, en, i18n, size/L

#4381 [en] update spidernet pages and its release notes
  docs/en/docs/network/intro/background.md
  docs/en/docs/network/intro/challenges.md
  docs/en/docs/network/intro/index.md
  docs/en/docs/network/intro/offline.md
  docs/en/docs/network/intro/releasenotes.md
  docs/zh/docs/network/intro/offline.md
  docs/zh/docs/network/intro/releasenotes.md
Labels: zh, en, network, i18n, size/L

#4382 update amamba 3 pages
  docs/en/docs/amamba/pluggable-components.md
  docs/en/docs/amamba/quickstart/scenarios-config.md
  docs/en/docs/amamba/user-guide/wizard/jar-java-app.md
  docs/zh/docs/amamba/pluggable-components.md
  docs/zh/docs/amamba/quickstart/scenarios-config.md
  docs/zh/docs/amamba/user-guide/wizard/jar-java-app.md
Labels: amamba, zh, en, i18n, size/L

#4384 [en] update install pages
  docs/en/docs/install/best-practices/all-in-one-machine.md
  docs/en/docs/install/best-practices/cve-20240-21626.md
  docs/en/docs/install/best-practices/etcd-host-deploy.md
  docs/en/docs/install/best-practices/thinder-ha.md
  docs/en/docs/install/best-practices/thinder-restore.md
  docs/en/docs/install/commercial/cluster-config.md
  docs/en/docs/install/commercial/deploy-arch.md
  docs/en/docs/install/commercial/deploy-requirements.md
  docs/en/docs/install/commercial/download-file.md
  docs/en/docs/install/commercial/external/external-binary.md
  docs/en/docs/install/commercial/external/external-imageandchart.md
  docs/en/docs/install/commercial/external/external-middlewares.md
  docs/en/docs/install/commercial/external/external-os.md
  docs/en/docs/install/commercial/manifest.md
  docs/en/docs/install/commercial/port-requirements.md
  docs/en/docs/install/commercial/prepare.md
  docs/en/docs/install/commercial/start-install.md
  docs/en/docs/install/community/k8s/k8s-dce-deploy.md
  docs/en/docs/install/community/k8s/offline.md
  docs/en/docs/install/community/k8s/online.md
  docs/en/docs/install/community/kind/online.md
  docs/en/docs/install/community/resources.md
  docs/en/docs/install/evolve.md
  docs/en/docs/install/faq.md
  docs/en/docs/install/index.md
  docs/en/docs/install/uninstall.md
  docs/en/docs/install/upgrade-des.md
  docs/en/docs/install/upgrade.md
Labels: installer, en, i18n, size/L

#4386 update vm install-dependency.md and fix issue 4378
  docs/en/docs/virtnest/install/install-dependency.md
  docs/zh/docs/virtnest/install/install-dependency.md
Labels: zh, en, virtnest, i18n, size/L

#4387 Fix issues on insight pages
  docs/en/docs/insight/intro/benefits.md
  docs/en/docs/insight/intro/index.md
  docs/en/docs/insight/intro/permission.md
  docs/en/docs/kpanda/user-guide/permissions/permission-brief.md
  docs/zh/docs/insight/intro/benefits.md
  docs/zh/docs/insight/intro/index.md
  docs/zh/docs/insight/intro/permission.md
  docs/zh/docs/insight/intro/releasenote.md
  docs/zh/docs/insight/quickstart/install/install-agent.md
  docs/zh/docs/insight/quickstart/jvm-monitor/otel-java-agent.md
  docs/zh/docs/insight/quickstart/other/install-agentindce.md
  docs/zh/docs/kpanda/user-guide/permissions/permission-brief.md
Labels: insight, zh, en, i18n, size/L

#4388 update sriov-network-operator/index.md
  docs/en/docs/network/modules/sriov-network-operator/index.md
  docs/zh/docs/network/modules/sriov-network-operator/index.md
Labels: zh, en, network, i18n, size/L

#4389 update terms about ns editor and viewer
  docs/en/docs/ghippo/permissions/kpanda.md
  docs/en/docs/insight/intro/permission.md
  docs/en/docs/kpanda/user-guide/backup/deployment.md
  docs/en/docs/kpanda/user-guide/backup/install-velero.md
  docs/en/docs/kpanda/user-guide/configmaps-secrets/create-configmap.md
  docs/en/docs/kpanda/user-guide/configmaps-secrets/create-secret.md
  docs/en/docs/kpanda/user-guide/network/create-ingress.md
  docs/en/docs/kpanda/user-guide/network/create-services.md
  docs/en/docs/kpanda/user-guide/nodes/taints.md
  docs/en/docs/kpanda/user-guide/permissions/cluster-ns-auth.md
  docs/en/docs/kpanda/user-guide/scale/create-hpa.md
  docs/en/docs/kpanda/user-guide/scale/create-vpa.md
  docs/en/docs/kpanda/user-guide/scale/install-cronhpa.md
  docs/en/docs/kpanda/user-guide/scale/install-metrics-server.md
  docs/en/docs/kpanda/user-guide/scale/install-vpa.md
  docs/en/docs/kpanda/user-guide/workloads/create-cronjob.md
  docs/en/docs/kpanda/user-guide/workloads/create-daemonset.md
  docs/en/docs/kpanda/user-guide/workloads/create-deployment.md
  docs/en/docs/kpanda/user-guide/workloads/create-job.md
  docs/en/docs/kpanda/user-guide/workloads/create-statefulset.md
  docs/zh/docs/ghippo/permissions/kpanda.md
  docs/zh/docs/kpanda/user-guide/backup/deployment.md
  docs/zh/docs/kpanda/user-guide/backup/install-velero.md
  docs/zh/docs/kpanda/user-guide/configmaps-secrets/create-configmap.md
  docs/zh/docs/kpanda/user-guide/configmaps-secrets/create-secret.md
  docs/zh/docs/kpanda/user-guide/network/create-ingress.md
  docs/zh/docs/kpanda/user-guide/network/create-services.md
  docs/zh/docs/kpanda/user-guide/nodes/taints.md
  docs/zh/docs/kpanda/user-guide/permissions/cluster-ns-auth.md
  docs/zh/docs/kpanda/user-guide/scale/create-hpa.md
  docs/zh/docs/kpanda/user-guide/scale/create-vpa.md
  docs/zh/docs/kpanda/user-guide/scale/install-cronhpa.md
  docs/zh/docs/kpanda/user-guide/scale/install-metrics-server.md
  docs/zh/docs/kpanda/user-guide/scale/install-vpa.md
  docs/zh/docs/kpanda/user-guide/workloads/create-cronjob.md
  docs/zh/docs/kpanda/user-guide/workloads/create-daemonset.md
  docs/zh/docs/kpanda/user-guide/workloads/create-deployment.md
  docs/zh/docs/kpanda/user-guide/workloads/create-job.md
  docs/zh/docs/kpanda/user-guide/workloads/create-statefulset.md
Labels: kpanda, zh, en, i18n, size/L

#4385 update insight lucene.md doc
  docs/en/docs/insight/reference/lucene.md
  docs/zh/docs/insight/reference/lucene.md
Labels: insight, zh, en, i18n, size/M

#4390 Update sw-to-otel.md dead link
  docs/zh/docs/insight/best-practice/sw-to-otel.md
Labels: insight, zh, size/XS

#4391 remove dead link
  docs/zh/docs/insight/quickstart/otel/golang.md
Labels: insight, zh, size/XS

#4392 update kairship/policy/override.md
  docs/en/docs/kairship/policy/override.md
  docs/zh/docs/kairship/policy/override.md
Labels: kairship, zh, en, i18n, size/L

#4393 Update amamba agent.md
  docs/zh/docs/amamba/user-guide/pipeline/config/agent.md
Labels: amamba, zh, size/S, size/M

#4394 Enlarge icon width to 80 and convert markdown tables to HTML
  docs/zh/docs/community/icons/index.md
Labels: zh, eco, size/S, size/L

#4395 update pipeline/config/agent.md for amamba
  docs/en/docs/amamba/user-guide/pipeline/config/agent.md
  docs/zh/docs/amamba/user-guide/pipeline/config/agent.md
Labels: amamba, zh, en, i18n, size/L

#4396 add icons: daocloud and 13 providers
  docs/zh/docs/community/icons/index.md
  docs/zh/docs/community/icons/open/daocloud_cube-color.svg
  docs/zh/docs/community/icons/open/daocloud_cube-dark.svg
  docs/zh/docs/community/icons/open/daocloud_cube-light.svg
  docs/zh/docs/community/icons/open/daocloud_horizon-color_dark.svg
  docs/zh/docs/community/icons/open/daocloud_horizon-color_light.svg
  docs/zh/docs/community/icons/open/daocloud_horizon-dark.svg
  docs/zh/docs/community/icons/open/daocloud_horizon-light.svg
  docs/zh/docs/community/icons/open/daocloud_vertical-color_dark.svg
  docs/zh/docs/community/icons/open/daocloud_vertical-color_light.svg
  docs/zh/docs/community/icons/open/daocloud_vertical-dark.svg
  docs/zh/docs/community/icons/open/daocloud_vertical-light.svg
  docs/zh/docs/community/icons/providers/android.svg
  docs/zh/docs/community/icons/providers/git.svg
  docs/zh/docs/community/icons/providers/insight-agent-green.svg
  docs/zh/docs/community/icons/providers/java.svg
  docs/zh/docs/community/icons/providers/kdoctor.svg
  docs/zh/docs/community/icons/providers/kubevela.svg
  docs/zh/docs/community/icons/providers/metrics-server-green.svg
  docs/zh/docs/community/icons/providers/nvidia.svg
  docs/zh/docs/community/icons/providers/operator-lifecycle-manager.svg
  docs/zh/docs/community/icons/providers/placeholder.svg
  docs/zh/docs/community/icons/providers/python.svg
  docs/zh/docs/community/icons/providers/pytorch.svg
  docs/zh/docs/community/icons/providers/sonarqube.svg
  docs/zh/docs/community/icons/providers/svn-subversion.svg
  docs/zh/docs/community/icons/providers/tensorflow.svg
  docs/zh/docs/community/icons/providers/testcase-report.svg
  docs/zh/docs/community/icons/providers/windows.svg
Labels: zh, eco, size/XL

#4397 update en icons
  docs/en/docs/community/icons/index.md
  docs/en/docs/community/icons/open/daocloud_cube-color.svg
  docs/en/docs/community/icons/open/daocloud_cube-dark.svg
  docs/en/docs/community/icons/open/daocloud_cube-light.svg
  docs/en/docs/community/icons/open/daocloud_horizon-color_dark.svg
  docs/en/docs/community/icons/open/daocloud_horizon-color_light.svg
  docs/en/docs/community/icons/open/daocloud_horizon-dark.svg
  docs/en/docs/community/icons/open/daocloud_horizon-light.svg
  docs/en/docs/community/icons/open/daocloud_vertical-color_dark.svg
  docs/en/docs/community/icons/open/daocloud_vertical-color_light.svg
  docs/en/docs/community/icons/open/daocloud_vertical-dark.svg
  docs/en/docs/community/icons/open/daocloud_vertical-light.svg
  docs/en/docs/community/icons/providers/Logo-Preview.png
  docs/en/docs/community/icons/providers/android.svg
  docs/en/docs/community/icons/providers/git.svg
  docs/en/docs/community/icons/providers/insight-agent-green.svg
  docs/en/docs/community/icons/providers/java.svg
  docs/en/docs/community/icons/providers/kdoctor.svg
  docs/en/docs/community/icons/providers/kubevela.svg
  docs/en/docs/community/icons/providers/metrics-server-green.svg
  docs/en/docs/community/icons/providers/nvidia.svg
  docs/en/docs/community/icons/providers/operator-lifecycle-manager.svg
  docs/en/docs/community/icons/providers/placeholder.svg
  docs/en/docs/community/icons/providers/python.svg
  docs/en/docs/community/icons/providers/pytorch.svg
  docs/en/docs/community/icons/providers/sonarqube.svg
  docs/en/docs/community/icons/providers/svn-subversion.svg
  docs/en/docs/community/icons/providers/tensorflow.svg
  docs/en/docs/community/icons/providers/testcase-report.svg
  docs/en/docs/community/icons/providers/windows.svg
  docs/zh/docs/community/icons/index.md
Labels: en, eco, i18n, size/XL

#4398 Update community icons index.md
  docs/en/docs/community/icons/index.md
  docs/zh/docs/community/icons/index.md
Labels: zh, en, eco, i18n, size/XS

#4399 releasenote
  docs/en/docs/virtnest/intro/release-notes.md
  docs/zh/docs/kairship/intro/release-notes.md
  docs/zh/docs/virtnest/intro/release-notes.md
Labels: kairship, zh, en, virtnest, i18n

#4400 add custom role
  docs/zh/docs/kpanda/user-guide/permissions/custom-kpanda-role.md
  docs/zh/navigation.yml
Labels: kpanda, zh, size/M

#4401 add a blog: become a k8s-docs reviewer
  docs/zh/docs/blogs/240516-sig-docs.md
  docs/zh/docs/blogs/images/writing.jpeg
  docs/zh/docs/blogs/index.md
  docs/zh/navigation.yml
Labels: zh, blogs, size/M

#4404 update permissions/custom-kpanda-role.md
  docs/zh/docs/kpanda/user-guide/images/create-depolyment.png
  docs/zh/docs/kpanda/user-guide/images/permisson02.png
  docs/zh/docs/kpanda/user-guide/permissions/custom-kpanda-role.md
Labels: kpanda, zh, size/L

#4406 Fix a Chinese typo about 上层应用 at docs/dce/index.md
  docs/zh/docs/dce/index.md
Labels: zh, dce, size/XS

#4403 add a new article about envoy-extproc
  docs/zh/docs/skoala/best-practice/envoy-extproc-crc32-check-demo-go.md
  docs/zh/docs/skoala/images/CRC1.png
  docs/zh/docs/skoala/images/CRC2.png
  docs/zh/navigation.yml
Labels: skoala, zh, size/M, size/L

#4407 add auth
  docs/zh/docs/amamba/user-guide/tools/integrated-toolchain.md
Labels: amamba, zh, size/S

#4405 漏译补充
  docs/en/docs/dce/index.md
Labels: en, dce, i18n, size/XS

#4408 add a new article about envoy-conv
  docs/zh/docs/skoala/best-practice/envoy-extproc-method-conv-demo-go.md
  docs/zh/docs/skoala/images/mutation_rules.png
  docs/zh/navigation.yml
Labels: skoala, zh, size/M

#4410 [en] Remove redundant files from en/skoala
  docs/en/docs/skoala/cloud-ms/index.md
  docs/en/docs/skoala/reference/insight.md
  docs/en/docs/skoala/reference/nacos.md
  docs/en/docs/skoala/reference/traffic-control.md
  docs/en/docs/skoala/reference/virtual-service.md
  docs/en/navigation.yml
  docs/zh/docs/skoala/cloud-ms/lane.md
Labels: skoala, zh, en, i18n, size/L

#4409 update 4 custome-plugin practices and sync them into english
  docs/en/docs/skoala/best-practice/add-custom-attributes.md
  docs/en/docs/skoala/best-practice/envoy-extproc-anti-demo-go.md
  docs/en/docs/skoala/best-practice/envoy-extproc-caching-demo-go.md
  docs/en/docs/skoala/best-practice/envoy-extproc-crc32-check-demo-go.md
  docs/en/docs/skoala/best-practice/envoy-extproc-method-conv-demo-go.md
  docs/en/docs/skoala/best-practice/plugins/jwt.md
  docs/en/docs/skoala/images/CRC1.png
  docs/en/docs/skoala/images/CRC2.png
  docs/en/docs/skoala/images/mutation_rules.png
  docs/en/navigation.yml
  docs/zh/docs/skoala/best-practice/envoy-extproc-anti-demo-go.md
  docs/zh/docs/skoala/best-practice/envoy-extproc-caching-demo-go.md
  docs/zh/docs/skoala/best-practice/envoy-extproc-crc32-check-demo-go.md
  docs/zh/docs/skoala/best-practice/envoy-extproc-method-conv-demo-go.md
Labels: skoala, zh, en, i18n, size/L

#4413 update several mspider docs to fix typo and update yaml comments
  docs/en/docs/mspider/install/offline-upgrade.md
  docs/en/docs/mspider/intro/app-spec.md
  docs/en/docs/mspider/intro/istio-k8s.md
  docs/en/docs/mspider/troubleshoot/dce4.0-issues.md
  docs/en/docs/mspider/user-guide/service-list/README.md
  docs/zh/docs/mspider/intro/istio-k8s.md
Labels: mspider, zh, en, i18n, size/M

#4416 [en] Add images to baize/oam and intro folders
  docs/en/docs/baize/images/bind01.png
  docs/en/docs/baize/images/bind02.png
  docs/en/docs/baize/images/bind03.png
  docs/en/docs/baize/images/bind04.png
  docs/en/docs/baize/images/change-ws.png
  docs/en/docs/baize/images/cluster.png
  docs/en/docs/baize/images/delete02.png
  docs/en/docs/baize/images/oam-overview.png
  docs/en/docs/baize/images/q-delete01.png
  docs/en/docs/baize/images/queue01.png
  docs/en/docs/baize/images/queue02.png
  docs/en/docs/baize/images/queue03.png
  docs/en/docs/baize/images/resource.png
  docs/en/docs/baize/images/workspace.png
  docs/en/docs/baize/intro/first.md
  docs/en/docs/baize/intro/install.md
  docs/en/docs/baize/oam/index.md
  docs/en/docs/baize/oam/queue/create.md
  docs/en/docs/baize/oam/queue/delete.md
  docs/en/docs/baize/oam/resource.md
  docs/zh/docs/baize/oam/queue/create.md
  docs/zh/docs/baize/oam/queue/delete.md
Labels: zh, en, i18n, baize, size/L

#4418 [en] Update baize/developer/dataset/
  docs/en/docs/baize/developer/dataset/create.md
  docs/en/docs/baize/images/dataset01.png
  docs/en/docs/baize/images/dataset02.png
  docs/en/docs/baize/images/dataset03.png
  docs/en/docs/baize/images/dataset04.png
  docs/en/docs/baize/images/dataset05.png
  docs/en/docs/baize/images/dataset06.png
  docs/en/docs/baize/images/dataset07.png
  docs/en/docs/baize/intro/release-notes.md
  docs/zh/docs/baize/developer/dataset/create.md
  docs/zh/docs/baize/images/dataset03.png
Labels: zh, en, i18n, baize, size/L

#4420 add Dynamic regulation
  docs/zh/docs/kpanda/user-guide/gpu/dynamic-regulation.md
  docs/zh/navigation.yml
Labels: kpanda, zh, size/L

#4421 update notebook-with-ssh.md and add its en versions
  docs/en/docs/baize/developer/notebooks/notebook-with-ssh.md
  docs/en/docs/baize/intro/first.md
  docs/en/docs/baize/intro/install.md
  docs/en/navigation.yml
  docs/zh/docs/baize/developer/notebooks/notebook-with-ssh.md
  docs/zh/docs/baize/intro/install.md
Labels: zh, en, i18n, baize, size/L

#4422 [en] Update audit docs in audit/gproduct-audit
  docs/en/docs/ghippo/user-guide/audit/gproduct-audit/amamba.md
  docs/en/docs/ghippo/user-guide/audit/gproduct-audit/ghippo.md
  docs/en/docs/ghippo/user-guide/audit/gproduct-audit/insight.md
  docs/en/docs/ghippo/user-guide/audit/gproduct-audit/kairship.md
  docs/en/docs/ghippo/user-guide/audit/gproduct-audit/kangaroo.md
  docs/en/docs/ghippo/user-guide/audit/gproduct-audit/kpanda.md
  docs/en/docs/ghippo/user-guide/audit/gproduct-audit/mcamel.md
  docs/en/docs/ghippo/user-guide/audit/gproduct-audit/mspider.md
  docs/en/docs/ghippo/user-guide/audit/gproduct-audit/skoala.md
  docs/en/docs/ghippo/user-guide/audit/gproduct-audit/virtnest.md
  docs/zh/docs/ghippo/user-guide/audit/gproduct-audit/insight.md
Labels: ghippo, zh, en, i18n, size/M

#4419 update gpu-metrics
  docs/zh/docs/kpanda/user-guide/gpu/gpu-metrics.md
Labels: kpanda, zh, size/L

#4423 [en] Update user-guide/gpu/gpu-metrics.md
  docs/en/docs/kpanda/user-guide/gpu/gpu-metrics.md
  docs/zh/docs/kpanda/user-guide/gpu/gpu-metrics.md
Labels: kpanda, zh, en, i18n, size/L

#4426 download: spidernet version updated to v0.15.0
  docs/zh/docs/download/modules/spidernet.md
Labels: download, zh, size/XS

#4427 kpanda add user guide of cluster oversold
  docs/zh/docs/kpanda/images/cluster-oversold-01.png
  docs/zh/docs/kpanda/images/cluster-oversold-02.png
  docs/zh/docs/kpanda/images/cluster-oversold-03.png
  docs/zh/docs/kpanda/images/cluster-oversold-04.png
  docs/zh/docs/kpanda/images/cluster-oversold-05.png
  docs/zh/docs/kpanda/user-guide/clusters/ cluster-oversold.md
  docs/zh/navigation.yml
Labels: kpanda, zh, size/M

#4428 update virtnest
  docs/zh/docs/virtnest/import/import-ubuntu.md
  docs/zh/navigation.yml
Labels: zh, virtnest, size/XS

#4430 kpanda add user guide certmgmt
  docs/zh/docs/kpanda/user-guide/clusters/k8s-cert-management.md
  docs/zh/navigation.yml
Labels: kpanda, zh, size/L

#4431 update cluster-oversold.md and k8s-cert.md
  docs/zh/docs/kpanda/user-guide/clusters/cluster-oversold.md
  docs/zh/docs/kpanda/user-guide/clusters/k8s-cert.md
  docs/zh/navigation.yml
Labels: kpanda, zh, size/M

#4432 [en] update tools/integrated-toolchain.md
  docs/en/docs/amamba/user-guide/tools/integrated-toolchain.md
  docs/zh/docs/amamba/user-guide/tools/integrated-toolchain.md
Labels: amamba, zh, en, i18n, size/M

#4433 update volume-ProvisionedIO.md and install/prereq.md
  docs/en/docs/storage/hwameistor/install/prereq.md
  docs/en/docs/storage/hwameistor/install/storage-eth.md
  docs/en/docs/storage/hwameistor/resources/volume-ProvisionedIO.md
  docs/zh/docs/storage/hwameistor/resources/volume-ProvisionedIO.md
Labels: zh, en, storage, i18n, size/L

#4434 update hwameistor/resources/expand.md
  docs/en/docs/storage/hwameistor/resources/expand.md
  docs/zh/docs/storage/hwameistor/resources/expand.md
Labels: zh, en, storage, i18n, size/L

#4435 [en] Add baize/developer/jobs/view.md
  docs/en/docs/baize/developer/jobs/view.md
  docs/en/docs/baize/images/view-wl01.png
  docs/en/docs/baize/images/view-wl02.png
  docs/en/docs/baize/images/view-wl03.png
  docs/en/docs/baize/images/view-wl04.png
  docs/en/navigation.yml
Labels: en, i18n, baize, size/L

#4436 上传helm模版安装cm-push插件增加提示 #4109
  docs/zh/docs/kpanda/user-guide/helm/upload-helm.md
Labels: kpanda, zh, size/XS

#4438 fix: Invalid link reference
  docs/en/docs/network/modules/spiderpool/install/install.md
  docs/zh/docs/network/modules/spiderpool/install/install.md
Labels: zh, en, network, i18n, size/XS

#4439 fix: Spiderpool installation jump in English mode failed.
  docs/en/navigation.yml
Labels: en, i18n, size/XS

#4441 New known problem
  docs/zh/docs/kpanda/images/imagequest.png
  docs/zh/docs/kpanda/intro/offline-upgrade.md
Labels: kpanda, zh, size/L

#4442 [en] Update ghippo/best-practice/cluster-for-multiws.md
  docs/en/docs/ghippo/best-practice/cluster-for-multiws.md
  docs/en/docs/ghippo/images/addcluster01.png
  docs/en/docs/ghippo/images/addcluster02.png
  docs/en/docs/ghippo/images/clusterlist01.png
  docs/en/docs/ghippo/images/ws01.png
  docs/en/docs/ghippo/images/ws02.png
  docs/en/docs/ghippo/images/ws03.png
  docs/zh/docs/ghippo/best-practice/cluster-for-multiws.md
  docs/zh/docs/ghippo/images/ws01.png
Labels: ghippo, zh, en, i18n, size/L

#4445 ghippo keycloak add req
  docs/zh/docs/ghippo/images/14.png
  docs/zh/docs/ghippo/troubleshooting/ghippo03.md
Labels: ghippo, zh, size/M

#4443 update kpanda/intro/offline-upgrade.md
  docs/zh/docs/kpanda/intro/offline-upgrade.md
Labels: kpanda, zh, size/XL

#4446 update ghippo/troubleshooting/ghippo03.md
  docs/en/docs/ghippo/images/14.png
  docs/en/docs/ghippo/troubleshooting/ghippo03.md
  docs/zh/docs/ghippo/troubleshooting/ghippo03.md
Labels: ghippo, zh, en, i18n, size/M

#4444 update upload-helm.md
  docs/en/docs/kpanda/images/upload-helm-01.png
  docs/en/docs/kpanda/images/upload-helm-02.png
  docs/en/docs/kpanda/user-guide/helm/upload-helm.md
  docs/zh/docs/kpanda/user-guide/helm/upload-helm.md
Labels: kpanda, zh, en, i18n, size/S

#4447 [en] update kpanda/intro/offline-upgrade.md
  docs/en/docs/kpanda/images/imagequest.png
  docs/en/docs/kpanda/intro/offline-upgrade.md
Labels: kpanda, en, i18n, size/XL

#4448 update kairship/policy/propagation.md
  docs/en/docs/kairship/policy/propagation.md
  docs/zh/docs/kairship/policy/propagation.md
Labels: kairship, zh, en, i18n, size/M

#4449 update docking.md
  docs/en/docs/ghippo/images/sso1.png
  docs/en/docs/ghippo/images/sso2.png
  docs/en/docs/ghippo/images/sso3.png
  docs/en/docs/ghippo/user-guide/access-control/docking.md
  docs/zh/docs/ghippo/images/sso2.png
  docs/zh/docs/ghippo/user-guide/access-control/docking.md
Labels: ghippo, zh, en, i18n, size/S

#4452 kant add edge observable
  docs/zh/docs/kant/images/edge-observable-01.png
  docs/zh/docs/kant/images/edge-observable-02.png
  docs/zh/docs/kant/images/edge-observable-03.png
  docs/zh/docs/kant/images/edge-observable-04.png
  docs/zh/docs/kant/images/edge-observable-05.png
  docs/zh/docs/kant/images/edge-observable-06.png
  docs/zh/docs/kant/images/edge-observable-07.png
  docs/zh/docs/kant/images/edge-observable-08.png
  docs/zh/docs/kant/images/edge-observable-09.png
  docs/zh/docs/kant/user-guide/edge-unit/edge-observable.md
  docs/zh/docs/kant/user-guide/node/join-rqmt.md
  docs/zh/navigation.yml
Labels: zh, kant, size/M

#4453 download: skoala version updated to v0.37.0
  docs/zh/docs/download/modules/skoala.md
Labels: download, zh, size/XS

#4455 fix: optimizate upgrade docs
  docs/en/docs/network/modules/spiderpool/upgrade.md
  docs/zh/docs/network/modules/spiderpool/upgrade.md
Labels: zh, en, network, i18n, size/XS

#4457 update multi-arch.md, gpu-metrics.md, and permissions
  docs/zh/docs/kpanda/best-practice/multi-arch.md
  docs/zh/docs/kpanda/user-guide/gpu/gpu-metrics.md
  docs/zh/docs/kpanda/user-guide/permissions/custom-kpanda-role.md
Labels: kpanda, zh, size/XS

#4459 kant update edge observable
  docs/zh/docs/kant/user-guide/edge-unit/edge-observable.md
Labels: zh, kant, size/XS, size/S

#4463 [en] Add edge-unit/edge-observable.md to kant
  docs/en/docs/kant/user-guide/edge-unit/edge-observable.md
  docs/en/navigation.yml
  docs/zh/docs/kant/user-guide/edge-unit/edge-observable.md
Labels: zh, en, kant, i18n, size/L

#4462 Update import-ubuntu.md for virtnest
  docs/zh/docs/virtnest/import/import-ubuntu.md
  docs/zh/navigation.yml
Labels: zh, virtnest, size/M

#4464 [en] Update 4 gpu docs
  docs/en/docs/kpanda/user-guide/gpu/ascend/Ascend_usage.md
  docs/en/docs/kpanda/user-guide/gpu/ascend/ascend_driver_install.md
  docs/en/docs/kpanda/user-guide/gpu/ascend_quickstart.md
  docs/en/docs/kpanda/user-guide/gpu/dynamic-regulation.md
  docs/en/docs/kpanda/user-guide/gpu/volcano/volcano-gang-scheduler.md
  docs/en/docs/kpanda/user-guide/gpu/volcano/volcano_user_guide.md
  docs/en/navigation.yml
  docs/zh/docs/kpanda/user-guide/gpu/ascend/ascend_driver_install.md
  docs/zh/docs/kpanda/user-guide/gpu/volcano/volcano-gang-scheduler.md
  docs/zh/navigation.yml
Labels: kpanda, zh, en, i18n, size/XL

#4465 [en] sync import-ubuntu.md
  docs/en/docs/virtnest/images/import-ubuntu01.png
  docs/en/docs/virtnest/images/import-ubuntu02.png
  docs/en/docs/virtnest/images/import-ubuntu03.png
  docs/en/docs/virtnest/images/import-ubuntu04.png
  docs/en/docs/virtnest/images/import-ubuntu05.png
  docs/en/docs/virtnest/images/import-ubuntu06.png
  docs/en/docs/virtnest/images/import-ubuntu07.png
  docs/en/docs/virtnest/import/import-ubuntu.md
Labels: en, virtnest, i18n, size/M

#4467 download: kangaroo version updated to 0.18.0
  docs/zh/docs/download/index.md
  docs/zh/docs/download/modules/kangaroo.md
Labels: download, zh, size/XS

#4469 【en】Sync multi-arch.md
  docs/en/docs/kpanda/best-practice/multi-arch.md
Labels: kpanda, en, i18n, size/XS

#4468 add ≡ to open the nav bar
  docs/zh/docs/amamba/faq/faq-jenkins.md
  docs/zh/docs/amamba/quickstart/contour-argorollout.md
  docs/zh/docs/amamba/user-guide/pipeline/install-jenkins.md
  docs/zh/docs/amamba/user-guide/release/blue-green.md
Labels: amamba, zh, size/M

#4470 【zh】"PCIe"更改 gpu-metrics.md
  docs/zh/docs/kpanda/user-guide/gpu/gpu-metrics.md
Labels: kpanda, zh, size/XS

#4471 docs: Added comparison with aws-cni and spiderpool
  docs/en/docs/network/modules/spiderpool/public-cloud/awscloud.md
  docs/zh/docs/network/modules/spiderpool/public-cloud/alibabacloud.md
Labels: zh, en, network, i18n, size/M

#4473 kpanda update add node for global cluster
  docs/zh/docs/kpanda/best-practice/add-worker-node-on-global.md
  docs/zh/docs/kpanda/images/best-practice-001.png
  docs/zh/docs/kpanda/images/cluster-setup-001.png
  docs/zh/docs/kpanda/user-guide/backup/install-velero.md
  docs/zh/docs/kpanda/user-guide/clusterops/cluster-oversold.md
  docs/zh/navigation.yml
Labels: kpanda, zh, size/M

#4476 update permissions/custom-kpanda-role.md
  docs/zh/docs/kpanda/user-guide/permissions/custom-kpanda-role.md
Labels: kpanda, zh, size/M

#4477 Add k8s 1.29 to daocloud-kcsp page
  docs/en/docs/blogs/221116-kcsp.md
  docs/en/docs/blogs/index.md
  docs/en/docs/dce/kcsp.md
  docs/en/docs/images/1.29.png
  docs/zh/docs/blogs/221008-dce-bg.md
  docs/zh/docs/blogs/index.md
  docs/zh/docs/dce/kcsp.md
  docs/zh/docs/images/1.29.png
Labels: zh, en, blogs, dce, i18n, size/M

#4478 add custommetrics
  docs/zh/docs/kpanda/user-guide/gpu/volcano/volcano_vgpu.md
  docs/zh/docs/kpanda/user-guide/images/custommetrics.png
  docs/zh/docs/kpanda/user-guide/images/rules.png
  docs/zh/docs/kpanda/user-guide/images/servicemonitor.png
  docs/zh/docs/kpanda/user-guide/scale/create-hpa.md
  docs/zh/docs/kpanda/user-guide/scale/custom-hpa.md
  docs/zh/navigation.yml
Labels: kpanda, zh, size/L

#4479 update kant video: ai-gesture-control to terminal device
  docs/zh/docs/videos/images/ai-gesture.jpg
  docs/zh/docs/videos/kant.md
Labels: zh, videos

#4480 fix nav to volcano-gang-scheduler.md
  docs/en/navigation.yml
  docs/zh/navigation.yml
Labels: zh, en, i18n, size/XS

#4482 upload 3 docs
  docs/zh/docs/middleware/elasticsearch/bestpractice/esin2IDC.md
  docs/zh/docs/middleware/elasticsearch/images/es2-01.png
  docs/zh/docs/middleware/elasticsearch/images/es2-02.png
  docs/zh/docs/middleware/elasticsearch/images/es2-03.png
  docs/zh/docs/middleware/kafka/bestpractice/kafkain2IDC.md
  docs/zh/docs/middleware/kafka/images/kafka2-01.png
  docs/zh/docs/middleware/mysql/faq/faq-mtsql-net.md
  docs/zh/docs/middleware/mysql/images/mysql-net.jpg
  docs/zh/docs/middleware/mysql/images/mysql-net01.png
  docs/zh/docs/middleware/mysql/images/mysql-net02.png
  docs/zh/docs/middleware/mysql/images/mysql-net03.png
  docs/zh/docs/middleware/mysql/images/mysql-net04.png
  docs/zh/navigation.yml
Labels: midware, zh, size/L

#4481 Fix images in volcano/volcano_user_guide.md
  docs/zh/docs/kpanda/user-guide/gpu/volcano/volcano_user_guide.md
  docs/zh/docs/kpanda/user-guide/images/volcano-01.png
  docs/zh/docs/kpanda/user-guide/images/volcano-02.png
  docs/zh/docs/kpanda/user-guide/images/volcano-03.png
Labels: kpanda, zh, size/S

#4484 [en] update prerequisites for kpanda
  docs/en/docs/kpanda/user-guide/backup/etcd-backup.md
  docs/en/docs/kpanda/user-guide/backup/install-velero.md
  docs/en/docs/kpanda/user-guide/clusters/delete-cluster.md
  docs/en/docs/kpanda/user-guide/clusters/integrate-rancher-cluster.md
  docs/en/docs/kpanda/user-guide/configmaps-secrets/create-configmap.md
  docs/en/docs/kpanda/user-guide/configmaps-secrets/create-secret.md
  docs/en/docs/kpanda/user-guide/custom-resources/create.md
  docs/en/docs/kpanda/user-guide/helm/helm-app.md
  docs/en/docs/kpanda/user-guide/helm/helm-repo.md
  docs/en/docs/kpanda/user-guide/scale/create-hpa.md
  docs/en/docs/kpanda/user-guide/scale/install-metrics-server.md
Labels: kpanda, en, i18n, size/L

#4487 update release-notes to 0.26.0
  docs/zh/docs/mspider/intro/release-notes.md
Labels: mspider, zh, size/M

#4485 baize: update release note with v0.5.0
  docs/en/docs/baize/intro/release-notes.md
  docs/zh/docs/baize/intro/release-notes.md
Labels: zh, en, i18n, baize, size/M

#4483 update hpa pages for kpanda
  docs/en/docs/kpanda/user-guide/scale/create-hpa.md
  docs/en/docs/kpanda/user-guide/scale/custom-hpa.md
  docs/en/docs/kpanda/user-guide/scale/hpa-cronhpa-compatibility-rules.md
  docs/en/navigation.yml
  docs/zh/docs/kpanda/user-guide/scale/custom-hpa.md
  docs/zh/docs/kpanda/user-guide/scale/hpa-cronhpa-compatibility-rules.md
Labels: kpanda, zh, en, i18n, size/L

#4472 [en] sync cluster-ns-auth
  docs/en/docs/kpanda/user-guide/images/create-depolyment.png
  docs/en/docs/kpanda/user-guide/images/permisson02.png
  docs/en/docs/kpanda/user-guide/permissions/custom-kpanda-role.md
  docs/en/navigation.yml
Labels: kpanda, en, i18n, size/L

#4488 update insight intro and trace pages
  docs/zh/docs/insight/images/service01.png
  docs/zh/docs/insight/images/servicemap.png
  docs/zh/docs/insight/intro/feature.md
  docs/zh/docs/insight/intro/permission.md
  docs/zh/docs/insight/user-guide/trace/service.md
  docs/zh/docs/insight/user-guide/trace/topology.md
Labels: insight, zh, size/M

#4489 [en] sync download pages
  docs/en/docs/download/index.md
  docs/en/docs/download/modules/ghippo.md
  docs/en/docs/download/modules/kangaroo.md
  docs/en/docs/download/modules/skoala.md
  docs/en/docs/download/modules/spidernet.md
  docs/en/docs/download/modules/virtnest.md
  docs/zh/docs/download/index.md
  docs/zh/docs/download/modules/kangaroo.md
Labels: download, zh, en, i18n, size/S

#4490 renew release-notes.md
  docs/en/docs/mspider/intro/release-notes.md
  docs/zh/docs/mspider/intro/release-notes.md
Labels: mspider, zh, en, i18n, size/M

#4491 add amamba tech overview
  docs/zh/docs/amamba/images/amamba-arch.excalidraw.png
  docs/zh/docs/amamba/images/amamba-argocd.excalidraw.png
  docs/zh/docs/amamba/images/amamba-devops.excalidraw.png
  docs/zh/docs/amamba/images/amamba-jenkins.excalidraw.png
  docs/zh/docs/amamba/images/amamba-kubevela.excalidraw.png
  docs/zh/docs/amamba/intro/tech-overview.md
Labels: amamba, zh, size/L

#4492 ghippo keycloak add req
  docs/zh/docs/ghippo/troubleshooting/ghippo03.md
Labels: ghippo, zh, size/S

#4493 update amamba/intro/tech-overview.md
  docs/zh/docs/amamba/intro/tech-overview.md
  docs/zh/navigation.yml
Labels: amamba, zh, size/L

#4494 ghippo v0.27.0 release notes
  docs/zh/docs/ghippo/intro/release-notes.md
Labels: ghippo, zh, size/S

#4497 docs: update amamba navigator
  docs/zh/navigation.yml
Labels: zh, size/M

#4495 virtnest add req
  docs/zh/docs/virtnest/intro/faq.md
Labels: zh, virtnest, size/S

#4499 [en] sync amamba/intro/tech-overview.md
  docs/en/docs/amamba/images/amamba-arch.excalidraw.png
  docs/en/docs/amamba/images/amamba-argocd.excalidraw.png
  docs/en/docs/amamba/images/amamba-devops.excalidraw.png
  docs/en/docs/amamba/images/amamba-jenkins.excalidraw.png
  docs/en/docs/amamba/images/amamba-kubevela.excalidraw.png
  docs/en/docs/amamba/intro/tech-overview.md
  docs/en/navigation.yml
  docs/zh/docs/amamba/intro/tech-overview.md
Labels: amamba, zh, en, i18n, size/L

#4500 [en] Add a blog: 240516-sig-docs.md
  docs/en/docs/blogs/240516-sig-docs.md
  docs/en/docs/blogs/images/writing.jpeg
  docs/en/docs/blogs/index.md
  docs/en/navigation.yml
  docs/zh/docs/blogs/240516-sig-docs.md
Labels: zh, en, blogs, i18n, size/L

#4498 [en] release-notes.md
  docs/en/docs/mspider/intro/release-notes.md
Labels: mspider, en, i18n, size/XL

#4501 update [en] ghippo release-notes
  docs/en/docs/ghippo/intro/release-notes.md
Labels: ghippo, en, i18n, size/M

#4502 [en] Sync virtnest/intro/faq.md
  docs/en/docs/virtnest/intro/faq.md
  docs/zh/docs/virtnest/intro/faq.md
Labels: zh, en, virtnest, i18n, size/M

#4504 [en] update nav and add gitops-secret.md
  docs/en/docs/amamba/offline-upgrade.md
  docs/en/docs/amamba/user-guide/gitops/gitops-secret.md
  docs/en/navigation.yml
  docs/zh/docs/amamba/offline-upgrade.md
  docs/zh/docs/amamba/user-guide/gitops/gitops-secret.md
  docs/zh/navigation.yml
Labels: amamba, zh, en, i18n, size/XL

#4503 optimize ghippo release-notes
  docs/zh/docs/ghippo/intro/release-notes.md
Labels: ghippo, zh, size/XL
