Repository DaoCloud/DaoCloud-docs, pull requests merged in 2024-02, with the labels that each got.

#3801 download: rocketmq version updated to v0.4.0
  docs/zh/docs/download/index.md
  docs/zh/docs/download/modules/middleware/rocketmq.md
Labels: download, zh, size/XS

#3800 download: elasticsearch version updated to v0.14.0
  docs/en/docs/download/index.md
  docs/en/docs/download/modules/middleware/elasticsearch.md
  docs/zh/docs/download/index.md
  docs/zh/docs/download/modules/middleware/elasticsearch.md
Labels: download, zh, en, i18n, size/XS

#3799 download: rabbitmq version updated to v0.17.0
  docs/zh/docs/download/index.md
  docs/zh/docs/download/modules/middleware/rabbitmq.md
Labels: download, zh, size/XS

#3796 download: kpanda version updated to 0.25.0
  docs/zh/docs/download/index.md
  docs/zh/docs/download/modules/kpanda.md
Labels: download, zh, size/XS

#3798 download: kafka version updated to v0.12.0
  docs/en/docs/download/index.md
  docs/en/docs/download/modules/middleware/kafka.md
  docs/zh/docs/download/index.md
  docs/zh/docs/download/modules/middleware/kafka.md
Labels: download, zh, en, i18n, size/XS

#3803 download: amamba version updated to v0.24.0
  docs/zh/docs/download/index.md
  docs/zh/docs/download/modules/amamba.md
Labels: download, zh, size/XS

#3807 Revert "download: amamba version updated to v0.24.0"
  docs/zh/docs/download/index.md
  docs/zh/docs/download/modules/amamba.md
Labels: download, zh, size/XS

#3804 download: amamba version updated to v0.24.0
  docs/zh/docs/download/index.md
  docs/zh/docs/download/modules/amamba.md
Labels: download, zh, size/XS

#3805 download: virtnest version updated to v0.6.0
  docs/zh/docs/download/modules/virtnest.md
Labels: download, zh, size/XS

#3808 update releasenote
  docs/zh/docs/kpanda/intro/release-notes.md
Labels: kpanda, zh, size/M

#3809 download: gmagpie version updated to v0.5.1
  docs/zh/docs/download/modules/gmagpie.md
Labels: download, zh, size/XS

#3810 Add a link to kcsp for DaoCloud Enterprise
  docs/en/docs/dce/kcsp.md
  docs/zh/docs/dce/kcsp.md
Labels: zh, en, dce, i18n, size/S

#3811 update release note
  docs/zh/docs/kangaroo/intro/release-notes.md
Labels: zh, kangaroo, size/XS

#3802 Add a blog: book of managing cloud native data
  docs/zh/docs/blogs/240203-book.md
  docs/zh/docs/blogs/images/data-book.gif
  docs/zh/docs/blogs/images/hwa-structure.png
  docs/zh/navigation.yml
Labels: zh, blogs, size/L

#3812 update middleware docs zh+en
  docs/en/docs/download/index.md
  docs/en/docs/download/modules/middleware/elasticsearch.md
  docs/en/docs/download/modules/middleware/kafka.md
  docs/en/docs/download/modules/middleware/minio.md
  docs/en/docs/download/modules/middleware/mongodb.md
  docs/en/docs/download/modules/middleware/mysql.md
  docs/en/docs/download/modules/middleware/postgresql.md
  docs/en/docs/download/modules/middleware/rabbitmq.md
  docs/en/docs/download/modules/middleware/redis.md
  docs/en/docs/download/modules/middleware/rocketmq.md
  docs/zh/docs/download/index.md
  docs/zh/docs/download/modules/middleware/elasticsearch.md
  docs/zh/docs/download/modules/middleware/kafka.md
  docs/zh/docs/download/modules/middleware/minio.md
  docs/zh/docs/download/modules/middleware/mongodb.md
  docs/zh/docs/download/modules/middleware/mysql.md
  docs/zh/docs/download/modules/middleware/postgresql.md
  docs/zh/docs/download/modules/middleware/rabbitmq.md
  docs/zh/docs/download/modules/middleware/redis.md
  docs/zh/docs/download/modules/middleware/rocketmq.md
Labels: download, zh, en, i18n, size/M

#3813 virtnest-releasenotes
  docs/zh/docs/virtnest/images/tep02.png
  docs/zh/docs/virtnest/images/tep03.png
  docs/zh/docs/virtnest/images/vm-tep.png
  docs/zh/docs/virtnest/install/install-dependency.md
  docs/zh/docs/virtnest/install/offline-install.md
  docs/zh/docs/virtnest/install/virtnest-agent.md
  docs/zh/docs/virtnest/intro/release-notes.md
  docs/zh/docs/virtnest/template/tep.md
Labels: zh, virtnest, size/M

#3806 download: skoala version updated to v0.33.2
  docs/zh/docs/download/modules/skoala.md
Labels: download, zh, size/XS

#3815 kairship-releasenotes
  docs/zh/docs/kairship/intro/release-notes.md
  docs/zh/docs/virtnest/vm/index.md
Labels: kairship, zh, virtnest, size/S

#3792 update blog: acclerate-compute
  docs/zh/docs/blogs/240201-ai-compute.md
  docs/zh/docs/blogs/index.md
  docs/zh/navigation.yml
Labels: zh, blogs, size/L

#3816 update kant download version to 0.8.1
  docs/en/docs/download/modules/kant.md
  docs/zh/docs/download/modules/kant.md
Labels: download, zh, en, i18n, size/M

#3817 download: addon version updated to v0.13.0
  docs/zh/docs/download/addon/history.md
  docs/zh/docs/download/addon/v0.13.0.md
  docs/zh/docs/download/index.md
Labels: download, zh, size/L

#3818 download: skoala version updated to v0.34.0
  docs/zh/docs/download/modules/skoala.md
Labels: download, zh, size/XS

#3819 download: addon version updated to v0.14.0
  docs/zh/docs/download/addon/history.md
  docs/zh/docs/download/addon/v0.14.0.md
  docs/zh/docs/download/index.md
Labels: download, zh, size/L

#3820 add a new article -oidc
  docs/zh/docs/skoala/best-practice/OIDC-auth.md
  docs/zh/docs/skoala/best-practice/ak-sk-demo.md
  docs/zh/docs/skoala/images/OIDC1-1.png
  docs/zh/docs/skoala/images/OIDC2-1.png
  docs/zh/docs/skoala/images/OIDC2-2.png
  docs/zh/docs/skoala/images/OIDC3-1.png
  docs/zh/docs/skoala/images/OIDC4-3.png
  docs/zh/docs/skoala/images/oidc4-1.png
  docs/zh/docs/skoala/images/oidc4-2.png
  docs/zh/navigation.yml
Labels: skoala, zh, size/M

#3821 add the note when using external es
  docs/zh/docs/install/commercial/external/external-middlewares.md
Labels: installer, zh, size/XS

#3786 update release note
  docs/zh/docs/insight/intro/releasenote.md
Labels: insight, zh, size/S

#3824 update release-notes to 0.33.2
  docs/zh/docs/skoala/intro/release-notes.md
Labels: skoala, zh, size/M

#3823 update nvidia dirver version
  docs/zh/docs/kpanda/user-guide/gpu/nvidia/install_nvidia_driver_of_operator.md
Labels: kpanda, zh, size/S

#3758 update installer-v0.15.0
  docs/zh/docs/install/commercial/start-install.md
  docs/zh/docs/install/community/k8s/k8s-dce-deploy.md
  docs/zh/docs/install/community/k8s/offline.md
  docs/zh/docs/install/community/k8s/online.md
  docs/zh/docs/install/community/kind/online.md
  docs/zh/docs/kpanda/best-practice/kubean-low-version.md
Labels: wip-do-not-merge, kpanda, installer, zh, size/S, size/M

#3826 update mcamel release note
  docs/zh/docs/middleware/elasticsearch/release-notes.md
  docs/zh/docs/middleware/kafka/release-notes.md
  docs/zh/docs/middleware/minio/release-notes.md
  docs/zh/docs/middleware/mongodb/release-notes.md
  docs/zh/docs/middleware/mysql/release-notes.md
  docs/zh/docs/middleware/postgresql/release-notes.md
  docs/zh/docs/middleware/rabbitmq/release-notes.md
  docs/zh/docs/middleware/redis/release-notes.md
  docs/zh/docs/middleware/rocketmq/release-notes.md
Labels: midware, zh, size/M

#3825 update kubean version
  docs/zh/docs/install/commercial/start-install.md
Labels: installer, zh, size/S

#3827 Update amamba offline upgrade docs
  docs/zh/docs/amamba/offline-upgrade.md
Labels: amamba, zh, size/L

#3775 upload the full blackbox.yaml
  docs/zh/docs/insight/user-guide/scenario-insight/probe-module.md
Labels: wip-do-not-merge, insight, zh, size/L

#3829 download: dce5 version updated to v0.15.0
  docs/zh/docs/download/business/dce5-installer-history.md
  docs/zh/docs/download/business/dce5-installer-v0.15.0.md
  docs/zh/docs/download/free/dce5-installer-history.md
  docs/zh/docs/download/free/dce5-installer-v0.15.0.md
  docs/zh/docs/download/index.md
Labels: download, zh, size/L

#3830 add rn
  docs/zh/docs/amamba/intro/release-notes.md
  docs/zh/docs/install/release-notes.md
  docs/zh/docs/storage/hwameistor/releasenotes.md
Labels: amamba, installer, zh, storage, size/M

#3831 virtnest-update releasenotes
  docs/zh/docs/virtnest/intro/release-notes.md
Labels: zh, virtnest, size/XS

#3832 download: addon version updated to v0.15.0
  docs/zh/docs/download/addon/history.md
  docs/zh/docs/download/addon/v0.15.0.md
  docs/zh/docs/download/index.md
Labels: download, zh, size/L

#3834 update spidernet releasenotes
  docs/zh/docs/network/intro/releasenotes.md
Labels: zh, network, size/S

#3836 update gpu_operator docs
  docs/zh/docs/kpanda/user-guide/gpu/nvidia/install_nvidia_driver_of_operator.md
Labels: kpanda, zh, size/S

#3837 update error
  docs/zh/docs/install/air-tag-download.md
  docs/zh/docs/install/commercial/start-install.md
  docs/zh/docs/install/install-tools.md
Labels: installer, zh, size/S

#3835 download: ghippo version updated to v0.24.0
  docs/zh/docs/download/index.md
  docs/zh/docs/download/modules/ghippo.md
Labels: download, zh, size/XS

#3839 correct mistakes
  docs/zh/docs/ghippo/user-guide/access-control/oidc.md
  docs/zh/docs/kpanda/user-guide/gpu/nvidia/install_nvidia_driver_of_operator.md
  docs/zh/docs/kpanda/user-guide/gpu/nvidia/upgrade_yum_source_centos7_9.md
Labels: kpanda, ghippo, zh, size/S, size/M

#3838 WeChat
  docs/zh/docs/ghippo/images/access.png
  docs/zh/docs/ghippo/images/mybusiness.png
  docs/zh/docs/ghippo/images/oauth2.png
  docs/zh/docs/ghippo/images/selfapplication.png
  docs/zh/docs/ghippo/user-guide/access-control/oauth2.0.md
  docs/zh/navigation.yml
Labels: ghippo, zh, size/M

#3841 download: insight version updated to v0.24.0
  docs/zh/docs/download/index.md
  docs/zh/docs/download/modules/insight.md
Labels: download, zh, size/XS

#3842 Add en blog: a new book about cloud-native data
  docs/en/docs/blogs/240203-book.md
  docs/en/docs/blogs/images/data-book.gif
  docs/en/docs/blogs/images/hwa-structure.png
  docs/en/docs/blogs/index.md
  docs/en/navigation.yml
  docs/zh/docs/blogs/index.md
  docs/zh/navigation.yml
Labels: zh, en, blogs, i18n, size/L

#3843 [en] Sync oauth2.0.md for ghippo
  docs/en/docs/ghippo/images/access.png
  docs/en/docs/ghippo/images/mybusiness.png
  docs/en/docs/ghippo/images/oauth2.png
  docs/en/docs/ghippo/images/selfapplication.png
  docs/en/docs/ghippo/user-guide/access-control/oauth2.0.md
  docs/en/navigation.yml
  docs/zh/docs/ghippo/user-guide/access-control/oauth2.0.md
Labels: ghippo, zh, en, i18n, size/M

#3844 update kubecon eu info
  docs/zh/docs/native/news/news-2024.md
Labels: zh, native, size/S

#3845 Add 20240130 release notes
  docs/zh/docs/dce/dce-rn/20231031.md
  docs/zh/docs/dce/dce-rn/20231130.md
  docs/zh/docs/dce/dce-rn/20231231.md
  docs/zh/docs/dce/dce-rn/20240130.md
  docs/zh/navigation.yml
Labels: zh, dce, size/L

#3846 Add instructions about git commands
  docs/zh/docs/native/knowledge/git/cmd.md
  docs/zh/navigation.yml
Labels: zh, native, size/S

#3847 add upload helm user guide
  docs/zh/docs/kpanda/images/upload-helm-01.png
  docs/zh/docs/kpanda/images/upload-helm-02.png
  docs/zh/docs/kpanda/user-guide/helm/README.md
  docs/zh/docs/kpanda/user-guide/helm/upload-helm.md
  docs/zh/navigation.yml
Labels: kpanda, zh, size/M

#3848 update helm/upload-helm.md for kpanda
  docs/zh/docs/kpanda/user-guide/helm/upload-helm.md
  docs/zh/navigation.yml
Labels: kpanda, zh, size/M

#3851 [en] update kubean-low-version.md for kpanda
  docs/en/docs/kpanda/best-practice/kubean-low-version.md
Labels: kpanda, en, i18n, size/XS

#3849 [en] Add dce-5.0 20240130 release notes
  docs/en/docs/dce/dce-rn/20230531.md
  docs/en/docs/dce/dce-rn/20230630.md
  docs/en/docs/dce/dce-rn/20230731.md
  docs/en/docs/dce/dce-rn/20230831.md
  docs/en/docs/dce/dce-rn/20231031.md
  docs/en/docs/dce/dce-rn/20231130.md
  docs/en/docs/dce/dce-rn/20231231.md
  docs/en/docs/dce/dce-rn/20240130.md
  docs/en/navigation.yml
  docs/zh/docs/dce/dce-rn/20240130.md
Labels: zh, en, dce, i18n, size/L

#3850 [en] Update installer pages to v0.15.0
  docs/en/docs/install/air-tag-download.md
  docs/en/docs/install/commercial/start-install.md
  docs/en/docs/install/community/k8s/k8s-dce-deploy.md
  docs/en/docs/install/community/k8s/offline.md
  docs/en/docs/install/community/k8s/online.md
  docs/en/docs/install/community/kind/online.md
  docs/en/docs/install/install-tools.md
  docs/en/docs/install/release-notes.md
Labels: installer, en, i18n, size/L

#3854 update release notes for amamba
  docs/en/docs/amamba/intro/release-notes.md
  docs/zh/docs/amamba/intro/release-notes.md
Labels: amamba, zh, en, i18n, size/S

#3855 update release notes for insight
  docs/en/docs/insight/intro/releasenote.md
Labels: insight, en, i18n, size/M

#3856 update release notes for kairship
  docs/en/docs/kairship/intro/release-notes.md
Labels: kairship, en, i18n, size/M

#3858 update release notes for kpanda
  docs/en/docs/kpanda/intro/release-notes.md
  docs/zh/docs/kpanda/intro/release-notes.md
Labels: kpanda, zh, en, i18n, size/M

#3859 update release notes for spidernet
  docs/en/docs/dce/dce-rn/20230531.md
  docs/en/docs/dce/dce-rn/20230630.md
  docs/en/docs/dce/dce-rn/20230731.md
  docs/en/docs/dce/dce-rn/20230831.md
  docs/en/docs/dce/dce-rn/20231031.md
  docs/en/docs/dce/dce-rn/20231130.md
  docs/en/docs/dce/dce-rn/20231231.md
  docs/en/docs/dce/dce-rn/20240130.md
  docs/en/docs/download/business/dce5-installer-v0.12.0.md
  docs/en/docs/download/business/dce5-installer-v0.3.27.md
  docs/en/docs/download/business/dce5-installer-v0.3.28.md
  docs/en/docs/download/business/dce5-installer-v0.3.29.md
  docs/en/docs/download/business/dce5-installer-v0.3.30.md
  docs/en/docs/download/business/dce5-installer-v0.4.0.md
  docs/en/docs/download/business/dce5-installer-v0.5.0.md
  docs/en/docs/download/business/dce5-installer-v0.6.0.md
  docs/en/docs/download/business/dce5-installer-v0.6.1.md
  docs/en/docs/download/business/dce5-installer-v0.7.0.md
  docs/en/docs/download/business/dce5-installer-v0.8.0.md
  docs/en/docs/download/modules/spidernet.md
  docs/en/docs/network/intro/releasenotes.md
  docs/en/navigation.yml
Labels: en, network, i18n, size/M

#3860 update release notes for skoala
  docs/en/docs/skoala/intro/release-notes.md
  docs/zh/docs/skoala/intro/release-notes.md
Labels: skoala, zh, en, i18n, size/M

#3861 update release notes for hwameistor
  docs/en/docs/storage/hwameistor/releasenotes.md
  docs/zh/docs/storage/hwameistor/releasenotes.md
Labels: zh, en, storage, i18n, size/L

#3862 update release notes for virtnest
  docs/en/docs/virtnest/intro/release-notes.md
  docs/zh/docs/virtnest/intro/release-notes.md
Labels: zh, en, virtnest, i18n, size/S

#3863 [en] update install/drbdinstall.md for hwameistor
  docs/en/docs/storage/hwameistor/install/drbdinstall.md
  docs/zh/docs/storage/hwameistor/install/drbdinstall.md
Labels: zh, en, storage, i18n, size/M

#3864 remove redundant words from installer release notes
  docs/zh/docs/install/release-notes.md
Labels: installer, zh, size/L

#3865 shorten titles in nav
  docs/en/navigation.yml
  docs/zh/navigation.yml
Labels: zh, en, i18n, size/S

#3866 update amamba offline-upgrade.md
  docs/en/docs/amamba/offline-upgrade.md
  docs/zh/docs/amamba/offline-upgrade.md
Labels: amamba, zh, en, i18n, size/XL

#3867 [en] Add 10+ baize docs in batch
  docs/en/docs/baize/best-practice/.gitkeep
  docs/en/docs/baize/developer/dataset/create.md
  docs/en/docs/baize/developer/dataset/delete.md
  docs/en/docs/baize/developer/index.md
  docs/en/docs/baize/developer/jobs/create.md
  docs/en/docs/baize/developer/jobs/delete.md
  docs/en/docs/baize/developer/jobs/view.md
  docs/en/docs/baize/developer/notebooks/create.md
  docs/en/docs/baize/developer/notebooks/delete.md
  docs/en/docs/baize/developer/notebooks/start-pause.md
  docs/en/docs/baize/developer/notebooks/view.md
  docs/en/docs/baize/intro/first.md
  docs/en/docs/baize/intro/index.md
  docs/en/docs/baize/intro/install.md
  docs/en/docs/baize/oam/index.md
  docs/en/docs/baize/oam/queue/create.md
  docs/en/docs/baize/oam/queue/delete.md
  docs/en/docs/baize/oam/resource.md
  docs/en/docs/baize/quickstart/developer/.gitkeep
  docs/en/docs/baize/quickstart/oam/.gitkeep
  docs/en/navigation.yml
Labels: en, i18n, baize, size/XL

#3870 update edgeunit status
  docs/zh/docs/kant/user-guide/edge-unit/manage-unit.md
Labels: zh, kant, size/S

#3869 fix-Addon Offline Packages discribe
  docs/zh/docs/install/commercial/start-install.md
Labels: installer, zh, size/XS

#3871 update edge-unit docs for kant
  docs/en/docs/kant/user-guide/edge-unit/create-external-unit.md
  docs/en/docs/kant/user-guide/edge-unit/create-internal-unit.md
  docs/en/docs/kant/user-guide/edge-unit/manage-unit.md
  docs/en/navigation.yml
  docs/zh/docs/kant/user-guide/edge-unit/create-external-unit.md
  docs/zh/docs/kant/user-guide/edge-unit/create-internal-unit.md
Labels: zh, en, kant, i18n, size/L

#3875 [en] add offline-upgrade to kant
  docs/en/docs/kant/intro/offline-upgrade.md
  docs/en/docs/kant/user-guide/edge-app/create-app.md
  docs/en/docs/kant/user-guide/edge-app/index.md
  docs/en/docs/kant/user-guide/edge-unit/manage-unit.md
  docs/en/docs/kant/user-guide/node-group/create-group.md
  docs/en/docs/kant/user-guide/node-group/manage-group.md
  docs/en/docs/kant/user-guide/node/batch-registration.md
  docs/en/docs/kant/user-guide/node/batch-upgrade.md
  docs/en/docs/kant/user-guide/node/manage-node.md
  docs/en/docs/kant/user-guide/node/managed-node.md
  docs/en/navigation.yml
  docs/zh/docs/kant/intro/offline-upgrade.md
Labels: zh, en, kant, i18n, size/L

#3876 [en] update gpu docs for kpanda
  docs/en/docs/kpanda/user-guide/clusters/integrate-rancher-cluster.md
  docs/en/docs/kpanda/user-guide/gpu/nvidia/install_nvidia_driver_of_operator.md
  docs/en/docs/kpanda/user-guide/gpu/nvidia/upgrade_yum_source_centos7_9.md
  docs/zh/docs/kpanda/user-guide/gpu/nvidia/install_nvidia_driver_of_operator.md
  docs/zh/docs/kpanda/user-guide/gpu/nvidia/upgrade_yum_source_centos7_9.md
Labels: kpanda, zh, en, i18n, size/L

#3877 Update features desc for mspider
  docs/en/docs/mspider/intro/features.md
  docs/zh/docs/mspider/intro/features.md
Labels: mspider, zh, en, i18n, size/XS

#3878 update kpanda FAQs
  docs/en/docs/kpanda/images/faq01.png
  docs/en/docs/kpanda/images/faq02.png
  docs/en/docs/kpanda/intro/faq.md
  docs/zh/docs/kpanda/intro/faq.md
Labels: kpanda, i18n, size/L

#3879 update comp-archi-ui/architect.md for mspider
  docs/en/docs/mspider/images/architecture1.svg
  docs/en/docs/mspider/intro/comp-archi-ui/architect.md
  docs/zh/docs/mspider/images/architecture1.svg
  docs/zh/docs/mspider/intro/comp-archi-ui/architect.md
Labels: mspider, zh, en, i18n, size/XL

#3880 update install/import.md
  docs/en/docs/install/import.md
  docs/zh/docs/install/import.md
Labels: installer, zh, en, i18n, size/M

#3882 [zh] sync mspider UI pic
  docs/en/docs/mspider/user-guide/sidecar-management/ns-sidecar.md
  docs/zh/docs/mspider/images/ns-sidecar001.png
  docs/zh/docs/mspider/images/ns-sidecar02.png
  docs/zh/docs/mspider/images/ns-sidecar03-01.png
  docs/zh/docs/mspider/images/ns-sidecar03.png
  docs/zh/docs/mspider/images/ns-sidecar04-01.png
  docs/zh/docs/mspider/images/ns-sidecar04.png
  docs/zh/docs/mspider/images/ns-sidecar05-01.png
  docs/zh/docs/mspider/images/ns-sidecar05.png
  docs/zh/docs/mspider/images/ns-sidecar07-01.png
  docs/zh/docs/mspider/images/ns-sidecar07.png
  docs/zh/docs/mspider/user-guide/sidecar-management/ns-sidecar.md
Labels: mspider, zh, size/M

#3885 fix kpanda typos
  docs/en/docs/kpanda/user-guide/gpu/images/vgpu-addon.png
  docs/en/docs/kpanda/user-guide/gpu/images/vgpu-pararm.png
  docs/en/docs/kpanda/user-guide/gpu/nvidia/vgpu/vgpu_addon.md
  docs/zh/docs/kpanda/user-guide/gpu/nvidia/vgpu/vgpu_addon.md
Labels: kpanda, zh, en, i18n, size/S

#3883 [en] update mspider images
  docs/en/docs/mspider/images/ns-sidecar02.png
  docs/en/docs/mspider/images/ns-sidecar03.png
  docs/en/docs/mspider/images/ns-sidecar04.png
  docs/en/docs/mspider/images/ns-sidecar05.png
  docs/en/docs/mspider/images/ns-sidecar06.png
  docs/en/docs/mspider/images/ns-sidecar07.png
  docs/en/docs/mspider/images/ns-sidecar08.png
  docs/en/docs/mspider/images/ns-sidecar09.png
  docs/en/docs/mspider/images/ns-sidecar10.png
  docs/en/docs/mspider/user-guide/sidecar-management/ns-sidecar.md
Labels: mspider, en, i18n, size/M

#3886 fix mspider typos
  docs/en/docs/mspider/user-guide/service-list/out-to-in.md
Labels: mspider, en, i18n, size/S

#3887 update mspider capacity
  docs/en/docs/mspider/user-guide/service-mesh/capacity-resources.md
  docs/zh/docs/mspider/user-guide/service-mesh/capacity-resources.md
Labels: mspider, zh, en, i18n, size/XS

#3888 download: amamba version updated to v0.24.0
  docs/zh/docs/download/index.md
  docs/zh/docs/download/modules/amamba.md
Labels: download, zh, size/XS

#3889 Add links to download word and pdf for dce5.0-20240130
  docs/en/docs/dce/dce-rn/20240130.md
  docs/zh/docs/dce/dce-rn/20240130.md
Labels: zh, en, dce, i18n, size/S

#3892 Revert "download: amamba version updated to v0.24.0"
  docs/zh/docs/download/index.md
  docs/zh/docs/download/modules/amamba.md
Labels: download, zh, size/XS

#3891 fix mspider typos
  docs/en/docs/mspider/user-guide/sidecar-management/sidecar-log-level.md
  docs/zh/docs/mspider/user-guide/sidecar-management/sidecar-log-level.md
Labels: mspider, zh, en, i18n, size/M

#3890 add kpanda images
  docs/en/docs/kpanda/images/ingress01.png
  docs/en/docs/kpanda/images/ingress02.png
  docs/en/docs/kpanda/images/ingress03.png
  docs/en/docs/kpanda/user-guide/network/create-ingress.md
  docs/zh/docs/kpanda/user-guide/network/create-ingress.md
Labels: kpanda, zh, en, i18n, size/M

#3893 fix mspider unescaped characters
  docs/zh/docs/mspider/user-guide/multicluster/cluster-interconnect.md
Labels: mspider, zh, size/M

#3894 fix mspider typos
  docs/en/docs/mspider/user-guide/service-list/out-to-in.md
  docs/en/docs/mspider/user-guide/service-mesh/capacity-resources.md
  docs/zh/docs/mspider/user-guide/service-list/out-to-in.md
  docs/zh/docs/mspider/user-guide/service-mesh/capacity-resources.md
Labels: mspider, zh, en, i18n, size/S

#3896 update amamaba outdated docs
  docs/zh/docs/amamba/user-guide/pipeline/config/agent.md
  docs/zh/docs/amamba/user-guide/pipeline/config/step.md
Labels: amamba, zh, size/M

#3897 fix kant YAML
  docs/en/docs/kant/user-guide/edge-network/deploy-edgemesh.md
  docs/zh/docs/kant/user-guide/edge-network/deploy-edgemesh.md
Labels: zh, en, kant, i18n, size/M

#3898 fix ghippo typos
  docs/en/docs/ghippo/images/security-policy.png
  docs/en/docs/ghippo/user-guide/platform-setting/security.md
  docs/zh/docs/ghippo/images/about05.png
  docs/zh/docs/ghippo/images/security-policy.png
  docs/zh/docs/ghippo/user-guide/platform-setting/about.md
  docs/zh/docs/ghippo/user-guide/platform-setting/security.md
Labels: ghippo, zh, en, i18n, size/XS

#3899 virtnest-fix/3335
  docs/zh/docs/virtnest/vm/index.md
Labels: zh, virtnest, size/S, size/L

#3900 update kant/intro/concepts
  docs/en/docs/kant/intro/concepts.md
  docs/zh/docs/kant/intro/concepts.md
Labels: zh, en, kant, i18n, size/L

#3901 add hpa and cronhpa cpmpatibility rules
  docs/zh/docs/kpanda/images/hpa-cronhpa-capability-rule-01.png
  docs/zh/docs/kpanda/user-guide/scale/hpa-cronhpa-compatibility-rules.md
  docs/zh/navigation.yml
Labels: kpanda, zh, size/M

#3902 add kpanda images
  docs/en/docs/kpanda/user-guide/images/createScale.png
  docs/en/docs/kpanda/user-guide/images/createVpaScale.png
  docs/en/docs/kpanda/user-guide/images/createVpaScale01.png
  docs/en/docs/kpanda/user-guide/images/createVpaScale02.png
  docs/en/docs/kpanda/user-guide/images/deploy01.png
  docs/en/docs/kpanda/user-guide/scale/create-vpa.md
  docs/zh/docs/kpanda/user-guide/images/createVpaScale.png
  docs/zh/docs/kpanda/user-guide/scale/create-vpa.md
Labels: kpanda, zh, en, i18n, size/M

#3903 [en] update baize/intro
  docs/en/docs/baize/intro/index.md
  docs/en/navigation.yml
  docs/zh/navigation.yml
Labels: zh, en, i18n, baize, size/M

#3904 download: dce5 version updated to v0.15.1
  docs/zh/docs/download/business/dce5-installer-history.md
  docs/zh/docs/download/business/dce5-installer-v0.15.1.md
  docs/zh/docs/download/free/dce5-installer-history.md
  docs/zh/docs/download/free/dce5-installer-v0.15.1.md
  docs/zh/docs/download/index.md
Labels: download, zh, size/L

#3906 update installer 0.15.1 rn
  docs/zh/docs/amamba/user-guide/pipeline/pipeline-syntax.md
  docs/zh/docs/install/release-notes.md
  docs/zh/navigation.yml
Labels: amamba, installer, zh, size/L

#3905 fix kairship typos
  docs/en/docs/kairship/workload/deployment.md
  docs/zh/docs/kairship/workload/deployment.md
Labels: kairship, zh, en, i18n, size/XS

#3907 [en] Update download to installer 0.15.1
  docs/en/docs/download/business/dce5-installer-history.md
  docs/en/docs/download/business/dce5-installer-v0.15.1.md
  docs/en/docs/download/free/dce5-installer-history.md
  docs/en/docs/download/free/dce5-installer-v0.15.1.md
  docs/en/docs/download/index.md
  docs/zh/docs/download/business/dce5-installer-history.md
  docs/zh/docs/download/business/dce5-installer-v0.15.1.md
  docs/zh/docs/download/free/dce5-installer-history.md
  docs/zh/docs/download/free/dce5-installer-v0.15.1.md
Labels: download, zh, en, i18n, size/L

#3909 [en] Add 3 docs to amamba and fix some terms
  docs/en/docs/amamba/quickstart/argocd-rollout.md
  docs/en/docs/amamba/user-guide/gitops/create-argo-cd.md
  docs/en/docs/amamba/user-guide/gitops/import-repo.md
  docs/en/docs/amamba/user-guide/pipeline/install-jenkins.md
  docs/en/docs/amamba/user-guide/pipeline/pipeline-syntax.md
  docs/en/docs/amamba/user-guide/pipeline/run/trigger.md
  docs/en/docs/amamba/user-guide/pipeline/view/view-pipeline.md
  docs/en/docs/amamba/user-guide/pipeline/view/view-run.md
  docs/en/docs/amamba/user-guide/release/canary.md
  docs/en/navigation.yml
  docs/zh/docs/amamba/user-guide/pipeline/pipeline-syntax.md
  docs/zh/docs/amamba/user-guide/pipeline/view/view-pipeline.md
  docs/zh/docs/amamba/user-guide/pipeline/view/view-run.md
Labels: amamba, zh, en, i18n, size/L

#3910 fix kant navigation
  docs/en/docs/kant/user-guide/node/manage-node.md
  docs/en/docs/kant/user-guide/node/managed-node.md
  docs/en/navigation.yml
  docs/zh/navigation.yml
Labels: zh, en, kant, i18n, size/XS

#3828 Update knownissues.md for insight/install
  docs/zh/docs/insight/quickstart/install/knownissues.md
Labels: insight, zh, size/S

#3908 update install links
  docs/en/docs/install/commercial/start-install.md
  docs/zh/docs/install/commercial/start-install.md
Labels: installer, zh, en, i18n, size/S

#3912 virtnest-fix3376
  docs/zh/docs/virtnest/install/index.md
Labels: zh, virtnest, size/XS

#3911 [en] Update insight folder structure and sync docs
  docs/en/docs/dce/get-started.md
  docs/en/docs/insight/best-practice/debug-log.md
  docs/en/docs/insight/best-practice/images/insight01.png
  docs/en/docs/insight/best-practice/images/insight02.png
  docs/en/docs/insight/best-practice/integration_deepflow.md
  docs/en/docs/insight/intro/releasenote.md
  docs/en/docs/insight/quickstart/install/knownissues.md
  docs/en/docs/insight/quickstart/otel/operator.md
  docs/en/docs/insight/reference/alertnotification.md
  docs/en/docs/insight/reference/lucene.md
  docs/en/docs/insight/reference/notify-helper.md
  docs/en/docs/insight/reference/tailing-sidecar.md
  docs/en/docs/insight/user-guide/alert-center/alert-template.md
  docs/en/docs/insight/user-guide/alert-center/inhibition.md
  docs/en/docs/insight/user-guide/collection-manag/probe-module.md
  docs/en/docs/insight/user-guide/data-query/log.md
  docs/en/docs/insight/user-guide/infra/cluster.md
  docs/en/docs/insight/user-guide/infra/container.md
  docs/en/docs/insight/user-guide/infra/event.md
  docs/en/docs/insight/user-guide/infra/namespace.md
  docs/en/docs/insight/user-guide/infra/node.md
  docs/en/docs/insight/user-guide/infra/probe.md
  docs/en/docs/insight/user-guide/scenario-insight/probe-module.md
  docs/en/docs/insight/user-guide/trace/service.md
  docs/en/docs/insight/user-guide/trace/topology-helper.md
  docs/en/docs/insight/user-guide/trace/topology.md
  docs/en/docs/insight/user-guide/trace/trace.md
  docs/en/docs/skoala/trad-ms/hosted/monitor/traces.md
  docs/en/docs/skoala/trad-ms/integrated/trace.md
  docs/en/docs/videos/insight.md
  docs/en/navigation.yml
  docs/zh/docs/dce/get-started.md
  docs/zh/docs/dce/terms.md
  docs/zh/docs/insight/intro/releasenote.md
  docs/zh/docs/insight/quickstart/install/knownissues.md
  docs/zh/docs/insight/quickstart/otel/operator.md
  docs/zh/docs/insight/reference/alertnotification.md
  docs/zh/docs/insight/reference/lucene.md
  docs/zh/docs/insight/reference/notify-helper.md
  docs/zh/docs/insight/reference/tailing-sidecar.md
  docs/zh/docs/insight/user-guide/alert-center/alert-template.md
  docs/zh/docs/insight/user-guide/alert-center/inhibition.md
  docs/zh/docs/insight/user-guide/alert-center/msg-template.md
  docs/zh/docs/insight/user-guide/collection-manag/probe-module.md
  docs/zh/docs/insight/user-guide/data-query/log.md
  docs/zh/docs/insight/user-guide/infra/cluster.md
  docs/zh/docs/insight/user-guide/infra/container.md
  docs/zh/docs/insight/user-guide/infra/event.md
  docs/zh/docs/insight/user-guide/infra/namespace.md
  docs/zh/docs/insight/user-guide/infra/node.md
  docs/zh/docs/insight/user-guide/infra/probe.md
  docs/zh/docs/insight/user-guide/trace/service.md
  docs/zh/docs/insight/user-guide/trace/topology-helper.md
  docs/zh/docs/insight/user-guide/trace/topology.md
  docs/zh/docs/insight/user-guide/trace/trace.md
  docs/zh/docs/skoala/trad-ms/hosted/monitor/traces.md
  docs/zh/docs/skoala/trad-ms/integrated/trace.md
  docs/zh/docs/videos/insight.md
  docs/zh/navigation.yml
Labels: insight, zh, en, i18n, size/XL

#3913 update jenkinsfile
  docs/zh/docs/amamba/user-guide/pipeline/pipeline-syntax.md
Labels: amamba, zh, size/S

#3915 Replace backticks with bold font in virtnest
  docs/en/docs/virtnest/import/import-ubuntu.md
  docs/en/docs/virtnest/install/index.md
  docs/en/docs/virtnest/install/install-dependency.md
  docs/en/docs/virtnest/install/offline-install.md
  docs/en/docs/virtnest/install/virtnest-agent.md
  docs/en/docs/virtnest/intro/index.md
  docs/en/docs/virtnest/template/index.md
  docs/en/docs/virtnest/template/tep.md
  docs/en/docs/virtnest/vm-image/index.md
  docs/en/docs/virtnest/vm/access.md
  docs/en/docs/virtnest/vm/create-secret.md
  docs/en/docs/virtnest/vm/index.md
  docs/en/docs/virtnest/vm/live-migration.md
  docs/en/docs/virtnest/vm/monitor.md
  docs/zh/docs/virtnest/import/import-ubuntu.md
  docs/zh/docs/virtnest/install/index.md
  docs/zh/docs/virtnest/install/install-dependency.md
  docs/zh/docs/virtnest/install/offline-install.md
  docs/zh/docs/virtnest/install/virtnest-agent.md
  docs/zh/docs/virtnest/template/index.md
  docs/zh/docs/virtnest/template/tep.md
  docs/zh/docs/virtnest/vm-image/index.md
  docs/zh/docs/virtnest/vm/access.md
  docs/zh/docs/virtnest/vm/create-secret.md
  docs/zh/docs/virtnest/vm/index.md
  docs/zh/docs/virtnest/vm/live-migration.md
  docs/zh/docs/virtnest/vm/monitor.md
  docs/zh/docs/virtnest/vm/nodeport.md
  docs/zh/navigation.yml
Labels: zh, en, virtnest, i18n, size/L

#3914 Update mspider index
  docs/en/docs/mspider/intro/index.md
  docs/zh/docs/mspider/intro/index.md
Labels: mspider, zh, en, i18n, size/S

#3916 replace backticks with bolt font for trial channel
  docs/en/docs/trial/index.md
  docs/zh/docs/trial/index.md
Labels: zh, en, trial, i18n, size/S

#3918 Replace backticks with bold font in native/git
  docs/zh/docs/native/knowledge/git/2auth.md
  docs/zh/docs/native/knowledge/git/github.md
  docs/zh/docs/native/knowledge/git/index.md
  docs/zh/docs/native/knowledge/git/lsync.md
  docs/zh/docs/native/knowledge/git/proxy.md
  docs/zh/docs/native/knowledge/git/rebase.md
  docs/zh/docs/native/knowledge/git/ui-preview.md
  docs/zh/docs/native/knowledge/git/vscode.md
Labels: zh, native, size/M

#3919 Update nav by following software ui
  docs/en/docs/install/index.md
  docs/en/docs/skoala/quickstart/select-workspace.md
  docs/en/docs/videos/kpanda.md
  docs/en/navigation.yml
  docs/zh/navigation.yml
Labels: zh, en, i18n, size/S

#3920 Update link text and add buttons on video pages
  docs/zh/docs/videos/amamba.md
  docs/zh/docs/videos/ghippo.md
  docs/zh/docs/videos/insight.md
  docs/zh/docs/videos/install.md
  docs/zh/docs/videos/kairship.md
  docs/zh/docs/videos/kangaroo.md
  docs/zh/docs/videos/kant.md
  docs/zh/docs/videos/kpanda.md
  docs/zh/docs/videos/mcamel.md
  docs/zh/docs/videos/mspider.md
  docs/zh/docs/videos/network.md
  docs/zh/docs/videos/skoala.md
  docs/zh/docs/videos/use-cases.md
Labels: videos, size/L

#3921 add kpanda-clusters settings and createns images
  docs/en/docs/kpanda/user-guide/clusterops/cluster-settings.md
  docs/en/docs/kpanda/user-guide/images/crd01.png
  docs/en/docs/kpanda/user-guide/images/ns00.png
  docs/en/docs/kpanda/user-guide/images/ns01.png
  docs/en/docs/kpanda/user-guide/images/ns02.png
  docs/en/docs/kpanda/user-guide/images/ns03.png
  docs/en/docs/kpanda/user-guide/images/ns04.png
  docs/en/docs/kpanda/user-guide/images/settings01.png
  docs/en/docs/kpanda/user-guide/images/settings02.png
  docs/en/docs/kpanda/user-guide/namespaces/createns.md
Labels: kpanda, en, i18n, size/M

#3923 update argument to install_nvidia_driver_of_operator.md
  docs/zh/docs/kpanda/user-guide/gpu/nvidia/install_nvidia_driver_of_operator.md
Labels: kpanda, zh, size/XS

#3922 add a note to install_nvidia_driver_of_operator.md
  docs/zh/docs/kpanda/user-guide/gpu/nvidia/install_nvidia_driver_of_operator.md
Labels: kpanda, zh, size/XS, size/S

#3925 add kpanda namespace exclusive nodes images
  docs/en/docs/kpanda/images/exclusive01.png
  docs/en/docs/kpanda/images/exclusive02.png
  docs/en/docs/kpanda/images/exclusive03.png
  docs/en/docs/kpanda/images/exclusive04.png
  docs/en/docs/kpanda/images/exclusive05.png
  docs/en/docs/kpanda/images/exclusive06.png
  docs/en/docs/kpanda/images/exclusive07.png
  docs/en/docs/kpanda/images/exclusive08.png
  docs/en/docs/kpanda/user-guide/namespaces/exclusive.md
  docs/zh/docs/kpanda/user-guide/namespaces/exclusive.md
Labels: kpanda, zh, en, i18n, size/L

#3924 update native news 2024
  docs/en/docs/native/news/news-2024.md
  docs/en/navigation.yml
  docs/zh/docs/native/news/news-2024.md
Labels: zh, en, native, i18n, size/M

#3927 add kpanda podsecurity images
  docs/en/docs/kpanda/user-guide/images/ps01.png
  docs/en/docs/kpanda/user-guide/images/ps02.png
  docs/en/docs/kpanda/user-guide/images/ps03.png
  docs/en/docs/kpanda/user-guide/images/ps04.png
  docs/en/docs/kpanda/user-guide/images/ps05.png
  docs/en/docs/kpanda/user-guide/namespaces/podsecurity.md
  docs/zh/docs/kpanda/user-guide/namespaces/podsecurity.md
Labels: kpanda, zh, en, i18n, size/M

#3926 Replace backticks with bold font in mspider
  docs/zh/docs/mspider/best-practice/optimize-sidecar-resource.md
  docs/zh/docs/mspider/best-practice/use-custom-workloads.md
  docs/zh/docs/mspider/best-practice/use-egress-and-authorized-policy.md
  docs/zh/docs/mspider/install/install.md
  docs/zh/docs/mspider/install/istio-update.md
  docs/zh/docs/mspider/install/offline-upgrade.md
  docs/zh/docs/mspider/install/sidecar-update.md
  docs/zh/docs/mspider/intro/app-spec.md
  docs/zh/docs/mspider/intro/release-notes.md
  docs/zh/docs/mspider/test/ocp.md
  docs/zh/docs/mspider/test/openshift.md
  docs/zh/docs/mspider/troubleshoot/always-in-creating.md
  docs/zh/docs/mspider/troubleshoot/cannot-find-cluster.md
  docs/zh/docs/mspider/troubleshoot/cluster-interconnect.md
  docs/zh/docs/mspider/troubleshoot/dce4.0-issues.md
  docs/zh/docs/mspider/troubleshoot/failed-to-add-cluster.md
  docs/zh/docs/mspider/troubleshoot/failed-to-delete.md
  docs/zh/docs/mspider/troubleshoot/hosted-mesh-errors.md
  docs/zh/docs/mspider/troubleshoot/sidecar-memory-err.md
  docs/zh/docs/mspider/troubleshoot/sidecar.md
  docs/zh/docs/mspider/user-guide/cluster-management/README.md
  docs/zh/docs/mspider/user-guide/cluster-management/join-clus.md
  docs/zh/docs/mspider/user-guide/cluster-management/remove-clus.md
  docs/zh/docs/mspider/user-guide/gateway-instance/create.md
  docs/zh/docs/mspider/user-guide/gateway-instance/delete.md
  docs/zh/docs/mspider/user-guide/gateway-instance/gateway-in-external-mesh.md
  docs/zh/docs/mspider/user-guide/mesh-config/component-hpa.md
  docs/zh/docs/mspider/user-guide/mesh-config/custom-res.md
  docs/zh/docs/mspider/user-guide/mesh-config/istio-resources.md
  docs/zh/docs/mspider/user-guide/mesh-config/tls-secret.md
  docs/zh/docs/mspider/user-guide/multicluster/gray-scale-release.md
  docs/zh/docs/mspider/user-guide/multicluster/multi-cluster-net.md
  docs/zh/docs/mspider/user-guide/multicluster/multicluster-install.md
  docs/zh/docs/mspider/user-guide/multicluster/traffic-branch.md
  docs/zh/docs/mspider/user-guide/security/README.md
  docs/zh/docs/mspider/user-guide/security/authorize.md
  docs/zh/docs/mspider/user-guide/security/mtls.md
  docs/zh/docs/mspider/user-guide/security/params.md
  docs/zh/docs/mspider/user-guide/security/peer.md
  docs/zh/docs/mspider/user-guide/security/request.md
  docs/zh/docs/mspider/user-guide/service-list/README.md
  docs/zh/docs/mspider/user-guide/service-list/diagnose.md
  docs/zh/docs/mspider/user-guide/service-list/out-to-in.md
  docs/zh/docs/mspider/user-guide/service-list/service-entry.md
  docs/zh/docs/mspider/user-guide/service-mesh/README.md
  docs/zh/docs/mspider/user-guide/service-mesh/delete.md
  docs/zh/docs/mspider/user-guide/service-mesh/external-mesh.md
  docs/zh/docs/mspider/user-guide/service-mesh/params.md
  docs/zh/docs/mspider/user-guide/sidecar-management/passthrough.md
  docs/zh/docs/mspider/user-guide/sidecar-management/workload-sidecar.md
  docs/zh/docs/mspider/user-guide/traffic-governance/destination-rules.md
  docs/zh/docs/mspider/user-guide/traffic-governance/gateway-rules.md
  docs/zh/docs/mspider/user-guide/traffic-governance/virtual-service.md
  docs/zh/docs/mspider/user-guide/traffic-governance/vsparams.md
  docs/zh/docs/mspider/user-guide/traffic-monitor/conn-topo.md
Labels: mspider, zh, size/XL

#3928 Update insight best practices
  docs/en/docs/insight/user-guide/alert-center/alert-policy.md
  docs/en/docs/insight/user-guide/collection-manag/metric-collect.md
  docs/en/docs/insight/user-guide/collection-manag/service-monitor.md
  docs/zh/docs/insight/best-practice/find_root_cause.md
  docs/zh/docs/insight/best-practice/insight-kafka.md
  docs/zh/docs/insight/best-practice/integration_deepflow.md
  docs/zh/docs/insight/best-practice/sw-to-otel.md
  docs/zh/docs/insight/user-guide/alert-center/alert-policy.md
  docs/zh/docs/insight/user-guide/alert-center/alert-template.md
  docs/zh/docs/insight/user-guide/alert-center/inhibition.md
  docs/zh/docs/insight/user-guide/collection-manag/metric-collect.md
  docs/zh/docs/insight/user-guide/collection-manag/service-monitor.md
Labels: insight, zh, en, i18n, size/L

#3929 add kpanda add/delete node images
  docs/en/docs/kpanda/user-guide/images/addnode01.png
  docs/en/docs/kpanda/user-guide/images/addnode02.png
  docs/en/docs/kpanda/user-guide/images/addnode03.png
  docs/en/docs/kpanda/user-guide/images/deletenode01.png
  docs/en/docs/kpanda/user-guide/images/deletenode02.png
  docs/en/docs/kpanda/user-guide/nodes/add-node.md
  docs/en/docs/kpanda/user-guide/nodes/delete-node.md
Labels: size/M

#3930 add kpanda node scheduling/taint images
  docs/en/docs/kpanda/user-guide/images/schedule01.png
  docs/en/docs/kpanda/user-guide/images/schedule02.png
  docs/en/docs/kpanda/user-guide/images/schedule03.png
  docs/en/docs/kpanda/user-guide/images/taint01.png
  docs/en/docs/kpanda/user-guide/images/taint02.png
  docs/en/docs/kpanda/user-guide/images/taint03.png
  docs/en/docs/kpanda/user-guide/nodes/schedule.md
  docs/en/docs/kpanda/user-guide/nodes/taints.md
Labels: kpanda, en, i18n, size/M

#3931 add kpanda node details images
  docs/en/docs/kpanda/user-guide/images/labels01.png
  docs/en/docs/kpanda/user-guide/images/labels02.png
  docs/en/docs/kpanda/user-guide/images/node-details01.png
  docs/en/docs/kpanda/user-guide/images/node-details02.png
  docs/en/docs/kpanda/user-guide/images/node-details03.png
  docs/en/docs/kpanda/user-guide/nodes/labels-annotations.md
  docs/en/docs/kpanda/user-guide/nodes/node-details.md
  docs/zh/docs/kpanda/user-guide/nodes/node-details.md
Labels: kpanda, zh, en, i18n, size/M

#3933 add an info note to alert-policy.md
  docs/zh/docs/insight/user-guide/alert-center/alert-policy.md
Labels: insight, zh, size/XS

#3932 add kpanda create deployment images
  docs/en/docs/kpanda/user-guide/images/deploy01.png
  docs/en/docs/kpanda/user-guide/images/deploy02.png
  docs/en/docs/kpanda/user-guide/images/deploy02Yaml.png
  docs/en/docs/kpanda/user-guide/images/deploy03Yaml.png
  docs/en/docs/kpanda/user-guide/images/deploy04.png
  docs/en/docs/kpanda/user-guide/images/deploy05.png
  docs/en/docs/kpanda/user-guide/images/deploy06.png
  docs/en/docs/kpanda/user-guide/images/deploy07.png
  docs/en/docs/kpanda/user-guide/images/deploy08.png
  docs/en/docs/kpanda/user-guide/images/deploy09.png
  docs/en/docs/kpanda/user-guide/images/deploy10.png
  docs/en/docs/kpanda/user-guide/images/deploy12.png
  docs/en/docs/kpanda/user-guide/images/deploy13.png
  docs/en/docs/kpanda/user-guide/images/deploy14.png
  docs/en/docs/kpanda/user-guide/images/deploy15.png
  docs/en/docs/kpanda/user-guide/images/deploy16.png
  docs/en/docs/kpanda/user-guide/images/deploy17.png
  docs/en/docs/kpanda/user-guide/images/deploy18.png
  docs/en/docs/kpanda/user-guide/workloads/create-deployment.md
Labels: kpanda, en, i18n, size/L

#3935 add kpanda create statefulset images
  docs/en/docs/kpanda/user-guide/images/state01.png
  docs/en/docs/kpanda/user-guide/images/state02.png
  docs/en/docs/kpanda/user-guide/images/state02Yaml.png
  docs/en/docs/kpanda/user-guide/images/state03yaml.png
  docs/en/docs/kpanda/user-guide/images/state05.png
  docs/en/docs/kpanda/user-guide/images/state06.png
  docs/en/docs/kpanda/user-guide/images/state09.png
  docs/en/docs/kpanda/user-guide/images/state10.png
  docs/en/docs/kpanda/user-guide/images/state11.png
  docs/en/docs/kpanda/user-guide/images/state12.png
  docs/en/docs/kpanda/user-guide/images/state14.png
  docs/en/docs/kpanda/user-guide/images/state15.png
  docs/en/docs/kpanda/user-guide/images/state16.png
  docs/en/docs/kpanda/user-guide/images/state17.png
  docs/en/docs/kpanda/user-guide/workloads/create-deployment.md
  docs/en/docs/kpanda/user-guide/workloads/create-statefulset.md
  docs/zh/docs/kpanda/user-guide/workloads/create-statefulset.md
Labels: kpanda, zh, en, i18n, size/L

#3936 [en] Replace backticks with bold font in mspider
  docs/en/docs/mspider/best-practice/optimize-sidecar-resource.md
  docs/en/docs/mspider/best-practice/use-custom-workloads.md
  docs/en/docs/mspider/best-practice/use-egress-and-authorized-policy.md
  docs/en/docs/mspider/install/install.md
  docs/en/docs/mspider/install/istio-update.md
  docs/en/docs/mspider/install/offline-upgrade.md
  docs/en/docs/mspider/install/sidecar-update.md
  docs/en/docs/mspider/intro/app-spec.md
  docs/en/docs/mspider/intro/comp-archi-ui/features-on-ui.md
  docs/en/docs/mspider/intro/release-notes.md
  docs/en/docs/mspider/test/ocp.md
  docs/en/docs/mspider/test/openshift.md
  docs/en/docs/mspider/troubleshoot/always-in-creating.md
  docs/en/docs/mspider/troubleshoot/cannot-find-cluster.md
  docs/en/docs/mspider/troubleshoot/dce4.0-issues.md
  docs/en/docs/mspider/troubleshoot/failed-to-add-cluster.md
  docs/en/docs/mspider/troubleshoot/failed-to-delete.md
  docs/en/docs/mspider/troubleshoot/hosted-mesh-errors.md
  docs/en/docs/mspider/troubleshoot/sidecar.md
  docs/en/docs/mspider/user-guide/cluster-management/README.md
  docs/en/docs/mspider/user-guide/cluster-management/join-clus.md
  docs/en/docs/mspider/user-guide/cluster-management/remove-clus.md
  docs/en/docs/mspider/user-guide/gateway-instance/create.md
  docs/en/docs/mspider/user-guide/gateway-instance/gateway-in-external-mesh.md
  docs/en/docs/mspider/user-guide/mesh-config/component-hpa.md
  docs/en/docs/mspider/user-guide/mesh-config/custom-res.md
  docs/en/docs/mspider/user-guide/mesh-config/istio-resources.md
  docs/en/docs/mspider/user-guide/mesh-config/tls-secret.md
  docs/en/docs/mspider/user-guide/multicluster/cluster-interconnect.md
  docs/en/docs/mspider/user-guide/multicluster/gray-scale-release.md
  docs/en/docs/mspider/user-guide/multicluster/multi-cluster-net.md
  docs/en/docs/mspider/user-guide/multicluster/multicluster-install.md
  docs/en/docs/mspider/user-guide/multicluster/traffic-branch.md
  docs/en/docs/mspider/user-guide/security/README.md
  docs/en/docs/mspider/user-guide/security/authorize.md
  docs/en/docs/mspider/user-guide/security/mtls.md
  docs/en/docs/mspider/user-guide/security/params.md
  docs/en/docs/mspider/user-guide/security/peer.md
  docs/en/docs/mspider/user-guide/security/request.md
  docs/en/docs/mspider/user-guide/service-list/README.md
  docs/en/docs/mspider/user-guide/service-list/diagnose.md
  docs/en/docs/mspider/user-guide/service-list/service-entry.md
  docs/en/docs/mspider/user-guide/service-mesh/README.md
  docs/en/docs/mspider/user-guide/service-mesh/delete.md
  docs/en/docs/mspider/user-guide/service-mesh/external-mesh.md
  docs/en/docs/mspider/user-guide/service-mesh/params.md
  docs/en/docs/mspider/user-guide/sidecar-management/passthrough.md
  docs/en/docs/mspider/user-guide/sidecar-management/workload-sidecar.md
  docs/en/docs/mspider/user-guide/traffic-governance/destination-rules.md
  docs/en/docs/mspider/user-guide/traffic-governance/gateway-rules.md
  docs/en/docs/mspider/user-guide/traffic-governance/virtual-service.md
  docs/en/docs/mspider/user-guide/traffic-governance/vsparams.md
  docs/en/docs/mspider/user-guide/traffic-monitor/conn-topo.md
  docs/zh/docs/mspider/intro/app-spec.md
Labels: mspider, zh, en, i18n, size/XL

#3937 add kpanda create daemonset images
  docs/en/docs/kpanda/user-guide/images/daemon006.png
  docs/en/docs/kpanda/user-guide/images/daemon01.png
  docs/en/docs/kpanda/user-guide/images/daemon02.png
  docs/en/docs/kpanda/user-guide/images/daemon02Yaml.png
  docs/en/docs/kpanda/user-guide/images/daemon03Yaml.png
  docs/en/docs/kpanda/user-guide/images/daemon05.png
  docs/en/docs/kpanda/user-guide/images/daemon06.png
  docs/en/docs/kpanda/user-guide/images/daemon12.png
  docs/en/docs/kpanda/user-guide/images/daemon14.png
  docs/en/docs/kpanda/user-guide/images/daemon15.png
  docs/en/docs/kpanda/user-guide/images/daemon16.png
  docs/en/docs/kpanda/user-guide/images/daemon17.png
  docs/en/docs/kpanda/user-guide/workloads/create-daemonset.md
Labels: kpanda, en, i18n, size/L

#3938 fix reverse proxy documentation
  docs/zh/docs/ghippo/install/reverse-proxy.md
Labels: ghippo, zh, size/M

#3940 add kpanda create job images
  docs/en/docs/kpanda/user-guide/images/job01.png
  docs/en/docs/kpanda/user-guide/images/job02-1.png
  docs/en/docs/kpanda/user-guide/images/job02.png
  docs/en/docs/kpanda/user-guide/images/job03.png
  docs/en/docs/kpanda/user-guide/images/job04.png
  docs/en/docs/kpanda/user-guide/images/job06.png
  docs/en/docs/kpanda/user-guide/images/job07.png
  docs/en/docs/kpanda/user-guide/images/job08.png
  docs/en/docs/kpanda/user-guide/images/job09.png
  docs/en/docs/kpanda/user-guide/workloads/create-job.md
  docs/zh/docs/kpanda/user-guide/workloads/create-job.md
Labels: kpanda, zh, en, i18n, size/L

#3943 update kpanda create cronjob images
  docs/en/docs/kpanda/user-guide/images/cronjob01.png
  docs/en/docs/kpanda/user-guide/images/cronjob02.png
  docs/en/docs/kpanda/user-guide/images/cronjob03.png
  docs/en/docs/kpanda/user-guide/images/cronjob04.png
  docs/en/docs/kpanda/user-guide/images/cronjob05.png
  docs/en/docs/kpanda/user-guide/images/cronjob06.png
  docs/en/docs/kpanda/user-guide/images/cronjob07.png
  docs/en/docs/kpanda/user-guide/images/cronjob08.png
  docs/en/docs/kpanda/user-guide/images/cronjob09.png
  docs/en/docs/kpanda/user-guide/images/cronjob10.png
  docs/en/docs/kpanda/user-guide/workloads/create-cronjob.md
  docs/en/docs/kpanda/user-guide/workloads/create-job.md
  docs/zh/docs/kpanda/user-guide/images/cronjob02.png
  docs/zh/docs/kpanda/user-guide/images/cronjob03.png
  docs/zh/docs/kpanda/user-guide/images/cronjob04.png
  docs/zh/docs/kpanda/user-guide/images/cronjob12.png
  docs/zh/docs/kpanda/user-guide/workloads/create-cronjob.md
Labels: size/L

#3944 sync kpanda install knative doc
  docs/en/docs/kpanda/user-guide/images/knative-install-1.png
  docs/en/docs/kpanda/user-guide/images/knative-install-2.png
  docs/en/docs/kpanda/user-guide/images/knative-install-3.png
  docs/en/docs/kpanda/user-guide/scale/knative/install.md
  docs/en/navigation.yml
  docs/zh/docs/kpanda/user-guide/scale/knative/install.md
  docs/zh/navigation.yml
Labels: kpanda, zh, en, i18n, size/M

#3945 add kpanda install metrics-server images
  docs/en/docs/kpanda/user-guide/images/createScale04.png
  docs/en/docs/kpanda/user-guide/images/createScale05.png
  docs/en/docs/kpanda/user-guide/images/createScale06.png
  docs/en/docs/kpanda/user-guide/scale/install-metrics-server.md
  docs/zh/docs/kpanda/user-guide/scale/install-metrics-server.md
Labels: kpanda, zh, en, i18n, size/S

#3946 add user guide of cluster scheduler plugin
  docs/zh/docs/kpanda/images/cluster-scheduler-plugin-01.png
  docs/zh/docs/kpanda/images/cluster-scheduler-plugin-02.png
  docs/zh/docs/kpanda/images/cluster-scheduler-plugin-03.png
  docs/zh/docs/kpanda/user-guide/clusters/cluster-scheduler-plugin.md
  docs/zh/navigation.yml
Labels: kpanda, zh, size/L

#3948 add chart-syncer
  docs/zh/docs/install/install-tools.md
Labels: installer, zh, size/XS

#3947 add kpanda kubernetes-cronhpa-controller images
  docs/en/docs/kpanda/user-guide/images/installcronhpa.png
  docs/en/docs/kpanda/user-guide/images/installcronhpa1.png
  docs/en/docs/kpanda/user-guide/images/installcronhpa2.png
  docs/en/docs/kpanda/user-guide/scale/install-cronhpa.md
  docs/en/docs/kpanda/user-guide/scale/knative/install.md
  docs/en/navigation.yml
  docs/zh/docs/kpanda/user-guide/scale/knative/install.md
  docs/zh/navigation.yml
Labels: kpanda, zh, en, i18n, size/M

#3950 update add master node
  docs/zh/docs/kpanda/best-practice/add-master-node.md
Labels: kpanda, zh, size/XS

#3952 add kpanda helm images
  docs/en/docs/kpanda/user-guide/helm/README.md
  docs/en/docs/kpanda/user-guide/helm/helm-repo.md
  docs/en/docs/kpanda/user-guide/images/helm14.png
  docs/en/docs/kpanda/user-guide/images/helmrepo01.png
  docs/en/docs/kpanda/user-guide/images/helmrepo02.png
  docs/en/docs/kpanda/user-guide/images/helmrepo03.png
  docs/en/docs/kpanda/user-guide/images/helmrepo04.png
  docs/en/docs/kpanda/user-guide/images/helmrepo05.png
  docs/en/docs/kpanda/user-guide/images/helmrepo07.png
  docs/en/docs/kpanda/user-guide/images/helmrepo08.png
Labels: kpanda, en, i18n, size/M
