Repository DaoCloud/DaoCloud-docs, pull requests merged in 2024-04, with the labels that each got.

#4120 docs: update release note
  docs/zh/docs/mspider/intro/release-notes.md
Labels: mspider, zh, size/L

#4119 [en] Add 2 best practices to skoala: envoy demo and http-to-dubbo
  docs/en/docs/skoala/best-practice/envoy-extproc-caching-demo-go.md
  docs/en/docs/skoala/best-practice/http-to-dubbo.md
  docs/en/docs/skoala/images/envoy-extproc-caching-demo-go.png
  docs/en/navigation.yml
  docs/zh/docs/skoala/best-practice/envoy-extproc-caching-demo-go.md
  docs/zh/docs/skoala/best-practice/http-to-dubbo.md
  docs/zh/navigation.yml
Labels: skoala, zh, en, i18n, size/L

#4122 [en] update mspider release notes
  docs/en/docs/mspider/intro/istio-k8s.md
  docs/en/docs/mspider/intro/release-notes.md
  docs/zh/docs/mspider/intro/release-notes.md
Labels: mspider, zh, en, i18n, size/M

#4123 [en] update ghippo release notes
  docs/en/docs/ghippo/intro/release-notes.md
  docs/zh/docs/ghippo/intro/release-notes.md
Labels: ghippo, zh, en, i18n, size/M

#4124 [en] update download: ghippo, gmagpie, and virtnest
  docs/en/docs/download/modules/ghippo.md
  docs/en/docs/download/modules/gmagpie.md
  docs/en/docs/download/modules/virtnest.md
  docs/zh/docs/download/modules/ghippo.md
Labels: download, zh, en, i18n, size/XS

#4125 [en] Add 5 hwameistor docs: ldm, evictor, exporter, audit, volume-eviction
  docs/en/docs/storage/hwameistor/faqs.md
  docs/en/docs/storage/hwameistor/intro/evictor.md
  docs/en/docs/storage/hwameistor/intro/exporter.md
  docs/en/docs/storage/hwameistor/intro/ldm.md
  docs/en/docs/storage/hwameistor/resources/audit.md
  docs/en/docs/storage/hwameistor/resources/volume-eviction.md
  docs/en/navigation.yml
  docs/zh/docs/storage/hwameistor/faqs.md
  docs/zh/docs/storage/hwameistor/intro/evictor.md
  docs/zh/docs/storage/hwameistor/intro/ldm.md
  docs/zh/docs/storage/hwameistor/resources/audit.md
  docs/zh/docs/storage/hwameistor/resources/volume-eviction.md
Labels: zh, en, storage, i18n, size/XL

#4126 add images
  docs/zh/docs/storage/hwameistor/faqs.md
  docs/zh/docs/storage/images/faq4.png
Labels: zh, storage, size/XS

#4127 Update kant download bundles
  docs/en/docs/download/modules/kant.md
  docs/zh/docs/download/modules/kant.md
Labels: download, zh, en, i18n, size/XS

#4128 Replace Baize with Intelligent Engine
  docs/en/docs/baize/intro/first.md
  docs/en/docs/baize/intro/index.md
  docs/en/docs/baize/intro/install.md
Labels: en, i18n, baize, size/M

#4129 update gpu_matrix.md
  docs/en/docs/kpanda/user-guide/gpu/gpu_matrix.md
  docs/zh/docs/kpanda/user-guide/gpu/gpu_matrix.md
Labels: kpanda, zh, en, i18n, size/L

#4131 update kant release note
  docs/zh/docs/kant/images/create-edgeunit-05.png
  docs/zh/docs/kant/intro/release-notes.md
  docs/zh/docs/kant/user-guide/edge-unit/create-internal-unit.md
Labels: zh, kant, size/M

#4130 [en] Add 2 best practices: singleclustercrosszone and spiderpoolconfig
  docs/en/docs/middleware/redis/best-practice/singleclustercrosszone.md
  docs/en/docs/middleware/redis/best-practice/spiderpoolconfig.md
  docs/en/navigation.yml
  docs/zh/docs/middleware/redis/best-practice/singleclustercrosszone.md
  docs/zh/docs/middleware/redis/best-practice/spiderpoolconfig.md
  docs/zh/navigation.yml
Labels: midware, zh, en, i18n, size/L

#4132 更新argocd HA安装文档
  docs/zh/docs/amamba/quickstart/argo-cd-HA.md
Labels: amamba, zh, size/S

#4134 [en] Update kant release-notes.md
  docs/en/docs/kant/intro/release-notes.md
Labels: en, kant, i18n, size/M

#4133 update native: news-2024.md
  docs/en/docs/native/news/news-2024.md
  docs/en/navigation.yml
Labels: en, native, i18n, size/S

#4135 update release-notes to 0.35.0
  docs/zh/docs/skoala/intro/release-notes.md
Labels: skoala, zh, size/S

#4136 update kpanda release note
  docs/zh/docs/kpanda/intro/release-notes.md
Labels: kpanda, zh, size/M

#4137 update oem name in nav and update kangaroo release notes
  docs/zh/docs/kangaroo/intro/release-notes.md
  docs/zh/navigation.yml
Labels: zh, kangaroo, size/S

#4138 download: mspider version updated to v0.24.0
  docs/zh/docs/download/index.md
  docs/zh/docs/download/modules/mspider.md
Labels: download, zh, size/XS

#4139 Fix the free-trial desc about dce 5.0 community components
  docs/en/docs/dce/license0.md
Labels: en, dce, i18n, size/XS

#4140 update gm-gateway documentation
  docs/zh/docs/ghippo/install/gm-gateway.md
Labels: ghippo, zh, size/XS

#4141 kairship&virtnest releasenotes
  docs/zh/docs/kairship/intro/release-notes.md
  docs/zh/docs/virtnest/intro/release-notes.md
Labels: kairship, zh, virtnest, size/M

#4142 download: mspider version updated to v0.24.1
  docs/zh/docs/download/modules/mspider.md
Labels: download, zh, size/XS

#4143 download: amamba version updated to v0.25.0
  docs/zh/docs/download/index.md
  docs/zh/docs/download/modules/amamba.md
Labels: download, zh, size/XS

#4145 download: gmagpie version updated to v0.6.1
  docs/zh/docs/download/modules/gmagpie.md
Labels: download, zh, size/XS

#4146 download: virtnest version updated to v0.7.1
  docs/zh/docs/download/modules/virtnest.md
Labels: download, zh, size/XS

#4148 download: insight version updated to v0.25.2
  docs/zh/docs/download/index.md
  docs/zh/docs/download/modules/insight.md
Labels: download, zh, size/XS

#4147 virtnest-update network
  docs/zh/docs/virtnest/vm/vm-network.md
Labels: zh, virtnest, size/S

#4118 update insight release note
  docs/zh/docs/insight/intro/releasenote.md
Labels: insight, zh, size/S

#4144 Docs: add gitops secret description
  docs/zh/docs/amamba/user-guide/gitops/gitops-secret.md
  docs/zh/navigation.yml
Labels: amamba, zh, size/L

#4150 update middleware docs zh+en
  docs/en/docs/download/index.md
  docs/en/docs/download/modules/middleware/elasticsearch.md
  docs/en/docs/download/modules/middleware/kafka.md
  docs/en/docs/download/modules/middleware/minio.md
  docs/en/docs/download/modules/middleware/mongodb.md
  docs/en/docs/download/modules/middleware/mysql.md
  docs/en/docs/download/modules/middleware/postgresql.md
  docs/en/docs/download/modules/middleware/rabbitmq.md
  docs/en/docs/download/modules/middleware/redis.md
  docs/en/docs/download/modules/middleware/rocketmq.md
  docs/zh/docs/download/index.md
  docs/zh/docs/download/modules/middleware/elasticsearch.md
  docs/zh/docs/download/modules/middleware/kafka.md
  docs/zh/docs/download/modules/middleware/minio.md
  docs/zh/docs/download/modules/middleware/mongodb.md
  docs/zh/docs/download/modules/middleware/mysql.md
  docs/zh/docs/download/modules/middleware/postgresql.md
  docs/zh/docs/download/modules/middleware/rabbitmq.md
  docs/zh/docs/download/modules/middleware/redis.md
  docs/zh/docs/download/modules/middleware/rocketmq.md
Labels: download, zh, en, i18n, size/M

#4151 mspider: update release note
  docs/en/docs/mspider/intro/release-notes.md
  docs/zh/docs/mspider/intro/release-notes.md
Labels: mspider, zh, en, i18n, size/L

#4152 download: kcoral version updated to v0.10.0
  docs/zh/docs/download/modules/kcoral.md
Labels: download, zh, size/XS

#4153 baize: release notes
  docs/en/docs/baize/intro/release-notes.md
  docs/en/navigation.yml
  docs/zh/docs/baize/intro/release-notes.md
  docs/zh/navigation.yml
Labels: zh, en, i18n, baize, size/M

#4154 update ghippo aduit
  docs/zh/docs/ghippo/user-guide/audit/gproduct-audit/ghippo.md
Labels: ghippo, zh

#4155 add virtnest audit
  docs/zh/docs/ghippo/user-guide/audit/gproduct-audit/virtnest.md
  docs/zh/navigation.yml
Labels: ghippo, zh, size/S

#4158 download: skoala version updated to v0.35.1
  docs/zh/docs/download/modules/skoala.md
Labels: download, zh, size/XS

#4161 update aduit details
  docs/zh/docs/ghippo/user-guide/audit/open-audit.md
  docs/zh/docs/ghippo/user-guide/audit/open-k8s-audit.md
  docs/zh/navigation.yml
Labels: ghippo, zh, size/S

#4164 update mcamel release note
  docs/zh/docs/middleware/elasticsearch/release-notes.md
  docs/zh/docs/middleware/kafka/release-notes.md
  docs/zh/docs/middleware/minio/release-notes.md
  docs/zh/docs/middleware/mongodb/release-notes.md
  docs/zh/docs/middleware/mysql/release-notes.md
  docs/zh/docs/middleware/postgresql/release-notes.md
  docs/zh/docs/middleware/rabbitmq/release-notes.md
  docs/zh/docs/middleware/redis/release-notes.md
  docs/zh/docs/middleware/rocketmq/release-notes.md
Labels: midware, zh, size/M

#4167 ghippo,virtnest: update release notes
  docs/zh/docs/ghippo/intro/release-notes.md
  docs/zh/docs/virtnest/intro/release-notes.md
Labels: ghippo, zh, virtnest, size/S

#4034 add installer 0.16.0 docs
  docs/zh/docs/install/air-tag-download.md
  docs/zh/docs/install/best-practices/offline-clipper.md
  docs/zh/docs/install/best-practices/thinder-restore.md
  docs/zh/docs/install/commercial/prepare.md
  docs/zh/docs/install/commercial/start-install.md
  docs/zh/docs/install/community/k8s/k8s-dce-deploy.md
  docs/zh/docs/install/community/k8s/offline.md
  docs/zh/docs/install/community/k8s/online.md
  docs/zh/docs/install/community/kind/online.md
  docs/zh/docs/install/k8s-install/ecs-install-dce5.0.md
  docs/zh/docs/install/k8s-install/ocp-install-dce5.0.md
  docs/zh/docs/install/os-install/TencentOS-install-dce5.0.md
  docs/zh/docs/install/os-install/oracleLinux-install-dce5.0.md
  docs/zh/docs/install/os-install/uos-v20-install-dce5.0.md
  docs/zh/docs/install/release-notes.md
  docs/zh/docs/storage/hwameistor/releasenotes.md
  docs/zh/navigation.yml
Labels: installer, zh, size/L

#4168 download: dce5 version updated to v0.16.0
  docs/zh/docs/download/business/dce5-installer-history.md
  docs/zh/docs/download/business/dce5-installer-v0.16.0.md
  docs/zh/docs/download/free/dce5-installer-history.md
  docs/zh/docs/download/free/dce5-installer-v0.16.0.md
  docs/zh/docs/download/index.md
Labels: download, zh, size/L

#4170 Update install-tools.md for 0.16.0
  docs/zh/docs/install/install-tools.md
Labels: installer, zh, size/XS

#4171 update baize release notes
  docs/en/docs/baize/intro/install.md
  docs/en/docs/baize/intro/release-notes.md
  docs/zh/docs/baize/intro/install.md
  docs/zh/docs/baize/intro/release-notes.md
Labels: zh, en, i18n, baize, size/S

#4174 add the warning for upgrade
  docs/zh/docs/insight/intro/releasenote.md
Labels: insight, zh, size/XS

#4176 update error
  docs/zh/docs/install/commercial/start-install.md
Labels: installer, zh, size/XS

#4173 [en] update installer to 0.16.0
  docs/en/docs/install/air-tag-download.md
  docs/en/docs/install/best-practices/etcd-host-deploy.md
  docs/en/docs/install/best-practices/offline-clipper.md
  docs/en/docs/install/best-practices/thinder-restore.md
  docs/en/docs/install/commercial/prepare.md
  docs/en/docs/install/commercial/start-install.md
  docs/en/docs/install/community/k8s/k8s-dce-deploy.md
  docs/en/docs/install/community/k8s/offline.md
  docs/en/docs/install/community/k8s/online.md
  docs/en/docs/install/install-tools.md
  docs/en/docs/install/k8s-install/ecs-install-dce5.0.md
  docs/en/docs/install/k8s-install/ocp-install-dce5.0.md
  docs/en/docs/install/os-install/TencentOS-install-dce5.0.md
  docs/en/docs/install/os-install/oracleLinux-install-dce5.0.md
  docs/en/docs/install/os-install/uos-v20-install-dce5.0.md
  docs/en/docs/install/release-notes.md
  docs/en/docs/install/upgrade.md
  docs/en/navigation.yml
  docs/zh/docs/install/best-practices/offline-clipper.md
  docs/zh/docs/install/best-practices/thinder-ha.md
  docs/zh/docs/install/commercial/prepare.md
  docs/zh/docs/install/commercial/start-install.md
  docs/zh/docs/install/community/k8s/offline.md
  docs/zh/docs/install/install-tools.md
  docs/zh/docs/install/k8s-install/ecs-install-dce5.0.md
  docs/zh/docs/install/os-install/TencentOS-install-dce5.0.md
  docs/zh/docs/install/os-install/uos-v20-install-dce5.0.md
Labels: installer, zh, en, i18n, size/L

#4177 [en] Add dce-20240330 release notes
  docs/en/docs/dce/dce-rn/20230531.md
  docs/en/docs/dce/dce-rn/20230630.md
  docs/en/docs/dce/dce-rn/20230731.md
  docs/en/docs/dce/dce-rn/20230831.md
  docs/en/docs/dce/dce-rn/20231130.md
  docs/en/docs/dce/dce-rn/20240130.md
  docs/en/docs/dce/dce-rn/20240330.md
  docs/en/navigation.yml
Labels: en, dce, i18n, size/L

#4178 [en] update insight release notes and links
  docs/en/docs/download/modules/gmagpie.md
  docs/en/docs/download/modules/insight.md
  docs/en/docs/insight/intro/releasenote.md
  docs/zh/docs/download/modules/gmagpie.md
  docs/zh/docs/download/modules/insight.md
  docs/zh/docs/insight/intro/releasenote.md
Labels: insight, download, zh, en, i18n, size/M

#4180 remove date from blog nav
  docs/en/navigation.yml
  docs/zh/navigation.yml
Labels: zh, en, i18n, size/L

#4181 Fix a typo about docker
  docs/en/docs/dce/dce-rn/20240330.md
  docs/zh/docs/dce/dce-rn/20240330.md
Labels: zh, en, dce, i18n, size/XS

#4182 Fix typos by replacing 模版 with 模板
  docs/en/docs/kairship/best-practice/fhpa.md
  docs/zh/docs/dce/dce-rn/20240330.md
  docs/zh/docs/kpanda/intro/release-notes.md
  docs/zh/docs/middleware/kafka/release-notes.md
  docs/zh/docs/middleware/postgresql/release-notes.md
Labels: kairship, zh, en, dce, i18n, size/S

#4185 Fix links in community/index.md
  docs/en/docs/community/index.md
  docs/zh/docs/community/index.md
Labels: zh, en, eco, i18n, size/S

#4186 update kairship release notes
  docs/en/docs/kairship/intro/release-notes.md
  docs/zh/docs/kairship/intro/release-notes.md
Labels: kairship, zh, en, i18n, size/M

#4187 update kangaroo release notes
  docs/en/docs/kangaroo/intro/release-notes.md
  docs/zh/docs/kangaroo/intro/release-notes.md
Labels: kangaroo, size/M

#4188 update kpanda release notes
  docs/en/docs/kpanda/intro/release-notes.md
  docs/zh/docs/kpanda/intro/release-notes.md
Labels: kpanda, zh, en, i18n, size/L

#4191 update-egress policy
  docs/zh/docs/network/modules/egressgateway/create-egpolicy.md
Labels: zh, network, size/XS

#4195 update rdmausage
  docs/zh/docs/network/config/rdmatype.md
  docs/zh/docs/network/config/userdma.md
Labels: zh, network, size/S

#4193 docs: add jenkins agent
  docs/zh/docs/amamba/user-guide/pipeline/jenkins-agent.md
  docs/zh/navigation.yml
Labels: amamba, zh, size/M

#4194 update v0.16.1
  docs/zh/docs/install/air-tag-download.md
  docs/zh/docs/install/commercial/start-install.md
  docs/zh/docs/install/community/kind/online.md
  docs/zh/docs/install/k8s-install/ecs-install-dce5.0.md
  docs/zh/docs/install/k8s-install/ocp-install-dce5.0.md
  docs/zh/docs/install/os-install/TencentOS-install-dce5.0.md
  docs/zh/docs/install/os-install/oracleLinux-install-dce5.0.md
  docs/zh/docs/install/os-install/uos-v20-install-dce5.0.md
  docs/zh/docs/install/release-notes.md
Labels: installer, zh, size/M

#4197 download: dce5 version updated to v0.16.1
  docs/zh/docs/download/business/dce5-installer-history.md
  docs/zh/docs/download/business/dce5-installer-v0.16.1.md
  docs/zh/docs/download/free/dce5-installer-history.md
  docs/zh/docs/download/free/dce5-installer-v0.16.1.md
  docs/zh/docs/download/index.md
Labels: download, zh, size/L

#4198 update nav for egress
  docs/zh/navigation.yml
Labels: zh, size/XS

#4201 fix arm download bundles of the kantadm
  docs/en/docs/download/modules/kant.md
  docs/zh/docs/download/modules/kant.md
Labels: download, zh, en, i18n, size/XS

#4202 [en] update installer to v0.16.1
  docs/en/docs/install/air-tag-download.md
  docs/en/docs/install/commercial/start-install.md
  docs/en/docs/install/community/kind/online.md
  docs/en/docs/install/k8s-install/ecs-install-dce5.0.md
  docs/en/docs/install/k8s-install/ocp-install-dce5.0.md
  docs/en/docs/install/os-install/TencentOS-install-dce5.0.md
  docs/en/docs/install/os-install/oracleLinux-install-dce5.0.md
  docs/en/docs/install/os-install/uos-v20-install-dce5.0.md
  docs/en/docs/install/release-notes.md
  docs/zh/docs/install/k8s-install/ocp-install-dce5.0.md
Labels: installer, zh, en, i18n, size/M

#4204 fix a typo about 训练训练
  docs/zh/docs/baize/developer/dataset/create.md
Labels: zh, baize, size/XS

#4205 Add a blog: cloud native ai whitepaper
  docs/zh/docs/blogs/240410-cnai-wp.md
  docs/zh/docs/blogs/images/ai01.png
  docs/zh/docs/blogs/images/ai02.png
  docs/zh/docs/blogs/images/ai03.png
  docs/zh/docs/blogs/images/ai04.png
  docs/zh/docs/blogs/index.md
  docs/zh/navigation.yml
Labels: zh, blogs, size/XL

#4207 docs: baize add interface create guide
  docs/zh/docs/baize/developer/interface/create.md
  docs/zh/docs/baize/images/interface01.png
  docs/zh/docs/baize/images/interface02.png
  docs/zh/docs/baize/images/interface03.png
  docs/zh/docs/baize/images/interface04.png
  docs/zh/navigation.yml
Labels: zh, baize, size/M

#4210 [en] Add a blog: cloud native ai whitepaper
  docs/en/docs/blogs/240410-cnai-wp.md
  docs/en/docs/blogs/images/ai01.png
  docs/en/docs/blogs/images/ai02.png
  docs/en/docs/blogs/images/ai03.png
  docs/en/docs/blogs/images/ai04.png
  docs/en/docs/blogs/index.md
  docs/en/navigation.yml
  docs/zh/docs/blogs/240410-cnai-wp.md
Labels: zh, en, blogs, i18n, size/XXL

#4209 download: ghippo version updated to v0.25.0
  docs/zh/docs/download/index.md
  docs/zh/docs/download/modules/ghippo.md
Labels: download, zh, size/XS

#4211 amend yum
  docs/zh/docs/kpanda/user-guide/gpu/nvidia/mig/create_mig.md
Labels: kpanda, zh, size/S

#4212 download: ghippo version updated to v0.25.1
  docs/zh/docs/download/modules/ghippo.md
Labels: download, zh, size/XS

#4214 update release-notes to 0.35.2
  docs/zh/docs/skoala/intro/release-notes.md
Labels: skoala, zh, size/M

#4215 optimization backup
  docs/zh/docs/kpanda/best-practice/dce4-5-migration.md
  docs/zh/docs/kpanda/intro/faq.md
  docs/zh/docs/kpanda/user-guide/backup/deployment.md
Labels: kpanda, zh, size/S

#4216 [en] update skoala release notes to v0.35.2
  docs/en/docs/skoala/intro/release-notes.md
  docs/zh/docs/skoala/intro/release-notes.md
Labels: skoala, zh, en, i18n, size/M

#4217 update dataset useage
  docs/zh/docs/baize/developer/dataset/create.md
  docs/zh/docs/baize/images/dataset05.png
  docs/zh/docs/baize/images/dataset06.png
  docs/zh/docs/baize/images/dataset07.png
Labels: zh, baize, size/L

#4224 insight: update insight offline upgrade doc
  docs/en/docs/insight/quickstart/install/offline-install.md
  docs/zh/docs/insight/quickstart/install/offline-install.md
Labels: insight, zh, en, i18n, size/L

#4227 download: mspider version updated to v0.24.2
  docs/zh/docs/download/index.md
  docs/zh/docs/download/modules/mspider.md
Labels: download, zh, size/XS

#4228 update Configuration and image
  docs/zh/docs/kpanda/user-guide/gpu/images/vgpu-addon.png
  docs/zh/docs/kpanda/user-guide/gpu/nvidia/vgpu/vgpu_addon.md
Labels: kpanda, zh, size/S

#4229 download: amamba version updated to v0.25.2
  docs/zh/docs/download/index.md
  docs/zh/docs/download/modules/amamba.md
Labels: download, zh, size/XS

#4218 Add a blog: kubean becomes a sandbox project
  docs/zh/docs/blogs/240416-kubean.md
  docs/zh/docs/blogs/images/kubean01.png
  docs/zh/docs/blogs/images/kubean02.png
  docs/zh/docs/blogs/images/kubean03.png
  docs/zh/docs/blogs/images/kubean04.png
  docs/zh/docs/blogs/images/kubean05.png
  docs/zh/docs/blogs/index.md
  docs/zh/navigation.yml
Labels: zh, blogs, size/L

#4190 docs: baize add ssh remote access Notebook
  docs/zh/docs/baize/developer/notebooks/notebook-with-ssh.md
  docs/zh/navigation.yml
Labels: wip-do-not-merge, zh, baize, size/L

#4231 Fix typo and update text in 240416-kubean.md
  docs/zh/docs/blogs/240416-kubean.md
Labels: zh, blogs, size/M

#4233 virtnest-vgpu
  docs/zh/docs/virtnest/gpu/vm-gpu.md
  docs/zh/docs/virtnest/gpu/vm-vgpu.md
  docs/zh/navigation.yml
Labels: zh, virtnest, size/L

#4234 fix typo about clusterConfig.yaml
  docs/en/docs/ghippo/user-guide/audit/open-audit.md
  docs/en/docs/install/best-practices/thinder-restore.md
  docs/en/docs/network/modules/metallb/source_ip.md
  docs/zh/docs/ghippo/user-guide/audit/open-audit.md
  docs/zh/docs/install/best-practices/thinder-restore.md
  docs/zh/docs/network/modules/metallb/source_ip.md
Labels: ghippo, installer, zh, en, network, i18n, size/S

#4235 update image and text for device/manage-device.md
  docs/en/docs/kant/user-guide/device/manage-device.md
  docs/zh/docs/kant/images/manage-device-06.png
  docs/zh/docs/kant/user-guide/device/manage-device.md
Labels: zh, en, kant, i18n, size/M

#4236 fix issue #4223 for kant
  docs/zh/docs/kant/images/manage-group-03.png
  docs/zh/docs/kant/user-guide/node-group/manage-group.md
Labels: zh, kant, size/XS

#4237 Replace 平台 with DCE 5.0 云边协同 to be more specific for kant/user-guide
  docs/zh/docs/kant/user-guide/device/create-device.md
  docs/zh/docs/kant/user-guide/device/manage-device.md
  docs/zh/docs/kant/user-guide/edge-app/index.md
  docs/zh/docs/kant/user-guide/node/access-guide.md
  docs/zh/docs/kant/user-guide/node/batch-upgrade.md
  docs/zh/docs/kant/user-guide/node/manage-node.md
  docs/zh/docs/kant/user-guide/node/managed-node.md
  docs/zh/docs/kant/user-guide/route/index.md
Labels: zh, kant, size/M

#4238 update two images in node/manage-node.md
  docs/zh/docs/kant/images/node-manage-01.png
  docs/zh/docs/kant/images/node-manage-02.png
  docs/zh/docs/kant/user-guide/node/manage-node.md
Labels: zh, kant, size/S

#4239 fix mermaid for kant/user-guide/node
  docs/en/docs/kant/user-guide/node/index.md
  docs/zh/docs/kant/user-guide/node/index.md
Labels: zh, en, kant, i18n, size/S

#4240 Add a page to baize: developer/jobs/view.md
  docs/zh/docs/baize/developer/jobs/view.md
  docs/zh/docs/baize/images/view-wl01.png
  docs/zh/docs/baize/images/view-wl02.png
  docs/zh/docs/baize/images/view-wl03.png
  docs/zh/docs/baize/images/view-wl04.png
  docs/zh/navigation.yml
Labels: zh, baize, size/L

#4241 add steps to bind clusters and ns in baize/intro/first.md
  docs/zh/docs/baize/images/bind01.png
  docs/zh/docs/baize/images/bind02.png
  docs/zh/docs/baize/images/bind03.png
  docs/zh/docs/baize/images/bind04.png
  docs/zh/docs/baize/intro/first.md
Labels: zh, baize, size/S

#4245 update navigation for Knative docs
  docs/zh/docs/kpanda/user-guide/scale/knative/scene.md
  docs/zh/navigation.yml
Labels: kpanda, zh, size/S

#4246 Fix issue 4179
  docs/zh/docs/baize/developer/index.md
  docs/zh/docs/baize/images/dev-overview.png
  docs/zh/docs/baize/images/dev-view.png
Labels: zh, baize, size/XS

#4247 update best-practice/super-group.md
  docs/zh/docs/ghippo/best-practice/super-group.md
Labels: ghippo, zh, size/M

#4248 Update access-control/oidc.md
  docs/zh/docs/ghippo/images/oidc-button.png
  docs/zh/docs/ghippo/images/oidc02.png
  docs/zh/docs/ghippo/user-guide/access-control/oidc.md
Labels: ghippo, zh, size/S

#4249 fix issue about oauth 2.0
  docs/zh/docs/ghippo/images/oauth2.png
  docs/zh/docs/ghippo/user-guide/access-control/docking.md
  docs/zh/docs/ghippo/user-guide/access-control/oauth2.0.md
  docs/zh/navigation.yml
Labels: ghippo, zh, size/S

#4250 update mspider scenario desc by following ui text
  docs/zh/docs/mspider/intro/scenarios.md
Labels: mspider, zh, size/S

#4253 update service-mesh/params.md
  docs/zh/docs/mspider/user-guide/service-mesh/params.md
Labels: mspider, zh, size/M

#4254 update sidecar-management/sidecar-log-level.md
  docs/zh/docs/mspider/user-guide/sidecar-management/sidecar-log-level.md
Labels: mspider, zh, size/S

#4255 update helm/upload-helm.md
  docs/en/docs/kpanda/user-guide/helm/upload-helm.md
  docs/en/navigation.yml
  docs/zh/docs/kpanda/user-guide/helm/upload-helm.md
Labels: kpanda, zh, en, i18n, size/M

#4256 docs: update spiderpool index.md
  docs/en/docs/network/modules/spiderpool/index.md
  docs/zh/docs/network/modules/spiderpool/index.md
Labels: zh, en, network, i18n, size/S

#4257 docs: Optimize spiderpool installation docs
  docs/en/docs/network/modules/spiderpool/install/install.md
  docs/zh/docs/network/modules/spiderpool/install/install.md
Labels: zh, en, network, i18n, size/S

#4258 update report-billing/report.md
  docs/en/docs/ghippo/images/gmagpiereport.png
  docs/en/docs/ghippo/images/report01.png
  docs/en/docs/ghippo/user-guide/report-billing/report.md
  docs/zh/docs/ghippo/images/report01.png
  docs/zh/docs/ghippo/user-guide/report-billing/report.md
Labels: ghippo, zh, en, i18n, size/M

#4259 add a best practice: envoy-extproc-anti-demo-go.md
  docs/zh/docs/skoala/best-practice/envoy-extproc-anti-demo-go.md
  docs/zh/docs/skoala/images/envoy-extproc-anti-replay-demo-go.png
  docs/zh/navigation.yml
Labels: skoala, zh, size/M

#4260 [en] Update download pages
  docs/en/docs/download/addon/.template.md
  docs/en/docs/download/addon/history.md
  docs/en/docs/download/business/.dce5-installer-template.md
  docs/en/docs/download/index.md
  docs/en/docs/download/modules/amamba.md
  docs/en/docs/download/modules/ghippo.md
  docs/en/docs/download/modules/mspider.md
  docs/en/docs/download/modules/skoala.md
  docs/zh/docs/download/modules/mspider.md
Labels: download, zh, en, i18n, size/S

#4261 update best-practice/envoy-extproc-anti-demo-go.md
  docs/zh/docs/skoala/best-practice/envoy-extproc-anti-demo-go.md
Labels: skoala, zh, size/M

#4262 [en] Add best-practice/envoy-extproc-anti-demo-go.md
  docs/en/docs/skoala/best-practice/envoy-extproc-anti-demo-go.md
  docs/en/docs/skoala/intro/advantages.md
  docs/en/docs/skoala/intro/features.md
  docs/en/docs/skoala/intro/index.md
  docs/en/docs/skoala/intro/release-notes.md
  docs/en/docs/skoala/intro/scenarios.md
  docs/en/navigation.yml
  docs/zh/docs/skoala/best-practice/envoy-extproc-anti-demo-go.md
Labels: skoala, zh, en, i18n, size/L

#4263 [en] Update storage intro pages
  docs/en/docs/storage/background.md
  docs/en/docs/storage/benefits.md
  docs/en/docs/storage/features.md
  docs/en/docs/storage/index.md
  docs/zh/docs/storage/background.md
  docs/zh/docs/storage/benefits.md
  docs/zh/docs/storage/index.md
Labels: zh, en, storage, i18n, size/L

#4264 [en] update virtnest release notes
  docs/en/docs/virtnest/intro/index.md
  docs/en/docs/virtnest/intro/release-notes.md
Labels: en, virtnest, i18n, size/M

#4265 [en] Update install best practices and release notes
  docs/en/docs/install/best-practices/thinder-ha.md
  docs/en/docs/install/commercial/manifest.md
  docs/en/docs/install/release-notes.md
  docs/zh/docs/install/best-practices/thinder-ha.md
  docs/zh/docs/install/commercial/manifest.md
Labels: installer, zh, en, i18n, size/M

#4266 [en] update midware release notes and compatibility versions
  docs/en/docs/middleware/compatibility.md
  docs/en/docs/middleware/elasticsearch/release-notes.md
  docs/en/docs/middleware/kafka/release-notes.md
  docs/en/docs/middleware/minio/release-notes.md
  docs/en/docs/middleware/mongodb/release-notes.md
  docs/en/docs/middleware/mysql/release-notes.md
  docs/en/docs/middleware/postgresql/release-notes.md
  docs/en/docs/middleware/rabbitmq/release-notes.md
  docs/en/docs/middleware/redis/release-notes.md
  docs/en/docs/middleware/rocketmq/release-notes.md
  docs/zh/docs/middleware/compatibility.md
  docs/zh/docs/middleware/kafka/release-notes.md
  docs/zh/docs/middleware/redis/release-notes.md
Labels: midware, zh, en, i18n, size/L

#4267 update spiderpool/upgrade.md
  docs/en/docs/network/modules/spiderpool/upgrade.md
  docs/zh/docs/network/modules/spiderpool/upgrade.md
Labels: zh, en, network, i18n, size/L

#4268 update public-cloud/awscloud.md
  docs/en/docs/network/modules/spiderpool/public-cloud/awscloud.md
  docs/zh/docs/network/modules/spiderpool/public-cloud/awscloud.md
Labels: zh, en, network, i18n, size/L

#4269 update public-cloud/alibabacloud.md
  docs/en/docs/network/modules/spiderpool/public-cloud/alibabacloud.md
  docs/zh/docs/network/modules/spiderpool/public-cloud/alibabacloud.md
Labels: zh, en, network, i18n, size/L

#4270 update quickstart/argo-cd-HA.md
  docs/en/docs/amamba/quickstart/argo-cd-HA.md
  docs/en/navigation.yml
  docs/zh/docs/amamba/quickstart/argo-cd-HA.md
Labels: amamba, zh, en, i18n, size/L

#4271 Fix links: keep module-versions consistent with dce-20240330
  docs/en/docs/insight/intro/releasenote.md
  docs/en/docs/kangaroo/intro/release-notes.md
  docs/en/docs/kpanda/intro/release-notes.md
  docs/en/docs/mspider/intro/release-notes.md
  docs/en/docs/storage/hwameistor/releasenotes.md
  docs/zh/docs/insight/intro/releasenote.md
  docs/zh/docs/kangaroo/intro/release-notes.md
  docs/zh/docs/kpanda/intro/release-notes.md
  docs/zh/docs/mspider/intro/release-notes.md
  docs/zh/docs/storage/hwameistor/releasenotes.md
Labels: zh, en, i18n, size/M

#4272 update quickstart/contour-argorollout.md
  docs/en/docs/amamba/images/skoala05.png
  docs/en/docs/amamba/images/step01.png
  docs/en/docs/amamba/images/step02.png
  docs/en/docs/amamba/images/step03.png
  docs/en/docs/amamba/images/step04.png
  docs/en/docs/amamba/quickstart/contour-argorollout.md
  docs/en/navigation.yml
  docs/zh/docs/amamba/quickstart/contour-argorollout.md
  docs/zh/navigation.yml
Labels: amamba, zh, en, i18n, size/L

#4273 update pipeline/podman.md for amamba
  docs/zh/docs/amamba/user-guide/pipeline/podman.md
Labels: amamba, zh, size/M

#4274 update ascend npu docs: usage and driver-install
  docs/zh/docs/kpanda/user-guide/gpu/ascentnpu/Ascend_usage.md
  docs/zh/docs/kpanda/user-guide/gpu/ascentnpu/ascend_driver_install.md
  docs/zh/docs/kpanda/user-guide/gpu/images/ascend-mindxdl.png
  docs/zh/docs/kpanda/user-guide/gpu/images/detail-ascend.png
  docs/zh/docs/kpanda/user-guide/gpu/images/label-ascend-mindxdl.png
  docs/zh/docs/kpanda/user-guide/gpu/images/list-ascend-mindxdl.png
  docs/zh/docs/kpanda/user-guide/gpu/images/use-ascend-mindxdl.png
  docs/zh/navigation.yml
Labels: kpanda, zh, size/M

#4275 download: kairship version updated to v0.18.0
  docs/zh/docs/download/index.md
  docs/zh/docs/download/modules/kairship.md
Labels: download, zh, size/XS

#4276 Fix links to kpanda/gpu and vm/gpu
  docs/zh/docs/download/modules/kcoral.md
  docs/zh/docs/kpanda/user-guide/gpu/ascend/ascend_driver_install.md
  docs/zh/docs/kpanda/user-guide/gpu/ascend/ascend_usage.md
  docs/zh/docs/kpanda/user-guide/gpu/nvidia/vgpu/vgpu_addon.md
  docs/zh/docs/virtnest/vm/index.md
  docs/zh/navigation.yml
Labels: kpanda, download, zh, size/S

#4280 kpanda add best practice
  docs/zh/docs/kpanda/best-practice/kubean-low-version.md
  docs/zh/docs/kpanda/best-practice/limit-disk-usage-docker.md
  docs/zh/docs/kpanda/images/limit-disk-usage-docker-01.png
  docs/zh/docs/kpanda/images/limit-disk-usage-docker-02.png
  docs/zh/docs/kpanda/images/limit-disk-usage-docker-03
  docs/zh/docs/kpanda/images/limit-disk-usage-docker-04.png
  docs/zh/docs/kpanda/user-guide/clusters/cluster-version.md
  docs/zh/navigation.yml
Labels: kpanda, zh, size/L

#4281 add a video to baize: create distributed job
  docs/zh/docs/videos/baize.md
  docs/zh/docs/videos/images/create-distributed-job.png
Labels: zh, videos, size/XS

#4282 > update skoala jwt plugin doc
  docs/zh/docs/skoala/best-practice/jwt.md
  docs/zh/docs/skoala/images/api-jwt-plugin-1.png
  docs/zh/docs/skoala/images/api-jwt-plugin-2.png
  docs/zh/docs/skoala/images/jwt-plugin-create.png
  docs/zh/docs/skoala/images/virtualhost-jwt-plugin.png
  docs/zh/docs/skoala/plugins/intro.md
Labels: skoala, zh, size/M

#4283 add a video to kant: end device demo
  docs/zh/docs/videos/images/edge-device.jpg
  docs/zh/docs/videos/kant.md
Labels: zh, videos, kant, size/XS

#4284 update skoala/best-practice/jwt.md
  docs/en/docs/skoala/best-practice/jwt.md
  docs/en/docs/skoala/plugins/intro.md
  docs/zh/docs/skoala/best-practice/jwt.md
  docs/zh/docs/skoala/plugins/intro.md
Labels: skoala, zh, en, i18n, size/L

#4285 download: skoala version updated to v0.36.0
  docs/zh/docs/download/modules/skoala.md
Labels: download, zh, size/XS

#4286 download: kangaroo version updated to 0.17.0
  docs/zh/docs/download/index.md
  docs/zh/docs/download/modules/kangaroo.md
Labels: download, zh, size/XS

#4287 add more instructions to website
  docs/zh/docs/native/knowledge/git/works.md
  docs/zh/navigation.yml
Labels: zh, native, size/M

#4292 kpanda update create cluster
  docs/zh/docs/kpanda/user-guide/clusters/create-cluster.md
Labels: kpanda, zh, size/XS

#4290 update code annotations in kpanda best-practice
  docs/zh/docs/kpanda/best-practice/add-master-node.md
  docs/zh/docs/kpanda/best-practice/create-ubuntu-on-centos-platform.md
  docs/zh/docs/kpanda/best-practice/dce4-5-migration.md
  docs/zh/docs/kpanda/best-practice/etcd-backup.md
  docs/zh/docs/kpanda/best-practice/kubean-low-version.md
  docs/zh/docs/kpanda/user-guide/configmaps-secrets/use-configmap.md
  docs/zh/docs/kpanda/user-guide/configmaps-secrets/use-secret.md
Labels: kpanda, zh, size/L

#4291 update code annotations in install pages
  docs/zh/docs/install/best-practices/all-in-one-machine.md
  docs/zh/docs/install/best-practices/cve-20240-21626.md
  docs/zh/docs/install/best-practices/etcd-host-deploy.md
  docs/zh/docs/install/best-practices/thinder-ha.md
  docs/zh/docs/install/best-practices/thinder-restore.md
  docs/zh/docs/install/commercial/cluster-config.md
  docs/zh/docs/install/commercial/deploy-requirements.md
  docs/zh/docs/install/commercial/external/external-imageandchart.md
  docs/zh/docs/install/commercial/external/external-middlewares.md
  docs/zh/docs/install/commercial/manifest.md
Labels: installer, zh, size/L

#4243 Add two best practices to `/install`
  docs/zh/docs/install/best-practices/docker-storage.md
  docs/zh/docs/install/best-practices/large-deployments-par.md
  docs/zh/docs/install/images/pquota.png
  docs/zh/docs/install/images/pquota1.png
  docs/zh/docs/install/images/pquota2.png
  docs/zh/navigation.yml
Labels: installer, zh, size/L

#4293 add ssh key
  docs/zh/docs/ghippo/user-guide/personal-center/ssh-key.md
  docs/zh/navigation.yml
Labels: ghippo, zh, size/L

#4294 Update the kant download docs
  docs/en/docs/download/modules/kant.md
  docs/zh/docs/download/modules/kant.md
Labels: download, zh, en, i18n, size/S

#4295 docs: mspider add release note
  docs/en/docs/mspider/intro/release-notes.md
  docs/zh/docs/mspider/intro/release-notes.md
Labels: mspider, zh, en, i18n, size/M

#4296 add 0330 rn
  docs/zh/docs/amamba/intro/release-notes.md
  docs/zh/docs/install/faq.md
Labels: amamba, installer, zh, size/S

#4297 docs: baize add release note
  docs/en/docs/baize/intro/release-notes.md
  docs/zh/docs/baize/intro/release-notes.md
Labels: zh, en, i18n, baize, size/M

#4299 [en] Add personal-center/ssh-key.md to ghippo
  docs/en/docs/ghippo/user-guide/personal-center/ssh-key.md
  docs/en/navigation.yml
  docs/zh/docs/ghippo/user-guide/personal-center/ssh-key.md
Labels: ghippo, zh, en, i18n, size/L

#4300 update kubean info for eco channel
  docs/en/docs/community/index.md
  docs/en/docs/community/kubean.md
  docs/zh/docs/community/index.md
  docs/zh/docs/community/kubean.md
Labels: zh, en, eco, i18n, size/S

#4288 Update super-group.md
  docs/zh/docs/ghippo/best-practice/super-group.md
Labels: ghippo, zh, size/XS

#4303 polish nav & update intro
  docs/zh/docs/insight/intro/index.md
  docs/zh/docs/insight/quickstart/res-plan/index.md
  docs/zh/navigation.yml
Labels: insight, zh, size/L

#4302 add docs:mgr troubleshooting
  docs/zh/docs/middleware/mysql/best-practice/mgr-troubleshooting.md
  docs/zh/navigation.yml
Labels: midware, zh, size/L

#4298 kant update user guide
  docs/zh/docs/kant/best-practice/develop-device-mapper.md
  docs/zh/docs/kant/best-practice/device-control.md
  docs/zh/docs/kant/images/access-guide-01.png
  docs/zh/docs/kant/images/access-guide-02.png
  docs/zh/docs/kant/images/access-guide-03.png
  docs/zh/docs/kant/images/access-guide-05.png
  docs/zh/docs/kant/images/mapper-01.png
  docs/zh/docs/kant/user-guide/node/access-guide.md
  docs/zh/docs/kant/user-guide/node/create-access-guide.md
  docs/zh/docs/kant/user-guide/node/index.md
  docs/zh/navigation.yml
Labels: zh, kant, size/L

#4306 update code annotations to remove #
  docs/zh/docs/mspider/best-practice/optimize-sidecar-resource.md
  docs/zh/docs/mspider/best-practice/use-custom-workloads.md
  docs/zh/docs/mspider/install/offline-upgrade.md
  docs/zh/docs/mspider/test/ocp.md
  docs/zh/docs/mspider/test/openshift.md
  docs/zh/docs/mspider/user-guide/gateway-instance/gateway-in-external-mesh.md
  docs/zh/docs/mspider/user-guide/mesh-config/istio-resources.md
  docs/zh/docs/mspider/user-guide/multicluster/gray-scale-release.md
  docs/zh/docs/mspider/user-guide/multicluster/multicluster-install.md
  docs/zh/docs/mspider/user-guide/security/mtls.md
  docs/zh/docs/mspider/user-guide/security/params.md
  docs/zh/docs/mspider/user-guide/service-list/out-to-in.md
  docs/zh/docs/mspider/user-guide/sidecar-management/passthrough.md
Labels: mspider, zh, size/L

#4307 update insight release note & probe imagr
  docs/zh/docs/insight/images/probe03.png
  docs/zh/docs/insight/intro/releasenote.md
  docs/zh/docs/insight/user-guide/infra/probe.md
Labels: insight, zh, size/M

#4305 mcamel: add 2 new docs
  docs/zh/docs/middleware/mysql/images/mysqlmap.png
  docs/zh/docs/middleware/mysql/images/mysqlmap02.png
  docs/zh/docs/middleware/mysql/user-guide/instancemap.md
  docs/zh/docs/middleware/rocketmq/images/rockermq02.png
  docs/zh/docs/middleware/rocketmq/quick-start/create-rocketmq.md
  docs/zh/navigation.yml
Labels: midware, zh, size/M

#4308 Add a blog: 0429-ai-survey.md
  docs/zh/docs/blogs/0429-ai-survey.md
  docs/zh/docs/blogs/images/survey01.png
  docs/zh/docs/blogs/images/survey02.webp
  docs/zh/docs/blogs/images/survey03.webp
  docs/zh/docs/blogs/images/survey04.webp
  docs/zh/docs/blogs/images/survey05.webp
  docs/zh/docs/blogs/images/survey06.webp
  docs/zh/docs/blogs/index.md
  docs/zh/navigation.yml
Labels: zh, blogs, size/L

#4309 kant add best practice
  docs/zh/docs/kant/best-practice/device-control.md
  docs/zh/docs/kant/images/device-control-01.png
  docs/zh/docs/kant/images/device-control-02.png
  docs/zh/docs/kant/images/device-control-03.png
  docs/zh/docs/kant/images/device-control-04.png
  docs/zh/docs/kant/images/device-control-05.png
  docs/zh/navigation.yml
Labels: zh, kant, size/M

#4311 fix nav of new blog
  docs/zh/navigation.yml
Labels: zh, size/XS
