Repository DaoCloud/DaoCloud-docs, pull requests merged in 2024-11, with the labels that each got.

#5879 Update baizectl.md fix resource parameter
  docs/zh/docs/baize/developer/notebooks/baizectl.md
Labels: zh, baize, size/S

#5880 update kangaroo releasenote
  docs/zh/docs/kangaroo/intro/release-notes.md
Labels: zh, kangaroo, size/S

#5881 download: mspider version updated to v0.31.0
  docs/zh/docs/download/modules/mspider.md
Labels: download, zh, size/XS

#5884 Download: kant version updated to 0.16.1
  docs/en/docs/download/modules/kant.md
  docs/zh/docs/download/modules/kant.md
Labels: download, zh, en, i18n, size/M

#5885 download: kpanda version updated to 0.33.0
  docs/zh/docs/download/modules/kpanda.md
Labels: download, zh, size/XS

#5886 download: skoala version updated to v0.42.1
  docs/zh/docs/download/modules/skoala.md
Labels: download, zh, size/XS

#5887 download: virtnest version updated to v0.14.0
  docs/zh/docs/download/modules/virtnest.md
Labels: download, zh, size/XS

#5888 update middleware docs zh+en in november
  docs/en/docs/download/index.md
  docs/en/docs/download/modules/middleware/elasticsearch.md
  docs/en/docs/download/modules/middleware/kafka.md
  docs/en/docs/download/modules/middleware/minio.md
  docs/en/docs/download/modules/middleware/mongodb.md
  docs/en/docs/download/modules/middleware/mysql.md
  docs/en/docs/download/modules/middleware/postgresql.md
  docs/en/docs/download/modules/middleware/rabbitmq.md
  docs/en/docs/download/modules/middleware/redis.md
  docs/en/docs/download/modules/middleware/rocketmq.md
  docs/zh/docs/download/index.md
  docs/zh/docs/download/modules/middleware/elasticsearch.md
  docs/zh/docs/download/modules/middleware/kafka.md
  docs/zh/docs/download/modules/middleware/minio.md
  docs/zh/docs/download/modules/middleware/mongodb.md
  docs/zh/docs/download/modules/middleware/mysql.md
  docs/zh/docs/download/modules/middleware/postgresql.md
  docs/zh/docs/download/modules/middleware/rabbitmq.md
  docs/zh/docs/download/modules/middleware/redis.md
  docs/zh/docs/download/modules/middleware/rocketmq.md
Labels: download, zh, en, i18n, size/M

#5889 download: insight version updated to v0.31.3
  docs/zh/docs/download/modules/insight.md
Labels: download, zh, size/XS

#5890 virtnest&kairship-releasenotes
  docs/zh/docs/kairship/intro/release-notes.md
  docs/zh/docs/virtnest/intro/release-notes.md
Labels: kairship, zh, virtnest, size/S

#5891 download: amamba version updated to v0.32.0
  docs/zh/docs/download/modules/amamba.md
Labels: download, zh, size/XS

#5893 download: amamba version updated to v0.32.1
  docs/zh/docs/download/modules/amamba.md
Labels: download, zh, size/XS

#5896 Update index.md
  docs/zh/docs/kpanda/user-guide/gpu/index.md
Labels: kpanda, zh, size/XS

#5897 [en] add a blog: containerd, nerdctl, and lima
  docs/en/docs/blogs/241106-containerd-nerdctl-lima.md
  docs/en/docs/blogs/images/containerd01.png
  docs/en/docs/blogs/images/containerd02.png
  docs/en/docs/blogs/index.md
  docs/en/navigation.yml
Labels: en, blogs, i18n, size/L

#5898 download: kpanda version updated to 0.33.1
  docs/zh/docs/download/modules/kpanda.md
Labels: download, zh, size/XS

#5904 download: kpanda version updated to 0.33.2
  docs/zh/docs/download/modules/kpanda.md
Labels: download, zh, size/XS

#5907 add a blog: containerd 2.0
  docs/zh/docs/blogs/241106-containerd-nerdctl-lima.md
  docs/zh/docs/blogs/images/containerd01.png
  docs/zh/docs/blogs/images/containerd02.png
  docs/zh/docs/blogs/index.md
  docs/zh/navigation.yml
Labels: zh, blogs, size/L

#5894 feat: add sdk for dak chatbot
  docs/en/theme/main.html
  docs/zh/docs/dce/scenario.md
  docs/zh/theme/main.html
Labels: zh, en, dce, i18n, size/XS

#5909 virtnest update sc.md
  docs/zh/docs/virtnest/images/sc-expand.png
  docs/zh/docs/virtnest/vm/vm-sc.md
Labels: zh, virtnest, size/XS

#5860 add the all span new feature explanation and backup the grafana in DB
  docs/zh/docs/insight/best-practice/grafana-use-db.md
  docs/zh/docs/insight/images/allSpan.png
  docs/zh/docs/insight/images/logcontext.png
  docs/zh/docs/insight/user-guide/data-query/log.md
  docs/zh/docs/insight/user-guide/trace/trace.md
  docs/zh/navigation.yml
Labels: insight, zh, size/L

#5910 update skoala-release-note to 0.42.1,update mspider-release-note to 0…
  docs/zh/docs/mspider/intro/release-notes.md
  docs/zh/docs/skoala/intro/release-notes.md
Labels: mspider, skoala, zh, size/M

#5914 Revert "feat: add sdk for dak chatbot"
  docs/en/theme/main.html
  docs/zh/docs/dce/scenario.md
  docs/zh/theme/main.html
Labels: zh, en, dce, i18n, size/XS

#5913 Add a blog: growth from new to cncf-ambassador
  docs/zh/docs/blogs/241108-cncf-ambassador.md
  docs/zh/docs/blogs/images/cncf01.png
  docs/zh/docs/blogs/images/cncf02.png
  docs/zh/docs/blogs/images/cncf03.png
  docs/zh/docs/blogs/images/cncf04.png
  docs/zh/docs/blogs/images/cncf05.png
  docs/zh/docs/blogs/images/cncf06.png
  docs/zh/docs/blogs/images/cncf07.png
  docs/zh/docs/blogs/images/cncf08.png
  docs/zh/docs/blogs/index.md
  docs/zh/navigation.yml
Labels: zh, blogs, size/L

#5917 add a best practice to skoala
  docs/zh/docs/skoala/best-practice/nacos-ldap.md
  docs/zh/docs/skoala/images/ldap01.png
  docs/zh/docs/skoala/images/ldap02.png
  docs/zh/docs/skoala/images/ldap03.png
  docs/zh/docs/skoala/images/ldap04.png
  docs/zh/docs/skoala/images/ldap05.png
  docs/zh/docs/skoala/images/ldap06.png
  docs/zh/docs/skoala/images/ldap07.png
  docs/zh/docs/skoala/images/ldap08.png
  docs/zh/docs/skoala/images/ldap09.png
  docs/zh/docs/skoala/images/ldap10.png
  docs/zh/docs/skoala/images/ldap11.png
  docs/zh/docs/skoala/images/ldap12.png
  docs/zh/docs/skoala/images/ldap13.png
  docs/zh/docs/skoala/images/ldap14.png
  docs/zh/docs/skoala/images/ldap15.png
  docs/zh/docs/skoala/images/ldap16.png
  docs/zh/docs/skoala/images/ldap17.png
  docs/zh/docs/skoala/images/ldap18.png
  docs/zh/docs/skoala/images/ldap19.png
  docs/zh/docs/skoala/images/ldap20.png
  docs/zh/docs/skoala/images/ldap21.png
  docs/zh/docs/skoala/images/ldap22.png
  docs/zh/docs/skoala/images/ldap23.png
  docs/zh/docs/skoala/intro/scenarios.md
  docs/zh/navigation.yml
Labels: skoala, zh, size/L

#5922 update 241108-cncf-ambassador.md
  docs/zh/docs/blogs/241108-cncf-ambassador.md
Labels: zh, blogs, size/XS

#5919 download: addon version updated to v0.23.0
  docs/zh/docs/download/addon/history.md
  docs/zh/docs/download/addon/v0.23.0.md
  docs/zh/docs/download/index.md
Labels: download, zh, size/L

#5923 add script of image process
  poetry.lock
  scripts/md_image_analyzer.py
  scripts/remove_navbar.py
Labels: develop, size/XL

#5925 download: dce5 version updated to v0.23.0
  docs/zh/docs/download/business/dce5-installer-history.md
  docs/zh/docs/download/business/dce5-installer-v0.23.0.md
  docs/zh/docs/download/free/dce5-installer-history.md
  docs/zh/docs/download/free/dce5-installer-v0.23.0.md
  docs/zh/docs/download/index.md
Labels: download, zh, size/L

#5924 add version 0.23.0
  docs/zh/docs/amamba/intro/release-notes.md
  docs/zh/docs/install/commercial/start-install.md
  docs/zh/docs/install/community/k8s/offline.md
  docs/zh/docs/install/community/k8s/online.md
  docs/zh/docs/install/os-install/neokylin-install-dce5.0.md
  docs/zh/docs/install/release-notes.md
  docs/zh/docs/storage/hwameistor/release-notes.md
Labels: amamba, installer, zh, storage, size/M

#5927 Update calico metrics docs
  docs/en/docs/network/modules/calico/metrics.md
  docs/zh/docs/network/modules/calico/metrics.md
Labels: zh, en, network, i18n, size/S

#5932 [en] add product roadmap
  docs/en/docs/dce/roadmap.md
  docs/en/navigation.yml
Labels: en, dce, i18n, size/M

#5934 update insight upgrade doc
  docs/zh/docs/insight/quickstart/install/offline-install.md
Labels: insight, zh, size/S

#5937 download: amamba version updated to v0.32.2
  docs/zh/docs/download/modules/amamba.md
Labels: download, zh, size/XS

#5941 add dce-rn/20241030.md
  docs/zh/docs/dce/dce-rn/20241030.md
  docs/zh/navigation.yml
Labels: zh, dce, size/L

#5946 update 241108-cncf-ambassador.md
  docs/zh/docs/blogs/241108-cncf-ambassador.md
  docs/zh/docs/blogs/images/cncf09.png
Labels: zh, blogs, size/XS

#5949 [en] add a blog abou cncf ambasssador
  docs/en/docs/blogs/241108-cncf-ambassador.md
  docs/en/docs/blogs/images/cncf01copy.png
  docs/en/docs/blogs/images/cncf02copy.png
  docs/en/docs/blogs/images/cncf03copy.png
  docs/en/docs/blogs/images/cncf04copy.png
  docs/en/docs/blogs/images/cncf05.png
  docs/en/docs/blogs/images/cncf06.png
  docs/en/docs/blogs/images/cncf07.png
  docs/en/docs/blogs/images/cncf08.png
  docs/en/docs/blogs/images/cncf09.png
  docs/en/docs/blogs/index.md
  docs/en/navigation.yml
  docs/zh/docs/blogs/241108-cncf-ambassador.md
Labels: zh, en, blogs, i18n, size/L

#5952 add google analytics
  docs/zh/mkdocs.yml
Labels: zh, size/XS

#5953 update kpanda permission
  docs/zh/docs/ghippo/permissions/kpanda.md
  docs/zh/docs/kangaroo/intro/release-notes.md
Labels: ghippo, zh, kangaroo, size/XS

#5951 add author and date to pages
  docs/en/mkdocs.yml
  docs/zh/mkdocs.yml
  requirements.txt
  scripts/run_netlify.sh
Labels: zh, en, develop, i18n, size/S

#5955 fix commiter can not display
  .github/workflows/pull-request-test.yaml
  docs/zh/theme/overrides/partials/source-file.html
  requirements.txt
Labels: zh, develop, size/L

#5957 add commiter style
  .github/workflows/pull-request-test.yaml
  docs/en/mkdocs.yml
  docs/en/theme/overrides/partials/content.html
  docs/en/theme/overrides/partials/source-file.html
  docs/zh/mkdocs.yml
  docs/zh/theme/overrides/partials/content.html
  requirements.txt
Labels: zh, en, develop, i18n, size/L

#5958 add pipeline cache
  docs/zh/docs/amamba/images/cache1.jpg
  docs/zh/docs/amamba/images/cache2.jpg
  docs/zh/docs/amamba/images/cache3.jpg
  docs/zh/docs/amamba/images/cache4.jpg
  docs/zh/docs/amamba/images/cache5.jpg
  docs/zh/docs/amamba/images/cache6.jpg
  docs/zh/docs/amamba/images/cache7.jpg
  docs/zh/docs/amamba/images/cache8.jpg
  docs/zh/docs/amamba/user-guide/pipeline/pipeline_cache.md
  docs/zh/navigation.yml
Labels: amamba, zh, size/M, size/L

#5963 update notebooks/delete.md to fix #5903
  docs/zh/docs/baize/developer/notebooks/delete.md
  docs/zh/docs/baize/images/nb-delete01.png
  docs/zh/docs/baize/images/nb-delete02.png
Labels: zh, baize, size/XS

#5965 add retain jenkins config docs
  docs/zh/docs/amamba/user-guide/pipeline/retain-jenkins-config.md
  docs/zh/navigation.yml
Labels: amamba, zh, size/M

#5967 update codeowners
  .github/CODEOWNERS
Labels: develop, size/S

#5966 add amamba components dashboard
  docs/zh/docs/amamba/components-grafana-dashboard.md
  docs/zh/navigation.yml
Labels: amamba, zh, size/L

#5968 update notebooks/create.md to fix issue #5901
  docs/zh/docs/baize/developer/notebooks/create.md
  docs/zh/docs/baize/images/nb-start01.png
  docs/zh/mkdocs.yml
Labels: zh, baize, size/XS

#5970 update developer/quick-start.md to fix #5900
  docs/en/docs/baize/developer/quick-start.md
  docs/en/docs/baize/images/baize-05.png
  docs/en/docs/baize/images/baize-07.png
  docs/zh/docs/baize/developer/quick-start.md
Labels: zh, en, i18n, baize, size/L

#5962 update cilium speedup document
  docs/en/docs/network/images/cilium_speedup001.png
  docs/en/docs/network/modules/cilium/cilium-speedup.md
  docs/en/docs/network/modules/cilium/cross-cluster.md
  docs/en/navigation.yml
  docs/zh/docs/network/images/cilium_speedup001.png
  docs/zh/docs/network/modules/cilium/cilium-speedup.md
  docs/zh/docs/network/modules/cilium/cross-cluster.md
  docs/zh/navigation.yml
Labels: zh, en, network, i18n, size/XL

#5972 update navigation.yml to fix #5926
  docs/en/navigation.yml
  docs/zh/docs/baize/developer/inference/vllm-inference.md
  docs/zh/docs/baize/images/vllm-infer-0.png
  docs/zh/docs/kangaroo/space/imagelist.md
  docs/zh/navigation.yml
Labels: zh, en, i18n, baize, size/S

#5973 download: skoala version updated to v0.43.0
  docs/zh/docs/download/modules/skoala.md
Labels: download, zh, size/XS

#5976 docs: merge amamba custom plugins
  docs/zh/docs/amamba/customize-step.md
  docs/zh/docs/amamba/quickstart/job-cacher.md
  docs/zh/docs/amamba/user-guide/pipeline/custom-plugin.md
  docs/zh/navigation.yml
Labels: amamba, zh, size/XL

#5978 download: skoala version updated to v0.43.1
  docs/zh/docs/download/modules/skoala.md
Labels: download, zh, size/XS

#5979 chore: move dir
  docs/zh/docs/amamba/user-guide/pipeline/retain-jenkins-config.md
  docs/zh/navigation.yml
Labels: amamba, zh, size/S

#5980 mspider: add docs for troubleshot with istio init failed
  docs/zh/docs/mspider/troubleshoot/istio-init-failed.md
  docs/zh/navigation.yml
Labels: mspider, zh, size/L

#5981 update ubuntu iso version
  docs/zh/docs/install/commercial/start-install.md
Labels: installer, zh, size/XS

#5983 Add warning text to install/upgrade.md
  docs/en/docs/install/upgrade.md
  docs/zh/docs/install/upgrade.md
Labels: installer, zh, en, i18n, size/S

#5982 download: skoala version updated to v0.43.2
  docs/zh/docs/download/modules/skoala.md
Labels: download, zh, size/XS

#5984 download: spidernet version updated to v0.16.2
  docs/zh/docs/download/modules/spidernet.md
Labels: download, zh, size/XS

#5986 kpanda: add docs for how get permanently token with eks and gke
  docs/zh/docs/kpanda/best-practice/get-kubeconfig.md
  docs/zh/navigation.yml
Labels: kpanda, zh, size/L

#5988 add a best-practice: sync worker cluster resources in a managed mesh
  docs/zh/docs/mspider/best-practice/managed-mesh-to-sync.md
  docs/zh/docs/mspider/images/sync-mesh01.png
  docs/zh/docs/mspider/images/sync-mesh02.png
  docs/zh/docs/mspider/images/sync-mesh03.png
  docs/zh/docs/mspider/images/sync-mesh04.png
  docs/zh/docs/mspider/images/sync-mesh05.png
  docs/zh/navigation.yml
Labels: mspider, zh, size/M

#5989 Fix some error in amamba
  docs/zh/docs/amamba/customize-step.md
  docs/zh/docs/amamba/faq/faq-jenkins.md
  docs/zh/docs/amamba/quickstart/pipeline-on-node.md
  docs/zh/docs/amamba/user-guide/pipeline/jenkins-agent.md
Labels: amamba, zh, size/S

#5992 [en] Add best-practice/grafana-use-db.md
  docs/en/docs/insight/best-practice/grafana-use-db.md
  docs/en/navigation.yml
Labels: insight, en, i18n

#5990 update node&pod gpu monitor and view the target status in insight
  docs/zh/docs/insight/images/collect02.png
  docs/zh/docs/insight/images/filter-map.png
  docs/zh/docs/insight/images/gpu-node.png
  docs/zh/docs/insight/images/gpu-pod.png
  docs/zh/docs/insight/images/target-status.png
  docs/zh/docs/insight/intro/release-notes.md
  docs/zh/docs/insight/user-guide/collection-manag/collection-manag.md
  docs/zh/docs/insight/user-guide/dashboard/login-grafana.md
  docs/zh/docs/insight/user-guide/infra/container.md
  docs/zh/docs/insight/user-guide/infra/node.md
  docs/zh/docs/insight/user-guide/trace/topology.md
  docs/zh/navigation.yml
Labels: insight, zh, size/M

#5994 Download: kant version updated to 0.17.0
  docs/en/docs/download/modules/kant.md
  docs/zh/docs/download/modules/kant.md
Labels: download, zh, en, i18n, size/M

#5993 add user guide of install light
  docs/zh/docs/install/images/light01.png
  docs/zh/docs/install/images/light02.png
  docs/zh/docs/install/images/light03.png
  docs/zh/docs/install/images/light04.png
  docs/zh/docs/install/images/light05.png
  docs/zh/docs/install/images/light06.png
  docs/zh/docs/install/images/light07.png
  docs/zh/docs/install/images/light08.png
  docs/zh/docs/install/images/light09.png
  docs/zh/docs/install/images/light10.png
  docs/zh/docs/install/images/light11.png
  docs/zh/docs/install/images/light12.png
  docs/zh/docs/install/images/light13.png
  docs/zh/docs/install/images/light14.png
  docs/zh/docs/install/images/light15.png
  docs/zh/docs/install/images/light16.png
  docs/zh/docs/install/images/light17.png
  docs/zh/docs/install/images/light18.png
  docs/zh/docs/install/light-install/install-light.md
  docs/zh/docs/install/light-install/light-install-solution.md
  docs/zh/navigation.yml
Labels: installer, zh, size/L

#5996 [en] update platform-setting/security.md
  docs/en/docs/ghippo/images/accesscontrl.png
  docs/en/docs/ghippo/user-guide/platform-setting/security.md
  docs/zh/docs/ghippo/user-guide/platform-setting/security.md
Labels: ghippo, zh, en, i18n, size/M

#5998 [en] Add best-practice/get-kubeconfig.md
  docs/en/docs/kpanda/best-practice/get-kubeconfig.md
  docs/en/navigation.yml
Labels: kpanda, en, i18n, size/L

#5999 ghippo v0.33.0 release notes
  docs/zh/docs/ghippo/intro/release-notes.md
Labels: ghippo, zh, size/S

#6000 update release note
  docs/zh/docs/kpanda/intro/release-notes.md
Labels: kpanda, zh, size/S

#6001 [en] update ghippo release-notes.md
  docs/en/docs/ghippo/intro/release-notes.md
  docs/zh/docs/ghippo/intro/release-notes.md
Labels: ghippo, zh, en, i18n, size/S

#6002 [en] update kpanda release notes
  docs/en/docs/kpanda/intro/release-notes.md
  docs/zh/docs/kpanda/intro/release-notes.md
Labels: kpanda, zh, en, i18n, size/M

#6003 update gpu operator
  docs/zh/docs/kpanda/user-guide/gpu/images/updategpuoperator.png
  docs/zh/docs/kpanda/user-guide/gpu/nvidia/install_nvidia_driver_of_operator.md
Labels: kpanda, zh, size/XS
