Repository DaoCloud/DaoCloud-docs, pull requests merged in 2025-07, with the labels that each got.

#6557 add instructions for the 'Batch Upload node' butto in create-cluster.md
  docs/zh/docs/kpanda/user-guide/clusters/create-cluster.md
  docs/zh/docs/kpanda/user-guide/images/createnew01.png
  docs/zh/docs/kpanda/user-guide/images/createnew02.png
  docs/zh/docs/kpanda/user-guide/images/createnew03.png
Labels: kpanda, zh, size/S

#6559 update details to configure certificate expiration period
  docs/zh/docs/kpanda/user-guide/clusters/create-cluster.md
  docs/zh/docs/kpanda/user-guide/clusters/k8s-cert.md
Labels: kpanda, zh, size/XS

#6562 update kant: node/access-guide.md
  docs/zh/docs/kant/user-guide/node/access-guide-v0.19.md
  docs/zh/docs/kant/user-guide/node/access-guide.md
Labels: zh, kant, size/L

#6564 Update CODEOWNERS and add hydra to labeler.yml
  .github/CODEOWNERS
  .github/labeler.yml
Labels: develop, size/S, size/M

#6567 add hydra to nav
  docs/zh/docs/hydra/back.md
  docs/zh/docs/hydra/developer/index.md
  docs/zh/docs/hydra/developer/quick-start.md
  docs/zh/docs/hydra/navigation.yml
  docs/zh/navigation.yml
Labels: zh, size/M, hydra

#6568 Add the audit of zestu in zestu.md
  docs/zh/docs/ghippo/user-guide/audit/gproduct-audit/zestu.md
  docs/zh/navigation.yml
Labels: ghippo, zh, size/S

#6570 gpu model switching
  docs/zh/docs/kpanda/user-guide/gpu/images/gpumodel1.png
  docs/zh/docs/kpanda/user-guide/gpu/nvidia/GPU-mode-switching.md
  docs/zh/navigation.yml
Labels: kpanda, zh, size/M

#6572 replace some terms in hydra
  docs/zh/docs/hydra/api-call.md
  docs/zh/docs/hydra/dataset.md
  docs/zh/docs/hydra/deploy.md
  docs/zh/docs/hydra/exp.md
  docs/zh/docs/hydra/index.md
  docs/zh/docs/hydra/user-guides/bob-translate.md
  docs/zh/docs/hydra/user-guides/cherry-studio.md
  docs/zh/docs/hydra/user-guides/cline-in-vscode.md
  docs/zh/docs/hydra/user-guides/index.md
  docs/zh/docs/hydra/user-guides/lobe-chat.md
Labels: zh, size/M, hydra

#6576 update images in the hydra
  docs/zh/docs/hydra/deploy_model.md
  docs/zh/docs/hydra/deploy_overview.md
  docs/zh/docs/hydra/images/apikey01.png
  docs/zh/docs/hydra/images/deploy01.png
  docs/zh/docs/hydra/images/deploy02.png
  docs/zh/docs/hydra/images/details01.png
  docs/zh/docs/hydra/images/details02.png
  docs/zh/docs/hydra/images/details03.png
  docs/zh/docs/hydra/images/exp01.png
  docs/zh/docs/hydra/images/exp02.png
  docs/zh/docs/hydra/images/exp03.png
  docs/zh/docs/hydra/images/exp04.png
  docs/zh/docs/hydra/images/exp06.png
  docs/zh/docs/hydra/images/exper01.png
  docs/zh/docs/hydra/images/exper02.png
  docs/zh/docs/hydra/images/service01.png
  docs/zh/docs/hydra/images/service02.png
  docs/zh/docs/hydra/images/service03.png
  docs/zh/docs/hydra/images/service04.png
  docs/zh/docs/hydra/images/service05.png
  docs/zh/navigation.yml
Labels: zh, size/S, hydra

#6577 move GPU-mode-switching.md
  docs/en/docs/kpanda/user-guide/gpu/GPU-mode-switching.md
  docs/zh/docs/kpanda/user-guide/gpu/GPU-mode-switching.md
Labels: kpanda, zh, en, i18n, size/XS

#6579 update content of hydra/deploy
  docs/zh/docs/hydra/api-call.md
  docs/zh/docs/hydra/deploy/deploy.md
  docs/zh/docs/hydra/deploy/index.md
  docs/zh/docs/hydra/deploy_model.md
  docs/zh/docs/hydra/exp.md
  docs/zh/docs/hydra/images/exp02.png
  docs/zh/docs/hydra/index.md
  docs/zh/navigation.yml
Labels: zh, size/L, hydra

#6581 Add model gallery page to hydra
  docs/zh/docs/hydra/oam/images/create-model.png
  docs/zh/docs/hydra/oam/images/create.png
  docs/zh/docs/hydra/oam/images/edit01.png
  docs/zh/docs/hydra/oam/images/edit02.png
  docs/zh/docs/hydra/oam/images/import01.png
  docs/zh/docs/hydra/oam/images/import02.png
  docs/zh/docs/hydra/oam/images/list.png
  docs/zh/docs/hydra/oam/images/offline.png
  docs/zh/docs/hydra/oam/images/select.png
  docs/zh/docs/hydra/oam/images/xiangqing.png
  docs/zh/docs/hydra/oam/index.md
  docs/zh/docs/hydra/oam/mdm.md
  docs/zh/navigation.yml
Labels: zh, size/L, hydra

#6582 Add hydra to dce5 homepage
  docs/en/docs/index.md
  docs/zh/docs/hydra/intro/images/console-and-operation.png
  docs/zh/docs/hydra/intro/index.md
  docs/zh/docs/hydra/intro/release-notes.md
  docs/zh/docs/index.md
Labels: zh, en, i18n, size/M, hydra

#6583 update installer version to v0.31.0
  docs/zh/docs/install/commercial/start-install.md
  docs/zh/docs/install/community/k8s/k8s-dce-deploy.md
  docs/zh/docs/install/community/k8s/offline.md
  docs/zh/docs/install/community/k8s/online.md
Labels: installer, zh, size/S, size/M

#6584 update release note
  docs/zh/docs/baize/intro/release-notes.md
  docs/zh/docs/install/release-notes.md
  docs/zh/docs/kant/intro/release-notes.md
Labels: installer, zh, kant, baize, size/S

#6588 update release notes for ghippo v0.39.0 and v0.38.1
  docs/zh/docs/ghippo/intro/release-notes.md
Labels: ghippo, zh, size/S

#6589 update release notes for virtnest v0.18.1
  docs/zh/docs/virtnest/intro/release-notes.md
Labels: zh, virtnest, size/S

#6590 update release notes for amamba v0.37.0
  docs/zh/docs/amamba/intro/release-notes.md
Labels: amamba, zh, size/S

#6591 [en] Add 16 pages to hydra
  docs/en/docs/hydra/api-call.md
  docs/en/docs/hydra/apikey.md
  docs/en/docs/hydra/dataset.md
  docs/en/docs/hydra/deploy/deploy.md
  docs/en/docs/hydra/deploy/index.md
  docs/en/docs/hydra/exp.md
  docs/en/docs/hydra/index.md
  docs/en/docs/hydra/intro/index.md
  docs/en/docs/hydra/intro/release-notes.md
  docs/en/docs/hydra/oam/index.md
  docs/en/docs/hydra/oam/mdm.md
  docs/en/docs/hydra/user-guides/bob-translate.md
  docs/en/docs/hydra/user-guides/cherry-studio.md
  docs/en/docs/hydra/user-guides/cline-in-vscode.md
  docs/en/docs/hydra/user-guides/index.md
  docs/en/docs/hydra/user-guides/lobe-chat.md
  docs/en/navigation.yml
Labels: en, i18n, size/XL, hydra

#6592 Fix hydra nav
  docs/en/navigation.yml
  docs/zh/navigation.yml
Labels: zh, en, i18n, size/XS

#6593 update regex and git url
  docs/zh/docs/native/git/index.md
  docs/zh/docs/native/git/vscode.md
Labels: zh, native, size/S

#6596 [en] Add dce-rn/20250630.md
  docs/en/docs/dce/dce-rn/20250630.md
  docs/en/navigation.yml
Labels: en, dce, i18n, size/L

#6598 Add mgr-mysql to install/faq.md
  docs/zh/docs/install/faq.md
  docs/zh/docs/install/images/manifest-enable.png
Labels: installer, zh, size/M

#6599 Fix indent for service account token yaml
  docs/en/docs/kpanda/best-practice/get-kubeconfig.md
  docs/zh/docs/kpanda/best-practice/get-kubeconfig.md
Labels: kpanda, zh, en, i18n, size/XS

#6602 update postgresql pages
  docs/zh/docs/middleware/postgresql/images/create00.png
  docs/zh/docs/middleware/postgresql/images/create01.png
  docs/zh/docs/middleware/postgresql/images/create02.png
  docs/zh/docs/middleware/postgresql/images/create03.png
  docs/zh/docs/middleware/postgresql/images/create04.png
  docs/zh/docs/middleware/postgresql/images/jiankong.png
  docs/zh/docs/middleware/postgresql/images/template01.png
  docs/zh/docs/middleware/postgresql/images/template02.png
  docs/zh/docs/middleware/postgresql/images/template03.png
  docs/zh/docs/middleware/postgresql/user-guide/instancemap.md
  docs/zh/docs/middleware/postgresql/user-guide/template.md
  docs/zh/navigation.yml
Labels: midware, zh, size/M

#6603 update postgresql/user-guide/backup.md
  docs/zh/docs/middleware/postgresql/images/backup00.png
  docs/zh/docs/middleware/postgresql/images/backup01.png
  docs/zh/docs/middleware/postgresql/user-guide/backup.md
Labels: midware, zh, size/S

#6606 custom resource permission
  docs/zh/docs/ghippo/best-practice/menu/menu-display-or-hiding.md
Labels: ghippo, zh, size/L

#6608 update k8s conformance to v1.32
  README.md
  README_zh.md
  docs/en/docs/dce/kcsp.md
  docs/en/docs/images/1.32.png
  docs/zh/docs/dce/kcsp.md
  docs/zh/docs/images/1.32.png
Labels: zh, en, dce, i18n, size/S

#6610 [en] Update baize oam and best practices
  docs/en/docs/baize/best-practice/train-with-tas.md
  docs/en/docs/baize/oam/gpu.md
  docs/en/docs/baize/oam/resource.md
  docs/en/docs/baize/oam/resource/create.md
  docs/en/docs/baize/oam/resource/manage.md
  docs/en/navigation.yml
  docs/zh/docs/baize/best-practice/train-with-tas.md
  docs/zh/docs/baize/oam/resource/create.md
  docs/zh/docs/baize/oam/resource/manage.md
Labels: zh, en, i18n, baize, size/L

#6615 [en] Update ghippo/intro/release-notes.md
  docs/en/docs/ghippo/intro/release-notes.md
Labels: ghippo, en, i18n, size/S
