Repository DaoCloud/DaoCloud-docs, pull requests merged in 2025-09, with the labels that each got.

#6698 docs: add advanced pipeline parameters
  docs/zh/docs/amamba/quickstart/feature-gates.md
  docs/zh/docs/amamba/user-guide/pipeline/advanced_parameters.md
  docs/zh/navigation.yml
Labels: amamba, zh, size/L

#6700 Add cilium/deploy-cilium.md
  docs/zh/docs/network/modules/cilium/deploy-cilium.md
  docs/zh/navigation.yml
Labels: zh, network, size/L

#6701 update cilium/deploy-cilium.md
  docs/zh/docs/network/modules/cilium/deploy-cilium.md
Labels: zh, network, size/L

#6705 Add topohub to labeler.yml
  .github/labeler.yml
Labels: develop, size/XS

#6707 update installer release note and topohub user guide
  docs/zh/docs/install/release-notes.md
  docs/zh/docs/topohub/images/access-device-02.png
  docs/zh/docs/topohub/intro/install.md
  docs/zh/docs/topohub/user-guide/device/manage-device.md
Labels: installer, zh, size/S, topohub

#6711 update intro/deploy-ws.md
  docs/zh/docs/hydra/intro/deploy-ws.md
Labels: zh, size/S, hydra

#6712 enable use_directory_urls
  docs/en/mkdocs.path.yaml
  docs/en/mkdocs.yml
  docs/zh/mkdocs.path.yaml
  docs/zh/mkdocs.yml
Labels: zh, en, i18n, size/XS

#6715 [en] Add dce-rn/20250831.md
  docs/en/docs/dce/dce-rn/20250831.md
  docs/en/navigation.yml
  docs/zh/docs/dce/dce-rn/20250831.md
Labels: zh, en, dce, i18n, size/M

#6716 [en] Add topohub pages
  docs/en/docs/topohub/device/batch-access.md
  docs/en/docs/topohub/device/index.md
  docs/en/docs/topohub/device/manage-device.md
  docs/en/docs/topohub/intro/index.md
  docs/en/docs/topohub/intro/install.md
  docs/en/docs/topohub/intro/release-notes.md
  docs/en/navigation.yml
Labels: en, i18n, size/L, topohub

#6717 [en] Update installer version to v0.33.0
  docs/en/docs/install/commercial/start-install.md
  docs/en/docs/install/community/k8s/k8s-dce-deploy.md
  docs/en/docs/install/community/k8s/offline.md
  docs/en/docs/install/community/k8s/online.md
  docs/en/docs/install/install-tools.md
  docs/en/docs/install/release-notes.md
  docs/zh/docs/install/release-notes.md
Labels: installer, zh, en, i18n, size/L

#6718 update install/faq.md
  docs/en/docs/install/faq.md
  docs/en/docs/install/images/manifest-enable.png
  docs/zh/docs/install/faq.md
Labels: installer, zh, en, i18n, size/M

#6727 update ghippo release notes
  docs/en/docs/ghippo/intro/release-notes.md
  docs/zh/docs/ghippo/intro/release-notes.md
Labels: ghippo, zh, en, i18n, size/M

#6728 [en] Update insight release notes to v0.37.0
  docs/en/docs/insight/intro/release-notes.md
Labels: insight, en, i18n, size/S

#6729 update kant release notes
  docs/en/docs/kant/intro/release-notes.md
  docs/zh/docs/kant/intro/release-notes.md
Labels: zh, en, kant, i18n, size/M

#6730 update kpanda release notes
  docs/en/docs/kpanda/intro/release-notes.md
  docs/zh/docs/kpanda/intro/release-notes.md
Labels: kpanda, zh, en, i18n, size/L

#6732 update mspider release notes
  docs/en/docs/mspider/intro/release-notes.md
  docs/zh/docs/mspider/intro/release-notes.md
Labels: mspider, zh, en, i18n, size/M

#6733 [en] update skoala release notes
  docs/en/docs/skoala/intro/release-notes.md
Labels: skoala, en, i18n, size/S

#6738 [en] Update baize release notes to v0.20.2
  docs/en/docs/baize/intro/release-notes.md
  docs/zh/docs/baize/intro/release-notes.md
Labels: zh, en, i18n, baize

#6745 update java app with otel instrumentation
  docs/zh/docs/insight/quickstart/otel/java/index.md
Labels: insight, zh, size/L

#6749 Add a usage doc: MaaS 管理文档
  docs/zh/docs/hydra/oam/images/maascreate.png
  docs/zh/docs/hydra/oam/images/maaslist.png
  docs/zh/docs/hydra/oam/maas.md
  docs/zh/navigation.yml
Labels: zh, size/M, hydra

#6751 Update network nav
  docs/zh/docs/network/config/index.md
  docs/zh/navigation.yml
Labels: zh, network, size/S

#6761 insight: update insight-scrape-config
  docs/zh/docs/insight/user-guide/collection-manag/collection-manag.md
Labels: insight, zh, size/L

#6765 [en] update insight doc: collection-manag.md
  docs/en/docs/insight/user-guide/collection-manag/collection-manag.md
Labels: insight, en, i18n, size/L

#6771 docs: add SR-IOV node policy documentation
  docs/en/navigation.yml
  docs/zh/docs/network/config/sriov-node-policy.md
  docs/zh/docs/network/images/sriov-policy01.png
  docs/zh/docs/network/images/sriov-policy02.png
  docs/zh/navigation.yml
Labels: zh, en, network, i18n, size/L

#6775 新增大模型服务平台的审计日志
  docs/zh/docs/ghippo/user-guide/audit/gproduct-audit/hydra.md
  docs/zh/navigation.yml
Labels: ghippo, zh, size/M
