Repository DaoCloud/DaoCloud-docs, pull requests merged in 2025-04, with the labels that each got.

#6345 update kpanda releasenote
  docs/zh/docs/kpanda/intro/release-notes.md
Labels: kpanda, zh, size/S

#6346 [en] update quickstart/otel/operator.md
  docs/en/docs/insight/quickstart/otel/operator.md
  docs/zh/docs/insight/quickstart/otel/operator.md
Labels: insight, zh, en, i18n, size/XS

#6351 add more redirects to fix broken links
  docs/en/mkdocs.path.yaml
  docs/en/mkdocs.yml
  docs/zh/mkdocs.path.yaml
  docs/zh/mkdocs.yml
Labels: zh, en, i18n, size/M

#6352 Replace an image with mermaid
  docs/en/docs/baize/best-practice/finetunel-llm.md
  docs/zh/docs/baize/best-practice/finetunel-llm.md
Labels: zh, en, i18n, baize, size/S

#6354 fix text color in mermaid
  docs/en/docs/baize/best-practice/finetunel-llm.md
  docs/zh/docs/baize/best-practice/finetunel-llm.md
Labels: zh, en, i18n, baize, size/XS

#6353 add diff content in opearator indect logical.
  docs/zh/docs/insight/quickstart/otel/operator.md
Labels: insight, zh, size/L

#6356 update classDef k8s color
  docs/en/docs/dce/license0.md
  docs/en/docs/ghippo/best-practice/authz-plan.md
  docs/en/docs/ghippo/best-practice/cluster-for-multiws.md
  docs/en/docs/ghippo/install/login.md
  docs/en/docs/ghippo/intro/features.md
  docs/en/docs/ghippo/user-guide/access-control/iam.md
  docs/en/docs/ghippo/user-guide/password.md
  docs/en/docs/install/index.md
  docs/en/docs/kangaroo/best-practice/managed-harbor-select-access-type.md
  docs/en/docs/kant/user-guide/node/index.md
  docs/en/docs/middleware/index.md
  docs/en/docs/mspider/best-practice/optimize-sidecar-resource.md
  docs/en/docs/mspider/intro/comp-archi-ui/architect.md
  docs/zh/docs/ghippo/best-practice/cluster-for-multiws.md
  docs/zh/docs/ghippo/install/login.md
  docs/zh/docs/ghippo/intro/features.md
  docs/zh/docs/ghippo/user-guide/access-control/iam.md
  docs/zh/docs/ghippo/user-guide/password.md
  docs/zh/docs/install/index.md
  docs/zh/docs/kangaroo/best-practice/managed-harbor-select-access-type.md
  docs/zh/docs/kant/user-guide/edge-network/index.md
  docs/zh/docs/kant/user-guide/node/index.md
  docs/zh/docs/middleware/index.md
  docs/zh/docs/mspider/best-practice/optimize-sidecar-resource.md
  docs/zh/docs/mspider/intro/comp-archi-ui/architect.md
Labels: zh, en, dce, size/L

#6349 docs: add amamba release stats
  docs/en/navigation.yml
  docs/zh/docs/amamba/images/feature-gates-release.jpeg
  docs/zh/docs/amamba/images/release-stats1.jpeg
  docs/zh/docs/amamba/images/release-stats2.jpeg
  docs/zh/docs/amamba/quickstart/feature-gates.md
  docs/zh/docs/amamba/user-guide/pipeline/release-stats.md
  docs/zh/navigation.yml
Labels: amamba, zh, en, i18n, size/L

#6358 fix 404 links in mspider folder
  docs/en/docs/mspider/intro/index.md
  docs/zh/docs/mspider/intro/index.md
Labels: mspider, zh, en, i18n, size/M

#6361 update pipeline/config/agent.md
  docs/en/docs/amamba/user-guide/pipeline/config/agent.md
  docs/zh/docs/amamba/user-guide/pipeline/config/agent.md
Labels: amamba, zh, en, i18n, size/L

#6363 Add anchors to create-argo-cd and pluggable-components
  docs/zh/docs/amamba/pluggable-components.md
  docs/zh/docs/amamba/user-guide/gitops/create-argo-cd.md
Labels: amamba, zh, size/S

#6365 fix links to intro/index.md
  docs/en/docs/dce/index.md
  docs/en/docs/install/index.md
  docs/zh/docs/install/index.md
Labels: installer, zh, en, dce, i18n, size/M

#6367 fix: link failed
  docs/zh/docs/amamba/user-guide/gitops/integrate-argocd-ui.md
Labels: amamba, zh, size/XS

#6369 [Insight] add golang traces with logs docs
  docs/zh/docs/insight/quickstart/otel/golang/golang.md
  docs/zh/docs/insight/quickstart/otel/golang/traceid_logs.md
  docs/zh/navigation.yml
Labels: insight, zh, size/L

#6371 Fix 1-2-3 list in helm/Import-addon.md
  docs/zh/docs/kpanda/user-guide/helm/Import-addon.md
Labels: kpanda, zh, size/S

#6374 update pictures in trigger
  docs/zh/docs/amamba/images/blue03.png
  docs/zh/docs/amamba/images/trigger001.png
  docs/zh/docs/amamba/user-guide/pipeline/run/trigger.md
  docs/zh/docs/amamba/user-guide/release/check-bluegreen.md
Labels: amamba, zh, size/XS

#6376 update some bullets with ul/li tag in markdown table
  docs/zh/docs/amamba/intro/features.md
  docs/zh/docs/dce/support.md
  docs/zh/docs/mspider/user-guide/mesh-config/istio-resources.md
Labels: mspider, amamba, zh, dce, size/M

#6381 update the picture in create and the text in use-configmap
  docs/zh/docs/kpanda/user-guide/configmaps-secrets/use-configmap.md
  docs/zh/docs/middleware/minio/images/create02.png
  docs/zh/docs/middleware/minio/user-guide/create.md
Labels: midware, zh, size/XS

#6384 add refer docs in dashboard.md
  docs/zh/docs/insight/user-guide/dashboard/dashboard.md
Labels: insight, zh, size/XS

#6385 update helm addon
  docs/zh/docs/kpanda/user-guide/helm/helm-app.md
  docs/zh/docs/kpanda/user-guide/images/updatehelm.png
Labels: kpanda, zh, size/S

#6387 [en] update dashboard/dashboard.md
  docs/en/docs/insight/user-guide/dashboard/dashboard.md
  docs/zh/docs/insight/user-guide/dashboard/dashboard.md
Labels: insight, zh, en, i18n, size/M

#6388 update baize nav
  docs/zh/docs/baize/intro/first.md
  docs/zh/docs/baize/intro/install.md
  docs/zh/navigation.yml
Labels: zh, baize, size/S

#6389 update the text in namespace,create-app-git,custom-hpa and the link in create-deployment
  docs/zh/docs/amamba/user-guide/namespace/namespace.md
  docs/zh/docs/amamba/user-guide/wizard/create-app-git.md
  docs/zh/docs/kpanda/user-guide/scale/custom-hpa.md
  docs/zh/docs/kpanda/user-guide/workloads/create-deployment.md
Labels: kpanda, amamba, zh, size/XS

#6393 update the text and pictures in overview, silent and message
  docs/zh/docs/insight/images/email01.png
  docs/zh/docs/insight/images/feishu01.png
  docs/zh/docs/insight/images/notify7.png
  docs/zh/docs/insight/images/silence00.png
  docs/zh/docs/insight/images/silence01.png
  docs/zh/docs/insight/images/webhook01.png
  docs/zh/docs/insight/images/wechatbot01.png
  docs/zh/docs/insight/user-guide/alert-center/message.md
  docs/zh/docs/insight/user-guide/alert-center/silent.md
  docs/zh/docs/insight/user-guide/dashboard/overview.md
Labels: insight, zh, size/S

#6395 update installer version to v0.28.0
  docs/zh/docs/install/commercial/start-install.md
  docs/zh/docs/install/community/k8s/k8s-dce-deploy.md
  docs/zh/docs/install/community/k8s/offline.md
  docs/zh/docs/install/community/k8s/online.md
  docs/zh/docs/install/community/kind/online.md
Labels: installer, zh, size/M

#6396 [en] Update installer to v0.28.0
  docs/en/docs/install/air-tag-download.md
  docs/en/docs/install/commercial/download-file.md
  docs/en/docs/install/commercial/start-install.md
  docs/en/docs/install/community/k8s/k8s-dce-deploy.md
  docs/en/docs/install/community/k8s/offline.md
  docs/en/docs/install/community/k8s/online.md
  docs/en/docs/install/community/kind/online.md
  docs/en/docs/install/install-tools.md
  docs/en/docs/install/k8s-install/ecs-install-dce5.0.md
  docs/zh/docs/install/air-tag-download.md
  docs/zh/docs/install/commercial/download-file.md
  docs/zh/docs/install/commercial/start-install.md
  docs/zh/docs/install/install-tools.md
  docs/zh/docs/install/k8s-install/ecs-install-dce5.0.md
  docs/zh/docs/install/light-install/install-light.md
Labels: installer, zh, en, i18n, size/L

#6400 update cluster version
  docs/zh/docs/kpanda/user-guide/clusters/cluster-version.md
  docs/zh/docs/kpanda/user-guide/gpu/images/vgpuaddon1.png
  docs/zh/docs/kpanda/user-guide/gpu/images/vgpuaddon2.png
  docs/zh/docs/kpanda/user-guide/gpu/images/vgpuaddon3.png
  docs/zh/docs/kpanda/user-guide/gpu/nvidia/vgpu/vgpu_addon.md
  docs/zh/docs/kpanda/user-guide/images/clusterversion1.png
Labels: kpanda, zh, size/M

#6401 update yaml in open-k8s-audit.md
  docs/en/docs/ghippo/user-guide/audit/open-k8s-audit.md
  docs/zh/docs/ghippo/user-guide/audit/open-k8s-audit.md
Labels: ghippo, zh, en, i18n, size/XL

#6405 Update Release Note
  docs/zh/docs/baize/intro/release-notes.md
  docs/zh/docs/install/release-notes.md
  docs/zh/docs/kant/intro/release-notes.md
Labels: installer, zh, kant, baize, size/M

#6403 adjust k8 audit config file format for kube-apiserver.yaml
  docs/en/docs/ghippo/user-guide/audit/open-k8s-audit.md
  docs/zh/docs/ghippo/user-guide/audit/open-k8s-audit.md
Labels: ghippo, zh, en, i18n, size/S

#6406 Correct Release Note Format
  docs/zh/docs/baize/intro/release-notes.md
  docs/zh/docs/install/release-notes.md
Labels: installer, zh, baize, size/M

#6407 update kcsp to tell DCE5.0 supports kubernetes v1.31
  README.md
  docs/en/docs/dce/kcsp.md
  docs/zh/docs/dce/kcsp.md
  docs/zh/docs/images/1.31.png
Labels: zh, en, dce, i18n, size/S

#6408 update README_zh.md
  README_zh.md
Labels: size/XS

#6409 insight: update otel operator doc
  docs/en/docs/insight/quickstart/otel/operator.md
  docs/zh/docs/insight/quickstart/otel/operator.md
Labels: insight, zh, en, i18n, size/L

#6404 add a new file named model-create in the AI Lab-developer
  docs/zh/docs/baize/developer/inference/model-create.md
  docs/zh/docs/baize/developer/jobs/view.md
  docs/zh/docs/baize/images/model-delete.png
  docs/zh/docs/baize/images/model-new.png
  docs/zh/docs/baize/images/model-update.png
  docs/zh/docs/baize/images/model-use01.png
  docs/zh/docs/baize/images/model-use02.png
  docs/zh/docs/baize/images/modelcreate01.png
  docs/zh/docs/baize/images/modelcreate02.png
  docs/zh/docs/baize/images/modelcreate03.png
  docs/zh/docs/baize/images/modeldownload01.png
  docs/zh/docs/baize/images/queue2.png
  docs/zh/docs/baize/oam/queue/create.md
  docs/zh/navigation.yml
Labels: zh, baize, size/M

#6410 Add dce-rn/20250331.md
  docs/zh/docs/dce/dce-rn/20250331.md
  docs/zh/navigation.yml
Labels: zh, dce, size/M

#6412 [en] Add dce-rn/20250331.md
  README.md
  docs/en/docs/dce/dce-rn/20250331.md
  docs/en/docs/dce/kcsp.md
  docs/en/docs/images/1.31.png
  docs/en/navigation.yml
  docs/zh/docs/dce/dce-rn/20250331.md
Labels: zh, en, dce, i18n, size/L

#6419 update deploy requirement
  docs/zh/docs/install/commercial/deploy-requirements.md
  docs/zh/docs/install/commercial/start-install.md
Labels: installer, zh, size/S, size/M

#6421 Update skoala.md
  docs/zh/docs/skoala/quickstart/skoala.md
Labels: skoala, zh, size/XS

#6422 feat: add compatibility links for various components and services
  resources/links-on-ui.yaml
Labels: size/XS

#6425 fix(check_links.py): streamline code
  .github/workflows/check-compatibility-links.yml
  scripts/check_links.py
Labels: develop, size/XS

#6427 fix(amamba): doc link failed
  docs/zh/docs/amamba/intro/tech-overview.md
  docs/zh/docs/amamba/quickstart/argo-karmada.md
Labels: amamba, zh, size/XS

#6428 fix(ghippo): navigation item
  docs/zh/docs/ghippo/best-practice/oem/demo.md
  docs/zh/navigation.yml
Labels: ghippo, zh, size/M

#6429 fix(amamba): navigation item
  docs/zh/navigation.yml
Labels: zh, size/XS

#6426 update redirects in en/mkdocs.yml
  docs/en/mkdocs.yml
Labels: en, i18n, size/S
