Repository DaoCloud/DaoCloud-docs, pull requests merged in 2025-02, with the labels that each got.

#6154 Update KCSP to support Kubernetes v1.30
  README.md
  README_zh.md
  docs/en/docs/dce/kcsp.md
  docs/en/docs/images/1.30.png
  docs/zh/docs/dce/kcsp.md
  docs/zh/docs/images/1.30.png
Labels: zh, en, dce, i18n, size/S

#6160 separate mesh-creation into 3 pages
  docs/zh/docs/amamba/quickstart/istio_argocd.md
  docs/zh/docs/amamba/quickstart/istio_argocd_rollout.md
  docs/zh/docs/ghippo/permissions/mspider.md
  docs/zh/docs/mspider/images/create-mesh01.png
  docs/zh/docs/mspider/images/dedicated01.png
  docs/zh/docs/mspider/images/dedicated02.png
  docs/zh/docs/mspider/images/dedicated03.png
  docs/zh/docs/mspider/images/dedicated04.png
  docs/zh/docs/mspider/images/hosted-mesh01.png
  docs/zh/docs/mspider/images/hosted-mesh02.png
  docs/zh/docs/mspider/images/hosted-mesh03.png
  docs/zh/docs/mspider/images/hosted-mesh04.png
  docs/zh/docs/mspider/images/hosted-mesh05.png
  docs/zh/docs/mspider/install/install.md
  docs/zh/docs/mspider/user-guide/cluster-management/README.md
  docs/zh/docs/mspider/user-guide/service-mesh/README.md
  docs/zh/docs/mspider/user-guide/service-mesh/dedicated-mesh.md
  docs/zh/docs/mspider/user-guide/service-mesh/hosted-mesh.md
  docs/zh/docs/mspider/user-guide/service-mesh/index.md
  docs/zh/docs/mspider/user-guide/service-mesh/params.md
  docs/zh/docs/skoala/best-practice/plugins/jwt.md
  docs/zh/docs/skoala/trad-ms/hosted/plugins/mesh.md
  docs/zh/docs/skoala/trad-ms/integrated/index.md
  docs/zh/docs/videos/mspider.md
  docs/zh/navigation.yml
Labels: mspider, zh, size/L

#6163 update addon kant-agent
  docs/zh/docs/download/addon/.template.md
Labels: size/XS

#6158 update istio vs k8s versions for mspider
  docs/en/docs/mspider/intro/istio-k8s.md
  docs/zh/docs/mspider/intro/istio-k8s.md
Labels: mspider, zh, en, i18n, size/XS

#6162 update kpanda release note
  docs/zh/docs/kpanda/intro/release-notes.md
Labels: kpanda, size/S

#6175 update redis/user-guide/update.md
  docs/zh/docs/middleware/redis/images/update.png
  docs/zh/docs/middleware/redis/images/update00.png
  docs/zh/docs/middleware/redis/images/update000.png
  docs/zh/docs/middleware/redis/images/update01.png
  docs/zh/docs/middleware/redis/images/update02.png
  docs/zh/docs/middleware/redis/images/update03.png
  docs/zh/docs/middleware/redis/images/update04.png
  docs/zh/docs/middleware/redis/user-guide/update.md
Labels: midware, zh, size/S

#6176 update redis/user-guide/create.md
  docs/zh/docs/middleware/redis/images/create00.png
  docs/zh/docs/middleware/redis/images/create01.png
  docs/zh/docs/middleware/redis/images/create02.png
  docs/zh/docs/middleware/redis/images/create03.png
  docs/zh/docs/middleware/redis/images/create04.png
  docs/zh/docs/middleware/redis/images/create05.png
  docs/zh/docs/middleware/redis/user-guide/create.md
Labels: midware, zh, size/S

#6178 update service-list/README.md
  docs/zh/docs/mspider/user-guide/service-list/README.md
Labels: mspider, zh, size/XS

#6179 update postgresql pages
  docs/zh/docs/middleware/postgresql/images/update01.png
  docs/zh/docs/middleware/postgresql/user-guide/antiaffinity.md
  docs/zh/docs/middleware/postgresql/user-guide/auto-backup.md
  docs/zh/docs/middleware/postgresql/user-guide/delete.md
  docs/zh/docs/middleware/postgresql/user-guide/instancemap.md
  docs/zh/docs/middleware/postgresql/user-guide/logs.md
  docs/zh/docs/middleware/postgresql/user-guide/update.md
Labels: midware, zh, size/M

#6180 update releasenote to 0.44.0 and fix some format
  docs/zh/docs/skoala/intro/release-notes.md
Labels: skoala, zh, size/M

#6181 update releasenote to 0.34.0
  docs/zh/docs/mspider/images/1.png
  docs/zh/docs/mspider/images/2.png
  docs/zh/docs/mspider/images/3.png
  docs/zh/docs/mspider/intro/release-notes.md
Labels: mspider, zh, size/L

#6185 update service-list/out-to-in.md
  docs/zh/docs/mspider/images/out-to-in02.png
  docs/zh/docs/mspider/user-guide/service-list/out-to-in.md
Labels: mspider, zh, size/XS

#6193 update otel-java-agent.md
  docs/en/docs/insight/quickstart/jvm-monitor/otel-java-agent.md
  docs/zh/docs/insight/quickstart/otel/java/jvm-monitor/otel-java-agent.md
Labels: insight, zh, en, i18n, size/M, size/L

#6196 chore(copyright): update to 2025
  docs/en/mkdocs.path.yaml
  docs/en/mkdocs.yml
  docs/zh/mkdocs.path.yaml
  docs/zh/mkdocs.yml
  docs/zh/pdf.yaml
Labels: zh, en, i18n, size/S

#6198 update details
  docs/zh/docs/kpanda/user-guide/clusters/create-cluster.md
  docs/zh/docs/kpanda/user-guide/images/createcluster214.png
  docs/zh/docs/kpanda/user-guide/workloads/pod-config/lifecycle.md
Labels: size/XS

#6200 ghippo v0.34.0 release notes
  docs/zh/docs/ghippo/intro/release-notes.md
Labels: ghippo, zh, size/S

#6202 [en] update ghippo release notes
  docs/en/docs/ghippo/intro/release-notes.md
  docs/zh/docs/ghippo/intro/release-notes.md
Labels: ghippo, zh, en, i18n, size/M

#6204 [en] Update kpanda create-cluster details
  docs/en/docs/kpanda/user-guide/clusters/create-cluster.md
  docs/en/docs/kpanda/user-guide/workloads/pod-config/lifecycle.md
  docs/zh/docs/kpanda/user-guide/clusters/create-cluster.md
  docs/zh/docs/kpanda/user-guide/workloads/pod-config/lifecycle.md
Labels: kpanda, zh, en, i18n, size/L

#6205 [en] update spiderpool/install/install.md
  docs/en/docs/network/modules/spiderpool/install/install.md
  docs/zh/docs/network/modules/spiderpool/install/install.md
Labels: zh, en, network, i18n, size/L

#6206 [en] update virtnest/quickstart/access.md
  docs/en/docs/virtnest/images/console01.png
  docs/en/docs/virtnest/quickstart/access.md
  docs/zh/docs/virtnest/images/console01.png
  docs/zh/docs/virtnest/quickstart/access.md
Labels: zh, en, virtnest, i18n, size/M

#6207 update virtnest/quickstart/index.md
  docs/zh/docs/virtnest/images/createvm01.png
  docs/zh/docs/virtnest/images/createvm04.png
  docs/zh/docs/virtnest/images/createvm05.png
  docs/zh/docs/virtnest/images/createvm06.png
  docs/zh/docs/virtnest/images/createvm07.png
  docs/zh/docs/virtnest/images/createvm08.png
  docs/zh/docs/virtnest/install/virtnest-agent.md
  docs/zh/docs/virtnest/quickstart/index.md
  docs/zh/docs/virtnest/template/index.md
  docs/zh/docs/virtnest/template/tep.md
  docs/zh/docs/virtnest/vm/clone.md
  docs/zh/docs/virtnest/vm/live-migration.md
  docs/zh/docs/virtnest/vm/migratiom.md
  docs/zh/docs/virtnest/vm/snapshot.md
Labels: zh, virtnest, size/M

#6208 fix(baize): update vscode support status
  docs/zh/docs/baize/intro/index.md
Labels: size/XS

#6209 Add dce-rn/20250131.md
  docs/zh/docs/dce/dce-rn/20250131.md
  docs/zh/navigation.yml
Labels: zh, dce, size/M

#6211 docs: update ghippo audit events
  docs/en/docs/ghippo/user-guide/audit/gproduct-audit/ghippo.md
  docs/zh/docs/ghippo/user-guide/audit/gproduct-audit/ghippo.md
Labels: ghippo, zh, en, i18n, size/S

#6212 feat(workflow): deploy to cloudflare page at frist
  .github/workflows/main.yml
Labels: develop, size/S

#6215 fix(image): redirect image url
  docs/zh/docs/_redirects
Labels: zh, size/XS

#6216 fix offline install docs
  docs/zh/docs/ghippo/install/offline-install.md
  docs/zh/docs/ghippo/user-guide/report-billing/gmagpie-offline-install.md
Labels: ghippo, zh, size/XS

#6219 chore(mkdocs.yml): disable auto git-commiter plugin
  docs/en/mkdocs.yml
  docs/zh/mkdocs.yml
Labels: zh, en, i18n, size/S

#6220 Add back download-section in nav
  docs/zh/navigation.yml
Labels: zh

#6221 fix(lost): dce/what url
  docs/en/mkdocs.yml
  docs/zh/mkdocs.yml
Labels: zh, en, i18n, size/XS

#6223 update clusterops/latest-operations.md
  docs/zh/docs/kpanda/images/operations01.png
  docs/zh/docs/kpanda/images/operations03.png
  docs/zh/docs/kpanda/user-guide/backup/etcd-backup.md
  docs/zh/docs/kpanda/user-guide/clusterops/latest-operations.md
Labels: kpanda, zh, size/S

#6224 Minor changes in ghippo folder to refresh the openapi index
  docs/zh/docs/ghippo/best-practice/authz-plan.md
  docs/zh/docs/ghippo/best-practice/folder-practice.md
  docs/zh/docs/ghippo/best-practice/menu/navigator.md
  docs/zh/docs/ghippo/best-practice/oem/keycloak-idp.md
  docs/zh/docs/ghippo/best-practice/oem/oem-out.md
  docs/zh/docs/ghippo/best-practice/system-message.md
  docs/zh/docs/ghippo/best-practice/ws-best-practice.md
  docs/zh/docs/ghippo/permissions/amamba.md
Labels: ghippo, zh, size/M

#6228 [en] add dce-rn/20250131.md
  docs/en/docs/dce/dce-rn/20250131.md
  docs/en/navigation.yml
  docs/zh/docs/dce/dce-rn/20250131.md
Labels: zh, en, dce, i18n, size/M

#6214 update user guide of egressgateway
  docs/zh/docs/network/images/Agent-Reconcile-Flow.png
  docs/zh/docs/network/images/Controller-Reconcile-Flow.png
  docs/zh/docs/network/images/Egress-Gateway-Datapath.png
  docs/zh/docs/network/images/Egress-Gateway.png
  docs/zh/docs/network/images/arch.png
  docs/zh/docs/network/images/architecture.png
  docs/zh/docs/network/images/architecture02.png
  docs/zh/docs/network/images/speed.svg
  docs/zh/docs/network/images/underlay_datapath.png
  docs/zh/docs/network/images/underlay_error_reply_datapath.png
  docs/zh/docs/network/images/underlay_reply_datapath.png
  docs/zh/docs/network/images/underlay_send_datapath.png
  docs/zh/docs/network/modules/egressgateway/ marketplace-install.md
  docs/zh/docs/network/modules/egressgateway/cluster-eg.md
  docs/zh/docs/network/modules/egressgateway/failover.md
  docs/zh/docs/network/modules/egressgateway/installation-on-aws/uninstall.k8s.md
  docs/zh/docs/network/modules/egressgateway/installation-on-aws/upgrade.k8s.md
  docs/zh/docs/network/modules/egressgateway/move-ip.md
  docs/zh/docs/network/modules/egressgateway/namespace-eg.md
  docs/zh/docs/network/modules/egressgateway/public-cloud/alicloud.md
  docs/zh/docs/network/modules/egressgateway/public-cloud/awswithcilium.md
  docs/zh/docs/network/modules/egressgateway/troubleshooting.md
  docs/zh/docs/network/modules/egressgateway/use-egpolicy.md
  docs/zh/navigation.yml
Labels: zh, network, size/XL

#6229 [en] update amamba release-notes
  docs/en/docs/amamba/intro/release-notes.md
  docs/zh/docs/amamba/intro/release-notes.md
Labels: amamba, zh, en, i18n, size/S

#6230 fix images and nav issues
  docs/zh/docs/network/images/egress-check.svg
  docs/zh/docs/network/images/new-vm.png
  docs/zh/docs/network/modules/egressgateway/failover.md
  docs/zh/docs/network/modules/egressgateway/install.md
  docs/zh/docs/network/modules/egressgateway/marketplace-install.md
  docs/zh/docs/network/modules/egressgateway/public-cloud/alicloud.md
  docs/zh/docs/network/modules/egressgateway/troubleshooting.md
Labels: zh, network, size/S

#6234 fix(lost): en/dce/what url
  docs/en/mkdocs.yml
  docs/zh/mkdocs.yml
Labels: zh, en, i18n, size/S

#6235 update install ver to v0.26.0
  docs/zh/docs/install/best-practices/etcd-host-deploy.md
  docs/zh/docs/install/commercial/start-install.md
  docs/zh/docs/install/k8s-install/ocp-install-dce5.0.md
  docs/zh/docs/install/os-install/TencentOS-install-dce5.0.md
  docs/zh/docs/install/os-install/neokylin-install-dce5.0.md
  docs/zh/docs/install/os-install/oracleLinux-install-dce5.0.md
  docs/zh/docs/install/os-install/otherlinux.md
  docs/zh/docs/install/os-install/uos-v20-install-dce5.0.md
Labels: installer, zh, size/M

#6233 support shortlink for install doc
  docs/zh/docs/kpanda/user-guide/gpu/gpu_matrix.md
Labels: kpanda, zh, size/S

#6213 Some text for presentation about open-source docs
  docs/zh/docs/blogs/2025/open-source-doc.md
  docs/zh/docs/blogs/index.md
  docs/zh/navigation.yml
Labels: zh, blogs, size/L

#6238 update best practice of create redhat9.2
  docs/zh/docs/kpanda/best-practice/create-redhat9.2-on-centos-platform.md
Labels: kpanda, zh, size/M

#6183 Draft：docs: add jenkins agent image mapping
  docs/zh/docs/amamba/images/agent-image.png
  docs/zh/docs/amamba/user-guide/gitops/applicationset.md
  docs/zh/docs/amamba/user-guide/gitops/integrate-argocd-ui.md
  docs/zh/docs/amamba/user-guide/pipeline/migrate-jenkins-agent-images.md
Labels: wip-do-not-merge, amamba, zh, size/M, size/L

#6239 update trace images according ui update
  docs/zh/docs/insight/images/traceidsearch.png
  docs/zh/docs/insight/images/tracelog.png
  docs/zh/docs/insight/images/tracesearch.png
  docs/zh/docs/insight/user-guide/trace/trace.md
Labels: insight, zh, size/XS

#6241 remove useless url and add description
  docs/zh/docs/insight/faq/alertnotify-enable-v2api.md
Labels: insight, zh, size/XS

#6243 fix: add pic
  docs/zh/docs/amamba/images/app-in-any-ns-config.png
  docs/zh/docs/amamba/images/argocd-ui-config.png
  docs/zh/docs/amamba/user-guide/gitops/applicationset.md
  docs/zh/docs/amamba/user-guide/gitops/integrate-argocd-ui.md
  docs/zh/docs/amamba/user-guide/pipeline/install-jenkins.md
Labels: amamba, zh, size/S

#6244 Update spiderpool release-notes
  docs/zh/docs/network/modules/spiderpool/release-notes.md
Labels: zh, network, size/M

#6246 fix: namespace typo
  docs/en/docs/amamba/pluggable-components.md
  docs/zh/docs/amamba/pluggable-components.md
Labels: amamba, zh, en, i18n, size/M

#6245 docs: arm build cgroup error
  docs/zh/docs/amamba/faq/faq-jenkins.md
Labels: amamba, zh, size/S
