Repository DaoCloud/DaoCloud-docs, pull requests merged in 2025-05, with the labels that each got.

#6430 Update spiderpool Release-notes
  docs/zh/docs/network/modules/metallb/install.md
  docs/zh/docs/network/modules/spiderpool/release-notes.md
Labels: zh, network, size/M

#6431 add Logstash optimize docs
  docs/zh/docs/insight/faq/logstash-optimize.md
Labels: insight, zh, size/M

#6432 add ghippo doc for account support use 2fa auth type
  docs/zh/docs/ghippo/images/2fa00.png
  docs/zh/docs/ghippo/images/2fa01.png
  docs/zh/docs/ghippo/images/2fa02.png
  docs/zh/docs/ghippo/user-guide/personal-center/2fa.md
  docs/zh/navigation.yml
Labels: ghippo, zh, size/M

#6434 update user.md, add how reset user 2fa
  docs/zh/docs/ghippo/images/2fa03.png
  docs/zh/docs/ghippo/user-guide/access-control/user.md
Labels: ghippo, zh, size/S

#6436 add max-pod.md
  docs/zh/docs/kpanda/best-practice/images/maxpod1.png
  docs/zh/docs/kpanda/best-practice/images/maxpod2.png
  docs/zh/docs/kpanda/best-practice/images/maxpod3.png
  docs/zh/docs/kpanda/best-practice/images/maxpod4.png
  docs/zh/docs/kpanda/best-practice/images/maxpod5.png
  docs/zh/docs/kpanda/best-practice/max-pod.md
  docs/zh/navigation.yml
Labels: kpanda, zh, size/L

#6437 add Automatic language switching detection
  docs/zh/docs/stylesheets/language-redirect.js
  docs/zh/mkdocs.yml
Labels: zh, size/M

#6438 update best-practice/max-pod.md
  docs/zh/docs/kpanda/best-practice/max-pod.md
Labels: kpanda, zh, size/L

#6440 update release note
  docs/zh/docs/skoala/intro/release-notes.md
Labels: skoala, zh, size/S

#6441 add navigation for kafka optimize
  docs/zh/navigation.yml
Labels: zh, size/S

#6443 Add language redirection script to en docs optimize the language switching function.
  docs/en/docs/stylesheets/language-redirect.js
  docs/en/mkdocs.yml
Labels: en, i18n, size/M

#6439 update max-pod.md
  docs/zh/docs/kpanda/best-practice/max-pod.md
Labels: kpanda, zh, size/S, size/M

#6444 [en] Add best-practice/max-pod.md
  docs/en/docs/kpanda/best-practice/images/maxpod1.png
  docs/en/docs/kpanda/best-practice/images/maxpod2.png
  docs/en/docs/kpanda/best-practice/images/maxpod3.png
  docs/en/docs/kpanda/best-practice/images/maxpod4.png
  docs/en/docs/kpanda/best-practice/images/maxpod5.png
  docs/en/docs/kpanda/best-practice/max-pod.md
  docs/en/navigation.yml
  docs/zh/docs/kpanda/best-practice/max-pod.md
  docs/zh/navigation.yml
Labels: kpanda, zh, en, i18n, size/L

#6446 Add EgressGateway Releases Notes
  docs/en/docs/network/modules/egressgateway/release-note.md
  docs/en/navigation.yml
  docs/zh/docs/network/modules/egressgateway/release-notes.md
  docs/zh/navigation.yml
Labels: zh, en, network, i18n, size/S

#6449 [en] update skoala release notes
  docs/en/docs/skoala/intro/release-notes.md
  docs/zh/docs/skoala/intro/release-notes.md
Labels: skoala, zh, en, i18n, size/S

#6453 update mspider release note
  docs/zh/docs/mspider/intro/release-notes.md
Labels: mspider, zh, size/S, size/M

#6450 add fluentbit dynamic kafka topic docs
  docs/zh/docs/insight/faq/fluentbit-dynamic-kafka-topic.md
  docs/zh/navigation.yml
Labels: insight, zh, size/M

#6456 Fix mermaid list in authz-plan.md
  docs/en/docs/ghippo/best-practice/authz-plan.md
  docs/zh/docs/ghippo/best-practice/authz-plan.md
Labels: ghippo, zh, en, i18n, size/S

#6459 fix(check_links.py)
  .github/workflows/check-compatibility-links.yml
Labels: develop, size/XS

#6460 update the permission descriptions in kpanda
  docs/zh/docs/ghippo/permissions/kpanda.md
Labels: ghippo, zh, size/S

#6461 update the permissions descriptions about namespace in kpanda
  docs/zh/docs/ghippo/permissions/kpanda.md
Labels: ghippo, zh, size/XS

#6463 update :new: icon in dce-release-notes pages
  docs/en/docs/dce/dce-rn/20250228.md
  docs/en/docs/dce/dce-rn/20250331.md
  docs/zh/docs/dce/dce-rn/20250131.md
  docs/zh/docs/dce/dce-rn/20250228.md
  docs/zh/docs/dce/dce-rn/20250331.md
Labels: zh, en, dce, i18n, size/M

#6464 remove zh text from en-baize page
  docs/en/docs/baize/developer/notebooks/baizectl.md
Labels: en, i18n, baize, size/XS

#6466 update hwameistor/resources/audit.md
  docs/en/docs/storage/hwameistor/resources/audit.md
  docs/en/docs/storage/images/audit01.png
  docs/en/docs/storage/images/audit02.png
  docs/en/navigation.yml
  docs/zh/docs/storage/hwameistor/resources/audit.md
Labels: size/M

#6468 Add dce-rn/20250430.md
  docs/zh/docs/dce/dce-rn/20250430.md
  docs/zh/navigation.yml
Labels: zh, dce, size/M

#6470 update release note
  docs/zh/docs/baize/intro/release-notes.md
  docs/zh/docs/install/release-notes.md
  docs/zh/docs/network/intro/release-notes.md
Labels: installer, zh, network, baize, size/M

#6471 docs(release-notes): add v0.36.0 release notes in English and Chinese
  docs/en/docs/ghippo/intro/release-notes.md
  docs/zh/docs/ghippo/intro/release-notes.md
Labels: ghippo, zh, en, i18n, size/S

#6472 docs(release-notes): add v0.36.0 updates in English and Chinese versions
  docs/en/docs/amamba/intro/release-notes.md
  docs/zh/docs/amamba/intro/release-notes.md
Labels: amamba, zh, en, i18n, size/S

#6473 docs(release-notes): add v0.17.0 release notes updates in English and Chinese versions
  docs/en/docs/virtnest/intro/release-notes.md
  docs/zh/docs/virtnest/intro/release-notes.md
Labels: zh, en, virtnest, i18n, size/S

#6474 update pictures in notebooks
  docs/zh/docs/baize/images/nb-delete01.png
  docs/zh/docs/baize/images/nb-delete02.png
  docs/zh/docs/baize/images/nb-delete03.png
  docs/zh/docs/baize/images/nb-start01.png
  docs/zh/docs/baize/images/nb-workload01.png
  docs/zh/docs/baize/images/notebook01.png
  docs/zh/docs/baize/images/notebook02.png
  docs/zh/docs/baize/images/notebook03.png
Labels: zh, baize, size/XS

#6476 update installer version to v0.29.0
  docs/zh/docs/install/commercial/start-install.md
  docs/zh/docs/install/community/k8s/k8s-dce-deploy.md
  docs/zh/docs/install/community/k8s/offline.md
  docs/zh/docs/install/community/k8s/online.md
Labels: installer, zh, size/M

#6480 Update versions supported by installer and kubean
  docs/en/docs/dce/dce-rn/20250331.md
  docs/en/docs/dce/dce-rn/20250430.md
  docs/zh/docs/dce/dce-rn/20250331.md
  docs/zh/docs/dce/dce-rn/20250430.md
Labels: zh, en, dce, i18n, size/S

#6481 [en] update baize release notes
  docs/en/docs/baize/intro/release-notes.md
Labels: en, i18n, baize, size/M

#6482 [en] update installer to v0.29.0
  docs/en/docs/install/commercial/start-install.md
  docs/en/docs/install/community/k8s/k8s-dce-deploy.md
  docs/en/docs/install/community/k8s/offline.md
  docs/en/docs/install/community/k8s/online.md
  docs/en/docs/install/release-notes.md
  docs/zh/docs/install/community/k8s/offline.md
  docs/zh/docs/install/community/k8s/online.md
Labels: installer, zh, en, i18n, size/M

#6483 added advanced configuration when creating the Notebook in the AI Lab
  docs/en/docs/baize/developer/notebooks/create.md
  docs/en/docs/baize/images/notebook06.png
  docs/zh/docs/baize/developer/notebooks/create.md
  docs/zh/docs/baize/images/notebook06.png
Labels: zh, en, i18n, baize, size/S

#6484 update the picture in upgrade-cluster
  docs/zh/docs/kpanda/images/createcluster07.png
  docs/zh/docs/kpanda/images/upgradecluster02.png
  docs/zh/docs/kpanda/images/upgradecluster03.png
  docs/zh/docs/kpanda/user-guide/clusters/upgrade-cluster.md
Labels: kpanda, zh, size/XS

#6486 updated images in the part of creating instances of MySql Database
  docs/zh/docs/middleware/mysql/images/create00.png
  docs/zh/docs/middleware/mysql/images/create01.png
  docs/zh/docs/middleware/mysql/images/create02.png
  docs/zh/docs/middleware/mysql/images/create03.png
  docs/zh/docs/middleware/mysql/images/create04.png
  docs/zh/docs/middleware/mysql/images/create05.png
Labels: midware, zh, size/XS

#6487 update the picture and in create-hpa and custom-hpa
  docs/zh/docs/kpanda/images/createScale.png
  docs/zh/docs/kpanda/images/createScale02.png
  docs/zh/docs/kpanda/images/createScale07.png
  docs/zh/docs/kpanda/images/createScale08.png
  docs/zh/docs/kpanda/images/createScale10.png
  docs/zh/docs/kpanda/images/deploy01.png
  docs/zh/docs/kpanda/user-guide/scale/create-hpa.md
  docs/zh/docs/kpanda/user-guide/scale/custom-hpa.md
Labels: kpanda, zh, size/S

#6488 add Resources configuration in the baize/developer/notebooks/create
  docs/en/docs/baize/developer/notebooks/create.md
  docs/en/docs/baize/images/notebook06.png
  docs/en/docs/baize/images/notebook07.png
  docs/zh/docs/baize/developer/notebooks/create.md
  docs/zh/docs/baize/images/notebook06.png
  docs/zh/docs/baize/images/notebook07.png
Labels: zh, en, i18n, baize, size/S

#6479 fix: no need create gateway && vs
  docs/zh/docs/amamba/user-guide/gitops/integrate-argocd-ui.md
Labels: amamba, zh, size/M

#6490 update images in baize-jobs
  docs/zh/docs/baize/images/delete01.png
  docs/zh/docs/baize/images/delete02.png
  docs/zh/docs/baize/images/delete03.png
  docs/zh/docs/baize/images/job01.png
  docs/zh/docs/baize/images/tensorboard-01.png
  docs/zh/docs/baize/images/tensorboard-02.png
  docs/zh/docs/baize/images/tensorboard-03.png
  docs/zh/docs/baize/images/view-wl01.png
  docs/zh/docs/baize/images/view-wl02.png
Labels: zh, baize, size/XS

#6495 update images in middleware-mysql-update
  docs/zh/docs/middleware/mysql/images/update01.png
  docs/zh/docs/middleware/mysql/images/update02.png
  docs/zh/docs/middleware/mysql/images/update03.png
  docs/zh/docs/middleware/mysql/images/update04.png
  docs/zh/docs/middleware/mysql/user-guide/update.md
Labels: midware, zh, size/XS

#6496 update the content of health-check in kpanda
  docs/zh/docs/kpanda/user-guide/workloads/pod-config/health-check.md
Labels: kpanda, zh, size/S, size/M

#6447 [Insight] update fb ignore annotation
  docs/zh/docs/insight/faq/ignore-pod-log-collect.md
Labels: insight, zh, size/S

#6458 NeoKylin Linux 系统运行 Fluent Bit 失败解决办法
  docs/zh/docs/insight/faq/kylin-fluentbit.md
  docs/zh/navigation.yml
Labels: insight, zh, size/M

#6504 update k8s-cert
  docs/zh/docs/kpanda/user-guide/clusters/create-cluster.md
  docs/zh/docs/kpanda/user-guide/clusters/k8s-cert.md
  docs/zh/docs/kpanda/user-guide/images/zhengshu.png
Labels: kpanda, zh, size/S

#6502 CI: add automated release notes sync workflow with GitHub Actions
  .github/workflows/call-update-release-notes.yaml
  .github/workflows/update-all-release-notes.yaml
  scripts/release.sh
Labels: develop, size/L

#6500 add a file named dify-use in kpanda
  docs/zh/docs/kpanda/best-practice/dify-use.md
  docs/zh/docs/kpanda/images/dify-install01.png
  docs/zh/docs/kpanda/images/dify-install02.png
  docs/zh/docs/kpanda/images/dify-install03.png
  docs/zh/docs/kpanda/images/dify-install04.png
  docs/zh/docs/kpanda/images/dify-install05.png
  docs/zh/docs/kpanda/images/dify-install06.png
  docs/zh/docs/kpanda/images/dify-use01.png
  docs/zh/docs/kpanda/images/dify-use02.png
  docs/zh/docs/kpanda/images/dify-use03.png
  docs/zh/docs/kpanda/images/dify-use04.png
  docs/zh/docs/kpanda/images/dify-use05.png
  docs/zh/docs/kpanda/images/dify-use06.png
  docs/zh/docs/kpanda/images/dify-use07.png
  docs/zh/docs/kpanda/images/dify-use08.png
  docs/zh/docs/kpanda/images/dify-use09.png
  docs/zh/docs/kpanda/images/dify-use10.png
  docs/zh/docs/kpanda/images/dify-use11.png
  docs/zh/docs/kpanda/images/dify-use12.png
  docs/zh/docs/kpanda/images/dify-use13.png
  docs/zh/docs/kpanda/images/dify-use14.png
  docs/zh/docs/kpanda/images/dify-use15.png
  docs/zh/docs/kpanda/images/dify-use16.jpeg
  docs/zh/navigation.yml
Labels: kpanda, zh, size/L
