Repository DaoCloud/DaoCloud-docs, pull requests merged in 2025-01, with the labels that each got.

#6091 update middleware components in january
  docs/en/docs/download/index.md
  docs/en/docs/download/modules/middleware/mysql.md
  docs/en/docs/download/modules/middleware/redis.md
  docs/zh/docs/download/index.md
  docs/zh/docs/download/modules/middleware/mysql.md
  docs/zh/docs/download/modules/middleware/redis.md
Labels: download, zh, en, i18n, size/S

#6093 download: mspider version updated to v0.33.0
  docs/zh/docs/download/modules/mspider.md
Labels: download, zh, size/XS

#6095 update kpanda releasenote
  docs/zh/docs/kpanda/intro/release-notes.md
Labels: kpanda, zh, size/S

#6096 [en] update skoala/intro/release-notes.md
  docs/en/docs/skoala/intro/release-notes.md
  docs/zh/docs/skoala/intro/release-notes.md
Labels: skoala, zh, en, i18n, size/S

#6097 [en] update download pages
  docs/en/docs/download/index.md
  docs/en/docs/download/modules/mspider.md
  docs/en/docs/download/modules/skoala.md
  docs/zh/docs/download/index.md
Labels: download, zh, en, i18n, size/S

#6101 [en] Add 2022-2023-2024 to blogs folder
  docs/en/docs/blogs/2022/220708-mspider.md
  docs/en/docs/blogs/2022/220808-kairship.md
  docs/en/docs/blogs/2022/220925-amamba.md
  docs/en/docs/blogs/2022/221008-dce-bg.md
  docs/en/docs/blogs/2022/221018-resource.md
  docs/en/docs/blogs/2022/221026-kpanda.md
  docs/en/docs/blogs/2022/221116-kcsp.md
  docs/en/docs/blogs/2022/221209-k8s-1.26.md
  docs/en/docs/blogs/2023/20231008-kcs.md
  docs/en/docs/blogs/2023/230110-res-usage.md
  docs/en/docs/blogs/2023/230201-forecast.md
  docs/en/docs/blogs/2023/230201-peter.md
  docs/en/docs/blogs/2023/230214-daocloud_k8s.md
  docs/en/docs/blogs/2023/230214-open-projects.md
  docs/en/docs/blogs/2023/230301-kwok.md
  docs/en/docs/blogs/2023/230315-install-on-linux.md
  docs/en/docs/blogs/2023/230315-install-on-macos.md
  docs/en/docs/blogs/2023/230317-edge-app-wp.md
  docs/en/docs/blogs/2023/230405-step-by-step-dce5.md
  docs/en/docs/blogs/2023/230411-spiderpool.md
  docs/en/docs/blogs/2023/230412-k8s-1.27.md
  docs/en/docs/blogs/2023/230417-cncf-platform-wp.md
  docs/en/docs/blogs/2023/230418-karmada-failover.md
  docs/en/docs/blogs/2023/230427-victoriametrics.md
  docs/en/docs/blogs/2023/230428-pod-startup.md
  docs/en/docs/blogs/2023/230508-cilium.md
  docs/en/docs/blogs/2023/230509-k8s-install.md
  docs/en/docs/blogs/2023/230518-seccom.md
  docs/en/docs/blogs/2023/230601-api-server-tracing.md
  docs/en/docs/blogs/2023/230605-fedstate.md
  docs/en/docs/blogs/2023/230609-istio118.md
  docs/en/docs/blogs/2023/230612-ray.md
  docs/en/docs/blogs/2023/230615-ray.md
  docs/en/docs/blogs/2023/230808-k8sgpt.md
  docs/en/docs/blogs/2023/230815-k8s1.28.md
  docs/en/docs/blogs/2023/230911-kubecon-contributor.md
  docs/en/docs/blogs/2023/231115-k8s-1.29-changes.md
  docs/en/docs/blogs/2023/231205-vm-bm-compare.md
  docs/en/docs/blogs/2023/231213-k8s-1.29.md
  docs/en/docs/blogs/2024/0606-k8s-birth.md
  docs/en/docs/blogs/2024/20240619-nvidiaai.md
  docs/en/docs/blogs/2024/240108-kubeedge.md
  docs/en/docs/blogs/2024/240115-news.md
  docs/en/docs/blogs/2024/240201-ai-compute.md
  docs/en/docs/blogs/2024/240203-book.md
  docs/en/docs/blogs/2024/240301-osc-eco.md
  docs/en/docs/blogs/2024/240326-kubecon-eu.md
  docs/en/docs/blogs/2024/240410-cnai-wp.md
  docs/en/docs/blogs/2024/240416-kubean.md
  docs/en/docs/blogs/2024/240509-model-spec.md
  docs/en/docs/blogs/2024/240516-sig-docs.md
  docs/en/docs/blogs/2024/241106-containerd-nerdctl-lima.md
  docs/en/docs/blogs/2024/241108-cncf-ambassador.md
  docs/en/docs/blogs/index.md
  docs/en/docs/community/fedstate.md
  docs/en/docs/community/kwok.md
  docs/en/docs/dce/kcsp.md
  docs/en/docs/kpanda/best-practice/update-offline-cluster.md
  docs/en/navigation.yml
Labels: en, blogs, i18n, size/L

#6102 add a blog: 2024 open-source report
  docs/zh/docs/blogs/2025/open-source-report.md
  docs/zh/docs/blogs/index.md
  docs/zh/navigation.yml
Labels: zh, blogs, size/XL

#6103 add more text to new blog
  docs/zh/docs/blogs/2025/open-source-report.md
Labels: zh, blogs, size/L

#6105 bump mysql to 0.25.1
  docs/en/docs/download/index.md
  docs/en/docs/download/modules/middleware/mysql.md
  docs/zh/docs/download/index.md
  docs/zh/docs/download/modules/middleware/mysql.md
Labels: download, zh, en, i18n, size/XS

#6106 add index and anchors
  docs/zh/docs/blogs/2025/open-source-report.md
Labels: zh, blogs, size/M

#6107 release notes: update amamba
  docs/zh/docs/amamba/intro/release-notes.md
Labels: amamba, zh, size/S

#6108 update ui screen to fix #6099
  docs/en/docs/ghippo/images/fd03.png
  docs/en/docs/ghippo/user-guide/workspace/folders.md
  docs/zh/docs/ghippo/images/fd03.png
  docs/zh/docs/ghippo/user-guide/workspace/folders.md
Labels: ghippo, zh, en, i18n, size/XS

#6109 update .github/CODEOWNERS
  .github/CODEOWNERS
Labels: develop, size/S

#6110 add oauth2.0 to fix issue #6094
  docs/en/docs/ghippo/intro/features.md
  docs/zh/docs/ghippo/intro/features.md
Labels: ghippo, zh, en, i18n, size/M

#6112 update create-hpa to fix issue #6075
  docs/en/docs/kpanda/user-guide/scale/create-hpa.md
  docs/zh/docs/kpanda/images/createScale08.png
  docs/zh/docs/kpanda/user-guide/scale/create-hpa.md
Labels: kpanda, zh, en, i18n, size/M

#6113 Add timezone options to create-cronjob
  docs/en/docs/kpanda/user-guide/images/cronjob04.png
  docs/en/docs/kpanda/user-guide/workloads/create-cronjob.md
  docs/zh/docs/kpanda/images/cronjob06.png
  docs/zh/docs/kpanda/images/job08.png
  docs/zh/docs/kpanda/user-guide/images/cronjob04.png
  docs/zh/docs/kpanda/user-guide/workloads/create-cronjob.md
  docs/zh/docs/kpanda/user-guide/workloads/create-job.md
Labels: kpanda, zh, en, i18n, size/S

#6114 update policy to upgrade daemonset
  docs/en/docs/kpanda/user-guide/workloads/create-daemonset.md
  docs/zh/docs/kpanda/images/deploy14.png
  docs/zh/docs/kpanda/user-guide/workloads/create-daemonset.md
Labels: kpanda, zh, en, i18n, size/M

#6115 update policy to upgrade statefulset
  docs/en/docs/kpanda/user-guide/workloads/create-daemonset.md
  docs/en/docs/kpanda/user-guide/workloads/create-deployment.md
  docs/en/docs/kpanda/user-guide/workloads/create-statefulset.md
  docs/zh/docs/kpanda/images/state-deploy14.png
  docs/zh/docs/kpanda/user-guide/workloads/create-statefulset.md
Labels: kpanda, zh, en, i18n, size/M

#6120 use yaml for consistency in a single page
  docs/en/docs/kpanda/best-practice/kubean-low-version.md
  docs/zh/docs/kpanda/best-practice/kubean-low-version.md
Labels: kpanda, zh, en, i18n, size/S

#6123 download: dce5 version updated to v0.25.0
  docs/zh/docs/download/business/dce5-installer-history.md
  docs/zh/docs/download/business/dce5-installer-v0.25.0.md
  docs/zh/docs/download/free/dce5-installer-history.md
  docs/zh/docs/download/free/dce5-installer-v0.25.0.md
  docs/zh/docs/download/index.md
Labels: download, zh, size/L

#6124 Add dce-rn/20241231.md
  docs/zh/docs/dce/dce-rn/20241231.md
  docs/zh/navigation.yml
Labels: zh, dce, size/M

#6125 [en] Add 20241030.md, 20241130.md, 20241231.md
  docs/en/docs/dce/dce-rn/20240930.md
  docs/en/docs/dce/dce-rn/20241030.md
  docs/en/docs/dce/dce-rn/20241130.md
  docs/en/docs/dce/dce-rn/20241231.md
  docs/en/navigation.yml
  docs/zh/docs/dce/dce-rn/20241030.md
  docs/zh/docs/dce/dce-rn/20241130.md
Labels: zh, en, dce, i18n, size/L

#6133 update image and text for ubuntu22.04_offline_install_driver
  docs/en/docs/kpanda/user-guide/gpu/images/driver.jpg
  docs/zh/docs/kpanda/user-guide/gpu/images/driver.jpg
  docs/zh/docs/kpanda/user-guide/gpu/nvidia/ubuntu22.04_offline_install_driver.md
Labels: kpanda, zh, en, i18n, size/XS

#6142 feat: split download docs, and auto clone in workflow
  .github/workflows/main.yml
Labels: develop, size/S

#6143 unused main.path.yml
  .github/workflows/main.path.yml
Labels: develop, size/XS

#6144 Fix issues in scheduling-policy.md
  docs/zh/docs/kpanda/user-guide/workloads/create-cronjob.md
  docs/zh/docs/kpanda/user-guide/workloads/create-daemonset.md
  docs/zh/docs/kpanda/user-guide/workloads/create-deployment.md
  docs/zh/docs/kpanda/user-guide/workloads/create-job.md
  docs/zh/docs/kpanda/user-guide/workloads/create-statefulset.md
  docs/zh/docs/kpanda/user-guide/workloads/pod-config/scheduling-policy.md
  docs/zh/navigation.yml
Labels: kpanda, zh, size/M

#6145 add desc to hpa, vpa, and cronhpa
  docs/zh/docs/kpanda/images/installcronhpa3.png
  docs/zh/docs/kpanda/user-guide/scale/create-hpa.md
  docs/zh/docs/kpanda/user-guide/scale/create-vpa.md
  docs/zh/docs/kpanda/user-guide/scale/custom-hpa.md
  docs/zh/docs/kpanda/user-guide/scale/hpa-cronhpa-compatibility-rules.md
  docs/zh/docs/kpanda/user-guide/scale/install-cronhpa.md
Labels: kpanda, zh, size/M

#6146 update multicloud namespace
  docs/en/docs/amamba/user-guide/namespace/multi-namespace.md
  docs/en/docs/amamba/user-guide/namespace/namespace.md
  docs/en/navigation.yml
  docs/zh/navigation.yml
Labels: amamba, zh, en, i18n, size/M

#6141 update install to v0.25.0
  docs/zh/docs/install/commercial/start-install.md
  docs/zh/docs/install/community/k8s/k8s-dce-deploy.md
  docs/zh/docs/install/community/k8s/offline.md
  docs/zh/docs/install/community/k8s/online.md
  docs/zh/docs/install/community/kind/online.md
Labels: installer, zh, size/S

#6148 modify feature list and update release note
  docs/zh/docs/insight/intro/feature.md
  docs/zh/docs/insight/intro/release-notes.md
Labels: insight, zh, size/S

#6149 fix image path
  docs/zh/docs/insight/user-guide/infra/node.md
Labels: insight, zh, size/XS

#6150 update oem
  docs/zh/docs/ghippo/best-practice/oem/oem-in.md
Labels: ghippo, zh, size/XS

#6151 update release note
  docs/zh/docs/baize/intro/release-notes.md
  docs/zh/docs/install/release-notes.md
  docs/zh/docs/kant/intro/release-notes.md
Labels: installer, zh, kant, baize, size/M

#6152 update metallb docs
  docs/en/navigation.yml
  docs/zh/docs/network/modules/metallb/debug.md
  docs/zh/docs/network/modules/metallb/install.md
  docs/zh/navigation.yml
Labels: zh, en, network, i18n, size/S
