Repository DaoCloud/DaoCloud-docs, pull requests merged in 2025-06, with the labels that each got.

#6511 Fix version number in 20250331.md and 20250430.md
  docs/zh/docs/dce/dce-rn/20250331.md
  docs/zh/docs/dce/dce-rn/20250430.md
Labels: zh, dce, size/XS

#6515 change the version number of kpanda
  docs/zh/docs/kpanda/intro/release-notes.md
Labels: kpanda, zh, size/XS

#6516 fix the guide in update-offline-cluster.md
  docs/zh/docs/kpanda/best-practice/update-offline-cluster.md
Labels: kpanda, zh, size/S

#6521 add enflame and biren in gpu_matrix
  docs/zh/docs/kpanda/user-guide/gpu/gpu_matrix.md
Labels: kpanda, zh, size/S

#6522 Update kylin-fluentbit.md
  docs/zh/docs/insight/faq/kylin-fluentbit.md
Labels: insight, zh, size/XS

#6526 [en] Update troubleshooting/ghippo04.md
  docs/en/docs/ghippo/troubleshooting/ghippo01.md
  docs/en/docs/ghippo/troubleshooting/ghippo04.md
Labels: ghippo, en, i18n, size/M

#6531 repair the picture
  docs/zh/docs/kpanda/user-guide/clusters/create-cluster.md
  docs/zh/docs/kpanda/user-guide/images/clustercert.png
Labels: kpanda, zh, size/S

#6532 Add swim-lane to mspider
  docs/zh/docs/mspider/user-guide/swim-lane/images/lane01.png
  docs/zh/docs/mspider/user-guide/swim-lane/images/lane02.png
  docs/zh/docs/mspider/user-guide/swim-lane/images/lane03.png
  docs/zh/docs/mspider/user-guide/swim-lane/images/lane04.png
  docs/zh/docs/mspider/user-guide/swim-lane/images/lane05.png
  docs/zh/docs/mspider/user-guide/swim-lane/images/lane06.png
  docs/zh/docs/mspider/user-guide/swim-lane/index.md
  docs/zh/navigation.yml
Labels: mspider, zh, size/L

#6533 rename swim-lane to traffic-lane
  docs/zh/docs/mspider/user-guide/traffic-lane/images/lane01.png
  docs/zh/docs/mspider/user-guide/traffic-lane/images/lane02.png
  docs/zh/docs/mspider/user-guide/traffic-lane/images/lane03.png
  docs/zh/docs/mspider/user-guide/traffic-lane/images/lane04.png
  docs/zh/docs/mspider/user-guide/traffic-lane/images/lane05.png
  docs/zh/docs/mspider/user-guide/traffic-lane/images/lane06.png
  docs/zh/docs/mspider/user-guide/traffic-lane/index.md
  docs/zh/navigation.yml
Labels: mspider, zh, size/XS

#6534 fix a CRD yaml
  docs/en/docs/kairship/crds/crd.md
  docs/en/docs/kpanda/user-guide/custom-resources/create.md
  docs/zh/docs/kairship/crds/crd.md
  docs/zh/docs/kpanda/user-guide/custom-resources/create.md
Labels: kairship, kpanda, zh, en, i18n, size/XS

#6536 Desensitization of key information
  docs/zh/docs/mspider/user-guide/traffic-lane/images/lane02.png
  docs/zh/docs/mspider/user-guide/traffic-lane/images/lane03.png
  docs/zh/docs/mspider/user-guide/traffic-lane/images/lane04.png
  docs/zh/docs/mspider/user-guide/traffic-lane/images/lane05.png
  docs/zh/docs/mspider/user-guide/traffic-lane/images/lane06.png
  docs/zh/docs/mspider/user-guide/traffic-lane/index.md
Labels: mspider, zh, size/L

#6539 insight: update servicemonitor yaml
  docs/en/docs/insight/user-guide/collection-manag/service-monitor.md
  docs/zh/docs/insight/user-guide/collection-manag/service-monitor.md
Labels: insight, zh, en, i18n, size/S

#6541 update spiderpool/release-notes.md
  docs/en/docs/network/intro/release-notes.md
  docs/en/docs/network/modules/spiderpool/release-notes.md
  docs/zh/docs/network/intro/release-notes.md
  docs/zh/docs/network/modules/spiderpool/release-notes.md
Labels: zh, en, network, i18n, size/M, size/L

#6542 update kant release notes
  docs/en/docs/kant/intro/release-notes.md
  docs/zh/docs/kant/intro/release-notes.md
Labels: zh, en, kant, i18n, size/S

#6545 [en] update insight release notes
  docs/en/docs/insight/intro/release-notes.md
  docs/zh/docs/insight/intro/release-notes.md
Labels: insight, zh, en, i18n, size/S

#6546 update virtnest/intro/index.md
  docs/en/docs/virtnest/intro/index.md
  docs/zh/docs/virtnest/intro/index.md
Labels: zh, en, virtnest, i18n, size/S

#6548 修正云原生网络 vlanid 相关注解描述错误
  docs/en/docs/network/intro/release-notes.md
  docs/zh/docs/network/intro/release-notes.md
Labels: zh, en, network, i18n, size/XS

#6553 docs(release-notes): add v0.37.0 updates for permission, SDK, and CSS…
  docs/zh/docs/ghippo/intro/release-notes.md
Labels: ghippo, zh, size/XS
