Repository DaoCloud/DaoCloud-docs, pull requests merged in 2025-03, with the labels that each got.

#6252 Update egw version to v0.6.2
  docs/en/docs/network/modules/egressgateway/aws/marketplace-install.md
  docs/zh/docs/network/modules/egressgateway/aws/marketplace-install.md
Labels: zh, en, network, i18n, size/XS

#6251 update release note
  docs/zh/docs/skoala/intro/release-notes.md
Labels: skoala, zh, size/XS

#6262 update insight releasenote
  docs/zh/docs/insight/intro/release-notes.md
Labels: insight, zh, size/S

#6263 update mcamel releasenote
  docs/zh/docs/middleware/elasticsearch/release-notes.md
  docs/zh/docs/middleware/kafka/release-notes.md
  docs/zh/docs/middleware/mysql/release-notes.md
  docs/zh/docs/middleware/redis/release-notes.md
  docs/zh/docs/middleware/rocketmq/release-notes.md
Labels: midware, zh, size/M

#6266 [en] update insight release notes
  docs/en/docs/insight/intro/release-notes.md
  docs/zh/docs/insight/intro/release-notes.md
Labels: insight, zh, en, i18n, size/M

#6267 [en] update skoala release notes
  docs/en/docs/skoala/intro/release-notes.md
Labels: skoala, en, i18n, size/S

#6268 fix: incorrect prerequisite for OAM and argo-cd
  docs/zh/docs/amamba/user-guide/gitops/create-argo-cd.md
  docs/zh/docs/amamba/user-guide/oam/create.md
  docs/zh/docs/amamba/user-guide/release/blue-green.md
  docs/zh/docs/amamba/user-guide/release/canary.md
Labels: amamba, zh, size/XS

#6270 fix button style to download
  docs/zh/docs/install/index.md
Labels: installer, zh, size/XS

#6271 [en] Update baize release notes
  docs/en/docs/baize/intro/release-notes.md
Labels: en, i18n, baize, size/S

#6272 add instructions to convert docx with mdctl
  docs/zh/docs/native/git/images/doc-template.docx.zip
  docs/zh/docs/native/git/md-docx.md
  docs/zh/navigation.yml
Labels: zh, native, size/L

#6278 fix a typo for md-docx.md
  docs/zh/docs/native/git/md-docx.md
Labels: zh, native, size/XS

#6280 update pipeline/create/template.md to fix 6277
  docs/zh/docs/amamba/images/template01.png
  docs/zh/docs/amamba/images/template02.png
  docs/zh/docs/amamba/user-guide/pipeline/create/template.md
Labels: amamba, zh, size/S

#6281 update pipeline/create/jenkins.md to fix 6276
  docs/zh/docs/amamba/images/gitpipeline.png
  docs/zh/docs/amamba/images/pipe-cust01.jpg
  docs/zh/docs/amamba/images/pipe-cust01.png
  docs/zh/docs/amamba/images/selecttype.png
  docs/zh/docs/amamba/quickstart/deploy-pipeline.md
  docs/zh/docs/amamba/user-guide/pipeline/create/custom.md
  docs/zh/docs/amamba/user-guide/pipeline/create/jenkins.md
  docs/zh/docs/amamba/user-guide/pipeline/create/template.md
Labels: amamba, zh, size/M

#6283 update ghippo release note
  docs/zh/docs/ghippo/intro/release-notes.md
Labels: ghippo, zh, size/M

#6282 update amamba release note
  docs/zh/docs/amamba/intro/release-notes.md
Labels: amamba, zh, size/S

#6284 update virtnest release note
  docs/zh/docs/virtnest/intro/release-notes.md
Labels: zh, virtnest, size/S

#6285 update mysql/user-guide/create-mgr.md
  docs/en/docs/middleware/mysql/user-guide/create-mgr.md
  docs/zh/docs/middleware/mysql/user-guide/create-mgr.md
Labels: midware, zh, en, i18n, size/S

#6288 add gpupod.md
  docs/zh/docs/kpanda/user-guide/gpu/gpupod.md
  docs/zh/docs/kpanda/user-guide/gpu/images/gpupod1.png
  docs/zh/docs/kpanda/user-guide/gpu/images/gpupod2.png
  docs/zh/docs/kpanda/user-guide/gpu/images/gpupod3.png
  docs/zh/navigation.yml
Labels: kpanda, zh, size/S

#6289 Update ignore-pod-log-collect.md
  docs/zh/docs/insight/faq/ignore-pod-log-collect.md
Labels: insight, zh, size/XS

#6290 typo: ignore-pod-log-collect.md
  docs/zh/docs/insight/faq/ignore-pod-log-collect.md
Labels: insight, zh, size/XS

#6291 update pipeline/create/custom.md
  docs/zh/docs/amamba/images/custom02.png
  docs/zh/docs/amamba/images/custom03.png
  docs/zh/docs/amamba/user-guide/pipeline/create/custom.md
Labels: amamba, zh, size/M

#6292 update amamba/pluggable-components.md
  docs/zh/docs/amamba/images/argocd01.png
  docs/zh/docs/amamba/images/vela01.png
  docs/zh/docs/amamba/pluggable-components.md
Labels: amamba, zh, size/M

#6293 update kpanda audit
  docs/zh/docs/ghippo/user-guide/audit/gproduct-audit/kpanda.md
Labels: ghippo, zh, size/XS

#6294 update quickstart/deploy-pipeline.md
  docs/zh/docs/amamba/images/editpipe03.png
  docs/zh/docs/amamba/images/editpipe04.png
  docs/zh/docs/amamba/images/pipelin03.png
  docs/zh/docs/amamba/images/quickstart05.png
  docs/zh/docs/amamba/quickstart/deploy-pipeline.md
Labels: amamba, zh, size/M

#6295 Add helm and olm pages to amamba
  docs/zh/docs/amamba/images/olm01.png
  docs/zh/docs/amamba/user-guide/helm.md
  docs/zh/docs/amamba/user-guide/olm.md
  docs/zh/navigation.yml
Labels: amamba, zh, size/M

#6296 update edge-unit/create-internal-unit.md
  docs/zh/docs/kant/user-guide/edge-unit/create-internal-unit.md
Labels: zh, kant, size/M

#6297 Add kubecon schedules for hk, japan, and london
  docs/zh/docs/native/news/news-2025.md
Labels: zh, native, size/XS

#6298 Add release notes v0.27-20250228.md
  docs/zh/docs/dce/dce-rn/20230531.md
  docs/zh/docs/dce/dce-rn/20250228.md
  docs/zh/docs/install/commercial/external/external-os.md
  docs/zh/docs/install/faq.md
  docs/zh/docs/install/images/404-osrepos.png
  docs/zh/docs/install/release-notes.md
  docs/zh/navigation.yml
Labels: installer, zh, dce, size/L

#6300 update installer version to v0.27.0
  docs/zh/docs/install/commercial/start-install.md
  docs/zh/docs/install/community/k8s/k8s-dce-deploy.md
  docs/zh/docs/install/community/k8s/offline.md
  docs/zh/docs/install/community/k8s/online.md
  docs/zh/docs/install/community/kind/online.md
Labels: installer, zh, size/M

#6302 [en] update amamba release notes
  docs/en/docs/amamba/intro/release-notes.md
Labels: amamba, en, i18n, size/S

#6303 [en] update baize release notes
  docs/en/docs/baize/intro/release-notes.md
Labels: en, i18n, baize, size/S

#6305 [en] update installer release notes
  docs/en/docs/install/release-notes.md
Labels: installer, en, i18n, size/M

#6306 [en] update kairship release notes
  docs/en/docs/kairship/intro/release-notes.md
Labels: kairship, en, i18n, size/XS

#6308 [en] update kant release notes
  docs/en/docs/kant/intro/release-notes.md
Labels: en, kant, i18n, size/M

#6309 [en] update kpanda release notes
  docs/en/docs/kpanda/intro/release-notes.md
Labels: kpanda, en, i18n, size/M

#6310 [en] update midware release notes
  docs/en/docs/middleware/elasticsearch/release-notes.md
  docs/en/docs/middleware/kafka/release-notes.md
  docs/en/docs/middleware/mysql/release-notes.md
  docs/en/docs/middleware/redis/release-notes.md
  docs/en/docs/middleware/rocketmq/release-notes.md
  docs/zh/docs/middleware/elasticsearch/release-notes.md
  docs/zh/docs/middleware/kafka/release-notes.md
Labels: midware, zh, en, i18n, size/M

#6314 [en] update virtnest release notes
  docs/en/docs/virtnest/intro/release-notes.md
Labels: en, virtnest, i18n, size/S

#6311 [en] update mspider release notes
  docs/en/docs/mspider/intro/release-notes.md
Labels: mspider, en, i18n, size/M

#6313 update hwameistor release notes
  docs/en/docs/storage/hwameistor/release-notes.md
  docs/zh/docs/storage/hwameistor/release-notes.md
Labels: zh, en, storage, i18n, size/S

#6315 [en] update installer version to v0.27.0
  docs/en/docs/install/commercial/start-install.md
  docs/en/docs/install/community/k8s/k8s-dce-deploy.md
  docs/en/docs/install/community/k8s/offline.md
  docs/en/docs/install/community/k8s/online.md
  docs/en/docs/install/community/kind/online.md
  docs/zh/docs/install/community/kind/online.md
Labels: installer, zh, en, i18n, size/M

#6319 update custom-kpanda-role.md
  docs/zh/docs/kpanda/user-guide/permissions/custom-kpanda-role.md
Labels: kpanda, zh, size/XS

#6320 update details
  docs/zh/docs/kpanda/user-guide/gpu/gpu_matrix.md
Labels: kpanda, zh, size/XS

#6322 update insight probe doc
  docs/en/docs/insight/user-guide/infra/probe.md
  docs/zh/docs/insight/user-guide/infra/probe.md
Labels: insight, zh, en, i18n, size/M

#6326 [en] Sync Insight navs with zh
  docs/en/navigation.yml
  docs/zh/docs/insight/intro/features.md
  docs/zh/navigation.yml
Labels: insight, zh, en, i18n, size/XS

#6327 [en] update insight files
  docs/en/docs/insight/best-practice/vm-resource-plan.md
  docs/en/docs/insight/quickstart/agent-status.md
  docs/en/docs/insight/quickstart/install/index.md
  docs/en/docs/insight/quickstart/jvm-monitor/jmx-exporter.md
  docs/en/docs/insight/quickstart/jvm-monitor/jvm-catelogy.md
  docs/en/docs/insight/quickstart/jvm-monitor/legacy-jvm.md
  docs/en/docs/insight/quickstart/jvm-monitor/otel-java-agent.md
  docs/en/docs/insight/quickstart/otel/golang-ebpf.md
  docs/en/docs/insight/quickstart/otel/java/index.md
  docs/en/docs/insight/quickstart/otel/java/mdc.md
  docs/en/docs/insight/quickstart/res-plan/index.md
  docs/en/navigation.yml
  docs/zh/docs/insight/best-practice/vm-resource-plan.md
  docs/zh/docs/insight/quickstart/install/helm-installagent.md
  docs/zh/docs/insight/quickstart/install/index.md
  docs/zh/docs/insight/quickstart/otel/java/index.md
Labels: insight, zh, en, i18n, size/XL

#6329 update insight k8s compatibility doc
  docs/en/docs/insight/compati-test/k8s-compatibility.md
  docs/zh/docs/insight/compati-test/k8s-compatibility.md
Labels: insight, zh, en, i18n, size/M

#6330 update details
  docs/zh/docs/ghippo/images/createws.png
  docs/zh/docs/ghippo/images/deletews.png
  docs/zh/docs/ghippo/images/movews.png
  docs/zh/docs/ghippo/user-guide/report-billing/index.md
  docs/zh/docs/ghippo/user-guide/workspace/workspace.md
Labels: ghippo, zh, size/M

#6335 Add links to insight/features
  docs/zh/docs/insight/intro/features.md
  docs/zh/navigation.yml
Labels: insight, zh, size/M

#6336 [en] add amamba pages
  docs/en/docs/amamba/components-grafana-dashboard.md
  docs/en/docs/amamba/customize-develop.md
  docs/en/docs/amamba/customize-step.md
  docs/en/navigation.yml
  docs/zh/docs/amamba/customize-develop.md
Labels: amamba, zh, en, i18n, size/XL

#6337 add url link for pipeline agent
  docs/zh/docs/amamba/user-guide/pipeline/config/agent.md
Labels: amamba, zh, size/XS

#6341 update inline-installer versions to v0.27.0
  docs/en/docs/install/air-tag-download.md
  docs/en/docs/install/commercial/download-file.md
  docs/en/docs/install/install-tools.md
  docs/en/docs/install/k8s-install/ecs-install-dce5.0.md
  docs/zh/docs/install/air-tag-download.md
  docs/zh/docs/install/commercial/download-file.md
  docs/zh/docs/install/install-tools.md
  docs/zh/docs/install/k8s-install/ecs-install-dce5.0.md
  docs/zh/docs/install/light-install/install-light.md
Labels: installer, zh, en, i18n, size/M

#6342 Update operator.md
  docs/zh/docs/insight/quickstart/otel/operator.md
Labels: insight, zh, size/XS

#6343 update insight golang.md doc
  docs/en/docs/insight/quickstart/otel/golang/golang.md
  docs/zh/docs/insight/quickstart/otel/golang/golang.md
Labels: insight, zh, en, i18n, size/S
