Repository DaoCloud/DaoCloud-docs, pull requests merged in 2025-08, with the labels that each got.

#6619 [en] update commercial/prepare.md
  docs/en/docs/install/commercial/prepare.md
Labels: installer, en, i18n, size/M

#6621 add release note v0.41 of kpanda
  docs/zh/docs/kpanda/intro/release-notes.md
Labels: kpanda, zh, size/S

#6623 add audit items of zestu
  docs/zh/docs/ghippo/user-guide/audit/gproduct-audit/zestu.md
Labels: ghippo, zh, size/XS

#6625 update tools/integrated-toolchain.md
  docs/zh/docs/amamba/images/tool01.png
  docs/zh/docs/amamba/images/tool02.png
  docs/zh/docs/amamba/images/tool03.png
  docs/zh/docs/amamba/user-guide/tools/integrated-toolchain.md
Labels: amamba, zh, size/XS

#6626 [en] update arch image in amamba/intro/index.md
  docs/en/docs/amamba/images/what00.jpg
  docs/en/docs/amamba/intro/index.md
Labels: amamba, en, i18n, size/S

#6627 update screenshots in pipeline/edit.md
  docs/zh/docs/amamba/images/build4.png
  docs/zh/docs/amamba/images/canvasdescribe.png
  docs/zh/docs/amamba/images/container1.png
  docs/zh/docs/amamba/images/creditional1.png
  docs/zh/docs/amamba/images/git_clone.png
  docs/zh/docs/amamba/images/go-test.png
  docs/zh/docs/amamba/images/pipelisetting.png
  docs/zh/docs/amamba/user-guide/pipeline/edit.md
Labels: amamba, zh, size/M

#6629 fix 404 link to a jar package
  docs/zh/docs/amamba/user-guide/wizard/jar-java-app.md
Labels: amamba, zh, size/S

#6631 Add amamba/repo and update nav
  docs/zh/docs/amamba/images/repo01.png
  docs/zh/docs/amamba/user-guide/repo.md
  docs/zh/navigation.yml
Labels: amamba, zh, size/M

#6632 [en] update oam/concept.md
  docs/en/docs/amamba/images/oam001.png
  docs/en/docs/amamba/user-guide/oam/concept.md
  docs/zh/docs/amamba/user-guide/oam/concept.md
Labels: amamba, zh, en, i18n, size/S

#6633 Try to add gemini-review bot
  .github/workflows/code-review.yml
Labels: develop, size/S

#6635 update workflows/code-review.yml
  .github/workflows/code-review.yml
Labels: develop, size/S

#6636 update release note for hydra
  docs/zh/docs/hydra/intro/release-notes.md
Labels: zh, size/M, hydra

#6638 update release note
  docs/zh/docs/network/intro/release-notes.md
Labels: zh, network, size/XS

#6642 docs(release-notes): add v0.40.0 updates for SaaS sub-account feature…
  docs/zh/docs/ghippo/intro/release-notes.md
Labels: ghippo, zh, size/S

#6643 Add feedback after typing gemini-review
  .github/workflows/code-review.yml
Labels: develop, size/M

#6644 update release noet
  docs/zh/docs/baize/intro/release-notes.md
  docs/zh/docs/install/release-notes.md
  docs/zh/docs/skoala/intro/release-notes.md
Labels: skoala, installer, zh, baize, size/M

#6655 update hydra index and nav
  docs/zh/docs/hydra/images/details0201.png
  docs/zh/docs/hydra/index.md
  docs/zh/navigation.yml
Labels: zh, size/S, hydra

#6657 Add dce-rn/20250731.md
  docs/en/docs/dce/dce-rn/20250731.md
  docs/en/navigation.yml
  docs/zh/docs/dce/dce-rn/20250731.md
  docs/zh/navigation.yml
Labels: zh, en, dce, i18n, size/L

#6660 update hydra/index.md
  docs/zh/docs/hydra/index.md
Labels: zh, size/XS, hydra

#6665 更新大模型服务问题的介绍
  docs/zh/docs/hydra/intro/images/OperationalLogic.png
  docs/zh/docs/hydra/intro/index.md
  docs/zh/docs/hydra/oam/index.md
Labels: zh, size/M, hydra

#6674 Add network/config/rdma-metrics.md
  docs/zh/docs/network/config/rdma-metrics.md
  docs/zh/docs/network/images/rdma/rdma-cluster.png
  docs/zh/docs/network/images/rdma/rdma-node.png
  docs/zh/docs/network/images/rdma/rdma-pod.png
  docs/zh/docs/network/images/rdma/rdma-workload.png
  docs/zh/navigation.yml
Labels: zh, network, size/L

#6676 Add sriov-network-operator/ai-sriov.md
  docs/zh/docs/network/modules/sriov-network-operator/ai-sriov.md
  docs/zh/navigation.yml
Labels: zh, network, size/XL

#6677 Add multus-underlay/ai-macvlan.md
  docs/zh/docs/network/config/ippool/createpool.md
  docs/zh/docs/network/config/multus-cr.md
  docs/zh/docs/network/config/rdmatype.md
  docs/zh/docs/network/config/userdma.md
  docs/zh/docs/network/intro/background.md
  docs/zh/docs/network/intro/index.md
  docs/zh/docs/network/intro/release-notes.md
  docs/zh/docs/network/modules/modules.md
  docs/zh/docs/network/modules/multus-underlay/ai-macvlan.md
  docs/zh/docs/network/modules/multus-underlay/dpdk.md
  docs/zh/docs/network/modules/multus-underlay/index.md
  docs/zh/docs/network/modules/multus-underlay/install.md
  docs/zh/docs/network/modules/multus-underlay/sriov.md
  docs/zh/docs/network/modules/spiderpool/config.md
  docs/zh/docs/network/modules/spiderpool/index.md
  docs/zh/docs/network/modules/spiderpool/install/rdmapara.md
  docs/zh/docs/network/modules/sriov-network-operator/ai-sriov.md
  docs/zh/docs/network/modules/sriov-network-operator/index.md
  docs/zh/docs/network/modules/sriov-network-operator/install.md
  docs/zh/navigation.yml
Labels: zh, network, size/XL

#6678 Add intro/deploy-ws.md
  docs/zh/docs/hydra/intro/deploy-ws.md
  docs/zh/docs/hydra/intro/images/deploy01.png
  docs/zh/docs/hydra/intro/images/deploy02.png
  docs/zh/docs/hydra/intro/images/deploy03.png
  docs/zh/docs/hydra/intro/images/deploy04.png
  docs/zh/docs/hydra/intro/images/deploy05.png
  docs/zh/docs/hydra/intro/images/deploy06.png
  docs/zh/docs/hydra/intro/images/deploy07.png
  docs/zh/docs/hydra/intro/images/deploy08.png
  docs/zh/docs/hydra/intro/images/deploy09.png
  docs/zh/docs/hydra/intro/images/deploy10.png
  docs/zh/docs/hydra/intro/images/deploy11.png
  docs/zh/docs/hydra/intro/images/deploy12.png
  docs/zh/docs/hydra/intro/images/deploy13.png
  docs/zh/docs/hydra/intro/images/deploy14.png
  docs/zh/docs/hydra/intro/images/deploy15.png
  docs/zh/docs/hydra/intro/images/deploy16.png
  docs/zh/docs/hydra/intro/images/deploy17.png
  docs/zh/docs/hydra/intro/images/deploy18.png
  docs/zh/docs/hydra/intro/images/deploy19.png
  docs/zh/docs/hydra/intro/images/deploy20.png
  docs/zh/docs/hydra/intro/images/deploy21.png
  docs/zh/docs/hydra/intro/images/deploy22.png
  docs/zh/navigation.yml
Labels: zh, size/L, hydra

#6679 topohub add user guide
  docs/zh/docs/topohub/image/access-device-01.png
  docs/zh/docs/topohub/image/access-device-02.png
  docs/zh/docs/topohub/image/batch-access-device-01.png
  docs/zh/docs/topohub/image/batch-access-device-02.png
  docs/zh/docs/topohub/image/manage-device-00.png
  docs/zh/docs/topohub/user-guide/device/ access-device.md
  docs/zh/docs/topohub/user-guide/device/batch-access.md
  docs/zh/docs/topohub/user-guide/device/manage-device.md
  docs/zh/navigation.yml
Labels: zh, size/L

#6683 docs(kpanda): add HAMi enterprise installation and configuration guid…
  docs/zh/docs/kpanda/best-practice/hami-enterprise-installation.md
  docs/zh/navigation.yml
Labels: kpanda, zh, size/L

#6612 add insight security-connect-kafka.md docs
  docs/zh/docs/insight/reference/security-connect-kafka.md
  docs/zh/navigation.yml
Labels: insight, zh, size/XL

#6686 docs(kpanda): update Hami enterprise installation instructions and He…
  docs/zh/docs/kpanda/best-practice/hami-enterprise-installation.md
Labels: kpanda, zh, size/S

#6689 chore(ci): add Qiniu Kodo upload step to GitHub Actions workflow
  .github/workflows/main.yml
Labels: develop

#6690 Dorado test report update
  docs/zh/docs/storage/dorado/Makefile
  docs/zh/docs/storage/dorado/dorado-test.md
Labels: zh, storage, size/L

#6692 chore(ci): update Qiniu upload action and add concurrency setting
  .github/workflows/main.yml
Labels: develop

#6695 Update navigation.yml for topohub
  docs/zh/navigation.yml
Labels: zh, size/XS, topohub

#6697 update topohub pages
  docs/zh/docs/topohub/device/batch-access.md
  docs/zh/docs/topohub/device/index.md
  docs/zh/docs/topohub/device/manage-device.md
Labels: zh, size/S
